<div class="checkbox">
  <label class="group-label" for="exploreCooling">
    <input type="checkbox" id="exploreCooling" value="true" (focus)="focusField('flowRate')" (change)="toggleCooling()" 
    [(ngModel)]="phast.modifications[exploreModIndex].exploreOppsShowCooling.hasOpportunity"
    /> {{phast.modifications[exploreModIndex].exploreOppsShowCooling.display}}
  </label>
</div>

<div *ngIf="phast.modifications[exploreModIndex].exploreOppsShowCooling.hasOpportunity">
  <ul *ngFor="let obj of baselineLosses; let index = index">
    <!--flow rate-->
    <li>
      <div class="checkbox form-group mt-2">
        <label for="{{'modifyFlowRate_'+index}}" class="w-100 phast-check-label">
          <input type="checkbox" id="{{'modifyFlowRate_'+index}}" (focus)="focusField('flowRate')" (change)="toggleFlowRate(index, obj)"
            [(ngModel)]="showFlowRate[index]" /> Modify Flow Rate: 
            <span class="text-muted">
              {{ obj.name}}
            </span>
        </label>
      </div>
    </li>
    <hr class="mt-0 mb-0">

    <li class="explore-opps-header" *ngIf="showFlowRate[index]">
      <span class="explore-opps-title text-muted">Baseline</span>
      <span class="explore-opps-title text-muted">Modifications</span>
    </li>
    <li class="explore-opps-item mb-2" *ngIf="showFlowRate[index]">
      <!--baseline liquidFlow-->
      <form class="explore-opps-form" *ngIf="obj.type == 'Liquid'">
        <div class="text-center">
          <label for="baselineLiquidFlow" class="baseline-value-label">Liquid Flow</label>
          <div class="text-muted text-center baseline-value-input">{{ obj.loss.flowRate | number: '1.0-0' }}
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'">gal/min</span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'">L/min</span>
          </div>
          <span class="alert-warning pull-right small" *ngIf="baselineWarnings[index].flowWarning !== null">{{baselineWarnings[index].flowWarning}}</span>
        </div>
      </form>
      <!--modified liquidFlow-->
      <form class="explore-opps-form" *ngIf="modifiedLosses[index].type == 'Liquid'">
        <div class="form-group explore-opps-formgroup">
          <label for="modifiedLiquidFlow" class="mod-value-label">Liquid Flow</label>
          <div class="input-group mod-max-width">
            <input name="{{'liquidFlowMod_'+index}}" type="number" step="any" min="0" class="form-control" [(ngModel)]="modifiedLosses[index].loss.flowRate"
              id="{{'liquidFlowMod_'+index}}" onfocus="this.select();" (input)="checkModificationWarning(modifiedLosses[index], index)"
              (focus)="focusField('liquidFlow')" (blur)="focusOut()">
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">gal/min</span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">L/min</span>
          </div>
          <span class="alert-warning pull-right small" *ngIf="modificationWarnings[index].flowWarning !== null">{{modificationWarnings[index].flowWarning}}</span>
        </div>
      </form>
    </li>

    <li class="explore-opps-item" *ngIf="showFlowRate[index]">
      <form class="explore-opps-form" *ngIf="obj.type == 'Gas'">
        <!--baseline gasFlow-->
        <div class="text-center">
          <label for="baselineGasFlow" class="baseline-value-label">Baseline Gas Flow</label>
          <div class="text-muted text-center baseline-value-input">{{ obj.loss.flowRate | number: '1.0-0' }}
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'">scfm</span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'">Nm
              <sup>3</sup>/min</span>
          </div>
        </div>
      </form>
      <form class="explore-opps-form" *ngIf="modifiedLosses[index].type == 'Gas'">
        <!--modified gasFlow-->
        <div class="form-group explore-opps-formgroup">
          <label for="modifiedGasFlow" class="mod-value-label">Modified Gas Flow</label>
          <div class="input-group mod-max-width">
            <input name="{{'gasFlowMod_'+index}}" type="number" step="any" min="0" class="form-control" id="{{'gasFlowMod_'+index}}"
              onfocus="this.select();" (input)="checkModificationWarning(modifiedLosses[index], index)" (focus)="focusField('gasFlow')"
              (blur)="focusOut()" [(ngModel)]="modifiedLosses[index].loss.flowRate">
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">scfm</span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">Nm
              <sup>3</sup>/min</span>
          </div>
          <span class="alert-warning pull-right small" *ngIf="modificationWarnings[index].flowWarning !== null">{{modificationWarnings[index].flowWarning}}</span>
        </div>
      </form>
    </li>

    <!--inlet temp-->
    <li class="explore-opps-item">
      <div class="checkbox form-group">
        <label for="{{'modifyCoolingInletTemp_'+index}}" class="w-100 phast-check-label">
          <input type="checkbox" id="{{'modifyCoolingInletTemp_'+index}}" (focus)="focusField('inletTemp')" (change)="toggleTemp(index, obj)"
            [(ngModel)]="showTemp[index]" /> Modify Temperature: 
            <span class="text-muted">
              {{ obj.name}}
            </span>
        </label>
      </div>
    </li>
    <hr class="mt-0 mb-0">

    <li class="explore-opps-header" *ngIf="showTemp[index]">
      <span class="explore-opps-title text-muted">Baseline</span>
      <span class="explore-opps-title text-muted">Modifications</span>
    </li>
    <li class="explore-opps-item" *ngIf="showTemp[index]">
      <!--inletTemp-->
      <form class="explore-opps-form">
        <div class="text-center">
          <label for="baselineInitialTemperature" class="baseline-value-label"> Inlet Temperature</label>
          <div class="text-muted text-center baseline-value-input">{{ obj.loss.initialTemperature }}
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'">&#8457;</span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'">&#8451;</span>
          </div>
        </div>
      </form>
      <form class="explore-opps-form">
        <div class="form-group explore-opps-formgroup">
          <label for="modifiedInletTemp" class="mod-value-label">Inlet Temperature</label>
          <div class="input-group mod-max-width">
            <input name="{{'inletTempMod_'+index}}" type="number" step="any" min="0" class="form-control" id="{{'inletTempMod_'+index}}"
            onfocus="this.select();" (input)="checkModificationWarning(modifiedLosses[index], index)" (focus)="focusField('initialTemperature')"
            (blur)="focusOut()" [(ngModel)]="modifiedLosses[index].loss.initialTemperature">
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">&#8457;</span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">&#8451;</span>
          </div>
        </div>
      </form>
    </li>

    <li class="explore-opps-item" *ngIf="showTemp[index]">
      <form class="explore-opps-form" *ngIf="obj.type == 'Gas'">
        <div class="text-center">
          <label for="baselineInitialTemperature" class="baseline-value-label"> Outlet Temperature</label>
          <div class="text-muted text-center baseline-value-input">{{ obj.loss.outletTemperature }}
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'">&#8457;</span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'">&#8451;</span>
          </div>
          <span class="alert-warning pull-right small" *ngIf="baselineWarnings[index].tempWarning !== null">{{baselineWarnings[index].tempWarning}}</span>
        </div>
        </form>
      <form class="explore-opps-form" *ngIf="obj.type == 'Liquid'">
        <div class="text-center">
          <label for="baselineInitialTemperature" class="baseline-value-label">Outlet Temperature</label>
          <div class="text-muted text-center baseline-value-input">{{ obj.loss.outletTemperature }}
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'">&#8457;</span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'">&#8451;</span>
          </div>
          <span class="alert-warning pull-right small" *ngIf="baselineWarnings[index].tempWarning !== null">{{baselineWarnings[index].tempWarning}}</span>
        </div>
      </form>
      <form class="explore-opps-form" *ngIf="obj.type == 'Gas'">
        <div class="form-group explore-opps-formgroup">
          <label for="modifiedOutletTemp" class="mod-value-label">Outlet Temperature</label>
          <div class="input-group mod-max-width">
            <input name="{{'outletTempMod_'+index}}" type="number" step="any" min="0" class="form-control" id="{{'outletTempMod_'+index}}"
              onfocus="this.select();" (input)="checkModificationWarning(modifiedLosses[index], index)" (focus)="focusField('outletTemperature')"
              (blur)="focusOut()" [(ngModel)]="modifiedLosses[index].loss.outletTemperature">
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">&#8457;</span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">&#8451;</span>
            <span class="alert-warning pull-right small" *ngIf="modificationWarnings[index].tempWarning !== null">{{modificationWarnings[index].tempWarning}}</span>
          </div>
        </div>
        </form>
        <form class="explore-opps-form" *ngIf="obj.type == 'Liquid'">
        <div class="form-group explore-opps-formgroup">
          <label for="modifiedOutletTemp" class="mod-value-label"> Outlet Temperature</label>
          <div class="input-group mod-max-width">
            <input name="{{'outletTempMod_'+index}}" type="number" step="any" min="0" class="form-control" id="{{'outletTempMod_'+index}}"
              onfocus="this.select();" (input)="checkModificationWarning(modifiedLosses[index], index)" (focus)="focusField('outletTemperature')"
              (blur)="focusOut()" [(ngModel)]="modifiedLosses[index].loss.outletTemperature">
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">&#8457;</span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">&#8451;</span>
            <span class="alert-warning pull-right small" *ngIf="modificationWarnings[index].tempWarning !== null">{{modificationWarnings[index].tempWarning}}</span>
          </div>
        </div>
      </form>
    </li>
  </ul>
</div>