.group-label{
	font-size: 16px;
    text-transform: none;
	letter-spacing: 1px;
	padding-top: 6.5px;
	padding-bottom: 6.5px;
}

.group-label:hover{
	cursor: pointer;
	background-color: lightgray;
}
.group-label .form-control{
	width: fit-content;
	display: inherit;
    background-color: #7030A0;
    color: white;
}

td, th{
    font-size: small;
    border-right: solid 1px darkgray;
    border-left: solid 1px darkgray;
    padding: 3px;
    white-space: nowrap;
	vertical-align: middle !important;
  }
  
  table {
    margin-bottom: 0px;
    border-bottom: solid 1px;
  }
  
  input.input-group{
	  width: 100%;
  }

  thead tr, tfoot tr{
	  font-weight: bold;
  }


  .btn-sm{
    font-size: .7rem;
  }

  span.alert-danger{
    white-space: pre-wrap;
  }

  
.fa-exclamation-circle {
  color: red !important;
  font-size: .75rem;
  padding-right: .5rem;
}

input.form-control.ng-invalid{
  border: red solid 2px;
}

.supply-demand{
	padding-left: .25rem;
    border-left: solid #ddd 2px;
    font-size: 11px;
    font-style: italic;
}