<div class="card losses-container">
  <div class="card-header losses-header">
    <div class="pull-left">
      <b>Atmosphere Losses</b>
    </div>
    <button class="btn btn-secondary pull-right" (click)="addLoss()">+ Add</button>
  </div>
  <div class="card" *ngFor="let loss of atmosphereLosses">
    <div class="card-header">
      <div class="pull-left">
        <b>{{loss.name}}</b>
      </div>
      <button class="close pull-right" aria-label="Close" (click)="removeLoss(loss.name)">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-block">
      <app-atmosphere-losses-form [(atmosphereLossForm)]="loss.form"></app-atmosphere-losses-form>
    </div>
  </div>
  <div class="card losses-empty" *ngIf="atmosphereLosses.length == 0">
    <div class="card-block row align-items-center justify-content-center">
      <div class="h4 text-muted">You haven't defined any atmosphere losses</div>
    </div>
  </div>
</div>