<div class="section-header">
  <h3 class="pull-left">Atmosphere Losses</h3>
  <button class="btn btn-secondary pull-right" (click)="addLoss()">+ Add Atmosphere Loss</button>
</div>

<div class="no-data" *ngIf="atmosphereLosses.length == 0" (click)="addLoss()">
  <h3>You have no Atmosphere Losses</h3>
  <h4>Add some now.</h4>
</div>

<div class="card card-form" *ngFor="let loss of atmosphereLosses">
  <div class="card-header">
    <div class="pull-left">
      <b>{{loss.name}}</b>
    </div>
    <button class="close pull-right" aria-label="Close" (click)="removeLoss(loss.name)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-block">
    <app-atmosphere-losses-form [(atmosphereLossForm)]="loss.form"></app-atmosphere-losses-form>
  </div>
</div>
