.form-section {
    border-bottom: dashed 1px;
}

label {
    font-size: small;
}

.small {
    font-size: small;
}

.form-card {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 20px 0 grey;
}

.btn-edit-name:hover {
    cursor: pointer;
}

.input-group-addon.units.op-hour-addon{
    border-left: solid 1px;
    border-right: none;
  }

.indicate-different{
  border: #33CC33 solid 2px;
}