<div class="form-section">
  <div class="form-group">
    <label for="hoursPerYear">Operating Hours</label>
    <div class="input-group">
      <input name="hoursPerYear" type="number" step="1" min="0" max="12" class="form-control" id="hoursPerYear"
        (input)="calculate()" [(ngModel)]="data.hoursPerYear" (focus)="focusField('hoursPerYear')">
      <span class="input-group-addon units">hrs/yr</span>
    </div>
    <span class="alert-danger pull-right small" *ngIf="hoursPerYearError !== null">{{hoursPerYearError}}</span>

  </div>
</div>
<div class="form-section">
  <div class="form-group">
    <label for="wattsPerLamp">Watts Per Lamp</label>
    <input name="wattsPerLamp" type="number" step="any" class="form-control" id="wattsPerLamp" (input)="calculate()"
      [(ngModel)]="data.wattsPerLamp" (focus)="focusField('wattsPerLamp')">
    <span class="alert-danger pull-right small" *ngIf="wattsPerLampError !== null">{{wattsPerLampError}}</span>
  </div>
  <div class="form-group">
    <label for="lumensPerLamp">Lumens Per Lamp</label>
    <input name="lumensPerLamp" type="number" step="any" class="form-control" id="lumensPerLamp" (input)="calculate()"
      [(ngModel)]="data.lumensPerLamp" (focus)="focusField('lumensPerLamp')">
    <span class="alert-danger pull-right small" *ngIf="lumensPerLampError !== null">{{lumensPerLampError}}</span>
  </div>
  <div class="form-group">
    <label for="lampsPerFixture">Lamps Per Fixture</label>
    <input name="lampsPerFixture" type="number" step="any" class="form-control" id="lampsPerFixture"
      (input)="calculate()" [(ngModel)]="data.lampsPerFixture" (focus)="focusField('lampsPerFixture')">
    <span class="alert-danger pull-right small" *ngIf="lampsPerFixtureError !== null">{{lampsPerFixtureError}}</span>
  </div>
  <div class="form-group">
    <label for="numberOfFixtures">Number of Fixtures</label>
    <input name="numberOfFixtures" type="number" step="any" class="form-control" id="numberOfFixtures"
      (input)="calculate()" [(ngModel)]="data.numberOfFixtures" (focus)="focusField('numberOfFixtures')">
    <span class="alert-danger pull-right small" *ngIf="numberOfFixturesError !== null">{{numberOfFixturesError}}</span>
  </div>
</div>