.sidebar-menu {
    min-height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 69px -1px rgba(0, 0, 0, 0.2);
    background: #fff;
    width: 250px;
    max-height: 100%;
    /* overflow-y: scroll; */
}