.drag-bar{
    position: absolute;
    width: 3px;
    height: 100%;
    opacity: 0;
    z-index: +4;
    cursor: ew-resize;
}

.btn{
    padding: 3px;
    opacity: .5;
}

.btn:hover{
    opacity: 1;
}
