.header .fa.fa-lightbulb-o {
    font-size: -webkit-xxx-large;
    padding-left: 12px;
}

.fa.fa-times-circle-o:hover {
    cursor: pointer;
}

.no-data {
    background: none;
}

.btn-group {
    display: block;
    text-align: center;
}

.btn-group .btn-sm {
    font-size: small !important;
}

.btn-margin-10 {
    margin: 10px 0px;
}

.btn-form {
    border-radius: 4px !important;
}

.form-card {
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 grey;
}

.panel-column.disabled {
    background-color: #ececec;
    transition: all 0.2s ease-in-out;
}

.panel-column.disabled:hover {
    cursor: pointer;
    background-color: #fff;
}

.action-item:hover {
    cursor: pointer;
    background: #efefef;
}

.help-holder {
    max-width: 500px;
}

.treasure-hunt-help {
    margin-right: .5rem;
    margin-bottom: 0px;
}

.add-fixture {
    margin-top: 10px;
}

.compressed-air-icon {
    height: 55px;
}

.opp-sheet-icon {
    width: 35px;
}