#importFileRef, #backupFile {
    font-size: 14px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #156739;
    background-color: #156739;
}

.custom-switch .custom-control-label::before,
.custom-switch .custom-control-label::after {
    cursor: pointer !important;
}

.checkbox:hover{
    background-color: #efefef;
    cursor: pointer;
}

.feature-action {
    border: 2px solid #efefef;
    font-size: 16px;
}

label, .desc-text {
    font-size: 16px;
}

.file-path {
    font-size: 14px;
}

.disabled {
    color: gray;
    pointer-events: none;
}

.select-folder {
    margin-bottom: 1rem;
}

.click-link.disabled{
    color: gray !important;
}

.jumbo {
    font-size: 24px;
    padding: 1.5rem;
    font-weight: 600;
    color: #156739 !important;
    background-color: #fff;
    border: 1px solid #156739 !important;
}
