<div class="form-section">
  <div class="row align-items-center">
    <div class="col-6">
      <form>
        <div class="form-group">
          <label class="small section-label" style="font-size: 18px">Calculate Equivalent Electrical Energy</label>
        </div>
        <div class="form-group">
          <label class="small" for="fuelFiredEfficiency1">Fuel-Fire Equipment Efficiency</label>
          <div class="input-group">
            <input autofocus name="fuelFiredEfficiency1" [(ngModel)]="energyEquivalencyElectric.fuelFiredEfficiency" type="number" step="any" class="form-control"
              id="fuelFiredEfficiency1" (input)="calcElectric()" onfocus="this.select();" (focus)="focusField('fuelFiredEfficiency')">
            <span class="input-group-addon units">%</span>
          </div>
        </div>
        <div class="form-group">
          <label class="small" for="electricallyHeatedEfficiency1">Electrically Heated Equipment Efficiency</label>
          <div class="input-group">
            <input name="electricallyHeatedEfficiency1" [(ngModel)]="energyEquivalencyElectric.electricallyHeatedEfficiency" type="number"
              step="any" class="form-control" id="electricallyHeatedEfficiency1" (input)="calcElectric()" onfocus="this.select();"
              (focus)="focusField('electricallyHeatedEfficiency')">
            <span class="input-group-addon units">%</span>
          </div>
        </div>
        <div class="form-group">
          <label class="small" for="fuelFiredHeatInput1">Heat Input for Fuel-Fire Equipment</label>
          <div class="input-group">
            <input name="fuelFiredHeatInput1" [(ngModel)]="energyEquivalencyElectric.fuelFiredHeatInput" type="number" step="any" class="form-control"
              id="fuelFiredHeatInput1" (input)="calcElectric()" onfocus="this.select();" (focus)="focusField('fuelFiredHeatInput')">
            <span class="input-group-addon units">MM Btu/h</span>
          </div>
        </div>
      </form>
    </div>
    <div class="col-5 offset-md-1">
      <div class="form-group text-center results-box">
        <label class="small">Equivalent Electrical Heat Input</label>
        <div class="small">
          {{energyEquivalencyElectricOutput.electricalHeatInput | number:'2.2-2'}} kW
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-section">
  <div class="row align-items-center">
    <div class="col-6">
      <form>
        <div class="form-group">
          <label class="small section-label" style="font-size: 18px">Calculate Equivalent Fuel Heat</label>
        </div>
        <div class="form-group">
          <label class="small" for="electricallyHeatedEfficiency2">Electrically Heated Equipment Efficiency</label>
          <div class="input-group">
            <input name="electricallyHeatedEfficiency2" [(ngModel)]="energyEquivalencyFuel.electricallyHeatedEfficiency" type="number"
              step="any" class="form-control" id="electricallyHeatedEfficiency2" (input)="calcFuel()" onfocus="this.select();"
              (focus)="focusField('electricallyHeatedEfficiencyFuel')">
            <span class="input-group-addon units">%</span>
          </div>
        </div>
        <div class="form-group">
          <label class="small" for="fuelFiredEfficiency2">Fuel-Fired Equipment Efficiency</label>
          <div class="input-group">
            <input name="fuelFiredEfficiency2" [(ngModel)]="energyEquivalencyFuel.fuelFiredEfficiency" type="number" step="any" class="form-control"
              id="fuelFiredEfficiency2" (input)="calcFuel()" onfocus="this.select();" (focus)="focusField('fuelFiredEfficiencyFuel')">
            <span class="input-group-addon units">%</span>
          </div>
        </div>
        <div class="form-group">
          <label class="small" for="electricalHeatInput3">Heat Input for Electrically Heated Equipment</label>
          <div class="input-group">
            <input name="electricalHeatInput3" [(ngModel)]="energyEquivalencyFuel.electricalHeatInput" type="number" step="any" class="form-control"
              id="electricalHeatInput3" (input)="calcFuel()" onfocus="this.select();" (focus)="focusField('electricalHeatInput')">
            <span class="input-group-addon units">kW</span>
          </div>
        </div>
      </form>
    </div>
    <div class="col-5 offset-md-1">
      <div class="form-group text-center results-box">
        <label class="small">Equivalent Fuel-Fired Heat Input</label>
        <div class="small">
          {{energyEquivalencyFuelOutput.fuelFiredHeatInput | number:'2.2-2'}} MM Btu/hr
        </div>
      </div>
    </div>
  </div>
</div>
