  .card-body{
    padding: .5rem;
  }

  .middle-border-item{
    border-left: solid 2px #2E4053;
    border-right: solid 2px #2E4053;
  }

  .total-savings-border{
    border-bottom: solid 2px #2E4053;
  }

  .card{
    border-right: #2E4053 solid 5px;
    border-left: #2E4053 solid 5px;
  }