  .card-body{
    padding: .5rem;
  }

  td{
    font-size: small;
    padding: 3px;
    text-align: left;
  }

  .group-label{
    font-size: large;
    width: auto;
    padding-bottom: 0px;
  }
  
  .table{
    margin-bottom: 0px;
  }

  .total-border{
    border-bottom: 1px solid rgba(0, 0, 0, 0.5)
  }