<form [formGroup]="lossesForm">

  <div class="form-section">
    <div class="form-group">
      <label class="small" for="coolingMedium">Name of Cooling Medium</label>
      <div class="input-group">
        <input name="{{'coolingMedium_'+lossIndex}}" type="text" class="form-control" formControlName="coolingMedium"
          id="coolingMedium" onfocus="this.select();" (input)="startSavePolling()" (focus)="focusField('coolingMedium')" (blur)="focusOut()">
      </div>
    </div>
    <div class="form-group">
      <label class="small" for="avgSpecificHeat">Average Specific Heat</label>
      <div class="input-group">
        <input name="{{'avgSpecificHeat_'+lossIndex}}" type="number" step="any" min="0" class="form-control" formControlName="avgSpecificHeat"
          id="avgSpecificHeat" onfocus="this.select();" (input)="checkInputError()" (focus)="focusField('avgSpecificHeatGas')" (blur)="focusOut()">
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">Btu/(lb-&#8457;)</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">kJ/(kg-&#8451;)</span>
      </div>
      <span class="alert-warning pull-right small" *ngIf="specificHeatError !== null">{{specificHeatError}}</span>
    </div>

    <div class="form-group">
      <label class="small" for="gasDensity">Density</label>
      <div class="input-group">
        <input name="{{'gasDensity_'+lossIndex}}" type="number" step="any" class="form-control" formControlName="gasDensity" id="gasDensity"
               onfocus="this.select();" (input)="checkInputError()" (focus)="focusField('gasDensity')" (blur)="focusOut()">
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">lb/SCF</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">kg/Nm<sup>3</sup></span>
      </div>
      <span class="alert-warning pull-right small" *ngIf="gasDensityError !== null">{{gasDensityError}}</span>
    </div>

    <div class="form-group">
      <label class="small" for="gasFlow">Gas Flow</label>
      <div class="input-group">
        <input name="{{'gasFlow_'+lossIndex}}" type="number" step="any" min="0" class="form-control" formControlName="gasFlow" id="gasFlow"
          onfocus="this.select();" (input)="checkInputError()" (focus)="focusField('gasFlow')" (blur)="focusOut()">
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">SCFM</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">Nm<sup>3</sup>/min</span>
      </div>
      <span class="alert-warning pull-right small" *ngIf="gasFlowError !== null">{{gasFlowError}}</span>
    </div>

    <div class="form-group">
      <label class="small" for="inletTemp">Inlet Temperature</label>
      <div class="input-group">
        <input name="{{'inletTemp_'+lossIndex}}" type="number" step="any" class="form-control" formControlName="inletTemp" id="inletTemp"
          onfocus="this.select();" (input)="checkInputError()" (focus)="focusField('inletTemp')" (blur)="focusOut()">
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">&#8457;</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">&#8451;</span>
      </div>
      <span class="alert-warning pull-right small" *ngIf="temperatureError !== null">{{temperatureError}}</span>
    </div>

    <div class="form-group">
      <label class="small" for="outletTemp">Outlet Temperature</label>
      <div class="input-group">
        <input name="{{'outletTemp_'+lossIndex}}" type="number" step="any" class="form-control" formControlName="outletTemp" id="outletTemp"
          onfocus="this.select();" (input)="checkInputError()" (focus)="focusField('outletTemp')" (blur)="focusOut()">
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">&#8457;</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">&#8451;</span>
      </div>
      <span class="alert-warning pull-right small" *ngIf="temperatureError !== null">{{temperatureError}}</span>
    </div>

    <div class="row form-group">
      <label class="small" for="correctionFactor">Correction Factor</label>
      <input name="{{'correctionFactor_'+lossIndex}}" type="number" step="any" class="form-control" formControlName="correctionFactor"
        id="correctionFactor" onfocus="this.select();" (input)="checkInputError()" (focus)="focusField('correctionFactor')" (blur)="focusOut()">
    </div>
  </div>
</form>
