ul {
    list-style: none;
}

.form-group{
    margin-bottom: 25px;
}

.badge{
    color: white;
}


.custom-row {
    display: inline-block;
    width: 100%;
}
.chart-col {
    display: inline-block;
    width: 49%;
}


@media print {

    .print-pie-row {
        page-break-before: always;
        page-break-inside: avoid;
        display: block;
    }

    .print-pie-graph {
        display: block;
    }

    .c3 path, .c3 line {
        fill: none;
        stroke: #000;
    }
}