ul {
    list-style: none;
}

.form-group{
    margin-bottom: 25px;
}

.badge{
    color: white;
}


.custom-row {
    display: inline-block;
    width: 100%;
}
.show-duo-left {
    display: inline-block;
    width: 49%;
}
.show-duo-right {
    display: inline-block;
    width: 50%;
}

.medium-padding-top {
    padding-top: 25px;
}


@media print {

    .custom-row {
        display: block;

    }


    .print-graphs-container {
        break-before: always;
        page-break-inside: avoid;
    }

    .print-solo {
        page-break-inside: avoid;
        position: relative;
        top: 0;
        left: -400px;
    }

    .print-duo-title-top {
        position: absolute;
        display: inline-block;
        top: 0;
        left: auto;
    }

    .print-duo-title-bottom {
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 0px;
    }

    .print-duo-top {
        page-break-inside: avoid;
        position: relative;
        display: block;
        width: 100%;
        top: 0;
        left: auto;
    }

    .print-duo-bottom {
        page-break-inside: avoid;
        position: relative;
        display: block;
        width: 100%;
        top: 110%;
        left: auto;
    }

    .print-bar-chart {
        page-break-inside: avoid;
        position: relative;
        left: -200px;
    }
}