ul {
    list-style: none;
}

.form-group{
    margin-bottom: 25px;
}

.badge{
    color: white;
}


.custom-row {
    display: inline-block;
    width: 100%;
}
.chart-col {
    display: inline-block;
    width: 49%;
}