<div class="card toasty-card update-toast" [@toast]="showUpdateToast || updatePwa" *ngIf="!destroyToast">

  <ng-container *ngIf="!updatePwa">
  <div class="card-header">
    MEASUR {{releaseName}} is now available!
    <button class="close pull-right" (click)="closeToast()" *ngIf="!downloadingUpdate">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body d-flex flex-column text-center" *ngIf="!downloadingUpdate && !updateDownloaded && !error">
    <a class="click-link" (click)="updateNow()">Download Update Now!</a>
    <a class="click-link" (click)="viewReleaseNotes()">View {{version}} Release Notes </a>
    <a class="click-link danger" (click)="closeToast()">Remind Me Next Time</a>
  </div>
  <div class="card-body d-flex flex-column text-center" *ngIf="downloadingUpdate && !updateDownloaded && !error">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <span class="help-text">Downloading Update. This may take a few minutes.</span>
  </div>
  <div class="card-body d-flex flex-column text-center" *ngIf="updateDownloaded || updatePwa">
    <a class="click-link" (click)="quitAndInstall()">Quit and Install Update</a>
  </div>
  <div class="card-body d-flex flex-column text-center" *ngIf="error">
    An error has occured. Please restart your application and try again. If the error persists, please use the
    "Feedback" page to notify ORNL of your issue.
  </div>
</ng-container>

<ng-container *ngIf="updatePwa">
  <div class="card-header">
    A new version of MEASUR is available!
    <button class="close pull-right" (click)="closeToast()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body d-flex flex-column text-center">
    <a class="click-link" (click)="quitAndInstall()">Install Update</a>
  </div>
  <div class="card-body d-flex flex-column text-center" *ngIf="error">
    The application could not be updated. Please uninstall, then reinstall the newest version. If the problem persists, see the 
    "Feedback" page to notify ORNL of your issue.
  </div>
</ng-container>


</div>


<div class="card toasty-card release-notes-card" [@toast]="showReleaseNotesCard" *ngIf="!destroyReleaseNotesCard">
  <div class="card-header">
    {{releaseName}} Release Notes
    <button class="close pull-right" (click)="closeReleaseNotes()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body small scroll-item">
    <div [innerHTML]="releaseNotes"></div>
  </div>
</div>