
.report-summary {
    padding: 5px;
    background: #f5f5f5;
}

.report-summary ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.report-summary ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 2px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);
    width: 24.5%;
}
    .report-summary ul li.coming-soon {
        background: transparent;
        color: #afafaf;
    }




.coming-soon .summary-header {
    border-bottom: #ddd solid 1px;
    padding: 6px;
}
.coming-soon .summary-header:after {
    display: table;
    content: "";
    clear: both;
}

.coming-soon .summary-header  h3 {
    font-size: 17px;
    margin: 0;
    padding-left: 23px;
    float: left;
}
    .coming-soon .summary-header.furnaces h3, 
    .coming-soon .summary-header.fans h3,
    .coming-soon .summary-header.motors h3 {
        background-image: url('../../../assets/images/ico-comingSoon-diagram.png');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 20px;
        padding: 7px 0 3px 31px;
        font-weight: bold;
    }
.coming-soon .summary-header > span {
    float: right;
    border-radius: 50%;
    background: #dadada;
}
    .coming-soon .summary-header > span span {
        font-size: 16px;
        color: #dadada;
        font-weight: bold;
        padding: 2px 10px;
    }

.coming-soon dl.summary-list {
    padding: 8px 8px 0;
    float: left;
    margin-right: 2px;
    margin-bottom: 0;
}
.coming-soon .summary-list dt, .coming-soon  .summary-list dd {
    padding: 0 8px;
}
.coming-soon .summary-list dt {
    font-size: 12px;
    font-weight: normal;
    color: #7b7b7b;
}
.coming-soon .summary-list dd {
    font-size: 16px;
    margin-bottom: 2px;
}