.group-label{
	font-size: 16px;
    text-transform: none;
	letter-spacing: 1px;
	/* padding-top: 6.5px;
	padding-bottom: 6.5px; */
}


.group-label:hover{
	cursor: pointer;
	background-color: lightgray;
}

.group-label-2{
	width: auto;
    padding-bottom: 0px;
}

table.table th {
    border: none !important;
    padding: .25rem;
}
