<div class="d-flex w-100 h-100 flex-column justify-content-end">
  <label class="group-label pt-2">{{ label }} Cost Savings</label>
  <app-treasure-hunt-gauge [value]="summaryData.totalPercentSavings" [chartHeight]="125">
  </app-treasure-hunt-gauge>
  <table class="mx-auto">
    <tbody>
      <tr>
        <td>
          Baseline
        </td>
        <td>
          <span *ngIf="summaryData.baselineCost != 0">{{ summaryData.baselineCost | number:"1.0-0" }}</span>
          <span *ngIf="summaryData.baselineCost == 0">&mdash;</span>    
        </td>
      </tr>
      <tr>
        <td>
          Modified
        </td>
        <td>
          <span *ngIf="summaryData.modificationCost != 0">{{ summaryData.modificationCost | number:"1.0-0" }}</span>
          <span *ngIf="summaryData.modificationCost == 0">&mdash;</span>    
        </td>
      </tr>
      <tr class="bold">
        <td>
          Annual Savings
        </td>
        <td>
          <span *ngIf="summaryData.totalCostSavings != 0">{{ summaryData.totalCostSavings | number:"1.0-0" }}</span>
          <span *ngIf="summaryData.totalCostSavings == 0">&mdash;</span>          
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="summaryData.modificationCost < 0" class="alert-danger p-2 small">
    Utility savings projects exceed current utility spending. Adjust current spending in the "Facility Basics" or adjust
    the selected savings projects.
  </div>
</div>