<table #copyTable class="steam-table calculator-table">
  <thead>
    <tr>
      <th class="table-col-0">Pressure
        (<span [innerHTML]="settings.steamPressureMeasurement | settingsLabel"></span>)</th>
      <th class="table-col-1">Temperature
        (<span [innerHTML]="settings.steamTemperatureMeasurement | settingsLabel"></span>)
      </th>
      <th class="table-col-2">Specific Enthalpy(<span
          [innerHTML]="settings.steamSpecificEnthalpyMeasurement | settingsLabel"></span>)</th>
      <th class="table-col-3">Specific Entropy
        (<span [innerHTML]="settings.steamSpecificEntropyMeasurement | settingsLabel"></span>)
      </th>
      <th class="table-col-4">Quality</th>
      <th class="table-col-4">Known Variable</th>
      <th class="table-col-5">Specific Volume
        (<span [innerHTML]="settings.steamSpecificVolumeMeasurement | settingsLabel"></span>)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rowData; let i = index">
      <td>{{row.pressure | number:'1.0-4'}}</td>
      <td>{{row.temperature | number:'1.0-2'}}</td>
      <td>{{row.enthalpy | number:'1.0-2'}}</td>
      <td>{{row.entropy | number:'1.0-4'}}</td>
      <td>
        <span *ngIf="row.quality == 0">Liquid</span>
        <span *ngIf="row.quality == 1">Gas</span>
        <span *ngIf="row.quality != 1 && row.quality != 0">{{row.quality | number:'1.0-2'}}</span>
      </td>
      <td *ngIf="row.thermodynamicQuantity == 0">Temperature</td>
      <td *ngIf="row.thermodynamicQuantity == 1">Specific Enthalpy</td>
      <td *ngIf="row.thermodynamicQuantity == 2">Specific Entropy</td>
      <td *ngIf="row.thermodynamicQuantity == 3">Saturated Quality</td>
      <td>{{row.volume | number:'1.0-4'}}</td>
      <td class="delete-row" (click)="deleteRow(i)">Delete</td>
    </tr>
  </tbody>
</table>

<app-exportable-results-table [tableString]="tableString" (updateTableString)="updateTableString()">
</app-exportable-results-table>