td{
    padding: 0px;
    font-size: small;
}


  .fa-edit:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

  .fa-edit{
    padding-top: 4px;
    font-size: larger;
  }

  .dropdown-menu.shown{
    display: grid;
    padding: 0px;
}

.dropdown-item{
    padding: .25rem;
    font-size: small;
}

.dropdown-toggle::after{
  margin-left: 0;
}

.dropdown-toggle{
  padding: 3px;
}

.dropdown-menu.shown{
  left: -160px;
  background-color: #ececec;
}

.dropdown-item:hover{
  cursor: pointer;
}

.summary-card-header{
    padding: 6px;
}

.summary-card-body{
    height: 200px;
}

.dropdown-toggle,
.btn-primary{
  background-color: #2E4053;
}
