.modal-dialog{
    top: inherit;
}

.known-row-parent {
  display: grid;
  grid-template-columns: auto 1fr 2fr;
  align-items: center;
  gap: 2rem;
}

.saturated-row-label {
  white-space: nowrap;
}

.saturated-conditional-column {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.saturated-conditional-input-group {
  flex-grow: 1;
  min-width: 12rem;
}
