<div class="d-flex flex-column panel-container">
    <div class="header mr-2 ml-2">
        <h3>Day Type Leak Rate Setup</h3>
        <br>
    </div>
    <app-day-type-setup-form></app-day-type-setup-form>
    <div class="header mr-2 ml-2">
        <h3>End Use</h3>
        <br>
    </div>
    <div class="p-3 no-data" *ngIf="!hasEndUses">
        <div class="alert-warning small p-2 mb-2">
            Day Types cannot be added or removed once End Uses have been added.
        </div>
        <button type="button" class="btn btn-primary active" (click)="addEndUse()">+Add End Use</button>
    </div>
    <div class="mr-2 ml-2" *ngIf="hasEndUses">
        <form [formGroup]="form">
            <div class="form-group">
                <label for="name">End Use Name</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="endUseName" formControlName="endUseName"
                    (focus)="focusField('endUseName')" (input)="setEndUseName()" />
                    <span class="alert-danger pull-right small"
                        *ngIf="form.controls.endUseName.invalid && !form.controls.endUseName.pristine">
                        <span *ngIf="form.controls.endUseName.errors.required">Value Required</span>
                        <span *ngIf="form.controls.endUseName.errors.duplicateNamedUse">An End Use with the name "{{form.controls.endUseName.errors.duplicateNamedUse.val}}" already exists </span>
                        </span>
                </div>
            </div>

            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" type="text" id="endUseDescription" formControlName="endUseDescription"
                    (focus)="focusField('endUseDescription')" (input)="save()"></textarea>
            </div>

            <div class="form-group">
                <label for="location">Location</label>
                <div class="input-group">
                    <input name="location" type="text" step="any" class="form-control" id="location"
                        formControlName="location" (input)="save()" (focus)="focusField('location')">
                </div>
            </div>

            <div class="form-group">
                <label for="requiredPressure">Required Pressure</label>
                <div class="input-group">
                    <input name="requiredPressure" type="number" step="any" class="form-control" id="requiredPressure"
                        formControlName="requiredPressure" (input)="updateDayTypeEndUsePressure()"
                        (focus)="focusField('requiredPressure')">
                    <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="units input-group-addon">psig</span>
                    <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="units input-group-addon">barg</span>
                    <span class="alert-danger pull-right small"
                        *ngIf="form.controls.requiredPressure.invalid && !form.controls.requiredPressure.pristine">
                    <span *ngIf="form.controls.requiredPressure.errors.required">Value Required</span>
                        <span *ngIf="form.controls.requiredPressure.errors.min">Value can't be less than
                            {{form.controls.requiredPressure.errors.min.min}} </span>
                    </span>
                    <span class="alert-warning small px-4 py-2 mx-auto" *ngIf="warnings.requiredPressure !== undefined">{{
                        warnings.requiredPressure }}</span>
            
                </div>
            </div>

        </form>

        <div>
            <label class="group-label sub-form-label">{{selectedDayType.name}} End Use Data</label>
            <app-day-type-use-form></app-day-type-use-form>
        </div>
    </div>
</div>