.graph-card{
    /* box-shadow: 0 4px 8px 0 grey; */
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0;
    /* padding: 0 0 1rem 0; */
}

.btn-group .btn-sm {
    font-size: small !important;
}

.btn {
    padding: 1rem;
}

.placeholder {
    font-size: 16px;
}


span.fa.fa-chevron-circle-left,
span.fa.fa-chevron-circle-right {
    cursor: pointer;
    color: #117A65;
}



.detail-tooltip {
    background-color: white;
    border-color: #117A65;
    color: black;
    top: -15px;
    right: 50px;
    z-index: 999;
    width: 300px;
}

.fa{
    font-size: larger;
    padding-top: 3px;
}
