/* .table{
    background: #fff;
} */



.selected-highlight {
    border: 2px solid #3055cf !important;
}

thead {
    background-color: #3055cf !important;
    color: #fff;
}

th, td {
    padding: .5rem 1rem !important;
}

.table-striped tbody tr:nth-of-type(odd) > td {
    border-left: 1px solid #bababa !important;
    border-right: 1px solid #bababa !important;
}

.table-bordered th, .table-bordered td {
    border-bottom: none;
}

.hidden-copy-table {
    z-index: -10;
    position: fixed;
    opacity: 0;
    top: -1000px;
    height: 0;
    width: 0;
}



.btn-group.btn-group-toggle {
  display: inline-flex;
  align-items: center;
  font-size: 0.95rem;
}

.btn-group.btn-group-toggle .btn {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  line-height: 1.2;
}

.btn-group.btn-group-toggle .btn:hover,
.btn-group.btn-group-toggle .btn.active {
  background-color: #3055cf;
  border-color: #3055cf;
  color: #fff;
}

.start-control, .end-control {
  max-width: 200px;
}


select:hover {
  cursor: pointer;
}