<div class="row ml-0 mr-0 pb-3">
    <div class="col-12">
        <div class="header">
            <div class="h3">Select Compressed Air Properties</div>
        </div>
    </div>
    <div class="col-12">
        <div class="p-2 d-flex justify-content-center">
            <div class="alert-info small text-center p-2">Select compressed air properties you want to track in your
                inventory catalog.</div>
        </div>
    </div>
    <div class="col-12">
        <div class="pr-2 pl-2">
            <app-nameplate-data-properties></app-nameplate-data-properties>
        </div>
    </div>
    <div class="col-12">
        <div class="pr-2 pl-2">
            <app-compressed-air-motor-properties></app-compressed-air-motor-properties>
        </div>
    </div>
    <div class="col-12">
        <div class="pr-2 pl-2">
            <app-compressed-air-controls-properties></app-compressed-air-controls-properties>
        </div>
    </div>
    <div class="col-12">
        <div class="pr-2 pl-2">
            <app-design-details-properties></app-design-details-properties>
        </div>
    </div>
    <div class="col-12">
        <div class="pr-2 pl-2">
            <app-performance-points-properties></app-performance-points-properties>
        </div>
    </div>
</div>