<!-- <div class="d-flex w-100">
    <div class="d-flex flex-fill"> -->
<label class="group-label" (click)="toggleForm()">
    <span class="fa fa-chevron-down" *ngIf="displayForm"></span>
    <span class="fa fa-chevron-right" *ngIf="!displayForm"></span>
    Required Properties
</label>
<!-- </div>
</div> -->
<form class="p-1" *ngIf="displayForm" [formGroup]="motorForm">


    <!--Efficiency type: efficiencyClass-->
    <div class="form-group">
        <label for="efficiencyClass">Efficiency Class</label>
        <select name="efficiencyClass" class="form-control select-input-field" id="efficiencyClass"
            formControlName="efficiencyClass" (change)="changeEfficiencyClass()"
            (focus)="focusField('efficiencyClass')">
            <option *ngFor="let efficiencyClass of efficiencyClasses" [ngValue]="efficiencyClass.value">
                {{efficiencyClass.display}}</option>
        </select>
    </div>
    <!--nominal efficiency: nominalEfficiency-->
    <div class="form-group">
        <label for="nominalEfficiency">Est. Nominal Efficiency</label>
        <div class="input-group">
            <input name="nominalEfficiency" type="number" min="0" step="any" class="form-control" id="nominalEfficiency"
                formControlName="nominalEfficiency" (input)="save()" (focus)="focusField('nominalEfficiency')"
                onfocus="this.select();">
            <span class="input-group-addon units">%</span>
        </div>
        <!-- <span class="alert-danger pull-right small"
                    *ngIf="motorItemForm.controls.nominalEfficiency.invalid && !motorItemForm.controls.nominalEfficiency.pristine">
                    <span *ngIf="motorItemForm.controls.nominalEfficiency.errors.required">Value Required</span>
                    <span *ngIf="motorItemForm.controls.nominalEfficiency.errors.max">Value can't be greater than
                        {{motorItemForm.controls.nominalEfficiency.errors.max.max}} %.</span>
                    <span *ngIf="motorItemForm.controls.nominalEfficiency.errors.min">Value can't be less than
                        {{motorItemForm.controls.nominalEfficiency.errors.min.min}} %.</span>
                </span> -->
    </div>
    <!--motor power: ratedMotorPower-->
    <div class="form-group">
        <label for="ratedMotorPower">Rated Motor Power</label>
        <div class="input-group">
            <input type="number" name="ratedMotorPower" class="form-control number-input-field" id="ratedMotorPower"
                (focus)="focusField('ratedMotorPower')" (input)="save()" formControlName="ratedMotorPower">
            <span class="input-group-addon units" *ngIf="settings.unitOfMeasure != 'Metric'">hp</span>
            <span class="input-group-addon units" *ngIf="settings.unitOfMeasure == 'Metric'">kW</span>
        </div>
        <!-- <span *ngIf="motorItemForm.controls.ratedMotorPower.invalid && !motorItemForm.controls.ratedMotorPower.pristine">
                  <span class="alert-danger pull-right small" *ngIf="motorItemForm.controls.ratedMotorPower.errors.required">Value
                    Required</span>
                </span>
                <span class="alert-warning pull-right small" *ngIf="warnings.ratedPowerError !== null && !motorItemForm.controls.ratedMotorPower.pristine && !motorItemForm.controls.fullLoadAmps.invalid">{{warnings.ratedPowerError}}</span> -->
    </div>
    <!--line frequency: lineFrequency-->
    <div class="form-group">
        <label for="lineFrequency">Line Frequency</label>
        <select name="lineFrequency" class="form-control number-input-field" id="lineFrequency"
            formControlName="lineFrequency" (change)="save()" (focus)="focusField('lineFrequency')">
            <option *ngFor="let frequency of frequencies" [ngValue]="frequency">{{frequency}} Hz</option>
        </select>
    </div>

    <!--sychronous speed: synchronousSpeed-->
    <div class="form-group">
        <label for="synchronousSpeed">Synchronous Speed</label>
        <div class="input-group">
            <input class="form-control" type="number" id="synchronousSpeed" formControlName="synchronousSpeed"
                (input)="save()">
            <span class="input-group-addon units">rpm</span>
        </div>
    </div>

    <!--full load amps: fullLoadAmps-->
    <div class="form-group">
        <label for="fullLoadAmps">Full Load Amps</label>
        <div class="input-group">
            <input type="number" name="fullLoadAmps" class="form-control number-input-field" id="fullLoadAmps"
                (focus)="focusField('fullLoadAmps')" (input)="save()" formControlName="fullLoadAmps">
            <span class="input-group-addon units">A</span>
        </div>
    </div>

</form>