<div class="tab-content">
  <div class="wrapper">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="pumpType">Pump Type</label>
          <select class="form-control" id="pumpType" [(ngModel)]="tmpPumpType" (change)="emitChange()">
        <option *ngFor="let pumpType of pumpTypes">{{pumpType}}</option>
      </select>
        </div>

        <div class="form-group">
          <label for="flowRate">Flow Rate</label>
          <input type="number" class="form-control" [(ngModel)]="tmpFlowRate" id="flowRate" (input)="emitChange()">
          <span class="units">{{settings.flowMeasurement}}</span>
        </div>
      </div>
    </div>
  </div>
</div>