.output-summary .table {
    font-size: small;
}
.output-summary .table th {
    border: none;
    padding: 0px 10px;
}
.output-summary .table td {
    padding: 2px 8px;
    vertical-align: middle;
}

tr > td:not(:first-child),
tr > th:not(:first-child){
    text-align: center;
}


@media print {
    .show-print{
        display: inline !important;
    }
    .hide-print{
        display: none !important;
    }

    .chart-row{
        padding: 0px !important;
    }
}

.show-print{
    display: none;
}


.section-header {
    font-weight: bold;
    border-top: 2px solid #bbb;
    border-bottom: 2px solid #bbb;
}

.emphasis {
    font-weight: bold;
    background-color: #D6DBDF;
}

.chart-body {
    padding-top: 20px;
    background: #fff;
    min-height: 0;
}

.summary-item {
    padding-left: 20px;
    padding-right: 20px;
}