.table{
    font-size: 12px;
    background: #fff;
}

.selected-highlight {
    background-color: #3055cf !important;
    color: #fff !important;
}

.fa.fa-chevron-right {
    color: #fff;
}

.footer-row {
    border-top: 2px solid #8f8f8f;
}