<form [formGroup]="form">
    <!--UNLOAD-->
    <label class="group-label secondary-group">Unload Point (cut-out)</label>
    <!-- fullLoadDischargePressure -->
    <div class="form-group">
        <label for="unloadPointDischargePressure">Discharge Pressure</label>
        <div class="input-group">
            <span class="input-group-addon calc-addon units" *ngIf="showPressureCalc">
                <a class="click-link" (click)="setPressure()"><span class="fa fa-calculator"></span></a>
            </span>
            <input name="unloadPointDischargePressure" type="number" step="any" class="form-control"
                id="unloadPointDischargePressure" formControlName="dischargePressure" (input)="saveDischargePressure()"
                (focus)="focusField('unloadPointDischargePressure')">
            <span class="units input-group-addon">psig</span>
        </div>
        <!-- <span class="alert-danger pull-right small"
       *ngIf="form.controls.motorPower.invalid && !form.controls.motorPower.pristine">
       <span *ngIf="form.controls.motorPower.errors.required">Value Required</span>
       <span *ngIf="form.controls.motorPower.errors.min">Value can't be less than
         {{form.controls.motorPower.errors.min.min}} hp.</span>
     </span> -->
    </div>
    <!-- unloadPointAirflow -->
    <div class="form-group">
        <label for="unloadPointAirflow">Air Flow</label>
        <div class="input-group">
            <span class="input-group-addon calc-addon units" *ngIf="showAirflowCalc">
                <a class="click-link" (click)="setAirFlow()"><span class="fa fa-calculator"></span></a>
            </span>
            <input name="unloadPointAirflow" type="number" step="any" class="form-control" id="unloadPointAirflow"
                formControlName="airflow" (input)="saveAirFlow()" (focus)="focusField('unloadPointAirflow')">
            <span class="units input-group-addon">acfm</span>
        </div>
        <!-- <span class="alert-danger pull-right small"
       *ngIf="form.controls.motorPower.invalid && !form.controls.motorPower.pristine">
       <span *ngIf="form.controls.motorPower.errors.required">Value Required</span>
       <span *ngIf="form.controls.motorPower.errors.min">Value can't be less than
         {{form.controls.motorPower.errors.min.min}} hp.</span>
     </span> -->
    </div>
    <!-- unloadPointPower -->
    <div class="form-group">
        <label for="unloadPointPower">Power</label>
        <div class="input-group">
            <span class="input-group-addon calc-addon units" *ngIf="showPowerCalc">
                <a class="click-link" (click)="setPower()"><span class="fa fa-calculator"></span></a>
            </span>
            <input name="unloadPointPower" type="number" step="any" class="form-control" id="unloadPointPower"
                formControlName="power" (input)="savePower()" (focus)="focusField('unloadPointPower')">
            <span class="units input-group-addon">kW</span>
        </div>
        <!-- <span class="alert-danger pull-right small"
       *ngIf="form.controls.motorPower.invalid && !form.controls.motorPower.pristine">
       <span *ngIf="form.controls.motorPower.errors.required">Value Required</span>
       <span *ngIf="form.controls.motorPower.errors.min">Value can't be less than
         {{form.controls.motorPower.errors.min.min}} hp.</span>
     </span> -->
    </div>
</form>