<form [formGroup]="hoursForm">
  <div class="calc-border">
    <div class="row form-group">
      <label class="col-6 col-form-label" for="weeksPerYear">Weeks / year</label>
      <div class="col-6">
        <input type="number" class="form-control" id="weeksPerYear">
        <app-control-messages [control]="hoursForm.controls.weeksPerYear"></app-control-messages>
      </div>
    </div>

    <div class="row form-group">
      <label class="col-6 col-form-label" for="daysPerWeek">Days / week</label>
      <div class="col-6 input-group">
        <div class="incrementor input-group-addon">
          <div class="btn"><i class="fa fa-minus"></i></div>
        </div>
        <div class="incrementor input-group-addon">
          <div class="btn"><i class="fa fa-plus"></i></div>
        </div>
        <input type="number" class="form-control" id="daysPerWeek">
        <app-control-messages [control]="hoursForm.controls.daysPerWeek"></app-control-messages>
      </div>
    </div>

    <div class="row form-group">
      <label class="col-6 col-form-label" for="shiftsPerDay">Shifts / day</label>
      <div class="col-6 input-group">
        <div class="incrementor input-group-addon">
          <div class="btn"><i class="fa fa-minus"></i></div>
        </div>
        <div class="incrementor input-group-addon">
          <div class="btn"><i class="fa fa-plus"></i></div>
        </div>
        <input type="number" class="form-control" id="shiftsPerDay">
        <app-control-messages [control]="hoursForm.controls.shiftsPerDay"></app-control-messages>
      </div>
    </div>

    <div class="row form-group">
      <label class="col-6 col-form-label" for="hoursPerShift">Hours / shift</label>
      <div class="col-6 input-group">
        <div class="incrementor input-group-addon">
          <div class="btn"><i class="fa fa-minus"></i></div>
        </div>
        <div class="incrementor input-group-addon">
          <div class="btn"><i class="fa fa-plus"></i></div>
        </div>
        <input type="number" class="form-control" id="hoursPerShift">

        <app-control-messages [control]="hoursForm.controls.hoursPerShift"></app-control-messages>
      </div>
    </div>
  </div>
  <div class="row form-group total-row">
    <label class="col-6 col-form-label bold" for="totalHoursPerYear">Total Hours / year</label>
    <div class="col-6">
      <input type="number" class="form-control" id="totalHoursPerYear">
      <app-control-messages [control]="hoursForm.controls.totalHoursPerYear"></app-control-messages>
    </div>
  </div>
</form>