.book-item{
    background-color: #2E4053;
    position: absolute;
    right: 185px;
}
.manual-arrow{
    position: absolute;
    height: 300px;
    top: 45px;
    right: 0;
}

.welcome-screen {
    width: 100vw;
}