.flash-tank-img{
    height: 74px;
    margin-right: -55%;
    margin-top: -55%;
    margin-bottom: -62%;
    z-index: +1;
}

.down-pipe{
    height: 56.5%;
    border-top-left-radius: 25px;
}

.outletGas{
    margin-right: -14px;
    padding-right: 15px;
}


.flash-tank-diagram{
    min-height: 125px;
}


.chevron-margin{
    margin-bottom: -5px;
}