.img-icon{
    width: 80px;
}

.h2-name{
    font-weight: 400;
    font-size: 18px;
}

/* .home-nav-item{
    color: white;
    border-color: white !important;
} */  
a.user-manual{
    color: white;
  }