<label class="group-label w-100">
    Compressor Ordering
    <span *ngIf="multiCompressorSystemControls == 'targetPressureSequencer'">
        (Target Pressure Sequencer)
    </span>
    <span *ngIf="multiCompressorSystemControls == 'cascading'">
        (Cascading)
    </span>
    <span *ngIf="multiCompressorSystemControls == 'isentropicEfficiency'">
        (Isentropic Efficiency)
    </span>
    <span *ngIf="multiCompressorSystemControls == 'loadSharing'">
        (Centrifugal Load Sharing)
    </span>
    <span *ngIf="multiCompressorSystemControls == 'baseTrim'">
        (Base/Trim)
    </span>
</label>
<div class="alert alert-danger text-center small" *ngIf="multiCompressorSystemControls == 'baseTrim' && hasMissingTrimSelection">
    Trim compressor selection required for all day types using Base/Trim system controls.
</div>
<div class="w-100 d-flex justify-content-start mb-1 mt-1">
    <div class="pl-2 pr-2 border-left" *ngIf="hourIntervals.length != 1">
        <label class="small" for="fillRightOrdering">
            <input type="checkbox" [(ngModel)]="fillRight" name="fillRightOrdering" id="fillRightOrdering">
            Fill right on change
        </label>
    </div>
    <div class="pl-2 pr-2 border-right border-left">
        <a class="click-link small" (click)="resetOrdering()">Turn All Off</a>
    </div>
    <div class="pl-2 pr-2 border-right">
        <a class="click-link small" (click)="turnAllOn()">Turn All On</a>
    </div>
</div>

<div class="scroll-item">
    <table class="table bg-white" [ngClass]="{'single-entry': hourIntervals.length == 1}">
        <thead>
            <tr>
                <th>
                    <!-- Compressor Name -->
                </th>
                <th class="text-center" *ngIf="multiCompressorSystemControls != 'isentropicEfficiency'">
                    FLP
                </th>
                <th *ngIf="multiCompressorSystemControls == 'isentropicEfficiency'" class="text-center">
                    Adj. Eff
                </th>
                <th class="text-center" *ngIf="multiCompressorSystemControls == 'baseTrim'" [ngClass]="{'red': !trimSelection}">
                    Trim
                </th>
                <th class="text-center" *ngFor="let interval of hourIntervals">
                    {{interval | intervalHourLabel}}
                </th>
            </tr>
        </thead>
        <tbody *ngIf="multiCompressorSystemControls == 'targetPressureSequencer'">
            <tr *ngFor="let summary of profileSummary | dayTypeFilter:selectedDayTypeId; let compressorIndex = index;">
                <td class="bold text-center">
                    {{summary.compressorId|compressorName:inventoryItems}}
                </td>
                <td class="text-center">
                    {{summary.fullLoadPressure}}
                </td>
                <td class="input-cell"
                    *ngFor="let summaryData of summary.profileSummaryData; let orderIndex = index; trackBy:trackByIdx">
                    <select class="form-control" id="{{'order_'+compressorIndex+orderIndex}}"
                        name="{{'order_'+compressorIndex+orderIndex}}" [(ngModel)]="summaryData.order"
                        (change)="changeOrderSequencer(compressorIndex, orderIndex)">
                        <option *ngFor="let orderingOption of orderingOptions; let optionIndex = index;"
                            [ngValue]="orderingOption" id="{{'order_'+compressorIndex+orderIndex+optionIndex}}">
                            <span *ngIf="orderingOption != 0">
                                {{orderingOption}}
                            </span>
                            <span *ngIf="orderingOption == 0">
                                Off
                            </span>
                        </option>
                    </select>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="multiCompressorSystemControls == 'cascading'">
            <tr *ngFor="let summary of profileSummary | dayTypeFilter:selectedDayTypeId; let compressorIndex = index;">
                <td class="bold text-center">
                    {{summary.compressorId|compressorName:inventoryItems}}
                </td>
                <td class="text-center">
                    {{summary.fullLoadPressure}}
                </td>
                <td class="input-cell"
                    *ngFor="let summaryData of summary.profileSummaryData; let orderIndex = index; trackBy:trackByIdx">
                    <button id="{{'order_'+compressorIndex+orderIndex}}" name="{{'order_'+compressorIndex+orderIndex}}"
                        class="btn btn-sm" *ngIf="summaryData.order == 0"
                        (click)="toggleOn(summary, orderIndex)">Off</button>
                    <button id="{{'order_'+compressorIndex+orderIndex}}" name="{{'order_'+compressorIndex+orderIndex}}"
                        class="btn btn-sm btn-active" *ngIf="summaryData.order != 0"
                        (click)="toggleOn(summary, orderIndex)">{{summaryData.order}}</button>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="multiCompressorSystemControls == 'isentropicEfficiency'">
            <tr *ngFor="let summary of profileSummary | dayTypeFilter:selectedDayTypeId; let compressorIndex = index;">
                <td class="bold text-center">
                    {{summary.compressorId|compressorName:inventoryItems}}
                </td>
                <td class="text-center">
                    {{summary.adjustedIsentropicEfficiency | number:'1.0-1'}} %
                </td>
                <td class="input-cell"
                    *ngFor="let summaryData of summary.profileSummaryData; let orderIndex = index; trackBy:trackByIdx">
                    <button id="{{'order_'+compressorIndex+orderIndex}}" name="{{'order_'+compressorIndex+orderIndex}}"
                        class="btn btn-sm" *ngIf="summaryData.order == 0"
                        (click)="toggleOn(summary, orderIndex)">Off</button>
                    <button id="{{'order_'+compressorIndex+orderIndex}}" name="{{'order_'+compressorIndex+orderIndex}}"
                        class="btn btn-sm btn-active" *ngIf="summaryData.order != 0"
                        (click)="toggleOn(summary, orderIndex)">{{summaryData.order}}</button>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="multiCompressorSystemControls == 'baseTrim'">
            <tr *ngFor="let summary of profileSummary | dayTypeFilter:selectedDayTypeId; let compressorIndex = index;">
                <td class="bold text-center">
                    {{summary.compressorId|compressorName:inventoryItems}}
                </td>
                <td class="text-center">
                    {{summary.fullLoadPressure}}
                </td>
                <td class="text-center radio-td">
                    <input type="radio" id="trimSelection" name="trimSelection" [value]="summary.compressorId"
                        [(ngModel)]="trimSelection" (change)="setTrimSelection()">
                </td>
                <td class="input-cell"
                    *ngFor="let summaryData of summary.profileSummaryData; let orderIndex = index; trackBy:trackByIdx">
                    <button id="{{'order_'+compressorIndex+orderIndex}}" name="{{'order_'+compressorIndex+orderIndex}}"
                        class="btn btn-sm" *ngIf="summaryData.order == 0" (click)="toggleOn(summary, orderIndex)">Off</button>
                    <button id="{{'order_'+compressorIndex+orderIndex}}" name="{{'order_'+compressorIndex+orderIndex}}"
                        class="btn btn-sm btn-active" *ngIf="summaryData.order != 0"
                        (click)="toggleOn(summary, orderIndex)">{{summaryData.order}}</button>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="multiCompressorSystemControls == 'loadSharing'">
            <tr *ngFor="let summary of profileSummary | dayTypeFilter:selectedDayTypeId; let compressorIndex = index;">
                <td class="bold text-center">
                    {{summary.compressorId|compressorName:inventoryItems}}
                </td>
                <td class="text-center">
                    {{summary.fullLoadPressure}}
                </td>
                <td class="input-cell"
                    *ngFor="let summaryData of summary.profileSummaryData; let orderIndex = index; trackBy:trackByIdx">
                    <button id="{{'order_'+compressorIndex+orderIndex}}" name="{{'order_'+compressorIndex+orderIndex}}"
                        class="btn btn-sm" *ngIf="summaryData.order == 0"
                        (click)="toggleOn(summary, orderIndex)">Off</button>
                    <button id="{{'order_'+compressorIndex+orderIndex}}" name="{{'order_'+compressorIndex+orderIndex}}"
                        class="btn btn-sm btn-active" *ngIf="summaryData.order != 0"
                        (click)="toggleOn(summary, orderIndex)">On</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>