<form [formGroup]="form()">
  <div class="form-section">
    <div class="form-group">
      <label class="small" for="{{controlIds.surfaceArea}}">Total Outside Surface Area</label>
      <div class="input-group" [class.invalid]="form().controls.surfaceArea.invalid">
        <input type="number" step="10" min="0" class="form-control"
          id="{{controlIds.surfaceArea}}" formControlName="surfaceArea" onfocus="this.select();">
        <app-input-unit [settings]="settings()" imperialUnit="ft&sup2;" metricUnit="m&sup2;"></app-input-unit>
      </div>
      <app-form-control-errors [control]="form().controls.surfaceArea" [settings]="settings()"
        imperialUnit="ft²" metricUnit="m²">
      </app-form-control-errors>
    </div>

    <div class="form-group">
      <label class="small" for="{{controlIds.avgSurfaceTemp}}">Average Surface Temperature</label>
      <div class="input-group" [class.invalid]="form().controls.avgSurfaceTemp.invalid">
        <input type="number" step="10" class="form-control"
          id="{{controlIds.avgSurfaceTemp}}" formControlName="avgSurfaceTemp" onfocus="this.select();">
        <app-input-unit [settings]="settings()" imperialUnit="&#8457;" metricUnit="&#8451;"></app-input-unit>
      </div>
      <app-form-control-errors [control]="form().controls.avgSurfaceTemp" [settings]="settings()">
      </app-form-control-errors>
    </div>

    <div class="form-group">
      <label class="small" for="{{controlIds.ambientTemp}}">Ambient Temperature</label>
      <div class="input-group" [class.invalid]="form().controls.ambientTemp.invalid">
        <input type="number" step="10" class="form-control"
          id="{{controlIds.ambientTemp}}" formControlName="ambientTemp" onfocus="this.select();">
        <app-input-unit [settings]="settings()" imperialUnit="&#8457;" metricUnit="&#8451;"></app-input-unit>
      </div>
      @if (form().controls.ambientTemp.invalid && !form().controls.ambientTemp.pristine) {
        <span class="alert-danger pull-right small">
          @if (form().controls.ambientTemp.errors?.['required']) { Value Required }
        </span>
      }
      @if (!form().controls.ambientTemp.pristine && form().controls.ambientTemp.value > form().controls.avgSurfaceTemp.value) {
        <span class="alert-danger pull-right small">Ambient Temperature is greater than Surface Temperature</span>
      }
    </div>

    <div class="form-group">
      <label class="small" for="{{controlIds.surfaceEmissivity}}">Surface Emissivity</label>
      <input type="number" step="0.1" min="0" max="1" class="form-control"
        id="{{controlIds.surfaceEmissivity}}" formControlName="surfaceEmissivity" onfocus="this.select();"
        [class.invalid]="form().controls.surfaceEmissivity.invalid">
      <app-form-control-errors [control]="form().controls.surfaceEmissivity" [settings]="settings()">
      </app-form-control-errors>
    </div>
  </div>
</form>
