<div class="row no-gutters">
  <div class="col-12" *ngFor="let cardData of opportunityCardsData">
    <div class="card treasure-hunt-card" [ngClass]="{'not-selected': !cardData.selected}">
      <div class="card-body d-flex w-100 p-0">
        <div class="col-1 col-item-br">
          <div class="row align-items-center h-100">
            <div class="col text-center">
              <app-animated-checkmark [active]="cardData.selected" (click)="toggleSelected()">
              </app-animated-checkmark>
            </div>
          </div>
        </div>
        <div class="col-4 col-item-br opportunity-name">
          <div class="row align-items-center h-100">
            <div class="col text-center">
              <img src={{cardData.iconString}} class="calc-icon">
              <a (click)="editOpportunity(cardData)">
                {{cardData.name}}
              </a><br>
              <span>Annual Cost Savings: {{cardData.annualCostSavings | currency:'USD'}}</span><br>
              <span *ngFor="let energySavings of cardData.annualEnergySavings">
                Annual {{energySavings.label}} Savings: {{energySavings.savings | number:'1.0-0'}}
                {{energySavings.energyUnit}}
              </span>
            </div>
          </div>
        </div>
        <div class="col-3 col-item-br"
          [ngClass]="{'col-3': cardData.opportunityType != 'opportunity-sheet', 'col-5': cardData.opportunityType == 'opportunity-sheet'}">
          <div class="d-flex w-100 flex-wrap justify-content-center">
            <div class="text-center graph-col treasure-hunt-item" *ngFor="let percentSaving of cardData.percentSavings">
              <div class="large pt-2">{{percentSaving.label}} Cost Savings</div>
              <app-treasure-hunt-gauge [value]="percentSaving.percent" [chartHeight]="75"></app-treasure-hunt-gauge>
            </div>
          </div>
        </div>
        <div class="col-2 col-item-br opp-sheet-col" *ngIf="cardData.opportunityType != 'opportunity-sheet'">
          <div class="row align-items-center h-100">
            <div class="col text-center"
              [ngClass]="{'no-opp-sheet': !cardData.opportunitySheet, 'opp-sheet-exists': cardData.opportunitySheet}"
              (click)="editOpportunitySheet(cardData)">
              <img src="assets/images/calculator-icons/opportunity-sheet-icon.png" class="calc-icon"><br>
              <span class="large pt-2" *ngIf="!cardData.opportunitySheet">Add Opportunity Sheet</span>
              <span class="large pt-2" *ngIf="cardData.opportunitySheet">Edit Opportunity Sheet</span>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="row align-items-center h-100">
            <div class="col text-center">
              <a class="click-link" (click)="editOpportunity(cardData)">Edit Opportunity</a><br>
              <a class="click-link danger" (click)="setDeleteItem(cardData)">Delete</a><br>
              <!-- <a class="click-link" (click)="createCopy()">Create Copy</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div bsModal #deletedItemModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="deletedItemModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body p-2 text-center" *ngIf="deletedItemModal.isShown">
        Are you sure you want to delete "{{deleteOpportunity.name}}"?<br>
        <span class="small danger">This cannot be undone.</span>
      </div>
      <div class="modal-footer p-2 justify-content-end delete-modal">
        <button class="btn btn-danger" (click)="deleteItem()">Delete</button>
        <button class="btn btn-primary" (click)="hideDeleteItemModal()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #opportunitySheetModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="opportunitySheetModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body pl-0 pr-0" *ngIf="opportunitySheetModal.isShown">
        <app-opportunity-sheet (emitCancel)="hideOpportunitySheetModal()" (emitSave)="saveItemOpportunitySheet($event)"
          [(opportunitySheet)]="editOpportunitySheetCardData.opportunitySheet">
        </app-opportunity-sheet>
      </div>
    </div>
  </div>
</div>