.card.treasure-hunt-card{
    padding: .25rem;
    font-size: small;
  }
  
  .col-item-br{
    border-right: solid 2px #2E4053;
  }
  
  .opp-sheet-col .fa.fa-edit{
    text-align: center;
    font-size: 35px;
  }
  
  .opportunity-name a, .opportunity-name .fa{
    font-size: large;
  }
  
  a:not([href]):not([tabindex]):hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .card.not-selected{
    background-color: #efefef;
  }
  
  .no-opp-sheet, .click-link.danger{
    color: red !important;
  }
  
  .opp-sheet-exists{
    color: green;
  }
  
  .no-opp-sheet .calc-icon{
    opacity: .5;
  }
  
  .opp-sheet-col .no-opp-sheet:hover, .opp-sheet-col .opp-sheet-exists:hover{
    cursor: pointer;
    text-decoration: underline;
  }
  
  /* .graph-col{
    background-color: #efefef;
  } */
    .calc-icon{
      width: 35px;
    }

    .treasure-hunt-item{
      padding-left: .25rem;
      padding-right: .25rem;
    }