<div *ngIf="getSelectedTool() == 'none'">

  <div class="row">
    <div class="col-10  mx-auto">
      <div class="content-container calculator-list">
        <h2>Motors Calculators</h2>
        <div class="row calc-item-row">
          <div class="col-1">
            <img src="assets/images/nema.png" class="ico-size4">
          </div>
          <div class="col-11">
            <a (click)="showTool('nema-energy-efficiency')">NEMA Energy Efficiency</a>
            <p>
              The predicted efficiency of an induction motor from NEMA MG1, based on size, rotating speed and efficiency class.
            </p>
          </div>
        </div>
        <div class="row calc-item-row">
          <div class="col-1">
            <img src="assets/images/performance.png" class="ico-size4">
          </div>
          <div class="col-11">
            <a (click)="showTool('motor-performance')">Motor Performance</a>
            <p>
              Plots current, efficiency, power factor vs motor shaft load for a given motor description.
            </p>
          </div>
        </div>
        <div class="row calc-item-row">
          <div class="col-1">
            <img src="assets/images/load-est.png" class="ico-size4">
          </div>
          <div class="col-11">
            <a (click)="showTool('percent-load-estimation')"> Percent Load Estimation</a>
            <p>
              Calculates Percent Load Estimation
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="stand-alone-calc" *ngIf="getSelectedTool() == 'nema-energy-efficiency'">
    <app-nema-energy-efficiency></app-nema-energy-efficiency>
</div>


<div class="stand-alone-calc" *ngIf="getSelectedTool() == 'motor-performance'">
  <app-motor-performance></app-motor-performance>
</div>


<div class="stand-alone-calc" *ngIf="getSelectedTool() == 'percent-load-estimation'">
  <app-percent-load-estimation></app-percent-load-estimation>
</div>


<!-- Original Version -->
<!--
<div class="calculator" *ngIf="getSelectedTool() == 'percent-load-estimation'">
  <div class="row">
    <div class="col-lg-10  mx-auto">
      <h2>Percent Load Estimation Calculator</h2>
    </div>
  </div>
  <div class="calculator-container">
    <app-percent-load-estimation></app-percent-load-estimation>
  </div>
</div> -->
