<div class="d-flex flex-column">
    <div class="d-flex justify-content-center">
        <div class="pt-2 pr-1 group-label">
            <span *ngIf="inReport">Baseline Compressor Summary</span>
            <span *ngIf="!inReport">Compressor Summary</span>
        </div>
    </div>
    <div class="pl-2 pt-3 pr-2">
        <table #profileTable class="table table-hover bg-white">
            <thead>
                <tr>
                    <th></th>
                    <th>Day Type</th>
                    <th class="bold" *ngFor="let compressor of compressorInventoryItems">
                        {{compressor.name}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th [attr.rowspan]="dayTypes.length + 1">
                        Specific Power at Average Load, kW/100 acfm
                    </th>
                </tr>
                <tr *ngFor="let compressorSummary of compressorSummaries; let index = index">
                    <td>
                        {{dayTypes[index].name}}
                    </td>
                    <td *ngFor="let compressor of compressorSummary">
                        <span *ngIf="compressor.specificPowerAvgLoad">
                            {{compressor.specificPowerAvgLoad}}
                        </span>
                        <span *ngIf="!compressor.specificPowerAvgLoad">
                            &mdash;
                        </span>
                    </td>

                </tr>
                <tr>
                    <th colspan="2">Rated Specific Power, kW/100 acfm</th>
                    <td *ngFor="let compressor of compressorSummaries[0]">
                        <span *ngIf="compressor.ratedSpecificPower">
                            {{compressor.ratedSpecificPower}}
                        </span>
                        <span *ngIf="!compressor.ratedSpecificPower">
                            &mdash;
                        </span>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">Rated Isentropic Efficiency, %</th>
                    <td *ngFor="let compressor of compressorSummaries[0]">
                        <span *ngIf="compressor.ratedIsentropicEfficiency">
                            {{compressor.ratedIsentropicEfficiency}}
                        </span>
                        <span *ngIf="!compressor.ratedIsentropicEfficiency">
                            &mdash;
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="!printView" class="w-100 justify-content-end d-flex">
    <app-exportable-results-table [tableString]="allTablesString" (updateTableString)="updateTableString()">
    </app-exportable-results-table>
</div>