.flash-tank-img{
    height: 74px;
    z-index: +1;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -18%;
}

.fa-arrow-circle-left{
    font-size: 18px;
    padding-left: 2px;
}

.low-pressure-margin{
    margin-right: 18px;
}