<table class="table pt-1 d-flex justify-content-center">
    <tbody>
      <tr class="bold small text-center">
        <th class="">Current Point Data</th>
        <th class="small"> Flow 
          (
            <span *ngIf="equipmentType != 'pump'" [innerHTML]="settings.fanFlowRate | settingsLabel"></span>
            <span *ngIf="equipmentType == 'pump'" [innerHTML]="settings.flowMeasurement | settingsLabel"></span>
          )
        </th>
        <th class="small">
          <span *ngIf="equipmentType == 'pump'">Head</span>
          <span *ngIf="equipmentType != 'pump'">Pressure</span>
          (
            <span *ngIf="equipmentType != 'pump'" [innerHTML]="settings.fanPressureMeasurement | settingsLabel"></span>
            <span *ngIf="equipmentType == 'pump'" [innerHTML]="settings.distanceMeasurement | settingsLabel"></span>
          )
        </th>
        <th class="small">Fluid Power
          (
            <span [innerHTML]="settings.powerMeasurement | settingsLabel"></span>
          )
        </th>
      </tr>
      <tr *ngIf="currentHoverData" 
      class="bold small text-center no-border"
      [ngStyle]="{'color': currentHoverData.baseline.pointColor}">
        <td class="text-left">Baseline</td>
        <td>
          <span *ngIf="currentHoverData.baseline.x">{{currentHoverData.baseline.x | number: '1.0-0'}}</span>
          <span *ngIf="!currentHoverData.baseline.x">&mdash; &mdash;</span>
        </td>
        <td>
          <span *ngIf="currentHoverData.baseline.y">
            <span *ngIf="imperialFanPrecision">
              {{currentHoverData.baseline.y | number: '1.2-2'}}
            </span>
            <span *ngIf="!imperialFanPrecision">
              {{currentHoverData.baseline.y | number: '1.0-0'}}
            </span>
          </span>
          <span *ngIf="!currentHoverData.baseline.y">&mdash; &mdash;</span>
        </td>
        <td>
          <span *ngIf="currentHoverData.fluidPower">{{currentHoverData.fluidPower | number: '1.0-1'}}</span>
          <span *ngIf="!currentHoverData.fluidPower">&mdash; &mdash;</span>
        </td>
      </tr>
      <tr *ngIf="currentHoverData && currentHoverData.modification" 
      class="bold small text-center no-border" 
      [ngStyle]="{'color': currentHoverData.modification.pointColor}">
        <td class="text-left">Modification</td>
        <td>
          <span *ngIf="currentHoverData.modification.x">{{currentHoverData.modification.x | number: '1.0-0'}}</span>
          <span *ngIf="!currentHoverData.modification.x">&mdash; &mdash;</span>
        </td>
        <td>
          <span *ngIf="currentHoverData.modification.y">
            <span *ngIf="imperialFanPrecision">
              {{currentHoverData.modification.y | number: '1.2-2'}}
            </span>
            <span *ngIf="!imperialFanPrecision">
              {{currentHoverData.modification.y | number: '1.0-0'}}
            </span>
          </span>
          <span *ngIf="!currentHoverData.modification.y">&mdash; &mdash;</span>
        </td>
        <td>
          <span *ngIf="currentHoverData.modification.x && currentHoverData.fluidPower">{{currentHoverData.fluidPower | number: '1.0-1'}}</span>
          <span *ngIf="!currentHoverData.modification.x || !currentHoverData.fluidPower">&mdash; &mdash;</span>
        </td>
      </tr>
      <tr *ngIf="currentHoverData && currentHoverData.system"
      class="bold small text-center no-border"
      [ngStyle]="{'color': currentHoverData.system.pointColor}">
        <td class="text-left">System Curve</td>
        <td>
          <span *ngIf="currentHoverData.system.x">{{currentHoverData.system.x | number: '1.0-0'}}</span>
          <span *ngIf="!currentHoverData.system.x">&mdash; &mdash;</span>
        </td>
        <td>
          <span *ngIf="currentHoverData.system.y">
            <span *ngIf="imperialFanPrecision">
              {{currentHoverData.system.y | number: '1.2-2'}}
            </span>
            <span *ngIf="!imperialFanPrecision">
              {{currentHoverData.system.y | number: '1.0-0'}}
            </span>
          </span>
          <span *ngIf="!currentHoverData.system.y">&mdash; &mdash;</span>
        </td>
        <td>
          <span *ngIf="!currentHoverData.fluidPower">&mdash; &mdash;</span>
        </td>
      </tr>
    </tbody>
  </table>