<p>full-load-amps works!</p>

<div class="d-flex">
    <div class="scroll-item col-7 bg-white">
        <div class="d-flex flex-column p-2">
            <app-full-load-amps-form></app-full-load-amps-form>
            <div class="w-100 justify-content-center btn-group btn-group-sm">
                <!-- <button type="button" class="btn btn-danger pull-right btn-sm m-2 btn-form" (click)="btnResetData()">
                    Reset Data
                </button> -->
                <button type="button" class="btn btn-primary pull-right btn-sm m-2 btn-form" (click)="btnGenerateExample()">
                    Generate Example
                </button>
            </div>

        </div>
    </div>

    <div class="col-5 p-0 help-panel">
        <div class="d-flex flex-column mh-100 scroll-item">
            <app-full-load-amps-help></app-full-load-amps-help>

        </div>
    </div>

</div>



    

