<div bsModal #versionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="versionModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">
    <div class="modal-content card">
      <div class="modal-header">
        <h3>Release Notes for v{{versionNum}}</h3>
        <button class="close" (click)="hideVersionModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body scroll-item">
        <p>
          A software tool for calculating energy efficiency for a variety of industrial and manufacturing applications.
          MEASUR helps manufacturers increase industrial energy efficiency at the plant-level and in specific systems.
          Learn step-by-step ways to identify opportunities, monitor progress, and improve efficiency in any facility.
          Some tools help facilities implement an energy management system and prepare to become ISO 50001 and Superior
          Energy Performance certified. Based on older Department of Energy (DOE) tools, the Advanced Manufacturing
          Office (AMO) has undertaken this effort to refactor the legacy tools into a modern environment.
          The suite includes 7 energy system assessment modules, a Data Exploration Module, extensive help text,
          comprehensive reports, data visualization, and 79 calculators!
        </p>
        <p>
          MEASUR is a supported application, updates are expected and may impact previously created assessments.
        </p>
        <label>Warnings</label>
        <ul>
          <li>Installing v1.0.0 or an earlier version of this tool will automatically reset your app data. Data can be
            imported into an earlier version from v1.0.0</li>
          <li>Do not install an earlier version of this tool without resetting your app data (in settings).</li>
          <li>If MEASUR freezes during installation or fails to install, uninstall the previous version of MEASUR and
            repeat installation of the new installer</li>
          <li>Assessments created in MEASUR 0.8.0 or later are not compatible with older versions. </li>
          <li>Exporting from v.0.8.0 and importing to a lower version will continue to work, though new features will
            not be available.</li>
        </ul>

        <label>What's New?</label>
        <ul>
          <li>Added the ability to import an assessment as a Treasure Hunt opportunity</li>
          <li>Added the Blowdown calculator as a Treasure Hunt opportunity</li>
          <li>Added a field for Implementation Cost to all Explore Opportunities Forms</li>
          <li>Added better Team support for the Treasure Hunt PowerPoint Report</li>
          <li>Added export buttons to the header of each module</li>
          <li>Added support for exporting large assessments or groups of assessments </li>
          <li>Added the ability to connect a motor inventory entry to a pump assessment</li>
          <li>Continued adding support for viewing on mobile devices</li>
          <li>Bug Fixes</li>
        </ul>

      <label>Here are the details of what's new in version 1.4.0:</label>
        <br>
        <label>Application</label>
        <ul>
         <li>Added: Ability to download MEASUR as a progressive web application</li>
         <li>Added: Enhanced data analytics tags</li>
         <li>Added: Export buttons to the header of each module</li>
         <li>Added: Field for Implementation Cost to all Explore Opportunities Forms for the calculation of simple payback</li>
         <li>Added: package.json script for "clean" on Windows</li>
         <li>Added: Persistence to changes made to assessments in update-data.service to improve processing</li>
         <li>Enhancement: Added support for exporting large assessments or groups of assessments as .gz instead of .json and importing .gz</li>
         <li>Enhancement: Cleaned up home page for mobile UI</li>
         <li>Enhancement: Overhauled how data export modal displays files to be exported</li>
         <li>Enhancement: Standardized display of results for mobile viewing</li>
         <li>Enhancement: Standardized navigation within assessments for mobile view</li>
         <li>Fixed: Issues with gauge diagram for values over 100%</li>
         <li>Fixed: New assessment modal not adapting to screen dimensions properly</li>
         <li>Fixed: Several issues related to assessment folder directory system (moving, copying, deleting, etc.)</li>
         <li>Fixed: Styling of list view in dashboard</li>
         <li>Removed: Navigation sidebar in assessments</li>
         <li>Removed: Validation related to maximum unit cost of electricity</li>
         <li>Updated: Consolidated import/export functionality </li>
         <li>Updated: Dependencies required for operation (updated Nodejs, removed ngx-electron)</li>
         <li>Updated: Moved contributor Mark Root to Oak Ridge National Lab (congratulations!)</li>
         <li>Updated: ReadMe</li>
         <li>Updated: Replaced NAN bindings with Web Assembly bindings</li>
        </ul>

        <label>Calculators</label>
        <ul>
           <li>Added: Improved help text for lighting calculator - ballast factor</li>
           <li>Fixed: Issue in Percent Load Estimation calculator where results were not updated properly with changes</li>
           <li>Removed: Data validation maximum for insulation calculators' system efficiency for chilled systems</li>
        </ul>

        <label>Data Explorer</label>
        <ul>
          <li>Added: Messaging and validation to insure graphs will render properly or not attempt when not possible (e.g., stops rendering of a time series graph if no column has been identified as a datetime)</li>
          <li>Added: Plotly date range slider to time series graphs</li>
          <li>Enhanced: Improved UI for mobile devices for Data Explorer module</li>
          <li>Enhancement: Redesigned Visualization graph sidebar workflow to simplify process of creating graphic</li>
          <li>Fixed: Issue where sidebar form was not fully visible on small (but not mobile) screens</li>
          <li>Fixed: Various issues introduced during processing and UX overhaul</li>
          <li>Removed: Data range selector is no longer needed with performance optimization</li>
        </ul>

        <label>Compressed Air</label>
        <ul>
          <li>Enhanced: Improved UI for mobile devices for Compressed Air module</li>
          <li>Enhanced: Improved help text for Air Leak Survey - Decibel method</li>
          <li>Enhanced: Set default utility type to Electricity for Compressed Air Reduction and Air Leak Survey Calculators</li>
          <li>Fixed: Multiple bugs relating to Air Leak Survey</li>
        </ul>

        <label>Pumps</label>
        <ul>
          <li>Added: Functionality to connect data from motor inventory in pump assessment</li>
          <li>Fixed: Bug relating to CO2 emissions not calculating with default electrical emission factor</li>
          <li>Fixed: Issue relating to entering data related to current instead of power in Field Data</li>
          <li>Fixed: Issue where pump type dropdown included enum of drive types</li>
          <li>Fixed: Motor Badge falsely indicated minor error in form</li>
        </ul>

        <label>Fans</label>
        <ul>
          <li>Fixed: Bug relating to CO2 emissions not calculating with default electrical emission factor</li>
          <li>Fixed: Calculation of velocity pressure was only valid for imperial units (updated to include unit conversions and improved calculation)</li>
          <li>Fixed: Removed incorrect validation message from outlet pressure</li>
        </ul>


        <label>Process Heating</label>
        <ul>
          <li>Added: Electric heater losses to sankey</li>
          <li>Added: Field and calculations relating to electrical heating efficiency and losses</li>
          <li>Fixed: Bug relating to the initialization of electrotechnology Energy Inputs form</li>
          <li>Fixed: Calculation of fuel-related losses for hybrid-electrotechnology process heaters</li>
          <li>Fixed: Improper validation warning for solid charge material's heat of reaction not allowing 0</li>
          <li>Fixed: Issue where MEASUR was unable to print (to pdf or other)</li>
          <li>Fixed: Issues related to badges not reflecting validation warnings</li>
          <li>Fixed: Several issues related to how moisture in combustion air was utilized</li>
          <li>Fixed: SQL error related to custom materials</li>
          <li>Fixed: Styles related to Sankey width</li>
          <li>Fixed: Styling of new scenarios</li>
          <li>Fixed: Unit conversion issue related to calculated higher heating value</li>
          <li>Updated: Changed name of "Net Heat" in process heating results to "Available Heat"</li>
        </ul>

        <label>Steam</label>
        <ul>
          <li>Enhancement: Removed moisture data input from stack loss calculator (assumed dry air)</li>
          <li>Fixed: Issue related to entering a decimal place in the header form</li>
          <li>Fixed: Issue relating to which methods were called for available heat in stack loss calculator</li>
          <li>Fixed: Reduced values for Blowdown calculator example</li>
          <li>Fixed: Sankey was using wrong value for recovered condensate energy loop</li>
        </ul>

        <label>Treasure Hunt</label>
        <ul>
          <li>Added: Ability to import pump, fan, or process heating assessment as an opportunity</li>
          <li>Added: Steam Blowdown calculator as a steam, natural gas, and other fuel opportunity</li>
          <li>Enhancement: Improved the accessibility of the opportunities export functionality for standard screens and mobile</li>
          <li>Enhancement: Redesigned the treasure chest menu to better feature import/export and rearrange sort/filter functions</li>
          <li>Enhancement: Several enhancements to PowerPoint Report, including organizing opportunities by team and adding specific slides for each team</li>
          <li>Fixed: Removed large white space in Custom Opportunity page</li>
          <li>Fixed: Styling issue related to off-centered charts</li>
          <li>Fixed: Zip code for electricity CO2e emissions was hidden</li>
        </ul>

        <label>Inventories</label>
        <ul>
          <li>Added: Functionality to connect data from motor inventory in pump assessment</li>
          <li>Added: Functionality to connect data from motor inventory in pump inventory</li>
          <li>Added: Pump Inventory Manual</li>
          <li>Enhanced: Improved UI for mobile devices for Motor Inventory module</li>
          <li>Enhanced: Improved UI for mobile devices for Pump Inventory module</li>
          <li>Fixed: CSS bug cutting off header widths </li>
          <li>Fixed: Issue where resetting Examples added extra inventories</li>
        </ul>

        <label>Wastewater</label>
        <ul>
          <li>Added: Field for Implementation Cost modification forms and result for simple payback</li>
          <li>Fixed: Bug relating to CO2 emissions not calculating with default electrical emission factor</li>
        </ul>


        <label>Known Issues</label>
        <ul>
          <li>The Linux release does not support Auto-updating</li>
          <li>Renaming an export in Windows Download menu can delete the file extension (.json, or .gz)</li>
          <li>Assessments made in a previous major release may experience errors</li>
          <li>Import files made in a previous major release may not be useable due to field additions/removals</li>
          <li>We have observed cases where if MEASUR is open for a long period of time while many assessments are present, MEASUR performance can become slow. If experienced, close and reopen MEASUR</li>
        </ul>

        <label>Here are the details of what's new in version 1.3.1:</label>
        <br>
        <label>Treasure Hunt</label>
        <ul>
          <li>Fixed: Bug related to downloading PowerPoint report</li>
        </ul>

        <label>Known Issues</label>
        <ul>
          <li>The Linux release does not support Auto-updating</li>
          <li>Renaming an export in Windows Download menu can delete the file extension (.json)</li>
          <li>Assessments made in a previous major release may experience errors</li>
          <li>Import files made in a previous major release may not be useable due to field additions/removals</li>
        </ul>

      </div>
    </div>
  </div>
</div>