<div bsModal #versionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="versionModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">
    <div class="modal-content card">
      <div class="modal-header">
        <h3>Release Notes for v{{versionNum}}</h3>
        <button class="close" (click)="hideVersionModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body scroll-item">
        <h4>Release Notes v.0.8.2</h4>

        <label>Application:</label>
        <ul>
          <li> Enhanced: Cleaned up common logic used in the creation of assessments and settings initialization</li>
        </ul>
        <label>Calculators:</label>
        <ul>
          <li> Added: New folder for Water/Wastewater Calculators</li>
          <li> Added: Oxygen Utilization Rate Calculator</li>
          <li> Fixed: Calcuation error in subcalcuation for pressure at different elevations used in multiple
            calculators</li>
          <li> Fixed: Legend, Y-axis, and Hover text in "Motor Performance Calculator" to read "Power Factor" instead of
            "Power"</li>

        </ul>
        <label>Pumps:</label>
        <ul>
          <li> Enhanced: Added warning to FLA if entered value deiveating more than 5% from calculated (to account for
            changes to FLA when creating modifications)</li>
          <li> Enhanced: Can set values dispalyed in Sankey to loss percent, loss power value, both</li>
          <li> Fixed: Bug causing application to crash when printing an assessment for the second time if the app hasn't
            been restarted in-between (due to Electron issue)</li>

        </ul>
        <label>Fans:</label>
        <ul>
          <li> Added: Displaying results for air velosity in the cross section</li>
          <li> Added: Option to calculate Static Pressure in Traverse Planes (Plane 3s) based on Traverse data (instead
            of
            single user input)</li>
          <li> Enhanced: "Fan Traverse Calculator" - added help text for each plane to help match measurement location
            to
            plane number</li>
          <li> Enhanced: Added warning to FLA if entered value deiveating more than 5% from calculated (to account for
            changes to FLA when creating modifications)</li>
          <li> Enhanced: Can set values dispalyed in Sankey to loss percent, loss power value, both</li>
          <li> Enhanced: Changed references (field names, tab names, help text) to "Power" to be "Fan Shaft Power"</li>
          <li> Enhanced: Increased the precision of fan pressure (imperial units) in the fan/system curve to two decimal
            points</li>
          <li> Enhanced: Order of planes in results table matches order in fan air flow</li>
          <li> Enhanced: Reduced displayed decimal places for current inputs and results</li>
          <li> Fixed: Calculations for "Clear Area" in Fan Traverse calculator</li>
          <li> Updated: No longer have to enter barometric pressure for each plane, added dropdown on i tab to toggle
            "Variation in planar barometric pressure"</li>

        </ul>
        <label>Process Heating:</label>
        <ul>
          <li> Added: Calculator for estimating savings from using flue gas to heat process or HVAC air (suite & desktop
            issues)</li>
          <li> Added: Calcuations for estimating the stoichemetric volume or mass of air needed for combustion (suite)
          </li>
          <li> Added: Calculation button for "Opening" Loss page's View Factor Field</li>
          <li> Added: Modal calculator version of Flue Gas Losses, to be used in other standalone calculators</li>
          <li> Added: Standalone calculator version of Atmosphere Losses</li>
          <li> Added: Standalone calculator version of Charge Materials Losses</li>
          <li> Added: Standalone calculator version of Flue Gas Losses</li>
          <li> Added: Standalone calculator version of Opening Losses</li>
          <li> Added: Standalone calculator version of Wall Losses</li>
          <li> Added: Warnings for "Opening" Loss page's View Factor Field deiveating more than 5% from calculated</li>
          <li> Enhanced: Added help text to "Electricity Input" to reflect changes</li>
          <li> Enhanced: Added more help text for some fields</li>
          <li> Enhanced: Added warning to "Electricity Input" field that triggers when Exhaust Gas Loss is less than
            zero</li>
          <li> Enhanced: Can set values dispalyed in Sankey to loss percent, loss power value, both</li>
          <li> Enhanced: Field naming throughout assessment is more consitant and simplier</li>
          <li> Enhanced: If user does not enter data into Electric Arc Furnaces' "Exhaust Gas" Loss page, then MEASUR
            will
            calculate loss from total energy inputs</li>
          <li> Fixed: Bug relating to app trying to retrieve a database item that does not exist (custom materials,
            fuels,
            etc.)</li>
          <li> Fixed: Calculations relating to the application of steam-based process heater's efficiency to gross heat
          </li>
          <li> Fixed: Error on new/imported assessment opening</li>
          <li> Fixed: Several style/consistency improvements</li>
          <li> Updated: Converted process heating sankey over to plotly - allows for better inclusion of exothermic heat
            and multiple heat sources (electrotechnologies)</li>
          <li> Updated: Users can now change the energy source type of a created assessment if there is no data entered
            on
            any loss page</li>
          <li> Updated: Validation for all loss pages and new standalone calculators to have red (calculation stopping)
            and
            yellow (just warning) validation</li>
        </ul>

        <label>Steam</label>
        <ul>
          <li> Added: "Returned Steam and Condensate" row to the "Losses" page</li>
          <li> Added: Sankey diagram</li>
          <li> Enhanced: Can set values dispalyed in Sankey to loss percent, loss power value, both</li>
          <li> Fixed: Calculation of blowdown losses when there is a blowdown flash tank</li>
          <li> Fixed: Unit conversion of Venting losses</li>
        </ul>

        <label>Treasure Hunt</label>
        <ul>
          <li> Enhanced: Added more help text for some fields in "Compressed Air Leak Survey"</li>
          <li> Enhanced: Help text within the "Compressed Air Reduction Calculator"</li>
          <li> Fixed: Baseline & Modified cost values now reflect values entered in "Facility Basics"</li>
          <li> Fixed: Bug in Treasure Chest after editing "Custom Opportunitiy Sheet"</li>
          <li> Fixed: Bug setting Additional Equipments' Utility Type to "Compressed Air" in "Compressed Air Reduction
            Calculator"</li>
          <li> Fixed: How "Other Savings" are allocated in "Treasure Chest" Gauge tables, Executive Summary tables,
            Opportunities Summaries tables</li>
          <li> Fixed: Issue where graphs were not printing in report</li>
          <li> Fixed: Several small issues relating to compressor specific power and control in "Compressed Air Leak
            Survey" and "Compressed Air Reduction Calculator" (suite & desktop issues)</li>
        </ul>

        <label>Motor Inventory</label>
        <ul>
          <li>Added: Printing to Motor Inventory Motor Details Page</li>
        </ul>


        <h4>Release Notes v.0.8.1</h4>
        <label>Application:</label>
        <ul>
          <li>Enhanced: Sidebar Add Item button allows ability to add an Inventory item</li>
        </ul>
        <label>Calculators:</label>
        <ul>
          <li>Enhanced: Efficiency Improvement graph with additional data and functionalities.</li>
          <li>Enhanced: Pump and Fan System Curve graphs</li>
          <li>Added: Power line graph to Pump and Fan System Curve calculator</li>
          <li>Updated: Electricity Reduction to hide Operational Frequency when not a VFD</li>
          <li>Updated: Changed compressor control list values</li>
        </ul>
        <label>Motor Inventory:</label>
        <ul>
          <li>Fixed: Bug relating to graphs overlapping on Analysis screen</li>
          <li>Fixed: Example inventory department descriptions</li>
          <li>Fixed: Bug relating to generic motor database filtering</li>
          <li>Updated: Default selected motor fields to be tracked in the inventory</li>
          <li>Enhanced: Add equation for calculating energy use to help text</li>
          <li>Enhanced: Indicated which fields are used for calculating energy use</li>
        </ul>
        <label>Pumps:</label>
        <ul>
          <li>Fixed: Example has Full Load Amps equal to the calculated value</li>
          <li>Updated: Converted pump sankey over to plotly</li>
        </ul>
        <label>Fans:</label>
        <ul>
          <li>Updated: Converted fan sankey over to plotly</li>
        </ul>
        <label>Data Explorer:</label>
        <ul>
          <li>Enhanced: Allow users ability to pick the header row of logger files</li>
        </ul>





        <h4>Release Notes v.0.8.0</h4>
        <div class="alert-warning">
          Warning: Do not install an earlier version of this tool without resetting your app data (in settings).
          Assessments created in MEASUR 0.8.0 are not compatible with older versions.
          Exporting from v.0.8.0 and importing to a lower version will continue to work, though new features will not be
          available.
        </div>

        <label>Application:</label>
        <ul>
          <li>Updated: About page for Data Explorer and Equipment Inventory (new Feature)</li>
          <li> Updated: Acknowledgements to add new team members</li>
          <li> Updated: Names of examples to more uniform schema</li>
          <li> Updated: NPM packages</li>
        </ul>

        <label>Calculators:</label>
        <ul>
          <li> Added: Calculator to estimate various psychometirc properties given temperature, pressure, and humidity
            metrics</li>
          <li> Enhanced: Added clarification to all air flow unit labels for standard or actual</li>
          <li> Enhanced: Added clarification to all pressure unit labels for gauge or absolute</li>
          <li> Enhanced: O2 Enrichment form and graph to more easily create and edit modifications to your model</li>
          <li> Enhanced: Reordered input form for Cooling Tower Water Use Calculator</li>
          <li> Enhanced: Upgraded all graphs to use Plotly instead of D3 (allows for users to zoom, set axis and more)
          </li>
          <li> Fixed: Bug in Reduce Pressure Calculator regarding incorrect value reported for modification energy use
          </li>
          <li> Fixed: Bug relating to entering data into Compressed Air Leak Survey and Compressed Air Reduction Utility
            cost fields</li>
          <li> Fixed: Bug relating to specific energy of compressors in Compressed Air Leak Survey and Compressed Air
            Reduction in metric</li>
          <li> Fixed: Incorrect unit labeled for energy unit cost in Reduce Pressure Calculator</li>
          <li> Fixed: Moved Pipe and Tank Insulation Calculators to Steam</li>
          <li> Fixed: Names of Pipe and Tank Insultation Calculators</li>
          <li> Updated: Form and calculations for Pre-assessment calculators</li>
        </ul>

        <label>Pumps:</label>
        <ul>
          <li> Enhanced: Added visual cue (glow highlight) if the inputs to the modification's Full Load Amps field
            changed</li>
          <li> Fixed: Bug regarding validation for flow rate in metric</li>
          <li> Fixed: Bug relating to app crashing when use delete/backspace on Motor RPM field</li>
        </ul>

        <label>Fans:</label>
        <ul>
          <li> Enhanced: Added automatic calculation of compressibility factor in mods (and option to enter manually)
          </li>
          <li> Enhanced: Added visual cue (glow highlight) if the inputs to the modification's Full Load Amps field
            changed</li>
          <li> Update: Allows for saving fan traverse calculations even when data form is not complete</li>
        </ul>

        <label>Process Heating:</label>
        <ul>
          <li> Enhanced: help text for emissivity field</li>
          <li> Fixed: Bug relating to Energy Input Natural Gas Flow Rate not staying active</li>
          <li> Updated: Algorithm for EAF calculations - made "Exhaust Gas" form optional and MEASUR now automatically
            calculates Exhaust Gas Losses</li>
        </ul>

        <label> Steam:</label>
        <ul>
          <li>Updated: Heat Loss help text</li>
        </ul>

        <label>Treasure Hunt:</label>
        <ul>
          <li>Added: Air Leak Survey integrated into Treasure Hunt</li>
          <li>Added: Copy Table Buttons to Report</li>
          <li>Added: Tank Insultation integrated into Treasure Hunt</li>
          <li>Fixed: Bug causing Treasure Chest to blank and Folder to crash due to not having modifications in
            opportunities</li>
          <li>Fixed: Names of Pipe and Tank Insultation Calculators</li>
          <li>Fixed: Opportunity Payback Detail Graphs display issue on small screens</li>
          <li>Fixed: Trailing decimals in Example</li>
        </ul>

        <label>Data Explorer:</label>
        <ul>
          <li> Added: Minimum Bin field, to set lower bound of histogram</li>
          <li> Enhanced: Added ability to recall last use data</li>
          <li> Enhanced: Added additional help text to Data Setup</li>
          <li> Enhanced: Summary data tables in Data Visualization to match graph manipulation (zoom in, etc.)</li>
          <li> Updated: Added ability to switch between percent or number of data points for histogram y-axis</li>
        </ul>

        <label>Motor Inventory (NEW FEATURE):</label>
        <ul>
          <li>New Feature: A motor database allowing users to create a catalog of motors in their facility</li>
          <li> New Feature: Integrated into Dashboard/Facility Framework</li>
          <li> New Feature: Sorting & filtering of database</li>
          <li> New Feature: Summary graphs, tables and printouts</li>
          <li> New Feature: Generic Motor Database to initially populate certain fields</li>
          <li> New Feature: Comprehensive help text and links to calculators to populate certain fields</li>
          <li> New Feature: Summary page</li>
          <li> New Feature: Batch analysis (replace vs. rewind)</li>
        </ul>

        <label>Known Issues</label>
        <ul>
          <li>The Mac and Linux releases do not support Auto-updating</li>
          <li>Renaming an export in Windows Download menu can delete the file extension (.json)</li>
          <li>Assessments made in a previous release may experience errors</li>
          <li>Import files made in a previous release may not be useable</li>
        </ul>
      </div>
    </div>
  </div>
</div>