.form{
    width: 100%;
}

.group-label{
  font-size: large;
    font-weight: bold;
    text-decoration: underline;
}

.form-section{
  margin-bottom: 0px !important;
    padding-bottom: 8px !important;
}

.calc-input-group{
  width: auto;
}
.no-unit-input{
  width: 100%;
}