<form class="pt-2" [formGroup]="headToolSuctionForm">

  <div class="flex-column d-flex tab-content">
    <div class="form-group">
      <label class="small" for="specificGravity">Fluid Specific Gravity</label>
      <div class="input-group calc-addon-group">
        <input type="number" min="0" class="form-control" formControlName="specificGravity" id="specificGravity"
          (keyup)="calc()" onfocus="this.select();" (focus)="focusField('specificGravity')">
      </div>
      <span class="alert-danger pull-right small" *ngIf="headToolSuctionForm.controls.specificGravity.invalid && !headToolSuctionForm.controls.specificGravity.pristine">
        <span *ngIf="headToolSuctionForm.controls.specificGravity.errors.required">Value required.</span>
        <span *ngIf="headToolSuctionForm.controls.specificGravity.errors.min">Value can't be less than 0.</span>
      </span>
    </div>


    <div class="form-group">
      <label class="small" for="flowRate">Flow Rate</label>
      <div class="input-group calc-addon-group">
        <input type="number" min="0" class="form-control" formControlName="flowRate" id="flowRate" (keyup)="calc()"
          onfocus="this.select();" (focus)="focusField('flowRate')">
        <span class="input-group-addon units">
          {{settings.flowMeasurement}}
        </span>
      </div>
      <span class="alert-danger pull-right small" *ngIf="headToolSuctionForm.controls.flowRate.invalid && !headToolSuctionForm.controls.flowRate.pristine">
        <span *ngIf="headToolSuctionForm.controls.flowRate.errors.required">Value required.</span>
        <span *ngIf="headToolSuctionForm.controls.flowRate.errors.min">Value can't be less than 0
          {{settings.flowMeasurement}}.</span>
      </span>
    </div>
  </div>

  <div class="d-flex flex-wrap">
    <div class="flex-column col-lg-6 col-md-12 col-sm-12 pr-1 p-0">
      <label class="group-label">Suction</label>
      <div class="form-group">
        <label class="small" for="suctionPipeDiameter">Pipe diameter (ID)</label>
        <div class="input-group calc-addon-group">
          <input type="number" min="0.1" class="form-control" formControlName="suctionPipeDiameter" id="suctionPipeDiameter"
            (keyup)="calc()" onfocus="this.select();" (focus)="focusField('suctionPipeDiameter')">
          <span class="input-group-addon units">{{smallUnit}}</span>
        </div>
        <span class="alert-danger pull-right small" *ngIf="headToolSuctionForm.controls.suctionPipeDiameter.invalid && !headToolSuctionForm.controls.suctionPipeDiameter.pristine">
          <span *ngIf="diameterSuctionError !== null">
            {{diameterSuctionError}}
          </span>
          <span *ngIf="headToolSuctionForm.controls.suctionPipeDiameter.errors.required">Value required.</span>
          <span *ngIf="headToolSuctionForm.controls.suctionPipeDiameter.errors.min">Value can't be less than 0
            {{smallUnit}}.</span>
        </span>
      </div>

      <div class="form-group">
        <label class="small" for="suctionTankGasOverPressure">Tank gas overpressure (Pg)</label>
        <div class="input-group calc-addon-group">
          <input type="number" min="0" class="form-control" formControlName="suctionTankGasOverPressure" id="suctionTankGasOverPressure"
            (keyup)="calc()" onfocus="this.select();" (focus)="focusField('suctionTankGasOverPressure')">
          <span class="input-group-addon units">
            {{settings.pressureMeasurement}}
          </span>
        </div>
        <span class="alert-danger pull-right small" *ngIf="headToolSuctionForm.controls.suctionTankGasOverPressure.invalid && !headToolSuctionForm.controls.suctionTankGasOverPressure.pristine">
          <span *ngIf="pressureError !== null">
            {{pressureError}}
          </span>
          <span *ngIf="headToolSuctionForm.controls.suctionTankGasOverPressure.errors.required">Value required.</span>
        </span>
      </div>


      <div class="form-group">
        <label class="small" for="suctionTankFluidSurfaceElevation">Tank fluid surface elevation (Zs)</label>
        <div class="input-group calc-addon-group">
          <input type="number" min="0" class="form-control" formControlName="suctionTankFluidSurfaceElevation" id="suctionTankFluidSurfaceElevation"
            (keyup)="calc()" onfocus="this.select();" (focus)="focusField('suctionTankFluidSurfaceElevation')">
          <span class="input-group-addon units">
            {{settings.distanceMeasurement}}
          </span>
        </div>
        <span class="alert-danger pull-right small" *ngIf="headToolSuctionForm.controls.suctionTankFluidSurfaceElevation.invalid && !headToolSuctionForm.controls.suctionTankFluidSurfaceElevation.pristine">
          <span *ngIf="headToolSuctionForm.controls.suctionTankFluidSurfaceElevation.errors.required">Value required.</span>
        </span>
      </div>


      <div class="form-group">
        <label class="small" for="suctionLineLossCoefficients">Line loss coefficients (Ks)</label>
        <div class="input-group calc-addon-group">
          <input type="number" min="0" class="form-control" [ngClass]="{'w-100': inAssessment != true}" formControlName="suctionLineLossCoefficients"
            id="suctionLineLossCoefficients" (keyup)="calc()" onfocus="this.select();" (focus)="focusField('suctionLineLossCoefficients')">
        </div>
        <span class="alert-danger pull-right small" *ngIf="headToolSuctionForm.controls.suctionLineLossCoefficients.invalid && !headToolSuctionForm.controls.suctionLineLossCoefficients.pristine">
          <span *ngIf="headToolSuctionForm.controls.suctionLineLossCoefficients.errors.required">Value required.</span>
        </span>
      </div>
    </div>

    <div class="flex-column col-lg-6 col-md-12 col-sm-12 p-0 pl-1">
      <label class="group-label">Discharge</label>
      <div class="form-group">
        <label class="small" for="dischargePipeDiameter">Pipe diameter (ID)</label>
        <div class="input-group calc-addon-group">
          <input type="number" min="0.1" class="form-control" formControlName="dischargePipeDiameter" id="dischargePipeDiameter"
            (keyup)="calc()" onfocus="this.select();" (focus)="focusField('dischargePipeDiameter')">
          <span class="input-group-addon units">
            {{smallUnit}}
          </span>
        </div>
        <span class="alert-danger pull-right small" *ngIf="headToolSuctionForm.controls.dischargePipeDiameter.invalid && !headToolSuctionForm.controls.dischargePipeDiameter.pristine">
          <span *ngIf="diameterSuctionErrorOut !== null">
            {{diameterSuctionErrorOut}}
          </span>
          <span *ngIf="headToolSuctionForm.controls.dischargePipeDiameter.errors.required">Value required.</span>
          <span *ngIf="headToolSuctionForm.controls.dischargePipeDiameter.errors.min">Value can't be less than 0
            {{smallUnit}}.</span>
        </span>
      </div>

      <div class="form-group">
        <label class="small" for="dischargeGaugePressure">Gauge pressure (Pd)</label>
        <div class="input-group calc-addon-group">
          <input type="number" min="0" class="form-control" formControlName="dischargeGaugePressure" id="dischargeGaugePressure"
            (keyup)="calc()" onfocus="this.select();" (focus)="focusField('dischargeGaugePressure')">
          <span class="input-group-addon units">
            {{settings.pressureMeasurement}}
          </span>
        </div>
        <span class="alert-danger pull-right small" *ngIf="headToolSuctionForm.controls.dischargeGaugePressure.invalid && !headToolSuctionForm.controls.dischargeGaugePressure.pristine">
          <span *ngIf="pressureError !== null">
            {{pressureError}}
          </span>
          <span *ngIf="headToolSuctionForm.controls.dischargeGaugePressure.errors.required">Value required.</span>
        </span>
      </div>

      <div class="form-group">
        <label class="small" for="dischargeGaugeElevation">Gauge elevation (Zd)</label>
        <div class="input-group calc-addon-group">
          <input type="number" min="0" class="form-control" formControlName="dischargeGaugeElevation" id="dischargeGaugeElevation"
            (keyup)="calc()" onfocus="this.select();" (focus)="focusField('dischargeGaugeElevation')">
          <span class="input-group-addon units">
            {{settings.distanceMeasurement}}
          </span>
        </div>
        <span class="alert-danger pull-right small" *ngIf="headToolSuctionForm.controls.dischargeGaugeElevation.invalid && !headToolSuctionForm.controls.dischargeGaugeElevation.pristine">
          <span *ngIf="headToolSuctionForm.controls.dischargeGaugeElevation.errors.required">Value required.</span>
        </span>
      </div>

      <div class="form-group">
        <label class="small" for="dischargeLineLossCoefficients">Line loss coefficients (Kd)</label>
        <div class="input-group calc-addon-group">
          <input type="number" min="0" class="form-control" [ngClass]="{'w-100': inAssessment != true}" formControlName="dischargeLineLossCoefficients"
            id="dischargeLineLossCoefficients" (keyup)="calc()" onfocus="this.select();" (focus)="focusField('dischargeLineLossCoefficients')">
        </div>
        <span class="alert-danger pull-right small" *ngIf="headToolSuctionForm.controls.dischargeLineLossCoefficients.invalid && !headToolSuctionForm.controls.dischargeLineLossCoefficients.pristine">
          <span *ngIf="headToolSuctionForm.controls.dischargeLineLossCoefficients.errors.required">Value required.</span>
        </span>
      </div>
    </div>
  </div>
</form>