
<div class="row ml-0 mr-0 pb-3">
    <div class="col-12">
        <div class="header">
            <div class="h3">Select Pump Properties</div>
        </div>
    </div>
    <div class="col-12">
        <div class="p-2 d-flex justify-content-center">
            <div class="alert-info small text-center p-2">Select pump properties you want to track in your inventory catalog.</div>
        </div>
    </div>
    <div class="col-12">
        <div class="pr-2 pl-2">
            <app-nameplate-data-properties></app-nameplate-data-properties>
        </div>
    </div>
    <div class="col-12">
        <div class="pr-2 pl-2">
            <app-pump-equipment-properties></app-pump-equipment-properties>
        </div>
    </div>
    <div class="col-12">
        <div class="pr-2 pl-2">
            <app-fluid-properties></app-fluid-properties>
        </div>
    </div>
    <div class="col-12">
        <div class="pr-2 pl-2">
            <app-field-measurements-properties></app-field-measurements-properties>
        </div>
    </div>
    <div class="col-12">
        <div class="pr-2 pl-2">
            <app-pump-motor-properties></app-pump-motor-properties>
        </div>
    </div>
    <div class="col-12">
        <div class="pr-2 pl-2">
            <app-pump-status-properties></app-pump-status-properties>
        </div>
    </div>
    <div class="col-12">
        <div class="pr-2 pl-2">
            <app-system-properties></app-system-properties>
        </div>
    </div>
    <!-- <div class="col-12">
        <div class="pr-2 pl-2">
            <app-purchase-information></app-purchase-information>
        </div>
    </div>
    <div class="col-12">
        <div class="pr-2 pl-2">
            <app-replacement-information></app-replacement-information>
        </div>
    </div> -->


</div>