.book-item{
    background-color: #F39C12;
    position: absolute;
    right: 184px;
}

.home-nav-item.book-item a{
    color: black !important;
}
.manual-arrow{
    position: absolute;
    height: 300px;
    top: 45px;
    right: 0px;
}