<form [formGroup]="heatStorageForm">

  <div class="row form-group">
    <label class="col-4 col-form-label small" for="shape">Furnace Shape</label>
    <div class="col-4 input-group input-group-sm">
      <select class="form-control" formControlName="shape" id="shape">
        <option>Rectangular</option>
        <option>Cylindrical</option>
      </select>
    </div>
  </div>

  <div class="row form-group">
    <label class="col-4 col-form-label small" for="area">Area (m<sup>2</sup>)</label>
    <div class="col-4 input-group input-group-sm">
      <input type="number" class="form-control" formControlName="area" id="area">
    </div>
  </div>

  <div class="row form-group">
    <label class="col-4 col-form-label small" for="furnaceTemp">Furnace Temperature (&#8457;)</label>
    <div class="col-4 input-group input-group-sm">
      <input type="number" class="form-control" formControlName="furnaceTemp" id="furnaceTemp">
    </div>
  </div>

  <div class="row form-group">
    <label class="col-4 col-form-label small" for="ambientTemp">Ambient Temperature (&#8457;)</label>
    <div class="col-4 input-group input-group-sm">
      <input type="number" class="form-control" formControlName="ambientTemp" id="ambientTemp">
    </div>
  </div>

  <div class="row form-group">
    <label class="col-4 col-form-label small" for="startingWallTemp">Starting Wall Temperature (&#8457;)</label>
    <div class="col-4 input-group input-group-sm">
      <input type="number" class="form-control" formControlName="startingWallTemp" id="startingWallTemp">
    </div>
  </div>

  <div class="row form-group">
    <label class="col-4 col-form-label small" for="correctionFactor">Correction Factor</label>
    <div class="col-4 input-group input-group-sm">
      <input type="number" class="form-control" formControlName="correctionFactor" id="correctionFactor">
    </div>
  </div>

  <div class="row form-group">
    <label class="col-4 col-form-label small" for="heatRequired">Correction Factor</label>
    <div class="col-4 input-group input-group-sm">
      <input type="number" class="form-control" formControlName="heatRequired" id="heatRequired">
    </div>
  </div>

</form>
