

.header .click-link{
    margin-top: 10px;
}

.table{
    font-size: small;
}

.select-header{
    font-size: 16px;
}


ul.nav.nav-tabs {
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
}

.de-active {
  background-color: #117A65;
}

.nav-link{
    font-size: 14px;
}

.nav-link.active {   
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs{
    background-color: #efefef;
}

.font-reset {
    font: unset
}

.show-pointer {
 cursor: pointer;
}