

.header .click-link{
    margin-top: 10px;
}

.table{
    font-size: small;
}

.table td {
    border-top: 0;
}

.select-header{
    font-size: 16px;
}


ul.nav.nav-tabs {
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
}

.de-active {
  background-color: #117A65;
}

.preview-data {
    height: 600px;
}

.nav-link {   
    font-size: 14px;
    background-color: #efefef;
    border-color: #adb1b5 #adb1b5 #fff;
    border-width: 1px;
}

.nav-link.active {   
    background-color: #fff;
    border-color: #adb1b5 #adb1b5 #fff;
}

input[type='radio'] {
    transform: scale(1.25);
    margin: .5em 1em;
}

input[type='radio']:hover {
 cursor: pointer;
}

.nav-tabs{
    background-color: #efefef;
    border-left: #efefef;
    border-right: #efefef;
    border-top: #efefef;
}

.font-reset {
    font: unset
}

.show-pointer {
 cursor: pointer;
}
