<div class="scroll-item">
    <table #copyTable class="table table-sm table-bordered">
        <thead>
            <tr>
                <th class="header-cell sticky-left" [ngClass]="{'sort-by-active': 'motorName' == sortByField}"
                    (click)="setSortByField('motorName')">
                    <span class="fa fa-chevron-up"
                        *ngIf="sortByField == 'motorName' && sortByDirection == 'desc'"></span>
                    <span class="fa fa-chevron-down"
                        *ngIf="sortByField == 'motorName' && sortByDirection == 'asc'"></span>
                    Motor Name
                </th>
                <th class="header-cell" [ngClass]="{'sort-by-active': 'departmentName' == sortByField}"
                    (click)="setSortByField('departmentName')">
                    <span class="fa fa-chevron-up"
                        *ngIf="sortByField == 'departmentName' && sortByDirection == 'desc'"></span>
                    <span class="fa fa-chevron-down"
                        *ngIf="sortByField == 'departmentName' && sortByDirection == 'asc'"></span>
                    Department
                </th>
                <th class="header-cell" [ngClass]="{'sort-by-active': 'operatingHours' == sortByField}"
                    (click)="setSortByField('operatingHours')">
                    <span class="fa fa-chevron-up"
                        *ngIf="sortByField == 'operatingHours' && sortByDirection == 'desc'"></span>
                    <span class="fa fa-chevron-down"
                        *ngIf="sortByField == 'operatingHours' && sortByDirection == 'asc'"></span>
                    Operating Hours
                </th>
                <th class="header-cell" [ngClass]="{'sort-by-active': 'motorSize' == sortByField}"
                    (click)="setSortByField('motorSize')">
                    <span class="fa fa-chevron-up"
                        *ngIf="sortByField == 'motorSize' && sortByDirection == 'desc'"></span>
                    <span class="fa fa-chevron-down"
                        *ngIf="sortByField == 'motorSize' && sortByDirection == 'asc'"></span>
                    Motor Size
                </th>
                <th class="header-cell" [ngClass]="{'sort-by-active': 'averageLoadFactor' == sortByField}"
                    (click)="setSortByField('averageLoadFactor')">
                    <span class="fa fa-chevron-up"
                        *ngIf="sortByField == 'averageLoadFactor' && sortByDirection == 'desc'"></span>
                    <span class="fa fa-chevron-down"
                        *ngIf="sortByField == 'averageLoadFactor' && sortByDirection == 'asc'"></span>
                    Average Load Factor
                </th>
                <th class="header-cell" [ngClass]="{'sort-by-active': 'currentEfficiency' == sortByField}"
                    (click)="setSortByField('currentEfficiency')">
                    <span class="fa fa-chevron-up"
                        *ngIf="sortByField == 'currentEfficiency' && sortByDirection == 'desc'"></span>
                    <span class="fa fa-chevron-down"
                        *ngIf="sortByField == 'currentEfficiency' && sortByDirection == 'asc'"></span>
                    Current Efficiency
                </th>
                <!-- <th class="header-cell" [ngClass]="{'sort-by-active': 'motorName' == sortByField}"
                (click)="setSortByField('motorName')">
                <span class="fa fa-chevron-up" *ngIf="sortByField == 'motorName' && sortByDirection == 'desc'"></span>
                <span class="fa fa-chevron-down" *ngIf="sortByField == 'motorName' && sortByDirection == 'asc'"></span>
                Rewind Efficiency Loss
            </th> -->
                <th class="header-cell" [ngClass]="{'sort-by-active': 'rewindCost' == sortByField}"
                    (click)="setSortByField('rewindCost')">
                    <span class="fa fa-chevron-up"
                        *ngIf="sortByField == 'rewindCost' && sortByDirection == 'desc'"></span>
                    <span class="fa fa-chevron-down"
                        *ngIf="sortByField == 'rewindCost' && sortByDirection == 'asc'"></span>
                    Rewind Cost
                </th>
                <th class="header-cell" [ngClass]="{'sort-by-active': 'replacementEfficiency' == sortByField}"
                    (click)="setSortByField('replacementEfficiency')">
                    <span class="fa fa-chevron-up"
                        *ngIf="sortByField == 'replacementEfficiency' && sortByDirection == 'desc'"></span>
                    <span class="fa fa-chevron-down"
                        *ngIf="sortByField == 'replacementEfficiency' && sortByDirection == 'asc'"></span>
                    Replacement Efficiency
                </th>
                <th class="header-cell" [ngClass]="{'sort-by-active': 'replacementPurchaseCost' == sortByField}"
                    (click)="setSortByField('replacementPurchaseCost')">
                    <span class="fa fa-chevron-up"
                        *ngIf="sortByField == 'replacementPurchaseCost' && sortByDirection == 'desc'"></span>
                    <span class="fa fa-chevron-down"
                        *ngIf="sortByField == 'replacementPurchaseCost' && sortByDirection == 'asc'"></span>
                    Replacement Purchase Cost
                </th>
                <th class="header-cell" [ngClass]="{'sort-by-active': 'currentEnergyUse' == sortByField}"
                    (click)="setSortByField('currentEnergyUse')">
                    <span class="fa fa-chevron-up"
                        *ngIf="sortByField == 'currentEnergyUse' && sortByDirection == 'desc'"></span>
                    <span class="fa fa-chevron-down"
                        *ngIf="sortByField == 'currentEnergyUse' && sortByDirection == 'asc'"></span>
                    Current Energy Use
                </th>
                <th class="header-cell" [ngClass]="{'sort-by-active': 'currentEnergyCost' == sortByField}"
                    (click)="setSortByField('currentEnergyCost')">
                    <span class="fa fa-chevron-up"
                        *ngIf="sortByField == 'currentEnergyCost' && sortByDirection == 'desc'"></span>
                    <span class="fa fa-chevron-down"
                        *ngIf="sortByField == 'currentEnergyCost' && sortByDirection == 'asc'"></span>
                    Current Energy Cost
                </th>
                <th class="header-cell" [ngClass]="{'sort-by-active': 'currentEmissionOutput' == sortByField}"
                    (click)="setSortByField('currentEmissionOutput')">
                    <span class="fa fa-chevron-up"
                        *ngIf="sortByField == 'currentEmissionOutput' && sortByDirection == 'desc'"></span>
                    <span class="fa fa-chevron-down"
                        *ngIf="sortByField == 'currentEmissionOutput' && sortByDirection == 'asc'"></span>
                    Current Emissions 
                </th>
                <th class="header-cell" [ngClass]="{'sort-by-active': 'rewindEnergyUse' == sortByField}"
                    (click)="setSortByField('rewindEnergyUse')">
                    <span class="fa fa-chevron-up"
                        *ngIf="sortByField == 'rewindEnergyUse' && sortByDirection == 'desc'"></span>
                    <span class="fa fa-chevron-down"
                        *ngIf="sortByField == 'rewindEnergyUse' && sortByDirection == 'asc'"></span>
                    Rewind Energy Use
                </th>
                <th class="header-cell" [ngClass]="{'sort-by-active': 'rewindEnergyCost' == sortByField}"
                    (click)="setSortByField('rewindEnergyCost')">
                    <span class="fa fa-chevron-up"
                        *ngIf="sortByField == 'rewindEnergyCost' && sortByDirection == 'desc'"></span>
                    <span class="fa fa-chevron-down"
                        *ngIf="sortByField == 'rewindEnergyCost' && sortByDirection == 'asc'"></span>
                    Rewind Energy Cost
                </th>
                <th class="header-cell" [ngClass]="{'sort-by-active': 'rewindEmissionOutput' == sortByField}"
                    (click)="setSortByField('rewindEmissionOutput')">
                    <span class="fa fa-chevron-up"
                        *ngIf="sortByField == 'rewindEmissionOutput' && sortByDirection == 'desc'"></span>
                    <span class="fa fa-chevron-down"
                        *ngIf="sortByField == 'rewindEmissionOutput' && sortByDirection == 'asc'"></span>
                    Rewind Emissions 
                </th>
                <th class="header-cell" [ngClass]="{'sort-by-active': 'replacementEnergyUse' == sortByField}"
                    (click)="setSortByField('replacementEnergyUse')">
                    <span class="fa fa-chevron-up"
                        *ngIf="sortByField == 'replacementEnergyUse' && sortByDirection == 'desc'"></span>
                    <span class="fa fa-chevron-down"
                        *ngIf="sortByField == 'replacementEnergyUse' && sortByDirection == 'asc'"></span>
                    Replacement Energy Use
                </th>
                <th class="header-cell" [ngClass]="{'sort-by-active': 'replacementEnergyCost' == sortByField}"
                    (click)="setSortByField('replacementEnergyCost')">
                    <span class="fa fa-chevron-up"
                        *ngIf="sortByField == 'replacementEnergyCost' && sortByDirection == 'desc'"></span>
                    <span class="fa fa-chevron-down"
                        *ngIf="sortByField == 'replacementEnergyCost' && sortByDirection == 'asc'"></span>
                    Replacement Energy Cost
                </th>
                <th class="header-cell" [ngClass]="{'sort-by-active': 'replacementEmissionOutput' == sortByField}"
                    (click)="setSortByField('replacementEmissionOutput')">
                    <span class="fa fa-chevron-up"
                        *ngIf="sortByField == 'replacementEmissionOutput' && sortByDirection == 'desc'"></span>
                    <span class="fa fa-chevron-down"
                        *ngIf="sortByField == 'replacementEmissionOutput' && sortByDirection == 'asc'"></span>
                    Replacement Emissions 
                </th>
                <th class="header-cell" [ngClass]="{'sort-by-active': 'replacementNowPayback' == sortByField}"
                    (click)="setSortByField('replacementNowPayback')">
                    <span class="fa fa-chevron-up"
                        *ngIf="sortByField == 'replacementNowPayback' && sortByDirection == 'desc'"></span>
                    <span class="fa fa-chevron-down"
                        *ngIf="sortByField == 'replacementNowPayback' && sortByDirection == 'asc'"></span>
                    Replace Now Payback
                </th>
                <th class="header-cell" [ngClass]="{'sort-by-active': 'replacementFailPayback' == sortByField}"
                    (click)="setSortByField('replacementFailPayback')">
                    <span class="fa fa-chevron-up"
                        *ngIf="sortByField == 'replacementFailPayback' && sortByDirection == 'desc'"></span>
                    <span class="fa fa-chevron-down"
                        *ngIf="sortByField == 'replacementFailPayback' && sortByDirection == 'asc'"></span>
                    Failure Replacement Payback
                </th>
                <th class="header-cell sticky-right" [ngClass]="{'sort-by-active': 'replaceMotor' == sortByField}"
                    (click)="setSortByField('replaceMotor')">
                    <span class="fa fa-chevron-up"
                        *ngIf="sortByField == 'replaceMotor' && sortByDirection == 'desc'"></span>
                    <span class="fa fa-chevron-down"
                        *ngIf="sortByField == 'replaceMotor' && sortByDirection == 'asc'"></span>
                    Replace or Rewind
                    <br>
                    <span class="small help-text">({{batchAnalysisSettings.paybackThreshold}} yr. payback)</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let batchAnalysisDataItem of batchAnalysisDataItems | batchAnalysisTable:sortByField:sortByDirection:batchAnalysisSettings"
                [ngClass]="{'replace': batchAnalysisDataItem.replaceMotor == 'Replace Now', 'replace-when-fail': batchAnalysisDataItem.replaceMotor == 'Replace When Fail',
            'rewind': batchAnalysisDataItem.replaceMotor == 'Rewind When Fail'}">
                <td class="sticky-left name-cell" (click)="goToMotorItem(batchAnalysisDataItem)">
                    {{batchAnalysisDataItem.motorName}}
                </td>
                <td>
                    {{batchAnalysisDataItem.departmentName}}
                </td>
                <td>
                    <span *ngIf="batchAnalysisDataItem.operatingHours">
                        {{batchAnalysisDataItem.operatingHours}} hrs/yr
                    </span>
                    <span *ngIf="!batchAnalysisDataItem.operatingHours">
                        &mdash;
                    </span>
                </td>
                <td>
                    <span *ngIf="batchAnalysisDataItem.motorSize">
                        {{batchAnalysisDataItem.motorSize}} 
                        <span *ngIf="settings.unitsOfMeasure != 'Metric'">hp</span>
                         <span *ngIf="settings.unitsOfMeasure == 'Metric'">kW</span>
                    </span>
                    <span *ngIf="!batchAnalysisDataItem.motorSize">
                        &mdash;
                    </span>
                </td>
                <td>
                    <span *ngIf="batchAnalysisDataItem.averageLoadFactor">
                        {{batchAnalysisDataItem.averageLoadFactor | number:'1.0-1'}} %
                    </span>
                    <span *ngIf="!batchAnalysisDataItem.averageLoadFactor">
                        &mdash;
                    </span>
                </td>
                <td>
                    <span *ngIf="batchAnalysisDataItem.currentEfficiency">
                        {{batchAnalysisDataItem.currentEfficiency | number:'1.0-1'}} %
                    </span>
                    <span *ngIf="!batchAnalysisDataItem.currentEfficiency">
                        &mdash;
                    </span>
                </td>
                <td>
                    <span *ngIf="batchAnalysisDataItem.rewindCost">
                        {{batchAnalysisDataItem.rewindCost | currency:'USD':'symbol':'2.0-0'}}
                    </span>
                    <span *ngIf="!batchAnalysisDataItem.rewindCost">
                        &mdash;
                    </span>
                </td>
                <td>
                    <span *ngIf="batchAnalysisDataItem.replacementEfficiency">
                        {{batchAnalysisDataItem.replacementEfficiency | number:'1.0-1'}} %
                    </span>
                    <span *ngIf="!batchAnalysisDataItem.replacementEfficiency">
                        &mdash;
                    </span>
                </td>
                <td>
                    <span *ngIf="batchAnalysisDataItem.replacementPurchaseCost">
                        {{batchAnalysisDataItem.replacementPurchaseCost | currency:'USD':'symbol':'2.0-0' }}
                    </span>
                    <span *ngIf="!batchAnalysisDataItem.replacementPurchaseCost">
                        &mdash;
                    </span>
                </td>
                <td>
                    <span *ngIf="batchAnalysisDataItem.currentEnergyUse">
                        {{batchAnalysisDataItem.currentEnergyUse | number:'1.0-0'}} kWh/yr
                    </span>
                    <span *ngIf="!batchAnalysisDataItem.currentEnergyUse">
                        &mdash;
                    </span>
                </td>
                <td>
                    <span *ngIf="batchAnalysisDataItem.currentEnergyCost">
                        {{batchAnalysisDataItem.currentEnergyCost | currency:'USD':'symbol':'2.0-0'}}
                    </span>
                    <span *ngIf="!batchAnalysisDataItem.currentEnergyCost">
                        &mdash;
                    </span>
                </td>
                <td>
                    <span *ngIf="batchAnalysisDataItem.currentEmissionOutput">
                        {{batchAnalysisDataItem.currentEmissionOutput | number:'1.0-0'}} tonne CO<sub>2</sub>
                    </span>
                    <span *ngIf="!batchAnalysisDataItem.currentEmissionOutput">
                        &mdash; tonne CO<sub>2</sub>
                    </span>
                </td>
                <td class="incomplete-cell" colspan="7" *ngIf="!batchAnalysisDataItem.isBatchAnalysisValid">
                    Unable to run batch analysis on motor, data missing:
                    <span class="bold" *ngFor="let missing of batchAnalysisDataItem.missingData; let last=last">
                        {{missing}}<span *ngIf="!last">,</span><span *ngIf="last">.</span>
                    </span>
                    Update the motor item with the proper data to run batch analysis.
                </td>
                <td *ngIf="batchAnalysisDataItem.isBatchAnalysisValid">
                    <span *ngIf="batchAnalysisDataItem.rewindEnergyUse">
                        {{batchAnalysisDataItem.rewindEnergyUse | number:'1.0-0'}} kWh/yr
                    </span>
                    <span *ngIf="!batchAnalysisDataItem.rewindEnergyUse">
                        &mdash;
                    </span>
                </td>
                <td *ngIf="batchAnalysisDataItem.isBatchAnalysisValid">
                    <span *ngIf="batchAnalysisDataItem.rewindEnergyCost">
                        {{batchAnalysisDataItem.rewindEnergyCost | currency:'USD':'symbol':'2.0-0'}}
                    </span>
                    <span *ngIf="!batchAnalysisDataItem.rewindEnergyCost">
                        &mdash;
                    </span>
                </td>
                <td>
                    <span *ngIf="batchAnalysisDataItem.rewindEmissionOutput">
                        {{batchAnalysisDataItem.rewindEmissionOutput | number:'1.0-0'}} tonne CO<sub>2</sub>
                    </span>
                    <span *ngIf="!batchAnalysisDataItem.rewindEmissionOutput">
                        &mdash; tonne CO<sub>2</sub>
                    </span>
                </td>
                <td *ngIf="batchAnalysisDataItem.isBatchAnalysisValid">
                    <span *ngIf="batchAnalysisDataItem.replacementEnergyUse">
                        {{batchAnalysisDataItem.replacementEnergyUse | number:'1.0-0'}} kWh/yr
                    </span>
                    <span *ngIf="!batchAnalysisDataItem.replacementEnergyUse">
                        &mdash;
                    </span>
                </td>
                <td *ngIf="batchAnalysisDataItem.isBatchAnalysisValid">
                    <span *ngIf="batchAnalysisDataItem.replacementEnergyCost">
                        {{batchAnalysisDataItem.replacementEnergyCost | currency:'USD':'symbol':'2.0-0'}}
                    </span>
                    <span *ngIf="!batchAnalysisDataItem.replacementEnergyCost">
                        &mdash;
                    </span>
                </td>
                <td>
                    <span *ngIf="batchAnalysisDataItem.replacementEmissionOutput">
                        {{batchAnalysisDataItem.replacementEmissionOutput | number:'1.0-0'}} tonne CO<sub>2</sub>
                    </span>
                    <span *ngIf="!batchAnalysisDataItem.replacementEmissionOutput">
                        &mdash; tonne CO<sub>2</sub>
                    </span>
                </td>
                <td *ngIf="batchAnalysisDataItem.isBatchAnalysisValid">
                    <span *ngIf="batchAnalysisDataItem.replacementNowPayback">
                        {{batchAnalysisDataItem.replacementNowPayback | number:'1.0-0'}} yrs
                    </span>
                    <span *ngIf="!batchAnalysisDataItem.replacementNowPayback">
                        &mdash;
                    </span>
                </td>
                <td *ngIf="batchAnalysisDataItem.isBatchAnalysisValid">
                    <span *ngIf="batchAnalysisDataItem.replacementFailPayback">
                        {{batchAnalysisDataItem.replacementFailPayback | number:'1.0-0'}} yrs
                    </span>
                    <span *ngIf="!batchAnalysisDataItem.replacementFailPayback">
                        &mdash;
                    </span>
                </td>
                <td class="sticky-right" *ngIf="batchAnalysisDataItem.isBatchAnalysisValid" [ngClass]="{'replace': batchAnalysisDataItem.replaceMotor == 'Replace Now', 'replace-when-fail': batchAnalysisDataItem.replaceMotor == 'Replace When Fail',
            'rewind': batchAnalysisDataItem.replaceMotor == 'Rewind When Fail'}">
                    {{batchAnalysisDataItem.replaceMotor}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="sticky-left">
    <app-exportable-results-table class="pull-right" [tableString]="tableString"
        (updateTableString)="updateTableString()">
    </app-exportable-results-table>
</div>