<div class="d-flex h-100 modify-conditions steam standalone-calculator">
  <div class="d-flex flex-column modification w-50 mh-100 scroll-item">
    <div #leftPanelHeader class="d-flex header mr-2 ml-2 pb-1 pt-1 align-items-center">
      <div class="col-md-auto">
        <img src="assets/images/calculator-icons/steam-icons/boiler.png" class="ico-size steam p-1">
      </div>
      <h3>Boiler Calculator</h3>
    </div>
    <div class="d-flex flex-column m-4">
      <app-boiler-form *ngIf="boilerForm" [boilerForm]="boilerForm" [settings]="settings" (emitChangeField)="changeField($event)"
        (emitCalculate)="calculate($event)"></app-boiler-form>
      <div class="w-100 justify-content-center btn-group btn-group-sm">
        <button type="button" class="btn btn-danger pull-right btn-sm btn-margin-10" (click)="btnResetData()">
          Reset Data
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column w-50 scroll-item mh-100">
    <div class="d-flex flex-wrap tabs primary mr-2 ml-2 sticky-top" [ngStyle]="{'height.px': headerHeight}">
      <div class="flex-fill panel-tab-item h-100" [ngClass]="{'active': tabSelect == 'results'}">
        <a class="border-left-0 h-100 d-flex justify-content-center align-items-center" (click)="setTab('results')">
          <div>Results</div>
        </a>
      </div>
      <div class="flex-fill panel-tab-item h-100" [ngClass]="{'active': tabSelect == 'help'}">
        <a class="h-100 d-flex justify-content-center align-items-center" (click)="setTab('help')">
          <div>Help</div>
        </a>
      </div>
    </div>
    <div class="d-flex">
      <app-boiler-help class="w-100" *ngIf="tabSelect == 'help'" [currentField]="currentField" [settings]="settings"
        [thermodynamicQuantity]="input.thermodynamicQuantity"></app-boiler-help>
      <div class="d-flex flex-column w-100 align-items-center pt-4" *ngIf="tabSelect == 'results'">
        <app-boiler-results [results]="results" [settings]="settings" [inputData]="input"></app-boiler-results>
      </div>
    </div>
  </div>
</div>