<form *ngIf="form" [formGroup]="form" class="p-0">
    <div class="checkbox">
        <label class="group-label" for="increaseChilledWaterTemperatureSetpoint">
            Apply Variable Speed Control to Chilled and/or Condenser Water Pumps
        </label>
    </div>

    <div class="row no-gutters mt-3">
        <div class="col-6 pr-2">
            <div class="form-group">
                <label for="baselineChilledWaterVariableFlow">Chilled Water Pump</label>
                <select id="baselineChilledWaterVariableFlow" class="form-control"
                    [value]="baselineChilledWaterVariableFlow ? 'Variable' : 'Constant'" disabled>
                    <option value="Variable">Variable Flow</option>
                    <option value="Constant">Constant Flow</option>
                </select>
            </div>
            @if (baselineCondenserWaterVariableFlow !== undefined) {
            <div class="form-group mt-3">
                <label for="baselineCondenserWaterVariableFlow">Condenser Water Pump</label>
                <select id="baselineCondenserWaterVariableFlow" class="form-control"
                    [value]="baselineCondenserWaterVariableFlow ? 'Variable' : 'Constant'" disabled>
                    <option value="Variable">Variable Flow</option>
                    <option value="Constant">Constant Flow</option>
                </select>
            </div>
            }
        </div>
        <div class="col-6 pl-2">
            <div class="form-group">
                <label class="mb-1 w-100">
                    <input type="checkbox" class="vsd-checkbox mr-2" id="modificationChilledWaterVariableFlow"
                        formControlName="chilledWaterVariableFlow" />
                    Apply VSD
                </label>
            </div>
            @if (baselineCondenserWaterVariableFlow !== undefined) {
            <label class="mb-1 w-100">
                <input type="checkbox" class="vsd-checkbox mr-2" id="modificationCondenserWaterVariableFlow"
                    formControlName="condenserWaterVariableFlow" />
                Apply VSD
            </label>
            }
        </div>
    </div>
</form>