.tab-content p{
    padding-top: 10px;
    text-align: center
}

.form-section{
    padding-bottom: .25rem;
    border-bottom: 1px dashed;
}


.input-group-addon.units{
    border-left: solid 1px;
    border-right: none;
}

.card-footer {
    justify-content: flex-end;
}

.btn-delete-field {
    color: #dc3545;
    margin-left: 2px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: white;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}

.btn-delete-field:hover {
    cursor: pointer;
    color: white;
    background-color: #dc3545;
}

.centered {
    justify-content: center;
}

.section-label {
    padding-bottom: 5px;
    text-align: center;
}

form {
    padding-left: 5px;
}

.click-link {
    padding-left: 5px;
}