
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.test-app {
  color: black;
}

html,
body,
#root {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wc-app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.flow-wrapper {
  flex-grow: 1;
  font-size: 12px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* todo showing not defined */
:root {
  --water-intake: #0792c0;
  --water-using-system: #84c9f1;
  --water-discharge: #666666;
  --water-treatment: #B8B3BE;
  --waster-water-treatment: #BBDB9B;
  --metered-data: black;
  --estimated-data: black;
}



/*  Download Image */
.process-flow-diagram .download-btn {
  border: 1px solid #191919;
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.process-flow-diagram .download-btn:hover {
  opacity: 0.9;
}

.react-flow__panel.left.controls-offset-space {
  position: unset
}



.process-flow-diagram {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}


/* Sidebar */
.process-flow-diagram aside {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;

}

.process-flow-diagram aside .description {
  margin-bottom: 10px;
  font-size: 12px;
}

.process-flow-diagram .dndnode {
  height: 36px;
  padding: 6px;
  border: 4px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.process-flow-diagram .dndnode:hover {
  background: #efefef
}

.process-flow-diagram .dndnode.water-intake {
  border-color: #75a1ff;
}

.process-flow-diagram .dndnode.water-using-system {
  border-color: #b4ffff;
}

.process-flow-diagram .dndnode.water-discharge {
  border-color:  #666666;
}

.process-flow-diagram .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.process-flow-diagram .selectall {
  margin-top: 10px;
}

.sidebar-actions {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
}

.sidebar-actions label {
  cursor: pointer;
  margin: .25rem;
}

.sidebar-action-buttons {
  margin-top: .5rem;
  display: flex;
  align-self: center;
  width: 100%;
}

.sidebar-action-buttons .download-btn {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .process-flow-diagram {
    flex-direction: row-reverse;
  }

  .process-flow-diagram aside {
    width: 20%;
    max-width: 250px;
  }
}

/* End Sidebar */



/* Custom Node Begin */
.react-flow__node-waterIntake,
.react-flow__node-waterUsingSystem,
.react-flow__node-waterDischarge,
.react-flow__node-group {
  padding: 10px;
  border-radius: 3px;
  min-width: 150px;
  font-size: 12px;
  color: #222;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #1a192b;
  background-color: white;
}

.react-flow__node-waterIntake,
.react-flow__node-group {
  /* background-color: var(--water-intake); */
  background-color: #75a1ff;
}

.react-flow__node-waterUsingSystem,
.react-flow__node-group {
  /* background-color: var(--water-using-system); */
  background-color: #b4ffff;
}

.react-flow__node-waterDischarge,
.react-flow__node-group {
  /* background-color: var(--water-discharge); */
  background-color: #666666;
}

.react-flow__node-waterIntake.selectable:hover, .react-flow__node-waterUsingSystem.selectable:hover, .react-flow__node-waterDischarge.selectable:hover, .react-flow__node-group.selectable:hover {
      box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.08);
}

.react-flow__node-waterIntake.selectable.selected,
    .react-flow__node-waterIntake.selectable:focus,
    .react-flow__node-waterIntake.selectable:focus-visible,
    .react-flow__node-waterUsingSystem.selectable.selected,
    .react-flow__node-waterUsingSystem.selectable:focus,
    .react-flow__node-waterUsingSystem.selectable:focus-visible,
    .react-flow__node-waterDischarge.selectable.selected,
    .react-flow__node-waterDischarge.selectable:focus,
    .react-flow__node-waterDischarge.selectable:focus-visible,
    .react-flow__node-group.selectable.selected,
    .react-flow__node-group.selectable:focus,
    .react-flow__node-group.selectable:focus-visible {
      box-shadow: 0 0 0 0.5px #1a192b;
}


.node-inner-input {
  /* background: rgba(255, 255, 255, 0.5); */
  flex-grow: 1;
  position: relative;
  padding: 10px;
  border-radius: 4px;
  height: 100%;
}
/* Custom Node End */