.motor-inventory-container{
    height: 100vh;
}

.motor-inventory .btn-primary{
    background: #84b641;
    color: white;
}

@media print{
    .scroll-item{
        overflow-y: visible;
    }
}


.modal-open{
    z-index: initial !important;
}