<div #content class="motor-inventory-container motor-inventory d-flex flex-column">
    <!--header-->
    <div #header class="w-100 hide-print sticky-top">
        <app-motor-inventory-banner></app-motor-inventory-banner>
    </div>
    <div [ngStyle]="{'height.px': containerHeight}">
        <router-outlet></router-outlet>
    </div>
    <div #footer id="logToolFooter" class="footer hide-print">
        <div class="pull-left" *ngIf="currentTab == 'clean-data'">
            <button class="btn btn-default" (click)="back()">Back</button>
        </div>
        <div class="pull-right">
            <button class="btn btn-primary" (click)="continue()" [disabled]="disableNext">Next</button>
        </div>
    </div>
</div>