/*
.input-row{
  margin-left:25px;
  margin-right:25px;
  margin-bottom:10px;
  margin-top: 10px;
}
*/


.create-btn {
  padding: 8px 10px 6px;
  font-size: 15px;
}



.create-assessment-modal{
  max-width:550px;
}

.tool-select-box{
  border: solid;
  width:100%;
  border-width: 1px;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 35px;
  margin-top: 25px;
}

.type-select{
  margin-top: -20px;
  width: 50%;
  margin-bottom: 10px;
}

.equipment-select{
  margin-bottom: 10px;
}

.not-hidden{
  display: inherit;
}

.assessment-dropdown{
  width: 100%;
}

.assessment-dropdown-item{
  margin-right: 5px;
  margin-left: 5px;
}

.item-hover:hover{
  background-color: lightblue;
}
