
.modal.create-assessment-modal {
  margin-top: 7%;
}

.create-assessment-modal label {
  font-weight: bold;
}
.create-assessment-modal .form-check {
  margin-bottom: 0;
}
.create-assessment-modal label.form-check-label {
  font-weight: normal;
}

.create-assessment-modal input[type=text] {
  width: 100%;
  margin-bottom: 2px;
}

.create-assessment-modal .form-group {
  margin-bottom: 10px;
}

.create-assessment-modal select {
  margin-bottom: 6px;
}

.create-assessment-modal .help-text {
  margin-bottom: 10px;
}
.create-assessment-modal .help-text p {
  margin-bottom: 0;
}

.btn {
  padding: 6px;
}


.phast .btn-primary{
  background-color: #BF3D00;
  border-color: #BF3D00;
  transition: all .5s ease-in-out;
}

.psat .btn-primary{
  background-color: #2980b9;
  transition: all .5s ease-in-out;
}

.ssmt .btn-primary{
  background-color: #F39C12;
  transition: all .5s ease-in-out;
}