@if (assessment && settings) {
  <div #content class="fsat-container d-flex flex-column fsat">
    <div #header class="w-100 hide-print sticky-top">
      <app-fsat-banner [assessment]="assessment"></app-fsat-banner>
      <app-fsat-tabs [settings]="settings" [fsat]="fsat"></app-fsat-tabs>
    </div>

    @if (mainTab == 'baseline') {
      <div class="small-tab-select nav-pills nav-fill" #smallTabSelect>
        <div class="nav-item" (click)="setSmallScreenTab('form')"
          [ngClass]="{'small-screen-active': smallScreenTab === 'form'}">
          @if (stepTab == 'baseline') {
            <a class="nav-link">Assessment Settings</a>
          }
          @if (stepTab == 'fan-operations') {
            <a class="nav-link">Operations</a>
          }
          @if (stepTab == 'fan-setup') {
            <a class="nav-link">Fan and Fluid</a>
          }
          @if (stepTab == 'fan-motor') {
            <a class="nav-link">Motor</a>
          }
          @if (stepTab == 'fan-field-data') {
            <a class="nav-link">Field Data</a>
          }
        </div>
        <div class="nav-item" (click)="setSmallScreenTab('details')"
          [ngClass]="{'small-screen-active': smallScreenTab === 'details'}">
          @if (stepTab != 'fan-setup' && stepTab != 'fan-field-data') {
            <a class="nav-link">Help</a>
          }
          @if (stepTab == 'fan-setup' || stepTab == 'fan-field-data') {
            <a class="nav-link">Details</a>
          }
        </div>
      </div>
    }

    <router-outlet></router-outlet>

    @if (mainTab == 'assessment' || mainTab == 'baseline') {
      <div #footer id="fsatFooter" class="footer hide-print d-none d-lg-block">
        @if (stepTab != 'baseline' || mainTab == 'assessment') {
          <div class="pull-left">
            <button class="btn btn-default" (click)="back()">Back</button>
          </div>
        }
        @if (mainTab == 'baseline' && mainTab != 'assessment') {
          <div class="pull-right">
            <button class="btn btn-primary" [disabled]="!getCanContinue()" (click)="continue()">Next</button>
          </div>
        }
        @if (mainTab == 'assessment') {
          <div class="pull-right">
            <button class="btn btn-primary" (click)="goToReport()">View Report</button>
          </div>
        }
      </div>
    }
  </div>
}

<div bsModal #addNewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addNewModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Add New Scenario</h3>
        <button class="close" (click)="closeAddNewModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        @if (showAdd) {
          <app-add-modification [fsat]="fsat" [modifications]="fsat.modifications"
            (save)="saveNewMod($event)" [settings]="settings"></app-add-modification>
        }
      </div>
    </div>
  </div>
</div>

@if (fsat && fsat.modifications) {
  <div bsModal #changeModificationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="changeModificationModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg list-modal modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Select Scenario</h3>
          <button class="close" (click)="closeSelectModification()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          @if (modListOpen) {
            <app-modification-list [fsat]="fsat" (save)="saveModifications(fsat)" [modificationIndex]="modificationIndex"
              (close)="closeSelectModification()" [settings]="settings"></app-modification-list>
          }
        </div>
      </div>
    </div>
  </div>
}

@if (showUpdateUnitsModal) {
  <app-update-units-modal (emitClose)="closeUpdateUnitsModal()" [assessmentType]="'fsat'"
    (emitShouldUpdateData)="selectUpdateAction($event)" [settings]="settings"></app-update-units-modal>
}

@if (showWelcomeScreen) {
  <app-welcome-screen (emitClose)="closeWelcomeScreen()"></app-welcome-screen>
}

@if (showExportModal) {
  <app-export-modal [inAssessment]="true" [assessment]="assessment" (close)="closeExportModal($event)"></app-export-modal>
}
