.form-card {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 20px 0 grey;    
} 

.btn-group {
    display: block;
    text-align: center;
}

.btn-group .btn-sm {
    font-size: small !important;
}

.btn-margin-10 {
    margin: 10px 0px;
}

.btn-form {
    border-radius: 4px !important;
}   

.form-section{
    border-bottom: #bbb dashed 1px;
    padding-bottom: .5rem;
}

.group-label{
	font-size: 16px;
    text-transform: none;
	letter-spacing: 1px;
	padding-top: 6.5px;
	padding-bottom: 6.5px;
    font-weight: bold;
    margin-bottom: .25rem;
}

.click-link.delete{
    color: red !important;
}

.delete:hover{
    cursor: pointer;
}
