npm_config_target=1.2.3
npm_config_arch=x64
npm_config_target_arch=x64
npm_config_disturl=https://atom.io/download/electron
npm_config_runtime=electron
npm_config_build_from_source=true
HOME=~/.electron-gyp npm install