<form [formGroup]="exhaustGasForm">
  <div class="form-section">
    <div class="form-group">
      <label class="small" for="{{'offGasTemp'+idString}}">Off (Exhaust) Gas Temp</label>
      <div class="input-group" [ngClass]="{'indicate-different': compareOffGasTemp(), 'invalid': exhaustGasForm.controls.offGasTemp.invalid}">
        <input [readonly]="!baselineSelected" name="{{'offGasTemp_'+lossIndex}}" type="number" step="10" class="form-control"
          formControlName="offGasTemp" id="{{'offGasTemp'+idString}}" onfocus="this.select();" (input)="save()" (focus)="focusField('offGasTemp')"
          >
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">&#8457;</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">&#8451;</span>
      </div>
    </div>
  </div>
  <div class="form-section">
    <div class="form-group">
      <label class="small" for="{{'CO'+idString}}">CO</label>
      <div class="input-group" [ngClass]="{'indicate-different': compareCO(), 'invalid': exhaustGasForm.controls.CO.invalid}">
        <input [readonly]="!baselineSelected" name="{{'CO_'+lossIndex}}" type="number" step="any" min="0" max="100"
          class="form-control" formControlName="CO" id="{{'CO'+idString}}" onfocus="this.select();" (input)="save()"
          (focus)="focusField('CO')" >
        <span class="input-group-addon units">%</span>
      </div>
    </div>
    <div class="form-group">
      <label class="small" for="{{'H2'+idString}}">H2</label>
      <div class="input-group" [ngClass]="{'indicate-different': compareH2(), 'invalid': exhaustGasForm.controls.H2.invalid}">
        <input [readonly]="!baselineSelected" name="{{'H2_'+lossIndex}}" type="number" step="any" min="0" max="100"
          class="form-control" formControlName="H2" id="{{'H2'+idString}}" onfocus="this.select();" (input)="save()"
          (focus)="focusField('H2')" >
        <span class="input-group-addon units">%</span>
      </div>
    </div>
    <div class="form-group">
      <label class="small" for="{{'combustibleGases'+idString}}">Combustible Gas as CH4</label>
      <div class="input-group" [ngClass]="{'indicate-different': compareCombustibleGases(), 'invalid': exhaustGasForm.controls.combustibleGases.invalid}">
        <input [readonly]="!baselineSelected" name="{{'combustibleGases_'+lossIndex}}" type="number" step="any" min="0"
          max="100" class="form-control" formControlName="combustibleGases" id="{{'combustibleGases'+idString}}"
          onfocus="this.select();" (input)="save()" (focus)="focusField('combustibleGases')" >
        <span class="input-group-addon units">%</span>
      </div>
    </div>
  </div>
  <div class="form-section">
    <div class="form-group">
      <label class="small" for="{{'vfr'+idString}}">Total Volumetric Flow Rate</label>
      <div class="input-group" [ngClass]="{'indicate-different': compareVfr(), 'invalid': exhaustGasForm.controls.vfr.invalid}">
        <input [readonly]="!baselineSelected" name="{{'vfr_'+lossIndex}}" type="number" step="any" min="0" class="form-control"
          formControlName="vfr" id="{{'vfr'+idString}}" onfocus="this.select();" (input)="save()" (focus)="focusField('vfr')"
          >
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">cfm</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">m<sup>3</sup>/min</span>
      </div>
    </div>
    <div class="form-group">
      <label class="small" for="{{'dustLoading'+idString}}">Dust Loading</label>
      <div class="input-group" [ngClass]="{'indicate-different': compareDustLoading(), 'invalid': exhaustGasForm.controls.dustLoading.invalid}">
        <input [readonly]="!baselineSelected" name="{{'dustLoading_'+lossIndex}}" type="number" step="any" min="0"
          class="form-control" formControlName="dustLoading" id="{{'dustLoading'+idString}}" onfocus="this.select();"
          (input)="save()" (focus)="focusField('dustLoading')" >
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">lb/scf</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">kg/Nm<sup>3</sup></span>
      </div>
    </div>
  </div>
</form>