.my-content-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Fill parent (.tab-content) */
}

.main-content{
  flex: 1 1 auto;
  min-height: 0; /* Important for flex scroll */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}