<div class="pump-head">
  <div class="row">
    <div class="col-md-4 col-sm-12 mx-auto">
      <app-cash-flow-form [cashFlowForm]="cashFlowForm" (emitCalculate)="calculate()" (changeField)="setField($event)"></app-cash-flow-form>
    </div>
    <div class="col-md-5 col-sm-12 mx-auto">
      <ul class="tabs primary text-center">
        <li class="calc-tab" [ngClass]="{'active': tabSelect == 'results'}">
          <a (click)="setTab('results')">Results</a>
        </li><!--
      --><li class="calc-tab" [ngClass]="{'active': tabSelect == 'help'}">
          <a (click)="setTab('help')">Help</a>
        </li>
      </ul>
      <div class="tab-content curve-results" id="pumpCurveGraph">
        <div *ngIf="tabSelect == 'results'">
           <app-cash-flow-diagram [cashFlowResults]="cashFlowResults"></app-cash-flow-diagram>
        </div>
        <div *ngIf="tabSelect == 'help'" class="help-panel">
          <app-cash-flow-help [currentField]="currentField"></app-cash-flow-help>
        </div>
      </div>
    </div>
  </div>

</div>

