<div class="explore-opportunities">
  <h2>Designed Energy Use (Electricity)</h2>
  <p>DESCRIPTION</p>
  <ul>
    <li>
      <ul>
        <li>
          <form>
            <div class="form-group">
              <label for="kwRating">kW Rating for all sections</label>
              <div class="input-group">
                <input name="kwRating" type="number" step="any" id="heatingValue" class="form-control" (focus)="focusField('kwRating')" [(ngModel)]="inputs.kwRating"
                  (input)="calculate()" onfocus="this.select();" />
                <span class="input-group-addon units">kW</span>
              </div>
            </div>
          </form>
        </li>
        <li>
          <form>
            <div class="form-group">
              <label for="percentCapacityUsed">% of Rated Capacity Used</label>
              <div class="input-group">
                <input name="percentCapacityUsed" type="number" step="any" id="flowRate" class="form-control" (focus)="focusField('percentCapacityUsed')"
                  [(ngModel)]="inputs.percentCapacityUsed" (input)="calculate()" onfocus="this.select();" />
                <span class="input-group-addon units">%</span>
              </div>
            </div>
          </form>
        </li>
        <li>
          <form>
            <div class="form-group">
              <label for="percentOperatingHours">% of Operating Hours</label>
              <div class="input-group">
                <input name="percentOperatingHours" type="number" step="any" id="percentOperatingHours" class="form-control" (focus)="focusField('percentOperatingHours')"
                  [(ngModel)]="inputs.percentOperatingHours" (input)="calculate()" onfocus="this.select();" />
                <span class="input-group-addon units">%</span>
              </div>
            </div>
          </form>
        </li>
      </ul>
    </li>
  </ul>
</div>