<div class="card dark-bg baseline-card">
  <div class="card-header baseline-name" (click)="selectBaseline()">
    Baseline
  </div>
  <!--<div class="card-block">
    <!-- PUMP / FLUID
    <div class="card">-->
      <div class="card-header">
        PUMP / FLUID
      </div>
      <div class="card-block row">
        <div class="col-7">
          Pump Type
          <br> Pump RPM
          <br> Drive
          <br> Kinematic Viscosity
          <br> Specific Gravity
          <br> Stages
          <br> Fixed specific speed?
        </div>
        <div class="col-5">
          {{baseline.inputs.pump_style}}
          <br> {{baseline.inputs.pump_rated_speed}}
          <br> {{baseline.inputs.drive}}
          <br> {{baseline.inputs.kinematic_viscosity}}
          <br> {{baseline.inputs.specific_gravity}}
          <br> {{baseline.inputs.stages}}
          <br> {{baseline.inputs.fixed_speed}}
        </div>
      </div>
    <!--</div>
    <!-- MOTOR
    <div class="card">-->
      <div class="card-header">
        MOTOR
      </div>
      <div class="card-block row">
        <div class="col-7">
          Line Frequency
          <br>Horse Power
          <br>Motor RPM
          <br>Efficiency Class
          <br>Voltage
          <br>Full-Load Amps
          <br>Size Margin
        </div>
        <div class="col-5">
          {{baseline.inputs.line_frequency}}
          <br>{{baseline.inputs.motor_rated_power}}
          <br>{{baseline.inputs.motor_rated_speed}}
          <br>{{baseline.inputs.efficiency_class}}
          <br>{{baseline.inputs.motor_rated_voltage}}
          <br>{{baseline.inputs.full_load_amps}}
          <br>{{baseline.inputs.margin}}
        </div>
      </div>
    <!--</div>

    <!-- FIELD DATA
    <div class="card">-->
      <div class="card-header">
        FIELD DATA
      </div>
      <div class="card-block row">
        <div class="col-7">
          Operating Fraction
          <br>Cost (kw/hr)
          <br>Flow Rate (gpm)
          <br>Head
          <br>Load Estimated Method
          <br>Motor (kW)
          <br>Voltage
        </div>
        <div class="col-5">
          {{baseline.inputs.operating_fraction}}
          <br>{{baseline.inputs.cost_kw_hour}}
          <br>{{baseline.inputs.flow_rate}}
          <br>{{baseline.inputs.head}}
          <br>{{baseline.inputs.load_estimation_method}}
          <br>{{baseline.inputs.motor_field_current}}
          <br>{{baseline.inputs.motor_field_voltage}}
        </div>
      </div>
    </div>
<!--  </div>
</div>-->