.output-summary .table {
    font-size: small;
}

.output-summary .table th {
    border: none;
    padding: 0px 10px;
    padding: 0;
}

.output-summary .table td {
    padding: 2px 8px;
    vertical-align: middle;
}

.section-header{
    font-size: 16px !important;
}