<div class="card treasure-hunt h-100">
  <div class="card-header">
    <h3>Treasure Hunt</h3>
    <span>
      <span>{{numTreasureHunt}}</span>
    </span>
  </div>
  <div class="card-body">
    <div class="row no-gutters justify-content-center my-auto">
      <div class="col-6">
        <dl class="summary-list mx-auto">
          <dt>Annual Cost Savings</dt>
          <dd>
            <span *ngIf="settings.currency !== '$'">
              {{totalSavings| currencyThousands }}
          </span>
          <span *ngIf="settings.currency === '$'">
            {{totalSavings| currency:'USD':'symbol':'2.0-0'}}
        </span>
          </dd>
        </dl>
        
      </div>
      <div class="col-6">
        <dl class="summary-list mx-auto">
          <dt>Annual Cost</dt>
          <dd>
            <span *ngIf="settings.currency !== '$'">
              {{totalCost| currencyThousands }}
          </span>
          <span *ngIf="settings.currency === '$'">
            {{totalCost| currency:'USD':'symbol':'2.0-0'}}
        </span>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="card-footer">
    Click for details
  </div>
</div>