.percent-chart-container{
    display: block;
}

h1 {
    animation-name: value-entrance;
    animation-duration: 3.5s;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
}

#chart {
    width: 150px;
    height: 150px;    
}

/* don't do anything fancy when hovering */
#chart .c3-defocused.c3-target {
    opacity: 1 !important;
}

#chart text {
    fill: rgb(175, 51, 51);
}

#chart .c3-chart-arcs-title {
    fill: rgb(11, 109, 35);
    font-size: 3em;
}

@keyframes value-entrance{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 100;}
}


