.percent-chart-container{
    display: block;
}

h1 {
    animation-name: value-entrance;
    animation-duration: 3.5s;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
}

#chart {
    width: 100%;
    min-width: 200px;
    min-height: 250px;    
}

/* don't do anything fancy when hovering */
#chart .c3-defocused.c3-target {
    opacity: 1 !important;
}


@keyframes value-entrance{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 100;}
}


