.results{
    padding-top: 20px;
    overflow-x: auto;
    background: #fff;
}

.assessment-title{
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: -14px;
}

.date-modified{
    color: #999;
    font-size: 12px;
}

@media print {
    .date-modified {
        font-size: 18px;
    }

    .print-height{
        height: 100% !important;
    }
}