<div bsModal #versionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="versionModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">
    <div class="modal-content card">
      <div class="modal-header">
        <h3>Release Notes for v{{versionNum}}</h3>
        <button class="close" (click)="hideVersionModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body scroll-item">
        <label>Application</label>
        <ul>
          <li>Fixed: Changed name of the tool as it appears in Start Menus to MEASUR</li>
        </ul>
        <label>Pumps</label>
        <ul>
          <li>Fixed: Several bugs regarding warnings</li>
        </ul>
        <label>Fans</label>
        <ul>
          <li> Fixed: Several bugs regarding warnings</li>
        </ul>
        <label>Calculators</label>
        <ul>
          <li> Enhanced: Validation logic and warnings for pump and fan calculators</li>
          <li> Fixed: Bug regarding calculation of fluid power for pump curve, fan curve and the two system curve calculators</li>
        </ul>
        <label>Known Issues</label>
        <ul>
          <li>The Mac and Linux releases have significantly slower app start times than in previous builds</li>
          <li>Renaming an export in Windows Download menu can delete the file extension (.json)</li>
          <li>Assessments made in a previous release may experience errors</li>
          <li>Import files made in a previous release will not be useable</li>
        </ul>
      </div>
    </div>
  </div>
</div>