td, a{
    font-size: small;
  }
  
  td{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  
.summary-rollup{
    padding: 6px;
  }

  .group-label{
    border-bottom: #566573 groove 2px;
  }
  
  .modal-dialog{
      max-width: 750px;
  }

.btn{
  padding: 6px;
}

.help-text{
  padding-top:4px;
  text-align: center;
}

.card{
  border: none;
}

.table{
  margin-bottom: 0px;
}

.group-label{
  font-size: 14px;
  padding-bottom: 0px;
}

.table.responsive-table{
  min-width: 545px;
}

.table-responsive-lg::-webkit-scrollbar-thumb{
	background-color: #156739;
}

.table-responsive-lg::-webkit-scrollbar{
	background-color: #9da19f;
	width: .3em;
  height: .3rem;
}