
<div class="row" *ngIf="settings" [ngClass]="{'standalone-calc': !inPsat}">


  <div class="col-md-2 col-sm-12 calc-form">
        <app-system-curve-form [psat]="psat" [settings]="settings" [(pointOne)]="pointOne" [(pointTwo)]="pointTwo" [(curveConstants)]="curveConstants"
          (calculate)="calculateValues()" (calculateP1)="calculateP1Flow()" (calculateP2)="calculateP2Flow()"></app-system-curve-form>
  </div>


  <div *ngIf="!inPsat" id="systemCurveGraph" class="col-md-7 col-sm-12 calc-graph">
    <app-system-curve-graph [lossCoefficient]="lossCoefficient" [settings]="settings" [staticHead]="staticHead" [pointOne]="pointOne"
      [pointTwo]="pointTwo" [curveConstants]="curveConstants"></app-system-curve-graph>
  </div>


  <div *ngIf="inPsat" class="col-md-7 col-sm-12 calc-graph">
    <div id="systemCurveGraph">
    	<app-system-curve-graph [lossCoefficient]="lossCoefficient" [settings]="settings" [staticHead]="staticHead" [pointOne]="pointOne"
          [pointTwo]="pointTwo" [curveConstants]="curveConstants"></app-system-curve-graph>
    </div>
  </div>


  <div *ngIf="!inPsat" class="col-md-3 col-sm-12">
  	<div class="calc-help">

	  	<h3>Help</h3>
	  	<p>Body text here</p>
	  	<ul>
	  		<li>bullet</li>
	  		<li>bullet</li>
	  		<li>bullet</li>
	  	</ul>
	  	<ol>
	  		<li>ordered bullets</li>
	  		<li>ordered bullets</li>
	  		<li>ordered bullets</li>
	  		<li>ordered bullets</li>
	  	</ol>

	</div>
  </div>



</div>