a:not([href]):not([tabindex]):hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

a:not([href]):not([tabindex]){
    color: blue;
}


.reset-link{
    padding: 10px;
}

.reset-btn{
    padding: 6px;
}

.btn-col{
    padding-top: 20px;
}