.group-label{
    font-size: 15px;
    text-transform: none;
}

.print-container {
    page-break-before: always;
    page-break-inside: avoid;
    width: 1000px;
}

@media print {
    .page-break-before{
        page-break-before: auto;
    }
    .print-avoid-break{
        page-break-inside: avoid;
    }
}