<form [formGroup]="psatForm" *ngIf="psatForm">
  <div *ngIf="inSetup" class="d-flex flex-column">
    <div class="header mr-2 ml-2">
      <h3>Field Data</h3>
    </div>
  </div>

  <div [ngClass]="{'p-4': inSetup, 'p-3': !inSetup }">
    <div class="form-group" [ngClass]="{'indicate-different': isOperatingHoursDifferent(), 'invalid': psatForm.controls.operatingHours.invalid}">
      <label for="{{'operatingHours_'+idString}}">Operating Hours</label>
      <div class="input-group">
        <input [readonly]="!selected" name="operatingHours" type="number" min="0" max="1" step="any" class="form-control"
          formControlName="operatingHours" id="{{'operatingHours_'+idString}}" (input)="save()" (focus)="focusField('operatingHours')"
          onfocus="this.select();">
          <span class="input-group-addon units">hrs/yr</span>
      </div>
      <span class="alert-danger pull-right small" *ngIf="psatForm.controls.operatingHours.invalid && !psatForm.controls.operatingHours.pristine">
        <span *ngIf="psatForm.controls.operatingHours.errors.required">Value Required</span>
        <span *ngIf="psatForm.controls.operatingHours.errors.max">Value can't be greater than
          {{psatForm.controls.operatingHours.errors.max.max}} hrs/yr.</span>
        <span *ngIf="psatForm.controls.operatingHours.errors.min">Value can't be less than
          {{psatForm.controls.operatingHours.errors.min.min}} hrs/yr.</span>
      </span>
    </div>

    <div class="form-group" [ngClass]="{'indicate-different': isCostKwhrDifferent(), 'invalid': psatForm.controls.costKwHr.invalid}">
      <label for="{{'costKwHr_'+idString}}">Electricity Cost</label>
      <div class="input-group">
        <input [readonly]="!selected" name="costKwHr" type="number" min="0" max="1" step="any" class="form-control"
          formControlName="costKwHr" id="{{'costKwHr_'+idString}}" (input)="save()" (focus)="focusField('costKwHr')"
          onfocus="this.select();">
        <span class="input-group-addon units">$/kWh</span>
      </div>
      <span class="alert-danger pull-right small" *ngIf="psatForm.controls.costKwHr.invalid && !psatForm.controls.costKwHr.pristine">
        <span *ngIf="psatForm.controls.costKwHr.errors.required">Value Required</span>
        <span *ngIf="psatForm.controls.costKwHr.errors.max">Value can't be greater than
          {{psatForm.controls.costKwHr.errors.max.max}} $/kWh.</span>
        <span *ngIf="psatForm.controls.costKwHr.errors.min">Value can't be less than
          {{psatForm.controls.costKwHr.errors.min.min}} $/kWh.</span>
      </span>
    </div>

    <div class="form-group" [ngClass]="{'indicate-different': isFlowRateDifferent(),'error': fieldDataWarnings.flowError !== null, 'invalid': psatForm.controls.flowRate.invalid}">
      <label for="{{'flowRate_'+idString}}">Flow Rate</label>
      <div class="input-group">
        <input [readonly]="!selected" name="flowRate" type="number" min="0" step="any" class="form-control"
          formControlName="flowRate" id="{{'flowRate_'+idString}}" (input)="save()" (focus)="focusField('flowRate')"
          onfocus="this.select();">
        <span class="input-group-addon units" [innerHTML]="getDisplayUnit(settings.flowMeasurement)"></span>
      </div>
      <span class="alert-danger pull-right small" *ngIf="psatForm.controls.flowRate.invalid && !psatForm.controls.flowRate.pristine">
        <span *ngIf="psatForm.controls.flowRate.errors.required">Value Required</span>
        <span *ngIf="psatForm.controls.flowRate.errors.max">Value can't be greater than
          {{psatForm.controls.flowRate.errors.max.max}} <span [innerHTML]="getDisplayUnit(settings.flowMeasurement)"></span>.</span>
        <span *ngIf="psatForm.controls.flowRate.errors.min">Value can't be less than
          {{psatForm.controls.flowRate.errors.min.min}} <span [innerHTML]="getDisplayUnit(settings.flowMeasurement)"></span>.</span>
      </span>
      <span class="alert-warning pull-right small" *ngIf="fieldDataWarnings.flowError !== null && !psatForm.controls.flowRate.invalid && !psatForm.controls.flowRate.pristine">{{fieldDataWarnings.flowError}} <span [innerHTML]="getDisplayUnit(settings.flowMeasurement)"></span>.</span>
    </div>

    <div class="form-group" [ngClass]="{'indicate-different': isHeadDifferent(), 'invalid': psatForm.controls.head.invalid}">
      <label for="{{'head_'+idString}}">
        Head
        <a class="form-text small click-link" [ngClass]="{'disabled-link': !selected}" (click)="showHeadToolModal()">Calculate
          Head</a>
      </label>
      <div class="input-group">
        <input [readonly]="!selected" name="head" type="number" min="0.1" step="any" class="form-control"
          formControlName="head" id="{{'head_'+idString}}" (input)="save()" (focus)="focusField('head')" onfocus="this.select();">
        <span class="input-group-addon units" [innerHTML]="getDisplayUnit(settings.distanceMeasurement)"></span>
      </div>
      <span class="alert-danger pull-right small" *ngIf="psatForm.controls.head.invalid && !psatForm.controls.head.pristine">
        <span *ngIf="psatForm.controls.head.errors.required">Value Required</span>
        <span *ngIf="psatForm.controls.head.errors.max">Value can't be greater than
          {{psatForm.controls.head.errors.max.max}} <span [innerHTML]="getDisplayUnit(settings.distanceMeasurement)"></span>.</span>
        <span *ngIf="psatForm.controls.head.errors.min">Value can't be less than
          {{psatForm.controls.head.errors.min.min}} <span [innerHTML]="getDisplayUnit(settings.distanceMeasurement)"></span>.</span>
      </span>
    </div>

    <div class="form-group" *ngIf="baseline">
      <label for="{{'loadEstimatedMethod_'+idString}}">Load Estimation Method</label>
      <select name="loadEstimatedMethod" class="form-control" formControlName="loadEstimatedMethod" id="{{'loadEstimatedMethod_'+idString}}"
        (change)="changeLoadMethod()" (focus)="focusField('loadEstimatedMethod')">
        <option *ngFor="let method of loadEstimateMethods" [ngValue]="method.value">{{method.display}}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="psatForm.controls.loadEstimatedMethod.value == 0 && baseline" [ngClass]="{'error': fieldDataWarnings.ratedPowerError !== null, 'invalid': psatForm.controls.motorKW.invalid}">
      <label for="{{'motorKW_'+idString}}">Motor Power</label>
      <div class="input-group">
        <input [readonly]="!selected" name="motorKW" type="number" min="0" step="any" class="form-control"
          formControlName="motorKW" id="{{'motorKW_'+idString}}" (input)="save()" (focus)="focusField('motorPower')"
          onfocus="this.select();">
        <span class="input-group-addon units">kW</span>
      </div>
      <span class="alert-danger pull-right small" *ngIf="psatForm.controls.motorKW.invalid && !psatForm.controls.motorKW.pristine">
        <span *ngIf="psatForm.controls.motorKW.errors.required">Value Required</span>
      </span>
      <span class="alert-warning pull-right small" *ngIf="fieldDataWarnings.ratedPowerError !== null && !psatForm.controls.motorKW.invalid && !psatForm.controls.motorKW.pristine">{{fieldDataWarnings.ratedPowerError}}</span>
    </div>

    <div class="form-group" *ngIf="psatForm.controls.loadEstimatedMethod.value == 1 && baseline" [ngClass]="{'error': fieldDataWarnings.ratedPowerError !== null, 'invalid': psatForm.controls.motorAmps.invalid}">
      <label for="{{'motorAmps_'+idString}}">Motor Current</label>
      <div class="input-group">
        <input [readonly]="!selected" name="motorAmps" type="number" min="0" step="any" class="form-control"
          formControlName="motorAmps" id="{{'motorAmps_'+idString}}" (input)="save()" (focus)="focusField('motorPower')"
          onfocus="this.select();">
        <span class="input-group-addon units">A</span>
      </div>
      <span class="alert-danger pull-right small" *ngIf="psatForm.controls.motorAmps.invalid && !psatForm.controls.motorAmps.pristine">
        <span *ngIf="psatForm.controls.motorAmps.errors.required">Value Required</span>
      </span>
      <span class="alert-warning pull-right small" *ngIf="fieldDataWarnings.ratedPowerError !== null && !psatForm.controls.motorAmps.invalid && !psatForm.controls.motorAmps.pristine">{{fieldDataWarnings.ratedPowerError}}</span>
    </div>

    <div class="form-group" *ngIf="baseline" [ngClass]="{'error': fieldDataWarnings.voltageError !== null, 'invalid': psatForm.controls.measuredVoltage.invalid}">
      <label for="{{'measuredVoltage_'+idString}}">Measured Voltage</label>
      <div class="input-group">
        <input [readonly]="!selected" name="measuredVoltage" type="number" min="1" step="any" class="form-control"
          formControlName="measuredVoltage" id="{{'measuredVoltage_'+idString}}" (input)="save()" (focus)="focusField('measuredVoltage')"
          onfocus="this.select();">
        <span class="units">V</span>
      </div>
      <span class="alert-danger pull-right small" *ngIf="psatForm.controls.measuredVoltage.invalid && !psatForm.controls.measuredVoltage.pristine">
        <span *ngIf="psatForm.controls.measuredVoltage.errors.required">Value Required</span>
      </span>
      <span class="alert-warning pull-right small" *ngIf="fieldDataWarnings.voltageError !== null && !psatForm.controls.measuredVoltage.invalid && !psatForm.controls.measuredVoltage.pristine">{{fieldDataWarnings.voltageError}}</span>
    </div>
  </div>
  <div class="pl-3 pr-3" *ngIf="!baseline">
    <div class="form-group">
      <label for="{{'implementationCosts_'+idString}}">Implementation Costs</label>
      <div class="input-group">
        <input [readonly]="!selected" name="implementationCosts" type="number" min="0" step="any" class="form-control"
          formControlName="implementationCosts" id="{{'implementationCosts_'+idString}}" (input)="save()" (focus)="focusField('implementationCosts')"
          onfocus="this.select();">
        <span class="units">$</span>
      </div>
    </div>
  </div>
</form>

<!-- HEAD TOOL MODAL -->
<div bsModal #headToolModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createHeadToolLabel"
  aria-hidden="true" [config]="{backdrop: 'fixed'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="hideHeadToolModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0">
        <app-head-tool [headToolResults]="headToolResults" [psat]="psat" [settings]="settings" (close)="hideHeadToolModal()"
          [inAssessment]="true" [assessmentId]="assessment.id"></app-head-tool>
      </div>
    </div>
  </div>
</div>