
.invalid{
    border-color: red;
}

.valid{
    border-color: green;
}

.warning{
  border-color:darkorange;
}


.modal-dialog{
    top: 0;
    max-width: none;
    margin: 15px;
}


.modal-body{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ececec;
}

.modal-header{
    background-color: #2980b9;
}

.fa-square-o, .fa-check-square-o{
    /* font-size: 22px; */
}
.fa-square-o:hover, .fa-check-square-o:hover{
    font-weight: bold;
    cursor: pointer;
}

.form-group.opt-group label{
    width: 100%;
}
