<div class="data-setup d-flex flex-column justify-content-center scroll-item">
    <div class="w-75 mx-auto">
        <p class="de-description">
            The Data Exploration module is designed to help users establish Day Types for equipment analysis
            incorporating multiple operating types (e.g. Compressed Air Assessments).
            It also provides a robust Data Visualization component to allow users
            to create scatter plots and histograms of their data.
        </p>
    </div>

    <div class="d-block">
        <hr>
    </div>

    <div>
        <div class="d-flex flex-row justify-content-center py-2 px-5 w-100">
            <div class="d-block p-2 align-items-center">
                <div class="calc-icon d-flex p-2 justify-content-center align-items-center">
                    <img src="assets/images/multi-upload.png" class="img-width">
                </div>
                <button class="btn btn-primary small px-5 mx-3" (click)="importFileRef.click()">
                    <span>Upload Files</span>
                    <input class="import-file p-2" id="importFile" type="file" #importFileRef id="importFileRef"
                        (input)="setImportFiles($event.target.files)" multiple accept=".xlsx, .csv">
                </button>
            </div>
            <div class="d-block text-left alert alert-info small pl-2 pt-2 pb-0 help-container scroll-item">
                <label class="bold m-1">Import .csv or .xlsx files from your file system.</label>
                <ul class="pl-3">
                    <li class="">The Refine Data and Map Data steps will allow you to modify imported data.</li>
                    <li class="">Time stamps are required for Day Type Analysis.
                        <ul>
                            <li>Click <i>Show Day Type Analysis Help</i> for more information.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-2">
            <label *ngIf="!explorerData.isStepFileUploadComplete" for="importJson" class="font-reset"><a
                    class="click-link">Import Existing Data Exploration</a></label>
            <label *ngIf="explorerData.isStepFileUploadComplete" class="font-reset disabled-link"><a>Import Existing
                    Data Exploration</a></label>
            <input id="importJson" class="d-none" type="file" (input)="importExistingExplorerJson($event.target.files)"
                accept=".json">
        
            <div class="pl-2 mr-2 border-right"></div>
        
            <a class="click-link" (click)="useExampleData()"
                [ngClass]="{'disabled-link': explorerData.isStepFileUploadComplete}">Load Example Data</a>
        </div>
        <div class="w-75 mx-auto">
            <app-date-format-help></app-date-format-help>
            <div class="d-block">
                <hr class="my-1">
            </div>
        </div>
    
</div>


    <div *ngIf="invalidFileReferences.length !== 0" class="w-75 align-self-center alert alert-danger small px-0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="no-border-top">
                        Error Uploading File
                    </th>
                    <!-- <th class="no-border-top">
                    </th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fileError of invalidFileReferences; let index = index;">
                    <td>
                        <u>{{fileError.name}}</u>
                    </td>
                    <td>
                        {{fileError.message}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="explorerData.isStepFileUploadComplete" class="w-75 align-self-center px-5 mb-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="no-border-top">
                        File Upload Preview
                    </th>
                    <th class="no-border-top">
                        <!-- Remove -->
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of explorerData.fileData; let index = index;">
                    <td>
                        {{data.name}}
                    </td>
                    <td class="text-center">
                        <a class="click-link danger" (click)="removefileReference(index)">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>