
td, th{
    font-size: small;
    border-right: solid 1px darkgray;
    border-left: solid 1px darkgray;
    padding: 3px;
    white-space: nowrap;
  }
  
  /* tr > td:first-child {
    border-right: none;
  }
   */
  
  table {
    /* box-shadow: 0 4px 8px 0 grey */
    border-bottom: solid 1px darkgray;
  }
  

  .compressor-name-row{
      background-color: lightgray !important;
  }

  select.form-control{
    width: auto;
  }

  .print-container {
    page-break-before: always;
    page-break-inside: avoid;
    width: fit-content;
  }