.vertical {
  display: inline;
  border: 0.5px solid grey;
}

.btn-margin-10 {
  margin: 10px 0px;
}

.col-item-br {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.result-card {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 20px 0 grey;
}
table {
    overflow: auto;
  }

td {
  font-size: small;
}

td {
  padding: 0.25em;
}

