.img-icon{
    width: 40px;
}

.h2-name{
    font-weight: 400;
    font-size: 20px;
}

.home-nav-item, .home-nav-item a{
    color: black;
    border-color: black !important;
}

.banner{
   color: black;
}
