<div class="row no-gutters">
    <div class=" col-12 pr-2 pl-2">
        <div class="header">
            <div class="h3">Settings</div>
        </div>
    </div>
    <div class="col-12">
        <app-application-settings [settingsForm]="settingsForm" [inPhast]="true" [inTreasureHunt]="true"
            (startSavePolling)="save()" [inInventory]="true">
        </app-application-settings>
    </div>
    
    <div class="col-12"
    *ngIf="co2SavingsData">
      <app-assessment-co2-savings 
      [co2SavingsData]="co2SavingsData"
      [isFormDisabled]="false"
      [inBaseline]="true"
      (emitCurrentField)="focusField($event)"
      (emitUpdateCo2SavingsData)="updateCo2SavingsData($event)" 
      ></app-assessment-co2-savings>
    </div>

</div>