<div class="modify-conditions panel-container row fsat">
    <div class="col-12">
        <div class="row align-items-top calculator-panel">
            <div class="modification panel-column col-6 align-top">
                <div class="header">
                    <h3>
                        <!-- <img src="assets/images/pump-eff.png" class="ico-size">-->Operating Points Calculator</h3>
                </div>
                <div class="row" *ngIf="formSelect == 'none'">
                    <div class="col-12">
                        <label class="group-label" (click)="goToForm('fsat-basics')"><span class="step-number">1</span>Basic Fan Info
                            <span class="fa fa-square-o pull-right" *ngIf="!basicsDone"></span>
                            <span class="fa fa-check-square-o pull-right" *ngIf="basicsDone"></span>
                        </label>
                    </div>
                    <div class="col-12">
                        <label class="group-label" (click)="goToForm('gas-density')"><span class="step-number">2</span>Establish Gas Density
                            <span class="fa fa-square-o pull-right" *ngIf="!gasDone"></span>
                            <span class="fa fa-check-square-o pull-right" *ngIf="gasDone"></span>
                        </label>
                    </div>
                    <div class="col-12">
                        <label class="group-label" (click)="goToForm('fan-data')"><span class="step-number">3</span>Input Plane Data
                            <span class="fa fa-square-o pull-right" *ngIf="!planeDataDone"></span>
                            <span class="fa fa-check-square-o pull-right" *ngIf="planeDataDone"></span>
                        </label>
                    </div>
                    <div class="col-12">
                        <label class="group-label" (click)="goToForm('fan-shaft-power')"><span class="step-number">4</span>Fan Shaft Power
                            <span class="fa fa-check pull-right"></span>
                        </label>
                    </div>
                </div>
                <div class="row" *ngIf="formSelect != 'none'">
                    <div class="col-12">
                        <!--forms-->
                        <a class="click-link small pull-left" (click)="goToForm('none')"><span class="fa fa-chevron-left"></span> Return to Setup</a><br>
                        <app-fsat-basics *ngIf="formSelect == 'fsat-basics'" [fanRatedInfo]="inputs.FanRatedInfo" (emitSave)="saveBasics($event)" [basicsDone]="basicsDone"></app-fsat-basics>
                        <app-gas-density *ngIf="formSelect == 'gas-density'" [fanGasDensity]="inputs.BaseGasDensity" (emitSave)="saveDensity($event)" [gasDone]="gasDone"></app-gas-density>
                        <!-- <a *ngIf="!showBasics" class="click-link small pull-right" (click)="editBasics()">Modify Fan Basics</a><br> -->
                        <app-fan-data *ngIf="formSelect == 'fan-data'" [planeData]="inputs.PlaneData" (emitSave)="savePlane($event)" [planeDataDone]="planeDataDone"></app-fan-data>
                        <app-fan-shaft-power *ngIf="formSelect == 'fan-shaft-power'"></app-fan-shaft-power>
                        <!-- <div class="row continue-btn-row justify-content-center">
                            <div class="col text-center">
                                <button class="btn btn-primary continue-btn" (click)="goToForm('none')">Continue Setup</button>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-6 align-top">
                <div class="help-panel">
                    <div class="row">
                        <ul class="tabs primary tab-row">
                            <li class="panel-tab-item tab-2" [ngClass]="{'active': tabSelect == 'results'}">
                                <a (click)="setTab('results')">Graph</a>
                            </li><!--
                            --><li class="panel-tab-item tab-2" [ngClass]="{'active': tabSelect == 'help'}">
                                <a (click)="setTab('help')">Help</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row justify-content-center data-row" *ngIf="tabSelect == 'results'">
                        <div class="col-11">
                            <!--results-->
                        </div>
                    </div>
                    <div class="row justify-content-center data-row align-items-center" *ngIf="tabSelect == 'help'">
                        <div class="col-11">
                            <div class="calc-help">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>