<div class="assessment-list-header">

	<h1 class="pull-left">{{workingDirectoryName}}</h1>
	<div class="btn-group pull-right">
		<button type="button" class="btn btn-secondary btn-sm">Assets</button>
		<button type="button" class="btn btn-secondary btn-sm">System Diagram</button>
		<button type="button" class="btn btn-secondary btn-sm">Settings</button>
	</div>
	<!-- <li [ngClass]="{'active': view == 'settings'}" *ngIf="directory.id != 1"><span (click)="setView('settings')">Settings</span></li> -->

</div>