<nav class="log-tool navbar banner d-flex mr-auto pt-2 pb-2 pl-0 pr-0 flex-nowrap">
    <div class="d-flex align-items-center p-1">
        <div class="img-col col-sm-auto col-md-auto col-lg-auto">
            <img class="img-icon" src="assets/images/data-explorer-icon.png">
        </div>
        <div class="d-flex flex-column pl-2">
            <div class="h2-name">
                Data Exploration
            </div>
        </div>
    </div>
    <div class="d-flex nav-pills nav-fill flex-wrap mx-auto">
        <div class="nav-item">
            <a class="nav-link" [routerLink]="['/log-tool/system-setup']" routerLinkActive="active">Setup</a>
        </div>
        <div class="nav-item">
            <a *ngIf="dataCleaned == true && noDayTypeAnalysis == false" class="nav-link"
                [routerLink]="['/log-tool/day-type-analysis']" routerLinkActive="active">Day Type Analysis</a>
            <a *ngIf="dataCleaned == false || noDayTypeAnalysis == true" class="nav-link disabled">Day Type Analysis</a>
        </div>
        <div class="nav-item">
            <a *ngIf="dataCleaned == true" class="nav-link" [routerLink]="['/log-tool/visualize']"
                routerLinkActive="active">Visualization</a>
            <a *ngIf="dataCleaned == false" class="nav-link disabled">Visualization</a>
        </div>
    </div>
    <div class="d-flex ml-auto pr-2 h-100">
        <div [ngClass]="{'disabled':dataCleaned == false}" class="pl-2 pr-2 border-left download-nav-item home-nav-item"
            (click)="openExportData()">
            <span class="fa fa-download"></span>
        </div>
		<div class="pl-2 pr-2 border-left home-nav-item">
			<a class="user-manual" href="assets/user-manuals/Data-Explorer-User-Manual.pdf" target="_blank">
				<span class="fa fa-book"></span>
			</a>
		</div>
        <div class="pl-2 pr-2 border-left border-right home-nav-item" [routerLink]="['/landing-screen']">
            <span class="fa fa-home"></span>
        </div>
    </div>
</nav>
