.h2-name{
    font-weight: 400;
    font-size: 20px;
}

.hidden{
    display: none;
}

.hidden.show{
    display: inherit;
}


.nav-item{
    color: white;
}

.banner .nav-link:not(.disabled):not(.active){
    color: white;
}

.img-icon{
    width: 45px;
    background-color: white;
    border-radius: 5px;
}

.download-nav-item{
    border: none !important;
    background-color: #117A65 !important;
}

.download-nav-item.active{
    border: none !important;
    background-color: #117A65 !important;
}