<form [formGroup]="fanForm">
  <div *ngIf="inSetup" class="d-flex flex-column">
    <div class="header mr-2 ml-2">
      <h3>Fan</h3>
    </div>
  </div>
  <div [ngClass]="{'p-4': inSetup, 'p-3': !inSetup }">
    <div class="form-group">
      <label for="{{'fanType_'+idString}}">Fan Type</label>
      <select class="form-control" name="fanType" formControlName="fanType" id="{{'fanType_'+idString}}" (change)="changeFanType()" (focus)="focusField('fanType')"
        [ngClass]="{'indicate-different': isFanTypeDifferent()}">
        <option *ngFor="let fanType of fanTypes" [ngValue]="fanType.value">{{fanType.display}}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="fanForm.controls.fanType.value == 12">
      <label for="{{'fanSpecified_'+idString}}">Specify Fan Efficiency</label>
      <div class="input-group" [ngClass]="{'indicate-different': isFanSpecifiedDifferent()}">
        <input name="fanSpecified" type="number" min="0" step="any" class="form-control" formControlName="fanSpecified" id="{{'fanSpecified_'+idString}}"
          onfocus="this.select();" (input)="save()" (focus)="focusField('fanSpecified')" [readonly]="!selected">
        <span class="input-group-addon units">%</span>
      </div>
      <span class="alert-danger pull-right small" *ngIf="fanForm.controls.fanSpecified.invalid && !fanForm.controls.fanSpecified.pristine">
        <span *ngIf="fanForm.controls.fanSpecified.errors.required">Value Required</span>
        <span *ngIf="fanForm.controls.fanSpecified.errors.max">Value can't be greater than
          {{fanForm.controls.fanSpecified.errors.max.max}} %.</span>
        <span *ngIf="fanForm.controls.fanSpecified.errors.min">Value can't be less than
          {{fanForm.controls.fanSpecified.errors.min.min}} %.</span>
      </span>
    </div>

    <div class="form-group">
      <label for="{{'fanSpeed_'+idString}}">Fan Speed</label>
      <div class="input-group" [ngClass]="{'indicate-different': isFanSpeedDifferent(),'error': fanSpeedError !== null}">
        <input type="number" name="fanSpeed" min="0" step="10" class="form-control" formControlName="fanSpeed" id="{{'fanSpeed_'+idString}}" (input)="save()"
          (focus)="focusField('fanSpeed')" onfocus="this.select();" [readonly]="!selected">
        <span class="input-group-addon units">rpm</span>
      </div>
      <span class="alert-warning pull-right small" *ngIf="fanSpeedError !== null && !fanForm.controls.fanSpecified.pristine">{{fanSpeedError}}</span>
    </div>

    <div class="form-group">
      <label for="{{'drive_'+idString}}">Drive</label>
      <select class="form-control" name="drive" formControlName="drive" id="{{'drive_'+idString}}" (change)="changeDriveType()" (focus)="focusField('drive')"
        [ngClass]="{'indicate-different': isDriveDifferent()}">
        <option *ngFor="let drive of drives" [ngValue]="drive.value">{{drive.display}}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="fanSetup.drive == 4">
      <label for="specifiedDriveEfficiency">Drive Efficiency</label>
      <div class="input-group" [ngClass]="{'indicate-different': isSpecifiedDriveEfficiencyDifferent()}">
        <input [readonly]="!selected" type="number" name="specifiedDriveEfficiency" step="any" class="form-control"
          formControlName="specifiedDriveEfficiency" id="specifiedDriveEfficiency" (input)="save()" (focus)="focusField('specifiedDriveEfficiency')"
          onfocus="this.select();">
        <span class="input-group-addon units">%</span>
      </div>
      <!-- <span class="alert-warning pull-right small" *ngIf="specifiedDriveEfficiencyError !== null" [innerHtml]="specifiedDriveEfficiencyError"></span> -->
      <span class="alert-danger pull-right small" *ngIf="fanForm.controls.specifiedDriveEfficiency.invalid && !fanForm.controls.specifiedDriveEfficiency.pristine">
        <span *ngIf="fanForm.controls.specifiedDriveEfficiency.errors.required">Value Required</span>
        <span *ngIf="fanForm.controls.specifiedDriveEfficiency.errors.max">Value can't be greater than
          {{fanForm.controls.specifiedDriveEfficiency.errors.max.max}} %.</span>
        <span *ngIf="fanForm.controls.fanSpecified.errors.min">Value can't be less than
          {{fanForm.controls.specifiedDriveEfficiency.errors.min.min}} %.</span>
      </span>
    </div>

  </div>
</form>