.modal-header{
    background: #fff;
}

.modal-content{
    border: none;
    border-radius: 0px;
}

.modal-lg{
    max-width: 90%; 
}

.input-group-addon.units.op-hour-addon{
    border-left: solid 1px;
    border-right: none;
  }


.form-section {
   margin-bottom: 10px;
   padding-bottom: 4px;
   border-bottom: #bbb dashed 1px;
 }

.add-loss {
    margin-bottom: 5px;
}

.form-row-pad-fix {
    margin-left: -15px !important;
}

.form-card {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 20px 0 grey;
}

.btn-edit-name:hover {
    cursor: pointer;
}