
.table td, .table th {
  border: 2px solid #dee2e6;
  padding: 2px;
  text-align: left;
}

.chiller-name-row {
  background-color: lightgrey !important;
  color: #000 !important;
  font-weight: bold !important;
}

.chiller-name-row td {
  border-top: none !important;
  border-bottom: none !important;
}

select:hover {
  cursor: pointer;
}

.selected-result-dropdown {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}