<div class="modify-conditions panel-container row psat">
  <div class="col-12">
    <div class="row align-items-top calculator-panel">
      <div class="modification panel-column col-6 align-top">
        <div class="col-md-12">
          <div #leftPanelHeader class="header">
            <h3>
              Heat and Power Calculator
            </h3>
          </div>
            <div class="row">
              <div class="col-12">
                <app-combined-heat-power-form [inputs]="inputs" (changeField)="setCurrentField($event)" (emitCalculate)="calculate()"></app-combined-heat-power-form>
              </div>
            </div>
        </div>
      </div>
      <div class="col-6 align-top">
        <div class="help-panel">
          <div class="row">
            <ul class="tabs primary tab-row">
              <li class="tab-2 panel-tab-item" [ngClass]="{'active': tabSelect == 'results'}">
                <a [ngStyle]="{'height.px': headerHeight}" (click)="setTab('results')">Results</a>
              </li><!--
              --><li class="tab-2 panel-tab-item" [ngClass]="{'active': tabSelect == 'help'}">
                  <a [ngStyle]="{'height.px': headerHeight}" (click)="setTab('help')">Help</a>
              </li>
            </ul>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="tab-content curve-results" id="pumpCurveGraph">
                <div *ngIf="tabSelect == 'results'">
                  <app-combined-heat-power-results [results]="results"></app-combined-heat-power-results>
                </div>
                <div *ngIf="tabSelect == 'help'" class="help-panel">
                  <app-combined-heat-power-help [currentField]="currentField" [inputs]="inputs"></app-combined-heat-power-help>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

