.output-summary .table th {
    width: 25%;
}

.output-summary .table td {
    padding: 2px 8px;
    vertical-align: middle;
}

.selected-modification {
    z-index: 2;
    background: #e5efe9;
}

.bold-row {
    font-weight: bold;
}

tr>td:not(:first-child), tr>th:not(:first-child) {
    text-align: center;
}

@media print {
    .print-section-header {
        font-size: 30px;
    }
    .output-summary .table th, .output-summary .table td {
        font-size: 20px;
    }
    .print-notes {
        font-size: 18px;
    }
    .show-print {
        display: inline !important;
    }
    .hide-print {
        display: none !important;
    }
    .chart-row {
        padding: 0px !important;
    }
}

.show-print {
    display: none;
}

.section-header {
    font-size: 16px !important;
}

.positive-savings {
    color: #27AE60;
}

.negative-savings {
    color: red;
}

.max-savings {
    border: solid 4px #27AE60;
}

.selected-modification {
    z-index: 2;
    background: #e5efe9;
}