<div class="row no-gutters w-100 h-50 min-row-height">
    <div class="col-lg-6 col-12">
        <app-pump-inventory-overview-table [settings]="settings"></app-pump-inventory-overview-table>
    </div>
    <div class="col-lg-6 col-12 min-row-height">
        <app-inventory-overview-pie-chart></app-inventory-overview-pie-chart>
    </div>
</div>
<div class="row no-gutters w-100 h-50 min-row-height">
    <div class="col-12">
        <app-inventory-overview-bar-chart></app-inventory-overview-bar-chart>
    </div>
</div>