
.modal.create-inventory-modal {
    margin-top: 7%;
  }
  
  .create-inventory-modal label {
    font-weight: bold;
  }
  .create-inventory-modal .form-check {
    margin-bottom: 0;
  }
  .create-inventory-modal label.form-check-label {
    font-weight: normal;
  }
  
  .create-inventory-modal input[type=text] {
    width: 100%;
    margin-bottom: 2px;
  }
  
  .create-inventory-modal .form-group {
    margin-bottom: 10px;
  }
  
  .create-inventory-modal select {
    margin-bottom: 6px;
  }
  
  .create-inventory-modal .help-text {
    margin-bottom: 10px;
  }
  .create-inventory-modal .help-text p {
    margin-bottom: 0;
  }
  
  .btn {
    padding: 6px;
  }
  
  
  .phast .btn-primary{
    background-color: #BF3D00;
    border-color: #BF3D00;
    transition: all .5s ease-in-out;
  }
  
  .psat .btn-primary{
    background-color: #2980b9;
    transition: all .5s ease-in-out;
  }
  
  .ssmt .btn-primary{
    background-color: #F39C12;
    transition: all .5s ease-in-out;
  }
 
@media screen and (max-width: 1024px) {
  .modal {
    width: 100vw;
  }
}