<div class="tab-content">
  @for (fuel of fuelList; track fuel; let index = $index) {
    <div>
      <form>
        <div class="row align-items-end">
          <div class="form-group col-3">
            @if (index == 0) {
              <label class="section-label" for="source">Energy Source</label>
            }
            <div class="input-group">
              <select name="{{index+'_source'}}" class="form-control" [(ngModel)]="fuel.energySource"
                id="source" (change)="setFuelOptions(index)">
                @for (option of otherFuels; track option) {
                  <option [ngValue]="option.energySource">
                  {{option.energySource}}</option>
                }
              </select>
            </div>
          </div>
          <div class="form-group col-3">
            @if (index == 0) {
              <label class="section-label" for="fuel">Fuel Type</label>
            }
            <div class="input-group">
              <select name="{{index+'_fuel'}}" class="form-control" id="fuel" [(ngModel)]="fuel.fuelType"
                (change)="setFuel(index)">
                @for (option of fuelOptionsList[index]; track option) {
                  <option [ngValue]="option.fuelType">
                  {{option.fuelType}}</option>
                }
              </select>
            </div>
          </div>
          <div class="form-group col-2">
            @if (index == 0) {
              <label class="section-label" for="percentFuelUsage">Percent Used</label>
            }
            <div class="input-group">
              <input name="{{index+'_percentFuelUsage'}}" class="form-control" type="number"
                [(ngModel)]="fuel.percentFuelUsage" id="percentFuelUsage"
                (input)="calculateMixedFuelCosts()" onfocus="this.select();">
              <span class="input-group-addon units">%</span>
            </div>
          </div>
          <div class="form-group col-3">
            @if (index == 0) {
              <label class="section-label" for="outputRate">Emission Output Rate</label>
            }
            <div class="input-group">
              <input name="{{index+'_outputRate'}}" class="form-control" type="number" step="any"
                [(ngModel)]="fuel.totalEmissionOutputRate" id="outputRate"
                (input)="calculateMixedFuelCosts()" onfocus="this.select();">
              @if (settings.unitsOfMeasure != 'Metric') {
                <span class="input-group-addon units">kg
                  CO<sub>2</sub>/MMBtu</span>
                }
                @if (settings.unitsOfMeasure == 'Metric') {
                  <span class="input-group-addon units">kg
                    CO<sub>2</sub>/GJ</span>
                  }
                </div>
              </div>
              <div class="col-1">
                @if (fuelList.length > 1) {
                  <i class="fa fa-times btn-delete-field" (click)="deleteFuel(index)"></i>
                }
              </div>
            </div>
          </form>
        </div>
      }
      <div class="pt-2 pb-2">
        <a class="click-link pull-left small" (click)="addFuel()">+Add New Source</a>
      </div>
      <hr>
        <div class="row justify-content-center">
          <div class="col">
            <div class="small bold text-center">
              <label class="bold">Total Carbon Emissions:</label>
              {{mixedOutputRateResult | number:'1.2-2'}}
              @if (settings.unitsOfMeasure != 'Metric') {
                <span>kg
                  CO<sub>2</sub>/MMBtu</span>
                }
                @if (settings.unitsOfMeasure == 'Metric') {
                  <span>kg
                    CO<sub>2</sub>/GJ</span>
                  }
                </div>
              </div>
            </div>
          </div>