/* .list-group-item{
  background-color: #003054;
} */


.nav-item:hover, .pointer-item:hover {
  cursor: pointer;
}

.selected{
  font-weight: bold;
  color: #000;
}

.sidebar-item:hover{
  background-color: #eee;
}

.phast .icon-image{
  width: 1.5rem;
}

.psat .icon-image{
  width: 1rem;
}