/* .list-group-item{
  background-color: #003054;
} */


.nav-item:hover, .pointer-item:hover {
  cursor: pointer;
}

.selected{
  font-weight: bold;
  color: #000;
}

.sidebar-item:hover{
  background-color: #eee;
}

.icon-image{
  width: 26px;
}

.icon{
  width: 100%;
}