/* .list-group-item{
  background-color: #003054;
} */


.nav-item:hover, .pointer-item:hover {
  cursor: pointer;
}

.selected{
  font-weight: bold;
  color: #000;
}

/* ul.tree, ul.tree ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgba(255,255,255,0.8);
}

ul.tree ul {
  margin-left: 10px;
} */


/*
ul.tree li:last-child {
  border-left:none;
}
*/

ul.tree li:before {
  position:relative;
  top:-0.3em;
  height:1em;
  width:12px;
  color:white;
  display:inline-block;
  left:-7px;
}

/*
li{
  list-style: none;
  margin: 0;
  color: white;
  font-weight: bold;
}
*/


.icon-image{
  height: 18px;
}