/* .list-group-item{
  background-color: #003054;
} */


.nav-item:hover, .pointer-item:hover {
  cursor: pointer;
}

.selected{
  font-weight: bold;
  color: #000;
}

.sidebar-item:hover{
  background-color: #eee;
}

.phast .icon-image{
  width: 1.5rem;
}

/*
li{
  list-style: none;
  margin: 0;
  color: white;
  font-weight: bold;
}
*/

i{
  color:#FFE400
}

.fan-block{
  display: inline-flex;
  background-color: #7F8C8D;
  padding: 2px;
}

.icon-image{
  height: 18px;
}
.psat .icon-image{
  width: 1rem;
}