li{
    list-style: none;
    font-size: small;
  }
  
  
  ul{
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  
  .summary-card-header{
    border-bottom: #B3B6B7 groove 2px;
    border-image: linear-gradient(to right,#F0F3F4, #B3B6B7) 50 / 2;
  }
  .summary-card-body .fa-folder{
    font-size: large;
  }
  
  
  .fa-edit:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .fa-edit{
    padding-top: 4px;
    font-size: larger;
  }
  
  .icon-image{
    width: 28px;
  }
  
  .hidden{
    display: none;
  }