.tutorial-bg{
    background-color: #232323;
}


.img-fluid{
    max-height: 100vh;
}


.carousel-item.active.first-item{
    visibility: visible;
    height: 100%;
    width: 100%;
}


  .carousel-item{
    height: 0px;
    width: 0px;
    opacity: 0;
    transition: visibility 1s, opacity 1s linear;
  }
  
  .carousel-item.show-img{
    height: 100%;
    width: 100%;
    visibility: visible;
    opacity: 1;
    position: fixed;
  }

  .carousel-item.show-img-1{
    height: 100%;
    width: 100%;
    visibility: visible;
    opacity: 1;
    position: static;
  }

.footer h5{
    margin-bottom: 0px;
}

.footer{
    background: none;
    color: white;
    border-top: none;
}

.circle-div h5{
    font-size: 150%;
}

.get-started{
    height: 75%;
}

input.dont-show{
    padding: 6px;
    margin: 6px;
}

.dont-show{
    font-size: large;
    font-weight: bold;
}