<div class="d-flex h-100 modify-conditions general" #contentContainer>
  <div class="d-flex flex-column w-100 h-100 scroll-item">
    <div #leftPanelHeader class="d-flex header pb-1 pt-1 bg-white align-items-center"
      [ngClass]="{'justify-content-between': inTreasureHunt}">
      <div class="d-flex pl-2 align-items-center">
        <div class="text-center lighting-bulb">
          <span class="fa fa-lightbulb-o"></span>
        </div>
        <div class="pl-2">
          <h3>Lighting Replacement</h3>
        </div>
      </div>
      <div class="d-flex pr-2" *ngIf="inTreasureHunt">
        <div class="d-flex help-holder">
          <p class="help-text treasure-hunt-help">Click the save icon to add the
            treasure to your chest! Add an opportunity sheet at any time or click cancel to discard changes and return
            to method selection.</p>
        </div>
        <div class="pl-2 pr-2 border-right border-left action-item" (click)="addOpportunitySheet()">
          <span class="fa fa-edit"></span>
        </div>
        <div class="pl-2 pr-2 border-right action-item" (click)="save()">
          <span class="fa fa-save"></span>
        </div>
        <div class="pl-2 pr-2 border-right border-left action-item" (click)="cancel()">
          <span class="fa fa-times"></span>
        </div>
      </div>
    </div>
    <!-- Baseline -->
    <div class="d-flex">
      <div class="scroll-item p-0 col-8 d-flex bg-white" [ngStyle]="{'height.px': containerHeight}">
        <div class="w-50 panel-column baseline">
          <div class="header mr-2 ml-2">
            <h3>Baseline</h3>
            <a class="click-link pull-right small add-fixture" (click)="addBaselineFixture()">+Add Fixture</a>
          </div>
          <div class="d-flex flex-column ml-2 mr-2 mb-4">
            <div class="form-group">
              <label for="baselineElectricityCost">Electricity Cost</label>
              <div class="input-group">
                <input class="form-control" type="number" [(ngModel)]="baselineElectricityCost"
                  name="baselineElectricityCost" (input)="calculate()">
                <span class="input-group-addon units">$/kWh</span>
              </div>
            </div>
            <!-- <div class="p-0">
              <a class="click-link pull-right small" (click)="addBaselineFixture()">+Add Fixture</a>
            </div> -->
            <div class="pb-2" *ngFor="let data of baselineData; let index = index;">
              <label class="group-label w-100 bold"><span class="fa fa-lightbulb-o pr-2"></span>Fixture #{{index+1}}
                <span *ngIf="baselineData.length != 1" class="fa fa-times-circle-o pull-right large"
                  (click)="removeBaselineFixture(index)"></span></label>
              <app-lighting-replacement-form [data]="data" (emitCalculate)="calculate()"
                (emitFocusField)="focusField($event)"></app-lighting-replacement-form>
            </div>
            <div class="w-100 justify-content-center btn-group btn-group-sm">
              <button type="button" class="btn btn-danger pull-right btn-sm btn-margin-10" (click)="btnResetData()">
                Reset Data
              </button>
            </div>

          </div>
        </div>


        <!-- Modifications Start -->
        <div *ngIf="modificationExists" class="w-50 panel-column modification">
          <!-- Modification Header -->
          <div class="header mr-2 ml-2">
            <h3>Modification</h3>
            <a class="click-link pull-right small add-fixture" (click)="addModificationFixture()">+Add Fixture</a>
          </div>
          <!-- Forms -->
          <div class="d-flex flex-column ml-2 mr-2 mb-4">
            <div class="form-group">
              <label for="modificationElectricityCost">Electricity Cost</label>
              <div class="input-group">
                <input class="form-control" type="number" [(ngModel)]="modificationElectricityCost"
                  name="modificationElectricityCost" (input)="calculate()">
                <span class="input-group-addon units">$/kWh</span>
              </div>
            </div>
            <!-- <div class="p-0">
              <a class="click-link pull-right small" (click)="addModificationFixture()">+Add Fixture</a>
            </div> -->
            <div class="pb-2" *ngFor="let data of modificationData; let index = index;">
              <label class="group-label w-100 bold"><span class="fa fa-lightbulb-o pr-2"></span>Fixture #{{index+1}}
                <span *ngIf="modificationData.length != 1" class="fa fa-times-circle-o pull-right large"
                  (click)="removeModificationFixture(index)"></span></label>
              <app-lighting-replacement-form [data]="data" (emitCalculate)="calculate()"
                (emitFocusField)="focusField($event)"></app-lighting-replacement-form>
            </div>
          </div>
        </div>
        <!-- No content message -->
        <div class="w-50 panel-column modification" *ngIf="!modificationExists">
          <div class="header mr-2 ml-2">
            <h3>Modification</h3>
          </div>
          <div class="p-3 no-data">
            <h3>
              Once you have set up your baseline..
            </h3>
            <button type="button" class="btn btn-primary" (click)="addModification()">Add Modified Condition</button>
            <p>Data will be copied from your current baseline condition.</p>
          </div>
        </div>
      </div>

      <!-- Help Panel -->
      <div class="col-4 p-0 help-panel">
        <div class="d-flex flex-column mh-100 scroll-item">
          <div class="d-flex flex-wrap tabs primary mr-2 ml-2 sticky-top">
            <div class="flex-fill panel-tab-item h-100" [ngClass]="{'active': tabSelect == 'results'}">
              <a class="border-left-0 h-100 d-flex justify-content-center align-items-center"
                (click)="setTab('results')">
                <div>Results</div>
              </a>
            </div>
            <div class="flex-fill panel-tab-item h-100" [ngClass]="{'active': tabSelect == 'help'}">
              <a class="h-100 d-flex justify-content-center align-items-center" (click)="setTab('help')">
                <div>Help</div>
              </a>
            </div>
          </div>
          <div class="d-flex justify-content-center pl-2 pr-2">
            <app-lighting-replacement-results *ngIf="tabSelect == 'results'" [baselineData]="baselineData"
              [modificationData]="modificationData" [lightingReplacementResults]="lightingReplacementResults">
            </app-lighting-replacement-results>
            <app-lighting-replacement-help *ngIf="tabSelect == 'help'" [currentField]="currentField">
            </app-lighting-replacement-help>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>