.header .fa.fa-lightbulb-o{
    font-size: -webkit-xxx-large;
}


.fa.fa-times-circle-o:hover{
    cursor: pointer;
}

.no-data{
    background: none;
}

.modification .btn{
    background-color: #FFFF00;
    color: black;
}