<div>
  <a class="pull-right" (click)="cancel()">Cancel</a>
</div>

<div class="form-group">
  <label for="modName">Modification Name</label>
  <input type="text" class="form-control" id="modName" [(ngModel)]="name">
</div>
<div>
<a class="pull-right" *ngIf="!deleteConfirm" (click)="saveModification()">Save</a>
<a class="pull-left" *ngIf="!deleteConfirm" (click)="showDeleteConfirm()">Delete Modification</a>
<div class="pull-left" *ngIf="deleteConfirm" >Are you sure you want to delete? <a (click)="deleteModification()">Delete</a> / <a (click)="cancelDelete()">Cancel</a></div> 
</div>
