  .btn{
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: small;
}

.card-header, .card-footer{
    padding: .5rem;
}

.card-body{
  padding: 0px;
}

.card{
}

.modal-dialog{
  top: 0px;
}

.modal-content{
  background-color: #efefef;
  height: 95vh;
}