<div class="alert-warning small px-4 py-2 mx-auto"
    *ngIf="showChart && !this.dayTypeEndUseWarning && compressedAirAssessment.endUseData.dayTypeAirFlowTotals &&
    compressedAirAssessment.endUseData.dayTypeAirFlowTotals.unaccountedAirflow">
    Total average airflow of end uses is
    {{compressedAirAssessment.endUseData.dayTypeAirFlowTotals.unaccountedAirflow}} 
    <span [innerHTML]="airflowUnits"></span>
    less than the System Profile average airflow for this day type
    ({{compressedAirAssessment.endUseData.dayTypeAirFlowTotals.totalDayTypeAverageAirflow}}<span [innerHTML]="airflowUnits"></span>)
</div>
<div class="alert-danger small px-4 py-2 mx-auto"
    *ngIf="compressedAirAssessment.endUseData.dayTypeAirFlowTotals && compressedAirAssessment.endUseData.dayTypeAirFlowTotals.exceededAirflow">
    Total average airflow of end uses is
    {{compressedAirAssessment.endUseData.dayTypeAirFlowTotals.exceededAirflow}}
    <span [innerHTML]="airflowUnits"></span>
    greater than the System Profile average for this day type
    ({{compressedAirAssessment.endUseData.dayTypeAirFlowTotals.totalDayTypeAverageAirflow}}<span [innerHTML]="airflowUnits"></span>)
</div>

<div [ngStyle]="{'visibility': showChart? 'visible' : 'hidden'}">
    <div class="d-flex flex-column chart-background w-100 p-2">
        <span class="text-center pt-4">{{chartTitle}}</span>
        <span class="alert-danger small mt-2 p-1" *ngIf="showChart && dayTypeEndUseWarning">{{dayTypeEndUseWarning}}</span>
        <div class="flex-fill" id="overviewPieChart" #overviewPieChart></div>
    </div>
</div>