.assessment-report {
    background: #fff;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
    border: #ababab solid 1px;
}

    .report-header, .report-data .results {
        padding: 10px 20px;
    }

.assessment-report.report-in-psat .assessment-name, .assessment-report.report-in-rollup .assessment-name {
    background-image: url('../../../assets/images/ico-psat-diagram.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 33px;
    padding: 9px 0 0px 48px;
    width: 100%;
}

.assessment-report .assessment-name span {
    float: right;
    display: block;
    color: #999;
    font-size: 13px;
    margin-top: 12px;
}