@media print {
    .input-data{
        page-break-before: always;
    }

    .hide-print{
        display: none !important;
    }

    .assessment-report-padding{
        padding-bottom: 0px;
    }
}

.dir-list-item{
    color: #808B96;
}


.assessment-name{
    padding-top: 15px;
}