.assessment-report {
    background: #fff;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
    border: #ababab solid 1px;
}

    .report-header, .report-data {
        padding: 10px 20px;
    }
    .report-header {
        border-bottom: #ddd solid 1px;
    }