
<div class="d-flex flex-column w-100 compressed-air">
  <div class="row">
    <div class="navbar w-50 col-6">
      <div class="d-flex justify-content-center align-items-center w-100 flex-wrap">
        <div class="tab-content pl-2 pr-2">
        </div>
        <div class="btn-group btn-group-sm align-self-center">
          <button type="button" class="btn btn-sm" (click)="setSankeyLabelStyle('percent')"
            [ngClass]="{'active': sankeyLabelStyle == 'percent'}">Loss Percent</button>
          <button type="button" class="btn btn-sm" (click)="setSankeyLabelStyle('energy')"
            [ngClass]="{'active': sankeyLabelStyle == 'energy'}">Loss Energy</button>
          <button type="button" class="btn btn-sm" (click)="setSankeyLabelStyle('both')"
            [ngClass]="{'active': sankeyLabelStyle == 'both'}">Both</button>
        </div>
      </div>
    </div>
    <div class="p-2 w-50 justify-content-start col-6">
      <div class="px-5 py-2">
        <div>
          <label class="group-label mb-1">Day Type Leak Rate Setup</label>
          <app-day-type-setup-form></app-day-type-setup-form>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-5">
    <div *ngIf="compressedAirAssessment" class="justify-content-center w-100">
      <div class="alert-danger small px-4 py-2 mx-auto"
        *ngIf="compressedAirAssessment.endUseData.dayTypeAirFlowTotals.exceededAirflow">
        Total average airflow of end uses is
        {{compressedAirAssessment.endUseData.dayTypeAirFlowTotals.exceededAirflow}} 
          <span [innerHTML]="units"></span>
        
        greater than the System Profile average for this day type
        ({{compressedAirAssessment.endUseData.dayTypeAirFlowTotals.totalDayTypeAverageAirflow}}
        <span [innerHTML]="units"></span>)
      </div>
    </div>
    <span *ngIf="airFlowSankeyResults && airFlowSankeyResults.warnings.minAirflow !== undefined"
      class="alert-warning small px-4 py-2 mx-auto">{{ airFlowSankeyResults.warnings.minAirflow }}</span>
    <span *ngIf="!profileDataComplete" class="alert-danger small px-4 py-2 mx-auto">Airflow Sankey calculation requires
      average airflow from
      System Profile Setup. Please check System Profile Setup data for correctness.</span>
  
  </div>
</div>

  <div class="sankey-padding w-100">
    <div #airflowChart></div>
    <div>

      <div *ngIf="minFlowes.length > 0" class="ml-5 w-50">
        <div class="mt-4">
          <label class="group-label bold mb-2">Negligible AirFlow</label>
          <table class="small w-100 ml-3">
            <tr *ngFor="let flow of minFlowes">
              <td>{{flow}}</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
  