
.output-summary .table {
    font-size: 14px;
}
.output-summary .table th {
    border: none;
    padding: 0;
}
.output-summary .table td {
    padding: 2px 0px;
}




@media print {
    tr{
        border-bottom: 2px solid black;
    }
}
.section-header{
    font-size: 16px !important;
}

/*th{
    text-align: center;
}

td{
    text-align: center;
    vertical-align: middle;
}*/