<div [class.dir-root]="directory.id == 1">
  <div class="dir-row">
    <button class="dir-chevron" (click)="toggleDirectoryCollapse(directory)" type="button" [attr.aria-expanded]="!directory.collapsed">
      <i class="fa" [class.fa-chevron-right]="directory.collapsed" [class.fa-chevron-down]="!directory.collapsed"></i>
    </button>
    <a class="sidebar-item dir-link"
       [routerLink]="['/directory-dashboard', directory.id]"
       routerLinkActive="selected"
       (click)="navigateWithSidebarOptions('/directory-dashboard/' + directory.id)">
      <i class="fa dir-folder-icon" [class.fa-folder]="directory.collapsed" [class.fa-folder-open]="!directory.collapsed"></i>
      <span class="dir-label">{{directory.name}}</span>
    </a>
  </div>
  <div class="dir-children" [class.dir-children-hidden]="directory.collapsed">
    @for (directoryItem of directoryItems | directoryDashboardFilter:sortBy:filterDashboardBy; track directoryItem) {
      <div class="directory-item"
        [class.hidden]="directoryItem.isShown == false && directoryItem.type != 'directory'"
        [class.selected-directory]="directory.id == selectedDirectoryId">
        @if (directoryItem.type == 'calculator' && directoryItem.calculator.preAssessments) {
          <app-pre-assessment-item [directoryItem]="directoryItem"></app-pre-assessment-item>
        }
        @if (directoryItem.type == 'assessment') {
          <app-assessment-item [assessment]="directoryItem.assessment"></app-assessment-item>
        }
        @if (directoryItem.type == 'directory') {
          <app-directory-item [directory]="directoryItem.subDirectory"></app-directory-item>
        }
        @if (directoryItem.type == 'inventory') {
          <app-inventory-item [inventoryItem]="directoryItem.inventoryItem"></app-inventory-item>
        }
        @if (directoryItem.type == 'diagram') {
          <app-diagram-item [diagram]="directoryItem.diagram"></app-diagram-item>
        }
      </div>
    }
  </div>
</div>
