.modal-open {
    z-index: initial !important;
}

@media print {
    .hide-print{
        display: none !important;
    }

    .report-column{
        border: none !important;
        box-shadow: none !important;
        margin-top: none !important;
        margin-bottom: none !important;
    }
}

.results-column{
  padding: 0px;
}
.tab-row{
  width: 40%;
}

.tab-item{
  width: 50%;
  text-align: center;
  font-size: large;
}

.data-row{
  margin-top: 5%;
}
