.modal-open {
    z-index: initial !important;
}

@media print {
    .hide-print{
        display: none !important;
    }

    .report-column{
        border: none !important;
        box-shadow: none !important;
        margin-top: none !important;
        margin-bottom: none !important;
    }
}

.psat-losses-container{
  padding-top: 0px;
}