<p>
  We collect no personal information about you without your knowledge when you visit this site, although you may choose
  to provide this information to us in specific instances.
  However, we do collect and store certain information automatically:
</p>
<ul>
  <li>The Internet Protocol (IP) address of the domain from which you access the Internet (e.g., 123.456.789.012),
    whether yours individually or provided as a proxy by your Internet Service Provider (ISP)</li>
  <li>The date and time you access our site</li>
  <li>The pages you visit (recorded by the text and graphics files that compose that page)</li>
  <li>The Internet address of the web site from which you linked directly to our site.</li>
</ul>
<p>
  We use the summary statistics to help us make our site more useful to visitors, such as assessing what information is
  of most and least interest to visitors, and for other
  purposes such as determining the site's technical design specifications and identifying system performance or problem
  areas. This information is NOT shared with anyone
  beyond the support staff for this web site, except when required by law enforcement investigation, and is used only as
  a source of anonymous statistical information.
</p>
<br>
<p>
  For more information, please visit the full ORNL
  Security & Privacy Notice Page <a href="https://www.ornl.gov/ornl/contact-us/Security--Privacy-Notice"
    target="_blank">https://www.ornl.gov/ornl/contact-us/Security--Privacy-Notice</a>
</p>