@if (!validLosses && validPsat.isValid) {
  <div class="alert-danger small m-3">
    @if (!validLosses) {
      <span>
        Cannot generate
        @if (isBaseline) {
          <span>System</span>
        }
        @if (!isBaseline) {
          <span>Modification</span>
        }
        Sankey:
        <br>
          Pump or Motor efficiency is greater than 100%
        </span>
      }
    </div>
  }
  @if (!validPsat.isValid) {
    <div class="alert-danger small m-3">
      @if (isBaseline) {
        <span>Invalid Baseline</span>
      }
      @if (!isBaseline) {
        <span>Invalid Modification</span>
      }
      <br>
        @if (!validPsat.pumpFluidValid) {
          <span>Errors found in Pump Fluid Data<br></span>
        }
        @if (!validPsat.motorValid) {
          <span>Errors found in Motor Data<br></span>
        }
        @if (!validPsat.fieldDataValid) {
          <span>Errors found in Field Data<br></span>
        }
      </div>
    }
    <div [ngClass]="{'chart-hide': !validPsat.isValid || !validLosses, 'chart-show': validPsat.isValid && validLosses}" #ngChart id="sankeyChart"></div>