.modal-dialog {
    max-width: 98vw;
    height: 99vh;
    top: 0;
    margin-left: 1vw;
    margin-top: .5vh;
    margin-bottom: 0;
    margin-right: 0;
}

.modal-content{
    height: 100%;
}

th, td {
    vertical-align: middle;
}

.icon-image{
    width: 33px;
}