<div class="d-flex tabs subtabs progress-tabs fsat flex-wrap">
  <div class="fixed-tab-size" [ngClass]="{'active': modifyConditionsTab == 'fan-setup'}">
    <a class="nav-link small" (click)="changeModTab('fan-setup')">Fan and Fluid
      <span (mouseenter)="showTooltip('fanSetup')" (mouseleave)="hideTooltip('fanSetup')" class="badge gray-badge" [ngClass]="fanSetupBadgeClass">
      </span>
    </a>
    <app-tabs-tooltip [display]="fanSetupBadgeHover" [reveal]="displayFanSetupTooltip" [badgeClass]="fanSetupBadgeClass"></app-tabs-tooltip>
  </div>
  <div class="fixed-tab-size" [ngClass]="{'active': modifyConditionsTab == 'fan-motor'}">
    <a class="nav-link small" (click)="changeModTab('fan-motor')">Motor
      <span (mouseenter)="showTooltip('fanMotor')" (mouseleave)="hideTooltip('fanMotor')" class="badge gray-badge" [ngClass]="fanMotorBadgeClass">
      </span>
    </a>
    <app-tabs-tooltip [display]="fanMotorBadgeHover" [reveal]="displayFanMotorTooltip" [badgeClass]="fanMotorBadgeClass"></app-tabs-tooltip>
  </div>
  <div class="fixed-tab-size" [ngClass]="{'active': modifyConditionsTab == 'fan-field-data'}">
    <a class="nav-link small" (click)="changeModTab('fan-field-data')">Field Data
      <span (mouseenter)="showTooltip('fieldData')" (mouseleave)="hideTooltip('fieldData')" class="badge gray-badge" [ngClass]="fieldDataBadgeClass">
      </span>
    </a>
    <app-tabs-tooltip [display]="fieldDataBadgeHover" [reveal]="displayFieldDataTooltip" [badgeClass]="fieldDataBadgeClass"></app-tabs-tooltip>
  </div>
</div>