  
   .diagram-container{
       width: 70% !important;
       font-size: small;
       min-width: 800px;
       overflow-x: auto;
   }
   
   
   .diagram-help-panel{
       width: 30%;
   }
   
   .boiler-table-height{
       height: 160px;
   }
   
   .deaerator-margin{
       margin-left: -1.5rem;
   }
   
   .deaerator-condensate-padding{
       padding-left: 5rem;
   }
   
   .inner-system-padding{
       padding-left: 3rem;
   }


.select-scenario-box{
    background-color: #F39C12;
    position: relative;
}

.scenario-options{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F39C12;
}

.scenario-option:hover, .selected-option:hover{
    cursor: pointer;
    background-color: lightgray;
}

.scenario-option{
    border-top: solid;
}

.form-control{
    font-size: large;
}


.ssmt-diagram{
    min-width: 1120px;
}

.close-calc{
    position: fixed;
    bottom: 0;
    text-align: center;
    z-index: 4;
}

.close-calc a{
    background-color: white;
    font-size: xx-large;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 3px #F39C12;
    border-radius: 15px;
}

