<div class="calc-content" *ngIf="!headTool">
  <div class="calc-banner">
    <div class="h3">Pump Calculators</div>
  </div>
  <div class="row justify-content-center align-items-center calc-list">
    <div class="col-8">
      <div class="row calc-type">
        <div class="col-12">
          <p class="h4">Type A Calculators</p>
        </div>
      </div>
      <div class="row tools">
        <div class="col-12">
          <a class="h5" (click)="showTool()">Head Tool option 1</a>
          <div>Use this option to show the head tool in this space</div>
        </div>
      </div>
      <div class="row tools">
        <div class="col-12">
          <a class="h5" (click)="showHeadToolModal()"> Head Tool option 2 </a>
          <div>Use this option to show the head tool in a modal</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card fade show" *ngIf="headTool">
  <div class="card-header">
    <b class="h4">Pump Head Calculator</b>
    <button class="close pull-right" aria-label="Close" (click)="hideTool()">
          <span aria-hidden="true">&times;</span>
        </button>
  </div>
  <div class="card-block">
    <app-head-tool (close)="hideTool()"></app-head-tool>
  </div>
</div>









<div bsModal #headToolModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createHeadToolLabel"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="h3">Pump Head Calculator</div>
        <button class="close" aria-label="Close" (click)="hideHeadToolModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-head-tool></app-head-tool>
      </div>
    </div>
  </div>
</div>