 .custom-day {      
    text-align: center;
    padding: 0.185rem 0.25rem;
    border-radius: 1rem;
    display: inline-block;
    width: 2rem;
    color: white;
}

.card{
    box-shadow: 0 4px 8px 0 grey;
}

.ngb-dp-month-name{
  background-color: white;
}

.ngb-datepicker{
  border-top: none;
  border-bottom: none;
}