.header .fa.fa-tachometer {
    font-size: -webkit-xxx-large;
}

.fa.fa-times-circle-o:hover {
    cursor: pointer;
}

.no-data {
    background: none;
}

.btn.btn-primary {
    padding: 4px;
    background-color: #145A32;
}

.btn-group {
    display: block;
    text-align: center;
}

.btn-group .btn-sm {
    font-size: small !important;
}

.btn-margin-10 {
    margin: 10px 0px;
}

.btn-form {
    border-radius: 4px !important;
}


