@media print {
    .page-break-before{
        break-before: always;
    }

    .print-page-title {
        font-size: 40px !important;
        font-weight: bold;
    }

    .print-avoid-break{
        page-break-inside: avoid;
    }
}


.group-label{
    font-size: 22px;
}

.print-pie-width{
    width: 500px;
}