<label class="group-label">{{formLabel}}</label>

<form [formGroup]="byEquationForm">
    <div class="form-group">
        <label for="maxFlow">Max Flow</label>
        <div class="input-group">
            <input name="maxFlow" formControlName="maxFlow" type="number" step="any" class="form-control"
                (input)="save()" id="maxFlow" onfocus="this.select();" (focus)="focusField('maxFlow')">
            <span class="input-group-addon units" [innerHTML]="flowUnit | settingsLabel"></span>
        </div>
        <span class="alert-danger pull-right small"
            *ngIf="byEquationForm.controls.maxFlow.invalid && !byEquationForm.controls.maxFlow.pristine">
            <span *ngIf="byEquationForm.controls.maxFlow.errors.required">Value required.</span>
            <span *ngIf="byEquationForm.controls.maxFlow.errors.max">Value can't be greater than
                {{byEquationForm.controls.maxFlow.max.max}} <span [innerHTML]="flowUnit | settingsLabel"></span>.
            </span>
            <span *ngIf="byEquationForm.controls.maxFlow.errors.min">Value can't be less than
                {{byEquationForm.controls.maxFlow.min.min}} <span [innerHTML]="flowUnit | settingsLabel"></span>.
            </span>
        </span>
    </div>


    <div class="form-group">
        <label for="equationOrder">Order</label>
        <select id="equationOrder" name="equationOrder" class="form-control" formControlName="equationOrder"
            (focus)="focusField('equationOrder')" (change)="save()">
            <option *ngFor="let order of orderOptions" [ngValue]="order">{{order}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="constant">Constant</label>
        <div class="input-group">
            <input name="constant" formControlName="constant" type="number" step="any" class="form-control"
                (input)="save()" id="constant" onfocus="this.select();"
                (focus)="focusField('constant')">
        </div>
        <span class="alert-danger pull-right small"
            *ngIf="byEquationForm.controls.constant.invalid && !byEquationForm.controls.constant.pristine">
            <span *ngIf="byEquationForm.controls.constant.errors.required">Value required.</span>
            <span *ngIf="byEquationForm.controls.constant.errors.min">Value can't be less than
                {{byEquationForm.controls.constant.errors.min.min}}.</span>
        </span>
    </div>

    <div class="form-group">
        <label for="flow">flow</label>
        <div class="input-group">
            <input name="flow" formControlName="flow" type="number" step="any" class="form-control"
                (input)="save()" id="flow" onfocus="this.select();" (focus)="focusField('flow')">
        </div>
        <span class="alert-danger pull-right small"
            *ngIf="byEquationForm.controls.flow.invalid && !byEquationForm.controls.flow.pristine">
            <span *ngIf="byEquationForm.controls.flow.errors.required">Value required.</span>
        </span>
    </div>


    <div class="form-group" *ngIf="byEquationForm.controls.equationOrder.value > 1">
        <label for="flowTwo">flow<sup>2</sup>
        </label>
        <div class="input-group">
            <input name="flowTwo" formControlName="flowTwo" type="number" step="any" class="form-control"
                (input)="save()" id="flowTwo" onfocus="this.select();" (focus)="focusField('flowTwo')">
        </div>
        <span class="alert-danger pull-right small"
            *ngIf="byEquationForm.controls.flowTwo.invalid && !byEquationForm.controls.flowTwo.pristine">
            <span *ngIf="byEquationForm.controls.flowTwo.errors.required">Value required.</span>
        </span>
    </div>


    <div class="form-group" *ngIf="byEquationForm.controls.equationOrder.value > 2">
        <label for="flowThree">flow<sup>3</sup>
        </label>
        <div class="input-group">
            <input name="flowThree" formControlName="flowThree" type="number" step="any" class="form-control"
                (input)="save()" id="flowThree" onfocus="this.select();"
                (focus)="focusField('flowThree')">
        </div>
        <span class="alert-danger pull-right small"
            *ngIf="byEquationForm.controls.flowThree.invalid && !byEquationForm.controls.flowThree.pristine">
            <span *ngIf="byEquationForm.controls.flowThree.errors.required">Value required.</span>
        </span>
    </div>

    <div class="form-group" *ngIf="byEquationForm.controls.equationOrder.value > 3">
        <label for="flowFour">flow<sup>4</sup>
        </label>
        <div class="input-group">
            <input name="flowFour" formControlName="flowFour" type="number" step="any" class="form-control"
                (input)="save()" id="flowFour" onfocus="this.select();"
                (focus)="focusField('flowFour')">
        </div>
        <span class="alert-danger pull-right small"
            *ngIf="byEquationForm.controls.flowFour.invalid && !byEquationForm.controls.flowFour.pristine">
            <span *ngIf="byEquationForm.controls.flowFour.errors.required">Value required.</span>
        </span>
    </div>

    <div class="form-group" *ngIf="byEquationForm.controls.equationOrder.value > 4">
        <label for="flowFive">flow<sup>5</sup>
        </label>
        <div class="input-group">
            <input name="flowFive" formControlName="flowFive" type="number" step="any" class="form-control"
                (input)="save()" id="flowFive" onfocus="this.select();"
                (focus)="focusField('flowFive')">
        </div>
        <span class="alert-danger pull-right small"
            *ngIf="byEquationForm.controls.flowFive.invalid && !byEquationForm.controls.flowFive.pristine">
            <span *ngIf="byEquationForm.controls.flowFive.errors.required">Value required.</span>
        </span>
    </div>

    <div class="form-group" *ngIf="byEquationForm.controls.equationOrder.value > 5">
        <label for="flowSix">flow<sup>6</sup>
        </label>
        <div class="input-group">
            <input name="flowSix" formControlName="flowSix" type="number" step="any" class="form-control"
                (input)="save()" id="flowSix" onfocus="this.select();" (focus)="focusField('flowSix')">
        </div>
        <span class="alert-danger pull-right small"
            *ngIf="byEquationForm.controls.flowSix.invalid && !byEquationForm.controls.flowSix.pristine">
            <span *ngIf="byEquationForm.controls.flowSix.errors.required">Value required.</span>
        </span>
    </div>

    <div class="my-2">
        <label class="group-label">Power Equation Coefficients</label>
        
        <div class="form-group">
            <label class="section-label" for="powerOrder">Order</label>
            <select id="powerOrder" name="powerOrder" class="form-control" formControlName="powerOrder"
                (focus)="focusField('powerOrder')" (change)="save()">
                <option *ngFor="let order of orderOptions" [ngValue]="order">{{order}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="powerConstant">Constant</label>
            <div class="input-group">
                <input name="powerConstant" formControlName="powerConstant" type="number" step="any" class="form-control"
                    (input)="save()" id="powerConstant" onfocus="this.select();"
                    (focus)="focusField('powerConstant')">
            </div>
            <span class="alert-danger pull-right small"
                *ngIf="byEquationForm.controls.powerConstant.invalid && !byEquationForm.controls.powerConstant.pristine">
                <span *ngIf="byEquationForm.controls.powerConstant.errors.required">Value required.</span>
                <span *ngIf="byEquationForm.controls.powerConstant.errors.min">Value can't be less than
                    {{byEquationForm.controls.powerConstant.errors.min.min}}.</span>
            </span>
        </div>
        <div class="form-group">
            <label for="powerFlow">flow</label>
            <div class="input-group">
                <input name="powerFlow" formControlName="powerFlow" type="number" step="any" class="form-control"
                    (input)="save()" id="powerFlow" onfocus="this.select();" (focus)="focusField('powerFlow')">
            </div>
            <span class="alert-danger pull-right small"
                *ngIf="byEquationForm.controls.powerFlow.invalid && !byEquationForm.controls.powerFlow.pristine">
                <span *ngIf="byEquationForm.controls.powerFlow.errors.required">Value required.</span>
            </span>
        </div>
    
    
        <div class="form-group" *ngIf="byEquationForm.controls.powerOrder.value > 1">
            <label for="powerFlowTwo">flow<sup>2</sup>
            </label>
            <div class="input-group">
                <input name="powerFlowTwo" formControlName="powerFlowTwo" type="number" step="any" class="form-control"
                    (input)="save()" id="powerFlowTwo" onfocus="this.select();" (focus)="focusField('powerFlowTwo')">
            </div>
            <span class="alert-danger pull-right small"
                *ngIf="byEquationForm.controls.powerFlowTwo.invalid && !byEquationForm.controls.powerFlowTwo.pristine">
                <span *ngIf="byEquationForm.controls.powerFlowTwo.errors.required">Value required.</span>
            </span>
        </div>
    
    
        <div class="form-group" *ngIf="byEquationForm.controls.powerOrder.value > 2">
            <label for="powerFlowThree">flow<sup>3</sup>
            </label>
            <div class="input-group">
                <input name="powerFlowThree" formControlName="powerFlowThree" type="number" step="any" class="form-control"
                    (input)="save()" id="powerFlowThree" onfocus="this.select();"
                    (focus)="focusField('powerFlowThree')">
            </div>
            <span class="alert-danger pull-right small"
                *ngIf="byEquationForm.controls.powerFlowThree.invalid && !byEquationForm.controls.powerFlowThree.pristine">
                <span *ngIf="byEquationForm.controls.powerFlowThree.errors.required">Value required.</span>
            </span>
        </div>
    
        <div class="form-group" *ngIf="byEquationForm.controls.powerOrder.value > 3">
            <label for="powerFlowFour">flow<sup>4</sup>
            </label>
            <div class="input-group">
                <input name="powerFlowFour" formControlName="powerFlowFour" type="number" step="any" class="form-control"
                    (input)="save()" id="powerFlowFour" onfocus="this.select();"
                    (focus)="focusField('powerFlowFour')">
            </div>
            <span class="alert-danger pull-right small"
                *ngIf="byEquationForm.controls.powerFlowFour.invalid && !byEquationForm.controls.powerFlowFour.pristine">
                <span *ngIf="byEquationForm.controls.powerFlowFour.errors.required">Value required.</span>
            </span>
        </div>
    
        <div class="form-group" *ngIf="byEquationForm.controls.powerOrder.value > 4">
            <label for="powerFlowFive">flow<sup>5</sup>
            </label>
            <div class="input-group">
                <input name="powerFlowFive" formControlName="powerFlowFive" type="number" step="any" class="form-control"
                    (input)="save()" id="powerFlowFive" onfocus="this.select();"
                    (focus)="focusField('powerFlowFive')">
            </div>
            <span class="alert-danger pull-right small"
                *ngIf="byEquationForm.controls.powerFlowFive.invalid && !byEquationForm.controls.powerFlowFive.pristine">
                <span *ngIf="byEquationForm.controls.powerFlowFive.errors.required">Value required.</span>
            </span>
        </div>
    
        <div class="form-group" *ngIf="byEquationForm.controls.powerOrder.value > 5">
            <label for="powerFlowSix">flow<sup>6</sup>
            </label>
            <div class="input-group">
                <input name="powerFlowSix" formControlName="powerFlowSix" type="number" step="any" class="form-control"
                    (input)="save()" id="powerFlowSix" onfocus="this.select();" (focus)="focusField('powerFlowSix')">
            </div>
            <span class="alert-danger pull-right small"
                *ngIf="byEquationForm.controls.powerFlowSix.invalid && !byEquationForm.controls.powerFlowSix.pristine">
                <span *ngIf="byEquationForm.controls.powerFlowSix.errors.required">Value required.</span>
            </span>
        </div>
    </div>

</form>