<form #formRef [formGroup]="fanMotorForm">
  <div *ngIf="inSetup" class="d-flex flex-column">
    <div class="header mr-2 ml-2">
      <h3>Motor</h3>
    </div>
  </div>

  <div [ngClass]="{'p-4': inSetup, 'p-3': !inSetup }">
    <div class="form-group" [ngClass]="{'indicate-different': isLineFrequencyDifferent()}">
      <label for="{{'lineFrequency_'+idString}}">Line Frequency</label>
      <select name="lineFrequency" class="form-control number-input-field" id="{{'lineFrequency_'+idString}}"
        formControlName="lineFrequency" (change)="changeLineFreq()" (focus)="focusField('lineFrequency')">
        <option *ngFor="let frequency of frequencies" [ngValue]="frequency">{{frequency}} Hz</option>
      </select>
    </div>

    <div class="form-group" [ngClass]="{'indicate-different': isMotorRatedPowerDifferent(),'error': warnings.ratedPowerError !== null, 'invalid': fanMotorForm.controls.motorRatedPower.invalid}">
      <label for="{{'motorRatedPower_'+idString}}">Rated Motor Power</label>
      <!-- <select name="motorRatedPower" class="form-control number-input-field" id="motorRatedPower" formControlName="motorRatedPower"
        (change)="save()" (focus)="focusField('motorRatedPower')" [ngClass]="{'indicate-different': isMotorRatedPowerDifferent(),'error': warnings.ratedPowerError !== null, 'invalid': fanMotorForm.controls.motorRatedPower.invalid}">
        <option *ngFor="let option of options" [ngValue]="option">{{option}} {{settings.fanPowerMeasurement}}</option>
      </select> -->
      <div class="input-group">
        <input type="number" name="motorRatedPower" step="10" min="0" class="form-control number-input-field" id="{{'motorRatedPower_'+idString}}"
          (focus)="focusField('motorRatedPower')" (input)="save()" formControlName="motorRatedPower" [readonly]="!selected">
        <span class="input-group-addon units">{{settings.fanPowerMeasurement}}</span>
      </div>
      <span *ngIf="fanMotorForm.controls.motorRatedPower.invalid && !fanMotorForm.controls.motorRatedPower.pristine">
        <span class="alert-danger pull-right small" *ngIf="fanMotorForm.controls.motorRatedPower.errors.required">Value
          Required</span>
      </span>
      <span class="alert-warning pull-right small" *ngIf="warnings.ratedPowerError !== null && !fanMotorForm.controls.motorRatedPower.pristine && !fanMotorForm.controls.fullLoadAmps.invalid">{{warnings.ratedPowerError}}</span>
    </div>

    <div class="form-group" [ngClass]="{'indicate-different': isMotorRpmDifferent(),'error': warnings.rpmError !== null, 'invalid': fanMotorForm.controls.motorRpm.invalid}">
      <label for="{{'motorRpm_'+idString}}">Motor RPM</label>
      <div name="motorRpm" class="input-group">
        <input type="number" step="100" class="form-control number-input-field" id="{{'motorRpm_'+idString}}"
          formControlName="motorRpm" (input)="save()" (focus)="focusField('motorRPM')" onfocus="this.select();"
          [readonly]="!selected">
        <span class="input-group-addon units">rpm</span>
      </div>
      <span *ngIf="fanMotorForm.controls.motorRpm.invalid && !fanMotorForm.controls.motorRpm.pristine">
        <span class="alert-danger pull-right small" *ngIf="fanMotorForm.controls.motorRpm.errors.required">Value
          Required</span>
      </span>
      <span class="alert-warning pull-right small" *ngIf="warnings.rpmError !== null && !fanMotorForm.controls.motorRpm.pristine && !fanMotorForm.controls.motorRpm.invalid">{{warnings.rpmError}}</span>
    </div>

    <div class="form-group" [ngClass]="{'indicate-different': isEfficiencyClassDifferent()}">
      <label for="{{'efficiencyClass_'+idString}}">Efficiency Class</label>
      <select name="efficiencyClass" class="form-control select-input-field" id="{{'efficiencyClass_'+idString}}"
        formControlName="efficiencyClass" (change)="changeEfficiencyClass()" (focus)="focusField('efficiencyClass')">
        <option *ngFor="let efficiencyClass of efficiencyClasses" [ngValue]="efficiencyClass.value">{{efficiencyClass.display}}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="fanMotorForm.controls.efficiencyClass.value == 3" [ngClass]="{'indicate-different': isSpecifiedEfficiencyDifferent(), 'invalid': fanMotorForm.controls.specifiedEfficiency.invalid }">
      <label for="{{'specifiedEfficiency_'+idString}}">Efficiency</label>
      <div class="input-group">
        <input name="specifiedEfficiency" type="number" min="0" step="any" class="form-control" id="{{'specifiedEfficiency_'+idString}}"
          formControlName="specifiedEfficiency" (input)="save()" (focus)="focusField('specifiedEfficiency')" onfocus="this.select();"
          [readonly]="!selected">
        <span class="input-group-addon units">%</span>
      </div>
      <span class="alert-danger pull-right small" *ngIf="fanMotorForm.controls.specifiedEfficiency.invalid && !fanMotorForm.controls.specifiedEfficiency.pristine">
        <span *ngIf="fanMotorForm.controls.specifiedEfficiency.errors.required">Value Required</span>
        <span *ngIf="fanMotorForm.controls.specifiedEfficiency.errors.max">Value can't be greater than
          {{fanMotorForm.controls.specifiedEfficiency.errors.max.max}} %.</span>
        <span *ngIf="fanMotorForm.controls.specifiedEfficiency.errors.min">Value can't be less than
          {{fanMotorForm.controls.specifiedEfficiency.errors.min.min}} %.</span>
      </span>
    </div>

    <div class="form-group" [ngClass]="{'indicate-different': isMotorRatedVoltageDifferent(),'error': warnings.voltageError !== null, 'invalid':fanMotorForm.controls.motorRatedVoltage.invalid}">
      <label for="{{'motorRatedVoltage_'+idString}}">Rated Voltage</label>
      <div class="input-group">
        <input name="motorRatedVoltage" type="number" min="0" step="10" class="form-control number-input-field" id="{{'motorRatedVoltage_'+idString}}"
          formControlName="motorRatedVoltage" (input)="save()" (focus)="focusField('motorVoltage')" onfocus="this.select();"
          [readonly]="!selected">
        <span class="input-group-addon units">V</span>
      </div>
      <span *ngIf="fanMotorForm.controls.motorRatedVoltage.invalid && !fanMotorForm.controls.motorRatedVoltage.pristine">
        <span class="alert-danger pull-right small" *ngIf="fanMotorForm.controls.motorRatedVoltage.errors.required">Value
          Required</span>
      </span>
      <span class="alert-warning pull-right small" *ngIf="warnings.voltageError !== null && !fanMotorForm.controls.motorRatedVoltage.pristine && !fanMotorForm.controls.fullLoadAmps.invalid">{{warnings.voltageError}}</span>
    </div>

    <div class="form-group" [ngClass]="{'indicate-different': isMotorFullLoadAmpsDifferent(),'error': warnings.flaError !== null, 'invalid':fanMotorForm.controls.fullLoadAmps.invalid}">
      <label for="{{'fullLoadAmps_'+idString}}" aria-describedby="flaHelp">
        Full-Load Amps
        <a class="form-text small click-link" id="flaHelp" (click)="getFullLoadAmps()">Estimate Full-Load Amps</a>
      </label>
      <div class="input-group">
        <input name="fullLoadAmps" type="number" min="0" step="any" class="form-control number-input-field" id="{{'fullLoadAmps_'+idString}}"
          formControlName="fullLoadAmps" (input)="save()" (focus)="focusField('fullLoadAmps')" onfocus="this.select();"
          [readonly]="!selected">
        <span class="input-group-addon units">A</span>
      </div>
      <span *ngIf="fanMotorForm.controls.fullLoadAmps.invalid && !fanMotorForm.controls.fullLoadAmps.pristine">
        <span class="alert-danger pull-right small" *ngIf="fanMotorForm.controls.fullLoadAmps.errors.required">Value
          Required</span>
      </span>
      <span class="alert-warning pull-right small" *ngIf="warnings.flaError !== null && !fanMotorForm.controls.fullLoadAmps.invalid">{{warnings.flaError}}</span>
    </div>
  </div>
</form>