<div class="row justify-content-center">
  <div class="col-8 align-items-center">
    <app-psat-chart [adjustment]="adjustment"></app-psat-chart>
  </div>
</div>


<div class="row justify-content-center button-row">
   <div class="col-8 align-items-center">
    <button class="btn btn-default report-button" (click)="goToReport()">View Detailed Report</button>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-8 align-items-center">
      <div class="h5 text-center">Modified Data</div>
      <div class="h5 text-center text-muted">You haven't modified anything yet.</div>
  </div>
</div>