<div #ngChartContainer class="panel-chart-container" id="panelChartContainer" [ngClass]="{'expanded-chart': expanded}">

  <div *ngIf="expanded" class="row">
    <div class="col-12" id="compress-chart">
      <span class="fa fa-compress" *ngIf="expanded" (click)="contractChart()" (mouseenter)="initTooltip('btnCollapseChart')" (mouseleave)="hideTooltip('btnCollapseChart')"></span>
      <app-simple-tooltip *ngIf="expanded" [message]="'Collapse graph'" [hover]="hoverBtnCollapse" [display]="displayCollapseTooltip"
        [adjustLeft]="15" [adjustTop]="35" [adjustPercent]="false"></app-simple-tooltip>
    </div>
  </div>

  <div class="d-flex w-100 h-100 justify-content-center align-items-center" #ngChart></div>

  <div id="gridToggle" class="col-md-12">
    <div>
      <span class="fa fa-download" (click)="downloadChart()" (mouseenter)="initTooltip('btnExportChart')" (mouseleave)="hideTooltip('btnExportChart')"></span>
      <app-simple-tooltip [message]="'Download graph as image'" [hover]="hoverBtnExport" [display]="displayExportTooltip" [adjustLeft]="55"
        [adjustTop]="35" [adjustPercent]="false"></app-simple-tooltip>
    </div>
    <div>
      <span class="fa fa-expand" *ngIf="!expanded" (click)="expandChart()" (mouseenter)="initTooltip('btnExpandChart')" (mouseleave)="hideTooltip('btnExpandChart')"></span>
      <app-simple-tooltip *ngIf="!expanded" [message]="'Expand graph'" [hover]="hoverBtnExpand" [display]="displayExpandTooltip"
        [adjustLeft]="94" [adjustTop]="35" [adjustPercent]="false"></app-simple-tooltip>
    </div>
  </div>

  <!-- <div id="gridToggle" class="d-flex">
    <div class="p-2">
      <span class="fa fa-download" (click)="downloadChart()" (mouseenter)="initTooltip('btnExportChart')" (mouseleave)="hideTooltip('btnExportChart')"></span>
      <app-simple-tooltip [message]="'Download graph as image'" [hover]="hoverBtnExport" [display]="displayExportTooltip" [adjustLeft]="55"
        [adjustTop]="35" [adjustPercent]="false"></app-simple-tooltip>
    </div>
    <div class="p-2">
      <span class="fa fa-expand" *ngIf="!expanded" (click)="expandChart()" (mouseenter)="initTooltip('btnExpandChart')" (mouseleave)="hideTooltip('btnExpandChart')"></span>
      <app-simple-tooltip *ngIf="!expanded" [message]="'Expand graph'" [hover]="hoverBtnExpand" [display]="displayExpandTooltip"
        [adjustLeft]="94" [adjustTop]="35" [adjustPercent]="false"></app-simple-tooltip>
    </div>
  </div> -->
</div>