<div class="row calc-container">
  <div class="col-3">
    <app-specific-speed-form [(speedForm)]="speedForm"></app-specific-speed-form>
  </div>
  <div class="col-9 calc-graph">
    <div class="row">
      <div class="col-9">
        <app-specific-speed-graph [speedForm]="speedForm"></app-specific-speed-graph>
      </div>
      <div class="col-3">
        <!--LEGEND-->
        <h4>Legend</h4>
        <ul>
          <li>Some info..</li>
          <li>Some more info..</li>
        </ul>
      </div>
    </div>
  </div>
</div>