<div class="row" *ngIf="settings" [ngClass]="{'align-items-center': !inPsat}">
  <div class="col-3 calc-form">
    <div class="card">
      <div class="card-block">
        <app-specific-speed-form [(speedForm)]="speedForm" [settings]="settings" (calculate)="calculate()"></app-specific-speed-form>
      </div>
    </div>
  </div>
  <div *ngIf="!inPsat" id="specificSpeedGraph" class="col-lg-9 col-md-7 col-sm-6 col-xs-5 calc-graph">
    <app-specific-speed-graph [speedForm]="speedForm" [toggleCalculate]="toggleCalculate"></app-specific-speed-graph>
  </div>
  <div *ngIf="inPsat" class="col-lg-9 col-md-7 col-sm-6 col-xs-5 calc-graph">
    <div class="row justify-content-center align-items-center">
      <div id="specificSpeedGraph" class="col-lg-10 col-md-11 col-sm-12">
        <app-specific-speed-graph [speedForm]="speedForm" [toggleCalculate]="toggleCalculate"></app-specific-speed-graph>
      </div>
    </div>
  </div>
</div>