<div class="form-section">
  <form [formGroup]="steamPropertiesForm">

    <div class="form-group">
      <label for="pressure">Pressure</label>
      <div class="input-group calc-addon-group">
        <input type="number" step="1" class="form-control" formControlName="pressure" id="pressure"
          onfocus="this.select();" (focus)="focusField('pressure')" (input)="calculate()">
        <span class="input-group-addon units" [innerHTML]="settings.steamPressureMeasurement | settingsLabel"></span>
      </div>
      <span class="alert-danger pull-right small"
        *ngIf="steamPropertiesForm.controls.pressure.invalid && !steamPropertiesForm.controls.pressure.pristine">
        <span *ngIf="steamPropertiesForm.controls.pressure.errors.required">Value Required</span>
        <span *ngIf="steamPropertiesForm.controls.pressure.errors.lessThan">Value can't be greater than
          {{steamPropertiesForm.controls.pressure.errors.lessThan}} {{settings.steamPressureMeasurement}}.</span>
        <span *ngIf="steamPropertiesForm.controls.pressure.errors.min">Value can't be less than
          {{steamPropertiesForm.controls.pressure.errors.min.min}} {{settings.steamPressureMeasurement}}.</span>
      </span>
    </div>

    <div class="form-group">
      <label for="thermodynamicQuantity">Known Variable</label>
      <div class="input-group calc-addon-group">
        <select name="thermodynamicQuantity" class="form-control" formControlName="thermodynamicQuantity"
          id="thermodynamicQuantity" (change)="setQuantityValue()" autofocus
          (focus)="focusField('thermodynamicQuantity')">
          <option [ngValue]=0>Temperature</option>
          <option [ngValue]=1>Specific Enthalpy</option>
          <option [ngValue]=2>Specific Entropy</option>
          <option [ngValue]=3>Saturated Quality</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label *ngIf="steamPropertiesForm.controls.thermodynamicQuantity.value === 0"
        for="quantityValue">Temperature</label>
      <label *ngIf="steamPropertiesForm.controls.thermodynamicQuantity.value === 1" for="quantityValue">Specific
        Enthalpy</label>
      <label *ngIf="steamPropertiesForm.controls.thermodynamicQuantity.value === 2" for="quantityValue">Specific
        Entropy</label>
      <label *ngIf="steamPropertiesForm.controls.thermodynamicQuantity.value === 3" for="quantityValue">Quality</label>
      <div class="input-group calc-addon-group">
        <input type="number" step="1" class="form-control" formControlName="quantityValue" id="quantityValue"
          onfocus="this.select();" (input)="calculate()" (focus)="focusField('quantityValue')" autofocus>
        <span class="input-group-addon units" *ngIf="steamPropertiesForm.controls.thermodynamicQuantity.value != 3"
          [innerHTML]="getOptionDisplayUnit(steamPropertiesForm.controls.thermodynamicQuantity.value) | settingsLabel"></span>
      </div>
      <span class="alert-danger pull-right small"
        *ngIf="steamPropertiesForm.controls.quantityValue.invalid && !steamPropertiesForm.controls.quantityValue.pristine">
        <span *ngIf="steamPropertiesForm.controls.quantityValue.errors.required">Value Required</span>
        <span *ngIf="steamPropertiesForm.controls.quantityValue.errors.max">Value can't be greater than
          {{steamPropertiesForm.controls.quantityValue.errors.max.max}}
          <span *ngIf="steamPropertiesForm.controls.thermodynamicQuantity.value != 3"
            [innerHTML]="getOptionDisplayUnit(steamPropertiesForm.controls.thermodynamicQuantity.value) | settingsLabel"></span>
          .</span>
        <span *ngIf="steamPropertiesForm.controls.quantityValue.errors.min">Value can't be less than
          {{steamPropertiesForm.controls.quantityValue.errors.min.min}}
          <span *ngIf="steamPropertiesForm.controls.thermodynamicQuantity.value != 3"
            [innerHTML]="getOptionDisplayUnit(steamPropertiesForm.controls.thermodynamicQuantity.value) | settingsLabel"></span>.
        </span>
      </span>
    </div>

    <div class="form-group">
      <label class="small bold">Pressure</label>
      <div class="small text-center bold">{{steamPropertiesOutput.pressure | number:'1.0-4'}}
        <span [innerHTML]="settings.steamPressureMeasurement | settingsLabel"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="small bold">Temperature</label>
      <div class="small text-center bold">{{steamPropertiesOutput.temperature | number:'1.0-2'}}
        <span [innerHTML]="settings.steamTemperatureMeasurement | settingsLabel"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="small bold">Specific Enthalpy</label>
      <div class="small text-center bold">{{steamPropertiesOutput.specificEnthalpy | number:'1.0-2'}}
        <span [innerHTML]="settings.steamSpecificEnthalpyMeasurement | settingsLabel"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="small bold">Specific Entropy</label>
      <div class="small text-center bold">{{steamPropertiesOutput.specificEntropy | number:'1.0-4'}}
        <span [innerHTML]="settings.steamSpecificEntropyMeasurement | settingsLabel"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="small bold">Quality</label>
      <div class="small text-center bold">
        <span *ngIf="steamPropertiesOutput.quality == 0">Liquid</span>
        <span *ngIf="steamPropertiesOutput.quality == 1">Gas</span>
        <span *ngIf="steamPropertiesOutput.quality != 1 && steamPropertiesOutput.quality != 0">{{steamPropertiesOutput.quality | number:'1.0-2'}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="small bold">Specific Volume</label>
      <div class="small text-center bold">{{steamPropertiesOutput.specificVolume | number:'1.0-4'}}
        <span [innerHTML]="settings.steamSpecificVolumeMeasurement | settingsLabel"></span>
      </div>
    </div>
  </form>
</div>