<div class="row">
  <div class="col-12">
    <div class="header">
      <h3>{{assessment.name}} Settings</h3>
    </div>
  </div>
</div>

<div class="setup-form-group">
  <div class="row" *ngIf="settingsForm">
    <div class="col-12">
      <app-application-settings [(settingsForm)]="settingsForm" (startSavePolling)="save()" [inPsat]="true"></app-application-settings>
    </div>
    <!-- <div class="col-12">
        <app-psat-settings [(settingsForm)]="settingsForm" (startSavePolling)="startSavePolling()"></app-psat-settings>
      </div> -->
    <div class="col-12">
      <app-fsat-settings [(settingsForm)]="settingsForm" (save)="save()"></app-fsat-settings>
    </div>
  </div>
</div>