/*.aux-equipment table {
	width: 100%;
}

.modification{
	width: 50%;
}

.aux-form-panel{
box-shadow: 0px 0px 69px -1px rgba(0,0,0,0.2);
    z-index: 2;
}

.aux-help-panel{
	box-shadow: none;
	z-index: 0;
}

.aux-header{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 10px;
}*/