<div class="d-flex flex-column flex-lg-row align-items-center justify-content-center measur-block">
  <div class="image-block">
    <ul class="text" [ngClass]="{'hidden-text': !textShow}">
      <li class="spaced">
        <img src="assets/images/app-icon.png" class="app-icon d-block">
      </li>
    </ul>
  </div>
  <div class="text-block">
    <div class="d-flex flex-wrap" (mouseenter)="showText()" (mouseleave)="hideText();">
      <div class="p-0">
        <ul class="text" [ngClass]="{'hidden-text': !textShow}">
          <li class="spaced capitol">M</li>
          <li class="ghost">a</li>
          <li class="ghost">n</li>
          <li class="ghost">u</li>
          <li class="ghost">f</li>
          <li class="ghost">a</li>
          <li class="ghost">c</li>
          <li class="ghost">t</li>
          <li class="ghost">u</li>
          <li class="ghost">r</li>
          <li class="ghost">i</li>
          <li class="ghost">n</li>
          <li class="ghost">g</li>
        </ul>
      </div>
      <div class="p-0">
        <ul class="text" [ngClass]="{'hidden-text': !textShow}">
          <li class="spaced capitol">E</li>
          <li class="ghost">n</li>
          <li class="ghost">e</li>
          <li class="ghost">r</li>
          <li class="ghost">g</li>
          <li class="ghost">y</li>
        </ul>
      </div>
      <div class="p-0">
        <ul class="text" [ngClass]="{'hidden-text': !textShow}">
          <li class="spaced capitol">A</li>
          <li class="ghost">s</li>
          <li class="ghost">s</li>
          <li class="ghost">e</li>
          <li class="ghost">s</li>
          <li class="ghost">s</li>
          <li class="ghost">m</li>
          <li class="ghost">e</li>
          <li class="ghost">n</li>
          <li class="ghost">t</li>
        </ul>
      </div>
      <div class="p-0">
        <ul class="text" [ngClass]="{'hidden-text': !textShow}">
          <li class="spaced capitol">S</li>
          <li class="ghost">o</li>
          <li class="ghost">f</li>
          <li class="ghost">t</li>
          <li class="ghost">w</li>
          <li class="ghost">a</li>
          <li class="ghost">r</li>
          <li class="ghost">e</li>
          <li class="ghost spaced">f</li>
          <li class="ghost">o</li>
          <li class="ghost">r</li>
        </ul>
      </div>
      <!-- <div class="p-0">
    <ul class="text" [ngClass]="{'hidden-text': !textShow}">
      <li class="ghost spaced">f</li>
      <li class="ghost">o</li>
      <li class="ghost">r</li>
    </ul>
  </div> -->
      <div class="p-0">
        <ul class="text" [ngClass]="{'hidden-text': !textShow}">
          <li class="spaced capitol">U</li>
          <li class="ghost">t</li>
          <li class="ghost">i</li>
          <li class="ghost">l</li>
          <li class="ghost">i</li>
          <li class="ghost">t</li>
          <li class="ghost">y</li>
        </ul>
      </div>
      <div class="p-0">
        <ul class="text" [ngClass]="{'hidden-text': !textShow}">
          <li class="spaced capitol">R</li>
          <li class="ghost">e</li>
          <li class="ghost">d</li>
          <li class="ghost">u</li>
          <li class="ghost">c</li>
          <li class="ghost">t</li>
          <li class="ghost">i</li>
          <li class="ghost">o</li>
          <li class="ghost">n</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Manufacturing Energy Assessment Software for Utility Reduction -->