.phast-container{
    height: 100%;
}

.system-setup{
    height: 100%;
}


.modal-open {
    z-index: initial !important;
}


#phastSelect {
    margin-top: 25px;
}

.btn-primary{
    background-color: #BF3D00;
}