<div class="phast-container phast" *ngIf="assessment && settings">
  <div class="hide-print sticky-top">
    <app-phast-banner [assessment]="assessment"></app-phast-banner>
  </div>
  <div class="hide-print">
    <!-- phast-tabs = step tabs -->
    <app-phast-tabs *ngIf="mainTab == 'system-setup'"></app-phast-tabs>
    <!--losses-tabs are tabs for heat balance/assessment, both inSetup and !inSetup -->
    <nav *ngIf="mainTab == 'assessment' || (mainTab == 'system-setup' && stepTab.step == 2)">
      <app-losses-tabs [phast]="_phast" [settings]="settings" [saveDbToggle]="saveDbToggle" [inSetup]="mainTab == 'system-setup'"></app-losses-tabs>
    </nav>
  </div>

  <!--Furnace Setup -->
  <div class="system-setup tab-content" *ngIf="mainTab == 'system-setup'">
    <div class="row panel-container" *ngIf="stepTab.step == 1">
      <div class="col-6 panel-column modification">
        <!--Step: 1 System Basics (Settings)-->
        <app-system-basics *ngIf="specTab == 'system-basics'" [phast]="_phast" [settings]="settings" [saveClicked]="saveClicked"
          [assessment]="assessment" [isAssessmentSettings]="isAssessmentSettings" (updateSettings)="getSettings($event)" (save)="saveDb()"></app-system-basics>
        <!--Step: 2 Operating Hours-->
        <app-operating-hours *ngIf="specTab == 'operating-hours'" [phast]="_phast" [saveClicked]="saveClicked" (save)="saveDb()"></app-operating-hours>
        <!--Step: 3 Operating Costs-->
        <app-energy-costs *ngIf="specTab == 'energy-costs'" [phast]="_phast" [saveClicked]="saveClicked" (save)="saveDb()" [settings]="settings"></app-energy-costs>
      </div>
      <div class="col-6">
        <app-help-panel [settingsTab]="specTab"></app-help-panel>
      </div>
    </div>
    <!--Step: 4 Heat Balance-->
    <app-losses *ngIf="stepTab.step  == 2" [(phast)]="_phast" [saveClicked]="saveClicked" (saved)="saveDb()" [settings]="settings"
      [inSetup]="true"></app-losses>
    <!--Step: 5 Aux Equipment-->
    <app-aux-equipment *ngIf="stepTab.step  == 3" [(phast)]="_phast" (save)="saveDb()"></app-aux-equipment>
    <!--Step: 6 Designed Energy-->
    <app-designed-energy *ngIf="stepTab.step  == 4" [(phast)]="_phast" [settings]="settings" (save)="saveDb()"></app-designed-energy>
    <!--Step: 7 Metered Energy -->
    <app-metered-energy *ngIf="stepTab.step  == 5" [(phast)]="_phast" [settings]="settings" (save)="saveDb()"></app-metered-energy>
  </div>

  <!--Assessment-->
  <div *ngIf="mainTab == 'assessment'" class="tab-content">
    <app-losses [(phast)]="_phast" [saveClicked]="saveClicked" (saved)="saveDb()" [settings]="settings" [inSetup]="false"></app-losses>
  </div>
  <!--Report-->
  <div *ngIf="mainTab == 'report'" class="row justify-content-center report-container">
    <div class="col-11 report-column">
      <app-phast-report [phast]="_phast" [settings]="settings" [assessment]="assessment" [inPhast]="true"></app-phast-report>
    </div>
  </div>
  <!--Sankey-->
  <div *ngIf="mainTab == 'sankey'" class="row tab-content">
    <div class="col-12">
      <app-sankey [phast]="_phast" [location]="'sankey-diagram'" [settings]="settings"></app-sankey>
    </div>
  </div>
  <!--Diagram-->
  <div *ngIf="mainTab =='diagram'" class="tab-content">
    <app-phast-diagram></app-phast-diagram>
  </div>

  <div class="footer" *ngIf="mainTab == 'system-setup' || mainTab == 'assessment'">
    <div class="pull-left">
      <!--<button class="btn btn-secondary" *ngIf="mainTab == 'system-setup'" (click)="close()">Close</button>-->
      <button class="btn btn-secondary" *ngIf="mainTab == 'system-setup'" (click)="goToStep(stepTab.back)">Back</button>
    </div>
    <div class="pull-right">
      <button class="btn btn-secondary" (click)="save()">Save</button>
      <button class="btn btn-secondary" *ngIf="mainTab == 'system-setup' && stepTab.next" (click)="goToStep(stepTab.next)">Continue</button>
      <button class="btn btn-secondary" *ngIf="mainTab == 'system-setup' && !stepTab.next" [disabled]="!_phast.setupDone" (click)="phastService()">Heat Balance Assessment</button>
      <button class="btn btn-primary" *ngIf="mainTab == 'assessment'" [disabled]="!_phast.setupDone" (click)="goToReport()">View Report</button>
    </div>
  </div>
</div>

<ng2-toasty class="disclaimer"></ng2-toasty>