<div #content *ngIf="assessment && settings" class="phast-container phast">
  <!--header content, sticks to top on scroll-->
  <div #header class="hide-print sticky-top">
    <app-phast-banner [assessment]="assessment" [settings]="settings"></app-phast-banner>
    <!-- phast-tabs = step tabs -->
    <app-phast-tabs [tab1Status]="tab1Status" [tab2Status]="tab2Status" *ngIf="mainTab == 'system-setup'">
    </app-phast-tabs>
    <app-modification-navbar *ngIf="mainTab == 'assessment'" [phast]="_phast"></app-modification-navbar>
    <!--losses-tabs are tabs for heat balance/assessment, both inSetup and !inSetup -->
    <nav
      *ngIf="(mainTab == 'assessment' && assessmentTab != 'explore-opportunities') || (mainTab == 'system-setup' && stepTab?.step == 2)">
      <app-losses-tabs [phast]="_phast" [settings]="settings" [inSetup]="mainTab == 'system-setup'"></app-losses-tabs>
    </nav>
    <app-phast-calculator-tabs *ngIf="mainTab =='calculators'"></app-phast-calculator-tabs>
  </div>

  <!--Furnace Setup -->
  <div *ngIf="mainTab == 'system-setup' && stepTab.step == 1" class="tab-content d-flex">
    <div class="w-50 panel-column modification scroll-item" [ngStyle]="{'height.px': containerHeight}"
      [ngClass]="{'modal-open': isModalOpen || showUpdateUnitsModal}">
      <!--Step: 1 System Basics (Settings)-->
      <app-system-basics *ngIf="specTab.step == 1" [phast]="_phast" [settings]="settings" [assessment]="assessment"
        (updateSettings)="getSettings()" (save)="saveDb()" (openUpdateUnitsModal)="initUpdateUnitsModal($event)">
      </app-system-basics>
    </div>
    <div class="w-50">
      <app-help-panel [settingsTab]="specTab"></app-help-panel>
    </div>
  </div>
  <div *ngIf="mainTab == 'system-setup' && stepTab.step != 1" class="tab-content">
    <!--Step: 4 Heat Balance-->
    <app-losses *ngIf="stepTab.step  == 2" [(phast)]="_phast" (saved)="saveDb()" [settings]="settings" [inSetup]="true"
      [containerHeight]="containerHeight"></app-losses>
    <!--Step: 5 Aux Equipment-->
    <app-aux-equipment *ngIf="stepTab.step  == 3" [(phast)]="_phast" (save)="saveDb()"
      [containerHeight]="containerHeight" [settings]="settings"></app-aux-equipment>
    <!--Step: 6 Designed Energy-->
    <app-designed-energy *ngIf="stepTab.step  == 4" [(phast)]="_phast" [settings]="settings" (save)="saveDb()"
      [containerHeight]="containerHeight"></app-designed-energy>
    <!--Step: 7 Metered Energy -->
    <app-metered-energy *ngIf="stepTab.step  == 5" [(phast)]="_phast" [settings]="settings" (save)="saveDb()"
      [containerHeight]="containerHeight"></app-metered-energy>
  </div>

  <!--Assessment-->
  <div *ngIf="mainTab == 'assessment'" class="tab-content" [ngStyle]="{'height.px': containerHeight}">
    <div *ngIf="assessmentTab == 'explore-opportunities'">
      <app-explore-phast-opportunities [containerHeight]="containerHeight" [(phast)]="_phast" [settings]="settings"
        [assessment]="assessment" (save)="saveDb()" [exploreModIndex]="modificationIndex"
        (exploreOppsToast)="hideToast($event)" (emitAddNewMod)="addNewMod()"></app-explore-phast-opportunities>
    </div>
    <div *ngIf="assessmentTab == 'modify-conditions'">
      <app-losses [containerHeight]="containerHeight" [(phast)]="_phast" (saved)="saveDb()" [settings]="settings"
        [inSetup]="false" [modificationIndex]="modificationIndex"></app-losses>
    </div>
  </div>
  <!--Report-->
  <div *ngIf="mainTab == 'report'" class="row justify-content-center">
    <div class="col-11">
      <app-phast-report [phast]="_phast" [settings]="settings" [assessment]="assessment" [inPhast]="true"
        [containerHeight]="containerHeight"></app-phast-report>
    </div>
  </div>
  <!--Sankey-->
  <div *ngIf="mainTab == 'sankey'" class="mx-auto d-flex flex-column scroll-item" [ngStyle]="{'height.px': containerHeight}">
    <nav class="navbar phast">
      <div *ngIf="showSankeyLabelOptions" class="d-flex justify-content-start align-items-center w-100 flex-wrap">
        <div class="tab-content pl-2 pr-2">
            <div class="form-group" *ngIf="phastOptions.length > 1">
              <select name="phastSelect" class="form-control mx-auto w-100" id="phastSelect" [(ngModel)]="sankeyPhast">
                <option *ngFor="let mod of phastOptions" [ngValue]="mod.phast">{{mod.name}}</option>
              </select>
            </div>
        </div>
          <div class="btn-group btn-group-sm align-self-center">
              <button type="button" class="btn btn-sm" (click)="setSankeyLabelStyle('percent')"
                  [ngClass]="{'active': sankeyLabelStyle == 'percent'}">Loss Percent</button>
              <button type="button" class="btn btn-sm" (click)="setSankeyLabelStyle('power')"
                  [ngClass]="{'active': sankeyLabelStyle == 'power'}">Loss Power</button>
              <button type="button" class="btn btn-sm" (click)="setSankeyLabelStyle('both')"
                  [ngClass]="{'active': sankeyLabelStyle == 'both'}">Both</button>
          </div>
      </div>
  </nav>
    <div *ngIf="sankeyPhast" class="sankey-padding">
      <app-phast-sankey [phast]="sankeyPhast" [labelStyle]="sankeyLabelStyle" [settings]="settings" [appBackground]="true"></app-phast-sankey>
    </div>
  </div>

  <!--Diagram-->
  <div *ngIf="mainTab =='diagram'" class="tab-content">
    <app-phast-diagram></app-phast-diagram>
  </div>

  <!--Calculators-->
  <div *ngIf="mainTab =='calculators'" class="tab-content" [ngStyle]="{'height.px': containerHeight}">
    <app-efficiency-improvement *ngIf="calcTab == 'efficiency-improvement'" [inAssessment]="true"
      [assessment]="assessment" [settings]="settings"></app-efficiency-improvement>
    <app-energy-equivalency *ngIf="calcTab == 'energy-equivalency'" [inAssessment]="true" [assessment]="assessment"
      [settings]="settings"></app-energy-equivalency>
    <app-energy-use *ngIf="calcTab == 'energy-use'" [settings]="settings"></app-energy-use>
    <app-o2-enrichment *ngIf="calcTab == 'o2-enrichment'" [inAssessment]="true" [assessment]="assessment"
      [settings]="settings"></app-o2-enrichment>
    <app-pre-assessment *ngIf="calcTab == 'pre-assessment'" [settings]="settings" [height]="containerHeight"
      [inAssessment]="true" [assessment]="assessment"></app-pre-assessment>
    <app-unit-converter *ngIf="calcTab == 'convert-units'" [inAssessment]="true"></app-unit-converter>
  </div>
  <div #footer class="footer" *ngIf="mainTab == 'system-setup' || mainTab == 'assessment'">
    <div class="pull-left" *ngIf="stepTab.back || selectedLossTab.back || specTab.back || (mainTab == 'assessment')">
      <button class="btn btn-secondary" (click)="lastStep()">Back</button>
    </div>
    <div class="pull-right">
      <button class="btn btn-primary"
        *ngIf="(mainTab == 'assessment' && selectedLossTab.next && assessmentTab == 'modify-conditions') || (mainTab == 'system-setup' && stepTab.next)"
        (click)="nextStep()">Next</button>
      <button class="btn btn-primary" *ngIf="mainTab == 'system-setup' && !stepTab.next" [disabled]="!_phast.setupDone"
        (click)="goToAssessment()">Go To Assessment</button>
      <button class="btn btn-primary ml-2" *ngIf="mainTab == 'assessment'" [disabled]="!_phast.setupDone"
        (click)="goToReport()">View Report</button>
    </div>
  </div>
</div>

<app-toast *ngIf="showToast" [title]="toastData.title" [body]="toastData.body" (emitCloseToast)="hideToast()"
  [setTimeoutVal]="toastData.setTimeoutVal" [toastClass]="'disclaimer'" [showDisableFooter]="true"
  (emitDisable)="disableDisclaimer()"></app-toast>

<div bsModal #changeModificationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="changeModificationModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}" *ngIf="_phast">
  <div class="modal-dialog modal-lg list-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Select Scenario</h3>
        <button class="close" (click)="closeSelectModification()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-modification-list [phast]="_phast" (save)="saveDb()" [modificationIndex]="modificationIndex"
          (close)="closeSelectModification()"></app-modification-list>
      </div>
    </div>
  </div>
</div>



<div bsModal #addNewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addNewModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static'}" *ngIf="_phast">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Add New Scenario</h3>
        <button class="close" (click)="closeAddNewModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-modification [phast]="_phast" [modifications]="_phast.modifications" (save)="saveNewMod($event)">
        </app-add-modification>
      </div>
    </div>
  </div>
</div>

<app-update-units-modal *ngIf="showUpdateUnitsModal" (emitClose)="closeUpdateUnitsModal()" [assessmentType]="'phast'"
 (emitShouldUpdateData)="selectUpdateAction($event)" [settings]="settings"></app-update-units-modal>