
/*.tab-content{
  height: 80vh;
  max-height: 80vh;
}


.panel{
  height: 100%;
}*/


.disclaimer{
  font-weight: bold !important;
  opacity: 1 !important;
}

.report-container{
    background-color: #ececec;
}

.report-column{
    margin-top: 50px;
    margin-bottom: 100px;
}