<div class="checkbox">
    <label class="group-label" for="useUnloadingControls">
        <input type="checkbox" id="useUnloadingControls" (focus)="focusField('useUnloadingControls')"
            (change)="setUseUnloadingControls()" [(ngModel)]="useUnloadingControls.selected" />
        Use Unloading Controls
    </label>
</div>

<form *ngIf="useUnloadingControls.selected" class="mb-2 pt-1">
    <!-- compressor -->
    <div class="form-group">
        <label for="compressorId">Compressor</label>
        <select id="compressorId" name="compressorId" [(ngModel)]="useUnloadingControls.compressorId"
            (change)="changeCompressor()" (focus)="focusField('compressorId')" class="form-control">
            <option *ngFor="let inventoryItem of inventoryItems" [ngValue]="inventoryItem.itemId">
                {{inventoryItem.name}}</option>
        </select>
    </div>
    <div class="form-group" *ngIf="useUnloadingControls.compressorId && canAddUnloadingControls">
        <label for="unloadPointCapacity">Unload Point, %C</label>
        <div class="input-group">
            <input type="number" class="form-control" [(ngModel)]="useUnloadingControls.unloadPointCapacity"
                name="unloadPointCapacity" id="unloadPointCapacity" (input)="save()">
            <span class="input-group-addon units">%</span>
        </div>
    </div>
    <!-- controlType -->
    <div class="form-group" *ngIf="useUnloadingControls.compressorId && canAddUnloadingControls">
        <label for="controlType">Control Type</label>
        <select id="controlType" name="controlType" [(ngModel)]="useUnloadingControls.controlType" (change)="save()"
            (focus)="focusField('controlType')" class="form-control">
            <option *ngFor="let controlTypeOption of controlTypeOptions" [ngValue]="controlTypeOption.value">
                {{controlTypeOption.label}}</option>
        </select>
    </div>


    <div *ngIf="!canAddUnloadingControls" class="alert alert-warning p-2">
        Select compressor that can add unloading controls.
    </div>
</form>