.group-label{
	font-size: 16px;
    text-transform: none;
	letter-spacing: 1px;
	padding-top: 6.5px;
	padding-bottom: 6.5px;
}

.group-label:hover{
	cursor: pointer;
	background-color: lightgray;
}


.group-label .form-control{
	width: fit-content;
	display: inherit;
    background-color: #7030A0;
    color: white;
}

.fa-exclamation-circle {
    color: red !important;
    font-size: .75rem;
    padding-right: .5rem;
}
