<div class="card" *ngIf="settings">
  <div class="header">
    <h3>Summary of Energy Sources Used</h3>
  </div>
  <div class="card-body">
    <app-psat-rollup-energy-table [settings]="settings"></app-psat-rollup-energy-table>
  </div>
</div>
<div class="card">
  <div class="header">
    <h3>Energy Use Graphs</h3>
  </div>
  <div class="card-body">
    <app-psat-rollup-graphs [settings]="settings"></app-psat-rollup-graphs>
  </div>
</div>

<div class="card">
  <div class="header">
    <h3>Pumps Summary</h3>
  </div>
  <div class="card-body">
    <app-psat-rollup-pump-summary></app-psat-rollup-pump-summary>
  </div>
</div>