.inlet-pressure-tube{
    margin-top: 23px;
    margin-left: -5px;
}

.feedwater{
    padding-left: .75rem;
    padding-right: .75rem;
    margin-top: 17px;
    margin-right: -7px;
}

.vents{
    margin-bottom: -5px;
    margin-left: 5px;
}

.makeup-water{
    margin-top: -2px;
    margin-left: 4px;
    padding-bottom: 5px;
}

.deaerator-img{
    height: 60px;
    z-index: +1;
}

.low-pressure-tube{
    height: 74.5%;
    border-bottom-right-radius: 35px;
}

.low-pressure-column{
    margin-top: -1rem;
    margin-left: -5px;
}

.makeup-water-padding{
    padding-left: 1.5rem;
}