<app-pumps [selectedTool]="selectedTool" *ngIf="selectedCalculator == 'pumps'"></app-pumps>
<app-furnaces *ngIf="selectedCalculator == 'furnaces'"></app-furnaces>
<app-motors *ngIf="selectedCalculator == 'motors'"></app-motors>
<app-fans *ngIf="selectedCalculator == 'fans'"></app-fans>
<app-steam *ngIf="selectedCalculator == 'steam'"></app-steam>
<app-compressed-air *ngIf="selectedCalculator == 'compressed-air'"></app-compressed-air>
<app-utilities [selectedTool]="selectedTool" *ngIf="selectedCalculator == 'utilities'"></app-utilities>

<div *ngIf="selectedCalculator == 'all'">

    <div class="row">
        <div class="col-10 offset-md-1">

            <div class="content-container calculator-list">
            
                <h2>All Calculators</h2>

                <h3>Pumps</h3>
                <ul>
                    <li>
                        <a (click)="showTool('pumps','head-tool')">Head Tool</a>
                        <p>Use head tool calculator to calculate pump head.</p>
                    </li>
                    <li>
                        <a (click)="showTool('pumps','system-curve')">System Curve</a>
                        <p>Use system curve to graph your pumps flow.</p>
                    </li>
                    <li>
                        <a (click)="showTool('pumps','nema-energy-efficiency')">NEMA Energy Efficiency</a>
                        <p>The predicted efficiency of an induction motor from NEMA MG1, based on size, rotating speed and efficiency class.</p>
                    </li>
                    <li>
                        <a (click)="showTool('pumps','specific-speed')">Specific Speed</a>
                        <p>For each pump type there is an optimal specific speed based on size, flow rate, specific speed.  Hydraulic Institute standards also include factors for wear and surface finish on wetted parts but these two factors are not considered in the PSAT calculations.  Operation at the optimal specific speed allows a pump to operate at maximum efficiency.  This calculator determines the specific speed for a pump at the given conditions and calculates the amount of efficiency penalty to be deducted from the maximum value due to operation away from the optimal specific speed.</p>
                    </li>
                    <li>
                        <a (click)="showTool('pumps','achievable-efficiency')">Pump Efficiency Curves</a>
                        <div>Determine the achievable pump efficiency for vaious pump styles which are based on the Hydraulic Institute (HI) standard ANSI/HI 1.3-2000</div>
                    </li>
                    <li>
                        <a (click)="showTool('pumps','motor-performance')">Motor Performance</a>
                        <div></div>
                    </li>
                </ul>

                <h3>Utilities</h3>
                <ul>
                    <li>
                        <a (click)="showTool('utilities','convert-units')">Unit Converter</a>
                        <p>Use unit converter for quick unit conversion calculations</p>
                    </li>
                </ul>

            </div><!-- End .content-container -->

        </div>
    </div>
</div>

