a:not([href]):not([tabindex]):hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

a:not([href]):not([tabindex]){
    color: blue;
}
img {
    cursor: pointer;
}

.content-container{
    padding: 1rem;
}

h3{
    padding-top: .5rem;
}

.btn-margin-10 {
    margin: 10px 0px;
}