a:not([href]):not([tabindex]):hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

a:not([href]):not([tabindex]){
    color: blue;
}
.ico-size {
  height: 55px;
  background: linear-gradient(rgba(228, 219, 219, 0.34), rgba(30, 144, 255, 0.26));
  /*background-color: rgba(41, 128, 185, 0);*/
  border-radius: 15px;
  border: 0.1px solid rgba(123, 120, 120, 0.25);
  box-shadow: #7b7878 2px 2px 5px 1px;
}

.calculator-list p {
  margin-top: 10px;
}
