<div class="d-none d-lg-flex h-100 modify-conditions compressed-air standalone-calculator">
  <div class="d-flex flex-column modification w-50 mh-100 scroll-item">
    <div #leftPanelHeader class="d-flex header mr-2 ml-2 pb-1 pt-1 align-items-center">
      <div class="calc-icon-header icon-compressed-air">
        <img src="assets/images/calculator-icons/compressed-air-icons/operation-cost.png">
      </div>
      <div class="pl-2">
        <h3>Operation Costs</h3>
      </div>
    </div>
    <div class="d-flex flex-column m-4">
      <app-operating-cost-form [settings]="settings" [inputs]="inputs" [outputs]="outputs" (calculate)="calculateOperationCost($event)"
        (emitChangeField)="setField($event)"></app-operating-cost-form>
      <div class="w-100 justify-content-center btn-group btn-group-sm">
        <button type="button" class="btn btn-danger pull-right btn-sm m-2 btn-form" (click)="btnResetData()">
          Reset Data
        </button>
        <!-- add "Generate Example" button. Make sure to use 'btn-primary' instead of 'btn-danger' for styling. -->
        <button type="button" class="btn btn-primary pull-right btn-sm m-2 btn-form" (click)="btnGenerateExample()">
          Generate Example
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column w-50 mh-100 scroll-item">
    <div class="d-flex flex-wrap tabs primary mr-2 ml-2 sticky-top" [ngStyle]="{'height.px': headerHeight}">
      <div class="flex-fill panel-tab-item h-100 active">
        <a class="h-100 d-flex justify-content-center align-items-center">
          <div>Help</div>
        </a>
      </div>
    </div>
    <div class="d-flex">
      <app-operating-cost-help [currentField]="currentField"></app-operating-cost-help>
    </div>
  </div>
</div>

<div class="d-block d-lg-none h-100 modify-conditions compressed-air standalone-calculator" [ngStyle]="{'overflow-y': 'auto'}">
  <div class="d-block modification w-100 mh-100 scroll-item">
    <div #leftPanelHeader class="d-flex header mr-2 ml-2 pb-1 pt-1 align-items-center">
      <div class="calc-icon-header icon-compressed-air">
        <img src="assets/images/calculator-icons/compressed-air-icons/operation-cost.png">
      </div>
      <div class="pl-2">
        <h3>Operation Costs</h3>
      </div>
    </div>
    <div class="d-flex flex-column m-4">
      <app-operating-cost-form [settings]="settings" [inputs]="inputs" [outputs]="outputs"
        (calculate)="calculateOperationCost($event)" (emitChangeField)="setField($event)"></app-operating-cost-form>
      <div class="w-100 justify-content-center btn-group btn-group-sm">
        <button type="button" class="btn btn-danger pull-right btn-sm m-2 btn-form" (click)="btnResetData()">
          Reset Data
        </button>
        <!-- add "Generate Example" button. Make sure to use 'btn-primary' instead of 'btn-danger' for styling. -->
        <button type="button" class="btn btn-primary pull-right btn-sm m-2 btn-form" (click)="btnGenerateExample()">
          Generate Example
        </button>
      </div>
    </div>
  </div>
  <div class="d-block w-100 mh-100">
    <div class="d-flex flex-wrap tabs primary mr-2 ml-2">
      <div class="flex-fill panel-tab-item h-100 active">
        <a class="h-100 d-flex justify-content-center align-items-center">
          <div>Help</div>
        </a>
      </div>
    </div>
    <div class="d-flex">
      <app-operating-cost-help [currentField]="currentField"></app-operating-cost-help>
    </div>
  </div>
</div>
