<div class="col-12" [hidden]="hideCard">
  <div class="card treasure-hunt-card" [ngClass]="{'not-selected': !motorDrive.selected}">
    <div class="card-body d-flex w-100 p-0">
      <div class="col-1 col-item-br">
        <div class="row align-items-center h-100">
          <div class="col text-center">
            <app-animated-checkmark [active]="motorDrive.selected" (click)="toggleSelected()">
            </app-animated-checkmark>
          </div>
        </div>
      </div>
      <div class="col-4 col-item-br opportunity-name">
        <div class="row align-items-center h-100">
          <div class="col text-center">
            <img src="assets/images/calculator-icons/motor-icons/motor-drive.png" class="motor-drive-icon">
            <a (click)="editItem()">
              <span *ngIf="!motorDrive.opportunitySheet || !motorDrive.opportunitySheet.name">
                Motor Drive #{{index+1}}
              </span>
              <span *ngIf="motorDrive.opportunitySheet && motorDrive.opportunitySheet.name">
                {{motorDrive.opportunitySheet.name}}
              </span>
            </a><br>
            <span>Annual Cost Savings: {{motorDriveResults.annualCostSavings | currency:'USD'}}</span><br>
            <span>Annual Electricity Savings: {{motorDriveResults.annualEnergySavings | number:'1.0-0'}}
              kWh</span>
          </div>
        </div>
      </div>
      <div class="col-3 col-item-br text-center graph-col treasure-hunt-item">
        <div class="large pt-2">Electricity Cost Savings</div>
        <app-treasure-hunt-gauge [value]="percentSavings" [chartHeight]="75"></app-treasure-hunt-gauge>
      </div>
      <div class="col-2 col-item-br opp-sheet-col">
        <div class="row align-items-center h-100">
          <div class="col text-center"
            [ngClass]="{'no-opp-sheet': !motorDrive.opportunitySheet, 'opp-sheet-exists': motorDrive.opportunitySheet}"
            (click)="editOpportunitySheet()">
            <img src="assets/images/calculator-icons/opportunity-sheet-icon.png" class="calc-icon"><br>
            <span class="large pt-2" *ngIf="!motorDrive.opportunitySheet">Add Opportunity Sheet</span>
            <span class="large pt-2" *ngIf="motorDrive.opportunitySheet">Edit Opportunity Sheet</span>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row align-items-center h-100">
          <div class="col text-center">
            <a class="click-link" (click)="editItem()">Edit Opportunity</a><br>
            <a class="click-link danger" (click)="deleteItem()">Delete</a><br>
            <!-- <a class="click-link" (click)="createCopy()">Create Copy</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>