
.vertical {
  display: inline;
  border: .5px solid grey;
}

.btn-margin-10 {
  margin: 10px 0px;
}

input[type='checkbox']:hover {
  cursor: pointer;
}

.col-item-br{
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

table > tr {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

td{
  font-size: small;
}

td{
  font-size: small;
  border-right: solid 1px darkgray;
  border-left: solid 1px darkgray;
  padding: 3px;
}

tr > td:first-child {
  border-right: none;
}


tbody{
  box-shadow: 0 4px 8px 0 grey
}
