<div class="d-flex flex-column">
  <label class="group-label">Cost Summary</label>
  <div class="p-1">
    <table class="table table-hover table-striped">
      <tbody>
        <tr>
          <td class="bold text-center" colspan="2">Power Balance</td>
        </tr>
        <tr>
          <td class="text-center w-50">Generation</td>
          <td class="text-center w-50">{{outputData.powerGenerated | number:'1.0-1'}} 
              <span [innerHTML]="settings.steamPowerMeasurement | settingsLabel"></span>
          </td>
        </tr>
        <tr>
          <td class="text-center w-50">Demand</td>
          <td class="text-center w-50">{{outputData.sitePowerDemand | number:'1.0-1'}} 
              <span [innerHTML]="settings.steamPowerMeasurement | settingsLabel"></span>
          </td>
        </tr>
        <tr>
          <td class="text-center w-50">Import</td>
          <td class="text-center w-50">{{outputData.sitePowerImport | number:'1.0-1'}} 
              <span [innerHTML]="settings.steamPowerMeasurement | settingsLabel"></span>
          </td>
        </tr>
        <tr>
          <td class="text-center w-50">Unit Cost</td>
          <td class="text-center w-50">{{inputData.operationsInput.electricityCosts | currency:'USD'}} /kWh</td>
        </tr>
        <tr>
          <td class="bold text-center w-50">Total $/yr</td>
          <td class="text-center w-50">{{outputData.powerGenerationCost | currency:'USD'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="p-1">
    <table class="table table-hover table-striped">
      <tbody>
        <tr>
          <td class="bold text-center" colspan="2">Fuel Balance</td>
        </tr>
        <tr>
          <td class="text-center w-50">Boiler</td>
          <td class="text-center w-50">{{outputData.boilerOutput.fuelEnergy | number:'1.0-2'}} 
              <span [innerHTML]="settings.steamEnergyMeasurement | settingsLabel"></span>/hr
          </td>
        </tr>
        <tr>
          <td class="text-center w-50">Unit Cost</td>
          <td class="text-center w-50">{{inputData.operationsInput.fuelCosts | currency:'USD'}} 
            /<span [innerHTML]="settings.steamEnergyMeasurement | settingsLabel"></span>
          </td>
        </tr>
        <tr>
          <td class="bold text-center w-50">Total $/yr</td>
          <td class="text-center w-50">{{outputData.boilerFuelCost | currency:'USD'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="p-1">
    <table class="table table-hover table-striped">
      <tbody>
        <tr>
          <td class="bold text-center" colspan="2">Make-Up Water</td>
        </tr>
        <tr>
          <td class="text-center w-50">Flow</td>
          <td class="text-center w-50">
            {{outputData.makeupWaterVolumeFlow | number:'1.0-2'}} gpm <br>
            {{outputData.annualMakeupWaterFlow | number:'1.0-2'}} gal
          </td>
        </tr>
        <tr>
          <td class="text-center w-50">Unit Cost</td>
          <td class="text-center w-50">${{inputData.operationsInput.makeUpWaterCosts | number:'1.2-4'}} 
              /<span [innerHTML]="settings.steamVolumeMeasurement | settingsLabel"></span>
          </td>
        </tr>
        <tr>
          <td class="bold text-center w-50">Total $/yr</td>
          <td class="text-center w-50">{{outputData.makeupWaterCost | currency:'USD'}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="p-1">
    <table class="table table-hover table-striped">
      <tbody>
        <tr>
          <td class="bold text-center" colspan="2">Total Operating Cost</td>
        </tr>
        <tr>
          <td class="text-center">{{outputData.totalOperatingCost | currency:'USD'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="d-flex flex-column">
  <label class="group-label">Marginal Steam Cost</label>
  <div class="p-1">
    <table class="table table-hover table-striped">
      <tbody>
        <tr>
          <td class="text-center w-50">High Pressure</td>
          <td class="text-center w-50">{{outputData.marginalHPCost | currency:'USD'}} /<span [innerHTML]="settings.steamMassFlowMeasurement | settingsLabel"></span>
          </td>
        </tr>
        <tr>
          <td class="text-center w-50">Medium Pressure</td>
          <td class="text-center w-50">{{outputData.marginalMPCost | currency:'USD'}} /<span [innerHTML]="settings.steamMassFlowMeasurement | settingsLabel"></span></td>
        </tr>
        <tr>
          <td class="text-center w-50">Low Pressure</td>
          <td class="text-center w-50">{{outputData.marginalLPCost | currency:'USD'}} /<span [innerHTML]="settings.steamMassFlowMeasurement | settingsLabel"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>