<div *ngIf="weatherDataSourceView == 'file'" class="p-2 mx-3 form-section">
    <div>
        <div class="form-group d-flex flex-row flex-wrap">
            <label class="group-label bold mb-2 w-100">Upload weather data</label>
            <div class="d-flex flex-column">
                <input *ngIf="!inputData.fileName || validFile == false" type="file" class="form-control w-100"
                    (change)="setImportFile($event)">
                <span class="alert-danger small w-100 text-center" *ngIf="validFile == false">Invalid File Type - Must
                    have a .csv file extension</span>
                    <div class="small mt-1 mx-2" *ngIf="inputData.fileName && validFile == true">
                        Current File: {{inputData.fileName}}
                    </div>
            </div>

            <div class="pl-2 align-self-end">
                <button *ngIf="!inputData.fileName || validFile == false" class="w-100 btn btn-primary pull-right"
                    role="button" (click)="parseImportData()" [disabled]="importData == undefined">Parse CSV
                    Data</button>
                <button *ngIf="inputData.fileName && validFile == true" class="w-100 btn btn-danger pull-right"
                    role="button" (click)="resetData()">Reset Data</button>
            </div>
        </div>


        <div class="d-flex p-1">
            <a class="click-link small pb-2" *ngIf="previousDataAvailable && !inputData.fileName"
                (click)="usePreviousData()">Load File from Last Use
                ({{previousDataAvailable | date:'long'}})</a>
        </div>

        <div class="d-flex flex-column align-items-center w-100 h-100" *ngIf="importingData == true">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <span class="importing-text">Importing Data, One Moment...</span>
        </div>
    </div>

    <div *ngIf="importData">
        <form>
            <div class="form-group">
                <label for="startMonth">Start Day</label>
                <div class="d-flex w-50">
                    <select name="startMonth" id="startMonth" class="form-control" [(ngModel)]="inputData.startMonth"
                        (change)="setStartMonth()" (focus)="focusField('startMonth')">
                        <option *ngFor="let dateSelection of dateSelectionData" [ngValue]="dateSelection.monthValue">
                            {{dateSelection.month}}</option>
                    </select>
                    <select name="startDay" id="startDay" class="form-control" [(ngModel)]="inputData.startDay"
                        (change)="save()"  (focus)="focusField('startDay')">
                        <option *ngFor="let day of startMonthDays" [ngValue]="day">
                            {{day}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="endMonth">End Day</label>
                <div class="d-flex w-50">
                    <select name="endMonth" id="endMonth" class="form-control" [(ngModel)]="inputData.endMonth"
                        (change)="setEndMonth()" (focus)="focusField('endMonth')">
                        <option *ngFor="let dateSelection of dateSelectionData" [ngValue]="dateSelection.monthValue">
                            {{dateSelection.month}}</option>
                    </select>
                    <select name="endDay" id="endDay" class="form-control" [(ngModel)]="inputData.endDay"
                        (change)="save()"  (focus)="focusField('endDay')">
                        <option *ngFor="let day of endMonthDays" [ngValue]="day">
                            {{day}}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

</div>