.secondary-group{
    width: auto;
    text-transform: none;
    padding-bottom: 0px;
}

.group-label:hover:not(.secondary-group){
    cursor: pointer;
    background-color: lightgray;
}

.fa-exclamation-circle {
    color: red !important;
    font-size: .75rem;
    padding-right: .5rem;
}
