i.fa.fa-chevron-up:hover,
i.fa.fa-chevron-down:hover,
.preview {
  cursor: pointer;
}

.card-header {
    font-size: 16px;
}

.alert-danger {
  width: unset;
}

.spinner-overlay {
  height: 125px;
  z-index: 999;
  background: white;
}

.spinner > div {
  width: 25px;
  height: 25px;
  background-color: #117A65;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}