/* .output-summary .table {
    font-size: small;
}
.output-summary .table th {
    border: none;
    padding: 0px 10px;
    text-align: center;
    font-size: 12px;
}
.output-summary .table td {
    padding: 0px 8px;
    vertical-align: middle;
    text-align: center;
} */

.positive-savings{
	color: green;
}

.negative-savings{
	color: red;
}


.no-data{
    width: 100%;
}

 td, th{
    font-size: small;
    padding: 3px;
    text-align: center;
}

 /* td{
    border-right: solid 1px darkgray;
    border-left: solid 1px darkgray;
} */

 /* tbody{
    box-shadow: 0 4px 8px 0 grey
} */


.col-name{
    font-size: medium;
}

.stripe{
    border-top: groove 1px;
    border-bottom: groove 1px;
}

.my-table-bg{
    /* background-color: #FFE400; */
    background-color: #D6DBDF;
}

.my-table{
    border: solid 1px #AEB6BF;
    box-shadow: 3px 3px 10px 0px #566573;
}