.setup-dialog{
    width: 100%;
    height: 75%;
    position: absolute;
    left: 0;
    z-index: 10;
    background: white;
    padding: 40px;
}

.modal-open {
    z-index: initial !important;
}


/* .header{
    border-bottom: #BF3D00 groove 2px;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
} */
 
.disabled .header{
  border-bottom: #ddd solid 1px;
}

.phast-losses-container{
    padding-top: 14px;
}