.panel-in-setup{
  width: 50%;
}

.panel-in-assessment{
  width: 80%;
}

.losses-container{
  background-color: #fff;
}

.disabled .losses-container{
  background-color: inherit;
}

.setup-dialog{
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 10;
    background: white;
    padding: 40px;
}

.modal-open {
    z-index: initial !important;
}

.disabled .header{
  border-bottom: #ddd solid 1px;
}

.phast-losses-container{
    padding-top: 14px;
    padding-bottom: 25px;
}
