<form #formElement [formGroup]="form" class="d-flex flex-column">
  <div class="form-section">
    <div class="form-group">
      <label class="small" for="{{'annualOperatingHours_'+idString}}">Annual Operating Hours</label>
      <div class="input-group">
        <span class="input-group-addon units op-hour-addon">
          <a class="click-link" (click)="openOperatingHoursModal(form.controls.annualOperatingHours)"><span
              class="fa fa-calculator"></span></a>
        </span>
        <input name="annualOperatingHours" type="number" class="form-control" id="{{'annualOperatingHours_'+idString}}"
          (input)="save()" (focus)="focusField('operatingHours')" formControlName="annualOperatingHours"
          onfocus="this.select();">
        <span class="input-group-addon units">hrs/yr</span>
      </div>
      <span class="alert-danger pull-right small"
        *ngIf="form.controls.annualOperatingHours.invalid && !form.controls.annualOperatingHours.pristine">
        <span *ngIf="form.controls.annualOperatingHours.errors.required">Value required.</span>
        <span *ngIf="form.controls.annualOperatingHours.errors.min">Value can't be less than
          {{form.controls.annualOperatingHours.errors.min.min}}.</span>
      </span>
    </div>

    <div class="form-group">
      <label class="small" for="{{'fuelType_'+idString}}">Fuel Type</label>
      <select name="fuelType" class="form-control" formControlName="fuelType" id="{{'fuelType_'+idString}}"
        (change)="setProperties()" (focus)="focusField('fuelType')">
        <option *ngFor="let option of options" [ngValue]="option.id">{{option.substance}}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="small" for="{{'utilityCost_'+idString}}">Utility Cost</label>
      <div class="input-group">
        <input autofocus class="form-control" name="utilityCost" type="number" max="100" step="any"
          (focus)="focusField('fuelCost')" id="{{'utilityCost_'+idString}}" formControlName="utilityCost"
          (input)="save()" onfocus="this.select();">
        <span class="input-group-addon units">$/<span [innerHTML]="settings.energyResultUnit"></span>
        </span>
      </div>
      <span class="alert-danger small pull-right"
        *ngIf="form.controls.utilityCost.invalid && !form.controls.utilityCost.pristine">
        <span *ngIf="form.controls.utilityCost.errors.required">Value required.</span>
      </span>
    </div>

    <div class="form-group">
      <label class="small" for="{{'operatingHours_'+idString}}">Operating Hours</label>
      <div class="input-group">
        <input name="operatingHours" type="number" class="form-control" id="{{'operatingHours_'+idString}}"
          (input)="save()" (focus)="focusField('operatingHours')" formControlName="operatingHours"
          onfocus="this.select();">
        <span class="input-group-addon units">hrs/yr</span>
      </div>
      <span class="alert-danger pull-right small"
        *ngIf="form.controls.operatingHours.invalid && !form.controls.operatingHours.pristine">
        <span *ngIf="form.controls.operatingHours.errors.required">Value required.</span>
        <span *ngIf="form.controls.operatingHours.errors.min">Value can't be less than
          {{form.controls.operatingHours.errors.min.min}}.</span>
      </span>
    </div>

    <div class="form-group">
      <label class="small" for="{{'flueGasOxygen_'+idString}}">Flue Gas Oxygen</label>
      <div class="input-group">
        <input autofocus class="form-control" name="flueGasOxygen" type="number" max="100" step="any"
          id="{{'flueGasOxygen_'+idString}}" formControlName="flueGasOxygen" (input)="save()" onfocus="this.select();"
          (focus)="focusField('flueGasOxygen')">
        <span class="input-group-addon units">% Dry</span>
      </div>
      <span class="alert-danger small pull-right"
        *ngIf="form.controls.flueGasOxygen.invalid && !form.controls.flueGasOxygen.pristine">
        <span *ngIf="form.controls.flueGasOxygen.errors.required">Value required.</span>
        <span *ngIf="form.controls.flueGasOxygen.errors.min">Value cannot be less than
          {{form.controls.flueGasOxygen.errors.min.min}}%.</span>
        <span *ngIf="form.controls.flueGasOxygen.errors.max">Value cannot be greater than
          {{form.controls.flueGasOxygen.errors.max.max}}%.</span>
      </span>
    </div>

    <div *ngIf="baselineSelected" class="form-group">
      <label class="small" for="{{'excessAir_'+idString}}">Excess Air</label>
      <div *ngIf="efficiencyImprovement.results.baselineExcessAir" class="text-center bold small">
        {{efficiencyImprovement.results.baselineExcessAir | number:'0.1-2'}} %
      </div>
      <div *ngIf="!efficiencyImprovement.results.baselineExcessAir" class="text-center bold small">
        &mdash; &mdash;
      </div>
    </div>

    <div *ngIf="!baselineSelected" class="form-group">
      <label class="small" for="{{'excessAir_'+idString}}">Excess Air</label>
      <div *ngIf="efficiencyImprovement.results.modificationExcessAir" class="text-center bold small">
        {{efficiencyImprovement.results.modificationExcessAir | number:'0.1-2'}} %
      </div>
      <div *ngIf="!efficiencyImprovement.results.modificationExcessAir" class="text-center bold small">
        &mdash; &mdash;
      </div>
    </div>


    <div class="form-group">
      <label class="small" for="{{'flueGasTemp_'+idString}}">Flue Gas Temperature</label>
      <div class="input-group">
        <input class="form-control" name="flueGasTemp" type="number" step="any" id="{{'flueGasTemp_'+idString}}"
          formControlName="flueGasTemp" (input)="save()" onfocus="this.select();" (focus)="focusField('flueGasTemp')">
        <span class="input-group-addon units" *ngIf="settings.unitsOfMeasure == 'Imperial'">&#8457;</span>
        <span class="input-group-addon units" *ngIf="settings.unitsOfMeasure == 'Metric'">&#8451;</span>
      </div>
      <span class="alert-danger small pull-right"
        *ngIf="form.controls.flueGasTemp.invalid && !form.controls.flueGasTemp.pristine">
        <span *ngIf="form.controls.flueGasTemp.errors.required">Value required.</span>
        <span *ngIf="form.controls.flueGasTemp.errors.min">Flue gas temperature can't be
          less than combustion air temperature.</span>
      </span>
    </div>

    <div class="form-group">
      <label class="small" for="{{'combustionAirTemp_'+idString}}">Combustion Air Temperature</label>
      <div class="input-group">
        <input class="form-control" name="combustionAirTemp" type="number" step="any"
          id="{{'combustionAirTemp_'+idString}}" formControlName="combustionAirTemp" (input)="save()"
          onfocus="this.select();" (focus)="focusField('combustionAirTemp')">
        <span class="input-group-addon units" *ngIf="settings.unitsOfMeasure == 'Imperial'">&#8457;</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">&#8451;</span>
      </div>
      <span class="alert-danger pull-right small"
        *ngIf="form.controls.combustionAirTemp.invalid && !form.controls.combustionAirTemp.pristine">
        <span *ngIf="form.controls.combustionAirTemp.errors.required">Value required.</span>
        <span *ngIf="form.controls.combustionAirTemp.errors.max">Combustion air temperature can't be
          greater than flue gas temperature.</span>
      </span>
    </div>

    <div *ngIf="baselineSelected" class="form-group">
      <label class="small" for="{{'energyInput_'+idString}}">Energy Input</label>
      <div class="input-group">
        <input class="form-control" name="energyInput" type="number" step="any" id="{{'energyInput_'+idString}}"
          formControlName="energyInput" (input)="save()" onfocus="this.select();" (focus)="focusField('energyInput')">
        <span class="input-group-addon units" *ngIf="settings.unitsOfMeasure == 'Imperial'">MMBtu/hr</span>
        <span class="input-group-addon units" *ngIf="settings.unitsOfMeasure == 'Metric'">GJ/hr</span>
      </div>
      <span class="alert-danger pull-right small"
        *ngIf="form.controls.energyInput.invalid && !form.controls.energyInput.pristine">
        <span *ngIf="form.controls.energyInput.errors.required">Value required.</span>
      </span>
    </div>

    <div *ngIf="!baselineSelected" class="form-group">
      <label class="small" for="{{'energyInput_'+idString}}">Energy Input</label>
      <div *ngIf="efficiencyImprovement.results.modificationEnergyInput" class="text-center bold small">
        {{efficiencyImprovement.results.modificationEnergyInput | number:'0.1-2'}}
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'"> MMBtu/hr</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'"> GJ/hr</span>
      </div>
      <div *ngIf="!efficiencyImprovement.results.modificationEnergyInput" class="text-center bold small">
        &mdash; &mdash;
      </div>
    </div>

  </div>
</form>

<app-operating-hours-modal *ngIf="showOperatingHoursModal" (emitClose)="closeOperatingHoursModal()"
  (emitSave)="updateOperatingHours($event)" [width]="formWidth" [showMinutesSeconds]="false"
  [operatingHours]="efficiencyImprovementService.operatingHours">
</app-operating-hours-modal>