.eff-form-section{
    padding-top: 1rem;
    border-top: dashed 1px;
}


.eff-width{
    width: 33%;
}

.form-group label{
    width: 100% !important;
}

.input-group-addon.units.op-hour-addon{
    border-left: solid 1px;
    border-right: none;
  }