.col-form-label{
    font-size: small;
    padding-left: 0px;
    padding-right: 0px;
}

.header{
    margin-left: 2.5px;
    margin-right: 2.5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

form{
    padding-top: 0px;
}