<div class="mb-4 p-2 form-card">
  <form [formGroup]="form" #formElement>

    <label *ngIf="!isEditingName" class="group-label w-100 bold">
      <span (click)="editEquipmentName(index, true)" class="fa fa-pencil pr-2 btn-edit-name"></span>
      <span>{{form.controls.name.value}}</span>
      <span *ngIf="isBaseline" class="fa fa-times-circle-o pull-right large" (click)="removeEquipment(index)"></span>
    </label>
    <label *ngIf="isEditingName" class="group-label w-100">
      <span class="fa fa-save pr-2 btn-edit-name" (click)="doneEditingName()"></span>
      <input type="text" id="equipmentName" formControlName="name" onfocus="this.select();" (input)="calculate()">
      <span class="alert-danger small ml-2" *ngIf="form.controls.name.invalid && !form.controls.name.pristine">
        <span *ngIf="form.controls.name.errors.required">Please enter a name.</span>
      </span>
    </label>

    <div class="form-section">
      <div class="form-group">
        <label class="small" for="{{'hoursPerYear_'+idString}}">Annual Operating Hours</label>
        <div class="input-group">
          <span class="input-group-addon op-hour-addon units">
            <a class="click-link" (click)="openOperatingHoursModal()"><span class="fa fa-calculator"></span></a>
          </span>
          <input class="form-control" name="hoursPerYear" id="{{'hoursPerYear_'+idString}}"
            formControlName="hoursPerYear" type="number" (input)="calculate()" (focus)="focusField('hoursPerYear')"
            (blur)="focusOut()" onfocus="this.select();">
          <span class="units input-group-addon">hrs/yr</span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.hoursPerYear.invalid && !form.controls.hoursPerYear.pristine">
          <span *ngIf="form.controls.hoursPerYear.errors.required">Value required.</span>
          <span *ngIf="form.controls.hoursPerYear.errors.max">Value can't be greater than
            {{form.controls.hoursPerYear.errors.max.max}}.</span>
          <span *ngIf="form.controls.hoursPerYear.errors.min">Value can't be less than
            {{form.controls.hoursPerYear.errors.min.min}}.</span>
        </span>
      </div>

      <div class="form-group">
        <label class="small" for="{{'electricityCost_'+idString}}">Electricity Cost</label>
        <div class="input-group">
          <input class="form-control" type="number" step="0.01" name="electricityCost" id="{{'electricityCost_'+idString}}"
            formControlName="electricityCost" (input)="calculate()" (focus)="focusField('electricityCost')"
            (blur)="focusOut()">
          <span class="units input-group-addon">$/kWh</span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.electricityCost.invalid && !form.controls.electricityCost.pristine">
          <span *ngIf="form.controls.electricityCost.errors.required">Value required.</span>
          <span *ngIf="form.controls.electricityCost.errors.min">Value can't be less than
            {{form.controls.electricityCost.errors.min.min}}.</span>
        </span>
      </div>

    </div>


    <div class="form-section">

      <div class="form-group">
        <label class="small" for="powerType">Power Type
        </label>
        <select name="powerType" class="form-control" formControlName="powerType" id="powerType"
          (change)="calculate()" (focus)="focusField('powerType')" >
          <option for="powerType" [ngValue]="'Measured'">Measured</option>
          <option for="powerType" [ngValue]="'Rated'">Rated</option>
        </select>
      </div>

      <div class="form-group" *ngIf="isBaseline">
        <label class="small" for="{{'pressure_'+idString}}">Operating Pressure</label>
        <div class="input-group">
          <input class="form-control" type="number" name="pressure" id="{{'pressure_'+idString}}"
            formControlName="pressure" (input)="calculate()" (focus)="focusField('pressure')" (blur)="focusOut()">
          <span class="input-group-addon units">
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'">psig</span>
            <span *ngIf="settings.unitsOfMeasure != 'Imperial'">barg</span>
          </span>

        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.pressure.invalid && !form.controls.pressure.pristine">
          <span *ngIf="form.controls.pressure.errors.required">Value required.</span>
          <span *ngIf="form.controls.pressure.errors.min">Value can't be less than
            {{form.controls.pressure.errors.min.min}}.</span>
        </span>
      </div>

      <div class="form-group" *ngIf="!isBaseline">
        <label class="small" for="{{'proposedPressure_'+idString}}">Proposed Pressure</label>
        <div class="input-group">
          <input class="form-control" type="number" name="proposedPressure" id="{{'proposedPressure_'+idString}}"
            formControlName="proposedPressure" (input)="calculate()" (focus)="focusField('proposedPressure')"
            (blur)="focusOut()">
          <span class="input-group-addon units">
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'">psig</span>
            <span *ngIf="settings.unitsOfMeasure != 'Imperial'">barg</span>
          </span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.proposedPressure.invalid && !form.controls.proposedPressure.pristine">
          <span *ngIf="form.controls.proposedPressure.errors.required">Value required.</span>
          <span *ngIf="form.controls.proposedPressure.errors.min">Value can't be less than
            {{form.controls.proposedPressure.errors.min.min}}.</span>
        </span>
      </div>


      <div *ngIf="isBaseline && form.controls.powerType.value === 'Rated'" class="form-group">
        <label class="small" for="{{'pressureRated_'+idString}}">Rated Pressure</label>
        <div class="input-group">
          <input class="form-control" type="number" name="pressureRated" id="{{'pressureRated_'+idString}}"
            formControlName="pressureRated" (input)="calculate()" (focus)="focusField('pressureRated')"
            (blur)="focusOut()" [readonly]="!isBaseline">
          <span class="input-group-addon units">
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'">psig</span>
            <span *ngIf="settings.unitsOfMeasure != 'Imperial'">barg</span>
          </span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.pressureRated.invalid && !form.controls.pressureRated.pristine">
          <span *ngIf="form.controls.pressureRated.errors.required">Value required.</span>
          <span *ngIf="form.controls.pressureRated.errors.min">Value can't be less than
            {{form.controls.pressureRated.errors.min.min}}.</span>
        </span>
      </div>

      <div class="form-group">
        <label class="small" for="{{'atmosphericPressure_'+idString}}">Atmospheric Pressure</label>
        <div class="input-group">
          <input class="form-control" type="number" name="atmosphericPressure" id="{{'atmosphericPressure_'+idString}}"
            formControlName="atmosphericPressure" (input)="calculate()" (focus)="focusField('atmosphericPressure')"
            (blur)="focusOut()" [readonly]="!isBaseline">
          <span class="input-group-addon units">
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'">psia</span>
            <span *ngIf="settings.unitsOfMeasure != 'Imperial'">bara</span>
          </span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.atmosphericPressure.invalid && !form.controls.atmosphericPressure.pristine">
          <span *ngIf="form.controls.atmosphericPressure.errors.required">Value required.</span>
          <span *ngIf="form.controls.atmosphericPressure.errors.min">Value can't be less than
            {{form.controls.atmosphericPressure.errors.min.min}}.</span>
        </span>
      </div>

      <div *ngIf="isBaseline" class="form-group">
        <label class="small" for="{{'compressorPower_'+idString}}">
          <span *ngIf="form.controls.powerType.value === 'Measured'">Measured Compressor Power</span>
          <span *ngIf="form.controls.powerType.value === 'Rated'">Rated Compressor Power</span>
        </label>
        <div class="input-group">
          <input class="form-control" type="number" name="compressorPower" id="{{'compressorPower_'+idString}}"
            formControlName="compressorPower" (input)="calculate()" (focus)="focusField('compressorPower')"
            (blur)="focusOut()">
          <span class="units input-group-addon">kW</span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.compressorPower.invalid && !form.controls.compressorPower.pristine">
          <span *ngIf="form.controls.compressorPower.errors.required">Value required.</span>
          <span *ngIf="form.controls.compressorPower.errors.min">Value can't be less than
            {{form.controls.compressorPower.errors.min.min}}.</span>
        </span>
      </div>

    </div>


    <div class="row">
      <div class="col-6">
        <label class="small bold">Consumption</label>
      </div>
      <div class="col-6 text-center">
        <span class="small bold">{{individualResults.energyUse | number:'1.0-0'}}
          <span>kWh/yr</span>
        </span>
      </div>
    </div>




  </form>
</div>

<app-operating-hours-modal *ngIf="showOperatingHoursModal" (emitClose)="closeOperatingHoursModal()"
  (emitSave)="updateOperatingHours($event)" [width]="formWidth" [showMinutesSeconds]="true"
  [operatingHours]="compressedAirPressureReductionService.operatingHours">
</app-operating-hours-modal>