<form [formGroup]="wallLossesForm">
  <div class="form-section">
    <div class="form-group">
      <label class="small" for="avgSurfaceTemp">Average Surface Temperature</label>
      <div class="input-group">
        <input name="{{'avgSurfaceTemp_'+lossIndex}}" type="number" step="any" class="form-control" formControlName="avgSurfaceTemp"
          id="avgSurfaceTemp" onfocus="this.select();" (input)="checkInputError()" (focus)="focusField('avgSurfaceTemp')"
          (blur)="focusOut()">
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">&#8457;</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">&#8451;</span>
      </div>
      <span class="alert-warning pull-right small" *ngIf="surfaceTmpError !== null">{{surfaceTmpError}}</span>
    </div>

    <div class="form-group">
      <label class="small" for="ambientTemp">Ambient Temperature</label>
      <div class="input-group">
        <input name="{{'ambientTemp_'+lossIndex}}" type="number" step="any" class="form-control" formControlName="ambientTemp" id="ambientTemp"
          onfocus="this.select();" (input)="checkInputError()" (focus)="focusField('ambientTemp')" (blur)="focusOut()">
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">&#8457;</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">&#8451;</span>
      </div>
      <span class="alert-warning pull-right small" *ngIf="surfaceTmpError !== null">{{surfaceTmpError}}</span>
    </div>

    <div class="form-group">
      <label class="small" for="windVelocity">Wind Velocity</label>
      <div class="input-group">
        <input name="{{'windVelocity_'+lossIndex}}" type="number" step="any" min="0" class="form-control" formControlName="windVelocity"
          id="windVelocity" onfocus="this.select();" (input)="checkInputError()" (focus)="focusField('windVelocity')" (blur)="focusOut()">
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">mph</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">km/hr</span>
      </div>
      <span class="alert-warning pull-right small" *ngIf="windVelocityError !== null">{{windVelocityError}}</span>
    </div>

    <div class="form-group">
      <label class="small" for="surfaceShape">Surface shape/orientation
        <a id="materialHelp" class="form-text small click-link" (click)="showMaterialModal()" [ngClass]="{'disabled-link': !baselineSelected}">Add New Surface</a>
      </label>
      <select name="{{'surfaceShape'+lossIndex}}" class="form-control" id="surfaceShape" formControlName="surfaceShape" (change)="setProperties()"
        (focus)="focusField('surfaceShape')" (blur)="focusOut()">
        <option *ngFor="let option of surfaceOptions" [ngValue]="option.id">{{option.surface}}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="small" for="conditionFactor">Surface shape/orientation factor</label>
      <div class="text-center small">
        {{wallLossesForm.controls.conditionFactor.value}}
      </div>
    </div>

    <div class="form-group">
      <label class="small" for="surfaceEmissivity" aria-describedby="emissivityHelp">Surface Emissivity</label>
      <input name="{{'surfaceEmissivity_'+lossIndex}}" type="number" step="0.1" min="0" max="1" class="form-control" formControlName="surfaceEmissivity"
        id="surfaceEmissivity" onfocus="this.select();" (input)="checkInputError()" (focus)="focusField('surfaceEmissivity')"
        (blur)="focusOut()">
      <span class="alert-warning pull-right small" *ngIf="emissivityError !== null">{{emissivityError}}</span>
    </div>

    <div class="form-group">
      <label class="small" for="surfaceArea">Total Outside Surface Area</label>
      <div class="input-group">
        <input name="{{'surfaceArea_'+lossIndex}}" type="number" step="any" min="0" class="form-control" formControlName="surfaceArea"
          id="surfaceArea" onfocus="this.select();" (input)="checkInputError()" (focus)="focusField('surfaceArea')" (blur)="focusOut()">
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">ft
          <sup>2</sup>
        </span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">m
          <sup>2</sup>
        </span>
      </div>
      <span class="alert-warning pull-right small" *ngIf="surfaceAreaError !== null">{{surfaceAreaError}}</span>
    </div>

    <div class="form-group">
      <label class="small" for="correctionFactor">Correction Factor</label>
      <input name="{{'correctionFactor_'+lossIndex}}" type="number" step="any" class="form-control" formControlName="correctionFactor"
        id="correctionFactor" onfocus="this.select();" (input)="checkInputError()" (focus)="focusField('correctionFactor')"
        (blur)="focusOut()">
    </div>
  </div>

</form>


<!--CREATE material MODAL-->
<div bsModal #materialModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="materialModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div>
        <app-wall-losses-surface *ngIf="showModal" (closeModal)="hideMaterialModal($event)" (hideModal)="hideMaterialModal($event)"
          [settings]="settings"></app-wall-losses-surface>
      </div>
    </div>
  </div>
</div>