@media print {
    .chart-item{
            border: 1px solid lightgray;
            padding: 5px;
    }
}


.positive-savings{
	color: green;
}

.negative-savings{
	color: red;
}

th{
    width: 10%;
}
