<nav class="fsat navbar banner d-flex mr-auto p-0 flex-nowrap" *ngIf="!inAssessment">
  <div class="d-flex align-items-center p-1">
    <div class="img-col col-sm-auto col-md-auto col-lg-auto">
      <img class="img-icon" src="assets/images/calculator-icons/fan-icons/operating-point-icon.png">
    </div>
    <div class="d-flex flex-column pl-2">
      <div class="h2-name">
        Fan Traverse Analysis
      </div>
    </div>
  </div>
</nav>


<nav class="d-none d-lg-block hide-print w-100 justify-content-between">
  <div class="d-flex tabs subtabs progress-tabs fsat flex-wrap">
    <div class="fixed-tab-size" [ngClass]="basicsClassStatus">
      <a (click)="changeStepTab('fan-info')">
        <span class="step-number">1</span> Fan Basics</a>
    </div>
    <div class="fixed-tab-size" [ngClass]="gasClassStatus">
      <a (click)="changeStepTab('gas-density')">
        <span class="step-number">2</span>Gas Density</a>
    </div>
    <div class="fixed-tab-size" [ngClass]="planeDataClassStatus">
      <a (click)="changeStepTab('plane-data')">
        <span class="step-number">3</span>Traverse Data</a>
    </div>
    <div class="fixed-tab-size" [ngClass]="shaftPowerClassStatus">
      <a (click)="changeStepTab('fan-shaft-power')">
        <span class="step-number">4</span>Power</a>
    </div>

    <div class="fixed-tab-size" [ngClass]="resultsTabClassStatus">
      <a (click)="changeStepTab('fan-analysis-results')">
        <span class="step-number"><span class="fa fa-superpowers"></span></span>Results</a>
    </div>
  </div>
</nav>

<nav class="hide-print d-flex d-lg-none tabs subtabs progress-tabs fsat flex-wrap flex-fill">
  <ul class="pagination d-flex justify-content-between tabs fsat subtabs progress-tabs flex-fill">
    <li class="page-item" [ngClass]="{'disabled': stepTab == 'fan-info'}">
      <a class="nav-link nav-btn small" (click)="changeTabNextOrBack('back')" [ngClass]="{'disabled': stepTab == 'fan-info'}">
        <span class="fa fa-chevron-left"></span></a>
    </li>
    <li class="page-item" [ngClass]="{'active': stepTab == 'fan-info', basicsClassStatus}">
      <a class="nav-link nav-btn small" (click)="changeStepTab('fan-info')" [ngClass]="basicsClassStatus">
        <span class="step-number">1</span></a>
    </li>
    <li class="page-item" [ngClass]="{'active': stepTab == 'gas-density', gasClassStatus}">
      <a class="nav-link nav-btn small" (click)="changeStepTab('gas-density')" [ngClass]="gasClassStatus">
        <span class="step-number">2</span></a>
    </li>
    <li class="page-item" [ngClass]="{'active': stepTab == 'plane-data', planeDataClassStatus}">
      <a class="nav-link nav-btn small" (click)="changeStepTab('plane-data')" [ngClass]="planeDataClassStatus">
        <span class="step-number">3</span></a>
    </li>
    <li class="page-item" [ngClass]="{'active': stepTab == 'fan-shaft-power', shaftPowerClassStatus}">
      <a class="nav-link nav-btn small" (click)="changeStepTab('fan-shaft-power')" [ngClass]="shaftPowerClassStatus">
        <span class="step-number">4</span></a>
    </li>
    <li class="page-item" [ngClass]="{'active': stepTab == 'fan-analysis-results', resultsTabClassStatus}">
      <a class="nav-link nav-btn small" (click)="changeStepTab('fan-analysis-results')" [ngClass]="resultsTabClassStatus">
        <span class="step-number"><span class="fa fa-superpowers"></span></span></a>
    </li>
    <li class="page-item" [ngClass]="{'disabled': stepTab == 'fan-analysis-results' || (stepTab == 'fan-shaft-power' && shaftPowerClassStatus[0] == 'missing-data')}">
      <a class="nav-link nav-btn small" (click)="changeTabNextOrBack('next')" [ngClass]="{'disabled': stepTab == 'fan-analysis-results' || (stepTab == 'fan-shaft-power' && shaftPowerClassStatus[0] == 'missing-data')}">
        <span class="fa fa-chevron-right"></span></a>
    </li>
  </ul>
</nav>