<div class="row justify-content-center align-items-center" style="height: 100%;">
<div class="col-8">
  <div class="card">
    <div class="card-block">
      <h4>
        This portion of the application is still in active development.
      </h4>
      <h5>
        Below is a description of what you will find here in the future.
      </h5>
      <blockquote class="blockquote">
        <p>
          Use this section to enter information about auxiliary equipment associated with the furnace or oven under consideration for
          the heat balance analysis.
        </p>
      </blockquote>
      <blockquote class="blockquote">
        <p>
          Major equipment included are: compressors, fans/blowers (outside or inside the furnace), vacuum pumps and other electric
          motors used for material handling/processing or other motor driven production equipment.
        </p>
      </blockquote>
      <blockquote class="blockquote">
        <p>
          This information is used to calculate energy used by auxiliary equipment associated with the furnace. Note: It is assumed
          that all auxiliary equipment are powered by electricity.
        </p>
      </blockquote>
    </div>
  </div>
</div>
</div>