<div class="d-flex flex-column justify-content-center align-items-center h-100 w-100 tutorial-bg">
  <div class="carousel">
    <div class="close pull-right click-item" (click)="close()">&times;</div>
    <div class="d-flex">
      <div class="carousel-item active" [ngClass]="{'show-img-1': show}">
        <img *ngIf="index < 3" class="d-block img-fluid" src="assets/images/tutorial/dashboard/welcome-dark.PNG">
        <img *ngIf="index > 2 && index < 6" class="d-block img-fluid" src="assets/images/tutorial/dashboard/folder-dark.PNG">

        <img *ngIf="index == 6 " class="d-block img-fluid" src="assets/images/tutorial/dashboard/pre-assessment-dark.PNG">
        <img *ngIf="index > 6" class="d-block img-fluid" src="assets/images/tutorial/dashboard/rollup-dark.PNG">
      </div>
      <div class="carousel-item active" [ngClass]="{'show-img': showItem[1]}">
        <img class="d-block img-fluid" src="assets/images/tutorial/dashboard/1-welcome.PNG">
      </div>
      <div class="carousel-item active" [ngClass]="{'show-img': showItem[2]}">
        <img class="d-block img-fluid" src="assets/images/tutorial/dashboard/2-assessment.PNG">
      </div>
      <div class="carousel-item active" [ngClass]="{'show-img': showItem[3]}">
        <img class="d-block img-fluid" src="assets/images/tutorial/dashboard/3-dashboard-menu.PNG">
      </div>
      <div class="carousel-item active" [ngClass]="{'show-img': showItem[4]}">
        <img class="d-block img-fluid" src="assets/images/tutorial/dashboard/4-facility-info-1.PNG">
      </div>
      <div class="carousel-item active" [ngClass]="{'show-img': showItem[5]}">
        <img class="d-block img-fluid" src="assets/images/tutorial/dashboard/5-facility-info-2.PNG">
      </div>
      <div class="carousel-item active" [ngClass]="{'show-img': showItem[6]}">
        <img class="d-block img-fluid" src="assets/images/tutorial/dashboard/6-pre-assessment.PNG">
      </div>
      <div class="carousel-item active" [ngClass]="{'show-img': showItem[7]}">
        <img class="d-block img-fluid" src="assets/images/tutorial/dashboard/7-rollup.PNG">
      </div>
      <div class="carousel-item active" [ngClass]="{'show-img': showItem[8]}">
        <div *ngIf="showItem[8]" class="row justify-content-center align-items-center get-started">
          <div class="card">
            <div class="card-header">
              <h3>Finish Tutorial</h3>
            </div>
            <div class="card-body d-flex flex-column">
              <p class="lead">Now that you've had a quick introduction, click below to return to other tutorials!</p>
              <button class="btn btn-primary" (click)="close()">Return to Tutorials</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer" *ngIf="index != 0">
  <div class="d-flex">
    <div class="col-1">
      <h5 class="pull-left caption-control click-item" (click)="prev()" *ngIf="index != 1">
        <span class="fa fa-caret-left"></span>
        Prev</h5>
    </div>
    <div class="col-10 d-flex flex-column">
      <div class="d-flex mx-auto circle-div">
        <h5 *ngIf="index == 1">Welcome</h5>
        <h5 *ngIf="index > 1 && index < 7">Dashboard</h5>
        <h5 *ngIf="index > 6">Rollup</h5>
      </div>
      <div class="p-1 d-flex mx-auto circle-div">
        <span class="fa" [ngClass]="{'fa-circle-o': !showItem[1], 'fa-circle': showItem[1]}"></span>
        <span class="fa" [ngClass]="{'fa-circle-o': !showItem[2], 'fa-circle': showItem[2]}"></span>
        <span class="fa" [ngClass]="{'fa-circle-o': !showItem[3], 'fa-circle': showItem[3]}"></span>
        <span class="fa" [ngClass]="{'fa-circle-o': !showItem[4], 'fa-circle': showItem[4]}"></span>
        <span class="fa" [ngClass]="{'fa-circle-o': !showItem[5], 'fa-circle': showItem[5]}"></span>
        <span class="fa" [ngClass]="{'fa-circle-o': !showItem[6], 'fa-circle': showItem[6]}"></span>
        <span class="fa" [ngClass]="{'fa-circle-o': !showItem[7], 'fa-circle': showItem[7]}"></span>
        <span class="fa" [ngClass]="{'fa-circle-o': !showItem[8], 'fa-circle': showItem[8]}"></span>
      </div>
    </div>
    <div class="col-1">
      <h5 *ngIf="index != 8" class="pull-right caption-control click-item" (click)="next()">Next
        <span class="fa fa-caret-right"></span>
      </h5>
    </div>
  </div>
</div>