<div class="d-flex h-100 modify-conditions compressed-air">
  <div class="d-flex flex-column modification w-50 mh-100 scroll-item">
    <div #leftPanelHeader class="d-flex header mr-2 ml-2 pb-1 pt-1 align-items-center">
      <div class="col-md-auto">
        <img src="assets/images/calculator-icons/compressed-air-icons/leakage-loss-estimator.png" class="ico-size5">
      </div>
      <div class="pl-2">
        <h3>Leak Loss Estimator - Bag Method</h3>
      </div>
    </div>

    <div class="d-flex flex-column m-4">
      <div class="tab-content">
        <form>
          <div class="form-section">
            <div class="form-group">
              <label for="operatingHours">Annual Operating Hours</label>
              <div class="input-group">
                <input name="operatingHours" class="form-control" type="number" step="any" [(ngModel)]="totalOperatingTime"
                  id="operatingHours" (input)="calculateAnnualConsumption()" onfocus="this.select();" (focus)="changeField('operatingHours')">
                <span class="input-group-addon units">hrs/yr</span>
              </div>
            </div>
            <div class="form-group">
              <label class="bold">Total Flow Rate</label>
              <div class="text-center small">
                <strong>{{outputs.flowRate | number: '1.0-2'}} </strong>
                <strong *ngIf="settings.unitsOfMeasure == 'Imperial'">SCFM</strong>
                <strong *ngIf="settings.unitsOfMeasure == 'Metric'">m<sup>3</sup>/min</strong>
              </div>
            </div>
            <div class="form-group">
              <label class="bold">Total Annual Compressed Air Leakage</label>
              <div class="text-center small">
                <strong>{{outputs.annualConsumption | number:'1.0-2'}} </strong>
                <strong *ngIf="settings.unitsOfMeasure == 'Imperial'">SCF</strong>
                <strong *ngIf="settings.unitsOfMeasure == 'Metric'">Nm<sup>3</sup></strong>
              </div>
            </div>
          </div>
        </form>
      </div>

      <app-bag-method-form *ngFor="let input of inputsArray; let i = index" [settings]="settings" [index]="i" [inputs]="input"
        [outputs]="outputsArray[i]" (calculate)="calculateAnnualConsumption($event)" (deleteLeakage)="deleteLeakage($event)"
        (emitChangeField)="changeField($event)"></app-bag-method-form>

      <div class="pt-1">
        <a class="click-link pull-left small" (click)="addLeakage()">Add New Leak +</a>
      </div>
      <div class="w-100 justify-content-center btn-group btn-group-sm">
        <button type="button" class="btn btn-danger pull-right btn-sm btn-margin-10" (click)="btnResetData()">
          Reset Data
        </button>
      </div>


    </div>
  </div>

  <div class="d-flex flex-column w-50 mh-100 scroll-item">
    <div class="d-flex flex-wrap tabs primary mr-2 ml-2 sticky-top" [ngStyle]="{'height.px': headerHeight}">
      <div class="flex-fill panel-tab-item h-100 active">
        <a class="h-100 d-flex justify-content-center align-items-center">
          <div>Help</div>
        </a>
      </div>
    </div>
    <div class="d-flex">
      <div class="p-4 pt-2 d-flex flex-column help-info">
        <h5>
          Bag Method Help
          <br>
          <small class="text-muted"> Use the calculator to estimate the leakage rate of orifices in your compressed air
            system. Cover a suspected leak with a trash bag and calculate the number of seconds it takes to fill the bag. Once
            done, close the bag and measure its dimensions. Compressed air leaks should be tagged and fixed at first chance,
            this calculator just helps to quantify the savings.
          </small>
        </h5>
        <hr class="my-1 hr-spacer">

        <div class="my-2" *ngIf="currentField == 'operatingHours'">
          <h6>
            Operating Time
            <br>
            <small class="text-muted">
              The hours per year that the compressor system is in use.
              <hr>
            </small>
          </h6>
        </div>

        <div class="my-2" *ngIf="currentField == 'fillTime'">
          <h6>
            Bag Fill Time
            <br>
            <small class="text-muted">
              The number of seconds it takes to fill the bag.
              <hr>
            </small>
          </h6>
        </div>

        <div class="my-2" *ngIf="currentField == 'height'">
          <h6>
            Height of Bag
            <br>
            <small class="text-muted">
              The height of the bag after inflation in inches.
              <hr>
            </small>
          </h6>
        </div>

        <div class="my-2" *ngIf="currentField == 'diameter'">
          <h6>
            Diameter of Bag
            <br>
            <small class="text-muted">
              The diameter of the bag after inflation in inches.
              <hr>
            </small>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>