/*.output-summary .table {
    font-size: 14px;
}
.output-summary .table th {
    border: none;
    padding: 0px 10px;
    text-align: left;
    font-size: 12px;
}
.output-summary .table td {
    padding: 0px 8px;
}


.output-summary .table tr.callout td {
    font-weight: bold;
}
*/
.selected-modification{
    z-index: 2;
    background: #e5efe9;
}

tr > td:not(:first-child),
tr > th:not(:first-child){
    text-align: center;
}
.tr-underline {
  border-bottom: 2px groove #bf3d00;
}
