<div class="p-2">
    <label class="group-label">Daily Averages</label>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td class="bold">Day</td>
                <td class="bold" *ngFor="let avgLabel of daySummaries[0].averages">{{avgLabel.label}}</td>
            </tr>
            <tr class="day-summary-role" *ngFor="let daySummary of daySummaries" [ngStyle]="{'background-color': getDateColor(daySummary.day)}">
                <td>
                    {{daySummary.day | date}}
                </td>
                <td *ngFor=" let averageVal of daySummary.averages">
                    {{averageVal.value | number}}
                </td>
            </tr>
        </tbody>
    </table>
</div>