.result-table-row {
    border-left: solid 10px;
    margin-bottom: 5px;
}

td {
    padding: 0px;
    border-top: none;
}

.result-percent {
    vertical-align: middle;
    font-size: small;
    text-align: left;
}

.result-name {
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    font-size: small;
}

.result-table {
    margin-top: 25px;
}

.toggle-btn {
    font-size: 12px;
}

.action-row {
    margin: 10px;
}

/* .assessment-name{
    font-size: larger;
} */

.general .btn-secondary:not([disabled]):not(.disabled).active {
    background-color: #145A32;
    transition: all .5s ease-in-out;
}

.phast .btn-secondary:not([disabled]):not(.disabled).active {
    background-color: #BF3D00;
    transition: all .5s ease-in-out;
}

.psat .btn-secondary:not([disabled]):not(.disabled).active {
    background-color: #2980b9;
    transition: all .5s ease-in-out;
}

.fsat .btn-secondary:not([disabled]):not(.disabled).active {
    background-color: #FFE400;
    transition: all .5s ease-in-out;
    color: black;
}

.no-data {
    width: 100%;
}

.in-modal {
    min-height: 85vh;
    max-height: 85vh;
}

.note-row-width {
    width: 96%;
    margin-left: 2%;
}

.pre-assessment-header {
    font-size: 15px !important;
}

.scroll-item {
    overflow-x: hidden;
}

.submit-btn {
    padding: 6px;
}

.btn-group {
    display: block;
    text-align: center;
}

.btn-group .btn-sm {
    font-size: small !important;
}

.btn-margin-10 {
    margin: 10px 0px;
}

.btn-form {
    border-radius: 4px !important;
}