<div class="row w-100">
  <div class="col-lg-4 col-md-6 col-sm-12 card-container-col" *ngFor="let liquidChargeMaterial of liquidChargeMaterials; let i = index">
    <div class="card card-item">
      <div class="card-header summary-card-header phast">
        {{liquidChargeMaterial.substance}}
        <i (click)="editMaterial(liquidChargeMaterial.id)" class="fa fa-edit pull-right"></i>
      </div>
      <div class="card-body scroll-item summary-card-body">

        <table class="table">
          <tr>
            <td>
              Specific Heat Liquid:
            </td>
            <td>
              {{liquidChargeMaterial.specificHeatLiquid | sigFigs:'6'}}
              <span *ngIf="settings.unitsOfMeasure == 'Imperial'"> Btu/(lb-&#8457;)</span>
              <span *ngIf="settings.unitsOfMeasure == 'Metric'"> kJ/(kg-&#8451;)</span>
            </td>
          </tr>
          <tr>
            <td>
              Vaporization Temperature:
            </td>
            <td>
              {{liquidChargeMaterial.vaporizationTemperature | sigFigs: '6'}}
              <span *ngIf="settings.unitsOfMeasure == 'Imperial'"> &#8457;</span>
              <span *ngIf="settings.unitsOfMeasure == 'Metric'"> &#8451;</span>
            </td>
          </tr>
          <tr>
            <td>
              Latent Heat:
            </td>
            <td>
              {{liquidChargeMaterial.latentHeat | sigFigs: '6'}}
              <span *ngIf="settings.unitsOfMeasure == 'Imperial'"> Btu/lb</span>
              <span *ngIf="settings.unitsOfMeasure == 'Metric'"> kJ/kg</span>
            </td>
          </tr>
          <tr>
            <td>
              Specific Heat Vapor:
            </td>
            <td>
              {{liquidChargeMaterial.specificHeatVapor | sigFigs:'6'}}
              <span *ngIf="settings.unitsOfMeasure == 'Imperial'"> Btu/(lb-&#8457;)</span>
              <span *ngIf="settings.unitsOfMeasure == 'Metric'"> kJ/(kg-&#8451;)</span>
            </td>
          </tr>
        </table>

      </div>
      <div class="card-footer summary-card-footer">
        <div class="btn-delete-material pull-right" (click)="deleteMaterial(liquidChargeMaterial.id)">Delete Material</div>
      </div>
    </div>
  </div>
</div>


<!--CREATE material MODAL-->
<div bsModal #materialModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="materialModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content tab-content">
      <app-liquid-load-charge-material *ngIf="showModal" (closeModal)="hideMaterialModal($event)" (hideModal)="hideMaterialModal($event)"
        [settings]="settings" [editExistingMaterial]="editExistingMaterial" [existingMaterial]="existingMaterial" [deletingMaterial]="deletingMaterial"></app-liquid-load-charge-material>
    </div>
  </div>
</div>