<div class="d-flex flex-column panel-container pb-4">
    <div class="header mr-2 ml-2">
        <h3>Chiller Inventory
        </h3>
        <br>
    </div>
    <div class="mr-2 ml-2" *ngIf="selectedChiller$ | async as selectedChiller; else hasNoChiller">
        <form [formGroup]="form">
            <!-- <a class="click-link small pull-right" (click)="openChillerModal()">Set Data From Existing Chiller</a> -->

            <div class="form-group" [ngClass]="{'invalid': form.controls.name.invalid}">
                <label for="{{controlIds.towerSizeMetric}}">Chiller Name</label>
                <input type="text" class="form-control" name="name" formControlName="name"
                    (focus)="focusField('chiller-name')" />
                <app-form-control-required [control]="form.controls.name"></app-form-control-required>
            </div>
            <div class="form-group">
                <label for="{{controlIds.description}}">Description</label>
                <textarea class="form-control" type="text" id="description" formControlName="description"
                    (focus)="focusField('chiller-description')"></textarea>
            </div>
            <hr>
            <div class="form-group">
                <label for="{{controlIds.chillerType}}">Chiller Type</label>
                <select class="form-control" id="{{controlIds.chillerType}}" formControlName="chillerType"
                    (focus)="focusField('chillerType')">
                    @for (chillerType of chillerTypes; track chillerType.value) {
                    <option [ngValue]="chillerType.value">{{ chillerType.name }}</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="{{controlIds.isFullLoadEfficiencyKnown}}">Is Full Load Efficiency Known?</label>
                <select class="form-control" id="isFullLoadEfficiencyKnown" formControlName="isFullLoadEfficiencyKnown"
                    (focus)="focusField('isFullLoadEfficiencyKnown')">
                    <option [ngValue]="true">Yes</option>
                    <option [ngValue]="false">No</option>
                </select>
            </div>
            <div class="form-group" *ngIf="form.controls.isFullLoadEfficiencyKnown.value">
                <label for="{{controlIds.fullLoadEfficiency}}">Full Load Efficiency</label>
                <div class="input-group">

                    <input type="number" class="form-control" id="fullLoadEfficiency"
                        formControlName="fullLoadEfficiency" (focus)="focusField('fullLoadEfficiency')" />
                    <app-input-unit [defaultUnit]="'kW/ton'"></app-input-unit>
                </div>

            </div>
            <div class="form-group">
                <label for="{{controlIds.capacity}}">Capacity</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="capacity" formControlName="capacity"
                        (focus)="focusField('capacity')" />
                    <app-input-unit [defaultUnit]="'tons'"></app-input-unit>
                </div>
            </div>
            <div class="form-group">
                <label for="{{controlIds.age}}">Age</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="age" formControlName="age"
                        (focus)="focusField('age')" />
                    <app-input-unit [defaultUnit]="'years'"></app-input-unit>
                </div>
            </div>
        </form>
    </div>
    <ng-template #hasNoChiller>
        <div class="p-3 no-data">
            <h3>Add your Chiller Inventory for analysis..</h3>
            <button type="button" class="btn btn-primary" (click)="addInventoryItem()">Add Chiller</button>
        </div>
    </ng-template>
</div>

<!-- <app-generic-chiller-modal *ngIf="showChillerModal" (emitClose)="closeChillerModal()">
</app-generic-chiller-modal> -->