<div class="section-header">
  <h3 class="pull-left">Opening Losses</h3>
  <button class="btn btn-secondary pull-right" (click)="addLoss()">+ Add Opening Loss</button>
</div>

<div class="no-data" *ngIf="openingLosses.length == 0" (click)="addLoss()">
  <h3>You have no Opening Losses</h3>
  <h4>Add some now.</h4>
</div>

<div class="card card-form" *ngFor="let loss of openingLosses">
  <div class="card-header">
    <div class="pull-left">
      <b>{{loss.name}}</b>
    </div>
    <button class="close pull-right" aria-label="Close" (click)="removeLoss(loss.name)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-block">

    <div class="row justify-content-end">
      <div class="col-4 text-center">
        Baseline
      </div>
      <div class="col-4 text-center">
        Modified
      </div>
    </div>
    <form [formGroup]="loss.fixedForm">
      <div class="row form-group">
        <label class="col-4 col-form-label small" for="baselineOpeningLosses">Fixed Heat Losses (Btu / hr)</label>
        <div class="col-4 input-group input-group-sm">
          <input type="text" class="form-control" formControlName="baselineOpeningLosses" id="baselineOpeningLosses">
          <div class="incrementor input-group-addon">
            <div class="btn" (click)="showFixedModal(loss)"><i class="fa fa-calculator"></i></div>
          </div>
          <app-control-messages [control]="loss.fixedForm.controls.baselineOpeningLosses"></app-control-messages>
        </div>
        <div class="col-4 input-group input-group-sm">
          <input type="text" class="form-control" formControlName="modifiedOpeningLosses" id="modifiedOpeningLosses">
          <div class="incrementor input-group-addon">
            <div class="btn" (click)="showFixedModal(loss)"><i class="fa fa-calculator"></i></div>
          </div>
          <app-control-messages [control]="loss.fixedForm.controls.modifiedOpeningLosses"></app-control-messages>
        </div>
      </div>
    </form>
    <form [formGroup]="loss.variableForm">
      <div class="row form-group">
        <label class="col-4 col-form-label small" for="baselineOpeningLosses">Variable Heat Losses (Btu / hr)</label>
        <div class="col-4 input-group input-group-sm">
          <input type="text" class="form-control" formControlName="baselineOpeningLosses" id="baselineOpeningLosses">
          <div class="incrementor input-group-addon">
            <div class="btn" (click)="showVariableModal(loss)"><i class="fa fa-calculator"></i></div>
          </div>
          <app-control-messages [control]="loss.variableForm.controls.baselineOpeningLosses"></app-control-messages>
        </div>
        <div class="col-4 input-group input-group-sm">
          <input type="text" class="form-control" formControlName="modifiedOpeningLosses" id="modifiedOpeningLosses">
          <div class="incrementor input-group-addon">
            <div class="btn" (click)="showVariableModal(loss)"><i class="fa fa-calculator"></i></div>
          </div>
          <app-control-messages [control]="loss.variableForm.controls.modifiedOpeningLosses"></app-control-messages>
        </div>
      </div>
    </form>
    <form [formGroup]="loss.variableForm">
      <div class="row form-group">
        <label class="col-4 col-form-label small" for="baselineOpeningLosses">Total Heat Losses (Btu / hr)</label>
        <div class="col-4 input-group input-group-sm">
          <input type="text" class="form-control" formControlName="baselineOpeningLosses" id="baselineOpeningLosses">
          <app-control-messages [control]="loss.variableForm.controls.baselineOpeningLosses"></app-control-messages>
        </div>
        <div class="col-4 input-group input-group-sm">
          <input type="text" class="form-control" formControlName="modifiedOpeningLosses" id="modifiedOpeningLosses">
          <app-control-messages [control]="loss.variableForm.controls.modifiedOpeningLosses"></app-control-messages>
        </div>
      </div>
    </form>

  </div>
</div>

<div bsModal #fixedModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fixedModalLabel" aria-hidden="true"
     [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="h3">Fixed Opening Losses Information</div>
        <button class="close" aria-label="Close" (click)="hideFixedModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="editLoss">
        <app-fixed-opening-form [(openingLossesForm)]="editLoss.fixedForm"></app-fixed-opening-form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger pull-left" (click)="hideFixedModal()">Cancel</button>
        <button class="btn btn-primary pull-right" (click)="hideFixedModal()">Calculate</button>
      </div>
    </div>
  </div>
</div>



<div bsModal #variableModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="variableModalLabel"
     aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="h3">Variable Opening Losses Information</div>
        <button class="close" aria-label="Close" (click)="hideVariableModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="editLoss">
        <app-variable-opening-form [(openingLossesForm)]="editLoss.variableForm"></app-variable-opening-form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger pull-left" (click)="hideVariableModal()">Cancel</button>
        <button class="btn btn-primary pull-right" (click)="hideVariableModal()">Calculate</button>
      </div>
    </div>
  </div>
</div>
