<div class="tab-content">
  <form>
    <div class="form-section">
      <div class="form-group">
        <label class="bold">Pipe Size 
          (in.)</label>
        <label class="bold text-center">Pipe Length 
          (<span *ngIf="settings.unitsOfMeasure != 'Metric'">ft</span><span *ngIf="settings.unitsOfMeasure == 'Metric'">m</span>.)</label>
      </div>
      <div class="form-group">
        <label for="oneHalf">
          <sup>1</sup>&frasl;
          <sub>2</sub>
        </label>
        <div class="input-group">
          <input name="oneHalf" class="form-control" type="number" step="any" [(ngModel)]="inputs.oneHalf" id="oneHalf" (input)="emitChange()"
            onfocus="this.select();">
          <span *ngIf="settings.unitsOfMeasure != 'Metric'" class="input-group-addon units">ft</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">m</span>
        </div>
      </div>
      <div class="form-group">
        <label for="threeFourths">
          <sup>3</sup>&frasl;
          <sub>4</sub>
        </label>
        <div class="input-group">
          <input name="threeFourths" class="form-control" type="number" step="any" [(ngModel)]="inputs.threeFourths" id="threeFourths"
            (input)="emitChange()" onfocus="this.select();">
          <span *ngIf="settings.unitsOfMeasure != 'Metric'" class="input-group-addon units">ft</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">m</span>
        </div>
      </div>
      <div class="form-group">
        <label for="one">1</label>
        <div class="input-group">
          <input name="one" class="form-control" type="number" step="any" [(ngModel)]="inputs.one" id="one" (input)="emitChange()"
            onfocus="this.select();">
          <span *ngIf="settings.unitsOfMeasure != 'Metric'" class="input-group-addon units">ft</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">m</span>
        </div>
      </div>
      <div class="form-group">
        <label for="oneAndOneFourth">1
          <sup>1</sup>&frasl;
          <sub>4</sub>
        </label>
        <div class="input-group">
          <input name="oneAndOneFourth" class="form-control" type="number" step="any" [(ngModel)]="inputs.oneAndOneFourth" id="oneAndOneFourth"
            (input)="emitChange()" onfocus="this.select();">
          <span *ngIf="settings.unitsOfMeasure != 'Metric'" class="input-group-addon units">ft</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">m</span>
        </div>
      </div>
      <div class="form-group">
        <label for="oneAndOneHalf">1
          <sup>1</sup>&frasl;
          <sub>2</sub>
        </label>
        <div class="input-group">
          <input name="oneAndOneHalf" class="form-control" type="number" step="any" [(ngModel)]="inputs.oneAndOneHalf" id="oneAndOneHalf"
            (input)="emitChange()" onfocus="this.select();">
          <span *ngIf="settings.unitsOfMeasure != 'Metric'" class="input-group-addon units">ft</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">m</span>
        </div>
      </div>
      <div class="form-group">
        <label for="two">2</label>
        <div class="input-group">
          <input name="two" class="form-control" type="number" step="any" [(ngModel)]="inputs.two" id="two" (input)="emitChange()"
            onfocus="this.select();">
          <span *ngIf="settings.unitsOfMeasure != 'Metric'" class="input-group-addon units">ft</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">m</span>
        </div>
      </div>
      <div class="form-group">
        <label for="twoAndOneHalf">2
          <sup>1</sup>&frasl;
          <sub>2</sub>
        </label>
        <div class="input-group">
          <input name="twoAndOneHalf" class="form-control" type="number" step="any" [(ngModel)]="inputs.twoAndOneHalf" id="twoAndOneHalf"
            (input)="emitChange()" onfocus="this.select();">
          <span *ngIf="settings.unitsOfMeasure != 'Metric'" class="input-group-addon units">ft</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">m</span>
        </div>
      </div>
      <div class="form-group">
        <label for="three">3</label>
        <div class="input-group">
          <input name="three" class="form-control" type="number" step="any" [(ngModel)]="inputs.three" id="three" (input)="emitChange()"
            onfocus="this.select();">
          <span *ngIf="settings.unitsOfMeasure != 'Metric'" class="input-group-addon units">ft</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">m</span>
        </div>
      </div>
      <div class="form-group">
        <label for="oneHalf">3
          <sup>1</sup>&frasl;
          <sub>2</sub>
        </label>
        <div class="input-group">
          <input name="threeAndOneHalf" class="form-control" type="number" step="any" [(ngModel)]="inputs.threeAndOneHalf" id="threeAndOneHalf"
            (input)="emitChange()" onfocus="this.select();">
          <span *ngIf="settings.unitsOfMeasure != 'Metric'" class="input-group-addon units">ft</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">m</span>
        </div>
      </div>
      <div class="form-group">
        <label for="four">4</label>
        <div class="input-group">
          <input name="four" class="form-control" type="number" step="any" [(ngModel)]="inputs.four" id="four" (input)="emitChange()"
            onfocus="this.select();">
          <span *ngIf="settings.unitsOfMeasure != 'Metric'" class="input-group-addon units">ft</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">m</span>
        </div>
      </div>
      <div class="form-group">
        <label for="five">5</label>
        <div class="input-group">
          <input name="five" class="form-control" type="number" step="any" [(ngModel)]="inputs.five" id="five" (input)="emitChange()"
            onfocus="this.select();">
          <span *ngIf="settings.unitsOfMeasure != 'Metric'" class="input-group-addon units">ft</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">m</span>
        </div>
      </div>
      <div class="form-group">
        <label for="six">6</label>
        <div class="input-group">
          <input name="six" class="form-control" type="number" step="any" [(ngModel)]="inputs.six" id="six" (input)="emitChange()"
            onfocus="this.select();">
          <span *ngIf="settings.unitsOfMeasure != 'Metric'" class="input-group-addon units">ft</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">m</span>
        </div>
      </div>
    </div>

    <div class="form-section pt-1">
      <label class="bold">Custom Pipes</label>
      <div class="custom-pipe-form-container" *ngFor="let customPipe of inputs.customPipes; let i = index">

        <div class="form-group">
          <label for="{{'pipe_size_' + i}}">Pipe {{i + 1}} Size 
            (<span *ngIf="settings.unitsOfMeasure != 'Metric'">in</span><span *ngIf="settings.unitsOfMeasure == 'Metric'">cm</span>.)</label>
          <div class="input-group">
            <input name="{{'pipe_size_' + i}}" class="form-control" type="number" step="any" [(ngModel)]="inputs.customPipes[i].pipeSize"
              id="{{'pipe_size_' + i}}" (input)="emitChange()" onfocus="this.select();">
            <span *ngIf="settings.unitsOfMeasure != 'Metric'" class="input-group-addon units">in</span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">cm</span>
            <span class="input-group-addon">
              <div class="btn-delete-field" (click)="deleteCustomPipe(i)"> &times;</div>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="{{'pipe_length_' + i}}">Pipe {{i + 1}} Length 
            (<span *ngIf="settings.unitsOfMeasure != 'Metric'">ft</span><span *ngIf="settings.unitsOfMeasure == 'Metric'">m</span>.)</label>
          <div class="input-group">
            <input name="{{'pipe_length_' + i}}" class="form-control" type="number" step="any" [(ngModel)]="inputs.customPipes[i].pipeLength"
              id="{{'pipe_length_' + i}}" (input)="emitChange()" onfocus="this.select();">
            <span *ngIf="settings.unitsOfMeasure != 'Metric'" class="input-group-addon units">ft</span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">m</span>
            <span class="input-group-addon">
              <div class="btn-delete-field" (click)="deleteCustomPipe(i)"> &times;</div>
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-auto mx-auto">
          <a class="click-link small" (click)="addCustomPipe()">Add Custom Pipe</a>
        </div>
      </div>

    </div>

    <div class="form-section pt-1">
      <label class="bold">Enter the Receiver Capacities</label>
      <div class="form-group" *ngFor="let capacity of inputs.receiverCapacities; let index=index; trackBy:trackByFn">
        <label for="{{'capacity_'+index}}">Receiver {{index+1}}</label>
        <div class="input-group">
          <input name="{{'capacity_'+index}}" class="form-control" type="number" step="any" [(ngModel)]="inputs.receiverCapacities[index]"
            id="{{'capacity_'+index}}" (input)="emitChange()" onfocus="this.select();">
          <span *ngIf="settings.unitsOfMeasure != 'Metric'" class="input-group-addon units">gal</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">m<sup>3</sup></span>
          <span class="input-group-addon">
            <div class="btn-delete-field" (click)="removeCapacity(index)"> &times;</div>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-auto mx-auto">
          <a class="click-link small" (click)="addReceiver()">Add Receiver Tank</a>
        </div>
      </div>
    </div>
    <div class="form-section pt-1">
      <div class="form-group">
        <label class="bold">Total Pipe Volume</label>
        <div class="text-center small">
          <span *ngIf="outputs.totalPipeVolume">
            <strong>{{outputs.totalPipeVolume | number:'1.0-2'}} </strong>
            <strong *ngIf="settings.unitsOfMeasure != 'Metric'">ft<sup>3</sup></strong>
            <strong *ngIf="settings.unitsOfMeasure == 'Metric'">m<sup>3</sup></strong>
          </span>
          <span *ngIf="!outputs.totalPipeVolume">
            <strong>&mdash; &mdash;</strong>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="bold">Total Receiver Volume</label>
        <div class="text-center small">
          <span *ngIf="outputs.totalReceiverVolume">
            <strong>{{outputs.totalReceiverVolume | number:'1.0-2'}} </strong>
            <strong *ngIf="settings.unitsOfMeasure != 'Metric'">ft<sup>3</sup></strong>
            <strong *ngIf="settings.unitsOfMeasure == 'Metric'">m<sup>3</sup></strong>
          </span>
          <span *ngIf="!outputs.totalReceiverVolume">
            <strong>&mdash; &mdash;</strong>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="bold">Total Capacity of Compressed Air System</label>
        <div class="text-center small">
          <span *ngIf="outputs.totalCapacityOfCompressedAirSystem">
            <strong>{{outputs.totalCapacityOfCompressedAirSystem | number:'1.0-2'}} </strong>
            <strong *ngIf="settings.unitsOfMeasure != 'Metric'">ft<sup>3</sup></strong>
            <strong *ngIf="settings.unitsOfMeasure == 'Metric'">m<sup>3</sup></strong>
          </span>
          <span *ngIf="!outputs.totalCapacityOfCompressedAirSystem">
            <strong>&mdash; &mdash;</strong>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>