<div class="tab-content">
  <form>

    <div class="form-section pt-1">
      <!--mark-->
      <label class="bold">Pipes</label>
      <div class="form-group">
        <label>Pipe Size (in.)</label>
        <label>Pipe Length (ft.)</label>
      </div>
      <div class="pt-3" *ngFor="let inputPipe of inputs.allPipes; let index = index;">
        <div class="form-group row no-gutters">
          <div class="col-6 pr-2">
            <!--pipe size dropdown-->
            <select name="{{'pipe_size_' + index}}" class="form-control w-100" id="{{'pipe_size_' + index}}"
              [(ngModel)]="inputPipe.pipeSize" autofocus (focus)="changeField('pipeSize')" (change)="emitChange()">
              <option *ngFor="let pipeSize of pipeSizeOptions" [ngValue]="pipeSize.size">
                {{pipeSize.display}}
              </option>
            </select>
            <!--custom-->
            <div class="input-group" *ngIf="inputPipe.pipeSize == 'CUSTOM'">
              <input name="{{'custom_pipe_size_' + index}}" class="form-control" type="number" step="any"
                [(ngModel)]="inputPipe.customPipeSize" id="{{'custom_pipe_size_' + index}}" (input)="emitChange()"
                onfocus="this.select();" (focus)="changeField('customPipeSize')">
              <span class="input-group-addon units">in</span>
            </div>
          </div>
          <!--length-->
          <div class="col-6">
            <div class="input-group">
              <input name="{{'pipe_length_' + index}}" class="form-control" type="number" step="any"
                [(ngModel)]="inputPipe.pipeLength" id="{{'pipe_length_' + index}}" (input)="emitChange()"
                onfocus="this.select();" (focus)="changeField('standardPipeLength')">
              <span class="input-group-addon units">ft</span>
              <span class="input-group-addon">
                <div class="btn-delete-field" (click)="deletePipe(index)"> &times;</div>
              </span>
            </div>
          </div>
        </div>
      </div>


      <!--nick--
      <label class="bold">Add Pipes</label>
      <div *ngFor="let pipe of pipes; let i = index">
        <div class="btn-delete-field pull-right" (click)="deletePipe(i)"> &times;</div>
        <div class="d-flex justify-content-between pl-5">
          <div class="form-group text-center d-flex flex-column justify-content-center ml-3 mr-3 w-50">
            <label class="w-100 mb-2" for="{{'pipe_size_' + i}}">Pipe {{i + 1}} Size (in.)
            </label>
            <div class="input-group w-100 ">
              <select name="{{'pipe_size_' + i}}" class="form-control" id="{{'pipe_size_' + i}}"
                [(ngModel)]="pipes[i].pipeSize" autofocus (focus)="changeField('pipeSize')">
                <option *ngFor="let pipeSize of pipeSizeOptions" [ngValue]="pipeSize.size">
                  {{pipeSize.display}}
                </option>
              </select>
            </div>
            <!-- <div *ngIf="pipes[i].pipeSize == 'CUSTOM'" class="input-group w-100">
              <input name="{{'custom_pipe_size_' + i}}" class="form-control" type="number" step="any" 
              [(ngModel)]="pipes[i].customPipeSize" id="{{'custom_pipe_size_' + i}}" 
              (input)="changeCustomPipeSize(i)" onfocus="this.select();" (focus)="changeField('customPipeSize')">
              <span class="input-group-addon units">in</span>
            </div> --
          </div>
          <div class="form-group text-center d-flex flex-column justify-content-center ml-3 mr-3 w-50">
            <label class="w-100 mb-2" for="{{'standard_pipe_length_' + i}}">Pipe {{i + 1}} Length (ft.)
            </label>
            <div class="input-group w-100 ">
              <input name="{{'pipe_length_' + i}}" class="form-control" type="number" step="any"
                [(ngModel)]="pipes[i].pipeLength" id="{{'pipe_length_' + i}}" (input)="changePipeLength(i)"
                onfocus="this.select();" (focus)="changeField('standardPipeLength')">
              <span class="input-group-addon units">ft</span>
            </div>
          </div>
        </div>

        <div *ngIf="pipes[i].pipeSize == 'CUSTOM'"
          class="form-group text-center d-flex flex-column justify-content-start ml-3 mr-3 pl-5 pt-2 w-50">
          <div class="input-group w-100">
            <input name="{{'custom_pipe_size_' + i}}" class="form-control" type="number" step="any"
              [(ngModel)]="pipes[i].customPipeSize" id="{{'custom_pipe_size_' + i}}" (input)="changeCustomPipeSize(i)"
              onfocus="this.select();" (focus)="changeField('customPipeSize')">
            <span class="input-group-addon units">in</span>
          </div>
        </div>
        <hr>

      </div>-->

      <div class="row">
        <div class="col-md-auto mx-auto">
          <a class="click-link small" (click)="addPipe()" (focus)="changeField('standardPipe')">Add Pipe</a>
        </div>
      </div>
    </div>

    <div class="form-section pt-1">
      <label class="bold">Receiver Tanks</label>
      <div class="form-group" *ngFor="let capacity of inputs.receiverCapacities; let index=index; trackBy:trackByFn;">
        <label for="{{'capacity_'+index}}">Receiver {{index+1}}</label>
        <div class="input-group">
          <input name="{{'capacity_'+index}}" class="form-control" type="number" step="any"
            [(ngModel)]="inputs.receiverCapacities[index]" id="{{'capacity_'+index}}" (input)="emitChange()"
            onfocus="this.select();" (focus)="changeField('receiverTanks')">
          <span *ngIf="settings.unitsOfMeasure != 'Metric'" class="input-group-addon units">gal</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">m<sup>3</sup></span>
          <span class="input-group-addon">
            <div class="btn-delete-field" (click)="removeCapacity(index)"> &times;</div>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-auto mx-auto">
          <a class="click-link small" (click)="addReceiver()" (focus)="changeField('receiverTanks')">Add Receiver
            Tank</a>
        </div>
      </div>
    </div>
    <div class="form-section pt-1">
      <div class="form-group">
        <label class="bold">Total Pipe Volume</label>
        <div class="text-center small">
          <span *ngIf="outputs.totalPipeVolume">
            <strong>{{outputs.totalPipeVolume | number:'1.0-2'}} </strong>
            <strong *ngIf="settings.unitsOfMeasure != 'Metric'">ft<sup>3</sup></strong>
            <strong *ngIf="settings.unitsOfMeasure == 'Metric'">m<sup>3</sup></strong>
          </span>
          <span *ngIf="!outputs.totalPipeVolume">
            <strong>&mdash; &mdash;</strong>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="bold">Total Receiver Volume</label>
        <div class="text-center small">
          <span *ngIf="outputs.totalReceiverVolume">
            <strong>{{outputs.totalReceiverVolume | number:'1.0-2'}} </strong>
            <strong *ngIf="settings.unitsOfMeasure != 'Metric'">ft<sup>3</sup></strong>
            <strong *ngIf="settings.unitsOfMeasure == 'Metric'">m<sup>3</sup></strong>
          </span>
          <span *ngIf="!outputs.totalReceiverVolume">
            <strong>&mdash; &mdash;</strong>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="bold">Total Capacity of Compressed Air System</label>
        <div class="text-center small">
          <span *ngIf="outputs.totalCapacityOfCompressedAirSystem">
            <strong>{{outputs.totalCapacityOfCompressedAirSystem | number:'1.0-2'}} </strong>
            <strong *ngIf="settings.unitsOfMeasure != 'Metric'">ft<sup>3</sup></strong>
            <strong *ngIf="settings.unitsOfMeasure == 'Metric'">m<sup>3</sup></strong>
          </span>
          <span *ngIf="!outputs.totalCapacityOfCompressedAirSystem">
            <strong>&mdash; &mdash;</strong>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>