<div class="row contact-info contact-section-header">
  <div class="col">
    <h5>
      <i class="fa fa-address-card"></i>
      Contact Information
    </h5>
  </div>
</div>
<div class="row contact-info-row" *ngIf="settings && !showNoData">
  <div class="col-12">
    <h5>Company: {{settings.facilityInfo.companyName}}</h5>
    <h5>Facility: {{settings.facilityInfo.facilityName}}</h5>
    <h5>Date: {{settings.facilityInfo.date}}</h5>
  </div>
  <div class="col-12">
    <h5 class="bold">Address</h5>
    <h6>Street: {{settings.facilityInfo.address.street}}</h6>
    <h6>City: {{settings.facilityInfo.address.city}}</h6>
    <h6>State: {{settings.facilityInfo.address.state}}</h6>
    <h6>Country: {{settings.facilityInfo.address.country}}</h6>
    <h6>Zip: {{settings.facilityInfo.address.zip}}</h6>
  </div>
  <div class="col-12">
    <h5 class="bold">Facility Contact</h5>
    <h6>Name: {{settings.facilityInfo.facilityContact.contactName}}</h6>
    <h6>Phone: {{settings.facilityInfo.facilityContact.phoneNumber}}</h6>
    <h6>Email: {{settings.facilityInfo.facilityContact.email}}</h6>
  </div>
  <div class="col-12">
    <h5 class="bold">Assessment Contact</h5>
    <h6>Name: {{settings.facilityInfo.assessmentContact.contactName}}</h6>
    <h6>Phone: {{settings.facilityInfo.assessmentContact.phoneNumber}}</h6>
    <h6>Email: {{settings.facilityInfo.assessmentContact.email}}</h6>
  </div>
  <div class="col-12 edit-info">
    <a (click)="showFacilityModal()">Edit Info</a>
  </div>
</div>

<div class="no-facility-data" *ngIf="showNoData" (click)="showFacilityModal()">
  Add Facility Info
  <br>
  <span class="fa fa-plus-circle"></span>
  <br>
  <p class="small">You have no facility information for this directory.</p>
</div>




<div bsModal #facilityModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="facilityModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="bold">{{directory.name}} Facilty Information.</h4>
        <button class="close pull-right" (click)="hideFacilityModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="showModal">
        <app-facility-info [settings]="settings" (close)="save()"></app-facility-info>
      </div>
    </div>
  </div>
</div>