td, a{
    font-size: small;
  }
  
  td{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .group-label{
    border-bottom: #566573 groove 2px;
  }
  
  .modal-dialog{
      max-width: 750px;
  }

.btn{
  padding: 6px;
}

.help-text{
  padding-top:4px;
  text-align: center;
}

.btn-add-facility-info:hover {
    cursor: pointer;
    background-color: #ececec;
}


.expanded-row, .expanded-row tr, .expanded-row td, .expanded-row tbody {
  height: initial;
  overflow: initial;
  color: rgba(0,0,0,1);
  transition: all ease 0.5s;
}

.collapsed-row, .collapsed-row tr, .collapsed-row td, .collapsed-row tbody {
  height: 0;
  overflow: hidden;
  color: rgba(0,0,0,0);
  transition: all ease 0.5s;
  font-size: 0px;
  border-top: none;
}


.btn-expand {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 12px;
  transition: all ease 0.2s;
}

.btn-expand:hover {
  cursor: pointer;
  background-color: #ececec;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 10px solid #acacac;
  margin: auto;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 10px solid #acacac;
  margin: auto;
}

.btn-expand:hover .arrow-down {
  border-top: 10px solid #fff;
}

.btn-expand:hover .arrow-up {
  border-bottom: 10px solid #fff;
}

.info-row {
  font-size: 16px;
}

.address-col {
  padding-left: 13%;
}

.card{
  border: none;
}

.table{
  margin-bottom: 0px;
}

.no-border-top{
  border-top: none;
}



.modal-dialog{
  top: 1rem;
}