<label class="group-label" (click)="toggleCollapse()">
    <span class="fa fa-chevron-right"
        [ngClass]="{'fa-chevron-right': contentCollapsed, 'fa-chevron-down': !contentCollapsed}"></span>
    Centrifugal Specifics
    <span *ngIf="form.invalid" class="pull-right">
        <span class="fa fa-exclamation-circle"></span>
    </span>
</label>
<form [formGroup]="form" *ngIf="!contentCollapsed">

    <!-- surgeAirflow -->
    <div class="form-group">
        <label for="surgeAirflow">Surge airflow at design conditions</label>
        <div class="input-group">
            <input name="surgeAirflow" type="number" step="any" class="form-control" id="surgeAirflow"
                formControlName="surgeAirflow" (input)="save()" (focus)="focusField('surgeAirflow')">
            <span class="units input-group-addon">acfm</span>
        </div>
        <span class="alert-danger pull-right small"
            *ngIf="form.controls.surgeAirflow.invalid && !form.controls.surgeAirflow.pristine">
            <span *ngIf="form.controls.surgeAirflow.errors.required">Value Required</span>
            <span *ngIf="form.controls.surgeAirflow.errors.min">Value can't be less than
                {{form.controls.surgeAirflow.errors.min.min}} acfm.</span>
            <span *ngIf="form.controls.surgeAirflow.errors.max">Value must be less than Rated Capacity at Full Load
                Pressure</span>
        </span>
    </div>

    <!-- maxFullLoadPressure -->
    <div class="form-group">
        <label for="maxFullLoadPressure">Max. full load (surge) pressure</label>
        <div class="input-group">
            <input name="maxFullLoadPressure" type="number" step="any" class="form-control" id="maxFullLoadPressure"
                formControlName="maxFullLoadPressure" (input)="save()" (focus)="focusField('maxFullLoadPressure')">
            <span class="units input-group-addon">psig</span>
        </div>
        <span class="alert-danger pull-right small"
            *ngIf="form.controls.maxFullLoadPressure.invalid && !form.controls.maxFullLoadPressure.pristine">
            <span *ngIf="form.controls.maxFullLoadPressure.errors.required">Value Required</span>
            <span *ngIf="form.controls.maxFullLoadPressure.errors.min">Value can't be less than Min. full load
                (stonewall) pressure</span>
        </span>
    </div>

    <!-- maxFullLoadCapacity -->
    <div class="form-group">
        <label for="maxFullLoadCapacity">Capacity at max full load pressure</label>
        <div class="input-group">
            <input name="maxFullLoadCapacity" type="number" step="any" class="form-control" id="maxFullLoadCapacity"
                formControlName="maxFullLoadCapacity" (input)="save()" (focus)="focusField('maxFullLoadCapacity')">
            <span class="units input-group-addon">acfm</span>
        </div>
        <span class="alert-danger pull-right small"
            *ngIf="form.controls.maxFullLoadCapacity.invalid && !form.controls.maxFullLoadCapacity.pristine">
            <span *ngIf="form.controls.maxFullLoadCapacity.errors.required">Value Required</span>
            <span *ngIf="form.controls.maxFullLoadCapacity.errors.min">Value can't be less than
                {{form.controls.maxFullLoadCapacity.errors.min.min}} acfm</span>
            <span *ngIf="form.controls.maxFullLoadCapacity.errors.max">Value can't be greater than Rated Capacity at
                Full Load Pressure
                {{form.controls.maxFullLoadCapacity.errors.max.max}}</span>
        </span>
    </div>

    <!-- minFullLoadPressure -->
    <div class="form-group">
        <label for="minFullLoadPressure">Min. full load (stonewall) pressure</label>
        <div class="input-group">
            <input name="minFullLoadPressure" type="number" step="any" class="form-control" id="minFullLoadPressure"
                formControlName="minFullLoadPressure" (input)="save()" (focus)="focusField('minFullLoadPressure')">
            <span class="units input-group-addon">psig</span>
        </div>
        <span class="alert-danger pull-right small"
            *ngIf="form.controls.minFullLoadPressure.invalid && !form.controls.minFullLoadPressure.pristine">
            <span *ngIf="form.controls.minFullLoadPressure.errors.required">Value Required</span>
            <span *ngIf="form.controls.minFullLoadPressure.errors.min">Value can't be less than
                {{form.controls.minFullLoadPressure.errors.min.min}} psig.</span>
            <span *ngIf="form.controls.minFullLoadPressure.errors.min">Value can't be greater than Max full load (surge)
                pressure</span>
        </span>
    </div>

    <!-- minFullLoadCapacity -->
    <div class="form-group">
        <label for="minFullLoadCapacity">Capacity at min. full load pressure</label>
        <div class="input-group">
            <input name="minFullLoadCapacity" type="number" step="any" class="form-control" id="minFullLoadCapacity"
                formControlName="minFullLoadCapacity" (input)="save()" (focus)="focusField('minFullLoadCapacity')">
            <span class="units input-group-addon">acfm</span>
        </div>
        <span class="alert-danger pull-right small"
            *ngIf="form.controls.minFullLoadCapacity.invalid && !form.controls.minFullLoadCapacity.pristine">
            <span *ngIf="form.controls.minFullLoadCapacity.errors.required">Value Required</span>
            <span *ngIf="form.controls.minFullLoadCapacity.errors.min">Value can't be less than
                {{form.controls.minFullLoadCapacity.errors.min.min}} acfm.</span>
        </span>
    </div>

</form>