<form [formGroup]="turbineForm">
  <label class="group-label w-100">
    <div class="form-group">
      <input type="checkbox" id="{{idString+pressureTurbineString+'_useTurbine'}}" formControlName="useTurbine" (blur)="focusOut()"
        [ngClass]="{'indicate-different': isUseTurbineDifferent()}" (change)="save()">
      <span class="pl-1" *ngIf="pressureTurbineString == 'highToLowTurbine'">High Pressure to Low Pressure</span>
      <span class="pl-1" *ngIf="pressureTurbineString == 'highToMediumTurbine'">High Pressure to Medium Pressure</span>
      <span class="pl-1" *ngIf="pressureTurbineString == 'mediumToLowTurbine'">Medium Pressure to Low Pressure</span>
    </div>
  </label>
  <div *ngIf="turbineForm.controls.useTurbine.value == true">
    <div class="form-group">
      <label for="{{idString+pressureTurbineString+'_isentropicEfficiency'}}">Isentropic Efficiency</label>
      <div class="input-group">
        <input name="isentropicEfficiency" type="number" step="any" class="form-control" id="{{idString+pressureTurbineString+'_isentropicEfficiency'}}"
          (input)="save()" [readonly]="!selected" formControlName="isentropicEfficiency" (focus)="focusField('isentropicEfficiency')"
          (blur)="focusOut()" [ngClass]="{'indicate-different': isIsentropicEfficiencyDifferent()}">
        <span class="units input-group-addon">%</span>
      </div>
      <span class="alert-danger pull-right small" *ngIf="turbineForm.controls.isentropicEfficiency.invalid && !turbineForm.controls.isentropicEfficiency.pristine">
        <span *ngIf="turbineForm.controls.isentropicEfficiency.errors.required">Value Required</span>
        <span *ngIf="turbineForm.controls.isentropicEfficiency.errors.max">Value can't be greater than
          {{turbineForm.controls.isentropicEfficiency.errors.max.max}} %.</span>
        <span *ngIf="turbineForm.controls.isentropicEfficiency.errors.min">Value can't be less than
          {{turbineForm.controls.isentropicEfficiency.errors.min.min}} %.</span>
      </span>
    </div>

    <div class="form-group">
      <label for="{{idString+pressureTurbineString+'_generationEfficiency'}}">Generator Efficiency</label>
      <div class="input-group">
        <input name="generationEfficiency" type="number" step="any" class="form-control" id="{{idString+pressureTurbineString+'_generationEfficiency'}}"
          (input)="save()" [readonly]="!selected" formControlName="generationEfficiency" (focus)="focusField('generationEfficiency')"
          (blur)="focusOut()" [ngClass]="{'indicate-different': isGenerationEfficiencyDifferent()}">
        <span class="units input-group-addon">%</span>
      </div>
      <span class="alert-danger pull-right small" *ngIf="turbineForm.controls.generationEfficiency.invalid && !turbineForm.controls.generationEfficiency.pristine">
        <span *ngIf="turbineForm.controls.generationEfficiency.errors.required">Value Required</span>
        <span *ngIf="turbineForm.controls.generationEfficiency.errors.max">Value can't be greater than
          {{turbineForm.controls.generationEfficiency.errors.max.max}} %.</span>
        <span *ngIf="turbineForm.controls.generationEfficiency.errors.min">Value can't be less than
          {{turbineForm.controls.generationEfficiency.errors.min.min}} %.</span>
      </span>
    </div>

    <div class="form-group">
      <label for="{{idString+pressureTurbineString+'_operationType'}}">Operation Type</label>
      <select name="operationType" class="form-control" id="{{idString+pressureTurbineString+'_operationType'}}"
        (change)="changeOperationValidators()" (focus)="focusField('operationType')" (blur)="focusOut()"
        formControlName="operationType" [ngClass]="{'indicate-different': isOperationTypeDifferent()}">
        <option *ngFor="let type of turbineTypeOptions" [ngValue]="type.value">{{type.display}}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="turbineForm.controls.operationType.value != 2">
      <label for="{{idString+pressureTurbineString+'_operationValue1'}}">
        <span *ngIf="turbineForm.controls.operationType.value == 0">Fixed Flow</span>
        <span *ngIf="turbineForm.controls.operationType.value == 1">Fixed Power</span>
        <span *ngIf="turbineForm.controls.operationType.value == 3">Minimum Power</span>
        <span *ngIf="turbineForm.controls.operationType.value == 4">Minimum Flow</span>
      </label>
      <div class="input-group">
        <input name="operationValue1" type="number" step="any" class="form-control" id="{{idString+pressureTurbineString+'_operationValue1'}}"
          (input)="changeOperation2Validators()" [readonly]="!selected" formControlName="operationValue1" (focus)="focusField('operationValue1')"
          (blur)="focusOut()" [ngClass]="{'indicate-different': isOperationValue1Different()}">
        <span class="units input-group-addon">
          <span *ngIf="turbineForm.controls.operationType.value == 0 || turbineForm.controls.operationType.value == 4">{{settings.steamMassFlowMeasurement}}</span>
          <span *ngIf="turbineForm.controls.operationType.value == 1 || turbineForm.controls.operationType.value == 3">kW</span>
        </span>
      </div>
      <span class="alert-danger pull-right small" *ngIf="turbineForm.controls.operationValue1.invalid && !turbineForm.controls.operationValue1.pristine">
        <span *ngIf="turbineForm.controls.operationValue1.errors.required">Value Required</span>
        <span *ngIf="turbineForm.controls.operationValue1.errors.max">Value can't be greater than
          {{turbineForm.controls.operationValue1.errors.max.max}}
          <span *ngIf="turbineForm.controls.operationType.value == 0 || turbineForm.controls.operationType.value == 4">{{settings.steamMassFlowMeasurement}}</span>
          <span *ngIf="turbineForm.controls.operationType.value == 1 || turbineForm.controls.operationType.value == 3">kW</span>
          .</span>
        <span *ngIf="turbineForm.controls.operationValue1.errors.min">Value can't be less than
          {{turbineForm.controls.operationValue1.errors.min.min}}
          <span *ngIf="turbineForm.controls.operationType.value == 0 || turbineForm.controls.operationType.value == 4">{{settings.steamMassFlowMeasurement}}</span>
          <span *ngIf="turbineForm.controls.operationType.value == 1 || turbineForm.controls.operationType.value == 3">kW</span>.</span>
      </span>
    </div>

    <div class="form-group" *ngIf="turbineForm.controls.operationType.value == 4 || turbineForm.controls.operationType.value == 3">
      <label for="{{idString+pressureTurbineString+'_operationValue2'}}">
        <span *ngIf="turbineForm.controls.operationType.value == 4">Maximum Flow</span>
        <span *ngIf="turbineForm.controls.operationType.value == 3">Maximum Power</span>
      </label>
      <div class="input-group">
        <input name="operationValue2" type="number" step="any" class="form-control" id="{{idString+pressureTurbineString+'_operationValue2'}}" (input)="changeOperation1Validators()"
          [readonly]="!selected" formControlName="operationValue2" (focus)="focusField('operationValue2')" (blur)="focusOut()"
          [ngClass]="{'indicate-different': isOperationValue2Different()}">
        <span class="units input-group-addon">
          <span *ngIf="turbineForm.controls.operationType.value == 4">{{settings.steamMassFlowMeasurement}}</span>
          <span *ngIf="turbineForm.controls.operationType.value == 3">kW</span>
        </span>
      </div>
      <span class="alert-danger pull-right small" *ngIf="turbineForm.controls.operationValue2.invalid && !turbineForm.controls.operationValue2.pristine">
        <span *ngIf="turbineForm.controls.operationValue2.errors.required">Value Required</span>
        <span *ngIf="turbineForm.controls.operationValue2.errors.max">Value can't be greater than
          {{turbineForm.controls.operationValue2.errors.max.max}}
          <span *ngIf="turbineForm.controls.operationType.value == 0 || turbineForm.controls.operationType.value == 4">{{settings.steamMassFlowMeasurement}}</span>
          <span *ngIf="turbineForm.controls.operationType.value == 1 || turbineForm.controls.operationType.value == 3">kW</span>
          .</span>
        <span *ngIf="turbineForm.controls.operationValue2.errors.min">Value can't be less than
          {{turbineForm.controls.operationValue2.errors.min.min}}
          <span *ngIf="turbineForm.controls.operationType.value == 0 || turbineForm.controls.operationType.value == 4">{{settings.steamMassFlowMeasurement}}</span>
          <span *ngIf="turbineForm.controls.operationType.value == 1 || turbineForm.controls.operationType.value == 3">kW</span>.</span>
      </span>
    </div>
  </div>
</form>