.pre-assessment-modal .modal-dialog{
    top: 0px;
    height: 80vh
    }


.pre-assessment-modal .modal-dialog{
  top: 0px;
  margin: 5px 5px 5px 5px;
  /* width: 80vh; */
  min-width: 99vw;
}

.pre-assessment-modal .modal-body{
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 85vh;
  max-height: 85vh;
}



.pre-assessment-modal .modal-header,
.pre-assessment-modal .modal-footer{
  padding: 8px;
}

.btn{
  padding: 6px;
}
