<div class="note-form" *ngIf="currentTab == 'charge-material'">
  <textarea rows="2" id="notes" [(ngModel)]="notes.chargeNotes" placeholder="Add note for charge material"></textarea>
</div>

<div class="note-form" *ngIf="currentTab == 'wall-losses'">
  <textarea rows="2" id="notes" [(ngModel)]="notes.wallNotes" placeholder="Add note for wall losses"></textarea>
</div>

<div class="note-form" *ngIf="currentTab == 'atmosphere-losses'">
  <textarea rows="2" id="notes" [(ngModel)]="notes.atmosphereNotes" placeholder="Add note for atmosphere losses"></textarea>
</div>

<div class="note-form" *ngIf="currentTab == 'fixture-losses'">
  <textarea rows="2" id="notes" [(ngModel)]="notes.fixtureNotes" placeholder="Add note for fixture losses"></textarea>
</div>

<div class="note-form" *ngIf="currentTab == 'opening-losses'">
  <textarea rows="2" id="notes" [(ngModel)]="notes.openingNotes" placeholder="Add note for opening losses"></textarea>
</div>

<div class="note-form" *ngIf="currentTab == 'cooling-losses'">
  <textarea rows="2" id="notes" [(ngModel)]="notes.coolingNotes" placeholder="Add note for cooling losses"></textarea>
</div>

<div class="note-form" *ngIf="currentTab == 'flue-gas-losses'">
  <textarea rows="2" id="notes" [(ngModel)]="notes.flueGasNotes" placeholder="Add note for flue gas losses"></textarea>
</div>

<div class="note-form" *ngIf="currentTab == 'gas-leakage-losses'">
  <textarea rows="2" id="notes" [(ngModel)]="notes.leakageNotes" placeholder="Add note for gas leakage"></textarea>
</div>

<div class="note-form" *ngIf="currentTab == 'extended-surface-losses'">
  <textarea rows="2" id="notes" [(ngModel)]="notes.extendedNotes" placeholder="Add note for extended surfaces"></textarea>
</div>

<div class="note-form" *ngIf="currentTab == 'other-losses'">
  <textarea rows="2" id="notes" [(ngModel)]="notes.otherNotes" placeholder="Add note for other losses"></textarea>
</div>

<div class="note-form" *ngIf="currentTab == 'slag'">
  <textarea rows="2" id="notes" [(ngModel)]="notes.slagNotes" placeholder="Add note for slag loss"></textarea>
</div>

<div class="note-form" *ngIf="currentTab == 'auxiliary-power'">
  <textarea rows="2" id="notes" [(ngModel)]="notes.auxiliaryPowerNotes" placeholder="Add note for aux power"></textarea>
</div>

<div class="note-form" *ngIf="currentTab == 'energy-input'">
  <textarea rows="2" id="notes" [(ngModel)]="notes.energyInputNotes" placeholder="Add note for energy input"></textarea>
</div>

<div class="note-form" *ngIf="currentTab == 'exhaust-gas'">
  <textarea rows="2" id="notes" [(ngModel)]="notes.exhaustGasNotes" placeholder="Add note for exhaust gas"></textarea>
</div>


<div class="note-form" *ngIf="currentTab == 'energy-input-exhaust-gas'">
  <textarea rows="2" id="notes" [(ngModel)]="notes.energyInputExhaustGasNotes" placeholder="Add note for exhaust gas"></textarea>
</div>



<div class="note-form" *ngIf="currentTab == 'heat-system-efficiency'">
  <textarea rows="2" id="notes" [(ngModel)]="notes.heatSystemEfficiencyNotes" placeholder="Add note for heat system efficiency"></textarea>
</div>


<div class="note-form" *ngIf="currentTab == 'operations'">
  <textarea rows="2" id="notes" [(ngModel)]="notes.operationsNotes" placeholder="Add note for operations changes"></textarea>
</div>
