.head-tool-toggle-switch{
    padding-top: 15px;
    padding-bottom: 15px;
}

.button-row{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #2980b9;
}

.save-button{
    background: white;
    color: black;
}

.btn-group {
    display: block;
    text-align: center;
}

.btn-group .btn-sm {
    font-size: small !important;
}

.btn-margin-10 {
    margin: 10px 0px;
}
.btn-form {
  border-radius: 4px !important;
}

/* Screens above  1024 */
.calculator-form-container {
    display: flex;
    height: 100%;
}

.calculator-form-panel-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

 /* Screens below 1024 */
@media screen and (max-width: 1024px) {
    /* Single Form Calculators */
    .calculator-form-container {
        display: block;
        height: 100%;
        overflow-y: auto;
    }

    .calculator-form-panel-container {
        display: block;
        width: 100%;
    }

    .lookup-form {
        height: 100%;
    }

}