.header .fa.fa-lightbulb-o {
    font-size: -webkit-xxx-large;
    padding-left: 12px;
}

.fa.fa-times-circle-o:hover {
    cursor: pointer;
}

.fa-save, .fa-times, .fa-edit {
    font-size: xx-large;
}

.compressed-air-icon {
    height: 55px;
}

.leak-form-width {
    width: 66%;
}

.leak-results-width {
    width: 33%;
}

.action-item:hover {
    cursor: pointer;
    background: #efefef;
}

.help-holder {
    max-width: 500px;
}

.treasure-hunt-help {
    margin-right: .5rem;
    margin-bottom: 0px;
}