<div class="d-flex flex-column panel-container pb-4">
    <div class="header mr-2 ml-2">
        <h3>{{dischargeOutletTabTitle}}</h3>
        <br>
    </div>

    @if (waterAssessment.dischargeOutlets.length === 0) {
    <div class="p-3 align-self-center">
        <button type="button" class="btn btn-primary active" (click)="addDischargeOutlet()">
            Add {{componentFormTitle}}
        </button>
    </div>
    }
    @else {
    <ng-container *ngIf="dischargeOutletTab === 'data' && form">
        <form [formGroup]="form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" formControlName="name"
                    (focus)="focusField('dischargeOutletName')" (input)="save()" />
            </div>

            <div class="form-group">
                <label for="cost">Cost</label>
                <div class="input-group">
                    <input name="cost" type="number" class="form-control" id="cost" formControlName="cost"
                        (input)="save()" (focus)="focusField('cost')">
                  <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure != 'Metric'">$/kgal</span>
                  <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure == 'Metric'">$/kL</span>
                </div>
                <span class="alert-danger pull-right small"
                    *ngIf="form.controls.cost.invalid && !form.controls.cost.pristine">
                    <span *ngIf="form.controls.cost.errors.required">Value Required</span>
                </span>
            </div>

            <div class="form-group">
                <label for="outletType">Outlet</label>
                <select class="form-control" id="outletType" formControlName="outletType"
                    (change)="setDischargeOutletType()" (focus)="focusField('outletType')">
                    <option *ngFor="let outletType of dischargeOutletTypeOptions" [ngValue]="outletType.value">
                        {{outletType.display}}
                    </option>
                </select>
            </div>

            <div class="form-group" [ngClass]="{'invalid': form.controls.annualUse.invalid}">
                <label for="{{idString}}">Annual Use</label>
                <div class="input-group">
                    <input type="number" name="annualUse" class="form-control number-input-field"
                        id="{{'annualUse_'+idString}}" (focus)="focusField('annualUse')" (input)="save()"
                        formControlName="annualUse">
                    <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">Mgal/yr</span>
                    <span *ngIf="settings.unitsOfMeasure != 'Imperial'"
                        class="input-group-addon units">m<sup>3</sup>/yr</span>
                </div>
                <span *ngIf="form.controls.annualUse.invalid && !form.controls.annualUse.pristine">
                    <span class="alert-danger pull-right small" *ngIf="form.controls.annualUse.errors.required">Value
                        Required</span>
                    <span class="alert-danger pull-right small" *ngIf="form.controls.annualUse.errors.min">Value can't
                        be
                        less than {{form.controls.annualUse.errors.min.min}}
                        <span *ngIf="settings.unitsOfMeasure == 'Imperial'">Mgal/yr</span>
                        <span *ngIf="settings.unitsOfMeasure != 'Imperial'">m<sup>3</sup>/yr</span>
                    </span>
                </span>
                <a class="form-text small click-link" (click)="setMonthlyFlowModal(true)">Enter Monthly Discharge
                    Data</a>
            </div>
        </form>
        <app-alert-info-container class="m-3"
[header]="'Coming Soon: Inflow and Outflow Management'" 
[content]="'Inflow and outflow data can currently be managed by visiting the Diagram, then selecting and editing a system component'" ></app-alert-info-container>

    </ng-container>


    <div class="px-2" *ngIf="dischargeOutletTab === 'added-energy'">
        <ng-container *ngIf="!isMotorEnergyCollapsed">
            <div class="form-group my-2 px-2 d-flex justify-content-end">
                <div class="btn-group btn-group-sm pull-right">
                    <button type="button" disabled id="motorEnergyMethod_from"
                        class="btn btn-secondary btn-sm py-1 px-2 mx-2 small"
                        (click)="addMotorEnergyFromInventory()">Add From
                        Inventory</button>
                    <button type="button" id="motorEnergyMethod_add" class="btn btn-primary btn-sm py-1 px-2 small mx-2"
                        (click)="addNewMotorEnergy()">Add New
                        Pump Energy</button>
                </div>
            </div>

            <div class="motor-equipment">
                <div class="form-section"
                    *ngFor="let motorEnergy of selectedDischargeOutlet.addedMotorEnergy; let i = index">
                    <app-motor-energy [motorEnergy]="motorEnergy" (updateMotorEnergy)="saveMotorEnergy($event, i)">
                    </app-motor-energy>
                    <div class="text-center">
                        <a class="click-link delete small" (click)="openConfirmDeleteModal(motorEnergy, i)">Delete
                            {{motorEnergy.name}}</a>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    }
</div>

<app-confirm-delete-modal *ngIf="showConfirmDeleteModal" [confirmDeleteData]="confirmDeleteData"
    (emitShouldDelete)="onConfirmDeleteClose($event)">
</app-confirm-delete-modal>

<app-monthly-flow-modal *ngIf="showMonthlyFlowModal" [settings]="settings"
    [monthlyFlow]="selectedDischargeOutlet.monthlyFlow" [flowTypeTitle]="'Discharge'"
    (emitMonthlyFlowData)="setMonthlyFlow($event)">
</app-monthly-flow-modal>