.group-label{
	font-size: 16px;
    text-transform: none;
	letter-spacing: 1px;
	padding-top: 6.5px;
	padding-bottom: 6.5px;
}

.group-label:hover{
	cursor: pointer;
	background-color: lightgray;
}

.group-label .form-control{
	width: fit-content;
	display: inherit;
    background-color: var(--process-cooling-assessment);
    color: white;
}

.use-sliding-checkbox {
  width: 1.3em;
  height: 1.3em;
  min-width: 1.3em;
  min-height: 1.3em;
  vertical-align: middle;
}
