.group-label{
	font-size: 16px;
    text-transform: none;
	letter-spacing: 1px;
	padding-top: 6.5px;
	padding-bottom: 6.5px;
}

.group-label:hover{
	cursor: pointer;
	background-color: lightgray;
}

.group-label .form-control{
	width: fit-content;
	display: inherit;
    background-color: var(--process-cooling-assessment);
    color: white;
}

.disabled {
	background-color: #e3e3e3;
	pointer-events: none;
}

.disabled span {
	color: rgba(0, 0, 0, 0.38);
}