<label class="group-label" (click)="toggleForm()">
    <span class="fa fa-chevron-down" *ngIf="displayForm"></span>
    <span class="fa fa-chevron-right" *ngIf="!displayForm"></span>
    Field Measurements
</label>
<form *ngIf="displayForm" class="p-1" [formGroup]="motorForm" #formElement>

    <!-- location -->
    <div class="form-group" *ngIf="displayOptions.location">
        <label for="location">Location</label>
        <input type="text" class="form-control" (focus)="focusField('location')" (input)="save()"
            formControlName="location" id="location">
    </div>

    <!-- annualOperatingHours -->
    <div class="form-group" *ngIf="displayOptions.annualOperatingHours">
        <label for="annualOperatingHours"><span class="fa fa-asterisk"></span>Operating Hours

        </label>
        <div class="input-group">
            <span class="input-group-addon op-hour-addon units">
                <a class="click-link" (click)="openOperatingHoursModal()"><span class="fa fa-calculator"></span></a>
            </span>
            <input type="number" class="form-control" (focus)="focusField('annualOperatingHours')" (input)="save()"
                formControlName="annualOperatingHours" id="annualOperatingHours">
            <span class="input-group-addon units">hrs/yr</span>
        </div>
        <span class="alert-danger pull-right small" *ngIf="motorForm.controls.annualOperatingHours.invalid">
            <span *ngIf="motorForm.controls.annualOperatingHours.errors.max">Value can't be greater than
                {{motorForm.controls.annualOperatingHours.errors.max.max}} hrs/yr.</span>
            <span *ngIf="motorForm.controls.annualOperatingHours.errors.min">Value can't be less than
                {{motorForm.controls.annualOperatingHours.errors.min.min}} hrs/yr.</span>
        </span>
    </div>
    <!-- averageLoadFactor -->
    <div class="form-group" *ngIf="displayOptions.averageLoadFactor">
        <label for="averageLoadFactor"><span class="fa fa-asterisk"></span>Average Load Factor
            <a class="form-text small click-link" (click)="showLoadFactorModal()">Calculate Load Factor</a>
        </label>
        <div class="input-group">
            <input type="number" class="form-control" (focus)="focusField('averageLoadFactor')" (input)="save()"
                formControlName="averageLoadFactor" id="averageLoadFactor">
            <span class="input-group-addon units">%</span>
        </div>
        <span class="alert-danger pull-right small" *ngIf="motorForm.controls.averageLoadFactor.invalid">
            <span *ngIf="motorForm.controls.averageLoadFactor.errors.max">Value can't be greater than
                {{motorForm.controls.averageLoadFactor.errors.max.max}} %.</span>
            <span *ngIf="motorForm.controls.averageLoadFactor.errors.min">Value can't be less than
                {{motorForm.controls.averageLoadFactor.errors.min.min}} %.</span>
        </span>
    </div>
    <!-- utilizationFactor -->
    <div class="form-group" *ngIf="displayOptions.utilizationFactor">
        <label for="utilizationFactor"><span class="fa fa-asterisk"></span>Utilization Factor</label>
        <div class="input-group">
            <input type="number" class="form-control" (focus)="focusField('utilizationFactor')" (input)="save()"
                formControlName="utilizationFactor" id="utilizationFactor">
            <span class="input-group-addon units">%</span>
        </div>
        <span class="alert-danger pull-right small" *ngIf="motorForm.controls.utilizationFactor.invalid">
            <span *ngIf="motorForm.controls.utilizationFactor.errors.max">Value can't be greater than
                {{motorForm.controls.utilizationFactor.errors.max.max}} %.</span>
            <span *ngIf="motorForm.controls.utilizationFactor.errors.min">Value can't be less than
                {{motorForm.controls.utilizationFactor.errors.min.min}} %.</span>
        </span>
    </div>
    <!-- efficiencyAtAverageLoad -->
    <div class="form-group" *ngIf="displayOptions.efficiencyAtAverageLoad">
        <label for="efficiencyAtAverageLoad"><span class="fa fa-asterisk"></span>Efficiency at Average Load
            <span class="form-text">
                <a class="small click-link" (click)="calculateEfficiency()"
                    [ngClass]="{'disabled': disableEstimateEfficiency}">Estimate Efficiency</a>
                <span class="fa fa-question-circle" (click)="focusHelp('efficiencyAtAverageLoad')"></span>
            </span>
        </label>
        <div class="input-group">
            <input type="number" class="form-control" (focus)="focusField('efficiencyAtAverageLoad')" (input)="save()"
                formControlName="efficiencyAtAverageLoad" id="efficiencyAtAverageLoad">
            <span class="input-group-addon units">%</span>
        </div>
        <span class="alert-danger pull-right small" *ngIf="motorForm.controls.efficiencyAtAverageLoad.invalid">
            <span *ngIf="motorForm.controls.efficiencyAtAverageLoad.errors.max">Value can't be greater than
                {{motorForm.controls.efficiencyAtAverageLoad.errors.max.max}} %.</span>
            <span *ngIf="motorForm.controls.efficiencyAtAverageLoad.errors.min">Value can't be less than
                {{motorForm.controls.efficiencyAtAverageLoad.errors.min.min}} %.</span>
        </span>
    </div>
    <!-- currentAtLoad -->
    <div class="form-group" *ngIf="displayOptions.currentAtLoad">
        <label for="currentAtLoad">Current at Load
            <span class="form-text">
                <a class="small click-link" (click)="calculateCurrent()"
                    [ngClass]="{'disabled': disableEstimateCurrent}">Estimate Current</a>
                <span class="fa fa-question-circle" (click)="focusHelp('currentAtLoad')"></span>
            </span>
        </label>
        <div class="input-group">
            <input type="number" class="form-control" (focus)="focusField('currentAtLoad')" (input)="save()"
                formControlName="currentAtLoad" id="currentAtLoad">
            <span class="input-group-addon units">A</span>
        </div>
        <span class="alert-danger pull-right small" *ngIf="motorForm.controls.currentAtLoad.invalid">
            <span *ngIf="motorForm.controls.currentAtLoad.errors.min">Value can't be less than
                {{motorForm.controls.currentAtLoad.errors.min.min}} A.</span>
        </span>
    </div>
    <!-- powerFactorAtLoad -->
    <div class="form-group" *ngIf="displayOptions.powerFactorAtLoad">
        <label for="powerFactorAtLoad">Power Factor at Load
            <span class="form-text">
                <a class="small click-link" (click)="calculatePowerFactor()"
                    [ngClass]="{'disabled': disableEstimateLoadFactor}">Estimate Power Factor</a>
                <span class="fa fa-question-circle" (click)="focusHelp('powerFactorAtLoad')"></span>
            </span>
        </label>
        <div class="input-group">
            <input type="number" class="form-control" (focus)="focusField('powerFactorAtLoad')" (input)="save()"
                formControlName="powerFactorAtLoad" id="powerFactorAtLoad">
            <span class="input-group-addon units">%</span>
        </div>
        <span class="alert-danger pull-right small" *ngIf="motorForm.controls.powerFactorAtLoad.invalid">
            <span *ngIf="motorForm.controls.powerFactorAtLoad.errors.max">Value can't be greater than
                {{motorForm.controls.powerFactorAtLoad.errors.max.max}} %.</span>
            <span *ngIf="motorForm.controls.powerFactorAtLoad.errors.min">Value can't be less than
                {{motorForm.controls.powerFactorAtLoad.errors.min.min}} %.</span>
        </span>
    </div>
</form>


<app-operating-hours-modal *ngIf="showOperatingHoursModal" (emitClose)="closeOperatingHoursModal()"
    (emitSave)="updateOperatingHours($event)" [width]="formWidth" [showMinutesSeconds]="false"
    [operatingHours]="operationsOperatingHours">
</app-operating-hours-modal>


<div bsModal #loadFactorModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="loadFactorLabel" aria-hidden="true" [config]="{backdrop: 'fixed'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" (click)="hideLoadFactorModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div #modalBody class="modal-body p-0 d-flex h-100 w-100">
                <app-percent-load-estimation class="w-100 h-100" *ngIf="loadFactorModal.isShown" [settings]="settings">
                </app-percent-load-estimation>
            </div>
            <div class="modal-footer fsat justify-content-between">
                <button class="btn btn-default pull-left" (click)="hideLoadFactorModal()">Cancel</button>
                <span>
                    <button class="ml-2 btn btn-primary" (click)="applyModalData()">Apply Data</button>
                </span>
            </div>
        </div>
    </div>
</div>