.input-group-addon.units.op-hour-addon{
    border-left: solid 1px;
    border-right: none;
  }

  .btn{
    padding: 6px;
}

.modal-dialog{
    top: auto;
}

.modal-header, .modal-footer{
    padding: 6px;
}

.modal-content{
    height: 85vh;
}

.click-link.disabled{
    color: gray !important;
}

.click-link.disabled:hover{
    text-decoration: none;
}

.fa.fa-question-circle{
    padding-left: .25rem;
    font-size: 80%;
    font-weight: 400;
}

.fa.fa.fa-question-circle:hover{
    cursor: pointer;
}

.fa-asterisk{
    padding-right: 4px;
    font-size: 12px;
}