.phast .modal-dialog,
.psat .modal-dialog,
.fsat .modal-dialog,
.ssmt .modal-dialog,
.treasureHunt .modal-dialog,
.waste-water .modal-dialog {
    top: 0px;
    margin: 10px;
    max-width: none;
}

.phast .modal-header{
    background-color: #BF3D00;
    color: #fff;
}

.psat .modal-header{
    background-color: #2980b9;
    color: #fff;
}

.fsat .modal-header{
    background-color: #FFE400;
    color: black;
}

.ssmt .modal-header{
    background-color: #F39C12;
    color: #fff;
}

.treasureHunt .modal-header {
    background-color: #2E4053;
    color: white;
}

.waste-water .modal-header {
    background-color: #003087;
    color: white;
}

.phast .modal-content,
.psat .modal-content,
.fsat .modal-content,
.ssmt .modal-content,
.treasureHunt .modal-content,
.waste-water .modal-content {
    height: 95vh;
    width: 98vw;
}
