<form [formGroup]="chargeMaterialForm">
    <div class="form-section">
      <div class="form-group">
        <label class="small" for="{{'materialName_'+idString}}">Name of Material
          <a id="materialHelp" class="form-text small click-link" (click)="showMaterialModal()" >Add New Liquid Material</a>
        </label>
        <select name="{{'materialName_'+lossIndex}}" class="form-control" id="{{'materialName_'+idString}}" formControlName="materialId" (change)="setProperties()"
          (focus)="focusField('materialName')">
          <option *ngFor="let material of materialTypes" [ngValue]="material.id">{{material.substance}}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="small" for="{{'materialSpecificHeatLiquid_'+idString}}">Specific Heat of Liquid</label>
        <div class="input-group" >
          <input  name="{{'materialSpecificHeatLiquid_'+lossIndex}}" type="number" step="any" min="0"
            class="form-control" formControlName="materialSpecificHeatLiquid" id="{{'materialSpecificHeatLiquid_'+idString}}" onfocus="this.select();"
            (input)="calculate()" (focus)="focusField('materialSpecificHeatLiquid')" >
          <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">Btu/(lb-&#8457;)</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">kJ/(kg-&#8451;)</span>
        </div>
        <span class="alert-warning pull-right small" *ngIf="warnings.specificHeatLiquidWarning !== null">{{warnings.specificHeatLiquidWarning}}</span>
      </div>
  
      <div class="form-group">
        <label class="small" for="{{'materialVaporizingTemperature_'+idString}}">Vaporizing Temperature</label>
        <div class="input-group">
          <input  name="{{'materialVaporizingTemperature_'+lossIndex}}" type="number" step="any" class="form-control"
            formControlName="materialVaporizingTemperature" id="{{'materialVaporizingTemperature_'+idString}}" onfocus="this.select();" (input)="calculate()"
            (focus)="focusField('materialVaporizingTemperature')" >
          <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">&#8457;</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">&#8451;</span>
        </div>
      </div>
  
      <div class="form-group">
        <label class="small" for="{{'materialLatentHeat_'+idString}}">Latent Heat of Vaporization</label>
        <div class="input-group">
          <input  name="{{'materialLatentHeat_'+lossIndex}}" type="number" min="0" step="any" class="form-control"
            formControlName="materialLatentHeat" id="{{'materialLatentHeat_'+idString}}" onfocus="this.select();" (input)="calculate()"
            (focus)="focusField('materialLatentHeat')" >
          <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">Btu/lb</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">kJ/kg</span>
        </div>
        <span class="alert-warning pull-right small" *ngIf="warnings.materialLatentHeatWarning !== null">{{warnings.materialLatentHeatWarning}}</span>
      </div>
  
      <div class="form-group">
        <label class="small" for="{{'materialSpecificHeatVapor_'+idString}}">Specific Heat of Vapor</label>
        <div class="input-group">
          <input  name="{{'materialSpecificHeatVapor_'+lossIndex}}" type="number" min="0" class="form-control"
            formControlName="materialSpecificHeatVapor" id="{{'materialSpecificHeatVapor_'+idString}}" onfocus="this.select();" (input)="calculate()"
            (focus)="focusField('materialSpecificHeatVapor')" >
          <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">Btu/(lb-&#8457;)</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">kJ/(kg-&#8451;)</span>
        </div>
        <span class="alert-warning pull-right small" *ngIf="warnings.specificHeatVaporWarning !== null">{{warnings.specificHeatVaporWarning}}</span>
      </div>
    </div>
    <div class="form-section">
      <div class="form-group">
        <label class="small" for="{{'feedRate_'+idString}}">Charge (Liquid)-Feed Rate</label>
        <div class="input-group" >
          <input  name="{{'feedRate_'+lossIndex}}" type="number" step="any" min="0" class="form-control"
            formControlName="feedRate" id="{{'feedRate_'+idString}}" onfocus="this.select();" (input)="calculate()" (focus)="focusField('feedRate')"
            >
          <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">lb/hr</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">kg/hr</span>
        </div>
        <span class="alert-warning pull-right small" *ngIf="warnings.feedLiquidRateWarning !== null">{{warnings.feedLiquidRateWarning}}</span>
      </div>
  
      <div class="form-group">
        <label class="small" for="{{'initialTemperature_'+idString}}">Initial Temperature</label>
        <div class="input-group">
          <input  name="{{'initialTemperature_'+lossIndex}}" type="number" step="any" class="form-control"
            formControlName="initialTemperature" id="{{'initialTemperature_'+idString}}" onfocus="this.select();" (input)="calculate()"
            (focus)="focusField('initialTemperature')" >
          <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">&#8457;</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">&#8451;</span>
        </div>
        <span class="alert-warning pull-right small" *ngIf="warnings.inletOverVaporizingWarning !== null">{{warnings.inletOverVaporizingWarning}}</span>
        <span class="alert-warning pull-right small" *ngIf="warnings.initialTempWarning !== null">{{warnings.initialTempWarning}}</span>
      </div>
  
      <div class="form-group">
        <label class="small" for="{{'dischargeTemperature_'+idString}}">Discharge Temperature</label>
        <div class="input-group" >
          <input  name="{{'dischargeTemperature_'+lossIndex}}" type="number" min="0" step="any" class="form-control"
            formControlName="dischargeTemperature" id="{{'dischargeTemperature_'+idString}}" onfocus="this.select();" (input)="calculate()"
            (focus)="focusField('dischargeTemperature')" >
          <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">&#8457;</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">&#8451;</span>
        </div>
        <span class="alert-warning pull-right small" *ngIf="warnings.dischargeTempWarning !== null">{{warnings.dischargeTempWarning}}</span>
        <span class="alert-warning pull-right small" *ngIf="warnings.outletOverVaporizingWarning !== null">{{warnings.outletOverVaporizingWarning}}</span>
      </div>
  
      <div class="form-group">
        <label class="small" for="{{'liquidVaporized_'+idString}}">Charge Liquid Vaporized</label>
        <div class="input-group" >
          <input  name="{{'liquidVaporized_'+lossIndex}}" type="number" step="any" min="0" max="100"
            class="form-control" formControlName="liquidVaporized" id="{{'liquidVaporized_'+idString}}" onfocus="this.select();" (input)="calculate()"
            (focus)="focusField('liquidVaporized')" >
          <span class="input-group-addon units">%</span>
        </div>
        <span class="alert-warning pull-right small" *ngIf="warnings.dischargeTempWarning !== null">{{warnings.dischargeTempWarning}}</span>
        <span class="alert-warning pull-right small" *ngIf="warnings.chargeVaporWarning !== null">{{warnings.chargeVaporWarning}}</span>
      </div>
  
      <div class="form-group">
        <label class="small" for="{{'liquidReacted_'+idString}}">Charge Liquid Reacted</label>
        <div class="input-group" >
          <input  name="{{'liquidReacted_'+lossIndex}}" type="number" step="any" min="0" max="100" class="form-control"
            formControlName="liquidReacted" id="{{'liquidReacted_'+idString}}" onfocus="this.select();" (input)="calculate()" (focus)="focusField('liquidReacted')"
            >
          <span class="input-group-addon units">%</span>
        </div>
        <span class="alert-warning pull-right small" *ngIf="warnings.chargeReactedWarning !== null">{{warnings.chargeReactedWarning}}</span>
      </div>
  
      <div class="form-group">
        <label class="small" for="{{'heatOfReaction_'+idString}}">Heat of Reaction</label>
        <div class="input-group" >
          <input  name="{{'heatOfReaction_'+lossIndex}}" type="number" step="any" min="0" class="form-control"
            formControlName="heatOfReaction" id="{{'heatOfReaction_'+idString}}" onfocus="this.select();" (input)="calculate()" (focus)="focusField('heatOfReaction')"
            >
          <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">Btu/lb</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">kJ/kg</span>
        </div>
        <span class="alert-warning pull-right small" *ngIf="warnings.heatOfReactionWarning !== null">{{warnings.heatOfReactionWarning}}</span>
      </div>
  
      <div class="form-group">
        <label class="small" for="{{'endothermicOrExothermic_'+idString}}">Endothermic/Exothermic</label>
        <select name="{{'endothermicOrExothermic_'+lossIndex}}" class="form-control" formControlName="endothermicOrExothermic" id="{{'endothermicOrExothermic_'+idString}}"
          (change)="calculate()" (focus)="focusField('endothermicOrExothermic')" >
          <option>Endothermic</option>
          <option>Exothermic</option>
        </select>
      </div>
  
      <div class="form-group">
        <label class="small" for="{{'additionalHeatRequired_'+idString}}">Additional Heat Required</label>
        <div class="input-group" >
          <input  name="{{'additionalHeatRequired_'+lossIndex}}" type="number" step="any" class="form-control"
            formControlName="additionalHeatRequired" id="{{'additionalHeatRequired_'+idString}}" onfocus="this.select();" (input)="calculate()"
            (focus)="focusField('additionalHeatRequired')" >
          <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">Btu/hr</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">kJ/hr</span>
        </div>
      </div>

      <div class="form-group">
        <label class="small" for="{{'availableHeat'+idString}}">Available Heat
          <a id="materialHelp" class="form-text small click-link" (click)="initFlueGasModal()">Calculate</a>
        </label>
        <div class="input-group">
          <input  name="{{'availableHeat'+lossIndex}}" type="number" step="any" min="0"
          class="form-control" formControlName="availableHeat" id="{{'availableHeat'+idString}}" onfocus="this.select();"
          (input)="calculate()" (focus)="focusField('availableHeat')">
          <span class="input-group-addon units">%</span>
        </div>
        <!-- <span class="alert-danger pull-right small"
        *ngIf="wallLossesForm.controls.availableHeat.invalid && !wallLossesForm.controls.availableHeat.pristine">
        <span *ngIf="wallLossesForm.controls.availableHeat.errors.required">Value Required</span>
        <span *ngIf="wallLossesForm.controls.availableHeat.errors.greaterThan == 0">Value must be greater than than
          0.</span>
      </span> -->
      </div>
      
    </div>
  </form>
  
  
  <!--edit material modal-->
  <div bsModal #materialModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="materialModalLabel"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div>
          <app-liquid-load-charge-material *ngIf="showModal" (closeModal)="hideMaterialModal($event)" (hideModal)="hideMaterialModal($event)"
            [settings]="settings"></app-liquid-load-charge-material>
        </div>
      </div>
    </div>
  </div>

      <!--CREATE flueGas MODAL-->
<div bsModal #flueGasModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="flueGasModalLabel"
aria-hidden="true" [config]="{backdrop: 'static'}">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div>
      <app-flue-gas-modal *ngIf="showFlueGasModal" (closeModal)="hideFlueGasModal($event)" (hideModal)="hideFlueGasModal($event)"
        [settings]="settings"></app-flue-gas-modal>
    </div>
  </div>
</div>
</div>