.nav-item .dropdown-toggle{
    color: white;
    background: #2E4053;
    border: 1px solid #5b7591;
}

.nav-link{
    padding: 4px;
}

.list-group-item{
    padding: 8px;
    font-size: small;
}

.list-group-item.active{
    color: white;
    background: #2E4053;
}

a.list-group-item:hover, .nav-link{
    cursor: pointer;
}

a.list-group-item.active:hover{
    color: white;
}

.nav-link.dropdown-toggle:hover, .nav-btn:hover{
    background-color: #808B96;
}

  .list-group.calc-width{
      min-width: 265px;
  }

  .badge-pill{
    background-color: #2E4053;
    color: white;
    font-weight: bold;
  }

  .active .badge-pill{
      background-color: white;
      color: black;
  }

  .teams-dropdown{
      left: auto;
      right: 0;
      
  }