<div class="col-10 mx-auto phast">
    <div class="content-container calculator-list">
        <h2 class="mb-1">Process Heating Calculators</h2>

 <div class="d-flex calc-item-row w-100">
    <div class="p-2 col-2 d-flex justify-content-center align-items-center">
        <div class="calc-icon-div p-2 d-flex justify-content-center align-items-center">
          <img src="assets/images/calculator-icons/furnace-icons/fluegas.png" class="calc-img"
           [routerLink]="['/calculators/flue-gas']">
        </div>
     </div>
      <div class="d-flex flex-fill flex-column justify-content-center">
       <a [routerLink]="['/calculators/flue-gas']">Flue Gas Loss</a>
       <p>
       Determine the amount of heat lost in the furnace flue gas
        </p>
     </div>
  </div>
  <div class="d-flex calc-item-row w-100">
    <div class="p-2 col-2 d-flex justify-content-center align-items-center">
        <div class="calc-icon-div d-flex justify-content-center align-items-center">
            <img src="assets/images/calculator-icons/furnace-icons/charge-materials.png" class="calc-img"
                [routerLink]="['/calculators/charge-material']">
        </div>
    </div>
    <div class="d-flex flex-fill flex-column justify-content-center">
        <a [routerLink]="['/calculators/charge-material']">Charge Material</a>
        <p>
            Estimate savings from preheating or changing how the load is heated.
        </p>
    </div>
</div>
<div class="d-flex calc-item-row w-100">
    <div class="p-2 col-2 d-flex justify-content-center align-items-center">
        <div class="calc-icon-div d-flex justify-content-center align-items-center">
            <img src="assets/images/calculator-icons/furnace-icons/fixture.png" class="calc-img"
                [routerLink]="['/calculators/fixture']">
        </div>
    </div>
    <div class="d-flex flex-fill flex-column justify-content-center">
        <a [routerLink]="['/calculators/fixture']">Fixture Loss</a>
        <p>
            Estimate the heat loss from heating the fixtures
        </p>
    </div>
</div>
<div class="d-flex calc-item-row w-100">
    <div class="p-2 col-2 d-flex justify-content-center align-items-center">
        <div class="calc-icon-div p-2 d-flex justify-content-center align-items-center">
            <img src="assets/images/calculator-icons/furnace-icons/wall-loss.png" class="calc-img"
            [routerLink]="['/calculators/wall-loss']">
        </div>
    </div>
    <div class="d-flex flex-fill flex-column justify-content-center">
        <a [routerLink]="['/calculators/wall-loss']">Wall Loss</a>
        <p>
            Estimate the heat loss via the walls of the heating system.
        </p>
    </div>
</div>
<div class="d-flex calc-item-row w-100">
    <div class="p-2 col-2 d-flex justify-content-center align-items-center">
        <div class="calc-icon-div p-2 d-flex justify-content-center align-items-center">
            <img src="assets/images/calculator-icons/furnace-icons/cooling.png" class="calc-img"
                [routerLink]="['/calculators/cooling']">
        </div>
    </div>
    <div class="d-flex flex-fill flex-column justify-content-center">
        <a [routerLink]="['/calculators/cooling']">Cooling Loss</a>
        <p>
            Estimate losses from a cooling a heating system.
        </p>
    </div>
</div>
<div class="d-flex calc-item-row w-100">
    <div class="p-2 col-2 d-flex justify-content-center align-items-center">
        <div class="calc-icon-div d-flex justify-content-center align-items-center">
            <img src="assets/images/calculator-icons/furnace-icons/atmosphere.png" class="calc-img"
                [routerLink]="['/calculators/atmosphere']">
        </div>
    </div>
    <div class="d-flex flex-fill flex-column justify-content-center">
        <a [routerLink]="['/calculators/atmosphere']">Atmosphere Loss</a>
        <p>
            Estimate losses from heating makeup atmospheric gases
        </p>
    </div>
</div>
<div class="d-flex calc-item-row w-100">
    <div class="p-2 col-2 d-flex justify-content-center align-items-center">
        <div class="calc-icon-div d-flex justify-content-center align-items-center">
            <img src="assets/images/calculator-icons/furnace-icons/opening.png" class="calc-img"
                [routerLink]="['/calculators/opening']">
        </div>
    </div>
    <div class="d-flex flex-fill flex-column justify-content-center">
        <a [routerLink]="['/calculators/opening']">Opening Loss</a>
        <p>
            Estimate losses due to openings in the heating system.
        </p>
    </div>
</div>
<div class="d-flex calc-item-row w-100">
    <div class="p-2 col-2 d-flex justify-content-center align-items-center">
        <div class="calc-icon-div d-flex justify-content-center align-items-center">
            <img src="assets/images/calculator-icons/furnace-icons/leakage.png" class="calc-img"
                [routerLink]="['/calculators/leakage']">
        </div>
    </div>
    <div class="d-flex flex-fill flex-column justify-content-center">
        <a [routerLink]="['/calculators/leakage']">Gas Leakage Loss</a>
        <p>
            Estimate losses due to gases leaking out of or into the furnace.
        </p>
    </div>
</div>
<div class="d-flex calc-item-row w-100">
    <div class="p-2 col-2 d-flex justify-content-center align-items-center">
        <div class="calc-icon-div d-flex justify-content-center align-items-center">
            <img src="assets/images/calculator-icons/furnace-icons/waste-heat-icon.png" class="calc-img"
                [routerLink]="['/calculators/waste-heat']">
        </div>
    </div>
    <div class="d-flex flex-fill flex-column justify-content-center">
        <a [routerLink]="['/calculators/waste-heat']">Waste Heat for Absorption Chillers</a>
        <p>
            Calculate energy savings from using exhaust gas (waste) heat to provide energy for an absorption chiller in place of a compressor.
        </p>
    </div>
</div>
<div class="d-flex calc-item-row w-100">
    <div class="p-2 col-2 d-flex justify-content-center align-items-center">
        <div class="calc-icon-div p-2 d-flex justify-content-center align-items-center">
            <img src="assets/images/calculator-icons/furnace-icons/heat-cascading.png" class="calc-img"
                [routerLink]="['/calculators/heat-cascading']">
        </div>
    </div>
    <div class="d-flex flex-fill flex-column justify-content-center">
        <a [routerLink]="['/calculators/heat-cascading']">Heat Cascading</a>
        <p>
            Estimate energy and related cost savings when exhaust gases from a higher temperature (primary) process heating equipment is used to supply heat to lower temperature (secondary) process heating equipment.
        </p>
    </div>
</div>
<div class="d-flex calc-item-row w-100">
    <div class="p-2 col-2 d-flex justify-content-center align-items-center">
        <div class="calc-icon-div p-2 d-flex justify-content-center align-items-center">
            <img src="assets/images/calculator-icons/furnace-icons/air-heating-icon.png" class="calc-img"
                [routerLink]="['/calculators/air-heating']">
        </div>
    </div>
    <div class="d-flex flex-fill flex-column justify-content-center">
        <a [routerLink]="['/calculators/air-heating']">Air Heating using Flue Gas</a>
        <p>
            Estimate maximum air flow that can be heated by using exhaust gas heat of flue gases from a furnace, oven, or boiler
        </p>
    </div>
</div>
<div class="d-flex calc-item-row w-100">
    <div class="p-2 col-2 d-flex justify-content-center align-items-center">
        <div class="calc-icon-div d-flex justify-content-center align-items-center">
            <img src="assets/images/calculator-icons/furnace-icons/o2.png" class="calc-img"
                [routerLink]="['/calculators/o2-enrichment']">
        </div>
    </div>
    <div class="d-flex flex-fill flex-column justify-content-center">
        <a [routerLink]="['/calculators/o2-enrichment']">O<sub>2</sub> Enrichment</a>
        <p>
            Estimate fuel savings via adjusting the oxygen content of combustion and flue gases
        </p>
    </div>
</div>
<div class="d-flex calc-item-row w-100">
    <div class="p-2 col-2 d-flex justify-content-center align-items-center">
        <div class="calc-icon-div d-flex justify-content-center align-items-center">
            <img src="assets/images/calculator-icons/furnace-icons/energy-equ.png" class="calc-img"
                [routerLink]="['/calculators/energy-equivalency']">
        </div>
    </div>
    <div class="d-flex flex-fill flex-column justify-content-center">
        <a [routerLink]="['/calculators/energy-equivalency']">Energy Equivalency</a>
        <p>
            Estimate required heat input when switching heat source from fuel-fired to electric or vice versa
        </p>
    </div>
</div>
<div class="d-flex calc-item-row w-100">
    <div class="p-2 col-2 d-flex justify-content-center align-items-center">
        <div class="calc-icon-div d-flex justify-content-center align-items-center">
            <img src="assets/images/calculator-icons/furnace-icons/flow.png" class="calc-img"
                [routerLink]="['/calculators/energy-use']">
        </div>
    </div>
    <div class="d-flex flex-fill flex-column justify-content-center">
        <a [routerLink]="['/calculators/energy-use']">Flow and Energy Used</a>
        <p>
            Calculate the energy flow into the furnace by calculating the gas flow from data obtained by an
            orifice
            meter
        </p>
    </div>
</div>

    </div>
</div>