<div class="no-data no-data-phast" *ngIf="_slagLosses.length == 0 && inSetup && !lossesLocked" (click)="addLoss()">
  <h3>You have no slag losses</h3>
  <h4>Add some now.</h4>
</div>
<div class="no-data no-data-phast no-data-no-add"
  *ngIf="(_slagLosses.length == 0 && lossesLocked) || (_slagLosses.length == 0 && !inSetup)">
  <h3>You have no slag losses</h3>
  <h4>To add slag losses you will need to delete your current modifications and return to baseline.</h4>
</div>

<div class="card-form d-flex flex-column" *ngFor="let loss of _slagLosses; let lossIndex = index;">
  <form class="name-input-form" [formGroup]="loss.form">
    <div class="input-group">
      <span class="input-group-addon units left" (click)="collapseLoss(loss)">
        <span *ngIf="loss.collapse" class="fa fa-caret-down"></span>
        <span *ngIf="!loss.collapse" class="fa fa-caret-up"></span>
      </span>
      <input [readonly]="!baselineSelected && !inSetup" type="text" class="form-control name-input"
        formControlName="name">
      <span class="input-group-addon units" *ngIf="isBaseline && inSetup && !lossesLocked"
        (click)="removeLoss(lossIndex)">
        <span aria-hidden="true" class="close" aria-label="Close">&times;</span>
      </span>
    </div>
  </form>
  <div *ngIf="!loss.collapse">
    <app-slag-form (changeField)="changeField($event)" [(slagLossForm)]="loss.form" (calculate)="calculate(loss)"
      [baselineSelected]="baselineSelected" (saveEmit)="saveLosses()" [lossIndex]="lossIndex" [settings]="settings"
      [inSetup]="inSetup" [isBaseline]="isBaseline"></app-slag-form>
  </div>
  <div class="loss-results loss-total">
    <div class="form-group">
      <label class="font-weight-bold">Slag Loss</label>
      <div *ngIf="loss.heatLoss" class="text-center font-weight-bold">
        {{loss.heatLoss | sigFigs:'6'}}
        <span>{{resultsUnit}}</span>
      </div>
      <div *ngIf="!loss.heatLoss" class="text-center font-weight-bold">
        &mdash; &mdash;
      </div>
    </div>
  </div>
</div>