<form class="pump-curve-form">
  <div class="row">
    <div class="col-12">
      <div class="form-section">
        <app-pump-curve-data-form *ngIf="selectedFormView == 'Data'" (calculate)="calculate()" [(pumpCurveForm)]="pumpCurveForm"
          (changeField)="focusField($event)" [settings]="settings" (emitAddRow)="addRow()"></app-pump-curve-data-form>
        <app-pump-curve-equation-form *ngIf="selectedFormView == 'Equation'" (calculate)="calculate()" [(pumpCurveForm)]="pumpCurveForm"
          (changeField)="focusField($event)" [settings]="settings"></app-pump-curve-equation-form>
      </div>
    </div>
  </div>
  <div class="row form-section">
    <div class="col-6">
      <label class="group-label">Baseline Condition</label>
      <div class="form-group">
        <select id="measurementOption" name="measurementOption" class="form-control" (change)="calculate()" [(ngModel)]="pumpCurveForm.measurementOption"
          (focus)="focusField('measurementOption')">
          <option *ngFor="let option of options" [ngValue]="option">{{option}}</option>
        </select>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input name="baselineMeasurement" [(ngModel)]="pumpCurveForm.baselineMeasurement" type="number" step="any" class="form-control"
            id="baselineMeasurement" onfocus="this.select();" (focus)="focusField('baselineMeasurement')" (input)="calculate()">
          <span *ngIf="pumpCurveForm.measurementOption == 'Diameter'" class="input-group-addon units">{{settings.distanceMeasurement}}</span>
          <span *ngIf="pumpCurveForm.measurementOption == 'Speed'" class="input-group-addon units">rpm</span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <label class="group-label">Modified Condition</label>
      <div class="form-group">
        <select id="measurementOption2" name="measurementOption2" class="form-control" disabled="disabled" (change)="calculate()" [(ngModel)]="pumpCurveForm.measurementOption"
          (focus)="focusField('measurementOption')">
          <option *ngFor="let option of options" [ngValue]="option">{{option}}</option>
        </select>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input name="modifiedMeasurement" [(ngModel)]="pumpCurveForm.modifiedMeasurement" type="number" step="any" class="form-control"
            id="modifiedMeasurement" onfocus="this.select();" (focus)="focusField('modifiedMeasurement')" (input)="calculate()">
          <span *ngIf="pumpCurveForm.measurementOption == 'Diameter'" class="input-group-addon units">{{settings.distanceMeasurement}}</span>
          <span *ngIf="pumpCurveForm.measurementOption == 'Speed'" class="input-group-addon units">rpm</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row form-section">
    <div class="col-12">
      <label class="group-label">Explore</label>
    </div>
    <div class="col-6">
      <label>Flow</label>
      <div class="form-group">
        <div class="input-group">
          <input name="exploreFlow" [(ngModel)]="pumpCurveForm.exploreFlow" type="number" step="any" class="form-control" id="modifiedMeasurement"
            onfocus="this.select();" (focus)="focusField('exploreFlow')" (input)="calculate()">
          <span class="input-group-addon units">{{settings.flowMeasurement}}</span>
        </div>
      </div>
      <span class="small estimate-link" (click)="estimateFlow()">Estimate Flow
      </span>
    </div>
    <div class="col-6">
      <label>Head</label>
      <div class="form-group">
        <div class="input-group">
          <input name="exploreHead" [(ngModel)]="pumpCurveForm.exploreHead" type="number" step="any" class="form-control" id="exploreHead"
            onfocus="this.select();" (focus)="focusField('exploreHead')" (input)="calculate()">
          <span class="input-group-addon units">{{settings.distanceMeasurement}}</span>
        </div>
        <!--<span><a id="exploreHead" class="form-text text-help small" (click)="estimateHead()">Estimate Head</a></span>-->
      </div>
    </div>
  </div>
</form>

<!--<div class="form-group">
      <label class="small" for="explorePumpEfficiency">Pump Efficiency</label>
      <div class="input-group">
        <input name="explorePumpEfficiency" [(ngModel)]="pumpCurveForm.explorePumpEfficiency" type="number" step="any" class="form-control"
          id="explorePumpEfficiency" onfocus="this.select();" (focus)="focusField('explorePumpEfficiency')" (input)="calculate()">
        <span class="input-group-addon units">%</span>
      </div>
    </div>-->
<!--</div>
</div>-->