<div class="checkbox">
  <label class="group-label" for="exploreMaterials">
    <input type="checkbox" id="exploreMaterials" value="true" (focus)="focusField('initialTemperature')" (change)="toggleMaterials()"
      [(ngModel)]="showMaterial" /> Preheat Charge Material
  </label>
</div>

<div *ngIf="showMaterial">
  <ul *ngFor="let material of materials; let index = index">

    <li class="explore-opps-item">
      <div class="checkbox form-group mt-2">
        <label for="{{'modifyInitTemp_'+index}}" class="w-100 phast-check-label">
          <input type="checkbox" id="{{'modifyInitTemp_'+index}}" (focus)="focusField('initialTemperature')" (change)="toggleInitialTemp(index, material)"
            [(ngModel)]="showTemp[index]" /> Modify Initial Temperature: 
            <span class="text-muted">
              {{material.name}}
            </span>
        </label>
      </div>
    </li>
    <hr class="mt-0 mb-0">

<div *ngIf="showTemp[index]">
    <li class="explore-opps-header">
      <span class="explore-opps-title text-muted">Baseline</span>
      <span class="explore-opps-title text-muted">Modifications</span>
    </li>
    <li class="explore-opps-item mb-2">
      <form class="explore-opps-form">
        <div class="text-center">
          <label for="{{'baselineInTemp_'+index}}" class="baseline-value-label">Initial Temperature</label>
          <div class="text-muted text-center baseline-value-input ">{{ material.baseline.initialTemperature }}
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'">&#8457;</span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'">&#8451;</span>
          </div>
          <span class="alert-warning pull-right small" *ngIf="baselineWarnings[index] !== null">{{baselineWarnings[index]}}</span>
        </div>
      </form>

      <form class="explore-opps-form">
        <div class="form-group explore-opps-formgroup">
          <label for="{{'modifiedInTemp_'+index}}" class="mod-value-label">Initial Temperature</label>
          <div class="input-group mod-max-width">
            <input name="{{'modifiedInTemp_'+index}}" type="number" step="any" min="0" class="form-control" [(ngModel)]="material.modification.initialTemperature"
              id="{{'modifiedInTemp_'+index}}" onfocus="this.select();" (input)="checkModificationWarning(material.modification, index)"
              (focus)="focusField('initialTemperature')" (blur)="focusOut()">
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">&#8457;</span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">&#8451;</span>
          </div>
          <span class="alert-warning pull-right small" *ngIf="modificationWarnings[index] !== null">{{modificationWarnings[index]}}</span>
        </div>
      </form>
    </li>
  </div>
  </ul>