<nav class="hide-print w-100" *ngIf="mainTab == 'system-setup'">
  <div class="d-flex tabs subtabs progress-tabs fsat flex-wrap">
    <div class="fixed-tab-size" [ngClass]="settingsClassStatus">
      <a (click)="changeStepTab('system-basics')">
        <span class="step-number">1</span> Assessment Settings</a>
    </div>
    <div class="fixed-tab-size" [ngClass]="operationsTabStatus">
      <a (click)="changeStepTab('fan-operations')">
        <span (mouseenter)="showTooltip(operationsBadge)" (mouseleave)="hideTooltip(operationsBadge)" class="step-number">2</span>Operations</a>
        <app-tabs-tooltip [badgeClass]="operationsTabStatus[0]" [reveal]="operationsBadge.display" [display]="operationsBadge.hover"></app-tabs-tooltip>
    </div>
    <div class="fixed-tab-size" [ngClass]="fanClassStatus">
      <a (click)="changeStepTab('fan-setup')">
        <span (mouseenter)="showTooltip(fanBadge)" (mouseleave)="hideTooltip(fanBadge)" class="step-number">3</span>Fan and Fluid</a>
      <app-tabs-tooltip [badgeClass]="fanClassStatus[0]" [reveal]="fanBadge.display" [display]="fanBadge.hover"></app-tabs-tooltip>
    </div>
    <div class="fixed-tab-size" [ngClass]="motorClassStatus">
      <a (click)="changeStepTab('fan-motor')">
        <span (mouseenter)="showTooltip(motorBadge)" (mouseleave)="hideTooltip(motorBadge)" class="step-number">4</span>Motor</a>
      <app-tabs-tooltip [badgeClass]="motorClassStatus[0]" [reveal]="motorBadge.display" [display]="motorBadge.hover"></app-tabs-tooltip>
    </div>
    <div class="fixed-tab-size" [ngClass]="fieldDataClassStatus">
      <a (click)="changeStepTab('fan-field-data')">
        <span (mouseenter)="showTooltip(fieldDataBadge)" (mouseleave)="hideTooltip(fieldDataBadge)" class="step-number">5</span>Field
        Data</a>
      <app-tabs-tooltip [badgeClass]="fieldDataClassStatus[0]" [reveal]="fieldDataBadge.display" [display]="fieldDataBadge.hover"></app-tabs-tooltip>
    </div>
  </div>
</nav>

<div class="navbar assessment-bar" *ngIf="mainTab == 'assessment'">
  <div class="d-flex tabs subtabs fsat mr-auto">
    <div class="assessment-tab" [ngClass]="{'active': assessmentTab == 'explore-opportunities'}">
      <a (click)="changeAssessmentTab('explore-opportunities')">Explore Opportunities
        <br>
        <span class="help-text fsat-view">Novice View</span>
      </a>
    </div>
    <div class="assessment-tab" [ngClass]="{'active': assessmentTab == 'modify-conditions'}">
      <a (click)="changeAssessmentTab('modify-conditions')">Modify All Conditions
        <br>
        <span class="help-text fsat-view">Expert View</span>
      </a>
    </div>
  </div>

  <div class="d-flex align-items-center tabs subtabs fsat ml-auto" [ngClass]="{'br-color-white': selectedModification}">
    <div class="mod-name active border-right" *ngIf="selectedModification">
      <a>{{selectedModification.name}}
        <br>
        <span class="help-text fsat-view">Selected Scenario</span>
      </a>
    </div>
    <div class="mod-name border-right" *ngIf="!selectedModification">
      <a>&mdash; &mdash;
        <br>
        <span class="help-text fsat-view">Selected Scenario</span>
      </a>
    </div>
    <div class="pl-2 pr-2">
      <button class="btn btn-primary" (click)="selectModification()" [disabled]="!selectedModification">View / Add
        Scenarios</button>
    </div>
  </div>

  <nav class="hide-print w-100" *ngIf="assessmentTab == 'modify-conditions'">
    <app-modify-conditions-tabs [settings]="settings"></app-modify-conditions-tabs>
  </nav>
</div>

<ul class="tabs subtabs fsat" *ngIf="mainTab == 'calculators'">
  <li [ngClass]="{'active': calcTab == 'fan-efficiency'}">
    <a (click)="changeCalcTab('fan-efficiency')">Optimal Fan Efficiency</a>
  </li>
  <li [ngClass]="{'active': calcTab == 'motor-performance'}">
    <a (click)="changeCalcTab('motor-performance')">Motor Performance</a>
  </li>
  <li [ngClass]="{'active': calcTab == 'nema-energy-efficiency'}">
    <a (click)="changeCalcTab('nema-energy-efficiency')">NEMA Energy Efficiency</a>
  </li>
  <li [ngClass]="{'active': calcTab == 'fan-curve'}">
    <a (click)="changeCalcTab('fan-curve')">Fan Curve</a>
  </li>
</ul>