<div class="row">
  <div class="col-12">
    <div class="tab-content" *ngIf="mainTab == 'system-setup'">
      <nav class="hide-print">
        <ul class="tabs subtabs progress-tabs fsat">
          <li class="fixed-tab-size" [ngClass]="{'active': stepTab == 'system-basics'}">
            <a (click)="changeStepTab('system-basics')">
              <span class="step-number">1</span> Assessment Settings</a>
          </li>
          <li class="fixed-tab-size" [ngClass]="{'active': stepTab == 'fsat-fluid'}">
            <a (click)="changeStepTab('fsat-fluid')">
              <span class="step-number">2</span>Fluid</a>
          </li>
          <li class="fixed-tab-size" [ngClass]="{'active': stepTab == 'fan-setup'}">
            <a (click)="changeStepTab('fan-setup')">
              <span class="step-number">3</span>Fan</a>
          </li>
          <li class="fixed-tab-size" [ngClass]="{'active': stepTab == 'fan-motor'}">
            <a (click)="changeStepTab('fan-motor')">
              <span class="step-number">4</span>Motor</a>
          </li>
          <li class="fixed-tab-size" [ngClass]="{'active': stepTab == 'rated-operating-points'}">
            <a (click)="changeStepTab('rated-operating-points')">
              <span class="step-number">5</span>Rated Operating Points</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>