@media print {
    tr{
        border-bottom: 2px solid black;
    }
    .show-print{
        display: inline !important;
    }
    .hide-print{
        display: none !important;
    }
}

.show-print{
    display: none;
}


.section-header{
    font-size: 16px !important;
}

th{
    width: 10%;
    text-align: center;
}

td{
    width: 10%;
    text-align: center;
    vertical-align: middle;
}

.positive-savings{
	color: green;
}

.negative-savings{
	color: red;
}

.chart-row{
    padding: 25px;
}