@media print {
    tr{
        border-bottom: 2px solid black;
    }
}


.section-header{
    font-size: 16px !important;
}

th{
    width: 10%;
    text-align: center;
}

td{
    width: 10%;
    text-align: center;
}

.positive-savings{
	color: green;
}

.negative-savings{
	color: red;
}

