.output-summary .table {
    font-size: 14px;
}
.output-summary .table th {
    border: none;
    padding: 0px 10px;
    text-align: center;
    font-size: 12px;
}
.output-summary .table td {
    padding: 0px 8px;
    vertical-align: middle;
    text-align: center;
}


.output-summary .table tr.callout td {
    font-weight: bold;
}

.graph-col{
    padding-left: 0px;
}

@media print {
    tr{
        border-bottom: 2px solid black;
    }
    .show-print{
        display: inline !important;
    }
    .hide-print{
        display: none !important;
    }

    .chart-row{
        padding: 0px !important;
    }
}

.show-print{
    display: none;
}


.section-header{
    font-size: 16px !important;
}

/*th{
    text-align: center;
}

td{
    text-align: center;
    vertical-align: middle;
}*/

.positive-savings{
    color: #27AE60;
}

.negative-savings{
	color: red;
}


.max-savings{
    border: solid 4px #27AE60;
}

.selected-modification{
    z-index: 2;
    background: #e5efe9;
}