<nav class="navbar justify-content-start" #navbar>
    <app-department-dropdown></app-department-dropdown>
    <div class="pl-1">
        <app-efficiency-class-dropdown></app-efficiency-class-dropdown>
    </div>
    <div class="pl-1">
        <app-rated-power-dropdown></app-rated-power-dropdown>
    </div>
    <div class="pl-1">
        <app-rated-voltage-dropdown></app-rated-voltage-dropdown>
    </div>
    <div class="ml-auto">
        <app-selected-options></app-selected-options>
    </div>
</nav>