<div class="report-summary">
    <div class="row no-gutters">
        <div class="col-12">
            <a *ngIf="showSummary == 'open'" class="click-link pull-right" (click)="collapseSummary('closed')">-
                Collapse Summaries</a>
            <a *ngIf="showSummary == 'closed'" class="click-link pull-right" (click)="collapseSummary('open')">+ Show
                Summaries</a>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-12">
            <ul [hidden]="showSummary == 'closed'">
                <li *ngIf="showPsatSummary" class="pump-summary"
                    (click)="showAssessmentModal('psat')">
                    <app-psat-summary [settings]="settings"></app-psat-summary>
                </li>
                <li *ngIf="showPhastSummary"  class="furnace-summary"
                    (click)="showAssessmentModal('phast')">
                    <app-phast-summary></app-phast-summary>
                </li>
                <li *ngIf="showFsatSummary"  class="fan-summary"
                    (click)="showAssessmentModal('fsat')">
                    <app-fsat-summary [settings]="settings"></app-fsat-summary>
                </li>
                <li *ngIf="showSsmtSummary" class="ssmt-summary"
                    (click)="showAssessmentModal('ssmt')">
                    <app-ssmt-summary></app-ssmt-summary>
                </li>
                <li *ngIf="showTreasureHuntSummary"  class="treasure-hunt-summary"
                    (click)="showAssessmentModal('treasureHunt')">
                    <app-treasure-hunt-summary [settings]="settings"></app-treasure-hunt-summary>
                </li>

                <li *ngIf="showWasteWater"  class="waste-water-summary"
                    (click)="showAssessmentModal('waste-water')">
                    <app-waste-water-summary [settings]="settings"></app-waste-water-summary>
                </li>
                <li *ngIf="showCompressedAir"  class="compressed-air-summary"
                    (click)="showAssessmentModal('compressed-air')">
                    <app-compressed-air-summary [settings]="settings"></app-compressed-air-summary>
                </li>
            </ul>
        </div>
    </div>
    

</div>