.axis text {
  font: 10px sans-serif;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


#cashFlowDl {
  position: absolute;
  z-index: 9999;

  left: 30px
}


#gridToggleBtn::before{
  background-color: #dcdcdc;
  font-size: 12px;
  height: 28px;
  vertical-align: middle;
}


#cashFlowDl .fa-download {
  position: absolute;
  border: 1px solid;
  border-color: rgb(33, 37, 41);
  padding: 5px;
  border-radius: 4px;
  opacity: 0.6;
}

#cashFlowDl .fa-download:hover {
  cursor: pointer;
  opacity: 1;
}


