
 label{
    font-size: small;
}

label.result-label {
    font-size: 15px;
}

.form-control{
    font-size: small;
} 


.area-val{
    text-align: center;
}


.hide-text{
    opacity: 0;
}


.disabled-input{
    text-align: center;
    border-top-left-radius: .25rem !important;
    border-top-right-radius: .25rem !important;
}

.amp-volt-input{
    text-align: center;
    border-left: 1px solid #9c9c9c !important;
}

.group-label{
    width: 100%;
    padding-top: .25rem;
    font-size: medium;
}


.amp-volt-err{
    color: red;
    font-weight: bold;
}

form{
    font-size: 13px;
}

a.click-link.disabled{
    color: gray !important;
}