.navbar{
    border-bottom: solid 4px #2980b9;
    font-size: small;
    background-color: #ececec;
}

.nav-item .dropdown-toggle{
    color: white;
    background: #2980b9;
}

.nav-link{
    padding: 4px;
}
