<div class="row modify-conditions">
  <div class="scroll-item col-8" [ngStyle]="{'height.px': containerHeight}">
    <div class="row row-min-height">
      <div class="modification baseline w-50 panel-column" (click)="togglePanel(baselineSelected)" [ngClass]="{'disabled': baselineSelected == false, 'modal-open': isModalOpen == true}">
        <div class="header mr-2 ml-2">
          <h3>Baseline</h3>
        </div>
        <app-operations *ngIf="modelTab == 'operations'" [(ssmt)]="ssmt" [settings]="settings" (emitSave)="saveAssessment()"
          [selected]="baselineSelected" [isBaseline]="true"></app-operations>
        <app-boiler *ngIf="modelTab == 'boiler'" [selected]="baselineSelected" [settings]="settings" [boilerInput]="ssmt.boilerInput"
          (emitSave)="saveBaselineBoiler($event)" [isBaseline]="true"></app-boiler>
        <app-header *ngIf="modelTab == 'header'" [selected]="baselineSelected" [settings]="settings" [headerInput]="ssmt.headerInput"
          (emitSave)="saveBaselineHeader($event)" [isBaseline]="true"></app-header>
        <app-turbine *ngIf="modelTab == 'turbine'" [selected]="baselineSelected" [settings]="settings" [turbineInput]="ssmt.turbineInput"
          [numberOfHeaders]="ssmt.headerInput.numberOfHeaders" (emitSave)="saveBaselineTurbine($event)" [isBaseline]="true"></app-turbine>
      </div>

      <!-- Modifications Start -->
      <div *ngIf="modificationExists" class="modification w-50 panel-column" (click)="togglePanel(modifiedSelected)"
        [ngClass]="{'disabled': modifiedSelected == false, 'modal-open': isModalOpen == true}">
        <!-- Modification Header -->
        <div class="header mr-2 ml-2">
          <h3>{{ssmt.modifications[modificationIndex].ssmt.name}}</h3>
        </div>
        <app-operations *ngIf="modelTab == 'operations'" [(ssmt)]="ssmt.modifications[modificationIndex].ssmt"
          [settings]="settings" (emitSave)="saveAssessment()" [selected]="modifiedSelected"></app-operations>
        <app-boiler *ngIf="modelTab == 'boiler'" [selected]="modifiedSelected" [settings]="settings" [boilerInput]="ssmt.modifications[modificationIndex].ssmt.boilerInput"
          (emitSave)="saveModBoiler($event)"></app-boiler>
        <app-header *ngIf="modelTab == 'header'" [selected]="modifiedSelected" [settings]="settings" [headerInput]="ssmt.modifications[modificationIndex].ssmt.headerInput"
          (emitSave)="saveModHeader($event)"></app-header>
        <app-turbine *ngIf="modelTab == 'turbine'" [selected]="modifiedSelected" [settings]="settings" [turbineInput]="ssmt.modifications[modificationIndex].ssmt.turbineInput"
          [numberOfHeaders]="ssmt.modifications[modificationIndex].ssmt.headerInput.numberOfHeaders" (emitSave)="saveModTurbine($event)"></app-turbine>
      </div>
      <!-- No content message -->
      <div class="w-50 modification panel-column" *ngIf="!modificationExists" (click)="addModification()" [ngClass]="{'modal-open': isModalOpen == true}">
        <div class="header mr-2 ml-2">
          <h3>Modification</h3>
        </div>
        <div class="p-3 no-data">
          <h3>Now that you have setup your system and have baseline information, create duplicate baseline conditions
            to
            find efficiency
            opportunities.
          </h3>
          <button type="button" class="btn btn-primary">Add Modified Condition</button>
          <p>Data will be copied from your current baseline condition.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Help Panel -->
  <div class="col-4 p-0 help-panel scroll-item" [ngStyle]="{'height.px': containerHeight}">
    <app-help-panel *ngIf="modificationExists" [ssmt]="ssmt" [settings]="settings" [modificationIndex]="modificationIndex"
      [containerHeight]="containerHeight"></app-help-panel>
    <div *ngIf="!modificationExists">
      <div class="header mr-2 ml-2">
        <h3>Help</h3>
      </div>
      <div class="p-4">
        <p>Add Modification to view results and get additional help.</p>
      </div>
    </div>
  </div>
</div>