<div class="form-section">
  <div class="form-group">
    <label for="distanceToCompressorRoom">Distance to Compressor Room</label>
    <div class="input-group">
      <input name="distanceToCompressorRoom" class="form-control" type="number" step="any" [(ngModel)]="inputs.distanceToCompressorRoom"
        id="distanceToCompressorRoom" (input)="getTotalReceiverVolume()" onfocus="this.select();" (focus)="changeField('distanceToCompressorRoom')">
      <span *ngIf="settings.unitsOfMeasure != 'Metric'" class="input-group-addon units">ft</span>
      <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">m</span>
    </div>
  </div>
  <div class="form-group">
    <label for="speedOfAir">Speed of Air</label>
    <div class="input-group">
      <input name="speedOfAir" class="form-control" type="number" step="any" [(ngModel)]="inputs.speedOfAir" id="speedOfAir" (input)="getTotalReceiverVolume()"
        onfocus="this.select();" (focus)="changeField('speedOfAir')">
      <span *ngIf="settings.unitsOfMeasure != 'Metric'" class="input-group-addon units">ft/s</span>
      <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">m/s</span>
    </div>
  </div>
  <div class="form-group">
    <label for="airDemand">Air Demand</label>
    <div class="input-group">
      <input name="airDemand" class="form-control" type="number" step="any" [(ngModel)]="inputs.airDemand" id="airDemand" (input)="getTotalReceiverVolume()"
        onfocus="this.select();" (focus)="changeField('airDemand')">
      <span *ngIf="settings.unitsOfMeasure != 'Metric'" class="input-group-addon units">scfm</span>
      <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">Nm<sup>3</sup>/min</span>
    </div>
  </div>
  <div class="form-group">
    <label for="allowablePressureDrop">Allowable Pressure Drop</label>
    <div class="input-group">
      <input name="allowablePressureDrop" class="form-control" type="number" step="any" [(ngModel)]="inputs.allowablePressureDrop"
        id="allowablePressureDrop" (input)="getTotalReceiverVolume()" onfocus="this.select();" (focus)="changeField('allowablePressureDrop')">
      <span *ngIf="settings.unitsOfMeasure != 'Metric'" class="input-group-addon units">psi</span>
      <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">kPa</span>
    </div>
  </div>
  <div class="form-group">
    <label for="atmosphericPressure">Atmospheric Pressure</label>
    <div class="input-group">
      <input name="atmosphericPressure" class="form-control" type="number" step="any" [(ngModel)]="inputs.atmosphericPressure"
        id="atmosphericPressure" (input)="getTotalReceiverVolume()" onfocus="this.select();" (focus)="changeField('atmosphericPressure')">
      <span *ngIf="settings.unitsOfMeasure != 'Metric'" class="input-group-addon units">psia</span>
      <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">kPaa</span>
    </div>
  </div>
</div>
<div class="form-section">
  <div class="form-group">
    <label class="bold">Required Storage</label>
    <div class="text-center small">
      <span *ngIf="totalReceiverVolume">
        <strong>{{totalReceiverVolume | number:'1.0-2'}} </strong>
        <strong *ngIf="settings.unitsOfMeasure != 'Metric'">gal</strong>
        <strong *ngIf="settings.unitsOfMeasure == 'Metric'">m<sup>3</sup></strong>
      </span>
      <span *ngIf="!totalReceiverVolume">
        <strong>&mdash; &mdash;</strong>
      </span>
    </div>
  </div>
</div>