.report-header {
    background: #fff;
    border-bottom: #bbb solid 1px;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.report-container {
    display: flex;
    z-index: 1;
    margin-top: 158px;

}
.report-container .sidebar {
    background: #fff;
    border-right: #d0d0d0 solid 1px;
    position: fixed;
    height: 100%;   
}
    .report-container .sidebar ul {
        margin: 0;
        padding: 0;
    }
        .report-container .sidebar ul li {
            list-style: none;
            padding: 0;
        }
            .report-container .sidebar ul li a {
                display: inline-block;
                padding: 10px;
                width: 220px;
                font-size: 15px;
                border-top: #efefef solid 1px;
            }
                .report-container .sidebar ul li:last-of-type a {
                    border-bottom: #efefef solid 1px;
                }
            .report-container .sidebar ul li.active a {
                color: #000;
                font-weight: bold;
            }

.report-container .content {
    flex: 1;
    overflow-y: auto;
    padding: 28px 42px;
    background: #f5f5f5;
    margin-left: 220px;
}

.report-cover {
    display: none;
}


@media print {

    .report-cover {
        display: block;
        width: 200px;
        text-align: center;
    }
    .report-header {
        position: static;
        border: none;
        background: none;
        page-break-before: always;
    }

    .report-container .content {
        padding: 0;
        margin-left: 0;
    }


}







