.report-container{
    width: 100vw;
}


.print-assessments{
    max-height: 64vh;
    overflow: scroll;
}

.report-cover{
    display: none;
}

.report-notes-form{
    max-width: none;
    width: 100%;
}

.report-list-nav{
    padding-top: 30px;
}

@media print {
    .report-header{
        padding-top: 15%;
    }

    .report-notes{
        top: 50%;
        left: 25%;
        position: absolute;
        max-width: 50%;
        overflow-wrap: normal;
    }

    .print-content{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;
    }

    .created-date{
        position: absolute;
        top: 870px;
        color: black;
    }

    .report-cover{
        display: inherit !important;
        page-break-after: always !important;
    }

    .report-logo{
        left: 75%;
        top: 850px;
        position: absolute;
        color: black;
    }
    .doe-logo{
        margin-bottom: none;
    }

    .print-assessments{
        max-height: none;
    }
    .report-list-nav{
        display: none !important;
    }

    .col-8{
        max-width: none !important;
        flex: none !important;
        padding-left: 0px;
        padding-right: 0px;
    }

    .assessment-report-item{
        page-break-after: always;
        border-bottom: none;
    }
    .report-column{
        border: none !important;
        box-shadow: none !important;
        margin-top: none !important;
        margin-bottom: none !important;
    }
    .report-column{
        border: none !important;
        box-shadow: none !important;
        margin-top: none !important;
        margin-bottom: none !important;
    }
    .col-10{
        padding: 0px; 
    }
}

.rollups{
    position: fixed;
    color: white;
    background-color: #2980b9;
    bottom: 10%;
    animation-name: rollups;
    animation-duration: 1s;
    margin: 10px;
}

@keyframes rollups{
    0% { bottom: -350px}
    100% { bottom: 10%}
}


.fixed-nav{
    top: 0;
    left: 22%;
    padding-top: 30px;
    position: fixed;
}

.report-container{
    background-color: #ececec;
}

.report-column{
    background-color: white;
    border: 1px solid #828282;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
    margin-bottom: 100px;
}