@media print {
    .hide-print{
        display: none !important;
    }
    .report-column{
        border: none !important;
        box-shadow: none !important;
        margin-top: none !important;
        margin-bottom: none !important;
    }
}

.report-container{
    background-color: #ececec;
}

.report-column{
    margin-top: 50px;
    margin-bottom: 100px;
}

.calculator-card{
    border: none; 
    margin-top: 2.5%; 
    margin-bottom: 2.5%;
    background: inherit;
}