.psat-container {
    height: 100vh;
}

.modal-open {
    z-index: initial !important;
}

#psatSelect {
    margin-top: 25px;
}

.list-modal {
    top: .5rem;
    max-width: 95%;
    height: 90%;
}

.list-modal .modal-content {
    height: 100%;
}

.list-modal .modal-body {
    max-height: 80vh;
}


.btn-sm.active{
    color: white;
    background-color: #2980b9;
}