<div class="calculator-container modify-conditions general standalone-calculator" #contentContainer>
  <div #leftPanelHeader class="d-block d-lg-flex header pb-1 pt-1 bg-white align-items-center"
    [ngClass]="{'justify-content-between': inTreasureHunt}">
    <div class="d-flex pl-2 align-items-center">
      <div class="text-center">
        <img src="assets/images/calculator-icons/utilities-icons/natural-gas-reduction-icon.png" class="ngas-icon">
      </div>
      <div class="pl-2">
        <h3>Natural Gas Reduction</h3>
      </div>
    </div>
    <div class="d-flex pr-2 pl-2" *ngIf="inTreasureHunt">
      <div class="d-flex help-holder">
        <p class="help-text treasure-hunt-help">Click the save icon to add the
          treasure to your chest! Click cancel to discard the opportunity and return
          to method selection.</p>
      </div>
      <div class="pl-2 pr-2 border-right border-left action-item" (click)="save()">
        <span class="fa fa-save"></span>
      </div>
      <div class="pl-2 pr-2 border-right border-left action-item" (click)="cancel()">
        <span class="fa fa-times"></span>
      </div>
    </div>
  </div>
  <div class="small-tab-select nav-pills nav-fill" #smallTabSelect>
    <div class="nav-item" (click)="setSmallScreenTab('baseline')"
      [ngClass]="{'small-screen-active': smallScreenTab === 'baseline'}">
      <a class="nav-link">Baseline</a>
    </div>
    <div class="nav-item" (click)="setSmallScreenTab('modification')"
      [ngClass]="{'small-screen-active': smallScreenTab === 'modification'}">
      <a class="nav-link">Modification</a>
    </div>
    <div class="nav-item" (click)="setSmallScreenTab('details')"
      [ngClass]="{'small-screen-active': smallScreenTab === 'details'}">
      <a class="nav-link">Details</a>
    </div>
  </div>
  <div class="panel-group">
    <!-- baseline -->
    <div class="calculator-panel-container modification baseline"
      [ngClass]="{'disabled': baselineSelected == false, 'small-screen-tab': smallScreenTab === 'baseline'}"
      [ngStyle]="{'height.px': containerHeight}" (click)="setBaselineSelected()">
      <div class="header mx-2">
        <h3>Baseline</h3>
        <a class="click-link pull-right small add-fixture" (click)="addBaselineEquipment()">+Add Equipment</a>
      </div>
      <div class="d-flex flex-column ml-2 mr-2 mb-4">
        <!-- app form -->
        <div *ngFor="let data of baselineData; let index = index;">
          <app-natural-gas-reduction-form [settings]="settings" [data]="data" [index]="index" [isBaseline]="true"
            (emitCalculate)="updateBaselineData($event, index)" (emitChangeField)="changeField($event)"
            (emitRemoveEquipment)="removeBaselineEquipment($event)" [selected]="baselineSelected">
          </app-natural-gas-reduction-form>
        </div>

        <div class="w-100 justify content-center btn-group btn-group-sm">
          <button type="button" class="btn btn-danger pull-right btn-sm m-2 btn-form" (click)="btnResetData()">
            Reset Data
          </button>
          <!-- add "Generate Example" button. Make sure to use 'btn-primary' instead of 'btn-danger' for styling. -->
          <button type="button" class="btn btn-primary pull-right btn-sm m-2 btn-form" (click)="btnGenerateExample()">
            Generate Example
          </button>
        </div>
      </div>
    </div>


    <!-- Modification -->
    <div class="calculator-panel-container modification"
      [ngClass]="{'disabled': baselineSelected == true, 'small-screen-tab': smallScreenTab === 'modification'}"
      [ngStyle]="{'height.px': containerHeight}" (click)="setModificationSelected()">
      <ng-container *ngIf="modificationExists">
        <!-- Modification Header -->
        <div class="header mr-2 ml-2">
          <h3>Modification</h3>
          <a class="click-link pull-right small add-fixture" (click)="addModificationEquipment()">+Add Equipment</a>
        </div>
        <!-- forms -->
        <div class="d-flex flex-column ml-2 mr-2 mb-4">
          <!-- app form -->
          <div *ngFor="let data of modificationData; let index = index;">
            <app-natural-gas-reduction-form [settings]="settings" [data]="data" [index]="index" [isBaseline]="false"
              (emitCalculate)="updateModificationData($event, index)" (emitChangeField)="changeField($event)"
              (emitRemoveEquipment)="removeModificationEquipment($event)" [selected]="!baselineSelected">
            </app-natural-gas-reduction-form>
          </div>
        </div>
      </ng-container>
      <!-- no content message -->
      <div *ngIf="!modificationExists">
        <div class="header mx-2">
          <h3>Modification</h3>
        </div>
        <div class="p-3 no-data">
          <h3>Once you have set up your baseline..</h3>
          <button type="button" class="btn btn-primary active" (click)="createModification()">Add Modified
            Condition</button>
          <p>Data will be copied from your current baseline condition.</p>
        </div>
      </div>
    </div>

    <!-- help panel -->
    <div class="calculator-panel-container help-panel" [ngClass]="{'small-screen-tab': smallScreenTab === 'details'}"
      [ngStyle]="{'height.px': containerHeight}">
      <div class="d-flex flex-column mh-100">
        <div class="d-flex flex-wrap tabs primary sticky-top">
          <div class="flex-fill panel-tab-item h-100" [ngClass]="{'active': tabSelect == 'results'}">
            <a class="border-left-0 h-100 d-flex justify-content-center align-items-center" (click)="setTab('results')">
              <div>Results</div>
            </a>
          </div>
          <div class="flex-fill panel-tab-item h-100" [ngClass]="{'active': tabSelect == 'help'}">
            <a class="h-100 d-flex justify-content-center align-items-center" (click)="setTab('help')">
              <div>Help</div>
            </a>
          </div>
        </div>

        <div class="p-2">
          <!-- app results if results tab -->
          <app-natural-gas-reduction-results *ngIf="tabSelect == 'results'" [settings]="settings"
            [results]="naturalGasReductionResults" [modificationExists]="modificationExists">
          </app-natural-gas-reduction-results>
          <!-- app help if help tab -->
          <app-natural-gas-reduction-help *ngIf="tabSelect == 'help'" [settings]="settings"
            [currentField]="currentField"></app-natural-gas-reduction-help>
        </div>
      </div>
    </div>

  </div>
</div>