.banner-box{
    height: 69px;
}

nav.navbar{
    background-color: black;
}

.book-item{
    background-color: #2980b9;
}

.home-nav-item:not(.book-item){
    opacity: 0;
}

a.user-manual{
    color: white;
}

.welcome-content{
    margin-top: 3rem;
}