<label class="group-label" (click)="toggleCollapse()">
    <span class="fa fa-chevron-right" [ngClass]="{'fa-chevron-right': contentCollapsed, 'fa-chevron-down': !contentCollapsed}"></span>
    Performance Points
    <span class="pull-right">
        <span *ngIf="!hasValidPerformancePoints" class="fa fa-exclamation-circle"></span>
    </span>
</label>
<app-full-load *ngIf="!contentCollapsed"></app-full-load>
<app-max-full-flow *ngIf="showMaxFullFlow && !contentCollapsed"></app-max-full-flow>
<app-unload-point *ngIf="showUnload && !contentCollapsed"></app-unload-point>
<app-no-load *ngIf="showNoLoad && !contentCollapsed"></app-no-load>
<app-blowoff *ngIf="showBlowoff && !contentCollapsed"></app-blowoff>