.btn-group {
    display: block;
    text-align: center;
}

.btn-group .btn-sm {
    font-size: small !important;
}

.btn-margin-10 {
    margin: 10px 0px;
}

.action-item:hover{
    cursor: pointer;
    background: #efefef;
}

.help-holder{
    max-width: 500px;
}

.treasure-hunt-help{
    margin-right: .5rem;
    margin-bottom: 0px;
}


.opp-sheet-icon{
    width: 35px;
}
.btn-form {
  border-radius: 4px !important;
}