
.psat-diagram {
    padding-top: 40px;
}
.psat-diagram .data, .psat-diagram .inputs {
    padding-left: 0;
}
.psat-diagram .data {
    counter-reset: diagram-counter;
}
.psat-diagram .data li {
    position: relative;
    padding-left: 30px;
}
.psat-diagram .data li:before {
    content: counter(diagram-counter);
    counter-increment: diagram-counter;
    position: absolute;
    left: 0;
    top: 0;
    font: bold 14px/1 Sans-Serif;
    background: #2980b9;
    color: #fff;
    border-radius: 50%;
    padding: 3px 7px;
}
.psat-diagram li {
    list-style: none;
}
.psat-diagram h3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 4px;
    text-transform: uppercase;
}
.psat-diagram dl {
    margin-bottom: 10px;    
}
.psat-diagram dt {
    line-height: 16px;
    font-size: 14px;
}
.psat-diagram dd {
    margin-bottom: 3px;
    line-height: 21px;
    font-size: 16px;
}

.psat-diagram .diagram {
    background: url('../../../assets/images/psat-diagram.png') no-repeat center 20%;
    height: 100%;
    position: relative;
}
    .diagram .motor, .diagram .rated-motor, .diagram .fluid, .diagram .pump {
        font: bold 14px/1 Sans-Serif;
        background: #2980b9;
        color: #fff;
        border-radius: 50%;
        padding: 3px 7px;
        position: absolute;
    }
    .diagram .motor {
        top: 26%;
        left: 22%;
    }
    .diagram .rated-motor {
        top: 33%;
        left: 7%;
    }
    .diagram .fluid {
        top: 43%;
        left: 88%;
    }
    .diagram .pump {
        top: 42%;
        left: 69%;
    }



