<form #formRef [formGroup]="psatForm">

  <div class="form-group">
    <label for="frequency">Line Frequency</label>
    <select class="form-control number-input-field" id="frequency" formControlName="frequency" (input)="checkForm(psatForm)"
        (focus)="focusField('lineFrequency')" ngModel="{{psatForm.value.frequency}}">
        <option *ngFor="let frequency of frequencies" [ngValue]="frequency">{{frequency}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="horsePower">Horse Power</label>
    <select class="form-control number-input-field" id="horsePower" formControlName="horsePower" (input)="checkForm(psatForm)"
        (focus)="focusField('horsePower')" ngModel="{{psatForm.value.horsePower}}">
        <option *ngFor="let horsePower of horsePowers" [ngValue]="horsePower">{{horsePower}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="motorRPM">Motor</label>
    <div class="incrementor form-control">
      <button class="btn" [disabled]="!selected" (click)="subtractNum('motorRPM')"><i class="fa fa-minus"></i></button>
      <button class="btn" [disabled]="!selected" (click)="addNum('motorRPM')"><i class="fa fa-plus"></i></button>
      <input type="number " class="form-control" id="motorRPM" formControlName="motorRPM" ngModel="{{psatForm.value.motorRPM}}"
        (input)="checkForm(psatForm)" (focus)="focusField('motorRPM')">
        <span class="units">rpms</span>
    </div>
  </div>

  <div class="form-group">
    <label for="efficiencyClass">Efficiency Class</label>
    <select class="form-control select-input-field" id="efficiencyClass" formControlName="efficiencyClass" (input)="checkForm(psatForm)"
        (focus)="focusField('efficiencyClass')" ngModel="{{psatForm.value.efficiencyClass}}">
      <option *ngFor="let efficiencyClass of efficiencyClasses" [ngValue]="efficiencyClass">{{efficiencyClass}}</option>
    </select>
  </div>

  <div class="form-group" *ngIf="psatForm.value.efficiencyClass == 'Specified'">
    <label for="efficiencyClass">Specify Efficiency Class</label>
    <input type="text" class="form-control" id="efficiencyClassSpecified" formControlName="efficiencyClassSpecified"
        (input)="checkForm(psatForm)" (focus)="focusField('efficiencyClass')">
  </div>

  <div class="form-group" *ngIf="psatForm.value.efficiencyClass == 'Specified'">
    <label for="efficiency">Efficiency</label>
    <input type="number" class="form-control" id="efficiency" formControlName="efficiency" (input)="checkForm(psatForm)"
        (focus)="focusField('efficiency')">
        <span class="units">%</span>
  </div>

  <div class="form-group">
    <label for="motorVoltage">Voltage</label>
    <input type="number" class="form-control number-input-field" id="motorVoltage" formControlName="motorVoltage" (input)="checkForm(psatForm)"
        (focus)="focusField('motorVoltage')">
        <span class="units">{{settings.voltageMeasurement}}</span>
  </div>

  <div class="form-group">
    <label for="fullLoadAmps" aria-describedby="flaHelp">
      Full-Load Amps
      <small id="flaHelp" class="form-text text-muted text-help" (click)="getFullLoadAmps()"><a>Estimate Full-Load Amps</a></small>
    </label>
    <input type="number" class="form-control number-input-field" id="fullLoadAmps" formControlName="fullLoadAmps" (input)="checkForm(psatForm)"
        (focus)="focusField('fullLoadAmps')">
        <span class="units">{{settings.currentMeasurement}}</span>
  </div>

  <div class="form-group">
    <label for="sizeMargin">Size Margin</label>
    <div class="incrementor form-control">
      <button class="btn" [disabled]="!selected" (click)="subtractNum('sizeMargin')"><i class="fa fa-minus"></i></button>
      <button class="btn" [disabled]="!selected" (click)="addNum('sizeMargin')"><i class="fa fa-plus"></i></button>
      <input type="number" class="form-control" id="sizeMargin" formControlName="sizeMargin" ngModel="{{psatForm.value.sizeMargin}}"
        (input)="checkForm(psatForm)" (focus)="focusField('sizeMargin')">
    </div>
  </div>

</form>