<form [formGroup]="psatForm">
  <div class="row form-group">
    <label class="col-6 col-form-label" for="frequency">Line Frequency</label>
    <div class="col-6">
      <select class="form-control" id="frequency" formControlName="frequency" (focus)="focusField('lineFrequency')">
            <option>Frequency 1</option>
            <option>Frequency 2</option>
          </select>
      <app-control-messages [control]="psatForm.controls.frequency"></app-control-messages>
    </div>
  </div>

  <div class="row form-group">
    <label class="col-6 col-form-label" for="horsePower">Horse Power</label>
    <div class="col-6">
      <select class="form-control" id="horsePower" formControlName="horsePower" (focus)="focusField('horsePower')">
            <option>HP 1</option>
            <option>HP 2</option>
          </select>
      <app-control-messages [control]="psatForm.controls.horsePower"></app-control-messages>
    </div>
  </div>

  <div class="row form-group">
    <label class="col-6 col-form-label" for="motorRPM">Motor RPM</label>
    <div class="col-6 input-group">
      <div class="incrementor input-group-addon">
        <div class="btn" (click)="subtractNum('motorRPM')"><i class="fa fa-minus"></i></div>
      </div>
      <div class="incrementor input-group-addon">
        <div class="btn" (click)="addNum('motorRPM')"><i class="fa fa-plus"></i></div>
      </div>
      <input type="text" class="form-control" id="motorRPM" formControlName="motorRPM" ngModel="{{psatForm.value.motorRPM}}"
             (focus)="focusField('motorRPM')">
      <app-control-messages [control]="psatForm.controls.motorRPM"></app-control-messages>
    </div>
  </div>

  <div class="row form-group">
    <label class="col-6 col-form-label" for="efficiencyClass">Efficiency Class</label>
    <div class="col-6">
      <select class="form-control" id="efficiencyClass" formControlName="efficiencyClass" (focus)="focusField('efficiencyClass')">>
            <option>class 1</option>
            <option>Class 2</option>
          </select>
      <app-control-messages [control]="psatForm.controls.efficiencyClass"></app-control-messages>
    </div>
  </div>

  <div class="row form-group">
    <label class="col-6 col-form-label" for="voltage">Voltage</label>
    <div class="col-6">
      <input type="text" class="form-control" id="voltage" formControlName="voltage" (focus)="focusField('voltage')">
      <app-control-messages [control]="psatForm.controls.voltage"></app-control-messages>
    </div>
  </div>

  <div class="row form-group">
    <label class="col-6 col-form-label" for="fullLoadAmps" aria-describedby="flaHelp">
      Full-Load Amps
    <small id="flaHelp" class="form-text text-muted text-help">Estimate Full-Load Amps</small>
    </label>
    <div class="col-6">
      <input type="text" class="form-control" id="fullLoadAmps" formControlName="fullLoadAmps" (focus)="focusField('fullLoadAmps')">
      <app-control-messages [control]="psatForm.controls.fullLoadAmps"></app-control-messages>
    </div>
  </div>

  <div class="row form-group">
    <label class="col-6 col-form-label" for="sizeMargin">Size Margin</label>
    <div class="col-6 input-group">
      <div class="incrementor input-group-addon">
        <div class="btn" (click)="subtractNum('sizeMargin')"><i class="fa fa-minus"></i></div>
      </div>
      <div class="incrementor input-group-addon">
        <div class="btn" (click)="addNum('sizeMargin')"><i class="fa fa-plus"></i></div>
      </div>
      <input type="text" class="form-control" id="sizeMargin" formControlName="sizeMargin" ngModel="{{psatForm.value.sizeMargin}}"
             (focus)="focusField('sizeMargin')">
      <app-control-messages [control]="psatForm.controls.sizeMargin"></app-control-messages>
    </div>
  </div>

</form>
