
td, th{
    font-size: small;
    border-right: solid 1px darkgray;
    border-left: solid 1px darkgray;
    padding: 3px;
    white-space: nowrap;
    vertical-align: middle !important;
  }
  
  /* tr > td:first-child {
    border-right: none;
  }
   */
  
  table {
    /* box-shadow: 0 4px 8px 0 grey */
    margin-bottom: 0px;
    border-bottom: solid 1px;
  }
  

  select.form-control{
    width: 100%;
    min-width: 50px;
  }


  .btn.btn-sm{
    background-color: #ABB2B9;
    color: white;
    padding: 2px;
    width: 100%;
    min-width: 50px;
  }

  .input-cell{
    width: 60px;
  }

  .btn.btn-sm.btn-active{
    background-color: #7030A0;
  }

  .btn.btn-sm:hover{
    background-color: #566573;
  }


  .group-label{
      width: auto;
      letter-spacing: inherit;
  }
  .cell-error{
	  background-color: #F5B7B1;
  }

  thead tr, tfoot tr{
	  /* background-color: lightgray; */
	  font-weight: bold;
  }
  tfoot{
    border-top: solid 3px;
  }
