<div class="d-flex w-100 flex-wrap justify-content-between">
    <label class="group-label pb-0">
        Compressor Ordering
    </label>
    <div class="d-flex">
        <div class="pl-2 pr-2 border-left">
            <label class="small" for="fillRightOrdering">
                <input type="checkbox" [(ngModel)]="fillRight" name="fillRightOrdering" id="fillRightOrdering">
                Fill right on change
            </label>
        </div>
        <div class="pl-2 pr-2 border-right border-left">
            <a class="click-link small" (click)="resetOrdering()">Turn All Off</a>
        </div>
        <div class="pl-2 pr-2 border-right">
            <a class="click-link small" (click)="turnAllOn()">Turn All On</a>
        </div>
    </div>
</div>

<div class="scroll-item">
    <table class="table bg-white">
        <thead>
            <tr>
                <th>
                    <!-- Compressor Name -->
                </th>
                <th class="text-center">
                    Capacity <br> acfm
                </th>
                <th class="text-center">
                    Shutdown <br>
                    Timer
                </th>
                <th class="text-center" *ngFor="let interval of hourIntervals">
                    {{interval}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let summary of profileSummary | dayTypeFilter:selectedDayTypeId; let compressorIndex = index;">
                <td class="bold text-center">
                    {{summary.compressorId|compressorName:adjustedCompressors}}
                </td>
                <td class="text-center">
                    {{getFullLoadCapacity(summary.compressorId)}}
                </td>
                <td class="text-center">
                    <input type="checkbox" [(ngModel)]="summary.automaticShutdownTimer" (change)="save()">
                </td>
                <td class="input-cell"
                    *ngFor="let summaryData of summary.profileSummaryData; let orderIndex = index; trackBy:trackByIdx">
                    <select class="form-control" id="{{'order_'+compressorIndex+orderIndex}}"
                        name="{{'order_'+compressorIndex+orderIndex}}" [(ngModel)]="summaryData.order"
                        (change)="changeOrderSequencer(compressorIndex, orderIndex)">
                        <option *ngFor="let orderingOption of orderingOptions; let optionIndex = index;"
                            [ngValue]="orderingOption" id="{{'order_'+compressorIndex+orderIndex+optionIndex}}">
                            <span *ngIf="orderingOption != 0">
                                {{orderingOption}}
                            </span>
                            <span *ngIf="orderingOption == 0">
                                Off
                            </span>
                        </option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>