<div class="modify-conditions panel-container row phast">
  <div class="col-12">
    <div class="row align-items-top">
      <div class="modification panel-column col-6 align-top">
        <div class="header">
          <h3>O
            <sub>2</sub> Enrichment Calculator</h3>
        </div>
        <div class="losses-container tab-content">
          <div class="card-form">
            <div class="row">
              <div class="col-12">
                <app-o2-enrichment-form [(o2Enrichment)]="o2Enrichment" [o2EnrichmentOutput]="o2EnrichmentOutput" [lines]="lines" (calculate)="calculate()"
                  (changeFieldEmit)="changeField($event)"></app-o2-enrichment-form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 align-top">
        <div class="help-panel">
          <div class="row">
            <ul class="tabs primary tab-row">
              <li class="panel-tab-item tab-2" [ngClass]="{'active': tabSelect == 'results'}">
                <a (click)="setTab('results')">Graph</a>
              </li><!--
              --><li class="panel-tab-item tab-2" [ngClass]="{'active': tabSelect == 'help'}">
                <a (click)="setTab('help')">Help</a>
              </li>
            </ul>
          </div>

          <div class="row justify-content-center data-row" *ngIf="tabSelect == 'results'">
            <div class="col-11" id="o2EnrichmentGraph">
              <app-o2-enrichment-graph *ngIf="tabSelect == 'results'" [o2Enrichment]="o2Enrichment" [o2EnrichmentOutput]="o2EnrichmentOutput"
                [lines]="lines"></app-o2-enrichment-graph>

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="text-center">Key</th>
                    <th class="text-center">O
                      <sub>2</sub> in Air</th>
                    <th class="text-center">Fuel Savings</th>
                    <th class="text-center">Combustion Temp</th>
                    <th class="text-center">Flue O
                      <sub>2</sub>
                    </th>
                    <th class="text-center">Flue Temp</th>
                  </tr>
                </thead>
                <tbody id="lineDetails">
                </tbody>
              </table>

              <div class="alert alert-info alert-disclaimer">
                <strong>Note:</strong> Current limitation of the program would result in an error of about 2% to 5% for the value
                of available heat calculations for oxygen enriched air case.
              </div>
            </div>
          </div>
          <div class="row justify-content-center data-row align-items-center" *ngIf="tabSelect == 'help'">
            <div class="col-11">
              <div class="calc-help">
                <app-o2-enrichment-help [currentField]="currentField"></app-o2-enrichment-help>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>