.efficiency-results{
    padding: 0px !important;
}

.calc-help{
    padding: 8px !important;
}

.alert-disclaimer{
margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    font-size: smaller;
}