<!-- * IMPORTANT: content container and assessment container must be allowed to render without delay so the web component contained in water diagram can mount properly -->
@if (mainTab == 'diagram') {
    <div #content class="d-none d-lg-flex water-process-diagram-container water-process-diagram flex-column">
        @if (!isIntegrated) {
            <div #header class="w-100 hide-print sticky-top">
                <app-water-diagram-banner [diagram]="diagram"></app-water-diagram-banner>
            </div>
        }
        <div class="assessment-container" [ngStyle]="{'height.px': containerHeight}"
            [ngClass]="{'scroll-item': mainTab == 'summary' || mainTab == 'analysis'}">
            <div class="w-100" [ngClass]="{'modal-open': isModalOpen == true}">
                <!-- <app-water-diagram-setup *ngIf="mainTab == 'setup'"></app-water-diagram-setup> -->
                <app-water-diagram ></app-water-diagram>
            </div>
        </div>

        @if (!isIntegrated) {
            <div #footer id="waterProcessDiagramFooter" class="footer d-lg-block d-none hide-print">
                <div class="w-100">
                    <!-- <button class="btn btn-default" (click)="back()" [disabled]="mainTab === 'setup'">Back</button> -->
                    <!-- <button *ngIf="mainTab == 'setup'" class="btn btn-primary pull-right" (click)="continue()">Next</button> -->
                    @if (diagram.assessmentId === undefined) {
                        <button class="btn btn-primary pull-right" (click)="createAssessment()">Create Assessment</button>
                    }
                    @if (diagram.assessmentId !== undefined) {
                        <button class="btn btn-primary pull-right" (click)="goToAssessment()">Go To Assessment</button>
                    }
                </div>
            </div>
        }
    </div>
}

@if (displayCreateAssessmentModal) {
    <app-create-assessment-modal
    [diagram]="diagram"
    [integratedCreateType]="'Water'"
    (onClose)="hideCreateAssessmentModal()"></app-create-assessment-modal>
}

<div class="d-flex d-lg-none flex-column align-items-start">
  <span class="alert-warning pull-right small">
    Water Diagram is unavailable to view on your current device.
    Please export the assessment and upload to a desktop or a device with a larger screen size.
  </span>
  <button class="btn btn-default mt-2" type="button" (click)="returnFromMobileUnavailable()">Back</button>
</div>
