    .print-graphs-container {
        break-before: always;
        page-break-inside: avoid;
        width: 1000px;
    }

    @media print {
        .page-break-before{
            break-before: always;
        }
    
        .print-page-title {
            font-size: 40px !important;
            font-weight: bold;
            text-align: center;
            text-decoration: underline;
        }
        .print-avoid-break{
            page-break-inside: avoid;
        }
    }
    
    .group-label{
        font-size: 22px;
    }
    
    .group-label.large{
        font-size: 26px;
    }
    
    .print-pie-width{
        width: 500px;
    }