    .print-pie-width{
        width: 500px;
    }
    .print-page-title {
        font-size: 40px !important;
        font-weight: bold;
        text-align: center;
        text-decoration: underline;
    }
    .print-graphs-container {
        page-break-before: always;
        page-break-inside: avoid;
        width: 1000px;
    }