.table{
    font-size: 12px;
    background: white;
}

.selected-end-use {
    border: solid;
}

.fa-chevron-right{
    padding-right: 3px;
}


a.danger{
    color: red;
}

.invalid-end-use {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f8d7da !important;
}