<div class="panel-container row compressed-air">
  <div class="col-12">
    <div class="row align-items-top calculator-panel">
      <div class="panel-column col-6 align-top">
        <div class="header">
          <h3>Compressed Air - System Capacity</h3>
        </div>
        <div class="row">
          <div class="col-12 tab-content">
            <app-system-capacity-form [inputs]="inputs" [outputs]="outputs" (calculate)="getTotalPipeVolume()"></app-system-capacity-form>
          </div>
        </div>
      </div>
      <div class="col-6 align-top">
        <div class="help-panel">
          <div class="header">
            <h3>Help</h3>
          </div>
          <div class="card-header">Description</div>
          <div class="tab-content">
            <p>
              This is used to find the total air quantity that the compressed air system can contain at any instant of time, including
              the air in the pipes and receivers. The total capacity of the compressed air system can be obtained by adding
              the volumes of pipes and receivers.
            </p>
            <p>
              Pipe sizes used are nominal Schedule 40 pipe sizes
            </p>
            <div class="help-content">
              <div class="card">
                <div class="card-header">
                  Pipe Size
                </div>
                <div class="card-block">
                  <p>Pipe that is sized too small can create big pressure losses and reduce operating efficiency. Enter the
                    length for different Nominal Pipe sizes total. </p>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  Enter Number of Recievers
                </div>
                <div class="card-block">
                  <p>Input capacity values of different receivers.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>