<div class="wizard-steps">

  <div class="section">
    <h2><span>System Setup</span></h2>
    <ul>
      <li [ngClass]="{'psat-tab-active': currentTab == 1}">
        <a (click)="changeTab(1)">1. System Basics</a>
      </li>
      <li [ngClass]="{'psat-tab-active': currentTab == 2}">
        <a (click)="changeTab(2)">2. Pump / Fluid</a>
      </li>
      <li [ngClass]="{'psat-tab-active': currentTab == 3}">
        <a (click)="changeTab(3)">3. Motor</a>
      </li>
      <li [ngClass]="{'psat-tab-active': currentTab == 4}">
        <a (click)="changeTab(4)">4. Field Data</a>
      </li>
    </ul>
  </div>

  <div class="section">
    <h2><span>Assessment &amp; Analysis</span></h2>
    <ul>
      <li [ngClass]="{'psat-tab-active': currentTab == 5}">
        <a (click)="changeTab(5)">5. Modify Conditions</a>
      </li>
    </ul>
  </div>

</div>