.btn{
    padding: 6px;
}

.mod-name a:hover{
    text-decoration: none !important;
    cursor: default !important;
}

.btn-primary{
    background-color: #2980b9;
    font-size: small;
}


.navbar{
    padding: 0px;
    background-color: #ececec;
}

.badge{
    margin-left: .25rem;
    margin-right: .25rem;
}


.title-border-right{
    border-right: #2980b9 groove 2px;
    border-left: #2980b9 groove 2px;
    background: #fff;
}

.click-link{
    font-size: small;
}

.br-color-white{
    background: #fff;
}

.hide-calc-menu{
    display: none;
}

/* Screens above  1024 */
.calculator-container {
    display: flex;
    height: 100%;
}

.panel-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

 /* Screens below 1024 */
@media screen and (max-width: 1024px) {
    .calculator-container {
        display: block;
        height: 100%;
        overflow-y: auto;
    }

    .panel-container {
        display: block;
        width: 100%;
    }

    .lookup-form {
        height: 100%;
    }

    .hide-calc-menu{
        display: flex;
    }

}