<div class="pump-head">
  <div class="row" *ngIf="settings">
    <div class="col-md-4 col-sm-12  mx-auto">
      <app-motor-performance-form [(performanceForm)]="performanceForm" [settings]="settings" (calculate)="calculate()"></app-motor-performance-form>
    </div>
    <div class="col-md-6 col-sm-12 mx-auto">
      <ul class="tabs primary text-center">
        <li class="calc-tab" [ngClass]="{'active': tabSelect == 'results'}">
          <a (click)="setTab('results')">Graph</a>
        </li><!--
    --><li class="calc-tab" [ngClass]="{'active': tabSelect == 'help'}">
          <a (click)="setTab('help')">Help</a>
        </li>
      </ul>
      <div class="tab-content efficiency-results" id="motorPerformanceGraph">
        <app-motor-performance-graph *ngIf="tabSelect == 'results'" [performanceForm]="performanceForm" [settings]="settings" [toggleCalculate]="toggleCalculate"></app-motor-performance-graph>

        <div *ngIf="tabSelect == 'help'" class="help-panel">
          <div class="calc-help">
            <h3>Motor Performance Help</h3>
            <p>
              Plots current, efficiency, power factor vs motor shaft load for a given motor description
            </p>
            <p>
              <u>Power factor-</u> The ratio of the real electrical power used to do work to the apparent power in the circuit.
              A higher power factor signifies that the motor consumes power effectively.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>