<label class="group-label">{{formLabel}}</label>

<form [formGroup]="byDataForm">
    <div>
        <div class="row align-items-end">
            <div class="form-group col-4 w-100 text-right">
                <label class="w-100" for="dataOrder">Order</label>
            </div>
            <div class="form-group col-4" >
                <select id="dataOrder" name="dataOrder" class="form-control w-100" formControlName="dataOrder"
                    (focus)="focusField('dataOrder')" (change)="save()">
                    <option *ngFor="let order of orderOptions" [ngValue]="order">{{order}}</option>
                </select>
            </div>
            <div class="form-group col-4">
                <select id="powerDataOrder" name="powerDataOrder" class="form-control w-100" formControlName="powerDataOrder"
                    (focus)="focusField('powerDataOrder')" (change)="save()">
                    <option *ngFor="let order of orderOptions" [ngValue]="order">{{order}}</option>
                </select>
            </div>
        </div>
    <div *ngFor="let control of byDataForm.controls.dataRows.value.controls; let index = index;">
        <form [formGroup]="control">
            <div class="row align-items-end">
                <div class="form-group col-4">
                    <label class="section-label" *ngIf="index == 0" for="flow">Flow (<span [innerHTML]="flowUnit | settingsLabel"></span>)</label>
                    <div class="input-group">
                        <input name="flow" formControlName="flow" type="number" step="any" class="form-control"
                            id="flow" onfocus="this.select();" (focus)="focusField('flow')" (input)="save()">
                    </div>
                    <span class="alert-danger pull-right small"
                        *ngIf="control.controls.flow.invalid && !control.controls.flow.pristine">
                        <span *ngIf="control.controls.flow.errors.required">Value required.</span>
                        <span *ngIf="control.controls.flow.errors.max">Value cannot be greater than 1,000,000
                            <span [innerHTML]="flowUnit | settingsLabel"></span>.
                        </span>
                    </span>
                </div>
                <div class="form-group col-4">
                    <label class="section-label" *ngIf="index == 0" for="yValue">{{yValueLabel}} (<span [innerHTML]="yValueUnit | settingsLabel"></span>)</label>
                    <div class="input-group">
                        <input name="yValue" formControlName="yValue" type="number" step="any" class="form-control"
                            id="yValue" onfocus="this.select();" (focus)="focusField('yValue')" (input)="save()">
                    </div>
                    <span class="alert-danger pull-right small"
                        *ngIf="control.controls.yValue.invalid && !control.controls.yValue.pristine">
                        <span *ngIf="control.controls.yValue.errors.required">Value required.</span>
                        <span *ngIf="control.controls.yValue.errors.min">Value must be greater than
                            {{control.controls.yValue.errors.min.min}}
                            <span [innerHTML]="yValueUnit | settingsLabel"></span>.
                        </span>
                    </span>
                </div>
                <div class="form-group col-4">
                    <label class="section-label" *ngIf="index == 0" for="power">Power (<span [innerHTML]="settings.fanPowerMeasurement | settingsLabel"></span>)</label>
                    <div class="input-group">
                        <input name="power" formControlName="power" type="number" step="any" class="form-control"
                            id="power" onfocus="this.select();" (focus)="focusField('power')" (input)="save()">
                        <span class="float-right ml-2" *ngIf="byDataForm.controls.dataRows.value.controls.length > 1">
                            <i class="fa fa-times-circle" (click)="removeRow(index)"></i>
                        </span>
                    </div>
                    <span class="alert-danger pull-right small"
                        *ngIf="control.controls.power.invalid && !control.controls.power.pristine">
                        <span *ngIf="control.controls.power.errors.required">Value required.</span>
                        <span *ngIf="control.controls.power.errors.min">Value must be greater than
                            {{control.controls.power.errors.min.min}}
                            <span [innerHTML]="settings.fanPowerMeasurement | settingsLabel"></span>.
                        </span>
                    </span>
                </div>
            </div>
        </form>
    </div>
    </div>
    <div class="form-group">
        <span class="add-link small pull-right" (click)="addRow()">+Add Row</span>
    </div>
</form>