.input-group-addon.units.op-hour-addon{
    border-left: solid 1px;
    border-right: none;
}

.form-section {
    padding-bottom: .25rem;
    border-bottom: 1px dashed;
}

.form-section-decibel {
  padding-bottom: .25rem;
  border-top: 1px dashed;
}

.btn-group {
  text-align: center;
}

.btn-margin-10 {
  margin: 10px 0px;
}

.group-label-wide {
  width: 100%;
  border-bottom: #145A32 solid 2px;
  font-weight: bold;
}

.input-group-prepend{
  align-items: center;
  padding-right: 5px;
}