.treasure-hunt-container{
    height: 100vh;
    background: #ececec;
}

.treasure-hunt-container div#thuntFooter.footer {
    position: relative;
}


.modal-open {
    z-index: initial !important;
}

.treasure-hunt .assessment-panel-container::-webkit-scrollbar-thumb{
	background-color: #2E4053;
}

/* Screens above  1024 */
.assessment-container {
    display: flex;
    height: 100%;
}

.assessment-panel-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

 /* Screens below 1024 */
@media screen and (max-width: 1024px) {
    .assessment-container {
        display: block;
        height: 100%;
        overflow-y: auto;
    }

    .assessment-panel-container {
        display: block;
        width: 100%;
    }

    .lookup-form {
        height: 100%;
    }

}