<div class="modal-header">
    <h3>{{data.modalTitle}}</h3>
    <button class="close" (click)="close(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body process-cooling-assessment">
    <p class="small">
        {{data.confirmMessage}}
    </p>
       <div class="modal-footer p-2">
        <button type="button" class="btn btn-secondary btn-sm mr-2" (click)="close(false)">Cancel</button>
        <button type="button" class="btn btn-primary btn-sm " (click)="close(true)">Delete</button>
    </div>
</div>