.nav-item{
    cursor: pointer;
    height: 10%;
    display: flex;
    align-items: center;
}

.nav-item-active{
  background-color: white;
  border-right: solid;
  border-right-width: 3px;
  border-right-color: deepskyblue;
}

.nav{
  height: 100%;
}

