/* .pill-row{
    height: 100%;
} */



.img-icon{
    width: 50px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.h2-name{
    font-weight: 400;
    font-size: 20px;
}

.home-nav-item{
    color: black;
    border-color: black !important; 
}

.banner {
    color: black;
}

  
a.user-manual{
    color: black;
}

.btn.chevron-btn{
    border: none !important;
    width: 20px;
    height: 28px;
    color: black;
    box-shadow: none !important;
}

.fa.fa-chevron-right,
.fa.fa-chevron-left {
    font-size: 28px;
}

span.fa.fa-download{
    padding: 0px !important;
}

.download-nav-item .fa.fa-download{
    border: none !important;
    background-color: inherit;
    opacity: 1;
}

.download-nav-item{
    border: none !important;
    background-color: #F39C12;
}