/* .pill-row{
    height: 100%;
} */



.img-icon{
    width: 45px;
}

.h2-name{
    font-weight: 400;
    font-size: 20px;
}

.home-nav-item{
    color: black;
    border-color: black !important; 
}

.banner {
    color: black;
}