li{
  list-style: none;
  font-size: small;
}



ul{
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
}

.summary-card-header{
  border-bottom: #566573 groove 2px;
}
.summary-card-body .fa-folder{
  font-size: large;
}


/* .card-header:hover{
  cursor: inherit;
  background: inherit;
} */


.fa-edit:hover{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.fa-edit{
  padding-top: 4px;
  font-size: larger;
}