<div class="calculator-container modify-conditions general standalone-calculator" #contentContainer>
  <div class="d-flex header pb-1 pt-1 align-items-center bg-white" #leftPanelHeader
    [ngClass]="{'justify-content-between': inTreasureHunt}">
    <div class="d-flex pl-2 align-items-center">
      <div class="calc-icon-header icon-fsat d-none d-sm-flex">
        <img src="assets/images/calculator-icons/process-cooling-icons/psychrometric-icon.png">
      </div>
      <div class="mx-auto">
        <h3>Fan Affinity Law</h3>
      </div>
    </div>

    <div class="d-flex pr-2 pl-2" *ngIf="inTreasureHunt">
      <div class="pl-2 pr-2 border-right border-left action-item" (click)="save()">
        <span class="fa fa-save"></span>
      </div>
      <div class="pl-2 pr-2 border-right border-left action-item" (click)="cancel()">
        <span class="fa fa-times"></span>
      </div>
    </div>
  </div>

  <div class="small-tab-select nav-pills nav-fill" #smallTabSelect>
    <div class="nav-item" (click)="setSmallScreenTab('form')" [ngClass]="{'small-screen-active': smallScreenTab === 'form'}">
      <a class="nav-link">Fan Affinity Data</a>
    </div>
    <div class="nav-item" (click)="setSmallScreenTab('details')" [ngClass]="{'small-screen-active': smallScreenTab === 'details'}">
      <a class="nav-link">Details</a>
    </div>
  </div>

  <div class="panel-group" [ngStyle]="{'height.px': containerHeight}">
    <div class="calculator-panel-container modification" [ngClass]="{'small-screen-tab': smallScreenTab === 'form'}"
      [ngStyle]="{'height.px': containerHeight}">
      <div class="d-flex flex-column m-2">

        <!-- Characteristics -->
        <div class="d-block d-lg-flex flex-direction-column">
          <div class="col-12 mb-4">
            <form [formGroup]="fanAffinityLawForm">
              <label class="group-label my-1">
                Characteristics
              </label>

              <div class="d-block d-lg-flex">
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <label class="small" for="hoursOperation">Operating Hours</label>
                    <div class="input-group">
                      <input class="form-control" type="number" name="hoursOperation" id="hoursOperation"
                        formControlName="hoursOperation" (input)="getResults()" (focus)="changeField('hoursOperation')"
                        onfocus="this.select();">
                      <span class="units input-group-addon">hr</span>
                    </div>
                    <span class="alert-danger pull-right small"
                      *ngIf="fanAffinityLawForm.controls.hoursOperation.invalid && !fanAffinityLawForm.controls.hoursOperation.pristine">
                      <span *ngIf="fanAffinityLawForm.controls.hoursOperation.errors.required">Value required.</span>
                      <span *ngIf="fanAffinityLawForm.controls.hoursOperation.errors.max">Value can't be greater than
                        {{fanAffinityLawForm.controls.hoursOperation.errors.max.max}}.</span>
                      <span *ngIf="fanAffinityLawForm.controls.hoursOperation.errors.greaterThan != null">Value must be greater than
                        {{fanAffinityLawForm.controls.hoursOperation.errors.greaterThan}}.</span>
                    </span>
                  </div>

                  <div class="form-group">
                    <label class="small" for="electricalRate">Electricity Cost</label>
                    <div class="input-group">
                      <input class="form-control" type="number" step="0.01" name="electricalRate" id="electricalRate"
                        formControlName="electricalRate" (input)="getResults()" (focus)="changeField('electricalRate')"
                        onfocus="this.select();">
                      <span class="units input-group-addon">$/kWh</span>
                    </div>
                    <span class="alert-danger pull-right small"
                      *ngIf="fanAffinityLawForm.controls.electricalRate.invalid && !fanAffinityLawForm.controls.electricalRate.pristine">
                      <span *ngIf="fanAffinityLawForm.controls.electricalRate.errors.required">Value required.</span>
                      <span *ngIf="fanAffinityLawForm.controls.electricalRate.errors.greaterThan != null">Value must be greater than
                        {{fanAffinityLawForm.controls.electricalRate.errors.greaterThan}}.</span>
                    </span>
                  </div>

                  <div class="form-group">
                    <label class="small" for="changeFanSize">Change Fan Size</label>
                    <div class="input-group">
                      <select class="form-control" name="changeFanSize" id="changeFanSize" formControlName="changeFanSize"
                        (change)="refreshValidators()" (focus)="changeField('changeFanSize')">
                        <option [ngValue]="false">No</option>
                        <option [ngValue]="true">Yes</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <label class="small" for="powerMotor">Motor Power</label>
                    <div class="input-group">
                      <input class="form-control" type="number" name="powerMotor" id="powerMotor" formControlName="powerMotor"
                        (input)="getResults()" (focus)="changeField('powerMotor')" onfocus="this.select();">
                      <span class="input-group-addon units">
                        <span *ngIf="settings.unitsOfMeasure == 'Imperial'">hp</span>
                        <span *ngIf="settings.unitsOfMeasure != 'Imperial'">kW</span>
                      </span>
                    </div>
                    <span class="alert-danger pull-right small"
                      *ngIf="fanAffinityLawForm.controls.powerMotor.invalid && !fanAffinityLawForm.controls.powerMotor.pristine">
                      <span *ngIf="fanAffinityLawForm.controls.powerMotor.errors.required">Value required.</span>
                      <span *ngIf="fanAffinityLawForm.controls.powerMotor.errors.greaterThan != null">Value must be greater than
                        {{fanAffinityLawForm.controls.powerMotor.errors.greaterThan}}.</span>
                    </span>
                  </div>

                  <div class="form-group">
                    <label class="small" for="efficiencyMotor">Motor Efficiency</label>
                    <div class="input-group">
                      <input class="form-control" type="number" name="efficiencyMotor" id="efficiencyMotor"
                        formControlName="efficiencyMotor" (input)="getResults()" (focus)="changeField('efficiencyMotor')"
                        onfocus="this.select();">
                      <span class="units input-group-addon">%</span>
                    </div>
                    <span class="alert-danger pull-right small"
                      *ngIf="fanAffinityLawForm.controls.efficiencyMotor.invalid && !fanAffinityLawForm.controls.efficiencyMotor.pristine">
                      <span *ngIf="fanAffinityLawForm.controls.efficiencyMotor.errors.required">Value required.</span>
                      <span *ngIf="fanAffinityLawForm.controls.efficiencyMotor.errors.max">Value can't be greater than
                        {{fanAffinityLawForm.controls.efficiencyMotor.errors.max.max}}.</span>
                      <span *ngIf="fanAffinityLawForm.controls.efficiencyMotor.errors.greaterThan != null">Value must be greater than
                        {{fanAffinityLawForm.controls.efficiencyMotor.errors.greaterThan}}.</span>
                    </span>
                  </div>

                  <div class="form-group">
                    <label class="small" for="efficiencyDrive">Drive Efficiency</label>
                    <div class="input-group">
                      <input class="form-control" type="number" name="efficiencyDrive" id="efficiencyDrive"
                        formControlName="efficiencyDrive" (input)="getResults()" (focus)="changeField('efficiencyDrive')"
                        onfocus="this.select();">
                      <span class="units input-group-addon">%</span>
                    </div>
                    <span class="alert-danger pull-right small"
                      *ngIf="fanAffinityLawForm.controls.efficiencyDrive.invalid && !fanAffinityLawForm.controls.efficiencyDrive.pristine">
                      <span *ngIf="fanAffinityLawForm.controls.efficiencyDrive.errors.required">Value required.</span>
                      <span *ngIf="fanAffinityLawForm.controls.efficiencyDrive.errors.max">Value can't be greater than
                        {{fanAffinityLawForm.controls.efficiencyDrive.errors.max.max}}.</span>
                      <span *ngIf="fanAffinityLawForm.controls.efficiencyDrive.errors.greaterThan != null">Value must be greater than
                        {{fanAffinityLawForm.controls.efficiencyDrive.errors.greaterThan}}.</span>
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="w-100 header mx-2 mb-4">
          <h3>Baseline &amp; Modification</h3>
        </div>

        <div class="d-block d-lg-flex w-100">

          <!-- Baseline -->
          <div class="col-12 col-lg-6 mb-4">
            <label class="group-label my-1">
              Baseline
            </label>
            <app-fan-affinity-law-form [fanAffinityLawForm]="fanAffinityLawForm" [settings]="settings" [isBaseline]="true"
              (emitChange)="changeField($event)" (calculate)="getResults()"></app-fan-affinity-law-form>

            <div class="w-100 justify content-center btn-group btn-group-sm">
              <button type="button" class="btn btn-danger pull-right btn-sm btn-margin-10 active" (click)="btnResetData()">
                Reset Data
              </button>
              <button type="button" class="btn btn-primary pull-right btn-sm m-2 btn-form" (click)="btnGenerateExample()">
                Generate Example
              </button>
            </div>
          </div>

          <!-- Modification -->
          <div class="col-12 col-lg-6 mb-4">
            <ng-container *ngIf="modificationExists">
              <label class="group-label my-1">
                Modification
              </label>
              <app-fan-affinity-law-form [fanAffinityLawForm]="fanAffinityLawForm" [settings]="settings" [isBaseline]="false"
                (emitChange)="changeField($event)" (calculate)="getResults()"></app-fan-affinity-law-form>
            </ng-container>

            <div *ngIf="!modificationExists">
              <label class="group-label my-1">
                Modification
              </label>
              <div class="p-3 no-data">
                <h3>Once you have set up your baseline..</h3>
                <button type="button" class="btn btn-primary active" (click)="createModification()">Add Modified
                  Condition</button>
                <p>Set the new/modified conditions to compare against your current baseline.</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <!-- help panel -->
    <div class="calculator-panel-container help-panel" [ngClass]="{'small-screen-tab': smallScreenTab === 'details'}"
      [ngStyle]="{'height.px': containerHeight}">
      <div class="d-flex flex-column mh-100">
        <div class="d-flex flex-wrap tabs primary sticky-top">
          <div class="flex-fill panel-tab-item h-100" [ngClass]="{'active': tabSelect == 'results'}">
            <a class="border-left-0 h-100 d-flex justify-content-center align-items-center" (click)="setTab('results')">
              <div>Results</div>
            </a>
          </div>
          <div class="flex-fill panel-tab-item h-100" [ngClass]="{'active': tabSelect == 'help'}">
            <a class="h-100 d-flex justify-content-center align-items-center" (click)="setTab('help')">
              <div>Help</div>
            </a>
          </div>
        </div>

        <div class="p-2">
          <app-fan-affinity-law-results *ngIf="tabSelect === 'results'" [settings]="settings"
            [fanAffinityLawResults]="fanAffinityLawResults" [modificationExists]="modificationExists"></app-fan-affinity-law-results>
          <app-fan-affinity-law-help *ngIf="tabSelect === 'help'" [settings]="settings"
            [currentField]="currentField"></app-fan-affinity-law-help>
        </div>

      </div>
    </div>

  </div>

</div>
