<div class="card row">
  <div class="card-block">
    <form [formGroup]="curveConstants.form">
      <div class="row form-group">
        <label class="col-8 col-form-label small" for="specificGravity">Fluid Specific Gravity</label>
        <div class="col-4 input-group input-group-sm">
          <input type="number" class="form-control" formControlName="specificGravity" id="specificGravity" (keyup)="checkInputs()">
        </div>
      </div>
      <div class="row form-group">
        <label class="col-8 col-form-label small" for="systemLossExponent">System Loss Exponent, C</label>
        <div class="col-4 input-group input-group-sm">
          <input type="number" class="form-control" formControlName="systemLossExponent" id="systemLossExponent" (keyup)="checkInputs()">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card row">
  <div class="card-block">
    <form [formGroup]="pointOne.form">
      <div class="row form-group">
        <label class="col-6 col-form-label small" for="pointAdjustment">Point 1</label>
        <div class="col-6 input-group input-group-sm">
          <select class="form-control" formControlName="pointAdjustment" id="pointAdjustment">
            <option>Baseline</option>
            <option>Adjustment 1</option>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-6 col-form-label small" for="flowRate">Flow Rate (gpm)</label>
        <div class="col-6 input-group input-group-sm">
          <input type="number" class="form-control" formControlName="flowRate" id="flowRate" (keyup)="checkInputs()">
        </div>
      </div>
      <div class="row form-group">
        <label class="col-6 col-form-label small" for="head">Head</label>
        <div class="col-6 input-group input-group-sm">
          <input type="number" class="form-control" formControlName="head" id="head" (keyup)="checkInputs()">
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <small>Fluid Power, hp</small>
        </div>
        <div class="col-6 text-center">
          <small>{{pointOne.fluidPower| number:'2.2-2'}}</small>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card row">
  <div class="card-block">
    <form [formGroup]="pointTwo.form">
      <div class="row form-group">
        <label class="col-6 col-form-label small" for="pointAdjustment">Point 1</label>
        <div class="col-6 input-group input-group-sm">
          <select class="form-control" formControlName="pointAdjustment" id="pointAdjustment">
            <option>Baseline</option>
            <option>Adjustment 1</option>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-6 col-form-label small" for="flowRate">Flow Rate (gpm)</label>
        <div class="col-6 input-group input-group-sm">
          <input type="number" class="form-control" formControlName="flowRate" id="flowRate" (keyup)="checkInputs()">
        </div>
      </div>
      <div class="row form-group">
        <label class="col-6 col-form-label small" for="head">Head</label>
        <div class="col-6 input-group input-group-sm">
          <input type="number" class="form-control" formControlName="head" id="head" (keyup)="checkInputs()">
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-6">
        <small>Fluid Power, hp</small>
      </div>
      <div class="col-6 text-center">
        <small>{{pointTwo.fluidPower | number:'2.2-2'}}</small>
      </div>
    </div>
  </div>
</div>
