<ul class="tabs subtabs progress-tabs water-assessment d-none d-lg-block">
    <li [ngClass]="systemBasicsClassStatus">
        <a (click)="changeSetupTab('system-basics')">
            <span (mouseenter)="showTooltip(systemBasicsBadge)" (mouseleave)="hideTooltip(systemBasicsBadge)"
                class="step-number">1</span>Assessment Settings</a>
    </li>
    <li [ngClass]="intakeSourceClassStatus">
        <a (click)="changeSetupTab('water-intake')">
            <span (mouseenter)="showTooltip(intakeSourceBadge)" (mouseleave)="hideTooltip(intakeSourceBadge)"
                class="step-number">2</span>Water Intake</a>
    </li>
    <li [ngClass]="dischargeOutletClassStatus">
        <a (click)="changeSetupTab('water-discharge')">
            <span (mouseenter)="showTooltip(dischargeOutletBadge)" (mouseleave)="hideTooltip(dischargeOutletBadge)"
                class="step-number">3</span>Water Discharge</a>
    </li>
    <li [ngClass]="waterUsingSystemClassStatus">
        <a (click)="changeSetupTab('water-using-system')">
            <span (mouseenter)="showTooltip(waterUsingSystemBadge)" (mouseleave)="hideTooltip(waterUsingSystemBadge)"
                class="step-number">4</span>Water Using System</a>
    </li>
</ul>

<nav class="hide-print d-flex d-lg-none tabs subtabs progress-tabs water-assessment flex-wrap flex-fill">
    <ul class="pagination d-flex justify-content-between tabs subtabs progress-tabs flex-fill water-assessment">
        <li class="page-item" [ngClass]="{'disabled': setupTab == 'system-basics' || !canContinue}">
            <a class="nav-link small" (click)="back()" [ngClass]="{'disabled': setupTab == 'system-basics' || !canContinue}">
                <span class="fa fa-chevron-left"></span></a>
        </li>
        <li class="page-item" [ngClass]="systemBasicsClassStatus" *ngIf="setupTab == 'system-basics'">
            <a class="nav-link small" (click)="changeSetupTab('system-basics')">
                <span (mouseenter)="showTooltip(systemBasicsBadge)" (mouseleave)="hideTooltip(systemBasicsBadge)"
                    class="step-number">1</span>Assessment Basics</a>
        </li>
        <li class="page-item" [ngClass]="intakeSourceClassStatus" *ngIf="setupTab == 'water-intake'">
            <a class="nav-link small" (click)="changeSetupTab('water-intake')">
                <span (mouseenter)="showTooltip(intakeSourceBadge)" (mouseleave)="hideTooltip(intakeSourceBadge)"
                    class="step-number">2</span>Water Intake</a>
        </li>
        <li class="page-item" [ngClass]="dischargeOutletClassStatus" *ngIf="setupTab == 'water-discharge'">
            <a class="nav-link small" (click)="changeSetupTab('water-discharge')">
                <span (mouseenter)="showTooltip()" (mouseleave)="hideTooltip(dischargeOutletBadge)"
                    class="step-number">3</span>Water Discharge</a>
        </li>
        <li class="page-item" [ngClass]="waterUsingSystemClassStatus" *ngIf="setupTab == 'water-using-system'">
            <a class="nav-link small" (click)="changeSetupTab('water-using-system')">
                <span (mouseenter)="showTooltip(waterUsingSystemBadge)" (mouseleave)="hideTooltip(waterUsingSystemBadge)"
                    class="step-number">4</span>Water Using System</a>
        </li>
        <li class="page-item" [ngClass]="{'disabled': !canContinue}">
            <a class="nav-link small" (click)="continue()" [ngClass]="{'disabled': !canContinue}">
                <span class="fa fa-chevron-right"></span></a>
        </li>
    </ul>
</nav>
