/*
HTML Elements
========================================================= */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body::-webkit-scrollbar {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.inline dt {
  float: left;
  margin-right: 10%;
  max-width: 50%;
  font-weight: bold;
}

.inline dd {
  text-align: right;
  margin-left: 55%;
  margin-bottom: .5em;
}

.inline dd::after {
  content: " ";
  display: block;
  clear: left;
}

/*
Typography
======================================================== */
html, body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  font-size: 18px;
  height: 100%;
  background: #ececec;
}
h1, h2, h3, h4, h5 {
  font-weight: 300;
}
h2 {
  font-weight: 700;
  color: #222;
}

.bold{
  font-weight: bold;
}

/*
Buttons
=============================================== */
.btn {
  border-radius: 2px;
  padding: 14px 26px 12px;
  font-size: 16px;
  line-height: 1;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}
.btn-block {
  display: block;
}
.btn:hover {
  cursor: pointer;
}
.btn-primary {
    color: #fff;
    background: #2980b9;
    border-color: #000B13;
    font-weight: normal;
}
.btn-secondary {
  color: #343434;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 100%);
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 );
  border-color: #717171;
}
.btn.disabled, .btn:disabled {
    opacity: 1;
}
.btn-primary.disabled, .btn-primary:disabled,
.btn-secondary.disabled, .btn-secondary:disabled {
    color: #c5c5c5;
    background: #ffffff;
    border-color: #d8d8d8;
    box-shadow: none;
}
.btn-link {
  box-shadow: none;
}
.numberCircle {
    border-radius: 50%;
    width: 22px;
    font-size: 18px;
    background-color: #81D4FA;
        padding-left: 5px;
    padding-right: 5px;
}
.numberCircle span {
    text-align: center;
    line-height: 22px;
    display: block;
}

.unsaved{
  background-color: #F5B7B1;
}


/*
Badges
=============================================== */
.badge {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  /*font-style: italic;*/
  padding: 3px 3px;
  border-radius: 2px;
}
  .gray-badge {
    color: #000;
    vertical-align: super;
    /*background-color: #eaeaea;*/
    background-color: #BF3D00;
    /*border: 1px solid;*/
    /*border-bottom-right-radius: 45%;*/
    /*border-top-left-radius: 45%;*/
    border-radius: 50%;
    padding: 2px 6px 11px 4px;
    /*box-shadow: 2px 2px #888888;*/
    font-size: 10px;
    color: #fff;
    width: 14px;
    height: 14px;
  }

.required-asterisk {
  color: #ff0000;
  font-size: 20px;
  font-weight: bold;
}
.required-asterisk-done {
  color: #1E7640;
  font-size: 20px;
  font-weight: bold;
}

/*
Forms
=============================================== */
label {
  margin-bottom: 0;
  font-size: 15px;
}
.form-group {
  margin: 4px 0;
  position: relative;
}
  .form-group:hover {
    background: #D5D8DC;
  }
  .modal .form-group:hover {
    background: transparent;
  }
.form-control {
  border-radius: 0;
  border-color: #9c9c9c;
  width: inherit;
  padding: 2px;
  line-height: 1;
  font-size: 14px;
}
.form-text {
  margin-top: 0;
}
.note-form {
  margin-bottom: 16px;
}
select.form-control:not([size]):not([multiple]) {
  height: inherit;
}
.tab-content .form-group:after {
  display: table;
  content: "";
  clear: both;
}
  .tab-content .form-group .form-control, .tab-content .form-group label, .tab-content .form-group .form-check {
    float: left;
  }
  .tab-content .form-group .form-check label {
    float: none;
  }
  .tab-content .form-group label {
    width: 50%;
  }
  .tab-content .form-group .form-control {
    width: 50%;
  }


.form-check-input {
  vertical-align: top;
  margin-top: 5px;
  margin-right: 8px;
  padding: 3px;
}

.input-group {
  width: inherit;
}

.incrementor {
  border:  #9c9c9c solid 1px;
  padding: 0;
}
  .tab-content .form-group .form-control.incrementor .form-control {
    width: 58px;
  }
.incrementor .btn {
  border-right: #c9c9c9 solid 1px;
  background: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );
  padding: 5px;
  font-size: 10px;
}


.incrementor input.form-control {
  border: none;
  padding-left: 4px;
}

.form-spacer{
  padding-top: 15px;
}

.card-form{
  padding-top: 15px;
}

.card-form:first-of-type{
  padding-top: 0px;
}


.card-form .form-section {
  margin-bottom: 10px;
  padding-bottom: 4px;
  border-bottom: #bbb dashed 1px;
}

.units{
    background: white;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-radius: 0;
    padding-right: .25rem;
    padding-left: .25rem;
    border-color: #9c9c9c;
    border-top: solid;
    border-width: 1px;
    margin-bottom: 0px;
    border-style: inset;
    box-shadow: none;
    border-left: none;
      color: #a9a9a9;
        font-size: 14px;
             left: 0px;
     right: 0px;
     top: 0px;
     position: inherit;
 }

 .disabled .units{
   background-color: #eceeef;
 }

 .addon-input{
     padding-left: 2px;
 }

 .calc-addon-group{
          width: 50%;
     min-width: 150px;
 }
 .incrementor .units{
   border-top: none;
   border-right: none;
   border-bottom: none;
   border-left: solid;
 }

 .incrementor .addon-input{
   border-right: solid 1px #9c9c9c !important;
 }

.psat .indicate-different{
  border: #2980b9 solid 2px;
  box-shadow: 0px 0px 5px #2980b9;
}

.psat .indicate-report-field-different{
    color: #2980b9 !important;
    font-weight: bold !important;
}

.psat .indicate-report-row-different{
    border: #2980b9 solid !important;
}

.phast .indicate-different{
  border: #BF3D00 solid 2px;
  box-shadow: 0px 0px 5px #BF3D00;
}
.phast .indicate-different-db{
  border: #006120 solid 2px;
  box-shadow: 0px 0px 5px #006120;
}

.phast .indicate-different-db{
  border: #538055 solid 2px;
  box-shadow: 0px 0px 5px #538055;
}


.phast .indicate-report-field-different{
    color: #BF3D00 !important;
    font-weight: bold !important;
}

.phast .indicate-report-field-different-db{
  color: #006120 !important;
  font-weight: bold !important;
}

.phast .indicate-report-row-different{
    border: #BF3D00 solid !important;
}

.input-error{
  color: red;
}

@media print {

.indicate-report-field-different{
    background: none;
    font-weight: bold !important;
}

.indicate-report-row-different{
    border: none;
}
}

/*.input-warning{
    border: #fff3cd solid 4px;
    padding: 4px;
}*/

.alert-warning{
    text-align: center;
            margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding: 2px;
}

.alert-danger{
      text-align: center;
    padding: 2px;
                margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

/*
Pump Fluid CSS
=============================================== */
/**/

canvas {
  display: block;
  float: left;
  height: 30px !important;
  width: 30px !important;
  margin: 0px 5px 0 0;
}
app-nema-energy-efficiency-graph canvas {
    height: 250px !important;
    width: 250px !important;
}
app-nema-energy-efficiency-graph h1 {
    position: absolute;
    top: 123px;
    left: 112px;
    font-size: 30px !important;
}

/*
In-Assessment Calculators
=============================================== */
.tab-content form h5, .tab-content .form h5 {
  margin-bottom: 20px;
  font-weight: bold;
}
.calc-form {
  padding: 20px 30px;
  /*height: 100vh;*/
  background: #fff;
  border-right: #bbb solid 1px;
}
  .calc-form form {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: #D5D8DC solid 1px;
  }
   .calc-form .form-group label {
    font-size: 15px;
    width: 60%;
  }
  .tab-content .calc-form .form-group .form-control {
    width: 40%;
  }
.calc-help {
  margin-top: 10px;
  padding-left: 20px;
}
  .calc-help h3 {
    font-size: 20px;
    font-weight: bold;
  }



/*
Popovers (Contextual Help)
=============================================== */
.popover{
  max-width: 1000px;
}

.popover.right{
  margin-left: 15px;
}

.popover-title{
  color: white;
  background-color: #044976;
}

.popover-lg{
  width: 300px;
  height: 300px;
}

.popover-md{
  width: 150px;
  height: 150px;
}

.popover-sm{
  width:75px;
  height: 75px;
}


/*
Modals
=============================================== */
.fade{
  opacity: 1;
}
.modal-dialog{
  top: 10vh;
}
.modal-backdrop
{
  opacity:0.75 !important;
}
.help-text{
  font-size: small;
  color: gray;
}
.psat-view {
  font-style: italic;
}
.modal h3 {
  font-size: 22px;
  margin-bottom: 0;
  width: 100%;
}

.close:hover{
  font-weight: bold;
  cursor: pointer;
}



/*
Data Tables
=========================================== */

.table-header {
  background: #fff;
  padding: 15px 15px 6px;
  border-top: #bfbfbf solid 1px;
  border-left: #ddd solid 1px;
  border-right: #ddd solid 1px;
  border-bottom: #bfbfbf solid 1px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
}

  .table-header .actions {
    margin-bottom: 8px;
  }
  .table-header .actions .btn {
    padding: 8px 10px 6px;
    font-size: 15px;
  }
  .table-header .header input {
    margin: 7px 10px 0 0;
    vertical-align: top;
  }
  .table-header .header label {
    display: inline-block;
    margin-top: 2px;
  }


/*
Reports
========================================== */
.output-summary .table {
    font-size: 14px;
}
.output-summary .table th {
    border: none;
    padding: 0px;
    text-align: left;
    font-size: 12px;
}
.output-summary .table td {
    padding: 0px;
}


.output-summary .table tr.callout td {
    font-weight: bold;
}
.assessment-report {
    background: #fff;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
    border: #ababab solid 1px;
    /* margin-bottom: 4em; */
}

    .assessment-report .tabs.primary li:first-of-type a {
        border-left: none;
    }
    .assessment-report .tabs.primary a {
        padding: 10px 44px;
    }

    .report-header, .report-data .results {
        padding: 10px 20px;
    }
    .report-header {

    }
    .report-data {
        border-top: #ddd solid 1px;
    }

.assessment-report.report-in-psat .assessment-name,
.assessment-report.report-in-rollup.report-in-psat .assessment-name {
    background-image: url('../assets/images/ico-psat-diagram.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 33px;
    padding: 9px 0 0px 48px;
}
.assessment-report.report-in-phast .assessment-name,
.assessment-report.report-in-rollup.report-in-phast .assessment-name {
    background-image: url('../assets/images/ico-phast-diagram.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 33px;
    padding: 0px 0 0px 30px;
}


.assessment-report .report-header:after {
    display: table;
    content: "";
    clear: both;
}
.assessment-report .report-header .btn-group {
    float: right;
}
    .assessment-report .report-header .btn {
        padding: 8px 14px;
        margin-top: 20px;
    }
.assessment-report .assessment-name {
    float: left;
}

.assessment-report .assessment-name span {
    color: #999;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 0;
}


/*
Assessments: Grid & List View Shared Styles
=========================================== */
.list-row input, .list-card input {
  margin-right: 8px;
}

/*
Assessments: List View
=========================================== */
.list-view .list-item:nth-child(even) .list-row {
  background: #f2f5f7;
}
.list-row {
  padding: 14px;
  background: #fbfbfb;
  border-color: #d6d6d6;
  border-style: solid;
  border-width: 0 1px 1px;
}
  .list-row:after {
    display: table;
    clear: both;
    content: "";
  }
  .list-row .actions {
    width: 50%;
    font-size: 14px;
    float: right;
    text-align: right;
  }
    .list-row .actions a {
      display: inline-block;
      margin-right: 10px;
    }
      .list-row .actions a:hover {
        text-decoration: none;
        color: #0076FF;
      }
  .list-row .assessment-name {
    float: left;
    padding-right: 20px;
    width: 50%;
    margin-bottom: 0;
  }

    .list-row.psat .assessment-name a,
    .list-row.phast .assessment-name a {
      background-repeat: no-repeat;
      background-size: 15px;
      padding-left: 22px;
    }
    .list-row.psat .assessment-name a {
      background-image: url('../assets/images/ico-psat-diagram-small.png');
    }
    .list-row.phast .assessment-name a {
      background-image: url('../assets/images/ico-phast-diagram-small.png');
    }
  .drag-handle, .list-row input, .assessment-name {
    display: inline-block;
    vertical-align: top;
  }
  .list-row input {
    margin-top: 6px;
  }
  .drag-handle {
    color: #d6d6d6;
    font-size: 20px;
    margin: 0px 14px 0 0;
  }
    .drag-handle:hover {
      cursor: grab;
    }
    .drag-handle .fa {
      margin-left: -3px;
    }
    .drag-handle .fa:nth-child(1) {
      margin-left: 0;
    }
  .assessment-name .fa {
    margin-left: -5px;
    padding-right: 5px;
  }
  .assessment-name {
    font-weight: 300;
    margin-bottom: 6px;
  }
    .assessment-name span {
      color: #8a8a8a;
      display: block;
      margin-left: 23px;
      margin-top: -6px;
    }
  .folder .assessment-name .fa {
    color: #434343;
  }
  .assessment-list-type {
    display: block;
    padding: 3px;
  }
  .assessments .psat .assessment-name .assessment-list-type {
    background: #2980b9;
  }
  .assessments .phast .assessment-name .assessment-list-type {
    background: #BF3D00;
  }
  .assessments .psat .assessment-name, .assessments .phast .assessment-name {
    display: inline;
    padding-left: 20px;
    background-size: 16px;
  }


/*
Assessments: Grid View
=========================================== */
/* .list-card {
  border: #95A4AF solid 1px;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(149,164,175,0.3);
  -moz-box-shadow: 0px 2px 6px 0px rgba(149,164,175,0.3);
  box-shadow: 0px 2px 6px 0px rgba(149,164,175,0.3);
  padding: 20px;
  position: relative;
  min-height: 320px;
}
  .list-card input[type="checkbox"] {
    vertical-align: top;
    margin-top: 6px;
  }
  .list-card button {
    position: absolute;
    left: 20px;
    bottom: 20px;
    background: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
    font-size: 14px;
    color: #0076FF;
  }
    .list-card button:hover {
      cursor: pointer;
    }
  .list-card .menu {
    display: none;
  }
  .last-updated {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 13px;
    color: #999;
  } */





/*
Section Headers
=========================================== */
.section-header {
  padding-bottom: 10px;
  border-bottom: #bbb solid 1px;
}
.section-header:after {
  display: table;
  content: "";
  clear: both;
}
.section-header h3 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
.section-header .btn {
  padding: 8px 10px 6px;
}



/*
Breadcrumb
=========================================== */
.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 6px;
  font-size: 18px;
}

.list-menu {
  margin-top: 20px;
}

  .breadcrumb .active a {
    color: #333;
  }
  .breadcrumb .active a:hover {
    text-decoration: none;
  }


.main-menu .btn {
  padding: 8px 10px 6px;
  font-size: 15px;
}

.space-left {
  margin-left: 20px;
}



/*
Sidebar
=========================================== */
.sidebar {
  border-right: #ddd solid 1px;
}
  .psat.fa {
    color: #2980b9;
  }
  .phast.fa {
    color: #d35400;
  }


.sidebar-bg {
  min-height: 100%;
  background-color: #fff;
	box-shadow: 0px 0px 69px -1px rgba(0,0,0,0.2);
	background: #fff;
}


.dashboard-content{
    height: 100vh;
    background-color: #ececec;
}

.doe-logo {
  width: 100%;
  margin-bottom: 10px;
}
  .doe-logo:hover {
    cursor: pointer;
  }
.sidebar-group {
  margin-bottom: 12px;
}

.sidebar-group .btn-primary {
  padding: 8px;
}
.sidebar-group h3 {
  text-transform: uppercase;
  font-size: 12px;
  color: #898989;
  letter-spacing: 1px;
  margin-bottom: 6px;
}
.sidebar-group ul, .sidebar-group li {
  padding: 0;
  margin: 0;
}
.sidebar-group li {
  list-style: none;
  margin: 0;
  line-height: 1;
}
.sidebar-group li span, .sidebar-group li > a, .sidebar-group li > a:not([href]):not([tabindex])  {
  font-size: 17px;
  display: block;
  color: #2d2d2d;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}

.sidebar-group li span:hover{
  background-color: #eee;
  cursor: pointer;
}
.sidebar-group li span.disabled {
  font-size: 15px;
  color: #a0a0a0;
}
.sidebar-group li span.disabled:hover {
  cursor: default;
}
.sidebar-group.secondary {
  border-top: #ddd dotted 1px;
  padding-top: 12px;
}
.sidebar-group.secondary li > span, .sidebar-group.secondary li > a, .sidebar-group.secondary li > a:not([href]):not([tabindex]) {
  color: #787878;
}
  .sidebar-group li span:hover {
    cursor: pointer;
  }
.sidebar-group li.selected span {
  color: #000;
  background: #eee;
  font-weight: bold;
}

.sidebar-group li.sub-directory .sub-directory {
  margin-left: 20px;
}
.sidebar-group li.sub-directory > span {
  padding: 0;
}
  .sidebar-group .assessments .psat,
  .sidebar-group .assessments .phast {
    /* background-repeat: no-repeat;
    background-size: 16px;
    background-position: left 4px;
    margin-left: 18px; */
  }
  .sidebar-group .assessments .psat .sidebar-icon  {
    background-image: url('../assets/images/ico-psat-diagram-small.png');
  }
  .sidebar-group .assessments .phast .sidebar-icon {
    background-image: url('../assets/images/ico-phast-diagram-small.png');
  }



/*
Content Container
=============================================== */
.content-container {
  background: #fff;
  padding: 40px;
  border: #ddd solid 1px;
  border-radius: 4px;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.07);
  -moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.07);
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.07);
}

  .content-container h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .content-container h3 {
    font-size: 22px;
    font-weight: bold;
  }
  .content-container h4 {
    font-size: 18px;
    font-weight: bold;
  }




/*
Default Settings
=============================================== */
.default-settings form {
  margin-bottom: 30px;
}
.default-settings .actions:after {
  display: table;
  content: "";
  clear: both;
}
.reset-data {
  margin-top: 60px;
  padding-top: 40px;
  border-top: #eee solid 1px;
}

/*
Calculators
=============================================== */
.calculator-list ul {
  margin: 0 0 40px;
  padding: 0;
}
  .calculator-list li {
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: #eee solid 1px;
    list-style: none;
  }
  .calculator-list a {

  }
  .calculator-list p {
    margin-bottom: 0;
    font-size: 16px;
  }


.calculator .secondary-header {
  padding: 20px;
  margin: 20px 0;
  border-color: #ddd;
  border-style: solid;
  border-width: 1px 0 1px;
  background: #fafafa;
}


.calculator h2 {
  margin: 40px 0 20px;
}
.calculator .calculator-container .calc-form {
  height: inherit;
  border-right: none;
  padding: 0;
  background: transparent;
}
  .calculator .calculator-container .calc-form .form-group label, .calculator .calculator-container .calc-form .form-group .form-control {
    width: 90%;
  }
.calculator .calculator-container .calc-graph {
  padding-top: 0;
}
  .calculator .calculator-container .calc-form .wrapper {
    margin: 0;
  }

.calculator .calc-form .form-group label.section-label {
  font-size: 18px;
}

.calculator .form-section {
  margin-bottom: 10px;
  padding-bottom: 18px !important;
  border-bottom: #bbb dashed 1px;
}

.calculator .form-group label {
  font-weight: bold;
}

.calculator .form-group:hover {
  background: transparent;
}

.ico-size {
  height: 55px;
  background: linear-gradient(rgba(228, 219, 219, 0.34), rgba(30, 144, 255, 0.26));
  /*background-color: rgba(41, 128, 185, 0);*/
  border-radius: 15px;
  border: 0.1px solid rgba(123, 120, 120, 0.25);
  box-shadow: #7b7878 2px 2px 5px 1px;
}

.ico-size2 {
  height: 55px;
  background: linear-gradient(rgba(228, 219, 219, 0.34), rgba(255, 0, 22, 0.42));
  /*background-color: rgba(41, 128, 185, 0);*/
  border-radius: 15px;
  border: 0.1px solid rgba(123, 120, 120, 0.25);
  box-shadow: #7b7878 2px 2px 5px 1px;
}

.ico-size3 {
  height: 55px;
  background: linear-gradient(rgba(228, 219, 219, 0.34), rgba(187, 187, 187, 0.65));
  /*background-color: rgba(41, 128, 185, 0);*/
  border-radius: 15px;
  border: 0.1px solid rgba(123, 120, 120, 0.25);
  box-shadow: #7b7878 2px 2px 5px 1px;
}

.ico-size4 {
  height: 55px;
  background: linear-gradient(rgba(228, 219, 219, 0.34), rgba(107, 132, 106, 0.65));
  /*background-color: rgba(41, 128, 185, 0);*/
  border-radius: 15px;
  border: 0.1px solid rgba(123, 120, 120, 0.25);
  box-shadow: #7b7878 2px 2px 5px 1px;
}

.calc-item-row{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: #eee solid 1px;
}


/* Pump Head
================================================ */
.pump-head select.form-control:not([size]):not([multiple]) {
  width: auto;
}
.units-of-measure {
  margin-bottom: 30px;
}
  .units-of-measure a {
    display: inline-block;
    margin-left: 6px;
  }
.pump-head .tabs.primary {
  background: transparent;
}

.pump-head .tabs.primary a {
  border-top: #c8c8c8 solid 1px;
  font-size: large;
  font-weight: bold;
}
.pump-head .tab-content {
  background: #fff;
  border-color: #c8c8c8;
  border-style: solid;
  border-width: 0 1px 1px;
  padding: 20px;
}
.pump-head dl {
  margin-bottom: 0;
}
.pump-head dt:last-of-type, .pump-head dd:last-of-type {
  font-size: 22px;
  font-weight: bold;
}




/*
Footer
=============================================== */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 12px;
  background: #fff;
  border-top: #8b8b8b solid 1px;
  z-index: 5;
}
.footer:after {
  display: table;
  clear: both;
  content: "";
}
.footer .btn {
  padding: 12px;
}


.pills-nav {
  display: flex;
}
  .pills-nav li {
    list-style: none;
    margin: 0 2px;
  }
  .pills-nav span {
    background: rgba(0,0,0,0);
    padding: 7px 9px;
    border-radius: 6px;
    font-size: 16px;
  }
  .pills-nav .active span {
    background: rgba(0,0,0,0.5);
  }
  .pills-nav span:hover {
    background: rgba(0,0,0,0.3);
    cursor: pointer;
  }
  .pills-nav .disabled span {
    color: rgba(255,255,255,0.3);
  }
    .pills-nav .disabled span:hover {
      background: transparent;
      cursor: default;
    }



/*
Banner
=============================================== */
.banner{
  font-size: 28px;
  background: #2c2c2c;
  color: #fff;
}
  .banner h1 {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: -14px;
    color: rgba(255,255,255,1);
  }
  .banner small {
    font-size: 12px;
    color: rgba(255,255,255,0.7);
  }
  .banner.psat {
    background: #2980b9;
    margin-left: 0px;
    margin-right: 0px;
  }
  .banner.phast {
    background: #BF3D00;
  }
.banner:after {
  display: table;
  content: "";
  clear: both;
}

.banner .btn-dashboard, .banner .title, .banner .settings {
  display: inline-block;
  padding: 7px 10px;
  color: #fff;
}
.banner .btn-dashboard {
  float: right;
  font-size: 13px;
  padding: 12px 20px;
}
  .banner .btn-dashboard span {
    font-size: 23px;
    font-weight: bold;
  }

  .banner.psat .btn-dashboard:hover {
     background-color: #0063a4;
  }
  .banner.phast .btn-dashboard:hover {
    background-color: #a83600;
  }

.banner .btn-dashboard:hover {
  text-decoration: none;
  cursor: pointer;
}
.banner .title {
  padding: 0 10px;
}
.banner .title, .banner .pills-nav {

}
.banner .pills-nav {

}
.banner.psat .title {
  color: #fff;
  padding-left: 58px;
  background: url('../assets/images/ico-psat-diagram.png') no-repeat 14px;
  background-size: 31px;
}
.banner.phast .title {
  color: #fff;
  padding-left: 75px;
  background: url('../assets/images/phast-logo.png') no-repeat 10px;
  background-size: 60px;
  /*background-color: #000B13;*/
}

.banner-border{
  border-bottom: solid;
  border-width: 1px;
  border-color: slategray;
}

/*.tab-content {
  min-height: 100%;
}*/
  .tab-content .wrapper {
      max-width: 1024px;
      width: 100%;
      margin: 40px auto;
      display: flex;
  }
  .form, .help {
    padding: 20px;
  }
  .form {
    width: 60%;
  }
  .help {
    width: 40%;
  }



/*
Modify Conditions
========================================= */
.modify-conditions {
  align-items: stretch;
  display: flex;
}

.modify-conditions .help-panel {
}
  .modify-conditions .help-panel .btn-group {
    margin-bottom: 20px;
  }
  .modify-conditions .help-panel .btn-group .btn {
    padding: 10px 15px 9px;
  }
  .modify-conditions .help-panel .help-header, .modify-conditions .help-panel .help-content {
    text-align: left;
  }



.modification {
  background: #fff;
  -webkit-box-shadow: 0px 0px 69px -1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 69px -1px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 69px -1px rgba(0,0,0,0.2);
  z-index: 2;
  width: 35%;
  padding-left: 25px;
}
.converter-col {
  height: 100%;
}
.converter-content {
  padding-top: 4%;
}
  /* .modification .header {
    display: block;
    border-bottom: #ddd solid 1px;
  } */
    /* .modification .header:after {
      display: table;
      content: "";
      clear: both;
    } */
    /* .modification .header h3 {
      margin: 10px 0 0px 10px;
      font-size: 15px;
      text-transform: uppercase;
      display: inline-block;
      letter-spacing: 4px;
      font-weight: bold;
    } */

    /* .disabled.modification .header h3{
      font-weight: normal;
    } */

    /* .modification .header button {
      background: #fff;
      border: none;
      border-left: #D5D8DC solid 1px;
      margin: 0;
      padding: 4px 16px;
      float: right;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 2;
    }
      .modification .header button:hover {
        cursor: pointer;
        background: #D5D8DC;
      } */

  .modification.disabled, .modification.disabled button, .modification.disabled textarea {
    border-color: #ddd;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    z-index: 1;
    background: none;
  }
    .modification.disabled:hover, .modify-conditions .no-data:hover {
      background: #fff;
      cursor: pointer;
    }

    .modify-conditions .no-data {
      width: 35%;
    }

    .no-data-phast{
      width: 100% !important;
    }

    .modify-conditions app-help-panel  {
      width: 30%;
    }
    .modify-conditions app-losses-help  {
      width: 30%;
    }

.modifications-list {
  background: #f1f1f1;
  height: 100%;
}
.modifications-list ul {
  margin: 0;
  padding: 0;
}
  .modifications-list li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .modifications-list button {
    display: block;
    background: #fff;
    width: 100%;
    text-align: left;
    padding: 20px;
    border: none;
    border-bottom: #ddd solid 1px;
  }

  .modifications-list li:nth-last-child(2) button {
    border-bottom: #989898 solid 1px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  }

    .modifications-list button:hover {
      background: #eee;
      cursor: pointer;
    }

  .modifications-list .add-modification {
    text-align: center;
    padding: 40px 20px;
  }
  .modifications-list .add-modification button {
    width: auto;
    border: #989898 solid 1px;
    padding: 10px 50px;
    display: inline-block;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  }
  .modifications-list .add-modification p {
    font-size: 16px;
    color: #989898;
    padding: 4px 20px;
  }

.edit-modification {
  height: 100%;
  background: #fff;
}
  .tab-content .edit-modification .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .tab-content .edit-modification .form-group input {
    width: 100%;
    padding: 10px;
  }
    .tab-content .edit-modification .form-group:hover {
      background: #fff;
    }

  .edit-modification .actions {
    margin-top: 16px;
    margin-bottom: 100px;
  }
    .edit-modification .actions:after {
      display: table;
      content: "";
      clear: both;
    }

  a.delete-modification, a:not([href]):not([tabindex]).delete-modification {
    display: block;
    text-align: center;
    color: #ff0000;
  }
  .edit-modification a.btn-primary, .edit-modification a:not([href]):not([tabindex]).btn-primary {
    color: #fff;
  }

.note-form textarea {
  width: 100%;
    border: #D5D8DC solid 1px;
    padding: 6px 8px;
    font-size: 15px;

}
  .note-form textarea::placeholder {
    font-style: italic;
    color: #929292;
  }




/*
Help Panel Cards
========================================= */
.help-col {
  padding: 0;
}

.help-header, .help-content {
  padding: 25px 0px;
}
  .wrapper .help-header {
    padding-top: 0;
  }
.help-header p:last-of-type {
  margin-bottom: 0;
}
.help-panel .card {
  background-color: transparent;
  border: none;
  border-radius: 0;
}
.help-panel .card-header {
  padding: 0;
  background: none;
  border-bottom: none;
  font-weight: 100;
  font-size: 20px;
  border-radius: none;
}
  .help-panel .card-header:hover {
    cursor: default;
  }
.help-panel .card-block {
  padding: 0;
  background: none;
}

.help-panel h3 {
  font-size: 20px;
  font-weight: 100;
  color: #646464;
  line-height: 24px;
}
.help-panel p {
  font-size: 16px;
  color: #222;
}

.help-general {
  font-size: 16px;
  color: #222;
}
.wrapper .help-panel {
  padding-left: 40px;
  border-width:  0 0 0 1px;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a7a7a7), to(rgba(255, 255, 255, 0))) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(#a7a7a7, rgba(255, 255, 255, 0)) 1 100%;
  -moz-border-image: -moz-linear-gradient(#a7a7a7, rgba(255, 255, 255, 0)) 1 100%;
  -o-border-image: -o-linear-gradient(#a7a7a7, rgba(255, 255, 255, 0)) 1 100%;
  border-image: linear-gradient(to bottom, #a7a7a7, rgba(255, 255, 255, 0)) 1 100%;
}



/*
No Data Messaging
========================================== */
.no-data {
  padding: 26px 50px;
  text-align: center;
  background: #D5D8DC;
  border-right: #cacaca solid 1px;
}
.no-data h3 {
  color: #787878;
  font-size: 20px;
  padding: inherit 80px;
}
.no-data h4 {
  color: #0076FF;
  font-size: 16px;
}
.no-data:hover h4 {
  text-decoration: underline;
}
.no-data button {
  background: #fff;
  -webkit-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.2);
  border: #0099fd solid 1px;
  padding: 12px 54px;
  margin-top: 34px;
  border-radius: 4px;
}
.no-data:hover, .no-data:hover button {
  cursor: pointer;
  background: #fff;
}
.no-data p {
  font-size: 14px;
  color: #a2a2a2;
  margin-top: 6px;
}


/*
Toasty Overrides ================================= */
#toasty.toasty-position-bottom-right {
  bottom: 75px;
  right: 12px;
}





/*tmp color variables*/
.dark-bg{
  border-left: #EDEDED solid 1px;
}

.medium-bg{
  background-color: #F5F5F5;
}

.white-bg{
  background-color: white;
}


.losses-header{
    background: white;
}

.losses-container{
    /* height: 100%;
    max-height: 100%;
    padding-top: 30px;*/

    padding-right: 15px;
    padding-left: 15px;
    /*padding-bottom: 80px; */
}
/* .baseline .losses-container {
  padding-top: 103px;
} */
.losses-container.disabled, .losses-container:disabled{
    background: #D5D8DC;
}

.losses-empty{
  height:100%;
}

.psat-name{
    text-align: center;
}

.disabled-link {
    color: gray;
    pointer-events: none;
}

.disabled-link :hover {
    text-decoration: none;
}

.show-print{
    display: none;
}

@media screen and (min-width: 768px) {
  /*.rollups .pumps {
    width: 25%;
  }*/
}


.report-cover {
    display: none;
}

.report-title {
    display: block;
    width: 100%;
    text-align: center;
    margin: 40px 0 100px;
}
    .report-title h4 {
        font-size: 38px;
    }
    .report-title h5 {
        font-size: 18px;
    }


@media print{

  html, body {
    background: transparent;
  }

  .show-print{
      display: inherit;
  }
  .hide-print {
    display: none;
  }

  .psat-name{
    font-size: 13px;
  }

  .output-summary {
    margin-bottom: 20px;
    page-break-inside: avoid;
  }

  .output-summary table td {
    font-size: 11px;
    padding: 0px;
    vertical-align: middle;
  }

  .assessment-report {
      background: #fff;
      box-shadow: none;
      border: none;
  }

  .assessment-report.report-in-psat .assessment-name,
  .assessment-report.report-in-phast .assessment-name,
  .assessment-report.report-in-rollup .assessment-name {
      padding-left: 0;
  }

  .report-cover {
        display: block;
        width: 100%;
        text-align: center;
        page-break-after: always;
    }
    .doe-logo {
        width: 200px;
        display: inline-block;
        margin-top: 100px;
    }
    .report-header {
        position: static;
        border: none;
        background: none;
    }
  .report-column {
      margin: 0;
  }

  #toasty {
    display: none;
  }


}
