
.body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.banner{
  padding-top:10px;
  padding-bottom:10px;
  height:75px;
  font-size: 28px;
}

.banner-border{
  border-bottom: solid;
  border-width: 1px;
  border-color: slategray;
}


/*Modal CSS*/
.fade{
  opacity: 1;
}
.modal-dialog{
  top: 10vh;
}
.modal-backdrop
{
  opacity:0.75 !important;
}

.btn-primary{
  background-color: #003054;
}

.help-text{
  font-size: small;
  color: gray;
}
