<form #lossForm [formGroup]="flueGasLossForm">
  <div class="form-group">
    <label class="small" for="gasType">Furnace Flue Gas Temperature</label>
    <select class="form-control" formControlName="gasType" id="gasType" (change)="setProperties()">
      <option *ngFor="let option of options" [ngValue]="option.substance">{{option.substance}}</option>
    </select>
  </div>

  <div class="form-group">
    <label class="small" for="flueGasTemperature">Gas Temperature</label>
    <input type="number" class="form-control" formControlName="flueGasTemperature" id="flueGasTemperature">
    <span class="units">&#8457;</span>
  </div>

  <div class="form-group">
    <label class="small" for="excessAirPercentage">Excess Air</label>
    <input type="number" class="form-control" formControlName="excessAirPercentage" id="excessAirPercentage">
    <span class="units">%</span>
  </div>

  <div class="form-group">
    <label class="small" for="combustionAirTemperature">Combustion Air Temperature</label>
    <input type="number" class="form-control" formControlName="combustionAirTemperature" id="combustionAirTemperature">
    <span class="units">&#8457;</span>
  </div>
</form>