.version-num{
    cursor: default !important;
    color: darkslategray;
}

.fa-info-circle{
    cursor: pointer;
}

.update-available{
    cursor: pointer;
    color: darkslategray;
}

.sidebar-item:hover{
    background-color: #eee;
}