.list-group-item{
  background-color: #003054;
}

.nav-item:hover{
 text-decoration: underline;
 cursor: pointer;
}

.nav-item{
  color:white;
}

.selected{
  font-weight: bold;
}

.doe_logo{
  width:100%;
  padding:10px;
}

ul.tree, ul.tree ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color:white;
}

ul.tree ul {
  margin-left: 10px;
}


ul.tree li {
  margin: 0;
  padding: 0 7px;
  color: white;
  te`-overflow: ellipsis; 
}

/*
ul.tree li:last-child {
  border-left:none;
}
*/

ul.tree li:before {
  position:relative;
  top:-0.3em;
  height:1em;
  width:12px;
  color:white;
  display:inline-block;
  left:-7px;
}

/*
li{
  list-style: none;
  margin: 0;
  color: white;
  font-weight: bold;
}
*/
