
.btn{
    padding: 6px;
}

.router-link:hover{
    cursor: pointer;
    background-color: #efefef;
}

.importing-text{
    font-size: xx-large;
}

.form-text.small:hover{
    text-decoration: none;
    color: inherit;
    pointer-events: none;
}

.header .click-link{
    margin-top: 10px;
}

.table{
    font-size: small;
}

.select-header{
    font-size: 16px;
}