.result-table-row{
    border-left: solid 10px;
    margin-bottom: 5px;
}

td{
    padding: 0px;
    border-top: none;
}

.result-percent{
    vertical-align: middle;
    font-size: small;
    text-align: left;
}

.result-name{
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    font-size: small;
}

.result-table{
    margin-top: 25px;
}