<div class="d-flex flex-column w-100">
  <div class="btn-group mt-2 justify-content-center">
    <button type="button" class="btn btn-secondary" (click)="switchSankey('Baseline')" [ngClass]="{'active': selectedView == 'Baseline'}">Baseline</button>
    <button type="button" class="btn btn-secondary" (click)="switchSankey('Modified')" [ngClass]="{'active': selectedView == 'Modified'}">Modification</button>
  </div>
  <app-fsat-sankey *ngIf="selectedView == 'Baseline'" [fsat]="baselineSankey" [settings]="settings" [location]="'explore-opportunities-sankey'"
    [printView]="false" [isBaseline]="true" [assessmentName]="assessmentName"></app-fsat-sankey>

  <app-fsat-sankey *ngIf="selectedView == 'Modified'" [fsat]="modificationSankey" [settings]="settings" [location]="'explore-opportunities-sankey'"
    [printView]="false" [isBaseline]="false" [assessmentName]="assessmentName"></app-fsat-sankey>
</div>
