

.btn-container {
    text-align: center;
}

.btn-add-row {
    border-radius: 4px;
    margin-top: 20px;
    border: 0px solid #fff;
    background-color: #ddd;
}

.btn-add-row:hover {
    cursor: pointer;
    background-color: #aaa;
}

.btn-group {
    display: block;
    text-align: center;
}

.btn-group .btn-sm {
    font-size: small !important;
}

.btn-margin-10 {
    margin: 10px 0px;
}
.btn-form {
  border-radius: 4px !important;
}
