<div class="spinner-overlay align-items-center vw-100 text-center" *ngIf="loadingSpinner && loadingSpinner.show == true">
    <div class="spinner mt-5">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <span class="importing-text">{{loadingSpinner.msg}}</span>
</div>


<div class="d-flex w-100 h-100" *ngIf="!hasRunDayTypeAnalysis">
    <div class="card card-body d-flex flex-column align-items-center pt-4">
        <form class="p-2 w-50" [formGroup]="form">
            <div class="form-group d-flex justify-content-center">
                <label class="mr-3" for="dayTypeAverageInterval">Day Type Average Interval</label>
                <select class="form-control" id="dayTypeAverageInterval" formControlName="dayTypeAverageInterval"
                    (focus)="focusField('dayTypeAverageInterval')" (change)="changeDayTypeAverageInterval()">
                    <option *ngFor="let option of dayTypeAverageIntervalOptions" [ngValue]="option.seconds">
                        {{option.display}}
                    </option>
                </select>
            </div>
            <div class="alert-danger small px-4 py-2 mx-auto" *ngIf="conflictingIntervalsWarning">{{ conflictingIntervalsWarning}}</div>
        </form>
        <button class="btn btn-secondary" [disabled]="this.conflictingIntervalsWarning" (click)="runAnalysis()">
            <span>Run Analysis</span>
        </button>
    </div>
</div>
<div class="d-flex w-100 h-100" *ngIf="hasRunDayTypeAnalysis">
    <div class="d-flex flex-column w-100 h-100">
        <app-day-type-menu></app-day-type-menu>
        <app-day-type-graph *ngIf="dataView == 'graph'"></app-day-type-graph>
        <app-day-type-table *ngIf="dataView == 'dataTable'"></app-day-type-table>
        <div class="p-2">
            <div class="card p-0">
                <app-day-types></app-day-types>
                <app-day-type-calendar *ngIf="displayDayTypeCalander"></app-day-type-calendar>
            </div>
        </div>
    </div>
</div>