
td{
    font-size: small;
    text-align: center;
    border-right: solid 1px darkgray;
    border-left: solid 1px darkgray;
    padding: 3px;
}

td > span {
    font-weight: bold;
}

tbody{
    box-shadow: 0 4px 8px 0 grey
}


.group-label{
    font-weight: bold;
}


.fsat .btn-secondary:not([disabled]):not(.disabled).active{
    background-color: #FFE400;
    color: black;
    transition: all .5s ease-in-out;
}

.scroll-item{
    overflow-x: hidden;
}

.btn-padding{
    padding: 6px !important;
}


.op-points-panel{
    background-color: #e5e5e5
}