.group-label{
    font-size: 22px;
}
@media print {
    .print-break-before {
        page-break-before: always;
        page-break-inside: avoid;
    }
    .date-modified {
        font-size: 18px;
    }
    .print-height {
        height: 100% !important;
    }
    .print-avoid-break {
        page-break-inside: avoid;
    }
}