.showItem{
    display: inherit;
}

.tutorial-bg{
    background-color: #232323;
}

.tutorial-item{
    font-size: large;
    color: blue;
    text-decoration: underline;
}

.tutorial-item.active{
    color: black;
}

/* .carousel-item{
    box-shadow: 0px 0px 60px 15px white;
} */

.carousel-control{
    /* background-color: gray; */
}

.img-fluid{
    max-height: 100vh;
}


.close{
    position: absolute;
    color: white;
    top: 30px;
    z-index: 1;
    right: 30px;
    opacity: 1;
    font-size: 45px;
}

.caption-control:hover{
    cursor: pointer;
    text-decoration: underline;

}

/* .typewriter{
    position: absolute;
    top: 15%;
    left: 50%;
    width: 50%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    font-size: 30px;
} */
/* .typewriter h1 {
    overflow: hidden;
    border-right: .15em solid orange;

    margin: 0 auto;
    letter-spacing: .15em; 
    animation: 
      typing 10s steps(140, end);
      blink-caret .75s step-end infinite;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100%}
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  } */


.carousel-item.active.first-item{
    visibility: visible;
    height: 100%;
    width: 100%;
}


  .carousel-item{
    height: 0px;
    width: 0px;
    opacity: 0;
    transition: visibility 1s, opacity 1.5s linear;
  }
  
  .carousel-item.show-img{
    height: 100%;
    width: 100%;
    visibility: visible;
    opacity: 1;
    position: fixed;
  }

  .carousel-item.show-img-1{
    height: 100%;
    width: 100%;
    visibility: visible;
    opacity: 1;
    position: static;
  }



  @-webkit-keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

.slide{
    position: absolute;
    width: 100%;
    padding-top: 10%;
}

.slide-text{
    font-size: 40px;
    color: white;
}

.welcome-content{
    width: min-content;
}

.welcome { 
    font-size:150%;
    white-space:nowrap;
    overflow:hidden;
    width: min-content;
    /* border-right: .1em solid white; */
    color: white;
    /* position: absolute; */
    /* left: 25%; */
    /* text-align: center; */
}

.welcome-1{
    top: 5%;
    -webkit-animation: typing 2s steps(20, end); /* # of steps = # of characters */
                         /* blink-caret 1s step-end infinite; */
    -moz-animation: typing 2s steps(20, end); /* # of steps = # of characters */
                         /* blink-caret 1s step-end infinite; */
}

.welcome-2{
    top: 9%;
    -webkit-animation: typing 3s steps(30, end); /* # of steps = # of characters */
                         /* blink-caret 1s step-end infinite; */
    -moz-animation: typing 3s steps(30, end); /* # of steps = # of characters */
                         /* blink-caret 1s step-end infinite; */
}

.welcome-3{
    top: 13%;
    -webkit-animation: typing 3s steps(30, end); /* # of steps = # of characters */
                         /* blink-caret 1s step-end infinite; */
    -moz-animation: typing 3s steps(30, end); /* # of steps = # of characters */
                        /*  /* blink-caret 1s step-end infinite; */
}

.welcome-4{
    top: 17%;
    -webkit-animation: typing 2s steps(20, end); /* # of steps = # of characters */
                         /* blink-caret 1s step-end infinite; */
    -moz-animation: typing 2s steps(20, end); /* # of steps = # of characters */
                         /* blink-caret 1s step-end infinite; */
}

.circle-div{
    /* width: min-content; */
}

.footer h5{
    margin-bottom: 0px;
}

.footer{
    background: none;
    color: white;
    border-top: none;
}

.circle-div h5{
    font-size: 150%;
}

.get-started{
    height: 75%;
}

input.dont-show{
    padding: 6px;
    margin: 6px;
}

.dont-show{
    font-size: large;
    font-weight: bold;
}