<div class="d-flex flex-wrap">
  <div class="col-12">
    <div class="header">
      <h3 class="ml-0">Opportunity Details</h3>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Process / Equipment</label>
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <label>Plant</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Business Unit</label>
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="col-12 form-group">
    <label class="group-label w-100">Description</label>
    <textarea class="form-control w-100" rows="6"></textarea>
  </div>
</div>