.output-summary .table {
    font-size: 14px;
}
.output-summary .table th {
    border: none;
    padding: 0px 10px;
    text-align: center;
    font-size: 12px;
}
.output-summary .table td {
    padding: 0px 8px;
    vertical-align: middle;
    text-align: center;
}

.positive-savings{
	color: green;
}

.negative-savings{
	color: red;
}
