/* .fa {
  text-shadow: -4px 2px 5px rgba(0,0,0,0.28);
}
.fa-calculator{
  /*text-shadow: -4px 2px 2px rgba(0,0,0,0.28);*
  color: gray;
} */


.fa-folder-o{
	color: #343434;
}

.arrow-center {
  padding-left: 10%;
}

.arrow-row{
	margin-top: -35px;
	margin-bottom: -20px;
}

.arrow-img{
	width: 8rem;
}


.card-body{
	padding: .5rem;
}

.card{
	-webkit-box-shadow: 6px 8px 18px 1px rgba(0,0,0,0.28);
	-moz-box-shadow: 6px 8px 18px 1px rgba(0,0,0,0.28);
	box-shadow: 6px 8px 18px 1px rgba(0,0,0,0.28);
}

.text-help{
	color: gray;
}


.psat-image{   
	width: 94px;
    height: 82px;
}
/* .ssmt-icon{
	width: 90px;
	padding-top: 4px;
	padding-bottom: 4px;
} */


.ssmt-icon {
	background: linear-gradient(rgba(228, 219, 219, 0.34), #F39C12);
	/*background-color: rgba(41, 128, 185, 0);*/
	border-radius: 15px;
	border: 0.1px solid rgba(123, 120, 120, 0.25);
	box-shadow: #7b7878 2px 2px 5px 1px;
	width: 80px;
	height: 70px;
  }

.ca-image{
	width: 70px;
	padding: 2px;
}

.phast-image{
	width: 93px;
	height:83px;
}
.steam-image{
	width:55px;
	height:60px;
}

.waste-water-image {
	width:60px;
	height:60px;
}


.skyline{
	position: relative;
	bottom: 0;
	opacity: .75;
}

.landing-menu{
	z-index: +1;
}

.steam {
	width: 80px;
	height: 70px;
	background: linear-gradient(rgba(228, 219, 219, 0.34), #F39C12);
	border-radius: 15px;
	box-shadow: #7b7878 2px 2px 5px 1px;
	padding-top: 4px;
}
.compressed-air {
	width: 80px;
	height: 70px;
	background: linear-gradient(rgba(228, 219, 219, 0.34), #c97cf5);
	border-radius: 15px;
	box-shadow: #7b7878 2px 2px 5px 1px;
	justify-content: center;
}



.fan-icon {
	background: linear-gradient(rgba(228, 219, 219, 0.34), #FFE400);
	/*background-color: rgba(41, 128, 185, 0);*/
	border-radius: 15px;
	box-shadow: #7b7878 2px 2px 5px 1px;
	width: 80px;
	height: 70px;
	padding-top: 6px;
  }

.compressed-air-icon{
    padding-top: 12px;
    padding-left: 5px;
}


.treasure-hunt {
	width: 80px;
	height: 70px;
	background: linear-gradient(rgba(228, 219, 219, 0.34), #2E4053);
	border-radius: 15px;
	box-shadow: #7b7878 2px 2px 5px 1px;
	padding-top: 4px;
}


.folder-block {
	width: 80px;
	height: 70px;
	/* background: linear-gradient(rgba(228, 219, 219, 0.34), #156739); */
	background: linear-gradient(lightgreen, #156739);
	border-radius: 15px;
	box-shadow: #7b7878 2px 2px 5px 1px;
	padding-top: 12px;
}

.fa.fa-folder, .fa.fa-calculator{
	color: white;
	font-size: 44px;
}

.fa.fa-calculator{
	padding-left: 7px;
}


img.treasure-hunt-image {
    width: 60px;
    height: 60px;
}


.motor-inventory-icon{
    width: 60px;
    height: 50px;
}


.motor-inventory-background{
    background-image: linear-gradient(white, rgb(132, 182, 64));
    border-radius: 12px;
    padding: 3px;
    box-shadow: 1px 1px 5px 2px rgba(1,1,1,.55);
	width: 80px;
	height: 70px;
    padding-top: 10px;
    padding-left: 3px;
}

.data-explorer-icon{
    width: 78px;
    height: 60px;
}


.data-explorer-background{
    background-image: linear-gradient(white, rgb(17, 122, 101));
    border-radius: 12px;
    padding: 3px;
    box-shadow: 1px 1px 5px 2px rgba(1,1,1,.55);
	width: 80px;
	height: 70px;
}


.waste-water{
	background: linear-gradient(rgba(228, 219, 219, 0.34), #70A2FF);
	border-radius: 15px;
	box-shadow: #7b7878 2px 2px 5px 1px;  
	width: 80px;
	height: 70px;
	padding-top: 6px;
}

.assessment-block{
	width: 160px;
    height: 160px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    margin: 10px;
    padding: 10px;
	box-shadow: 6px 8px 18px 1px rgba(0,0,0,0.28);
	background-color: white;
}

.icon-block{
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	height: 85px;
}

.fan-image{
	height: 60px;
}

.top-block{
    width: 250px;
    height: 140px;
}