<label class="group-label w-100">
    Profile Data
</label>
<div class="w-100 d-flex justify-content-start mb-1 mt-1" *ngIf="hourIntervals.length != 1 || displayLogToolLink">
    <div class="pl-2 pr-2 border-left" *ngIf="hourIntervals.length != 1">
        <label class="small" for="fillRightProfile">
            <input type="checkbox" [(ngModel)]="fillRight" name="fillRightProfile" id="fillRightProfile">
            Fill right on change
        </label>
    </div>
    <div *ngIf="displayLogToolLink && !showSelectField" class="pl-2 pr-2 border-right border-left">
        <a class="click-link small" (click)="showDataFromExplorer()">
            Set Data From Data Explorer
        </a>
    </div>
    <div *ngIf="displayLogToolLink && showSelectField" class="pl-2 pr-2 border-right border-left">
        <a class="click-link small" (click)="hideDataFromExplorer()">
            Hide Data Explorer Options
        </a>
    </div>

</div>

<div class="scroll-item">
    <div class="p-2 alert alert-danger small" *ngIf="!validProfileSummaryData">
        Profile Data values must be at least 0 
    </div>
    <table class="table bg-white" *ngIf="profileDataType && selectedDayTypeId" [ngClass]="{'single-entry': hourIntervals.length == 1}">
        <thead>
            <tr>
                <th>
                    <!-- Compressor Name -->

                </th>
                <td>

                </td>
                <td *ngIf="showSelectField">
                    Explorer
                </td>
                <th class="text-center" *ngFor="let interval of hourIntervals">
                    {{interval}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let summary of profileSummary | dayTypeFilter:selectedDayTypeId; let compressorIndex = index;">
                <td class="bold text-center">
                    {{summary.compressorId|compressorName:inventoryItems}}
                </td>
                <td class="text-center">
                    <span *ngIf="profileDataType == 'power'">Power</span>
                    <span *ngIf="profileDataType == 'percentCapacity'">% Capacity</span>
                    <span *ngIf="profileDataType == 'airflow'">Airflow</span>
                </td>
                <td *ngIf="showSelectField">
                    <select [(ngModel)]="summary.logToolFieldId" class="form-control w-100"
                        name="{{compressorIndex+'logToolFieldId'}}" id="{{compressorIndex+'logToolFieldId'}}"
                        (change)="setLogToolData(summary)">
                        <option *ngFor="let field of fieldOptions" [value]="field.fieldId">
                            {{field.alias}}
                        </option>
                    </select>
                </td>
                <td class="input-cell" *ngFor="let summaryData of summary.profileSummaryData; let dataIndex = index;">
                    <span *ngIf="summaryData.order != 0">
                        <input *ngIf="profileDataType == 'power'" type="number" class="form-control"
                            id="{{'order_'+compressorIndex+dataIndex}}"
                            name="{{'summaryData_'+compressorIndex+dataIndex}}" 
                            (input)="updateProfileSummary(summary, dataIndex)"
                            [(ngModel)]="summaryData.power">
                        <input *ngIf="profileDataType == 'airflow'" type="number" class="form-control"
                            id="{{'order_'+compressorIndex+dataIndex}}"
                            name="{{'summaryData_'+compressorIndex+dataIndex}}"
                            (input)="updateProfileSummary(summary, dataIndex)"
                            [(ngModel)]="summaryData.airflow">
                        <input *ngIf="profileDataType == 'percentCapacity'" type="number" class="form-control"
                            id="{{'order_'+compressorIndex+dataIndex}}"
                            name="{{'summaryData_'+compressorIndex+dataIndex}}"
                            (input)="updateProfileSummary(summary, dataIndex)"
                            [(ngModel)]="summaryData.percentCapacity">
                    </span>
                    <div class="w-100 bold text-center"
                        *ngIf="summaryData.order == 0">
                        &mdash; &mdash;
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="p-2 alert alert-warning" *ngIf="!profileDataType">
    Select Profiling Data Type
</div>

<div class="p-2 alert alert-warning" *ngIf="!selectedDayTypeId">
    Select a Day Type
</div>