<div class="d-flex compressed-air modify-conditions panel-container" *ngIf="secondaryAssessmentTab == 'modifications'">
    <div *ngIf="modificationExists" class="w-50 panel-column scroll-item" [ngStyle]="{'height.px': containerHeight}">
        <div class="header mr-2 ml-2">
            <h3>Select Potential Adjustment Projects</h3>
        </div>
        <p>Select potential adjustment projects to explore opportunities to increase efficiency and the effectiveness of
            your system.</p>
        <!-- <app-explore-opportunities-form></app-explore-opportunities-form> -->
        <div class="d-flex flex-column mr-3 ml-3 mb-4">
            <div class="w-100 justify-content-center p-2 d-flex">
                <button class="btn btn-primary" (click)="addExploreOpp()">Add New Scenario</button>
            </div>
            <div class="d-flex flex-column">
                <div class="form-group group-name">
                    <label for="modificatonName">Modification Name</label>
                    <input name="modificatonName" type="text" id="modificatonName" class="form-control"
                        [(ngModel)]="modification.name" (input)="save()" />
                </div>
                <hr>
                <app-flow-reallocation></app-flow-reallocation>
                <app-reduce-air-leaks></app-reduce-air-leaks>
                <app-improve-end-use-efficiency></app-improve-end-use-efficiency>
                <app-reduce-system-air-pressure></app-reduce-system-air-pressure>
                <app-use-unloading-controls></app-use-unloading-controls>
                <!--TODO: NEED MORE INFO FOR CASCADING POINTS-->
                <!-- <app-adjust-cascading-set-points></app-adjust-cascading-set-points> -->
                <app-use-automatic-sequencer></app-use-automatic-sequencer>
                <app-reduce-run-time></app-reduce-run-time>
                <app-add-receiver-volume></app-add-receiver-volume>
            </div>

        </div>
    </div>
    <div *ngIf="!modificationExists" class="no-data w-50 scroll-item" [ngStyle]="{'height.px': containerHeight}">
        <h3>Now that you have setup your system and have baseline information, create duplicate baseline conditions
            to
            find efficiency
            opportunities.
        </h3>
        <button type="button" class="btn btn-primary" (click)="addExploreOpp()">Explore Opportunities</button>
        <p>Data will be copied from your current baseline condition.</p>
    </div>
    <div class="w-50 d-flex flex-column mr-2 ml-2 scroll-item" [ngStyle]="{'height.px': containerHeight}">
        <div class="d-flex flex-wrap tabs primary mr-2 ml-2 sticky-top">
            <div class="panel-tab-item h-100 flex-fill" [ngClass]="{'active': tabSelect == 'results'}">
                <a class="h-100 d-flex justify-content-center align-items-center" (click)="setTab('results')">
                    <div>Modification Results</div>
                </a>
            </div>
            <div class="panel-tab-item h-100 flex-fill" [ngClass]="{'active': tabSelect == 'compressor-profile'}">
                <a class="h-100 d-flex justify-content-center align-items-center"
                    (click)="setTab('compressor-profile')">
                    <div>Compressor Profile</div>
                </a>
            </div>
            <div class="panel-tab-item h-100 flex-fill" [ngClass]="{'active': tabSelect == 'help'}">
                <a class="h-100 d-flex justify-content-center align-items-center" (click)="setTab('help')">
                    <div>Help</div>
                </a>
            </div>
        </div>

        <div *ngIf="!modificationExists">
            <p>Explore Opportunities to view results</p>
        </div>
        <app-explore-opportunities-results *ngIf="modificationExists && tabSelect == 'results'">
        </app-explore-opportunities-results>
        <div class="p-2" *ngIf="modificationExists && tabSelect == 'compressor-profile'">
            <app-inventory-performance-profile [inAssessment]="true">
            </app-inventory-performance-profile>
        </div>
    </div>
</div>

<div class="compressed-air modify-conditions panel-container" *ngIf="secondaryAssessmentTab == 'table'">
    <app-explore-opportunities-profile-table class="w-100"></app-explore-opportunities-profile-table>
</div>