.adjustment-name{
    cursor: pointer;
    border-bottom: solid;
    border-bottom-color: deepskyblue;
    border-bottom-width: 3px;
}

.adjustment-selected-card{
    height: 100%;
}

.card-header{
    padding-top: 5px;
    padding-bottom: 5px;
    height: 35px;
}

/*.card-block{
    border-bottom: groove;
    border-bottom-color: slategray;
    border-bottom-width: 1px;
}*/

.input-group{
    padding: 1px;
}

.input-block{
    padding-left:1.25rem;
    padding-right:1.25rem;
    padding-top: 0;
    padding-bottom: 0;
}