label{
    font-size: small;
}

.form-control{
    font-size: small;
}


.density-val{
    font-size: small;
    text-align: center;
}


.fa{
    color: #1E8449;
    font-size: large;
}


.fa-exclamation-circle{
    color: #B03A2E;
}

.group-label{
    width: 100%;
    padding: .25rem;
    font-size: medium;
}

.gas-density-err{
    color: red;
    font-weight: bold;
}