label{
    font-size: small;
}

.form-control{
    font-size: small;
}


.density-val{
    font-size: small;
    text-align: center;
}


.fa{
    color: green;
    font-size: large;
}


.fa-square-o{
    color: black;
}