<div class="d-flex flex-column panel-container pb-4">
    <div class="header mr-2 ml-2">
        <h3>{{componentFormTitle}}</h3>
        <br>
    </div>

    @if (waterAssessment.waterUsingSystems.length === 0) {
    <div class="p-3 align-self-center">
        <button type="button" class="btn btn-primary active" (click)="addWaterUsingSystem()">
            Add {{componentFormTitle}}
        </button>
    </div>
    }
    @else if (form) {
    <div class="mx-2">
        <form [formGroup]="form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" formControlName="name"
                    (focus)="focusField('waterWaterUsingSystemName')" (input)="save()" />
            </div>
            <div class="form-group">
                <label for="systemType">System Type</label>
                <select class="form-control" id="systemType" formControlName="systemType" (change)="setSystemType()"
                  (focus)="focusField('systemType')">
                  <option *ngFor="let systemType of systemTypeOptions"
                    [ngValue]="systemType.value">{{systemType.display}}
                  </option>
                </select>
              </div>    
        </form>

        @if(form.controls.systemType.value === 0) {
            <!-- <app-process-use></app-process-use> -->
        } @else if (form.controls.systemType.value === 1) {
            <app-cooling-tower></app-cooling-tower>
        } @else if (form.controls.systemType.value === 2) {
            <app-boiler-water></app-boiler-water>
        } @else if (form.controls.systemType.value === 3) {
            <app-kitchen-restroom></app-kitchen-restroom>
        } @else if (form.controls.systemType.value === 4) {
            <app-landscaping></app-landscaping>   
        }

        <label class="group-label" (click)="toggleCollapse('waterFlows')">
            <span class="fa fa-chevron-right"
                [ngClass]="{'fa-chevron-right': isCollapsed.waterFlows, 'fa-chevron-down': !isCollapsed.waterFlows}"></span>
            Water Flows
            <span *ngIf="!form.valid" class="pull-right">
                <span class="fa fa-exclamation-circle"></span>
            </span>
        </label>
        <form [formGroup]="form" *ngIf="!isCollapsed.waterFlows">
            <!-- <label class="group-label secondary-group">Incoming Water</label> -->
            <div class="form-group" [ngClass]="{'invalid': form.controls.sourceWater.invalid}">
                <label for="sourceWater">Source Water</label>
                <div class="input-group">
                    <input name="sourceWater" type="number" class="form-control" id="sourceWater"
                        formControlName="sourceWater" (input)="save()" (focus)="focusField('sourceWater')">
                    <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">Mgal/yr</span>
                    <span *ngIf="settings.unitsOfMeasure != 'Imperial'"
                        class="input-group-addon units">m<sup>3</sup>/yr</span>
                </div>
                <span class="alert-danger pull-right small"
                    *ngIf="form.controls.sourceWater.invalid && !form.controls.sourceWater.pristine">
                    <span *ngIf="form.controls.sourceWater.errors.required">Value Required</span>
                    <span *ngIf="form.controls.sourceWater.errors.min">Value can't be less than
                        {{form.controls.sourceWater.errors.min.min}}
                        <span *ngIf="settings.unitsOfMeasure == 'Imperial'">Mgal/yr</span>
                        <span *ngIf="settings.unitsOfMeasure != 'Imperial'">m<sup>3</sup>/yr</span>
                    </span>
                </span>
            </div>

            <div class="form-group" [ngClass]="{'invalid': form.controls.recycledWater.invalid}">
                <label for="recycledWater">Recycled Water</label>
                <div class="input-group">
                    <input name="recycledWater" type="number" class="form-control" id="recycledWater"
                        formControlName="recycledWater" (input)="save()" (focus)="focusField('recycledWater')">
                    <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">Mgal/yr</span>
                    <span *ngIf="settings.unitsOfMeasure != 'Imperial'"
                        class="input-group-addon units">m<sup>3</sup>/yr</span>
                </div>
                <span class="alert-danger pull-right small"
                    *ngIf="form.controls.recycledWater.invalid && !form.controls.recycledWater.pristine">
                    <span *ngIf="form.controls.recycledWater.errors.min">Value can't be less than
                        {{form.controls.recycledWater.errors.min.min}}
                        <span *ngIf="settings.unitsOfMeasure == 'Imperial'">Mgal/yr</span>
                        <span *ngIf="settings.unitsOfMeasure != 'Imperial'">m<sup>3</sup>/yr</span>
                    </span>
                </span>
            </div>

            <div class="form-group" [ngClass]="{'invalid': form.controls.recirculatedWater.invalid}">
                <label for="recirculatedWater">Recirculated Water</label>
                <div class="input-group">
                    <input name="recirculatedWater" type="number" class="form-control" id="recirculatedWater"
                        formControlName="recirculatedWater" (input)="save()" (focus)="focusField('recirculatedWater')">
                    <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">Mgal/yr</span>
                    <span *ngIf="settings.unitsOfMeasure != 'Imperial'"
                        class="input-group-addon units">m<sup>3</sup>/yr</span>
                </div>
                <span class="alert-danger pull-right small"
                    *ngIf="form.controls.recirculatedWater.invalid && !form.controls.recirculatedWater.pristine">
                    <span *ngIf="form.controls.recirculatedWater.errors.min">Value can't be less than
                        {{form.controls.recirculatedWater.errors.min.min}}
                        <span *ngIf="settings.unitsOfMeasure == 'Imperial'">Mgal/yr</span>
                        <span *ngIf="settings.unitsOfMeasure != 'Imperial'">m<sup>3</sup>/yr</span>
                    </span>
                </span>
            </div>


            <div (click)="focusField('grossWaterUse')" class="form-group">
                <label for="grossWaterUse">Gross Water Use</label>
                <div class="text-center small bold">
                    <span *ngIf="waterUsingSystemResults.grossWaterUse">{{waterUsingSystemResults | number}}
                        <span *ngIf="settings.unitsOfMeasure == 'Imperial'">Mgal/yr</span>
                        <span *ngIf="settings.unitsOfMeasure != 'Imperial'">m<sup>3</sup>/yr</span>
                    </span>
                    <span *ngIf="!waterUsingSystemResults.grossWaterUse">&mdash; &mdash;</span>
                </div>
            </div>
        </form>


        <label class="group-label" (click)="toggleCollapse('waterSources')">
            <span class="fa fa-chevron-right"
                [ngClass]="{'fa-chevron-right': isCollapsed.waterSources, 'fa-chevron-down': !isCollapsed.waterSources}"></span>
            Water Sources
            <!-- <span class="pull-right">
                <span class="fa fa-exclamation-circle"></span>
            </span> -->
        </label>
        <!-- todo 6903 need more context on related intake sources -->
        <!-- todo create component to show only usage and type from whichever connected source -->
        <!-- *ngIf="!isCollapsed.waterFlows" -->
        <!-- <ng-container *ngIf="selectedWaterUsingSystem.intakeSources.length > 0">    
        <app-intake-source></app-intake-source>
    </ng-container> -->

        <app-heat-energy *ngIf="selectedWaterUsingSystem.heatEnergy" [heatEnergy]="selectedWaterUsingSystem.heatEnergy"
            (updateHeatEnergy)="saveHeatEnergy($event)">
        </app-heat-energy>

        <label class="group-label" (click)="toggleCollapse('motorEnergy')">
            <span class="fa fa-chevron-right"
                [ngClass]="{'fa-chevron-right': isCollapsed.motorEnergy, 'fa-chevron-down': !isCollapsed.motorEnergy}"></span>
            Added Motor Energy
            <!-- <span class="pull-right">
                <span class="fa fa-exclamation-circle"></span>
            </span> -->
        </label>
        <ng-container *ngIf="!isCollapsed.motorEnergy">
            <div class="form-group my-2 px-2 d-flex justify-content-end">
                <div class="btn-group btn-group-sm pull-right">
                    <button type="button" disabled id="motorEnergyMethod_from"
                        class="btn btn-secondary btn-sm py-1 px-2 mx-2 small" (click)="addMotorEnergyFromInventory()">Add From
                        Inventory</button>
                    <button type="button" id="motorEnergyMethod_add" class="btn btn-primary btn-sm py-1 px-2 small mx-2"
                        (click)="addNewMotorEnergy()">Add New
                        Motor Energy</button>
                </div>
            </div>
        
            <div class="motor-equipment">
                <div class="form-section" *ngFor="let motorEquipment of selectedWaterUsingSystem.addedMotorEquipment; let i = index">
                    <app-motor-energy [motorEnergy]="motorEquipment" (updateMotorEnergy)="saveMotorEnergy($event, i)">
                    </app-motor-energy>
                    <div class="text-center">
                        <a class="click-link delete small" (click)="openConfirmDeleteModal(motorEquipment, i)">Delete
                            {{motorEquipment.name}}</a>
                    </div>
                </div>
            </div>
        </ng-container>

    </div>
    }
</div>


<app-confirm-delete-modal *ngIf="showConfirmDeleteModal" [confirmDeleteData]="confirmDeleteData" (emitShouldDelete)="onConfirmDeleteClose($event)">
</app-confirm-delete-modal>