<div class="d-flex w-100 justify-content-center">
    <div class="p-2">
        <select class="form-control" [(ngModel)]="selectedDataTable">
            <option *ngFor="let option of dataTableOptions" [ngValue]="option.value">{{option.label}}</option>
        </select>
    </div>
    <div class="p-2">

    </div>
</div>


<label class="group-label">
    {{department.name}}
</label>
<app-nameplate-data-table *ngIf="selectedDataTable == 'nameplate'" [department]="department"
    [displayOptions]="displayOptions">
</app-nameplate-data-table>
<app-load-characteristics-table *ngIf="selectedDataTable == 'loadCharacteristics'" [department]="department"
    [displayOptions]="displayOptions">
</app-load-characteristics-table>
<app-batch-analysis-table *ngIf="selectedDataTable == 'batchAnalysis'" [department]="department"
    [displayOptions]="displayOptions">
</app-batch-analysis-table>
<app-manual-specifications-table *ngIf="selectedDataTable == 'manualSpecifications'" [department]="department"
    [displayOptions]="displayOptions">
</app-manual-specifications-table>
<app-operation-data-table *ngIf="selectedDataTable == 'operationData'" [department]="department"
    [displayOptions]="displayOptions">
</app-operation-data-table>
<app-purchase-information-table *ngIf="selectedDataTable == 'purchaseInformation'" [department]="department"
    [displayOptions]="displayOptions">
</app-purchase-information-table>
<app-torque-table *ngIf="selectedDataTable == 'torque'" [department]="department" [displayOptions]="displayOptions">
</app-torque-table>
<app-other-table *ngIf="selectedDataTable == 'other'" [department]="department" [displayOptions]="displayOptions">
</app-other-table>