<nav>
  <ul class="tabs subtabs progress-tabs">
    <li [ngClass]="{'active': subTab == 'system-basics'}">
      <a (click)="changeTab('system-basics')"><span class="step-number">1</span> Assessment Settings</a>
    </li>
    <li [ngClass]="{'active': subTab == 'operating-hours'}">
      <a (click)="changeTab('operating-hours')"><span class="step-number">2</span> Operating Hours</a>
    </li>
  </ul>
</nav>
<div class="wrapper" *ngIf="subTab == 'system-basics'">
  <div class="form">
    <app-system-basics [settings]="settings"></app-system-basics>
  </div>
  <div class="help">
    <app-help-panel></app-help-panel>
  </div>
</div>

<div class="wrapper" *ngIf="subTab == 'operating-hours'">
  <div class="form">
    <app-operating-hours></app-operating-hours>
  </div>
  <div class="help">
    <app-help-panel></app-help-panel>
  </div>
</div>