tr > td,
tr > th{
    text-align: center;
}

tr > td {
    vertical-align: middle;
}

.table-row{
    padding-top: 14px;
}

.graph-select{
    width: 100%;
}


@media print {
    tr > td,
    tr > th {
        font-size: 18px !important;
    }
}