.background-color {
  background: #ececec;
  border:none;
}

a:not([href]):not([tabindex]):hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

a:not([href]):not([tabindex]){
  color: blue;
}