<form [formGroup]="openingLossesForm">
  <div class="form-section">
    <div class="form-group">
      <label class="small" for="{{'type'+idString}}">Select Type</label>
      <select name="{{'openingType_'+lossIndex}}" class="form-control" formControlName="openingType" id="{{'type'+idString}}"
        (change)="getArea(); calculateViewFactor()" (focus)="focusField('openingType')"  [ngClass]="{'indicate-different': compareOpeningType(), 'invalid': openingLossesForm.controls.openingType.invalid}">
        <option>Round</option>
        <option>Rectangular (or Square)</option>
      </select>
    </div>

    <div class="form-group">
      <label class="small" for="{{'numberOfOpenings'+idString}}" aria-describedby="numberOfOpeningsHelp">Number of
        Openings
        <small id="numberOfOpeningsHelp" class="form-text text-muted text-help">Same Size and Shape</small>
      </label>

      <input [readonly]="!baselineSelected" name="{{'numberOfOpenings_'+lossIndex}}" type="number" step="any" min="0"
        class="form-control" formControlName="numberOfOpenings" id="{{'numberOfOpenings'+idString}}" onfocus="this.select();"
        (input)="getArea(); calculateViewFactor()" (focus)="focusField('numberOfOpenings')" 
        [ngClass]="{'indicate-different': compareNumberOfOpenings(), 'error': warnings.numOpeningsWarning !== null, 'invalid': openingLossesForm.controls.numberOfOpenings.invalid}">
      <span class="alert-warning pull-right small" *ngIf="warnings.numOpeningsWarning !== null">{{warnings.numOpeningsWarning}}</span>
    </div>

    <div class="form-group">
      <label class="small" for="{{'wallThickness'+idString}}">Furnace Wall Thickness</label>
      <div class="input-group" [ngClass]="{'indicate-different': compareThickness(), 'error': warnings.thicknessWarning !== null, 'invalid': openingLossesForm.controls.wallThickness.invalid}">
        <input [readonly]="!baselineSelected" name="{{'wallThickness_'+lossIndex}}" type="number" step="any" min="0"
          class="form-control" formControlName="wallThickness" id="{{'wallThickness'+idString}}" onfocus="this.select();"
          (input)="getArea(); calculateViewFactor()" (focus)="focusField('wallThickness')" >
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">in</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">mm</span>
      </div>
      <span class="alert-warning pull-right small" *ngIf="warnings.thicknessWarning !== null">{{warnings.thicknessWarning}}</span>
    </div>

    <div class="form-group">
      <label *ngIf="openingLossesForm.controls.openingType.value != 'Round'" class="small" for="{{'lengthOfOpening'+idString}}">Length
        of Openings</label>
      <label *ngIf="openingLossesForm.controls.openingType.value == 'Round'" class="small" for="{{'lengthOfOpening'+idString}}">Diameter
        of Openings</label>
      <div class="input-group" [ngClass]="{'indicate-different': compareLengthOfOpening(), 'error': warnings.lengthWarning !== null, 'invalid': openingLossesForm.controls.lengthOfOpening.invalid}">
        <input [readonly]="!baselineSelected" name="{{'lengthOfOpening_'+lossIndex}}" type="number" step="any" min="0"
          class="form-control" formControlName="lengthOfOpening" id="{{'lengthOfOpening'+idString}}" onfocus="this.select();"
          (input)="getArea(); calculateViewFactor()" (focus)="focusField('lengthOfOpening')" >
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">in</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">mm</span>
      </div>
      <span class="alert-warning pull-right small" *ngIf="warnings.lengthWarning !== null">{{warnings.lengthWarning}}</span>
    </div>

    <div class="form-group" *ngIf="openingLossesForm.controls.openingType.value != 'Round'">
      <label class="small" for="{{'heightOfOpening'+idString}}">Height of Openings</label>
      <div class="input-group" [ngClass]="{'indicate-different': compareHeightOfOpening(), 'error': warnings.heightWarning !== null, 'invalid': openingLossesForm.controls.heightOfOpening.invalid}">
        <input [readonly]="!baselineSelected" name="{{'heightOfOpening_'+lossIndex}}" type="number" step="any" min="0"
          class="form-control" formControlName="heightOfOpening" id="{{'heightOfOpening'+idString}}" onfocus="this.select();"
          (input)="getArea(); calculateViewFactor()" (focus)="focusField('heightOfOpening')" >
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">in</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">mm</span>
      </div>
      <span class="alert-warning pull-right small" *ngIf="warnings.heightWarning !== null">{{warnings.heightWarning}}</span>
    </div>

    <div class="form-group">
      <label class="small">Total Opening Area</label>
      <div class="text-center small">
        {{totalArea | number:'2.2-2'}}
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'">ft
          <sup>2</sup>
        </span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'">m
          <sup>2</sup>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label class="small" for="{{'viewFactor'+idString}}" aria-describedby="viewFactorHelp">View Factor
        <!-- <a id="{{'viewFactor_'+lossIndex}}" class="form-text small click-link" (click)="calculateViewFactor()">Calculate View Factor</a> -->
      </label>

      <input [readonly]="!baselineSelected" name="{{'viewFactor_'+lossIndex}}" type="number" step="0.1" min="0" max="1"
        class="form-control" formControlName="viewFactor" id="{{'viewFactor'+idString}}" onfocus="this.select();"
        (input)="save()" (focus)="focusField('viewFactor')" [ngClass]="{'indicate-different': compareViewFactor(), 'invalid': openingLossesForm.controls.viewFactor.invalid}">
      <span class="alert-warning pull-right small" *ngIf="warnings.viewFactorWarning !== null">{{warnings.viewFactorWarning}}</span>
    </div>

    <div class="form-group">
      <label class="small" for="{{'insideTemp'+idString}}">Avg. Zone or Radiation Source Temp.</label>
      <div class="input-group" [ngClass]="{'indicate-different': compareInsideTemperature(), 'error': warnings.temperatureWarning !== null, 'invalid': openingLossesForm.controls.insideTemp.invalid}">
        <input [readonly]="!baselineSelected" name="{{'insideTemp_'+lossIndex}}" type="number" step="10" class="form-control"
          formControlName="insideTemp" id="{{'insideTemp'+idString}}" onfocus="this.select();" (input)="save()" (focus)="focusField('insideTemp')"
          >
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">&#8457;</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">&#8451;</span>
      </div>
      <span class="alert-warning pull-right small" *ngIf="warnings.temperatureWarning !== null">{{warnings.temperatureWarning}}</span>
    </div>

    <div class="form-group">
      <label class="small" for="{{'ambientTemp'+idString}}">Ambient Temp.</label>
      <div class="input-group" [ngClass]="{'indicate-different': compareAmbientTemperature(), 'error': warnings.temperatureWarning !== null, 'invalid': openingLossesForm.controls.ambientTemp.invalid}">
        <input [readonly]="!baselineSelected" name="{{'ambientTemp_'+lossIndex}}" type="number" step="10" class="form-control"
          formControlName="ambientTemp" id="{{'ambientTemp'+idString}}" onfocus="this.select();" (input)="save()" (focus)="focusField('ambientTemp')"
          >
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">&#8457;</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">&#8451;</span>
      </div>
      <span class="alert-warning pull-right small" *ngIf="warnings.temperatureWarning !== null">{{warnings.temperatureWarning}}</span>
    </div>

    <div class="form-group">
      <label class="small" for="{{'emissivity'+idString}}" aria-describedby="emissivityHelp">Emissivity of the Source
        <small id="emissivityHelp" class="form-text text-muted text-help">Typical - 0.9</small>
      </label>
      <input [readonly]="!baselineSelected" name="{{'emissivity_'+lossIndex}}" type="number" step="0.1" min="0" max="1"
        class="form-control" formControlName="emissivity" id="{{'emissivity'+idString}}" onfocus="this.select();"
        (input)="save()" (focus)="focusField('emissivity')"  [ngClass]="{'indicate-different': compareEmissivity(), 'error': warnings.emissivityWarning !== null, 'invalid': openingLossesForm.controls.emissivity.invalid}">
      <span class="alert-warning pull-right small" *ngIf="warnings.emissivityWarning !== null">{{warnings.emissivityWarning}}</span>
    </div>

    <div class="form-group">
      <label class="small" for="{{'percentTimeOpen'+idString}}">% of Time Open</label>
      <div class="input-group" [ngClass]="{'indicate-different': comparePercentTimeOpen(), 'error': warnings.timeOpenWarning !== null, 'invalid': openingLossesForm.controls.percentTimeOpen.invalid}">
        <input [readonly]="!baselineSelected" name="{{'percentTimeOpen_'+lossIndex}}" type="number" step="1" min="0"
          max="100" class="form-control" formControlName="percentTimeOpen" id="{{'percentTimeOpen'+idString}}" onfocus="this.select();"
          (input)="save()" (focus)="focusField('percentTimeOpen')" >
        <span class="input-group-addon units">%</span>
      </div>
      <span class="alert-warning pull-right small" *ngIf="warnings.timeOpenWarning !== null">{{warnings.timeOpenWarning}}</span>
    </div>
  </div>
</form>