
.general .summary-card-header{
    border-bottom: #566573 groove 2px;
    border-image: linear-gradient(to right,#F0F3F4, #145A32) 50 / 2;
  }

  .phast .summary-card-header{
    border-bottom: #566573 groove 2px;
    border-image: linear-gradient(to right,#F0F3F4, #BF3D00) 50 / 2;
  }
  
      
  .psat .summary-card-header{
    border-bottom: #566573 groove 2px;
    border-image: linear-gradient(to right,#F0F3F4, #2980b9) 50 / 2;
  
  }

  
    .fsat .summary-card-header{
      border-bottom: #566573 groove 2px;
      border-image: linear-gradient(to right,#F0F3F4, #FFE400) 50 / 2;
    
    }
    
    .fa-edit:hover{
      color: blue;
      text-decoration: underline;
      cursor: pointer;
    }
    
    .fa-edit{
      padding-top: 4px;
      font-size: larger;
    }
  
    td{
      padding: 0px;
      font-size: small;
  }
  
  
  .no-assessment-data:hover{
    background-color: #efefef;
    cursor: pointer;
  }
  
  .no-assessment-data{
    text-align: center;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .dropdown-menu.shown{
    display: grid;
    padding: 0px;
  }
  
  .dropdown-item{
    padding: .25rem;
    font-size: small;
  }
  
  .dropdown-toggle::after{
  margin-left: 0;
  }
  
  .dropdown-toggle{
  padding: 3px;
  }
  
  .psat .dropdown-toggle,
  .psat .btn-primary{
  background-color: #2980b9;
  }
  
  
  .phast .dropdown-toggle,
  .phast .btn-primary{
  background-color: #BF3D00;
  }
  
  .dropdown-menu.shown{
  left: -160px;
  background-color: #ececec;
  }
  
  .dropdown-item:hover{
  cursor: pointer;
  }
  
  
  .modal-footer .btn{
    padding: 6px
  }

.general.list-row.pre-assessment{
    border-bottom: #145A32 groove 6px;
    border-image: linear-gradient(to right,#F0F3F4, #145A32) 80 / 2;
  }

.general .fa-pie-chart{
    font-size: large;
    color: #145A32;
  }

.furnace.list-row.pre-assessment{
  border-bottom: #BF3D00 groove 6px;
  border-image: linear-gradient(to right,#F0F3F4, #BF3D00) 80 / 2;
}

.furnace .fa-pie-chart{
  font-size: large;
  color: #BF3D00;
}

.pump.list-row.pre-assessment{
  border-bottom: #2980b9 groove 6px;
  border-image: linear-gradient(to right,#F0F3F4, #2980b9) 80 / 2;
}

.pump .fa-pie-chart{
  font-size: large;
  color: #2980b9;
}
.fan.list-row.pre-assessment{
  border-bottom: #FFE400 groove 6px;
  border-image: linear-gradient(to right,#F0F3F4, #FFE400) 80 / 2;
}

.fan .fa-pie-chart{
  font-size: large;
  color: #FFE400;
}

  a:not([href]):not([tabindex]):hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
    
  
  .fa-edit:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .fa-edit{
    padding-top: 4px;
    font-size: larger;
  }


  .last-updated {
    font-size: 13px;
    color: #999;
  }

  .dropdown-menu.shown{
    display: grid;
    padding: 0px;
  }
  
  .dropdown-item{
    padding: .25rem;
    font-size: small;
  }
  
  .dropdown-toggle::after{
  margin-left: 0;
  }
  
  .dropdown-toggle{
  padding: 3px;
  }
  
  .pump .dropdown-toggle,
  .pump .btn-primary{
  background-color: #2980b9;
  }
  
  
  .furnace .dropdown-toggle,
  .furnace .btn-primary{
  background-color: #BF3D00;
  }

  .fan .dropdown-toggle,
  .fan .btn-primary{
  background-color: #FFE400;
  color: black;
  }
  
  .dropdown-menu.shown{
  left: -160px;
  background-color: #ececec;
  }
  
  .dropdown-item:hover{
  cursor: pointer;
  }
  
  .modal-footer .btn{
  padding: 6px
  }