.highPressure .header-tube{
    background-color: #C0392B;
    border-top-left-radius: 25px;
    color: white;
}

.header-tube{
    width: 85%; 
}

.mediumPressure .header-tube{
    background-color: #FFA726;
}

.lowPressure .header-tube{
    background-color: #FFEB3B;
    border-bottom-left-radius: 25px;
}

.highPressure .processUsage{
    border: #C0392B solid 3px;
    /* border-bottom: #C0392B solid 3px; */
}
.mediumPressure .processUsage{
    border: #FFA726 solid 3px;
    /* border-bottom: #FFA726 solid 3px; */
}
.lowPressure .processUsage{
    border: #FFEB3B solid 3px;
    /* border-bottom: #FFEB3B solid 3px; */
}


.condensate{
    
    background-color: #283593;
    /* color: #283593;
    border-top: #283593 solid 3px;
    border-bottom: #283593 solid 3px; */
    color: white;
}

.highPressure .condensate {
    border-top-right-radius: 25px;
}

.lowPressure .condensate {
    border-bottom-right-radius: 25px;
}

.border-padding{
    padding-top: 3px;
}