li.disabled, div.disabled, a.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

li a {
    padding: 12px;
}

.report-container {
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    overflow: hidden;
}


/* Screens above  1024 */
.assessment-container {
    display: flex;
    /* display: contents; */
    height: 100%;
    min-height: 0;
    flex: 1 1 auto;
}

.assessment-panel-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
}

/* Screens below 1024 */
@media screen and (max-width: 1024px) {
    .assessment-container {
        display: flex;
        height: 100%;
        overflow-y: auto;
    }

    .assessment-tab-container {
        display: block;
        height: 100%;
        overflow-y: auto;
    }

    .assessment-panel-container {
        display: none;
        width: 100%;
    }

    .lookup-form {
        height: 100%;
    }

    .small-screen-hide {
        display: none;
    }

    .small-screen-tab {
        display: flex;
        min-height: 100%;
        height: 100%;
        width: 100%;
    }

    .small-tab-select {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin: auto;
    }

}