p {
	font-size: 16px;
    padding: 4px;
}
.panel-column{
	padding-left: 15px;
}

.panel-container{
    max-height: none;
    padding-bottom: 67px;
    height: initial;
}

.no-padding-left{
    padding-left: 0px;
}
