<div class="col-12">
  <div class="header">
    <h3 class="ml-0">Implementation Costs</h3>
  </div>
</div>
<div class="col-12">
  <div class="form-group">
    <label>Engineering Services</label>
    <div class="input-group">
      <input type="number" class="form-control">
      <span class="input-group-addon units">$</span>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="form-group">
    <label>Material</label>
    <div class="input-group">
      <input type="number" class="form-control">
      <span class="input-group-addon units">$</span>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="form-group">
    <label>Labor</label>
    <div class="input-group">
      <input type="number" class="form-control">
      <span class="input-group-addon units">$</span>
    </div>
  </div>
</div>
<div class="col-12" *ngFor="let otherCost of otherCosts">
  <div class="form-groupd d-flex">
    <div class="w-50 input-group pr-2">
      <span class="input-group-addon units border-left">X</span>
      <input type="text" class="form-control" [(ngModel)]="otherCost.description" name="otherCostDescription">
    </div>
    <div class="w-50 input-group">
      <input class="form-control" type="number" [(ngModel)]="otherCost.cost" name="otherCost">
      <span class="input-group-addon units">$</span>
    </div>
  </div>
</div>
<div class="col-12 text-center pt-2">
  <a class="click-link small" (click)="addOtherCost()">+Add Other Cost</a>
</div>
<div class="col-12 text-center pt-2" *ngIf="!additionalSavings">
  <a class="click-link small" (click)="addAdditionalSavings()">+Add Other Savings</a>
</div>
<div class="col-12" *ngIf="additionalSavings">
  <label class="group-label">Addtional Savings</label>
</div>
<div class="col-12" *ngIf="additionalSavings">
  <div class="form-group d-flex">
    <div class="w-50 input-group pr-2">
      <span class="input-group-addon units border-left">X</span>
      <input type="text" class="form-control" [(ngModel)]="additionalSavings.description"
        name="additionalSavingsDescription">
    </div>
    <div class="w-50 input-group">
      <input class="form-control" type="number" [(ngModel)]="additionalSavings.cost" name="additionalSavingsCost">
      <span class="input-group-addon units">$</span>
    </div>
  </div>
</div>
<div class="col-12">
  <label class="group-label">Opportunity Notes</label>
  <textarea class="form-control w-100" rows="6"></textarea>
</div>