<div class="row justify-content-center">
  <div class="col-6">
    <div class="bold h5">System Basics</div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-6">
    <div class="bold h6">Units of Measure</div>
    <div>Units of Measure are inherited by your <a>Application Settings</a></div>
  </div>
</div>
<div class="row justify-content-center units-padding">
  <div class="col-3">
    <div class="small">Language:</div>
  </div>
  <div class="col-3">
    <div class="pull-left small">English</div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-3">
    <div class="small">Currency:</div>
  </div>
  <div class="col-3">
    <div class="pull-left small">$ - U.S. Dollar</div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-3">
    <div class="small">Measurement System:</div>
  </div>
  <div class="col-3">
    <div class="pull-left small">Imperial</div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-3">
    <div class="small">Head Measurement:</div>
  </div>
  <div class="col-3">
    <div class="pull-left small">Feet</div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-3">
    <div class="small">Flow Rate:</div>
  </div>
  <div class="col-3">
    <div class="pull-left small">Gallons / Minute</div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-6 small">
    <a>Customize for this assessment</a>
  </div>
</div>
