<div class="d-flex flex-column w-100 position-sticky">
    <div class="d-flex flex-wrap tabs primary mr-2 ml-2">
        <div class="flex-fill panel-tab-item" [ngClass]="{'active': tabSelect == 'results'}">
            <a class="border-left-0" (click)="setTab('results')">Results</a>
        </div>
        <div class="flex-fill panel-tab-item" [ngClass]="{'active': tabSelect == 'help'}">
            <a (click)="setTab('help')">Help</a>
        </div>
    </div>
</div>
<div class="pr-1 pl-2" *ngIf="tabSelect == 'help'">
    <app-flue-gas-moisture-help></app-flue-gas-moisture-help>
</div>
<div class="pr-1 pl-2" *ngIf="tabSelect == 'results'">
    <app-flue-gas-moisture-results [settings] = "settings"></app-flue-gas-moisture-results>
</div>