.version-num{
    cursor: default !important;
    color: darkslategray;
    padding-left: 1rem;
}

.fa-info-circle, .fa-chevron-circle-right, .fa-chevron-circle-left{
    cursor: pointer;
}

.update-available{
    cursor: pointer;
    color: darkslategray;
    padding-left: .3rem;
}



.horizontal.scroll-item{
    max-width: 100%;
    overflow-y: auto;
    white-space: nowrap;
}

.selected-directory{
    border-left: .5px solid gray;
}

.max-width, 
.doe-logo{
    max-width: 250px;
}

.doe-logo {
    width: 100%;
}
.doe-logo:hover {
    cursor: pointer;
}

.calculator-group{
    padding-left: .3rem;
}


.fa-globe{
    display: initial;
}



.nav-item .dropdown-toggle{
    /* color: white; */
    /* background: #84b641; */
}

.nav-link{
    padding: 4px;
}

.list-group-item{
    padding: 8px;
    font-size: small;
}

.list-group-item.active{
    /* color: white;
    background: #84b641; */
}

a.list-group-item:hover, .nav-link{
    cursor: pointer;
}

a.list-group-item.active:hover{
    color: white;
}

/* .nav-link.dropdown-toggle:hover, .nav-btn:hover{
    background-color: #808B96;
} */