<div class="d-flex w-100 justify-content-center">
  <div>
    <img routerLink="/landing-screen" src="assets/images/DOE-banner-color.png" class="doe-logo mx-auto">
  </div>
</div>

<div class="sidebar-group create-button">
  <div class="p-2">
    <div class="nav-item dropdown">
      <button type="button" class="btn btn-primary w-100" (click)="toggleNewDropdown()">
        <a class="dropdown-toggle">
          Add New
        </a>
      </button>
      <div class="dropdown-menu p-0 w-100" [ngClass]="{'show': showNewDropdown == true}">
        <div class="list-group bold">
          <a class="list-group-item list-group-item-action" (click)="showCreateAssessment()">
            Add New Assessment
          </a>
          <a class="list-group-item list-group-item-action" (click)="showCreateInventory()">
            Add New Inventory
          </a>
          <a class="list-group-item list-group-item-action" (click)="showCreateFolder()">
            Add New Folder
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sidebar-group secondary">
  <span class="sidebar-item" [routerLink]="['/landing-screen']" routerLinkActive="selected">Home</span>
</div>

<div class="sidebar-group secondary pl-1 horizontal scroll-item">
  <app-directory-item [directory]="rootDirectory"></app-directory-item>
</div>

<div class="sidebar-group secondary">
  <span routerLink="/log-tool" routerLinkActive="selected" class="sidebar-item">Data Exploration</span>
</div>

<div class="sidebar-group secondary">
  <app-calculator-list></app-calculator-list>
</div>

<div class="sidebar-group secondary">
  <span routerLink="/settings" routerLinkActive="selected" class="sidebar-item">Settings</span>
  <span routerLink="/custom-materials" routerLinkActive="selected" class="sidebar-item">Custom Materials</span>
  <span routerLink="/tutorials" routerLinkActive="selected" class="sidebar-item">Tutorials</span>
  <span routerLink="/about" routerLinkActive="selected" class="sidebar-item">About</span>
  <span routerLink="/contact" routerLinkActive="selected" class="sidebar-item">Feedback</span>
  <span routerLink="/acknowledgments" routerLinkActive="selected" class="sidebar-item">Acknowledgments</span>
  <span *ngIf="googleTranslateAvailable" class="sidebar-item" (click)="emitTranslate()"><span
      class="fa fa-globe"></span> Translate</span>
</div>

<div class="sidebar-group">
  <span class="version-num">v{{versionNum}}
    <i class="fa fa-info-circle" (click)="openVersionModal()"></i>
  </span>
  <span *ngIf="isUpdateAvailable" class="update-available" (click)="openUpdateModal()">Update Available!</span>
</div>

<app-version-modal *ngIf="showVersionModal" (closeModal)="closeVersionModal()"></app-version-modal>