.pre-assessment-furnace{
    background-color: white;
    animation-name: show-assessment;
    animation-duration: 1s;
    overflow: hidden;
    padding-left:15px;
    padding-right: 15px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}


@keyframes show-assessment{
    from { height: 0%;}
    to {height: 100%;}
}

/* .slide-in{
    animation-name: slide-in-key;
    animation-duration: .5s;  
}

@keyframes slide-in-key{
    from {height: 0%}
    to {height: 100%}
} */

.pre-assessment-header{
    border-bottom: inset 2px;
    border-left: solid 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pre-assessment-form{
    padding-top: 10px;
    /* padding-left: 15px;
    padding-right: 15px; */
}

/* .pre-assessment-body{
    padding-left: 15px;
    padding-right: 15px;
} */

.fa{
    font-size: 16px;
}

.fa:hover{
    cursor: pointer;
    zoom: 1.25;
}

.form-group{
    text-align:center;
}

.fa-pencil{
    padding-right: 5px;
}

h5{
    margin-bottom: 0px;
}


.toggle-btn{
    font-size: 12px;
}

.btn-secondary:not([disabled]):not(.disabled).active{
    background-color: #BF3D00;
}

.btn-col{
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.add-zone{
    padding-right: 15px;
}

.furnace-name:hover{
    font-weight: bold;
    cursor: pointer;
}

.form-results{
    font-size: small;
}