.h2-name{
    font-weight: 400;
    font-size: 20px;
}

.nav-item{
    color: white;
}

.banner .nav-link:not(.disabled):not(.active){
    color: white;
}

.img-icon{
    width: 45px;
    background-color: white;
    border-radius: 5px;
}