.h2-name{
    font-weight: 400;
    font-size: 20px;
}

.hidden{
    display: none;
}

.hidden.show{
    display: inherit;
}


.nav-item, .home-nav-item a{
    color: white;
}

.banner .nav-link:not(.disabled):not(.active){
    color: white;
}

.img-icon{
    width: 100px;
}


.gray-badge{
    background-color: #84b641;
}


.btn.chevron-btn{
    border: none !important;
    width: 20px;
    height: 28px;
    color: white;
    box-shadow: none !important;
}

.fa.fa-chevron-right,
.fa.fa-chevron-left {
    font-size: 28px;
}

li.page-item{
    background-color:#ECECEC !important;
}