<label class="group-label">
    Motor: {{motorItem.name}}
</label>
<!--general details-->
<p *ngIf="motorItem.description" class="card-text mb-2">
    {{motorItem.description}}
</p>
<div class="d-flex flex-column w-100 pl-2">
    <!--nameplate-->
    <app-nameplate-details [nameplateData]="motorItem.nameplateData" [settings]="settings"
        [nameplateDataOptions]="displayOptions.nameplateDataOptions"></app-nameplate-details>
    <hr class="my-1 hr-spacer">
    <!--load characteristics-->
    <app-load-characteristic-details></app-load-characteristic-details>
    <hr class="my-1 hr-spacer">
    <!--field measurements-->
    <app-operations-details></app-operations-details>
    <hr class="my-1 hr-spacer">
    <!--manual specs-->
    <app-manual-specifications-details></app-manual-specifications-details>
    <hr class="my-1 hr-spacer">
    <!--replacement information-->
    <app-batch-analysis-details></app-batch-analysis-details>
    <hr class="my-1 hr-spacer">
    <!--purchase info-->
    <app-purchase-info-details></app-purchase-info-details>
    <hr class="my-1 hr-spacer">
    <!--torque-->
    <app-torque-details></app-torque-details>
    <hr class="my-1 hr-spacer">
    <!--other-->
    <app-other-details></app-other-details>
    <hr class="my-1 hr-spacer last-spacer">
</div>