.fa {
  text-shadow: -4px 2px 5px rgba(0,0,0,0.28);
}
.fa-calculator{
  /*text-shadow: -4px 2px 2px rgba(0,0,0,0.28);*/
  color: gray;
}

.tutorial-video{
	max-width: 350px;
}

.fa-folder-o{
	color: #343434;
}

.arrow-center {
  padding-left: 10%;
}

.text-adj2 {
  line-height: 28px;
  /*margin-top: -7px;*/
}

.no-margin-bottom{
	margin-bottom: 0;
}

.arrow-row{
	margin-top: -35px;
	margin-bottom: -20px;
}

.arrow-img{
	width: 8rem;
}

.furnace {
  white-space: nowrap;
}

.span-label {
  font-size: 15px;
  margin-left: 25px;
}


.card-header{
	padding: .5rem;
	background-color: white;
}

.card-header p, .jumbotron p{
	margin-bottom: 0px;
}

.jumbotron{
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	background-color: rgba(0,0,0,0);
}

.card-body{
	padding: .5rem;
}

.card{
	-webkit-box-shadow: 6px 8px 18px 1px rgba(0,0,0,0.28);
	-moz-box-shadow: 6px 8px 18px 1px rgba(0,0,0,0.28);
	box-shadow: 6px 8px 18px 1px rgba(0,0,0,0.28);
}

.text-help{
	color: gray;
}


.former-name{
	font-style: italic;
	font-size: smaller;
	padding-left: 15px;
}


img.fan-image{
	width: 50px !important;
}

.psat-image{
	width: 90px;
	height:81px;
}
.ssmt-icon{
	width: 90px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.steam-image{
	width: 75px;
}
.phast-image{
	width: 90px;
	height:81px;
}
.steam-image{
	width:90px;
	height:81px;
}


.skyline{
	position: relative;
	bottom: 0;
	opacity: .75;
}

.landing-menu{
	z-index: +1;
}
.p2.align-items-center.steam{
	padding-top: 15px !important;
}
.p2.align-items-center{
	padding-top: 0px !important;
}
a.click-link.p-0.steam {
	margin-left: 15px;
}

.p-2.align-items-center.steam {
	width: 90px;
	height: 81px;
	background: linear-gradient(rgba(228, 219, 219, 0.34), #F39C12);
	border-radius: 15px;
	border: 0.1px solid rgba(123, 120, 120, 0.25);
	margin-left: 10px;
	box-shadow: #7b7878 2px 2px 5px 1px;
}
img.steam-image {
	width: 65px;
	height: 90px;
	padding-bottom: 25px;
}
.p-2.align-items-center.fan {
	padding-bottom: 30px !important;
}
a.click-link.p-0.fan {
	margin-left: 8px;
}
span.former-name.steam {
	margin-left: 5px;
}