.landing * {
	box-sizing: border-box;
}
.landing {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
	.landing h1 {
		text-align: center;
		color: #333;
		font-size: 32px;
    margin-top: 55px;
    margin-bottom: 40px;
	}
	.landing h2 {
		margin: 0;
		font-size: 24px;
		font-weight: normal;
		text-align: center;
		color: #717171;
	}
	.landing h3 {
		color: #333;
		font-size: 20px;
		text-align: center;
		font-weight: normal;
		border-bottom: solid 1px #ddd;
		/*padding-bottom: 8px;*/
	}
	.landing p {
		font-size: 16px;
	}
	.landing a {
		display: block;
    padding-top: 3px;
    padding-bottom: 3px;
	}

.landing > ul {
	padding: 0;
    background: #fff;
    -webkit-box-shadow: 6px 8px 18px 1px rgba(0,0,0,0.28);
	-moz-box-shadow: 6px 8px 18px 1px rgba(0,0,0,0.28);
	box-shadow: 6px 8px 18px 1px rgba(0,0,0,0.28);
	border: #ddd solid 1px;
	border-radius: 4px;
	display: flex;
}
.landing li {
	list-style: none;
	padding: 0;
}
	.landing > ul > li {
		width: 50%;
		padding: 20px;
    padding-bottom: 35px;
	}
	.landing > ul > li:first-of-type {
		border-right: #ddd solid 1px;
	}
	.landing > ul > li > div {
		display: inline-block;
		width: 30%;
	}

.landing .help {
    text-align: center;
    border-top: #ddd solid 1px;
}
.landing .nav-item span:hover {
	cursor: pointer;
}
.fa {
  text-shadow: -4px 2px 5px rgba(0,0,0,0.28);
}
.fa-calculator{
  /*text-shadow: -4px 2px 2px rgba(0,0,0,0.28);*/
  color: gray;
}

.spacer-row{
    height: 15px;
    width: 100%;
}

.spacer-col{
	border-bottom: #ddd solid 1px;;
}

.tutorial-video{
	max-width: 350px;
}

.icon-image{
	height: 18px;
    padding-right: 4px;
    padding-bottom: 2px;
}

.fa-folder-o{
	color: #343434;
}

.arrow-center {
  padding-left: 10%;
}

.text-adj2 {
  line-height: 28px;
  /*margin-top: -7px;*/
}

  /*.left-rotated {*/
    /*-ms-transform: rotate(15deg);*/
    /*-webkit-transform: rotate(15deg);*/
    /*transform: rotate(15deg);*/
    /*font-size: 64px;*/
    /*color: #7cc110;*/
  /*}*/
/*.right-rotated {*/
  /*-ms-transform: rotate(-15deg);*/
  /*-webkit-transform: rotate(-15deg);*/
  /*transform: rotate(-15deg);*/
  /*font-size: 64px;*/
  /*color: #7cc110;*/
/*}*/

/*.left-arrow {*/
  /*position: inherit;*/
  /*width: 66%;*/
  /*height: 117%;*/
  /*margin-top: -5px;*/
/*}*/
/*.right-arrow {*/
  /*position: inherit;*/
  /*width: 66%;*/
  /*height: 123%;*/
  /*margin-top: -10px;*/
  /*margin-left: 45%;*/
/*}*/


.arrow-row{
	margin-bottom: -20px;
	margin-top: -25px;
}

.arrow-img{
	width: 60%;
}