
#name-export{
    position: absolute;
    right: 150px;
    font-weight: bold;
}

.icon-image{
    width: 26px;
  }
  
  .icon{
    width: 100%;
  }

  .btn{
    padding: 6px;
}

.export-content li {
    list-style: none;
}


.modal-dialog{
    top: .75rem;
}