<div bsModal #exportModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg export-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Data to be exported</h3>
                <button class="close" aria-label="Close" (click)="hideExportModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <div class="export-content scroll-item">
                    <ul>
                        <li *ngIf="exportData.calculators.length != 0">
                            <span class="bold">Pre-Assessments</span>
                            <ul>
                                <li *ngFor="let calculator of exportData.calculators">
                                    <span class="fa fa-pie-chart"></span>
                                    {{calculator.name}}
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="noDirectoryAssessments.length != 0">
                            <span class="bold">Assessments</span>
                            <ul>
                                <li *ngFor="let assessmentItem of noDirectoryAssessments">
                                    <div class="d-flex align-items-center"
                                        [ngClass]="{ 'phast' : assessmentItem.assessment.type == 'PHAST', 'psat': assessmentItem.assessment.type == 'PSAT', 'fsat': assessmentItem.assessment.type == 'FSAT', 'treasure-hunt': assessmentItem.assessment.type == 'TreasureHunt', 'ssmt': assessmentItem.assessment.type == 'SSMT', 'compressedAirAssessment': assessmentItem.assessment.type == 'CompressedAirAssessment'}">
                                        <span class="p-1 d-flex align-items-center justify-content-center icon-image">
                                            <img *ngIf="assessmentItem.assessment.type == 'PSAT'" class="icon"
                                                src="assets/images/ico-psat-diagram.png">
                                            <img *ngIf="assessmentItem.assessment.type == 'PHAST'" class="icon"
                                                src="assets/images/ico-phast-diagram.png">
                                            <img *ngIf="assessmentItem.assessment.type == 'FSAT'" class="icon"
                                                src="assets/images/ico-fsat-diagram.png">
                                            <img *ngIf="assessmentItem.assessment.type == 'SSMT'" class="icon"
                                                src="assets/images/ico-ssmt-diagram.png">
                                            <img *ngIf="assessmentItem.assessment.type == 'TreasureHunt'" class="icon"
                                                src="assets/images/treasure-hunt.png">
                                            <img *ngIf="assessmentItem.assessment.type == 'CompressedAirAssessment'" class="icon"
                                                src="assets/images/ca-icon.png">
                                        </span>
                                        <span class="p-1">
                                            <a>{{assessmentItem.assessment.name}}</a>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="exportData.directories.length != 0">
                            <span class="bold">Directories</span>
                            <ul>
                                <li *ngFor="let dirItem of exportData.directories">
                                    <span class="fa fa-folder p-1"></span>{{dirItem.directory.name}}
                                    <ul>
                                        <li *ngFor="let assessmentItem of dirItem.directory.assessments">
                                            <div class="d-flex align-items-center"
                                                [ngClass]="{ 'phast' : assessmentItem.type == 'PHAST', 'psat': assessmentItem.type == 'PSAT', 'fsat': assessmentItem.type == 'FSAT', 'treasure-hunt': assessmentItem.type == 'TreasureHunt', 'ssmt': assessmentItem.type == 'SSMT', 'compressedAirAssessment': assessmentItem.type == 'CompressedAirAssessment' }">
                                                <span
                                                    class="p-1 d-flex align-items-center justify-content-center icon-image">
                                                    <img *ngIf="assessmentItem.type == 'PSAT'" class="icon"
                                                        src="assets/images/ico-psat-diagram.png">
                                                    <img *ngIf="assessmentItem.type == 'PHAST'" class="icon"
                                                        src="assets/images/ico-phast-diagram.png">
                                                    <img *ngIf="assessmentItem.type == 'FSAT'" class="icon"
                                                        src="assets/images/ico-fsat-diagram.png">
                                                    <img *ngIf="assessmentItem.type == 'SSMT'" class="icon"
                                                        src="assets/images/ico-ssmt-diagram.png">
                                                    <img *ngIf="assessmentItem.type == 'TreasureHunt'" class="icon"
                                                        src="assets/images/treasure-hunt.png">
                                                    <img *ngIf="assessmentItem.type == 'CompressedAirAssessment'" class="icon"
                                                        src="assets/images/ca-icon.png">
                                                </span>
                                                <span class="p-1">
                                                    <a>{{assessmentItem.name}}</a>
                                                </span>
                                            </div>
                                        </li>
                                        <li *ngFor="let inventoryItem of dirItem.directory.inventories">
                                            <span class="p-1">
                                                <a>{{inventoryItem.name}}</a>
                                            </span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="exportData.inventories.length != 0">
                            <span class="bold">Inventories</span>
                            <ul>
                                <li *ngFor="let inventory of exportData.inventories">
                                    <span class="p-1">
                                        <a>{{inventory.inventoryItem.name}}</a>
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <div *ngIf="!canExport" class="w-100">
                    <p class="text-center small danger">Too much data to export, please choose less data to
                        export.</p>
                </div>
                <button class="btn btn-secondary" (click)="hideExportModal()">Cancel</button>
                <div class="d-flex">
                    <div class="form-group d-flex mr-2">
                        <label for="exportName"> Name your file:</label>
                        <input type="text" class="form-control" id="exportName" [(ngModel)]="exportName">
                    </div>
                    <button class="btn btn-primary ml-2" [disabled]="!canExport" (click)="buildExportJSON()">Export
                        as .json</button>
                </div>
            </div>
        </div>
    </div>
</div>