.known-row-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.saturated-row-label {
  white-space: nowrap;
}

.saturated-conditional-column {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.saturated-conditional-input-group {
  flex-grow: 1;
  min-width: 12rem;
}
