.known-row-parent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.saturated-row-label {
  white-space: nowrap;
}

.saturated-conditional-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.25rem;
}

.saturated-conditional-input-group {
  flex-grow: 1;
  min-width: 12rem;
}
