<!--copy modal-->
<div bsModal #copyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="copyModalLabel"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-md copy-items-modal">
        <div class="modal-content" *ngIf="copyForm">
            <div class="modal-header">
                <h3>Selected Item(s) to Copy</h3>
                <button class="close" (click)="hideCopyModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="showItems" class="export-content scroll-item">
                    <ul class="pl-0">
                        <li *ngIf="selectedCalculators.length != 0">
                            <span class="bold">Pre-Assessments</span>
                            <ul>
                                <li *ngFor="let calculator of selectedCalculators">
                                    <span class="fa fa-pie-chart"></span>
                                    {{calculator.name}}
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="selectedAssessments.length != 0">
                            <span class="bold">Assessments</span>
                            <ul>
                                <li *ngFor="let assessment of selectedAssessments">
                                    <div class="d-flex align-items-center"
                                        [ngClass]="{ 'phast' : assessment.type == 'PHAST', 'psat': assessment.type == 'PSAT', 'fsat': assessment.type == 'FSAT',
                                             'treasure-hunt': assessment.type == 'TreasureHunt', 'ssmt': assessment.type == 'SSMT', 
                                             'compressedAir': assessment.type == 'CompressedAir', 'wasteWater': assessment.type == 'WasteWater'}">
                                        <span class="p-1 d-flex align-items-center justify-content-center icon-image">
                                            <img *ngIf="assessment.type == 'PSAT'" class="icon"
                                                src="assets/images/pump-icon.png">
                                            <img *ngIf="assessment.type == 'PHAST'" class="icon"
                                                src="assets/images/ico-phast-diagram.png">
                                            <img *ngIf="assessment.type == 'FSAT'" class="icon"
                                                src="assets/images/ico-fsat-diagram.png">
                                            <img *ngIf="assessment.type == 'SSMT'" class="icon"
                                                src="assets/images/ico-ssmt-diagram.png">
                                            <img *ngIf="assessment.type == 'TreasureHunt'" class="icon"
                                                src="assets/images/treasure-hunt.png">
                                            <img *ngIf="assessment.type == 'CompressedAir'" class="icon"
                                                src="assets/images/ca-icon.png">
                                            <img *ngIf="assessment.type == 'WasteWater'" class="icon"
                                                src="assets/images/waste-water-icon.png">
                                        </span>
                                        <span class="p-1">
                                            {{assessment.name}}
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="selectedInventories.length != 0">
                            <span class="bold">Inventories</span>
                            <ul>
                                <li *ngFor="let inventory of selectedInventories">
                                    <div class="d-flex align-items-center">
                                        <span class="p-1 d-flex align-items-center justify-content-center icon-image">
                                            <img *ngIf="inventory.type == 'pumpInventory'" class="icon"
                                                src="assets/images/pump-inventory-icon.png">
                                            <img *ngIf="inventory.type == 'motorInventory'" class="icon"
                                                src="assets/images/motor-inventory-icon.png">
                                        </span>
                                        <span class="p-1">
                                            {{inventory.name}}
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="selectedDirData.selectedDirectories.length != 0">
                            <span class="bold">Directories</span>
                            <ul>
                                <li *ngFor="let dir of selectedDirData.selectedDirectories">
                                    <span class="fa fa-folder p-1"></span>{{dir.directory.name}}
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>

                <form [formGroup]="copyForm" *ngIf="!showNewFolder">
                    <div class="form-group" *ngIf="destinationDirectoryOptions">
                        <label>Copy Item(s) to Different Location</label>
                        <select class="form-control w-100" formControlName="destinationDirectoryId">
                            <option *ngFor="let dir of destinationDirectoryOptions" [ngValue]="dir.id">
                                <span *ngIf="dir.parentDirectoryId">{{getParentDirStr(dir.parentDirectoryId)}}</span>
                                <span class="bold">{{dir.name}}/</span>
                            </option>
                        </select>
                        <div class="help-text">
                            <a class="click-link" (click)="addFolder()">Add a new folder for selected item(s)</a>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="selectedAssessments.length > 0">
                        <label>
                            <input type="checkbox" class="pr-2" formControlName="copyModifications">Include
                            modifications?</label>
                    </div>
                    <div class="form-group" *ngIf="selectedCalculators.length > 0">
                        <label>
                            <input type="checkbox" class="pr-2" formControlName="copyCalculators">Include
                            calculators?</label>
                    </div>
                </form>

                <form [formGroup]="newFolderForm" *ngIf="showNewFolder">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="form-control-label" for="folderName">Folder Name</label>
                            <div class="input-group">
                                <input class="form-control input-group" formControlName="folderName" id="folderName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="companyName">Company Name</label>
                            <div class="input-group">
                                <input class="form-control input-group" formControlName="companyName"
                                    id="companyName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="facilityName">Facility Name</label>
                            <div class="input-group">
                                <input class="form-control input-group" formControlName="facilityName"
                                    id="facilityName" />
                            </div>
                        </div>
                        <div class="form-group" *ngIf="destinationDirectoryOptions">
                            <label>New Folder Location</label>
                            <select class="form-control w-100" formControlName="directoryId">
                                <option *ngFor="let dir of destinationDirectoryOptions" [ngValue]="dir.id">
                                    <span
                                        *ngIf="dir.parentDirectoryId">{{getParentDirStr(dir.parentDirectoryId)}}</span>
                                    <span class="bold">{{dir.name}}/</span>
                                </option>
                            </select>
                        </div>

                        <div class="d-flex justify-content-between">
                            <div class="p-2">
                                <button class="btn btn-secondary" type="button"
                                    (click)="cancelNewFolder()">Cancel</button>
                            </div>

                            <div class="p-2">
                                <button class="btn btn-primary" type="button" [disabled]="!newFolderForm.valid"
                                    (click)="createDirectory()">Create Folder</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="createCopy()">Copy Selected Item(s)</button>
            </div>
        </div>
    </div>
</div>