
.modal.copy-items-modal {
    margin-top: 7%;
}
  
.copy-items-modal label {
    font-weight: bold;
}
.copy-items-modal .form-check {
    margin-bottom: 0;
}
.copy-items-modal label.form-check-label {
    font-weight: normal;
}

.copy-items-modal input[type=text] {
    width: 100%;
    margin-bottom: 2px;
}

.copy-items-modal .form-group {
    margin-bottom: 10px;
}

.copy-items-modal select {
margin-bottom: 6px;
}

.copy-items-modal .help-text {
    margin-bottom: 10px;
}
.copy-items-modal .help-text p {
    margin-bottom: 0;
}

.btn {
    padding: 6px;
}


.btn-secondary{
    color: rgb(255, 255, 255);
    background-color: #BF3D00;
    border-color: #BF3D00;
    transition: all .5s ease-in-out;
}

.btn-primary{
    background-color: #156739;
    border-color: #156739;
    transition: all .5s ease-in-out;
}

.icon-image{
    width: 26px;
  }
  
  .icon{
    width: 100%;
  }

 li {
    list-style: none;
}

