<div class="d-flex flex-column h-100 w-100">
    <div class="d-flex w-100 h-100 tab-content">
        <div class="w-50 scroll-item modification" [ngClass]="{'modal-open': isModalOpen == true}">
            <router-outlet></router-outlet>
        </div>
        <div class="w-50 scroll-item">
            <app-help-panel></app-help-panel>
        </div>
    </div>

    <div #footer id="logToolFooter" class="footer hide-print">
        <div class="pull-left" *ngIf="currentTab == 'clean-data'">
            <button class="btn btn-default" (click)="back()">Back</button>
        </div>
        <div class="pull-right">
            <button class="btn btn-primary" (click)="continue()" [disabled]="disableNext">Next</button>
        </div>
    </div>
</div>