<div class="row">
  <div class="col-12">
    <div class="header">
      <h3>{{assessment.name}} Settings</h3>
      <br>
      <a *ngIf="showUpdateData" class="no-data-link" (click)="updateData()">Your units have changed! Click here to update your data to reflect these changes!</a>
      <span *ngIf="dataUpdated" class="data-updated">Data Updated!</span>
    </div>
  </div>
</div>

<div class="setup-form-group">
  <div class="row">
    <div class="col-12">
      <app-application-settings [inPhast]="true" [(settingsForm)]="settingsForm" (startSavePolling)="saveChanges($event)"></app-application-settings>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-phast-settings [(settingsForm)]="settingsForm" (startSavePolling)="saveChanges()" [disable]="lossesExist"></app-phast-settings>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form>
        <div class="form-group">
          <label class="group-label w-100">Equipment Notes</label>
          <textarea name="equipmentNotes" rows="4" id="equipmentNotes" (input)="saveChanges()" [(ngModel)]="phast.equipmentNotes" placeholder="Add additional information for your equipment"></textarea>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form>
        <div class="form-group">
          <label class="group-label w-100">
            Operating Conditions at time of Assessment</label>
          <textarea name="operatingConditions" rows="4" id="operatingConditions" (input)="saveChanges()" [(ngModel)]="phast.operatingHours.operatingConditions"
            placeholder="Add note for operating conditions"></textarea>
        </div>
      </form>
    </div>
  </div>
</div>