tr > td,
tr > th{
    text-align: center;
}

tr > td {
    vertical-align: middle;
}

.table-row{
    padding-top: 14px;
}

.graph-select{
    width: 100%;
}
table {
  table-layout: fixed;
}
table td {
  width: 25%;
}
table td:first-child {
  width: 50%;
}
