<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div style="display: block" *ngIf="chartData">
      <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="options" [legend]="true" [chartType]="'bar'"></canvas>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-10 col-md-12 col-sm-12 output-summary">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>
            Furnace Name
          </th>
          <th>
            Modification Name
          </th>
          <th>
            Baseline Energy Intensity
          </th>
          <th>
            Modification Energy Intensity
          </th>
          <th>
            Baseline Annual Cost
          </th>
          <th>
            Modification Annual Cost
          </th>
          <th>
            Cost Savings
          </th>
          <th>
            Implementation Costs
          </th>
          <th>
            Simple Payback Period
          </th>
        </tr>
      </thead>
      <tbody *ngIf="resultData">
        <tr *ngFor="let data of resultData">
          <!-- name -->
          <td>{{data.name}}</td>
          <td *ngIf="data.modName">{{data.modName}}</td>
          <td *ngIf="!data.modName">&mdash;</td>
          <!-- energy intensity -->
          <td>{{getConvertedValue(data.baselineResults.energyPerMass, data.settings) | sigFigs:'5'}}</td>
          <td *ngIf="data.modName">{{getConvertedValue(data.modificationResults.energyPerMass, data.settings) | sigFigs:'5'}}</td>
          <td *ngIf="!data.modName">&mdash;</td>
          <!-- annual cost -->
          <td>{{data.baselineResults.annualCost | currency:'USD':'symbol':'1.0-0'}}</td>
          <td *ngIf="data.modName">{{data.modificationResults.annualCost | currency:'USD':'symbol':'1.0-0'}}</td>
          <td *ngIf="!data.modName">&mdash;</td>
          <!-- savings -->
          <td *ngIf="data.modName">{{data.modificationResults.annualCostSavings | currency:'USD':'symbol':'1.0-0'}}</td>
          <td *ngIf="!data.modName">&mdash;</td>
          <!-- implementation costs -->
          <td *ngIf="data.modName">{{data.modificationResults.implementationCosts | currency:'USD':'symbol':'1.0-0'}}</td>
          <td *ngIf="!data.modName">&mdash;</td>
          <!-- simple patback -->
          <td *ngIf="data.modName">{{data.modificationResults.paybackPeriod}}</td>
          <td *ngIf="!data.modName">&mdash;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>