.grid path {
  stroke-width: 0;
}

.tick line {
  stroke: red;
  opacity: 0.7;
}

g.tick line {
  stroke: red;
  opacity: 0.7;
}

.grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
}

.grid path {
  stroke-width: 0;
}

tr>td, tr>th {
  text-align: center;
}

tr>td {
  vertical-align: middle;
}

.graph-table {
  width: 100%;
  text-align: center;
}

.expanded-chart {
  padding: 5px;
}

.graph-table td, .graph-table th {
  font-size: 14px;
  padding: 3px;
}

.graph-table tr {
  border: 4px solid rgba(0, 0, 0, 0);
}

.table-export-container {
  margin-top: 40px;
}

.clickable-graph:hover {
  cursor: pointer;
}

.btn-container {
  text-align: center;
}

.btn-export {
  border-radius: 2px;
  border: 1px solid transparent;
  background-color: #dcdcdc;
  opacity: 0.6;
  font-size: 14px;
  transition: ease-in-out 0.2s all;
}

.btn-export:hover {
  cursor: pointer;
  opacity: 1;
  border-color: #212529;
}

.delete-row {
  color: red;
}

.delete-row:hover {
  text-decoration: underline;
  cursor: pointer;
}

.key-color {
  border-radius: 12px;
  padding: 8px;
  box-sizing: border-box;
  width: 5px;
  height: 5px;
  margin: auto;
}