<div class="form-section">
  <div class="row">
    <!--LOADS-->
    <div class="col-6">
      <form>
        <div class="form-group">
          <label class="small" for="annualOperatingHours">Annual Operating Hours</label>
          <div class="input-group">
            <input name="annualOperatingHours" [(ngModel)]="inputs.annualOperatingHours" type="number" step="any" class="form-control"
              id="annualOperatingHours" (input)="calculate()" onfocus="this.select();" (focus)="focusField('annualOperatingHours')">
            <span class="input-group-addon units">hrs/yr</span>
          </div>
        </div>
        <div class="form-group">
          <label class="small" for="annualElectricityConsumption">Annual Electricity Consumption</label>
          <div class="input-group">
            <input name="annualElectricityConsumption" [(ngModel)]="inputs.annualElectricityConsumption" type="number" step="any" class="form-control"
              id="annualElectricityConsumption" (input)="calculate()" onfocus="this.select();" (focus)="focusField('annualElectricityConsumption')">
            <span class="input-group-addon units">kWh</span>
          </div>
        </div>
        <div class="form-group">
          <label class="small" for="annualThermalDemand">Annual Thermal Demand</label>
          <div class="input-group">
            <input name="annualThermalDemand" [(ngModel)]="inputs.annualThermalDemand" type="number" step="any" class="form-control"
              id="annualThermalDemand" (input)="calculate()" onfocus="this.select();" (focus)="focusField('annualThermalDemand')">
            <span class="input-group-addon units">MMBtu</span>
          </div>
        </div>
      </form>
    </div>
    <!--CHP Info-->
    <div class="col-6">
      <form>
        <div class="form-group">
          <label class="small" for="chpAvailability">CHP Availability</label>
          <!--Todo: Air == 1 help-->
          <div class="input-group">
            <input name="chpAvailability" [(ngModel)]="inputs.chpAvailability" type="number" step="any" min="0" max="100" class="form-control"
              id="chpAvailability" (input)="calculate()" onfocus="this.select();" (focus)="focusField('chpAvailability')">
            <span class="input-group-addon units">%</span>
          </div>
        </div>
        <div class="form-group">
          <label class="small" for="thermalUtilization">Thermal Utilization</label>
          <!--Todo: Air == 1 help-->
          <div class="input-group">
            <input name="thermalUtilization" [(ngModel)]="inputs.thermalUtilization" type="number" step="any" min="0" max="100" class="form-control"
              id="thermalUtilization" (input)="calculate()" onfocus="this.select();" (focus)="focusField('thermalUtilization')">
            <span class="input-group-addon units">%</span>
          </div>
        </div>
        <div class="form-group">
          <label class="small" for="displacedThermalEfficiency">Displaced Thermal Efficiency</label>
          <!--Todo: Air == 1 help-->
          <div class="input-group">
            <input name="displacedThermalEfficiency" [(ngModel)]="inputs.displacedThermalEfficiency" type="number" step="any" min="0"
              max="100" class="form-control" id="displacedThermalEfficiency" (input)="calculate()" onfocus="this.select();"
              (focus)="focusField('displacedThermalEfficiency')">
            <span class="input-group-addon units">%</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--EXISTING vs CHP-->
<div class="form-section">
  <div class="row">
    <div class="col-6">
      <form>
        <h5><strong>Existing System</strong></h5>
        <div class="form-group">
          <label class="small" for="boilerThermalFuelCosts">Boiler/Thermal Fuel Costs</label>
          <div class="input-group">
            <input name="boilerThermalFuelCosts" [(ngModel)]="inputs.boilerThermalFuelCosts" type="number" step="any" class="form-control"
              id="boilerThermalFuelCosts" (input)="calculate()" onfocus="this.select();" (focus)="focusField('boilerThermalFuelCosts')">
            <span class="input-group-addon units">$/MMBtu</span>
          </div>
        </div>
        <div class="form-group">
          <label class="small" for="avgElectricityCosts">Average Electricity Costs</label>
          <div class="input-group">
            <input name="avgElectricityCosts" [(ngModel)]="inputs.avgElectricityCosts" type="number" step="any" class="form-control"
              id="avgElectricityCosts" (input)="calculate()" onfocus="this.select();" (focus)="focusField('avgElectricityCosts')">
            <span class="input-group-addon units">$/kWh</span>
          </div>
        </div>
      </form>
    </div>
    <div class="col-6">
      <form>
        <h5><strong>CHP System</strong></h5>
        <div class="form-group">
          <label class="small" for="CHPfuelCosts">CHP Fuel Costs</label>
          <div class="input-group">
            <input name="CHPfuelCosts" [(ngModel)]="inputs.CHPfuelCosts" type="number" step="any" class="form-control" id="CHPfuelCosts"
              (input)="calculate()" onfocus="this.select();" (focus)="focusField('CHPfuelCosts')">
            <span class="input-group-addon units">$/MMBtu</span>
          </div>
        </div>
        <div class="form-group">
          <label class="small" for="boilerThermalFuelCostsCHPcase">Boiler/Thermal Fuel Costs</label>
          <div class="input-group">
            <input name="boilerThermalFuelCostsCHPcase" [(ngModel)]="inputs.boilerThermalFuelCostsCHPcase" type="number" step="any" class="form-control"
              id="boilerThermalFuelCostsCHPcase" (input)="calculate()" onfocus="this.select();" (focus)="focusField('boilerThermalFuelCostsCHPcase')">
            <span class="input-group-addon units">$/MMBtu</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--Option-->
<div class="form-section">
  <div class="row">
    <div class="col-12">
      <form>
        <div class="form-group">
          <select id="calculationOption" name="calculationOption" class="form-control" [(ngModel)]="inputs.option" (focus)="focusField('calculationOption')" (change)="setCalculationOption()">
            <option *ngFor="let option of calculationOptions" [ngValue]="option.value">{{option.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="small" for="percentAvgkWhElectricCostAvoidedOrStandbyRate" *ngIf="inputs.option == 1">Stand By Rate</label>
          <label class="small" for="percentAvgkWhElectricCostAvoidedOrStandbyRate" *ngIf="inputs.option == 0">Percent Average kWh Electric Cost Avoided</label>
          <div class="input-group">
            <input name="percentAvgkWhElectricCostAvoidedOrStandbyRate" [(ngModel)]="inputs.percentAvgkWhElectricCostAvoidedOrStandbyRate"
              type="number" step="any" class="form-control" id="percentAvgkWhElectricCostAvoidedOrStandbyRate" (input)="calculate()"
              onfocus="this.select();" (focus)="focusField('percentAvgkWhElectricCostAvoidedOrStandbyRate')">
            <span class="input-group-addon units" *ngIf="inputs.option == 1">$/kW</span>
            <span class="input-group-addon units" *ngIf="inputs.option == 0">%</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
