

.fa-download {
    left: 50px;
    position: initial;
}


@media print {
    .fa-download {
        display: none;
    }
}


.pre-assessment-note{
    margin-top: 15px;
    background: lightcyan;
    padding: 15px;
}

.no-column-data{
    margin-top: 15px;
    background: lightgray;
    padding: 15px;
}