<div #ngChartContainer class="panel-chart-container" [ngClass]="{'expanded-chart': expanded}">
    <div *ngIf="expanded" class="row">
      <div class="col-12">
        <div class="graph-btn-container">
          <span class="fa fa-compress" (click)="contractChart()" (mouseenter)="initTooltip('btnCollapseChart')" (mouseleave)="hideTooltip('btnCollapseChart')"></span>
          <app-simple-tooltip [message]="'Collapse graph'" [hover]="hoverBtnCollapse" [display]="displayCollapseTooltip"
          [adjustLeft]="20" [adjustPercent]="false"></app-simple-tooltip>
        </div>
      </div>
    </div>
    <div *ngIf="expanded" class="w-100 p-3">
      <div #expandedChartDiv id="expandedChartDiv"></div>
    </div>
  </div>
  
  <div class="w-100 tab-panel-background">
    <div class="w-100" #tabPanelDiv id="tabPanelDiv">
    </div>
    <!--  Hover Data -->
    <div class="w-100 tab-panel-background">
      <table *ngIf="hasHoverGroupData" class="table pt-2 d-flex justify-content-center">
        <tbody>
          <tr class="bold small text-center">
            <th class="">Current Point Data</th>
            <th class="small"> Flow ({{ xUnits }})</th>
            <th class="small">{{ yName }} ({{ yUnits}})</th>
            <th class="small">Fluid Power ({{ this.settings.powerMeasurement }})</th>
          </tr>
          <tr *ngIf="currentHoverData && currentHoverData.baseline" 
          class="bold small text-center no-border"
          [ngStyle]="{'color': currentHoverData.baseline.pointColor}">
            <td class="text-left">Baseline</td>
            <td>
              <span *ngIf="currentHoverData.baseline.pointX">{{currentHoverData.baseline.pointX | number: '1.0-0'}}</span>
              <span *ngIf="!currentHoverData.baseline.pointX">&mdash; &mdash;</span>
            </td>
            <td>
              <span *ngIf="currentHoverData.baseline.pointY">{{currentHoverData.baseline.pointY | number: '1.0-0'}}</span>
              <span *ngIf="!currentHoverData.baseline.pointY">&mdash; &mdash;</span>
            </td>
            <td></td>
          </tr>
          <tr *ngIf="currentHoverData && currentHoverData.modification" 
          class="bold small text-center no-border" 
          [ngStyle]="{'color': currentHoverData.modification.pointColor}">
            <td class="text-left">Modification</td>
            <td>
              <span *ngIf="currentHoverData.modification.pointX">{{currentHoverData.modification.pointX | number: '1.0-0'}}</span>
              <span *ngIf="!currentHoverData.modification.pointX">&mdash; &mdash;</span>
            </td>
            <td>
              <span *ngIf="currentHoverData.modification.pointY">{{currentHoverData.modification.pointY | number: '1.0-0'}}</span>
              <span *ngIf="!currentHoverData.modification.pointY">&mdash; &mdash;</span>
            </td>
            <td></td>
          </tr>
          <tr *ngIf="currentHoverData && currentHoverData.system" 
          class="bold small text-center no-border"
          [ngStyle]="{'color': currentHoverData.system.pointColor}">
            <td class="text-left">System Curve</td>
            <td>
              <span *ngIf="currentHoverData.system.pointX">{{currentHoverData.system.pointX | number: '1.0-0'}}</span>
              <span *ngIf="!currentHoverData.system.pointX">&mdash; &mdash;</span>
            </td>
            <td>
              <span *ngIf="currentHoverData.system.pointY">{{currentHoverData.system.pointY | number: '1.0-0'}}</span>
              <span *ngIf="!currentHoverData.system.pointY">&mdash; &mdash;</span>
            </td>
            <td>
              <span *ngIf="currentHoverData.fluidPower">{{currentHoverData.fluidPower | number: '1.0-0'}}</span>
              <span *ngIf="!currentHoverData.fluidPower">&mdash; &mdash;</span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-md-12 mt-1">
        <div class="graph-btn-container">
          <span class="fa fa-bar-chart" (click)="toggleGrid()" (mouseenter)="initTooltip('btnGridLines')" (mouseleave)="hideTooltip('btnGridLines')"></span>
          <app-simple-tooltip [message]="'Toggle graph grid lines'" [hover]="hoverBtnGridLines" [display]="displayGridLinesTooltip"
            [adjustLeft]="59" [adjustPercent]="false"></app-simple-tooltip>
        </div>
        <div class="graph-btn-container">
          <span class="fa fa-expand" *ngIf="!expanded" (click)="expandChart()" (mouseenter)="initTooltip('btnExpandChart')" (mouseleave)="hideTooltip('btnExpandChart')"></span>
          <app-simple-tooltip *ngIf="!expanded" [message]="'Expand graph'" [hover]="hoverBtnExpand" [display]="displayExpandTooltip"
            [adjustLeft]="101" [adjustPercent]="false"></app-simple-tooltip>
        </div>
      </div>
    </div>
    
  </div>

  
  <div class="d-flex flex-column my-2 p-2 scroll-item data-summary">
  <label class="group-label bold">Data Summary</label>
  <table class="table pt-2">
    <tbody class="w-100">
      <tr class="bold small text-center no-border">
        <th class="bold w-25">Key</th>
        <th class="bold w-25"> Flow ({{ xUnits }})</th>
        <th class="bold w-25">{{ yName }} ({{ yUnits}})</th>
        <th class="bold w-25"></th>
      </tr>
      <tr *ngFor="let point of selectedDataPoints; let index = index">
        <td class="text-center">
          <div class="point-key-circle" 
          [ngStyle]="{'background': index < defaultPointCount? defaultTraceBackground : point.pointColor, 
                      'border': index < defaultPointCount? '4px solid ' + defaultTraceOutlineColor : ''}">
        </div>
        </td>
        <td class="text-center">{{point.pointX | number: '1.0-0'}}</td>
        <td class="text-center">{{point.pointY | number: '1.0-0'}}</td>
        <td class='delete-row text-center'>
          <a *ngIf="index >= defaultPointCount" class="click-link m-2 text-danger" (click)="deleteDataPoint(point, index)">
            Delete
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  
  <!-- Hidden copy table -->
  <app-exportable-results-table [tableString]="dataSummaryTableString"
  (updateTableString)="updateTableString()"></app-exportable-results-table>
  <div class="hidden-copy-table">
  <label class="group-label bold">Data Summary</label>
  <table #dataSummaryTable class="table pt-2 d-flex">
    <tbody class="w-100">
      <tr class="bold small text-center no-border">
        <th class="bold w-25"> Flow ({{ xUnits}})</th>
        <th class="bold w-25">{{ yName }} ({{ yUnits}})</th>
      </tr>
      <tr *ngFor="let point of selectedDataPoints; let index = index">
        <td class="text-center">{{point.pointX}}</td>
        <td class="text-center">{{point.pointY}}</td>
      </tr>
    </tbody>
  </table>
  </div>