<div class="row">
  <div class="col-10  mx-auto">
    <div class="content-container">
      <h2>AMO Tools Desktop</h2>
      <div class="card">
        <div class="card-header">
          Acknowledgments
        </div>
        <div class="card-block">
          <p>The following individuals are major contributors to the Better Plants Energy Assessment Tool Suite</p>
          <h4><u>Oak Ridge National Laboratory Staff</u></h4>
          Gina Accawi<br>Daryl Cox<br>Sachin Nimbalkar<br>Thomas Wenning<br>

          <br>

          <h4><u>Contractors and Oak Ridge Associated Universities Student Employees</u></h4>
          Kristina Armstrong<br>Jon Hadden<br>Michal Kaminski<br>Subhankar Mishra<br>
          Mark Root<br>Asha Shibu<br>Preston Shires<br>Kiran Thirumaran<br>David Vance<br>Michael Whitmer<br>

          <br>

          <h4><u>Student Undergraduate Laboratory Internship Participants</u></h4>
          Kyle Beanblossom<br>Autumn Ferree<br>Raul Rios<br>

          <br>

          <h4><u>Subject Matter Experts Contributors</u></h4>
          <u>Don Casada</u>, Diagnostic Solutions, LLC, developed the previous versions of PSAT and FSAT, and contributed the PSAT algorithms for this version.<br>
          <u>Arvind Thekdi</u>, E3M, Inc. developed the previous versions of PHAST, including PHASTEx, and continued to contribute to this newer version of PHAST by
          providing the algorithms for the previous versions (PHAST 3.0 and PHASTEX), updating the algorithms for improved accuracy, and providing feedback.
        </div>
      </div>
    </div>
  </div>
</div>
