<div class="row">
  <div class="col-10  mx-auto">
    <div class="content-container border-0 p-0">
      <!-- <h2>AMO Tools Desktop</h2> -->
      <div class="card">
        <div class="card-header bold">
          Acknowledgments
        </div>
        <div class="card-body">
          This tool was developed by staff at Oak Ridge National Laboratory (ORNL) and in collaboration with the U.S. Department of
          Energy. This software tool was funded by the U.S. Department of Energy's Office of Energy Efficiency and Renewable
          Energy under Oak Ridge National Laboratory Contract No. DE-AC05-00OR22725.

          <br>

          <p>The following individuals are major contributors to the Better Plants Energy Assessment Tool Suite:</p>

          <h4>
            <u>Subject Matter Experts Contributors</u>
          </h4>
          <u>Don Casada, Diagnostic Solutions, LLC,</u> developed the previous versions of PSAT and FSAT, and contributed the
          PSAT algorithms for this version.
          <br>
          <u>Arvind Thekdi, E3M, Inc.</u> developed the previous versions of PHAST, including PHASTEx, and continued to contribute
          to this newer version of PHAST by providing the algorithms for the previous versions (PHAST 3.0 and PHASTEX), updating
          the algorithms for improved accuracy, and providing feedback.
          <br> <u>Vern Martin, Donovan Martin, and Mats Falk, Flowcare,</u> provided updated Fan algorithms and feedback during the
          development of the current version of FSAT. 
          <br>
          <u>Ron Wroblewski, Productive Energy Solutions,</u> reviewed and provided
          updated Fan algorithms for this newer version of FSAT.
          <br>
          <br>

          <h4>
            <u>Oak Ridge National Laboratory Staff</u>
          </h4>
          Gina Accawi
          <br> Daryl Cox
          <br> Wei Guo
          <br> Sachin Nimbalkar
          <br> Thomas Wenning
          <br>
          <br>

          <h4>
            <u>Contractors and Oak Ridge Associated Universities Student Employees</u>
          </h4>
          Kristina Armstrong
          <br> Jon Hadden
          <br> Dmitry Howard
          <br> Michal Kaminski
          <br> Subhankar Mishra
          <br> Mark Root
          <br> Asha Shibu
          <br> Preston Shires
          <br> Kiran Thirumaran
          <br> David Vance
          <br> Michael Whitmer
          <br>
          <br>
          <h4>
            <u>Student Undergraduate Laboratory Internship Participants</u>
          </h4>
          Kyle Beanblossom
          <br> Autumn Ferree
          <br> Zach Fontenot
          <br> Ben Rappoport
          <br> Raul Rios
          <br>
          <br>
          <h4>
          <u>Community College Internship Participants</u>
          </h4>
          Allie Ledbetter
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>