/* label, select {
    font-size: 20px !important;
} */


 .nav-btn{
    background: #2E4053;
    color: white;
    border: none;
    line-height: 2;
}

.nav-btn-clear{
    background: #6D757C;
    color: white;
    border: none;
    line-height: 2;
}

.nav-btn.middle{
    border-left-width: 2px;
    border-left-style: solid;
    border-right-width: 2px;
    border-right-style: solid;
}

.nav-item .dropdown-toggle{
    color: white;
    background: #2E4053;
}

.navbar-nav .dropdown-menu{
    position: absolute;
    font-size: small;
}

.navbar{
    background: white;
    border-bottom: solid 4px;
    font-size: small;
}


.nav-link, .btn{
    padding: 4px;
}

.list-group-item{
    padding: 8px;
    font-size: small;
}

.list-group-item.active{
    color: white;
    background: #2E4053;
}

a.list-group-item:hover, .nav-link{
    cursor: pointer;
}

a.list-group-item.active:hover{
    color: white;
}

.nav-link.dropdown-toggle:hover, .nav-btn:hover{
    background-color: #808B96;
}


.menu-modal{
    position: fixed;
    z-index: 8000;
    border-style: solid;
    border-width: 4px;
    top: -150%;
    left: 10px;
  }

  .menu-modal.show{
      bottom: 10px;
  }

  .modal-card-header{
      font-size: 1.5rem;
      font-weight: bold;
  }

  .navbar.second-nav{
    background: none;
    border-bottom: none;
    justify-content: flex-end;
  }

  .navbar.second-nav .nav-item:not(:first-child){
      padding-left: 2px;
      padding-right: 2px;
  }

@media screen and (max-width: 992px) {
    .nav-btn{
        background: #2E4053;
        color: white;
        border: none;
        line-height: 2;
        width: 100% !important;
    }
    
    .nav-btn-clear{
        background: #6D757C;
        color: white;
        border: none;
        line-height: 2;
    }
    
    .nav-btn.middle{
        border: none !important;
    }   
    
    .navbar.second-nav {
        width: 100%;
        flex-direction: column;
    }

    .navbar.second-nav .nav-item:not(:first-child) {
        padding: 0px !important;
    }
    
}