
.summary-card-header{
    border-bottom: #566573 groove 2px;
    border-image: linear-gradient(to right,#F0F3F4, #212F3D) 50 / 2;

  }
 .fa-pie-chart{
    font-size: large;
    color: #212F3D;
  }
    
  
  .fa-edit:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .fa-edit{
    padding-top: 4px;
    font-size: larger;
  }

  td{
    padding: 0px;
    font-size: small;
}


.no-assessment-data:hover{
  background-color: #efefef;
  cursor: pointer;
}

.no-assessment-data{
  text-align: center;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
}