
.general .summary-card-header{
  border-bottom: #566573 groove 2px;
  border-image: linear-gradient(to right,#F0F3F4, #145A32) 50 / 2;
}

.general .fa-pie-chart{
    font-size: large;
    color: #145A32;
}

.phast .summary-card-header{
  border-bottom: #566573 groove 2px;
  border-image: linear-gradient(to right,#F0F3F4, #BF3D00) 50 / 2;
}


.phast .fa-pie-chart{
  font-size: large;
  color: #BF3D00;
}
    
.psat .summary-card-header{
  border-bottom: #566573 groove 2px;
  border-image: linear-gradient(to right,#F0F3F4, #2980b9) 50 / 2;

}
.psat .fa-pie-chart{
    font-size: large;
    color: #2980b9;
  }
      
  .fa-edit:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .fa-edit{
    padding-top: 4px;
    font-size: larger;
  }

  td{
    padding: 0px;
    font-size: small;
}


.no-assessment-data:hover{
  background-color: #efefef;
  cursor: pointer;
}

.no-assessment-data{
  text-align: center;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
}

.dropdown-menu.shown{
  display: grid;
  padding: 0px;
}

.dropdown-item{
  padding: .25rem;
  font-size: small;
}

.dropdown-toggle::after{
margin-left: 0;
}

.dropdown-toggle{
padding: 3px;
}

.psat .dropdown-toggle,
.psat .btn-primary{
background-color: #2980b9;
}


.phast .dropdown-toggle,
.phast .btn-primary{
background-color: #BF3D00;
}

.dropdown-menu.shown{
left: -160px;
background-color: #ececec;
}

.dropdown-item:hover{
cursor: pointer;
}


.modal-footer .btn{
  padding: 6px
}