<form [formGroup]="byVolumeForm">
  <div class="form-section">
    <div class="form-group">
      <label class="small" for="gasTypeId">Fuel
        <a id="materialHelp" class="form-text small click-link" (click)="showMaterialModal()" *ngIf="!inModal">Add New
          Fuel</a>
      </label>
      <select name="gasTypeId" class="form-control" formControlName="gasTypeId" id="gasTypeId"
        (change)="setProperties()" (focus)="focusField('gasTypeId')" >
        <option *ngFor="let option of options" [ngValue]="option.id">{{option.substance}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="small">Higher Heating Value</label>
      <div *ngIf="higherHeatingValue" class="text-center small">
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'">{{higherHeatingValue | number:'2.0-2'}} Btu/lb</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'">{{higherHeatingValue | number:'2.0-2'}} kJ/kg</span>
      </div>
      <div *ngIf="!higherHeatingValue" class="text-center small">
        &mdash; &mdash;
      </div>
    </div>
    <div class="form-group">
      <label class="small" for="flueGasTemperature">Flue Gas Temperature</label>
      <div class="input-group">
        <input name="flueGasTemperature" type="number" step="10" class="form-control"
          formControlName="flueGasTemperature" id="flueGasTemperature" onfocus="this.select();"
          (input)="calculate()" (focus)="focusField('flueGasTemperature')" >
        <span class="input-group-addon units"><span
            [innerHTML]="settings.steamTemperatureMeasurement | settingsLabel"></span></span>
      </div>
      <span class="alert-danger pull-right small"
        *ngIf="byVolumeForm.controls.flueGasTemperature.invalid && !byVolumeForm.controls.flueGasTemperature.pristine">
        <span *ngIf="byVolumeForm.controls.flueGasTemperature.errors.required">Value Required</span>
        <span *ngIf="byVolumeForm.controls.flueGasTemperature.errors.min">Value can't be less than Combustion Temperature
          ({{byVolumeForm.controls.flueGasTemperature.errors.min.min}}<span
            [innerHTML]="settings.steamTemperatureMeasurement | settingsLabel"></span>).</span>
      </span>
      <span class="alert-warning pull-right small" *ngIf="warnings?.flueGasTemp !== null">{{warnings.flueGasTemp}}</span>
    </div>

    <div class="form-group">
      <label class="small" for="ambientAirTemp">Ambient Air Temperature</label>
      <div class="input-group">
        <input name="ambientAirTemp" type="number" step="10" class="form-control" formControlName="ambientAirTemp" id="ambientAirTemp"
          onfocus="this.select();" (input)="calculate()" (focus)="focusField('ambientAirTemp')" >
        <span class="input-group-addon units"><span
            [innerHTML]="settings.steamTemperatureMeasurement | settingsLabel"></span></span>
      </div>
      <span class="alert-danger pull-right small"
        *ngIf="byVolumeForm.controls.ambientAirTemp.invalid && !byVolumeForm.controls.ambientAirTemp.pristine">
        <span *ngIf="byVolumeForm.controls.ambientAirTemp.errors.required">Value Required</span>
      </span>
    </div>

    <div class="form-group">
      <label class="small" for="oxygenCalculationMethod">Percent Oxygen Or Excess Air?</label>
      <select name="oxygenCalculationMethod" class="form-control" (change)="changeMethod()"
        formControlName="oxygenCalculationMethod" id="oxygenCalculationMethod"
        (focus)="focusField('oxygenCalculationMethod')" >
        <option *ngFor="let method of calculationMethods" [ngValue]="method">{{method}}</option>
      </select>
    </div>

    <div *ngIf="!calcMethodExcessAir">
      <div class="form-group"> 
        <label class="small" for="o2InFlueGas">O<sub>2</sub> In Flue Gas</label>
        <div class="input-group">
        <input name="o2InFlueGas" type="number" step="1" min="0" max="20.5" class="form-control"
        formControlName="o2InFlueGas" id="o2InFlueGas" onfocus="this.select();" (input)="calcExcessAir()"
        (focus)="focusField('o2InFlueGas')" >
        <span class="input-group-addon units">%</span>
        <span class="alert-warning pull-right small"
        *ngIf="byVolumeForm.controls.o2InFlueGas.invalid && !byVolumeForm.controls.o2InFlueGas.pristine">
        <span *ngIf="byVolumeForm.controls.o2InFlueGas.errors.required">Value Required</span>
      </span>
    </div>
    <span class="alert-warning pull-right small" *ngIf="warnings?.o2Warning !== null">{{warnings.o2Warning}}</span>
  </div>
      

    </div>

    <div class="form-group" *ngIf="calcMethodExcessAir">

      <label class="small" for="excessAirPercentage">Excess Air</label>
      <div class="input-group">
        <input name="excessAirPercentage" type="number" step="any" min="0" class="form-control"
          formControlName="excessAirPercentage" id="excessAirPercentage" onfocus="this.select();"
          (input)="calcExcessAir()" (focus)="focusField('excessAirPercentage')" >
        <span class="input-group-addon units">%</span>
      </div>
      <span class="alert-danger pull-right small"
        *ngIf="byVolumeForm.controls.excessAirPercentage.invalid && !byVolumeForm.controls.excessAirPercentage.pristine">
        <span *ngIf="byVolumeForm.controls.excessAirPercentage.errors.required">Value Required</span>
        <span *ngIf="byVolumeForm.controls.excessAirPercentage.errors.greaterThan == 0">Value must be greater than than
          0.</span>
      </span>
    </div>

    <div class="form-group">
      <label class="small" for="combustionAirTemperature">Combustion Air Temperature</label>
      <div class="input-group">
        <input name="combustionAirTemperature" type="number" step="10" class="form-control"
          formControlName="combustionAirTemperature" id="combustionAirTemperature" onfocus="this.select();"
          (input)="calculate()" (focus)="focusField('combustionAirTemperature')" >
        <span class="input-group-addon units"><span
            [innerHTML]="settings.steamTemperatureMeasurement | settingsLabel"></span></span>
      </div>

      <span class="alert-danger pull-right small"
        *ngIf="byVolumeForm.controls.combustionAirTemperature.invalid && !byVolumeForm.controls.combustionAirTemperature.pristine">
        <span *ngIf="byVolumeForm.controls.combustionAirTemperature.errors.required">Value Required</span>
        <span *ngIf="byVolumeForm.controls.combustionAirTemperature.errors.max">Value can't be greater than Flue Gas
          Temperature ({{byVolumeForm.controls.combustionAirTemperature.errors.max.max}} 
          <span [innerHTML]="settings.steamTemperatureMeasurement | settingsLabel"></span>).
        </span>
      </span>
    </div>

    <div class="form-group">
      <label class="small" for="fuelTemperature">Fuel Temperature</label>
      <div class="input-group">
        <input name="fuelTemperature" type="number" step="10" class="form-control" formControlName="fuelTemperature" id="fuelTemperature"
          onfocus="this.select();" (input)="calculate()" (focus)="focusField('fuelTemperature')" >
        <span class="input-group-addon units"><span
            [innerHTML]="settings.steamTemperatureMeasurement | settingsLabel"></span></span>
      </div>
      <span class="alert-danger pull-right small"
        *ngIf="byVolumeForm.controls.fuelTemperature.invalid && !byVolumeForm.controls.fuelTemperature.pristine">
        <span *ngIf="byVolumeForm.controls.fuelTemperature.errors.required">Value Required</span>
      </span>
    </div>

    <div class="form-group">
      <label class="small" for="moistureInAirCombustion">Moisture in Combustion Air</label>
      <div class="input-group">
        <input name="moistureInAirCombustion" type="number" step="any" min="0" max="100" class="form-control"
          formControlName="moistureInAirCombustion" id="moistureInAirCombustion" onfocus="this.select();"
          (input)="calculate()" (focus)="focusField('moistureInAirCombustion')" >
        <span class="input-group-addon units">%</span>
      </div>
      <span class="alert-danger pull-right small"
        *ngIf="byVolumeForm.controls.moistureInAirCombustion.invalid && !byVolumeForm.controls.moistureInAirCombustion.pristine">
        <span *ngIf="byVolumeForm.controls.moistureInAirCombustion.errors.required">Value Required</span>
        <span *ngIf="byVolumeForm.controls.moistureInAirCombustion.errors.max">Value can't be greater than
          {{byVolumeForm.controls.moistureInAirCombustion.errors.max.max}} %.</span>
        <span *ngIf="byVolumeForm.controls.moistureInAirCombustion.errors.min">Value can't be less than
          {{byVolumeForm.controls.moistureInAirCombustion.errors.min.min}} %.</span>
      </span>
      <a id="moistureCalc" class="form-text small click-link" (click)="showMoistureModal()">Calculate</a>
    </div>
    
    <div *ngIf="!inModal && isBaseline" class="form-group">
      <label class="small" for="heatInput">Fuel Consumption</label>
      <div class="input-group">
        <input name="heatInput" type="number" step="10" class="form-control"
          formControlName="heatInput" id="heatInput" onfocus="this.select();"
          (input)="calculate()" (focus)="focusField('heatInput')" >
        <span class="input-group-addon units"><span
            [innerHTML]="settings.energyResultUnit | settingsLabel"></span>/hr</span>
      </div>
      <span class="alert-danger pull-right small"
      *ngIf="byVolumeForm.controls.heatInput.invalid && !byVolumeForm.controls.heatInput.pristine">
      <span *ngIf="byVolumeForm.controls.heatInput.errors.required">Value Required</span>
      <span *ngIf="byVolumeForm.controls.heatInput.errors.min">Value can't be less than
        {{byVolumeForm.controls.heatInput.errors.min.min}}
        <span [innerHTML]="settings.energyResultUnit | settingsLabel"></span>/hr</span>
    </span>
    </div>
  </div>
</form>

<div bsModal #materialModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="materialModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div>
        <app-flue-gas-material *ngIf="materialModal.isShown" (closeModal)="hideMaterialModal($event)"
          (hideModal)="hideMaterialModal($event)" [settings]="settings"></app-flue-gas-material>
      </div>
    </div>
  </div>
</div>

<div bsModal #moistureModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="moistureModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg flue-gas-modal">
    <div class="modal-content h-100">
      <app-flue-gas-moisture-modal class="h-100" *ngIf="showMoisture" (closeModal)="hideMoistureModal($event)"
        (hideModal)="hideMoistureModal($event)" [settings]="settings"></app-flue-gas-moisture-modal>
    </div>
  </div>
</div>