<label class="group-label" (click)="toggleForm()">
    <span class="fa fa-chevron-down" *ngIf="displayForm"></span>
    <span class="fa fa-chevron-right" *ngIf="!displayForm"></span>
    Manual Specification
</label>
<form *ngIf="displayForm" class="p-1" [formGroup]="motorForm">
    <!--sychronous speed: synchronousSpeed-->
    <div class="form-group">
        <label for="synchronousSpeed">Synchronous Speed</label>
        <select class="form-control" (focus)="focusField('synchronousSpeed')" (change)="save()"
            formControlName="synchronousSpeed" id="synchronousSpeed">
            <option *ngFor="let option of synchronousSpeedOptions" [ngValue]="option">{{option}} rpm</option>
        </select>
    </div>
    <!-- ratedSpeed -->
    <div class="form-group" *ngIf="displayOptions.ratedSpeed">
        <label for="ratedSpeed">Rated Speed</label>
        <div class="input-group">
            <input type="number" class="form-control" (focus)="focusField('ratedSpeed')" (input)="save()"
                formControlName="ratedSpeed" id="ratedSpeed">
            <span class="input-group-addon units">rpm</span>
        </div>
        <span class="alert-danger pull-right small" *ngIf="motorForm.controls.ratedSpeed.invalid">
            <span *ngIf="motorForm.controls.ratedSpeed.errors.min">Value can't be less than
                {{motorForm.controls.ratedSpeed.errors.min.min}} rpm.</span>
            <span *ngIf="motorForm.controls.ratedSpeed.errors.max">Value can't be less than
                {{motorForm.controls.ratedSpeed.errors.max.max}} rpm.</span>
        </span>
    </div>

    <!-- frame -->
    <div class="form-group" *ngIf="displayOptions.frame">
        <label for="frame">Frame</label>
        <input type="text" class="form-control" (focus)="focusField('frame')" (input)="save()" formControlName="frame"
            id="frame">
    </div>

    <!-- shaftPosiion -->
    <div class="form-group" *ngIf="displayOptions.shaftPosiion">
        <label for="shaftPosiion">Shaft Orientation</label>
        <select class="form-control" (focus)="focusField('shaftPosiion')" (change)="save()"
            formControlName="shaftPosiion" id="shaftPosiion">
            <option [ngValue]="'Vertical'">Vertical</option>
            <option [ngValue]="'Horizontal'">Horizontal</option>
        </select>
    </div>
    <!-- windingResistance -->
    <div class="form-group" *ngIf="displayOptions.windingResistance">
        <label for="windingResistance">Winding Resistance</label>
        <div class="input-group">
            <input type="number" class="form-control" (focus)="focusField('windingResistance')" (input)="save()"
                formControlName="windingResistance" id="windingResistance">
            <span class="input-group-addon units">&#x3A9;</span>
        </div>
        <span class="alert-danger pull-right small" *ngIf="motorForm.controls.windingResistance.invalid">
            <span *ngIf="motorForm.controls.windingResistance.errors.min">Value can't be less than
                {{motorForm.controls.windingResistance.errors.min.min}} &#x3A9;.</span>
        </span>
    </div>
    <!-- rotorBars -->
    <div class="form-group" *ngIf="displayOptions.rotorBars">
        <label for="rotorBars">Number of Rotor Bars</label>
        <input type="number" class="form-control" (focus)="focusField('rotorBars')" (input)="save()"
            formControlName="rotorBars" id="rotorBars">
        <span class="alert-danger pull-right small" *ngIf="motorForm.controls.rotorBars.invalid">
            <span *ngIf="motorForm.controls.rotorBars.errors.min">Value can't be less than
                {{motorForm.controls.rotorBars.errors.min.min}}</span>
        </span>
    </div>
    <!-- statorSlots -->
    <div class="form-group" *ngIf="displayOptions.statorSlots">
        <label for="statorSlots">Number of Stator Slots</label>
        <input type="number" class="form-control" (focus)="focusField('statorSlots')" (input)="save()"
            formControlName="statorSlots" id="statorSlots">
        <span class="alert-danger pull-right small" *ngIf="motorForm.controls.statorSlots.invalid">
            <span *ngIf="motorForm.controls.statorSlots.errors.min">Value can't be less than
                {{motorForm.controls.statorSlots.errors.min.min}}</span>
        </span>
    </div>
    <!-- ampsLockedRotor -->
    <div class="form-group" *ngIf="displayOptions.ampsLockedRotor">
        <label for="ampsLockedRotor">Locked Rotor Amps</label>
        <div class="input-group">
            <input type="number" class="form-control" (focus)="focusField('ampsLockedRotor')" (input)="save()"
                formControlName="ampsLockedRotor" id="ampsLockedRotor">
            <span class="input-group-addon units">A</span>
        </div>
        <span class="alert-danger pull-right small" *ngIf="motorForm.controls.ampsLockedRotor.invalid">
            <span *ngIf="motorForm.controls.ampsLockedRotor.errors.min">Value can't be less than
                {{motorForm.controls.ampsLockedRotor.errors.min.min}} A</span>
        </span>
    </div>

    <!-- currentType -->
    <div class="form-group" *ngIf="displayOptions.currentType">
        <label for="currentType">Current Type</label>
        <select class="form-control" (focus)="focusField('currentType')" (change)="save()" formControlName="currentType"
            id="currentType">
            <option [ngValue]="'AC'">AC</option>
            <option [ngValue]="'DC'">DC</option>
        </select>
    </div>

    <!-- poles -->
    <div class="form-group" *ngIf="displayOptions.poles">
        <label for="poles">Poles</label>
        <select class="form-control" (focus)="focusField('poles')" (change)="save()" formControlName="poles" id="poles">
            <option *ngFor="let option of polesOptions" [ngValue]="option">{{option}}</option>
        </select>
    </div>
</form>