.assessment-item{
    margin-bottom: 2rem;
}

@media print {
    .page-break-before{
        page-break-before: always;
    }

    .print-page-title {
        font-size: 40px !important;
        font-weight: bold;
    }

    .print-avoid-break{
        page-break-inside: avoid;
    }

    .print-container {
        overflow: hidden;
    }
}