  .dropdown-menu.shown{
    display: grid;
    padding: 0px;
}

.dropdown-item{
    padding: .25rem;
    font-size: small;
}

.dropdown-toggle::after{
  margin-left: 0;
}

.dropdown-toggle{
  padding: 3px;
}

.dropdown-menu.shown{
  left: -160px;
  background-color: #ececec;
}

.dropdown-item:hover{
  cursor: pointer;
}

.modal-footer .btn{
  padding: 6px
}

  a:not([href]):not([tabindex]):hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  a:not([href]):not([tabindex]){
    color: blue;
  }
  
  .last-updated {
    font-size: 13px;
    color: #999;
  }

 
  .dropdown-menu.shown{
    display: grid;
    padding: 0px;
  }
  
  .dropdown-item{
    padding: .25rem;
    font-size: small;
  }
  
  .dropdown-toggle::after{
  margin-left: 0;
  }
  
  .dropdown-toggle{
  padding: 3px;
  }
  
  .dropdown-menu.shown{
  left: -160px;
  background-color: #ececec;
  }
  
  .dropdown-item:hover{
  cursor: pointer;
  }
  
  .modal-footer .btn{
  padding: 6px
  }
  
  .modal-body{
    max-height: 85vh;
    overflow: auto;
  }

  .motor-header{
    border-bottom: #84b641 groove 2px;
    border-image: linear-gradient(to right, #F0F3F4, #84b641) 50 / 2;
  }

  .pump-header{
    border-bottom: #2980b9 groove 2px;
    border-image: linear-gradient(to right, #F0F3F4, #2980b9) 50 / 2;
  }

  .compressed-air-header{
    border-bottom: #2980b9 groove 2px;
    border-image: linear-gradient(to right, #F0F3F4, #7030A0) 50 / 2;
  }
  .motor-row{
    border-bottom: #84b641 groove 6px;
    border-image: linear-gradient(to right,#F0F3F4, #84b641) 80 / 2;
  }

  .list-row {
    padding: 14px;
    background: white;
    border-radius: .25rem;
    margin-top: .5rem;
    box-shadow: 3px 0px 5px 2px grey;
  }
  
  .pump-row{
    border-bottom: #2980b9 groove 6px;
    border-image: linear-gradient(to right,#F0F3F4, #2980b9) 80 / 2;
  }
  .compressed-air-row{
    border-bottom: #2980b9 groove 6px;
    border-image: linear-gradient(to right,#F0F3F4, #7030A0) 80 / 2;
  }


.btn-primary.dropdown-toggle,
.motor-primary{
  background-color: #84b641 !important;
}

.btn-primary.dropdown-toggle,
.pump-primary{
  background-color: #2980b9 !important;
}

.compressed-air-primary{
  background-color: #7030A0 !important;
}

.icon-image{
  height: 20px;
}