<label class="group-label w-100">
    Profile Data
</label>
<div class="w-100 d-flex justify-content-start mb-1 mt-1" *ngIf="hourIntervals.length != 1 || displayLogToolLink">
    <div class="pl-2 pr-2 border-left" *ngIf="hourIntervals.length != 1">
        <label class="small" for="fillRightProfile">
            <input type="checkbox" [(ngModel)]="fillRight" name="fillRightProfile" id="fillRightProfile">
            Fill right on change
        </label>
    </div>
    <div *ngIf="displayLogToolLink && !showSelectField" class="pl-2 pr-2 border-right border-left">
        <a class="click-link small" (click)="showDataFromExplorer()">
            Set Data From Data Explorer
        </a>
    </div>
    <div *ngIf="displayLogToolLink && showSelectField" class="pl-2 pr-2 border-right border-left">
        <a class="click-link small" (click)="hideDataFromExplorer()">
            Hide Data Explorer Options
        </a>
    </div>
    <div *ngIf="displayLogToolLink" class="pl-2 pr-2 border-right border-left">
        <a class="click-link small" (click)="visitDataExplorer()">
            Visit Data Explorer
        </a>
    </div>
    <div *ngIf="displayLogToolLink && !showSelectField" class="pl-2 pr-2 border-right border-left">
        <p class="alert-warning small m-0">
            Select "Profile Data Type" for all Day Type's before setting Data Explorer Options
        </p>
    </div>
</div>

<div class="scroll-item">
    <div class="p-2 alert alert-danger small" *ngIf="profileSummaryValid.powerError !== undefined">
        {{profileSummaryValid.powerError}}
    </div>
    <div class="p-2 alert alert-danger small" *ngIf="profileSummaryValid.percentError !== undefined">
        {{profileSummaryValid.percentError}}
    </div>
    <div class="p-2 alert alert-danger small" *ngIf="profileSummaryValid.airFlowError !== undefined">
        {{profileSummaryValid.airFlowError}}
    </div>
    <div class="p-2 warning alert-warning small" *ngIf="profileSummaryValid.airFlowWarning !== undefined">
        {{profileSummaryValid.airFlowWarning}}
    </div>
    <div class="p-2 alert alert-danger small" *ngIf="profileSummaryValid.powerFactorError !== undefined">
        {{profileSummaryValid.powerFactorError}}
    </div>
    <div class="p-2 alert alert-danger small" *ngIf="profileSummaryValid.voltError !== undefined">
        {{profileSummaryValid.voltError}}
    </div>
    <div class="p-2 alert alert-danger small" *ngIf="profileSummaryValid.ampError !== undefined">
        {{profileSummaryValid.ampError}}
    </div>

    <table class="table bg-white" *ngIf="profileDataType && selectedDayTypeId"
        [ngClass]="{'single-entry': hourIntervals.length == 1}">
        <thead>
            <tr>
                <th>
                    <!-- Compressor Name -->

                </th>
                <td>

                </td>
                <td *ngIf="showSelectField">
                    Explorer
                </td>
                <th class="text-center" *ngFor="let interval of hourIntervals">
                    {{interval | intervalHourLabel}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let summary of profileSummary | dayTypeFilter:selectedDayTypeId; let compressorIndex = index;">
                @let compressor = summary.compressorId | compressorItem:inventoryItems;
                <td class="bold text-center">
                    {{compressor.name}}
                </td>
                <td class="text-center">
                    <span *ngIf="profileDataType == 'power'">Power</span>
                    <span *ngIf="profileDataType == 'percentCapacity'">% Capacity</span>
                    <span *ngIf="profileDataType == 'airflow'">Airflow</span>
                    <span *ngIf="profileDataType == 'percentPower'">% Power</span>
                    <span *ngIf="profileDataType == 'powerFactor'">
                        Power Factor<br>
                        Amps<br>
                        Volts
                    </span>
                </td>
                <td *ngIf="showSelectField && profileDataType != 'powerFactor'">
                    <select [(ngModel)]="summary.logToolFieldId" class="form-control w-100"
                        name="{{compressorIndex+'logToolFieldId'}}" id="{{compressorIndex+'logToolFieldId'}}"
                        (change)="setLogToolData(summary)">
                        <option *ngFor="let field of fieldOptions" [value]="field.fieldId">
                            {{field.alias}}
                        </option>
                    </select>
                </td>
                <!--power factor input-->
                <td *ngIf="showSelectField && profileDataType == 'powerFactor'">
                    <select [(ngModel)]="summary.logToolFieldIdPowerFactor" class="form-control w-100"
                        name="{{compressorIndex+'logToolFieldId_powerFactor'}}"
                        id="{{compressorIndex+'logToolFieldId_powerFactor'}}"
                        (change)="setLogToolDataPowerFactor(summary)">
                        <option *ngFor="let field of fieldOptions" [value]="field.fieldId">
                            {{field.alias}}
                        </option>
                    </select>
                    <select [(ngModel)]="summary.logToolFieldIdAmps" class="form-control w-100"
                        name="{{compressorIndex+'logToolFieldId_amps'}}" id="{{compressorIndex+'logToolFieldId_amps'}}"
                        (change)="setLogToolDataAmps(summary)">
                        <option *ngFor="let field of fieldOptions" [value]="field.fieldId">
                            {{field.alias}}
                        </option>
                    </select>
                    <select [(ngModel)]="summary.logToolFieldIdVolts" class="form-control w-100"
                        name="{{compressorIndex+'logToolFieldId'}}" id="{{compressorIndex+'logToolFieldId'}}"
                        (change)="setLogToolDataVolts(summary)">
                        <option *ngFor="let field of fieldOptions" [value]="field.fieldId">
                            {{field.alias}}
                        </option>
                    </select>
                </td>

                <td class="input-cell" *ngFor="let summaryData of summary.profileSummaryData; let dataIndex = index;">
                    <span *ngIf="summaryData.order != 0 && profileDataType != 'powerFactor'">
                        <input required *ngIf="profileDataType == 'power'" type="number" class="form-control"
                            id="{{'order_'+compressorIndex+dataIndex}}"
                            name="{{'summaryData_'+compressorIndex+dataIndex}}"
                            (input)="updateProfileSummary(summary, dataIndex)" [(ngModel)]="summaryData.power"
                            step="any" min="0"
                            [ngClass]="summaryData.power | powerValidation: compressor">
                        <input required *ngIf="profileDataType == 'airflow'" type="number" class="form-control"
                            id="{{'order_'+compressorIndex+dataIndex}}"
                            name="{{'summaryData_'+compressorIndex+dataIndex}}"
                            (input)="updateProfileSummary(summary, dataIndex)" [(ngModel)]="summaryData.airflow"
                            step="any" min="0"
                            [ngClass]="summaryData.airflow | airflowValidation: compressor"
                            >
                        <input required *ngIf="profileDataType == 'percentCapacity'" type="number" class="form-control"
                            id="{{'order_'+compressorIndex+dataIndex}}"
                            name="{{'summaryData_'+compressorIndex+dataIndex}}"
                            (input)="updateProfileSummary(summary, dataIndex)" [(ngModel)]="summaryData.percentCapacity"
                            step="any" min="0"
                            [ngClass]="summaryData.percentCapacity | percentCapacityValidation">
                        <input required *ngIf="profileDataType == 'percentPower'" type="number" class="form-control"
                            id="{{'order_'+compressorIndex+dataIndex}}"
                            name="{{'summaryData_'+compressorIndex+dataIndex}}"
                            (input)="updateProfileSummary(summary, dataIndex)" [(ngModel)]="summaryData.percentPower"
                            step="any" min="0"
                            [ngClass]="summaryData.percentPower | percentPowerValidation: compressor">
                    </span>
                    <div class="w-100 bold text-center" *ngIf="summaryData.order == 0">
                        &mdash; &mdash;
                    </div>
                    <div class="flex-column" *ngIf="summaryData.order != 0 && profileDataType == 'powerFactor'">
                        <input type="number" class="form-control"
                            id="{{'order_powerFactor_'+compressorIndex+dataIndex}}"
                            name="{{'summaryData_powerFactor_'+compressorIndex+dataIndex}}"
                            (input)="updateProfileSummary(summary, dataIndex)" [(ngModel)]="summaryData.powerFactor"
                            step=".1" min="0"
                            [ngClass]="summaryData.powerFactor | powerFactorValidation">
                        <input type="number" class="form-control" id="{{'order_amps_'+compressorIndex+dataIndex}}"
                            name="{{'summaryData_amps_'+compressorIndex+dataIndex}}"
                            (input)="updateProfileSummary(summary, dataIndex)" [(ngModel)]="summaryData.amps" step="any" min="0"
                            [ngClass]="summaryData.amps | ampsValidation: compressor">
                        <input type="number" class="form-control" id="{{'order_'+compressorIndex+dataIndex}}"
                            name="{{'summaryData_volts_'+compressorIndex+dataIndex}}"
                            (input)="updateProfileSummary(summary, dataIndex)" [(ngModel)]="summaryData.volts"
                            step="any" min="0"
                            [ngClass]="summaryData.volts | voltsValidation">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="p-2 alert alert-warning" *ngIf="!profileDataType">
    Select Profiling Data Type
</div>

<div class="p-2 alert alert-warning" *ngIf="!selectedDayTypeId">
    Select a Day Type
</div>