<div class="report-banner hide-print">
	<h1 class="pull-left">Efficiency Report</h1>

	<div class="btn-toolbar pull-right hide-print" role="toolbar">
		<div class="btn-group mr-2" role="group">
			<button class="btn btn-secondary" (click)="print()">Print</button>
			<button class="btn btn-secondary" [disabled]="true" (click)="exportToCsv()">Export to CSV</button>
		</div>
		<div class="btn-group" role="group">
			<button class="btn btn-secondary" aria-label="Close" (click)="closeReport()">Close Report</button>
		</div>
	</div>
</div>