<div class="d-flex flex-column">
  <div class="p-1">
    <label class="group-label">Boiler Properties</label>
    <table class="table table-hover table-striped">
      <tbody>
        <tr>
          <td class="bold w-50">Blowdown Rate</td>
          <td class="text-center w-50"> {{inputData.boilerInput.blowdownRate}} %</td>
        </tr>
        <tr>
          <td class="bold w-50">Boiler Energy</td>
          <td class="text-center w-50"> {{boiler.boilerEnergy | number:'1.0-2'}} </td>
        </tr>
        <tr>
          <td class="bold w-50">Combustion Efficiency</td>
          <td class="text-center w-50"> {{inputData.boilerInput.combustionEfficiency}} %</td>
        </tr>
        <tr>
          <td class="bold w-50">Fuel Energy</td>
          <td class="text-center w-50">{{boiler.fuelEnergy | number:'1.0-2'}} </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="p-1">
    <table class="table table-hover table-striped">
      <tbody>
        <tr>
          <td></td>
          <td class="bold text-center">Feedwater</td>
          <td class="bold text-center">Blowdown</td>
          <td class="bold text-center">Steam</td>
        </tr>
        <tr>
          <td class="bold">Pressure</td>
          <td class="text-center">{{boiler.feedwaterPressure | number:'1.0-2'}}</td>
          <td class="text-center">{{boiler.blowdownPressure | number:'1.0-2'}}</td>
          <td class="text-center">{{boiler.steamPressure | number:'1.0-2'}}</td>
        </tr>
        <tr>
          <td class="bold">Temperature</td>
          <td class="text-center">{{boiler.feedwaterTemperature | number:'1.0-2'}}</td>
          <td class="text-center">{{boiler.blowdownTemperature | number:'1.0-2'}}</td>
          <td class="text-center">{{boiler.steamTemperature}}</td>
        </tr>
        <tr>
          <td class="bold">Saturated</td>
          <td class="text-center">
            {{boiler.feedwaterQuality}}
          </td>
          <td class="text-center">
            {{boiler.blowdownQuality}}
          </td>
          <td class="text-center">
            {{boiler.steamQuality}}
            <!-- <span *ngIf="boiler.inletQuality == 0">Liquid</span>
              <span *ngIf="boiler.inletQuality == 1">Gas</span> -->
          </td>
        </tr>
        <tr>
          <td class="bold">Mass Flow</td>
          <td class="text-center">{{boiler.feedwaterMassFlow | number:'1.0-2'}}</td>
          <td class="text-center">{{boiler.blowdownMassFlow | number:'1.0-2'}}</td>
          <td class="text-center">{{boiler.steamMassFlow | number:'1.0-2'}}</td>
        </tr>
        <tr>
          <td class="bold">Specific Enthalpy</td>
          <td class="text-center">{{boiler.feedwaterSpecificEnthalpy | number:'1.0-2'}}</td>
          <td class="text-center">{{boiler.blowdownSpecificEnthalpy | number:'1.0-2'}}</td>
          <td class="text-center">{{boiler.steamSpecificEnthalpy | number:'1.0-2'}}</td>
        </tr>
        <tr>
          <td class="bold">Specific Entropy</td>
          <td class="text-center">{{boiler.feedwaterSpecificEntropy | number:'1.0-2'}}</td>
          <td class="text-center">{{boiler.blowdownSpecificEntropy | number:'1.0-2'}}</td>
          <td class="text-center">{{boiler.steamSpecificEntropy | number:'1.0-2'}}</td>
        </tr>
        <tr>
          <td class="bold">Energy Flow</td>
          <td class="text-center">{{boiler.feedwaterEnergyFlow | number:'1.0-2'}}</td>
          <td class="text-center">{{boiler.blowdownEnergyFlow | number:'1.0-2'}}</td>
          <td class="text-center">{{boiler.steamEnergyFlow | number:'1.0-2'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>