<div class="checkbox">
  <label class="group-label" for="exploreOperatoins">
    <input type="checkbox" id="exploreOperatoins" value="true" (focus)="focusField('operationsData')" (change)="toggleOperations()"
      [(ngModel)]="showOperations" /> Adjust Operations Data
  </label>
</div>
<div *ngIf="showOperations">
  <ul>
    <li>
      <div class="checkbox">
        <label for="{{'modifyOpHours_'+index}}">
          <input type="checkbox" id="{{'modifyOpHours_'+index}}" (focus)="focusField('operatingHours')" (change)="toggleOpHours()"
            [(ngModel)]="showOpHours" /> Modify Operating Hours
        </label>
      </div>
      <form *ngIf="showOpHours">
        <div class="form-group">
          <label for="baselineHours">Baseline Operating Hours</label>
          <div class="input-group">
            <input name="baseOpHours" type="number" step="any" min="0" class="form-control" [(ngModel)]="phast.operatingHours.hoursPerYear"
              id="baseOpHours" onfocus="this.select();" (input)="calculate()" (focus)="focusField('hoursPerYear')" (blur)="focusOut()">
            <span class="input-group-addon units">hrs/yr</span>
          </div>
        </div>
        <div class="form-group">
          <label for="modOpHours">Modification Operating Hours</label>
          <div class="input-group">
            <input name="modOpHours" type="number" step="any" min="0" class="form-control" [(ngModel)]="phast.modifications[exploreModIndex].phast.operatingHours.hoursPerYear"
              id="modOpHours" onfocus="this.select();" (input)="calculate()" (focus)="focusField('hoursPerYear')" (blur)="focusOut()">
            <span class="input-group-addon units">hrs/yr</span>
          </div>
        </div>
      </form>
    </li>
    <li>
      <div class="checkbox">
        <label for="{{'modifyFuelCosts_'+index}}">
          <input type="checkbox" id="{{'modifyFuelCosts_'+index}}" (focus)="focusField('fuelCosts')" (change)="toggleFuelCosts()"
            [(ngModel)]="showFuelCosts" /> Modify Fuel Costs
        </label>
      </div>
      <form *ngIf="showFuelCosts">
        <div class="form-group">
          <label for="baselineFuelCosts">Baseline Fuel Costs</label>
          <div class="input-group">
            <input name="baselineFuelCosts" type="number" step="any" class="form-control" id="baselineFuelCosts" (input)="calculate()"
              [(ngModel)]="phast.operatingCosts.fuelCost">
            <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure == 'Imperial'">$/MMBtu</span>
            <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure == 'Metric'">$/GJ</span>
          </div>
        </div>
        <div class="form-group">
          <label for="modFuelCosts">Modification Fuel Costs</label>
          <div class="input-group">
            <input name="modFuelCosts" type="number" step="any" class="form-control" id="modFuelCosts" (input)="calculate()" [(ngModel)]="phast.modifications[exploreModIndex].phast.operatingCosts.fuelCost">
            <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure == 'Imperial'">$/MMBtu</span>
            <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure == 'Metric'">$/GJ</span>
          </div>
        </div>
      </form>
    </li>
    <li>
      <div class="checkbox">
        <label for="{{'modifySteamCosts_'+index}}">
          <input type="checkbox" id="{{'modifySteamCosts_'+index}}" (focus)="focusField('steamCosts')" (change)="toggleSteamCosts()"
            [(ngModel)]="showSteamCosts" /> Modify Steam Costs
        </label>
      </div>
      <form *ngIf="showSteamCosts">
        <div class="form-group">
          <label for="baselineSteamCosts">Baseline Steam Costs</label>
          <div class="input-group">
            <input name="baselineSteamCosts" type="number" step="any" class="form-control" id="baselineSteamCosts" (input)="calculate()"
              [(ngModel)]="phast.operatingCosts.steamCost">
            <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure == 'Imperial'">$/MMBtu</span>
            <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure == 'Metric'">$/GJ</span>
          </div>
        </div>
        <div class="form-group">
          <label for="modSteamCosts">Modification Fuel Costs</label>
          <div class="input-group">
            <input name="modSteamCosts" type="number" step="any" class="form-control" id="modSteamCosts" (input)="calculate()" [(ngModel)]="phast.modifications[exploreModIndex].phast.operatingCosts.steamCost">
            <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure == 'Imperial'">$/MMBtu</span>
            <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure == 'Metric'">$/GJ</span>
          </div>
        </div>
      </form>
    </li>
    <li>
      <div class="checkbox">
        <label for="{{'modifyElectricityCosts_'+index}}">
          <input type="checkbox" id="{{'modifyElectricityCosts_'+index}}" (focus)="focusField('electricityCosts')" (change)="toggleElectricityCosts()"
            [(ngModel)]="showElectricityCosts" /> Modify Electricity Costs
        </label>
      </div>
      <form *ngIf="showElectricityCosts">
        <div class="form-group">
          <label for="baselineElectricityCosts">Baseline Electricity Costs</label>
          <div class="input-group">
            <input name="baselineElectricityCosts" type="number" step="any" class="form-control" id="baselineElectricityCosts" (input)="calculate()"
              [(ngModel)]="phast.operatingCosts.electricityCost">
              <span class="units input-group-addon">$/kWh</span>
          </div>
        </div>
        <div class="form-group">
          <label for="modElectricityCosts">Modification Fuel Costs</label>
          <div class="input-group">
            <input name="modElectricityCosts" type="number" step="any" class="form-control" id="modElectricityCosts" (input)="calculate()" [(ngModel)]="phast.modifications[exploreModIndex].phast.operatingCosts.electricityCost">
            <span class="units input-group-addon">$/kWh</span>
          </div>
        </div>
      </form>
    </li>
  </ul>
</div>