<div class="row justify-content-center align-items-center" style="height: 100%;">
<div class="col-8">
  <h4>
    This portion of the application is still in active development.
  </h4>
  <h5>
    Below is a description of what you will find here in the future.
  </h5>

  <p>
    This section includes several tools or calculators that can be used to quickly assess (calculate) improvements in efficiency,
    reduction in fuel use and loss calculations for commonly used fuels.
  </p>
  <p>
    The calculators include charge material theoretical heat energy requirement, flue gas, hot gas leakage, wall losses, water
    or air cooling loss, atmosphere loss, fixture or tray loss, and extended surface heat loss calculators.
  </p>
</div>
</div>