<div class="checkbox">
  <label class="group-label" for="adjustCondensateHandling">
    <input type="checkbox" id="adjustCondensateHandling" (focus)="focusField('default')" (change)="toggleCondensate()"
      [(ngModel)]="showCondensateHandling" /> Adjust Condensate Handling
  </label>
</div>
<ul *ngIf="showCondensateHandling">
  <!--CONDENSATE RECOVERY RATE-->
  <li class="explore-opps-item">
    <div class="checkbox">
      <label for="modifyHighPressureCondensateRecovery">
        <input type="checkbox" id="modifyHighPressureCondensateRecovery" (focus)="focusField('condensationRecoveryRate')"
          (change)="toggleHighPressureCondensateRecovery()" [(ngModel)]="showHighPressureCondensateRecovery" /> Adjust
        High Pressure Condensate Recovery Rate
      </label>
    </div>
  </li>

    <li class="explore-opps-item" *ngIf="showHighPressureCondensateRecovery">
    <form class="explore-opps-form" [formGroup]="baselineHighPressureForm">
      <div class="text-center">
        <label for="baselineHPCondensateRecovery" class="baseline-value-label">Baseline Condensate Recovery Rate</label>
        <div class="text-muted text-center baseline-value-input mt-1">{{ baselineHighPressureForm.controls.condensationRecoveryRate.value }}%</div>

      </div>
    </form>
    <form class="explore-opps-form" [formGroup]="modificationHighPressureForm">
      <div class="form-group explore-opps-formgroup">
        <label for="modificationHPCondensateRecovery" class="mod-value-label">Modification Condensate Recovery Rate</label>
        <div class="input-group">
          <input name="modificationHPCondensateRecovery" type="number" step="any" id="modificationHPCondensateRecovery"
            class="form-control" (focus)="focusField('condensationRecoveryRate')" (input)="save()" formControlName="condensationRecoveryRate" />
          <span class="input-group-addon units">%</span>
        </div>
        <span class="alert-danger pull-right small" *ngIf="modificationHighPressureForm.controls.condensationRecoveryRate.invalid && !modificationHighPressureForm.controls.condensationRecoveryRate.pristine">
          <span *ngIf="modificationHighPressureForm.controls.condensationRecoveryRate.errors.required">Value Required</span>
          <span *ngIf="modificationHighPressureForm.controls.condensationRecoveryRate.errors.max">Value can't be
            greater than
            {{modificationHighPressureForm.controls.condensationRecoveryRate.errors.max.max}} %.</span>
          <span *ngIf="modificationHighPressureForm.controls.condensationRecoveryRate.errors.min">Value can't be less
            than
            {{modificationHighPressureForm.controls.condensationRecoveryRate.errors.min.min}} %.</span>
        </span>
      </div>
    </form>
  </li>
  <hr *ngIf="showHighPressureCondensateRecovery">


  <li class="explore-opps-item" *ngIf="ssmt.headerInput.numberOfHeaders == 3">
    <div class="checkbox">
      <label for="modifyMediumPressureCondensateRecovery">
        <input type="checkbox" id="modifyMediumPressureCondensateRecovery" (focus)="focusField('condensationRecoveryRate')"
          (change)="toggleMediumPressureCondensateRecovery()" [(ngModel)]="showMediumPressureCondensateRecovery" />
        Adjust Medium Pressure Condensate Recovery Rate
      </label>
    </div>
  </li>

  <li class="explore-opps-item" *ngIf="showMediumPressureCondensateRecovery">
    <form class="explore-opps-form" [formGroup]="baselineMediumPressureForm">
      <div class="text-center">
        <label for="baselineMPCondensateRecovery" class="baseline-value-label">Baseline Condensate Recovery Rate</label>
        <div class="text-muted text-center baseline-value-input mt-1">{{ baselineMediumPressureForm.controls.condensationRecoveryRate.value }}%</div>

      </div>
    </form>
    <form class="explore-opps-form" [formGroup]="modificationMediumPressureForm">
      <div class="form-group explore-opps-formgroup">
        <label for="modificationMPCondensateRecovery" class="mod-value-label">Modification Condensate Recovery Rate</label>
        <div class="input-group">
          <input name="modificationMPCondensateRecovery" type="number" step="any" id="modificationMPCondensateRecovery"
            class="form-control" (focus)="focusField('condensationRecoveryRate')" (input)="save()" formControlName="condensationRecoveryRate" />
          <span class="input-group-addon units">%</span>
        </div>
        <span class="alert-danger pull-right small" *ngIf="modificationMediumPressureForm.controls.condensationRecoveryRate.invalid && !modificationMediumPressureForm.controls.condensationRecoveryRate.pristine">
          <span *ngIf="modificationMediumPressureForm.controls.condensationRecoveryRate.errors.required">Value Required</span>
          <span *ngIf="modificationMediumPressureForm.controls.condensationRecoveryRate.errors.max">Value can't be
            greater than
            {{modificationMediumPressureForm.controls.condensationRecoveryRate.errors.max.max}} %.</span>
          <span *ngIf="headerForm.controls.condensationRecoveryRate.errors.min">Value can't be less than
            {{modificationMediumPressureForm.controls.condensationRecoveryRate.errors.min.min}} %.</span>
        </span>
      </div>
    </form>
  </li>
  <hr *ngIf="showMediumPressureCondensateRecovery">

  <li class="explore-opps-item" *ngIf="ssmt.headerInput.numberOfHeaders != 1">
    <div class="checkbox">
      <label for="modifyLowPressureCondensateRecovery">
        <input type="checkbox" id="modifyLowPressureCondensateRecovery" (focus)="focusField('condensationRecoveryRate')"
          (change)="toggleLowPressureCondensateRecovery()" [(ngModel)]="showLowPressureCondensateRecovery" /> Adjust
        Low Pressure Condensate Recovery Rate
      </label>
    </div>
  </li>

  <li class="explore-opps-item" *ngIf="showLowPressureCondensateRecovery">
    <form class="explore-opps-form" [formGroup]="baselineLowPressureForm">
      <div class="text-center">
        <label for="baselineLPCondensateRecovery" class="baseline-value-label">Baseline Condensate Recovery Rate</label>
        <div class="text-muted text-center baseline-value-input mt-1">{{ baselineLowPressureForm.controls.condensationRecoveryRate.value }}%</div>

      </div>
    </form>
    <form class="explore-opps-form" [formGroup]="modificationLowPressureForm">
      <div class="form-group explore-opps-formgroup">
        <label for="modificationLPCondensateRecovery" class="mod-value-label">Modification Condensate Recovery Rate</label>
        <div class="input-group">
          <input name="modificationLPCondensateRecovery" type="number" step="any" id="modificationLPCondensateRecovery"
            class="form-control" (focus)="focusField('condensationRecoveryRate')" (input)="save()" formControlName="condensationRecoveryRate" />
          <span class="input-group-addon units">%</span>
        </div>
        <span class="alert-danger pull-right small" *ngIf="modificationLowPressureForm.controls.condensationRecoveryRate.invalid && !modificationLowPressureForm.controls.condensationRecoveryRate.pristine">
          <span *ngIf="modificationLowPressureForm.controls.condensationRecoveryRate.errors.required">Value Required</span>
          <span *ngIf="modificationLowPressureForm.controls.condensationRecoveryRate.errors.max">Value can't be greater
            than
            {{modificationLowPressureForm.controls.condensationRecoveryRate.errors.max.max}} %.</span>
          <span *ngIf="modificationLowPressureForm.controls.condensationRecoveryRate.errors.min">Value can't be less
            than
            {{modificationLowPressureForm.controls.condensationRecoveryRate.errors.min.min}} %.</span>
        </span>
      </div>
    </form>
  </li>
  <hr *ngIf="showLowPressureCondensateRecovery">

  <!--FLASH CONDENSATE-->
  <li class="explore-opps-item">
    <div class="checkbox" *ngIf="ssmt.headerInput.numberOfHeaders == 3">
      <label for="adjustFlashCondensateMediumPressure">
        <input type="checkbox" id="adjustFlashCondensateMediumPressure" (focus)="focusField('default')" (change)="toggleFlashCondensateMediumPressure()"
          [(ngModel)]="showFlashCondensateMediumPressure" /> Flash Condensate to Medium Pressure
      </label>
    </div>
  </li>

  <li class="explore-opps-item" *ngIf="showFlashCondensateMediumPressure">
    <form class="explore-opps-form" [formGroup]="baselineMediumPressureForm">
      <div class="text-center">
        <label for="baselineFlashCondensateMediumPressure" class="baseline-value-label">Baseline Flash Condensate to Medium Pressure</label>
        <div class="text-muted text-center baseline-value-input mt-1">
          <span *ngIf="baselineMediumPressureForm.value.flashCondensateIntoHeader == true">Yes</span>
          <span *ngIf="baselineMediumPressureForm.value.flashCondensateIntoHeader == false">No</span>
        </div>
      </div>
    </form>
    <form class='explore-opps-form' [formGroup]="modificationMediumPressureForm">
      <div class="form-group explore-opps-formgroup">
        <label for="modificationFlashCondensateMediumPressure" class="mod-value-label">Modification Flash Condensate to Medium Pressure</label>
        <select name="modificationFlashCondensateMediumPressure" class="form-control w-100" id="modificationFlashCondensateMediumPressure"
          (change)="save()" (focus)="focusField('flashCondensateIntoHeader')" formControlName="flashCondensateIntoHeader">
          <option [ngValue]=true>Yes</option>
          <option [ngValue]=false>No</option>
        </select>
      </div>
    </form>
  </li>
  <hr *ngIf="showFlashCondensateMediumPressure">

  <li class="explore-opps-item">
    <div class="checkbox" *ngIf="ssmt.headerInput.numberOfHeaders != 1">
      <label for="adjustFlashCondensateLowPressure">
        <input type="checkbox" id="adjustFlashCondensateLowPressure" (focus)="focusField('default')" (change)="toggleFlashCondensateLowPressure()"
          [(ngModel)]="showFlashCondensateLowPressure" /> Flash Condensate to Low Pressure
      </label>
    </div>
  </li>

  <li class="explore-opps-item" *ngIf="showFlashCondensateLowPressure">
    <form class="explore-opps-form" [formGroup]="baselineLowPressureForm">
      <div class="text-center">
        <label for="baselineFlashCondensateLowPressure" class="baseline-value-label">Baseline Flash Condensate to Low Pressure</label>
        <div class="text-muted text-center baseline-value-input mt-1">
          <span *ngIf="baselineLowPressureForm.value.flashCondensateIntoHeader == true">Yes</span>
          <span *ngIf="baselineLowPressureForm.value.flashCondensateIntoHeader == false">No</span>
        </div>
      </div>
    </form>
    <form class="explore-opps-form" [formGroup]="modificationLowPressureForm">
      <div class="form-group explore-opps-formgroup">
        <label for="modificationFlashCondensateLowPressure" class="mod-value-label">Modification Flash Condensate to Low Pressure</label>
        <select name="modificationFlashCondensateLowPressure" class="form-control w-100" id="modificationFlashCondensateLowPressure"
          (change)="save()" (focus)="focusField('flashCondensateIntoHeader')" formControlName="flashCondensateIntoHeader">
          <option [ngValue]=true>Yes</option>
          <option [ngValue]=false>No</option>
        </select>
      </div>
    </form>
  </li>
  <hr *ngIf="showFlashCondensateLowPressure">

  <!--RETURN TEMPERATURE-->
  <li class="explore-opps-item">
    <div class="checkbox">
      <label for="adjustReturnTemperature">
        <input type="checkbox" id="adjustReturnTemperature" (focus)="focusField('default')" (change)="toggleReturnTemperature()"
          [(ngModel)]="showReturnTemperature" /> Modify Condensate Return Temperature
      </label>
    </div>

  <li class="explore-opps-item" *ngIf="showReturnTemperature"> 
    <form class="explore-opps-form" [formGroup]="baselineHighPressureForm">
      <div class="text-center">
        <label for="baselineCondensateReturnTemperature" class="baseline-value-label"> Baseline Return Temperature</label>
        <div class="text-muted baseline-value-input mt-1">{{ baselineHighPressureForm.controls.condensateReturnTemperature.value}} 
          <span [innerHTML]="settings.steamTemperatureMeasurement | settingsLabel"></span>
      </div>

      </div>
    </form>
    <form class="explore-opps-form" [formGroup]="modificationHighPressureForm">
      <div class="form-group explore-opps-formgroup">
        <label for="modificationCondensateReturnTemperature" class="mod-value-label">Modification Return Temperature</label>
        <div class="input-group">
          <input name="modificationCondensateReturnTemperature" type="number" step="any" id="modificationCondensateReturnTemperature"
            class="form-control" (focus)="focusField('condensateReturnTemperature')" (input)="save()" formControlName="condensateReturnTemperature" />
          <span class="units input-group-addon" [innerHTML]="settings.steamTemperatureMeasurement | settingsLabel"></span>
        </div>
        <span class="alert-danger pull-right small" *ngIf="modificationHighPressureForm.controls.condensateReturnTemperature.invalid && !modificationHighPressureForm.controls.condensateReturnTemperature.pristine">
          <span *ngIf="modificationHighPressureForm.controls.condensateReturnTemperature.errors.required">Value
            Required</span>
          <span *ngIf="modificationHighPressureForm.controls.condensateReturnTemperature.errors.max">Value can't be
            greater than
            {{modificationHighPressureForm.controls.condensateReturnTemperature.errors.max.max}}
            <span [innerHTML]="settings.steamTemperatureMeasurement | settingsLabel"></span>.</span>
          <span *ngIf="modificationHighPressureForm.controls.condensateReturnTemperature.errors.min">Value can't be
            less than
            {{modificationHighPressureForm.controls.condensateReturnTemperature.errors.min.min}}
            <span [innerHTML]="settings.steamTemperatureMeasurement | settingsLabel"></span>.</span>
        </span>
      </div>
    </form>
  </li>
</ul>