<div class="card">
  <div class="card-body custom-card-body card-container col">
    <div class="row">
      <div *ngIf="!deletingMaterial" class="col-sm-6 col-md-6 card-column">
        <div class="row phast align-items-top">
          <div class="col-12">
            <div class="header card-header">
              <h3 *ngIf="!editExistingMaterial">Create Fuel</h3>
              <h3 *ngIf="editExistingMaterial">Edit Fuel</h3>
            </div>
          </div>
        </div>
        <form>
          <div class="form-section" *ngIf="!editExistingMaterial">
            <div class="form-group">
              <label class="small" for="selectedMaterial">Start with existing material</label>
              <select name="selectedMaterial" class="form-control" id="selectedMaterial" (change)="setExisting()" [(ngModel)]="selectedMaterial"
                (focus)="focusField('selectedMaterial')">
                <option *ngFor="let material of allMaterials" [ngValue]="material">{{material.substance}}</option>
              </select>
            </div>
          </div>

          <div class="form-section">
            <div class="form-group">
              <label class="small" for="substance">Substance Name</label>
              <div class="input-group" *ngIf="!editExistingMaterial">
                <input type="text" id="substance" name="substance" class="form-control" [(ngModel)]="newMaterial.substance" (input)="checkMaterialName()"
                  (focus)="focusField('substance')" />
              </div>
              <div class="input-group" *ngIf="editExistingMaterial">
                <input type="text" id="substance" name="substance" class="form-control" [(ngModel)]="newMaterial.substance" (input)="checkEditMaterialName()"
                  (focus)="focusField('substance')" />
              </div>
              <span class="alert-warning pull-right small" *ngIf="nameError !== null">{{nameError}}</span>
            </div>
            <div class="form-group">
              <label class="small" for="C2H6">C
                <sub>2</sub>H
                <sub>6</sub>
              </label>
              <div class="input-group">
                <input type="number" step="any" min="0" max="100" id="C2H6" name="C2H6" class="form-control" [(ngModel)]="newMaterial.C2H6"
                  (input)="setHHV()" (focus)="focusField('C2H6')" />
                <span class="input-group-addon units">%</span>
              </div>
            </div>
            <div class="form-group">
              <label class="small" for="C3H8">C
                <sub>3</sub>H
                <sub>8</sub>
              </label>
              <div class="input-group">
                <input type="number" step="any" min="0" max="100" id="C3H8" name="C3H8" class="form-control" [(ngModel)]="newMaterial.C3H8"
                  (input)="setHHV()" (focus)="focusField('C3H8')" />
                <span class="input-group-addon units">%</span>
              </div>
            </div>
            <div class="form-group">
              <label class="small" for="C4H10_CnH2n">C
                <sub>4</sub>H
                <sub>10</sub>CnH
                <sub>2</sub>n</label>
              <div class="input-group">
                <input type="number" step="any" min="0" max="100" id="C4H10_CnH2n" name="C4H10_CnH2n" class="form-control" [(ngModel)]="newMaterial.C4H10_CnH2n"
                  (input)="setHHV()" (focus)="focusField('C4H10_CnH2n')" />
                <span class="input-group-addon units">%</span>
              </div>
            </div>
            <div class="form-group">
              <label class="small" for="CH4">CH
                <sub>4</sub>
              </label>
              <div class="input-group">
                <input type="number" step="any" min="0" max="100" id="CH4" name="CH4" class="form-control" [(ngModel)]="newMaterial.CH4"
                  (input)="setHHV()" (focus)="focusField('CH4')" />
                <span class="input-group-addon units">%</span>
              </div>
            </div>
            <div class="form-group">
              <label class="small" for="CO">CO</label>
              <div class="input-group">
                <input type="number" step="any" min="0" max="100" id="CO" name="CO" class="form-control" [(ngModel)]="newMaterial.CO" (input)="setHHV()"
                  (focus)="focusField('CO')" />
                <span class="input-group-addon units">%</span>
              </div>
            </div>
            <div class="form-group">
              <label class="small" for="CO2">CO
                <sub>2</sub>
              </label>
              <div class="input-group">
                <input type="number" step="any" min="0" max="100" id="CO2" name="CO2" class="form-control" [(ngModel)]="newMaterial.CO2"
                  (input)="setHHV()" (focus)="focusField('CO2')" />
                <span class="input-group-addon units">%</span>
              </div>
            </div>
            <div class="form-group">
              <label class="small" for="H2">H
                <sub>2</sub>
              </label>
              <div class="input-group">
                <input type="number" step="any" min="0" max="100" id="H2" name="H2" class="form-control" [(ngModel)]="newMaterial.H2" (input)="setHHV()"
                  (focus)="focusField('H2')" />
                <span class="input-group-addon units">%</span>
              </div>
            </div>
            <div class="form-group">
              <label class="small" for="H2O">H
                <sub>2</sub>O</label>
              <div class="input-group">
                <input type="number" step="any" min="0" max="100" id="H2O" name="H2OH2" class="form-control" [(ngModel)]="newMaterial.H2O"
                  (input)="setHHV()" (focus)="focusField('H2O')" />
                <span class="input-group-addon units">%</span>
              </div>
            </div>
            <div class="form-group">
              <label class="small" for="N2">N
                <sub>2</sub>
              </label>
              <div class="input-group">
                <input type="number" step="any" min="0" max="100" id="N2" name="N2" class="form-control" [(ngModel)]="newMaterial.N2" (input)="setHHV()"
                  (focus)="focusField('N2')" />
                <span class="input-group-addon units">%</span>
              </div>
            </div>
            <div class="form-group">
              <label class="small" for="O2">O
                <sub>2</sub>
              </label>
              <div class="input-group">
                <input type="number" step="any" min="0" max="100" id="O2" name="O2" class="form-control" [(ngModel)]="newMaterial.O2" (input)="setHHV()"
                  (focus)="focusField('O2')" />
                <span class="input-group-addon units">%</span>
              </div>
            </div>
            <div class="form-group">
              <label class="small" for="SO2">SO
                <sub>2</sub>
              </label>
              <div class="input-group">
                <input type="number" step="any" min="0" max="100" id="SO2" name="SO2" class="form-control" [(ngModel)]="newMaterial.SO2"
                  (input)="setHHV()" (focus)="focusField('SO2')" />
                <span class="input-group-addon units">%</span>
              </div>
            </div>
          </div>
          <div class="form-section">
            <div class="form-group">
              <label class="small" for="totalOfFlueGasses">Total of Fuel Components
                <!--<a id="setHHV" class="form-text text-help" (click)="setHHV()">Calculate from Gas Composition</a>-->
              </label>
              <div class="text-center small">
                <span>{{totalOfFlueGasses | number:'1.2-2' }} %</span>
              </div>
            </div>
            <div class="form-group" [ngClass]="{'difference-error': differenceError}">
              <label class="small" for="difference">Difference</label>
              <div class="text-center small">
                {{difference | number:'1.0-3'}} %
              </div>
            </div>
            <div class="form-group">
              <label class="small" for="heatingValue">Heating Value
                <!--<a id="setHHV" class="form-text text-help" (click)="setHHV()">Calculate from Gas Composition</a>-->
              </label>
              <div class="text-center small">
                <span *ngIf="settings.unitsOfMeasure == 'Imperial'">{{newMaterial.heatingValue | sigFigs:'6'}} Btu/lb</span>
                <span *ngIf="settings.unitsOfMeasure == 'Metric'">{{newMaterial.heatingValue | sigFigs:'6'}} kJ/kg</span>
              </div>
            </div>
            <div class="form-group">
              <label class="small" for="heatingValueVolume">Heating Value Volume
                <!--<a id="setHHV" class="form-text text-help" (click)="setHHV()">Calculate from Gas Composition</a>-->
              </label>
              <div class="text-center small">
                <span *ngIf="settings.unitsOfMeasure == 'Imperial'">{{newMaterial.heatingValueVolume | sigFigs:'6'}} Btu/SCF</span>
                <span *ngIf="settings.unitsOfMeasure == 'Metric'">{{newMaterial.heatingValueVolume | sigFigs:'6'}} kJ/Nm
                  <sup>3</sup>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="small" for="specificGravity">Specific Gravity</label>
              <div class="text-center small">
                {{newMaterial.specificGravity | number:'2.0-3'}}
              </div>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="!deletingMaterial" class="col-sm-6 col-md-6 card-help-column">
        <div class="tab-content">
          <app-flue-gas-material-help [currentField]="currentField"></app-flue-gas-material-help>
        </div>
      </div>


      <div *ngIf="deletingMaterial" class="col-sm-12 col-md-12 card-column">
        <div class="text-center">
          <div class="row phast align-items-top">
            <div class="col-12">
              <div class="header card-header">
                <h3>Confirm Delete</h3>
              </div>
            </div>
          </div>
          <div class="delete-warning-container">
            <div class="row">
              <div class="col-12">
                Material Name: {{newMaterial.substance}}
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                Are you sure you want to
                <strong>
                  <u>permanently delete</u>
                </strong> this material?
                <br>This cannot be undone.
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-btn-container">
      <button type="button" class="btn btn-secondary btn-sm modal-btn" (click)="hideMaterialModal()">Cancel</button>
      <button *ngIf="!editExistingMaterial && !deletingMaterial" type="button" class="btn btn-primary btn-sm modal-btn" (click)="addMaterial()" [disabled]="!isValid || !isNameValid">Submit</button>
      <button *ngIf="editExistingMaterial && !deletingMaterial" type="button" class="btn btn-primary btn-sm modal-btn" (click)="updateMaterial()" [disabled]="!isValid || !isNameValid">Submit</button>
      <button *ngIf="deletingMaterial" type="button" class="btn btn-danger btn-sm modal-btn" (click)="deleteMaterial()">Delete</button>
    </div>
  </div>
</div>