<div class="form-section calculator-form">
  <div class="form-group">
    <label for="measuredSpeed">Measured Speed</label>
    <div class="input-group calc-addon-group">
      <input type="number" step="10" min="0" class="form-control" id="measuredSpeed" [(ngModel)]="tmpMeasuredSpeed" (input)="emitChange()"
             onfocus="this.select();">
    </div>
  </div>

  <div class="form-group">
    <label for="nameplateFullLoadSpeed">Nameplate Full Load Speed</label>
    <div class="input-group calc-addon-group">
      <input type="number" step="10" min="0" class="form-control" id="nameplateFullLoadSpeed" [(ngModel)]="tmpNameplateFullLoadSpeed" (input)="emitChange()"
             onfocus="this.select();">
    </div>
  </div>

  <div class="form-group">
    <label for="synchronousSpeed">Synchronous Speed</label>
    <div class="input-group calc-addon-group">
      <input type="number" step="10" min="0" class="form-control" id="synchronousSpeed" [(ngModel)]="tmpSynchronousSpeed" (input)="emitChange()"
             onfocus="this.select();">
    </div>
  </div>

  <div class="form-group">
    <label for="loadEstimation">Percent Load Estimation</label>
    <div class="input-group calc-addon-group">
      <input type="number" step="10" min="0" class="form-control" id="loadEstimation" [(ngModel)]="tmpLoadEstimation" (input)="emitChange()"
             onfocus="this.select();">
    </div>
  </div>
</div>
