<button class="btn pull-right" (click)="hideSetupDialog()">
  <span aria-hidden="true">&times;</span>
</button>
<h4>Setup Your Process Heating Losses</h4>
<p>In this section you will input your process heating losses.</p>
<p>Once you have added the data for your current system (your baseline) you can add modifications to explore potential savings
  within your system.
</p>
<p>Please setup your baseline data completely before navigating to the "Assessment" tab and adding modifications. Once a modifcation
  is added you will not be able to alter your baseline.</p>
<button class="btn btn-primary" (click)="hideSetupDialog()">Got It!</button>