

label {
	width: 100% !important;
}

.positive-savings{
	color: green;
}

.negative-savings{
	color: red;
}

.explore-column{
	box-shadow: 0px 0px 69px -1px rgba(0,0,0,0.2);
	background: #fff;
	z-index: 2;
}

.form-card{
	border: none;
}

.tab-row{
	width: 100%;
}

.tab-item{
	width: 50%;
	text-align: center;
	font-size: large;
}

.tab-item-3{
  width: 33.33%;
  text-align: center;
  font-size: large;
}

.data-row{
	margin-top: 5%;
}

.data-table{
	background: white;
}

.savings{
	margin-bottom: 0px;
}
.op-rating{
	margin-bottom: 10px;
}

.explore-container{
	padding-bottom: 70px;
	max-height: none !important;
	min-height: 100vh;
	height: auto !important;
}

