<form class="pl-3 pr-3" [formGroup]="form" #formElement>
    <div class="form-group">
        <label for="{{controlIds.annualOperatingHours}}">Operating Hours</label>
        <div class="input-group">
            <span class="input-group-addon op-hour-addon units">
                <a class="click-link" (click)="openOperatingHoursModal()"><span class="fa fa-calculator"></span></a>
            </span>
            <input name="annualOperatingHours" type="number" step="10" class="form-control"
                formControlName="annualOperatingHours" id="{{controlIds.annualOperatingHours}}"
                (focus)="focusField('annualOperatingHours')">
            <app-input-unit [defaultUnit]="'hrs/yr'"></app-input-unit>
        </div>
        <app-form-control-errors [control]="annualOperatingHours" [settings]="settings"
            [defaultUnit]="'hrs/yr'"></app-form-control-errors>
    </div>

    <div class="form-group">
        <label for="electricityCost">Electricity Cost</label>
        <div class="input-group">
            <input name="electricityCost" type="number" step="0.01" class="form-control" id="electricityCost"
                formControlName="electricityCost" (focus)="focusField('electricityCost')">
            <app-input-unit [defaultUnit]="'$/kWh'"></app-input-unit>
        </div>
        <app-form-control-errors [control]="electricityCost" [settings]="settings"
            [defaultUnit]="'$/kWh'"></app-form-control-errors>
    </div>

    <div class="form-group">
        <label for="fuelCost">Fuel Cost</label>
        <div class="input-group">
            <input name="fuelCost" type="number" step="0.01" class="form-control" id="fuelCost"
                formControlName="fuelCost" (focus)="focusField('fuelCost')">
            <app-input-unit [settings]="settings()" [imperialUnit]="'$/MMBtu'" [metricUnit]="'$/GJ'"></app-input-unit>
        </div>
        <app-form-control-errors [control]="fuelCost" [settings]="settings" [imperialUnit]="'$/MMBtu'"
            [metricUnit]="'$/GJ'"></app-form-control-errors>
    </div>

    <div class="form-group">
        <label for="{{controlIds.zipcode}}">Zipcode</label>
        <div class="input-group">
            <input name="zipcode" type="number" step="any" class="form-control"
                id="{{controlIds.zipcode}}" formControlName="zipcode"
                (focus)="focusField('zipcode')">
        </div>
        <app-form-control-required [control]="zipcode"></app-form-control-required>
    </div>

    <div class="form-group">
        <label for="{{controlIds.chilledWaterSupplyTemp}}">Chilled Water Supply Temperature</label>
        <div class="input-group">
            <input name="chilledWaterSupplyTemp" type="number" step="any" class="form-control"
                id="{{controlIds.chilledWaterSupplyTemp}}" formControlName="chilledWaterSupplyTemp"
                (focus)="focusField('chilledWaterSupplyTemp')">
            <app-input-unit [settings]="settings()" [imperialUnit]="TEMPERATURE_HTML.imperial"
                [metricUnit]="TEMPERATURE_HTML.metric"></app-input-unit>
        </div>
        <app-form-control-required [control]="chilledWaterSupplyTemp"></app-form-control-required>
    </div>

    <div class="form-group">
        <label for="{{controlIds.condenserCoolingMethod}}">Condenser Cooling Method</label>
        <select class="form-control" id="{{controlIds.condenserCoolingMethod}}" formControlName="condenserCoolingMethod"
            (focus)="focusField('condenserCoolingMethod')">
            @for (method of condenserCoolingMethods; track method.value) {
            <option [ngValue]="method.value">{{ method.name }}</option>
            }
        </select>
    </div>
</form>

<div class="header mr-2 ml-2">
    <h3>Carbon Emissions</h3>
    <br>
</div>

<div>
    <app-assessment-co2-savings [co2SavingsData]="co2SavingsData" [isFormDisabled]="false" [inBaseline]="true"
        (emitCurrentField)="focusField($event)"
        (emitUpdateCo2SavingsData)="updateCo2SavingsData($event)"></app-assessment-co2-savings>
</div>

<app-operating-hours-modal *ngIf="showOperatingHoursModal" (emitClose)="closeOperatingHoursModal()"
    (emitSave)="updateOperatingHours($event)" [width]="formWidth" [showMinutesSeconds]="false"
    [annualOperatingHours]="annualOperatingHours.value">
</app-operating-hours-modal>