.sticky-left{
    position: -webkit-sticky;
    position: sticky;
    left: 0;
}

.table{
    font-size: small;
}


.name-cell, .header-cell{
    background-color: white;
}

.name-cell{
    font-weight: bold;
}

th, td{
    min-width: 75px;
}