.chest-column{
    width: 65%;
}

.result-column{
    width: 35%;
}

.skyline{
    background-image: url('../../../assets/images/industrial-skyline.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center; 
    background-size: 100%;
}

.hide{
    display: none !important;
}