<div class="checkbox">
    <label class="group-label" for="reduceRuntime">
        Reduce Run Time
        <select id="reduceRuntimeOrder" [(ngModel)]="reduceRuntime.order" class="form-control pull-right" (change)="save(true)">
            <option [ngValue]=100>Off</option>
            <option *ngFor="let option of orderOptions" [ngValue]="option">{{option}}</option>
        </select>
    </label>
</div>

<div class="form-group" *ngIf="reduceRuntime.order != 100">
    <label for="reduceRuntimeImplementationCost">Implementation Cost</label>
    <div class="input-group">
        <input type="number" class="form-control" [(ngModel)]="reduceRuntime.implementationCost"
            name="reduceRuntimeImplementationCost" id="reduceRuntimeImplementationCost" (input)="save(false)"
            (focus)="helpTextField('implementationCost')">
        <span class="input-group-addon units">$</span>
    </div>
</div>


<div *ngIf="reduceRuntime.order != 100" class="w-100 p-2 justify-content-center">
    <select class="form-control" id="selectedDayType" name="selectedDayType" [(ngModel)]="selectedDayTypeId"
        (change)="setAirflowData()" (focus)="helpTextField('dayType')">
        <option *ngFor="let dayType of dayTypeOptions" [ngValue]="dayType.dayTypeId">{{dayType.name}}</option>
    </select>
</div>

<div class="scroll-item" *ngIf="reduceRuntime.order != 100">
    <table class="table bg-white" *ngIf="selectedDayTypeId">
        <thead>
            <tr>
                <th>
                    <!-- Compressor -->
                </th>
                <th class="text-center">
                    Capacity <br> acfm
                </th>
                <th class="text-center">
                    Shutdown <br>
                    Timer
                </th>
                <th class="text-center" *ngFor="let data of reduceRuntime.runtimeData[0].intervalData">
                    {{data.timeInterval}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let rData of reduceRuntime.runtimeData | dayTypeFilter:selectedDayTypeId; let rDataIndex = index;">
                <td class="bold text-center">
                    {{rData.compressorId | compressorName:inventoryItems}}
                </td>
                <td class="text-center">
                    {{rData.fullLoadCapacity}} acfm
                </td>
                <td class="text-center">
                    <input *ngIf="checkShowShutdownTimer(rData.compressorId)" type="checkbox" [(ngModel)]="rData.automaticShutdownTimer" (change)="save()">
                </td>
                <td class="text-center" *ngFor="let data of rData.intervalData; let dataIndex = index;">
                    <input type="checkbox" id="{{'isCompressorOn_'+rDataIndex+dataIndex}}"
                        name="{{'isCompressorOn_'+rDataIndex+dataIndex}}" [(ngModel)]="data.isCompressorOn"
                        (focus)="helpTextField('checkbox')"
                        (change)="save(false)">
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    Available Airflow
                </td>
                <td>

                </td>
                <td>

                </td>
                <td *ngFor="let airflow of availableAirflow; let index = index"
                    [ngClass]="{'cell-error': (airflow - requiredAirflow[index]) < 0}">
                    {{airflow | number:'1.0-0'}}
                </td>
            </tr>
            <tr>
                <td>
                    Required Airflow
                </td>
                <td>

                </td>
                <td>

                </td>
                <td *ngFor="let airflow of requiredAirflow">
                    {{airflow| number:'1.0-0'}}
                </td>
            </tr>
            <tr>
                <td>
                    Power, kW
                </td>
                <td>

                </td>
                <td>

                </td>
                <td *ngFor="let power of profilePower">
                    {{power| number:'1.0-1'}}
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div *ngIf="hasError && reduceRuntime.order != 100" class="alert alert-danger p-2 text-center">
    One of more hours have less available airflow then is required.
</div>