
.boiler-img{
    height: 120px;
    z-index: +1;
}

.feedwater{
    margin-top: 72px;
    margin-right: -2px;
    padding-left: .25rem;
}

.feedwater-column{
    margin-right: -5px;
    padding-right: 5px;
}

.blowdown-one{
    margin-top: 61px;
}

.blowdown-two{
    margin-top: 94.5px;
}

.high-pressure{
    margin-top: 14px;
}

.outlet-column{
    margin-left: -5px;
    padding-left: 5px;
}

.down-pipe{
    border-top-right-radius: 25px;
    margin-bottom: -1rem;
}

.fa-arrow-circle-right{
    font-size: 18px;
    padding-left: 2px;
}

.boiler-steam:hover{
    opacity: .5;
}


.min-100{
    min-width: 100px;
}


.min-110{
    min-width: 110px;
}


.boiler-img-holder{
    position: relative;
}

.boiler-img-holder .boiler-label{
    position: absolute;
    top: 35%;
    left: 33%;
    z-index: +1;
    font-size: large;
    background-color: white;
    padding-right: .5rem;
    padding-left: .5rem;
    font-weight: bolder;
}


.boiler-img-holder .boiler-label:hover{
    text-decoration: underline;
    cursor: pointer;
}