
.boiler-img{
    height: 120px;
    z-index: +1;
}

.feedwater{
    margin-bottom: 2px;
}

.feedwater-column{
    margin-bottom: 27px;
    margin-right: -5px;
    width: 12%;
}

.blowdown{
    margin-bottom: 6px;
}

.high-pressure{
    margin-top: 14px;
}

.fa-chevron-right{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
}
.fa-chevron-down{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 3px;
    padding-left: 3px;
}

.outlet-column{
    width: 12%;
    margin-left: -5px;
}

.down-pipe{
    border-top-right-radius: 25px;
    margin-bottom: -1rem;
}

.fa-arrow-circle-right{
    font-size: 18px;
    padding-left: 2px;
}