
.high-pressure.noSteamFlow,
.blowdown.noSteamFlow, 
.feedwater.noSteamFlow{
    background-color: #D5D8DC;
    color: #D5D8DC; 
}


.high-pressure.noSteamFlow .hidden-chevron,
.blowdown.noSteamFlow .hidden-chevron, 
.feedwater.noSteamFlow .hidden-chevron{
    color: #D5D8DC; 
}

.boiler-img{
    height: 120px;
    z-index: +1;
}

.feedwater{
    margin-top: 72px;
    margin-right: -2px;
    padding-left: .25rem;
}


.blowdown-one{
    margin-top: 61px;
    color: #5D4037;
}

.blowdown-two{
    margin-top: 94.5px;
    width: 50px;
}

.high-pressure{
    margin-top: 14px;
}

.outlet-column, .feedwater-column{
    width: 100px;
}

.down-pipe{
    border-top-right-radius: 25px;
    margin-bottom: -1rem;
}

.fa-arrow-circle-right{
    font-size: 18px;
    padding-left: 2px;
}


.boiler-steam-holder, .feedwater-holder, .boiler-img-holder, .blowdown-holder, .boiler-temp-holder{
    position: relative;
}

.boiler-temp-holder{
    padding-top: 20px;
}

.boiler-img-holder .boiler-label{
    position: absolute;
    top: 45px;
    left: 45px;
    z-index: +1;
    font-size: large;
    background-color: white;
    padding-right: .5rem;
    padding-left: .5rem;
    font-weight: bolder;
}

.boiler-img-holder .fuel-energy{
    position: absolute;
    top: 110px;
    /* width: 100px; */
    z-index: +1;
    left: -40px;
}

.boiler-img-holder .stack-loss{
    position: absolute;
    width: 100px;
    z-index: +1;
    right: 90px;
    text-align: right;
}

.boiler-img-holder .boiler-label:hover{
    text-decoration: underline;
    cursor: pointer;
}

.boiler-img-holder:hover{
    transform: scale(1.2);
    padding: 5px; 
    margin: 5px;
}

.boiler-steam-holder .boiler-mass-flow{
    position: absolute;
    bottom: 22px;
    z-index: +1;
    color: black;
    width: 100px;
    text-align: right;
    right: -5px;
}

.boiler-temp-holder .boiler-temperature{
    position: absolute;
    z-index: +1;
    color: black;
    width: 75px;
    right: 25px;
    text-align: right;
}

.feedwater-holder .feedwater-mass-flow{
    position: absolute;
    z-index: +1;
    color: black;
    width: 100px;
    top: -22px;
    /* right: -10px; */
    right: 0px;
    text-align: right;
}


.blowdown-holder .blowdown-mass-flow{
    position: absolute;
    z-index: +1;
    color: black;
    width: 100px;
    /* left: 40px; */
    bottom: 20px;
    left: -15px;
}