<div class="row psat-banner align-items-center">
  <div class="col-1 banner-content text-center">
    <a routerLink="/dashboard">
      <span class="fa fa-home home-icon"></span>
    </a>
  </div>
  <div class="col-8 banner-content">
    <div *ngIf="assessment">{{assessment.name}}</div>
  </div>
  <div class="col-2 banner-content">
    <div class="pointer-item" (click)="openPanel('settings-panel')">
      <span class="fa fa-cog home-icon pull-right"></span>
    </div>
    <div class="pointer-item" (click)="openPanel('help-panel')">
      <span class="fa fa-question home-icon pull-right"></span>
    </div>
    <div class="pointer-item" (click)="openPanel('data-panel')">
      <span class="fa fa-bar-chart-o home-icon pull-right"></span>
    </div>
  </div>
</div>