<div class="row ml-0 mr-0">
    <div class="col-12">
        <div class="header">
            <div class="h3">Departments Setup</div>
        </div>
        <a class="click-link small pull-right">Add Department</a>
    </div>
    <div class="col-12 pt-1">
        <form class="p-0">
            <div class="form-group">
                <label>Department Name</label>
                <input class="form-control" type="text" id="departmentName">
            </div>
            <div class="form-group">
                <label>Operating Hours</label>
                <div class="input-group">
                    <input class="form-control" type="text" id="runTime">
                    <span class="input-group-addon units">
                        hr/yr
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" type="text" id="departmentDescription"></textarea>
            </div>
        </form>
        <a class="click-link danger pull-right small">Delete</a>
    </div>
</div>