<div *ngIf="getSelectedTool() == 'none'">

  <div class="row">
    <div class="col-10  mx-auto">
      <div class="content-container calculator-list">
        <h2>Compressed Air Calculators</h2>
        <div class="row calc-item-row">
          <div class="col-1">
            <!--icon here-->
            <!-- <img src="assets/images/head-tool.png" class="ico-size"> -->
          </div>
          <div class="col-11">
            <a class="click-item" (click)="showTool('bag-method')">Bag Method</a>
            <p>
              Use head tool calculator to calculate pump head.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="stand-alone-calc" *ngIf="getSelectedTool() == 'bag-method'">
  <app-bag-method></app-bag-method>
</div>