<div class="row">
    <div class="col add-zone">
        <a class="pull-right small click-link" (click)="addZone()">+Add Zone</a>
    </div>
</div>
<form *ngIf="assessment.designedEnergy">
    <div *ngFor="let zone of assessment.designedEnergy.zones; let index=index;">
        <div class="form-group form-section">
            <div class="input-group">
                <span class="input-group-addon units left" (click)="removeZone(index)">
                    <i class="fa fa-times"></i>
                </span>
                <input name="{{index+'_name'}}" type="text" id="text" class="form-control" (focus)="setField('name')" [(ngModel)]="zone.name" (input)="calculate()"
                    onfocus="this.select();" />
            </div>
        </div>
        <app-designed-energy-electricity-form *ngIf="assessment.designedEnergy.electricity" [inputs]="zone.designedEnergyElectricity"
            (emitCalculate)="calculate()" (changeField)="changeElectricField($event)"></app-designed-energy-electricity-form>
        <app-designed-energy-fuel-form *ngIf="assessment.designedEnergy.fuel" [inputs]="zone.designedEnergyFuel" [settings]="settings"
            (emitCalculate)="calculate()" (changeField)="changeFuelField($event)"></app-designed-energy-fuel-form>
        <app-designed-energy-steam-form *ngIf="assessment.designedEnergy.steam" [inputs]="zone.designedEnergySteam" [settings]="settings"
            (emitCalculate)="calculate()" (changeField)="changeSteamField($event)"></app-designed-energy-steam-form>
    </div>
</form>