
.selected-highlight {
    border: 2px solid #3055cf !important;
}

thead {
    background-color: #3055cf !important;
    color: #fff;
}

th {
    padding: 1rem !important;
}

th, td {
    padding: .5rem 1rem !important;
}

.table-striped tbody tr:nth-of-type(odd) > td {
    border-left: 1px solid #bababa !important;
    border-right: 1px solid #bababa !important;
}

.table-bordered th, .table-bordered td {
    border-bottom: none;
}

