.fa-plus-circle{
    font-size: xx-large;
}

.card-header:hover{
    cursor: inherit;
    background: inherit;
  }

.no-facility-data{
    text-align: center;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

.summary-card-body.no-facility-data:hover{
    background-color: #efefef;
    cursor: pointer;
}

h5{
    margin-bottom: 0px;
}

.modal-header, .modal-body{
    padding: 6px;
}

td{
    padding: 0px;
    font-size: small;
}

li{
    list-style: none;
    font-size: small;
  }
  
  
  
  ul{
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
  }

  .vert-slash{
      padding-left: 4px;
      padding-right: 4px;
      margin-top: -4px;
  }

  
  a:not([href]):not([tabindex]){
    color: blue;
  }

  .modal-dialog{
      top: 0px;
      max-width: 750px;
  }

  .table-section-label{
      font-weight: bold;
      padding-top: 8px;
      border-top: none;
  }

  .no-margin{
      margin: 0px;
  }

  .card-body{
      padding: 6px;
  }

