<div class="skyline">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="error-template">
                        <img src="assets/images/MEASUR.png" class="app-icon">
                        <h1 class="bold">{{measurItemType | titlecase}} Not Found</h1>
                        <div class="mx-auto">
                            The {{measurItemType | titlecase}} you are trying to reach was not found on the server.
                        </div>
                        <div class="w-75 mt-2 mx-auto small">
                          If you continue to experience problems, please provide feedback to Gina Accawi at <a (click)="sendMail()">accawigk@ornl.gov</a>.
                          Please include your operating system (e.g., Windows 10, Mac OS 10.12), a screenshot of the issue, and an export of
                          your current data set.
                        </div>
                        <div class="error-actions mt-5">
                            <a class="pl-2 pr-2" [routerLink]="['/landing-screen']">Return Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>