

.table thead th, .table thead.thead-light th {
	background-color: var(--process-cooling-assessment);
	color: #fff !important;
}

.table th, .table td {
	vertical-align: middle;
	min-width: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 14px;
	height: 32px;
}

.table th {
	white-space: nowrap;
	font-weight: bold;
}

input[type="number"] {
	display: inline-block;
	text-align: center;
	font-size: 13px;
	height: 21px;
	padding: 1px 4px;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
}

.text-danger {
	color: #dc3545 !important;
}

.hr-spacer {
	border: none;
	border-top: 1px solid #e9ecef;
	margin: 0.5rem 0;
}

.use-same-schedule-checkbox {
  width: 1.3em;
  height: 1.3em;
  min-width: 1.3em;
  min-height: 1.3em;
  vertical-align: middle;
}

.btn-outline-primary {
	color: var(--process-cooling-assessment);
	border-color: var(--process-cooling-assessment);
}