
.icon-image{
    height: 18px;
  }

  .summary-card-header.phast{
    border-bottom: #BF3D00 groove 2px;
  }

  .summary-card-header.psat{
    border-bottom: #2980b9 groove 2px;
  }

  .summary-card-header.fsat{
    border-bottom: #FFE400 groove 2px;
  }