
.icon-image{
    height: 18px;
  }

  .phast .summary-card-header{
    border-bottom: #BF3D00 groove 2px;
    border-image: linear-gradient(to right,#F0F3F4, #BF3D00) 50 / 2;
  }

  .psat .summary-card-header{
    border-bottom: #2980b9 groove 2px;
    border-image: linear-gradient(to right,#F0F3F4, #2980b9) 50 / 2;
  }
/* 
  .card-header:hover{
    cursor: inherit;
    background: inherit;
  } */

  .fa-edit:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

  .fa-edit{
    padding-top: 4px;
    font-size: larger;
  }

  .dropdown-menu.shown{
    display: grid;
    padding: 0px;
}

.dropdown-item{
    padding: .25rem;
    font-size: small;
}

.dropdown-toggle::after{
  margin-left: 0;
}

.dropdown-toggle{
  padding: 3px;
}

.psat .dropdown-toggle,
.psat .btn-primary{
  background-color: #2980b9;
}


.phast .dropdown-toggle,
.phast .btn-primary{
  background-color: #BF3D00;
}

.dropdown-menu.shown{
  left: -160px;
  background-color: #ececec;
}

.dropdown-item:hover{
  cursor: pointer;
}

.modal-footer .btn{
  padding: 6px
}