
.icon-image{
    height: 18px;
  }

  .phast .summary-card-header{
    border-bottom: #BF3D00 groove 2px;
    border-image: linear-gradient(to right,#F0F3F4, #BF3D00) 50 / 2;
  }

  .psat .summary-card-header{
    border-bottom: #2980b9 groove 2px;
    border-image: linear-gradient(to right,#F0F3F4, #2980b9) 50 / 2;
  }

  .summary-card-header.fsat{
    border-bottom: #FFE400 groove 2px;
  }
/* 
  .card-header:hover{
    cursor: inherit;
    background: inherit;
  } */

  .fa-edit:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

  .fa-edit{
    padding-top: 4px;
    font-size: larger;
  }