<form #formElement [formGroup]="form">
      <label class="group-label my-1">
        Operations Information
      </label>
    
      <div class="form-group">
        <label class="small" for="operatingHours">Operating Hours</label>
        <div class="input-group">
          <span class="input-group-addon op-hour-addon units">
            <a class="click-link" (click)="openOperatingHoursModal()"><span class="fa fa-calculator"></span></a>
          </span>
          <input class="form-control" name="operatingHours" id="operatingHours" formControlName="operatingHours"
            type="number" (input)="calculate()" (focus)="focusField('operationHours')" onfocus="this.select();">
          <span class="units input-group-addon">hrs/yr</span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.operatingHours.invalid && !form.controls.operatingHours.pristine">
          <span *ngIf="form.controls.operatingHours.errors.required">Value required.</span>
          <span *ngIf="form.controls.operatingHours.errors.max">Value can't be greater than
            {{form.controls.operatingHours.errors.max.max}}.</span>
          <span *ngIf="form.controls.operatingHours.errors.min">Value can't be less than
            {{form.controls.operatingHours.errors.min.min}}.</span>
        </span>
      </div>

      <div *ngIf="inTreasureHunt" class="form-group">
        <label class="small" for="boilerUtilityType">Boiler Utility Type
        </label>
        <select name="boilerUtilityType" class="form-control" formControlName="boilerUtilityType" id="boilerUtilityType"
          (change)="setUtilityType()" (focus)="focusField('boilerUtilityType')" >
          <option for="boilerUtilityType" [ngValue]="'Natural Gas'">Natural Gas</option>
          <option for="boilerUtilityType" [ngValue]="'Other Fuel'">Other Gas</option>
        </select>
      </div>
      
      <div class="form-group">
        <label class="small" for="fuelCost">
          Cost of Fuel (Water Heater)
        </label>
        <div class="input-group">
          <input name="fuelCost" type="number" class="form-control" formControlName="fuelCost" id="fuelCost"
            onfocus="this.select();" (input)="calculate()" (focus)="focusField('fuelCost')">
          <span class="input-group-addon units">
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'">$/MMBtu</span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'">$/GJ</span>
          </span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.fuelCost.invalid && !form.controls.fuelCost.pristine">
          <span *ngIf="form.controls.fuelCost.errors.required">Value Required</span>
          <span *ngIf="form.controls.fuelCost.errors.min">Value can't be less than
            {{form.controls.fuelCost.errors.min.min}}.</span>
        </span>
      </div>
    
      <div class="form-group">
        <label class="small" for="fuelCostBoiler">
          Cost of Fuel (Steam Boiler)
        </label>
        <div class="input-group">
          <input name="fuelCostBoiler" type="number" class="form-control" formControlName="fuelCostBoiler"
            id="fuelCostBoiler" onfocus="this.select();" (input)="calculate()" (focus)="focusField('fuelCostBoiler')">
          <span class="input-group-addon units">
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'">$/MMBtu</span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'">$/GJ</span>
          </span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.fuelCostBoiler.invalid && !form.controls.fuelCostBoiler.pristine">
          <span *ngIf="form.controls.fuelCostBoiler.errors.required">Value Required</span>
          <span *ngIf="form.controls.fuelCostBoiler.errors.min">Value can't be less than
            {{form.controls.fuelCostBoiler.errors.min.min}}.</span>
        </span>
      </div>

      <div class="form-group">
        <label class="small" for="effBoiler">
          Boiler Efficiency
        </label>
        <div class="input-group">
          <input name="effBoiler" type="number" class="form-control" formControlName="effBoiler"
            id="effBoiler" onfocus="this.select();" (input)="calculate()" (focus)="focusField('effBoiler')">
          <span class="input-group-addon units">
            %
          </span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.effBoiler.invalid && !form.controls.effBoiler.pristine">
          <span *ngIf="form.controls.effBoiler.errors.required">Value Required</span>
          <span *ngIf="form.controls.effBoiler.errors.max">Value can't be greater than
            {{form.controls.effBoiler.errors.max.max}}.</span>
          <span *ngIf="form.controls.effBoiler.errors.min">Value can't be less than
            {{form.controls.effBoiler.errors.min.min}}.</span>
        </span>
      </div>
    
      <div class="form-group">
        <label class="small" for="waterCost">
          Cost of Makeup Water
        </label>
        <div class="input-group">
          <input name="waterCost" type="number" class="form-control" formControlName="waterCost" id="waterCost"
            onfocus="this.select();" (input)="calculate()" (focus)="focusField('waterCost')">
          <span class="input-group-addon units">
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'">$/gal</span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'">$/m<sup>3</sup></span>
          </span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.waterCost.invalid && !form.controls.waterCost.pristine">
          <span *ngIf="form.controls.waterCost.errors.required">Value Required</span>
          <span *ngIf="form.controls.waterCost.errors.min">Value can't be less than
            {{form.controls.waterCost.errors.min.min}}.</span>
        </span>
      </div>

      <div class="form-group">
        <label class="small" for="treatCost">
          Cost of Makeup Water Treatment
        </label>
        <div class="input-group">
          <input name="treatCost" type="number" class="form-control" formControlName="treatCost" id="treatCost"
            onfocus="this.select();" (input)="calculate()" (focus)="focusField('treatCost')">
          <span class="input-group-addon units">
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'">$/gal</span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'">$/m<sup>3</sup></span>
          </span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.treatCost.invalid && !form.controls.treatCost.pristine">
          <span *ngIf="form.controls.treatCost.errors.required">Value Required</span>
          <span *ngIf="form.controls.treatCost.errors.min">Value can't be less than
            {{form.controls.treatCost.errors.min.min}}.</span>
        </span>
      </div>
      <label class="group-label my-1">
        Heat Exchanger (HX)
      </label>

      <div *ngIf="inTreasureHunt" class="form-group">
        <label class="small" for="hxUtilityType">Heat Exchanger Utility Type
        </label>
        <select name="hxUtilityType" class="form-control" formControlName="hxUtilityType" id="hxUtilityType"
          (change)="calculate()" (focus)="focusField('hxUtilityType')" >
          <option for="hxUtilityType" [ngValue]="'Natural Gas'">Natural Gas</option>
          <option for="hxUtilityType" [ngValue]="'Other Fuel'">Other Gas</option>
        </select>
      </div>

      <div class="form-group">
        <label class="small" for="effWaterHeater">Current Water Heater Efficiency</label>
        <div class="input-group">
          <input name="effWaterHeater" type="number" step="10" class="form-control"
            formControlName="effWaterHeater" id="effWaterHeater" onfocus="this.select();"
            (input)="calculate()" (focus)="focusField('effWaterHeater')" >
          <span class="input-group-addon units">%</span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.effWaterHeater.invalid && !form.controls.effWaterHeater.pristine">
          <span *ngIf="form.controls.effWaterHeater.errors.required">Value Required</span>
          <span *ngIf="form.controls.effWaterHeater.errors.min">Value can't be less than
            {{form.controls.effWaterHeater.errors.min.min}}.</span>
          <span *ngIf="form.controls.effWaterHeater.errors.max">Value can't be greater than
            {{form.controls.effWaterHeater.errors.max.max}}.</span>
        </span>
      </div>

      <br>

      <div class="form-group">
        <label class="small" for="pressureSteamIn">Vent Steam Pressure</label>
        <div class="input-group">
          <input name="pressureSteamIn" type="number" step="10" class="form-control"
            formControlName="pressureSteamIn" id="pressureSteamIn" onfocus="this.select();"
            (input)="calculate()" (focus)="focusField('pressureSteamIn')" >
            <span class="input-group-addon units" *ngIf="settings.unitsOfMeasure == 'Imperial'">psig</span>
            <span class="input-group-addon units" *ngIf="settings.unitsOfMeasure == 'Metric'">Pa</span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.pressureSteamIn.invalid && !form.controls.pressureSteamIn.pristine">
          <span *ngIf="form.controls.pressureSteamIn.errors.required">Value Required</span>
          <span *ngIf="form.controls.pressureSteamIn.errors.min">Value can't be less than
            {{form.controls.pressureSteamIn.errors.min.min}}.</span>
        </span>
      </div>
  
      <div class="form-group">
        <label class="small" for="flowSteamRate">Vent Steam Mass Flow Rate</label>
        <div class="input-group">
          <input name="flowSteamRate" type="number" step="10" class="form-control"
            formControlName="flowSteamRate" id="flowSteamRate" onfocus="this.select();"
            (input)="calculate()" (focus)="focusField('flowSteamRate')" >
            <span class="input-group-addon units" *ngIf="settings.unitsOfMeasure == 'Imperial'">lb/hr</span>
            <span class="input-group-addon units" *ngIf="settings.unitsOfMeasure == 'Metric'">kg/hr</span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.flowSteamRate.invalid && !form.controls.flowSteamRate.pristine">
          <span *ngIf="form.controls.flowSteamRate.errors.required">Value Required</span>
          <span *ngIf="form.controls.flowSteamRate.errors.min">Value can't be less than
            {{form.controls.flowSteamRate.errors.min.min}}.</span>
        </span>
      </div>

      <br>

      <div class="form-group">
        <label class="small" for="flowWaterRate">Water HX Flow Rate</label>
        <div class="input-group">
          <input name="flowWaterRate" type="number" step="10" class="form-control"
            formControlName="flowWaterRate" id="flowWaterRate" onfocus="this.select();"
            (input)="calculate()" (focus)="focusField('flowWaterRate')" >
            <span class="input-group-addon units" *ngIf="settings.unitsOfMeasure == 'Imperial'">gpm</span>
            <span class="input-group-addon units" *ngIf="settings.unitsOfMeasure == 'Metric'">m<sup>3</sup>/s</span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.flowWaterRate.invalid && !form.controls.flowWaterRate.pristine">
          <span *ngIf="form.controls.flowWaterRate.errors.required">Value Required</span>
          <span *ngIf="form.controls.flowWaterRate.errors.min">Value can't be less than
            {{form.controls.flowWaterRate.errors.min.min}}.</span>
        </span>
      </div>

      <div class="alert-warning my-1 p-2 small" *ngIf="showBoilingPointResultWarning">
        Water temperature at the heat exchanger outlet is 90% value of the boiling point at the given water pressure.
        It is necessary to increase water flow or bypass the vent steam.
      </div>


      <div class="form-group">
        <label class="small" for="temperatureWaterIn">Water HX Inlet Temperature</label>
        <div class="input-group">
          <input name="temperatureWaterIn" type="number" step="10" class="form-control"
            formControlName="temperatureWaterIn" id="temperatureWaterIn" onfocus="this.select();"
            (input)="calculate()" (focus)="focusField('temperatureWaterIn')" >
          <span class="input-group-addon units"><span
              [innerHTML]="settings.steamTemperatureMeasurement | settingsLabel"></span></span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.temperatureWaterIn.invalid && !form.controls.temperatureWaterIn.pristine">
          <span *ngIf="form.controls.temperatureWaterIn.errors.required">Value Required</span>
        </span>
      <span class="alert-warning pull-right small" *ngIf="warnings.temperatureWaterIn !== null">{{warnings.temperatureWaterIn}}</span>

      </div>

      <div class="form-group">
        <label class="small" for="pressureWaterOut">Water HX Outlet Pressure</label>
        <div class="input-group">
          <input name="pressureWaterOut" type="number" step="10" class="form-control"
            formControlName="pressureWaterOut" id="pressureWaterOut" onfocus="this.select();"
            (input)="calculate()" (focus)="focusField('pressureWaterOut')" >
          <span class="input-group-addon units" *ngIf="settings.unitsOfMeasure == 'Imperial'">psig</span>
          <span class="input-group-addon units" *ngIf="settings.unitsOfMeasure == 'Metric'">Pa</span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.pressureWaterOut.invalid && !form.controls.pressureWaterOut.pristine">
          <span *ngIf="form.controls.pressureWaterOut.errors.required">Value Required</span>
          <span *ngIf="form.controls.pressureWaterOut.errors.min">Value can't be less than
            {{form.controls.pressureWaterOut.errors.min.min}}.</span>
        </span>
      </div>

      <br>

      <div class="form-group">
        <label class="small" for="tempMakeupWater">Makeup Water Temperature</label>
        <div class="input-group">
          <input name="tempMakeupWater" type="number" step="10" class="form-control"
            formControlName="tempMakeupWater" id="tempMakeupWater" onfocus="this.select();"
            (input)="calculate()" (focus)="focusField('tempMakeupWater')" >
          <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">&#8457;</span>
          <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">&#8451;</span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.tempMakeupWater.invalid && !form.controls.tempMakeupWater.pristine">
          <span *ngIf="form.controls.tempMakeupWater.errors.required">Value Required</span>
          <span *ngIf="form.controls.tempMakeupWater.errors.min">Value can't be less than
            {{form.controls.tempMakeupWater.errors.min.min}}.</span>
          <span *ngIf="form.controls.tempMakeupWater.errors.max">Value can't be greater than
            {{form.controls.tempMakeupWater.errors.max.max}}.</span>
        </span>
      <span class="alert-warning pull-right small" *ngIf="warnings.tempMakeupWater !== null">{{warnings.tempMakeupWater}}</span>
      </div>

      <div class="form-group">
        <label class="small" for="presMakeupWater">Makeup Water Pressure</label>
        <div class="input-group">
          <input name="presMakeupWater" type="number" step="10" class="form-control"
            formControlName="presMakeupWater" id="presMakeupWater" onfocus="this.select();"
            (input)="calculate()" (focus)="focusField('presMakeupWater')" >
            <span class="input-group-addon units" *ngIf="settings.unitsOfMeasure == 'Imperial'">psig</span>
            <span class="input-group-addon units" *ngIf="settings.unitsOfMeasure == 'Metric'">Pa</span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.presMakeupWater.invalid && !form.controls.presMakeupWater.pristine">
          <span *ngIf="form.controls.presMakeupWater.errors.required">Value Required</span>
          <span *ngIf="form.controls.presMakeupWater.errors.min">Value can't be less than
            {{form.controls.presMakeupWater.errors.min.min}}.</span>
        </span>
      </div>

  </form>


<app-operating-hours-modal *ngIf="showOperatingHoursModal" (emitClose)="closeOperatingHoursModal()"
  (emitSave)="updateOperatingHours($event)" [width]="formWidth" [showMinutesSeconds]="true">
</app-operating-hours-modal>