.checkbox{
    border-bottom: solid 1px lightgray;
}

label.group-label{
    padding-bottom: 0px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #2980b9;
    background-color: #2980b9;
}

.custom-control.custom-switch{
    border-bottom: #2980b9 solid 2px
}
label.group-label:hover, .checkbox:hover{
    background-color: #efefef;
    cursor: pointer;
}