<!--<div class="section-header">
  <h3 class="pull-left">Cooling Losses</h3>
  <button class="btn btn-secondary pull-right" (click)="addLoss()">+ Add Cooling Loss</button>
</div>-->

<div class="no-data no-data-phast" *ngIf="_coolingLosses.length == 0" (click)="addLoss()">
  <h3>You have no Cooling Losses</h3>
  <h4>Add some now.</h4>
</div>

<div class="card-form" *ngFor="let loss of _coolingLosses">
  <div class="row">
    <div class="col-12">
      <div class="pull-left">
        <b>{{loss.name}}</b>
      </div>
      <button class="close pull-right" aria-label="Close" (click)="removeLoss(loss.name)">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label class="small" for="coolingMedium">Cooling Medium</label>
        <select class="form-control" id="coolingMedium" [(ngModel)]="loss.coolingMedium" [disabled]="!baselineSelected" (focus)="changeField('coolingMedium')">
          <option>Air</option>
          <option>Water</option>
          <option>Other Gas</option>
          <option>Other Liquid</option>
        </select>
      </div>
      <app-water-cooling-losses-form (changeField)="changeField($event)" *ngIf="loss.coolingMedium == 'Water'" [(lossesForm)]="loss.waterCoolingForm"
        (calculate)="calculate(loss)" [(lossState)]="lossState" [baselineSelected]="baselineSelected" (saveEmit)="saveLosses()"></app-water-cooling-losses-form>
      <app-liquid-cooling-losses-form (changeField)="changeField($event)" *ngIf="loss.coolingMedium == 'Other Liquid'" [(lossesForm)]="loss.liquidCoolingForm"
        (calculate)="calculate(loss)" [(lossState)]="lossState" [baselineSelected]="baselineSelected" (saveEmit)="saveLosses()"></app-liquid-cooling-losses-form>
      <app-gas-cooling-losses-form (changeField)="changeField($event)" *ngIf="loss.coolingMedium == 'Other Gas' || loss.coolingMedium == 'Air'"
        [(lossesForm)]="loss.gasCoolingForm" (calculate)="calculate(loss)" [(lossState)]="lossState" [baselineSelected]="baselineSelected"
        (saveEmit)="saveLosses()"></app-gas-cooling-losses-form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label class="small">Heat Loss for Cooling</label>
        <div class="text-center small">
          {{loss.heatLoss | number:'2.2-2'}} Btu/hr
        </div>
      </div>
    </div>
  </div>
</div>