.card.card-toast-notification {
    position: fixed;
    z-index: 9999;
    right: 20px;
    /* right: 50%; */
    /* transform: translate(50%, 0%); */
    bottom: -25px;
    margin: 10px;
    /* min-width: 300px;
    max-width: 500px; */
    width: 550px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4), 0 3px 6px rgba(0, 0, 0, 0.4);
}

.alert-info.measur-info {
    background: rgb(111, 113, 116);
    color: #fff;
    border: none;
}

.alert-danger {
    width: unset;
}

.alert {
    margin: 0 !important;
}

.title {
    font-size: 16px;
}

.snackbar-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 24px;
}

.close-button {
    float: right;
    font-size: 22px;
    padding-left: 1rem;
    height: fit-content;
}

.level-icon {
    align-self: baseline;
    font-size: 22px;
    padding-right: 1rem;
}

.close-button:hover {
    cursor: pointer;
}

.card-msg {
    font-size: 16px;
    text-align: left;
}

.card-msg > a.click-link
.card-links > a.click-link,
.card-actions > a.click-link {
    font-size: 16px;
    text-decoration: underline;
    color: #b5ffd6;
}

a.click-link.danger {
    color: #721c24 !important;
}