<div class="p-2">
    <table class="table table-sm table-hover">
        <tr class="header-row">
            <th></th>
            <th>
                Compressor
            </th>
            <th>
                Controller
            </th>
            <th>
                Model
            </th>
            <th>
                Rated Capacity
            </th>
            <th>
                Rated Pressure
            </th>
            <th>
                Max Full Flow Pressure
            </th>
        </tr>
        <tr *ngFor="let compressor of genericCompressors | filterCompressors:filterCompressorOptions">
            <td>
                <a class="click-link" (click)="selectCompressor(compressor)">Use</a>
            </td>
            <td>
                {{compressor.IDCompType | compressorType}}
            </td>
            <td>
                {{compressor.IDControlType | controlType}}
            </td>
            <td>
                {{compressor.Model}}
            </td>
            <td>
                {{compressor.RatedCapacity}} acfm
            </td>
            <td>
                {{compressor.RatedPressure}} psig
            </td>
            <td>
                {{compressor.MaxFullFlowPressure}} psig
            </td>
        </tr>
    </table>
</div>