.fa{
    color: #1E8449;
    font-size: large;
}


.fa-exclamation-circle{
    color: #B03A2E;
}

.fa-info{
    color: white;
    display: inherit;
}

.tabs.subtabs.fsat .step-error .step-number{
    background: #B03A2E !important;
}

.data-steps .step-number{
    margin-right: 0px;
}
.area-val{
    font-size: small;
    text-align: center;
}
