.header .h3{
    font-size: 20px;
}

td{
    font-size: small;
    padding: 3px;
    min-width: 200px;
}

table{
    table-layout: fixed;
}

.group-label{
    width: fit-content;
}

.scroll-container {
    min-height: 200px;
}