<div class="d-flex flex-column">
  <div class="header mr-2 ml-2">
    <h3>Pitot Tube Traverse Readings</h3>
  </div>

  <div class="pl-3 pr-3 pt-2 flex-column">
    <nav class="text-center data-steps">
      <ul class="tabs subtabs progress-tabs fsat">
        <li [ngClass]="infoClassStatus">
          <a (click)="changePlaneStepTab('plane-info')">
            <span class="step-number">
              <i class="fa fa-info"></i>
            </span>
          </a>
        </li>
        <li [ngClass]="stepOneClassStatus">
          <a (click)="changePlaneStepTab('1')">
            <span class="step-number">1</span>
          </a>
        </li>
        <li [ngClass]="stepTwoClassStatus">
          <a (click)="changePlaneStepTab('2')">
            <span class="step-number">2</span>
          </a>
        </li>
        <li [ngClass]="stepThreeAClassStatus">
          <a (click)="changePlaneStepTab('3a')">
            <span class="step-number">3a</span>
          </a>
        </li>
        <li *ngIf="numTraversePlanes > 1" [ngClass]="stepThreeBClassStatus">
          <a (click)="changePlaneStepTab('3b')">
            <span class="step-number">3b</span>
          </a>
        </li>
        <li *ngIf="numTraversePlanes > 2" [ngClass]="stepThreeCClassStatus">
          <a (click)="changePlaneStepTab('3c')">
            <span class="step-number">3c</span>
          </a>
        </li>
        <li [ngClass]="stepFourClassStatus">
          <a (click)="changePlaneStepTab('4')">
            <span class="step-number">4</span>
          </a>
        </li>
        <li [ngClass]="stepFiveClassStatus">
          <a (click)="changePlaneStepTab('5')">
            <span class="step-number">5</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="pt-1 pb-3">
      <!-- plane info -->
      <app-plane-info-form *ngIf="planeStep == 'plane-info'" [settings]="settings">
      </app-plane-info-form>
      <!--1-->
      <app-fan-data-form *ngIf="planeStep == '1'" [planeNum]="'1'" [planeDescription]="'Fan Inlet Flange'"
        [settings]="settings">
      </app-fan-data-form>
      <!--2-->
      <app-fan-data-form *ngIf="planeStep == '2'" [planeNum]="'2'" [planeDescription]="'Fan or Evase Outlet Flange'"
        [settings]="settings">
      </app-fan-data-form>
      <!--3a 3b 3c-->
      <app-traverse-planes *ngIf="planeStep == '3a' || planeStep == '3b' || planeStep == '3c'"
        [planeStep]="planeStep" [settings]="settings"></app-traverse-planes>
      <!--4-->
      <app-fan-data-form *ngIf="planeStep == '4'" [planeNum]="'4'" [planeDescription]="'Inlet Measurement Plane'"
        [settings]="settings">
      </app-fan-data-form>
      <!--5-->
      <app-fan-data-form *ngIf="planeStep == '5'" [planeNum]="'5'" [planeDescription]="'Outlet Measurement Plane'"
        [settings]="settings">
      </app-fan-data-form>
    </div>
  </div>
</div>