<div class="container-fluid">
    <div class="row dashboard-content">
        <div class="col-2 sidebar-bg">
            <app-sidebar *ngIf="allDirectories" [(selectedCalculator)]="selectedCalculator" [directory]="allDirectories" [workingDirectory]="workingDirectory"
                (directoryChange)="changeWorkingDirectory($event)" (selectCalculator)="viewCalculator($event)"></app-sidebar>
        </div>
        <div class="col-10" *ngIf="allDirectories && !showLandingScreen">
            <app-assessment-dashboard *ngIf="!showCalculators" [(directory)]="workingDirectory" (directoryChange)="changeWorkingDirectory($event)"
                (deleteDataSignal)="showDeleteModal($event)" (deleteCheckedItems)="showDeleteItemsModal()" (resetDataEmit)="showDeleteModal()"></app-assessment-dashboard>
            <app-calculator *ngIf="showCalculators" [selectedCalculator]="selectedCalculator"></app-calculator>
        </div>
        <div class="col-10" *ngIf="showLandingScreen && allDirectories">
            <app-landing-screen (hideLandingScreen)="hideScreen()" (selectCalculator)="viewCalculator($event)" [directory]="allDirectories"></app-landing-screen>
        </div>
    </div>
</div>


<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg create-assessment-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete Data</h3>
                <button class="close" aria-label="Close" (click)="hideDeleteModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        All of your data will be deleted and your database will be reset to the initial state.
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-secondary pull-left" (click)="hideDeleteModal()">Cancel</button>
                        <button class="btn btn-danger pull-right" (click)="deleteData()">Delete All Data</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #deleteItemsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteItemsModalLabel"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg create-assessment-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete Selected Items</h3>
                <button class="close" aria-label="Close" (click)="hideDeleteItemsModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <button class="btn btn-secondary pull-left" (click)="hideDeleteItemsModal()">Cancel</button>
                <button class="btn btn-danger pull-right" (click)="deleteSelected(workingDirectory)">Delete Selected Items</button>
            </div>
        </div>
    </div>
</div>