<div class="container-fluid">
    <div class="row dashboard-content" *ngIf="dashboardView != 'detailed-report'">
        <div class="col-2 sidebar-bg">
            <app-sidebar *ngIf="allDirectories" [selectedCalculator]="selectedCalculator" [directory]="getAllDirectories()" [newDirEventToggle]="newDirEventToggle"
                [workingDirectory]="getWorkingDirectory()" [dashboardView]="dashboardView" (directoryChange)="changeWorkingDirectory($event)"
                (selectCalculator)="viewCalculator($event)" (emitGoHome)="goHome()" (emitShowAbout)="showAbout()" (emitShowTutorials)="showTutorials()"
                (emitGoToSettings)="showSettings()"></app-sidebar>
        </div>
        <div class="col-10" *ngIf="allDirectories && dashboardView == 'assessment-dashboard'">
            <app-assessment-dashboard [directory]="workingDirectory" (directoryChange)="changeWorkingDirectory($event)" (deleteDataSignal)="showDeleteModal()"
                (deleteCheckedItems)="showDeleteItemsModal()" (resetDataEmit)="showDeleteModal()" (emitNewDir)="newDir()" (genReport)="generateReport()"></app-assessment-dashboard>
        </div>
        <div class="col-10" *ngIf="allDirectories && dashboardView == 'calculator'">
            <app-calculator (selectCalculator)="viewCalculator($event)" [selectedCalculator]="selectedCalculator" [goCalcHome]="goCalcHome"></app-calculator>
        </div>
        <div class="col-10" *ngIf="allDirectories && dashboardView == 'landing-screen'">
            <app-landing-screen (hideLandingScreen)="hideScreen()" (selectCalculator)="viewCalculator($event)" [directory]="allDirectories"></app-landing-screen>
        </div>
        <div class="col-10" *ngIf="allDirectories && dashboardView == 'tutorials'">
            <app-tutorials></app-tutorials>
        </div>
        <div class="col-10" *ngIf="allDirectories && dashboardView == 'about-page'">
            <app-about-page></app-about-page>
        </div>
        <div class="col-10" *ngIf="allDirectories && dashboardView == 'settings'">
            
            <div class="row">
                <div class="col-10 offset-md-1">
                    <div class="content-container default-settings">

                        <h2>Default Settings</h2>
                        <app-assessment-settings [directory]="allDirectories" (resetDataEmit)="showDeleteModal($event)"></app-assessment-settings>

                    </div>
                </div>
            </div>

        </div>
    </div>
    
</div>




<div class="report" *ngIf="dashboardView == 'detailed-report'">
    <app-detailed-report [assessments]="returnSelected()" (emitCloseReport)="closeReport()"></app-detailed-report>
</div>




<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg create-assessment-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete Data</h3>
                <button class="close" aria-label="Close" (click)="hideDeleteModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        All of your data will be deleted and your database will be reset to the initial state.
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-secondary pull-left" (click)="hideDeleteModal()">Cancel</button>
                        <button class="btn btn-danger pull-right" (click)="deleteData()">Delete All Data</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #deleteItemsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteItemsModalLabel"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg create-assessment-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete Selected Items</h3>
                <button class="close" aria-label="Close" (click)="hideDeleteItemsModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <button class="btn btn-secondary pull-left" (click)="hideDeleteItemsModal()">Cancel</button>
                <button class="btn btn-danger pull-right" (click)="deleteSelected(workingDirectory)">Delete Selected Items</button>
            </div>
        </div>
    </div>
</div>


<ng2-toasty></ng2-toasty>