<!-- <div class="container-fluid">
    <div class="row dashboard-content">
        <div class="col-2 sidebar-bg p-0">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-10 scroll-item dashboard-scroll skyline pl-0 pr-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->

<div class="d-flex dashboard-content w-100" #dashboardContent>
    <div class="sidebar-bg" [ngStyle]="{'width.px': sidebarWidth}">
        <app-sidebar></app-sidebar>
    </div>
    <!-- <div class="sidebar-bg">
        <app-sidebar></app-sidebar>
    </div> -->
    <!-- <div class="d-flex align-items-start d-block d-lg-none" (click)="collapseSidebar()">
        <div class="p-1 d-flex">
            <span *ngIf="sidebarCollapsed" class="fa fa-chevron-circle-left"></span>
            <span *ngIf="!sidebarCollapsed" class="fa fa-chevron-circle-right"></span>
        </div>
    </div> -->
    <!-- <div #dragbar draggable="true" class="dragbar" (dragover)="testDrag($event)"></div> -->
    <!-- <app-drag-bar></app-drag-bar> -->
    <div class="flex-fill scroll-item dashboard-scroll skyline" [ngStyle]="{'width.px': contentWidth}">
        <router-outlet></router-outlet>
    </div>
</div>




<app-move-items *ngIf="moveItems"></app-move-items>
<app-assessment-create *ngIf="createAssessment"></app-assessment-create>
<app-create-folder *ngIf="createFolder"></app-create-folder>
<app-import-modal *ngIf="showImportModal"></app-import-modal>
<app-export-modal *ngIf="showExportModal"></app-export-modal>
<app-toast *ngIf="showToast" [title]="toastData.title" [body]="toastData.body" (emitCloseToast)="hideToast()"
    [setTimeoutVal]="toastData.setTimeoutVal" [toastClass]="'warning'"></app-toast>
<app-create-inventory *ngIf="createInventory"></app-create-inventory>
<app-copy-items *ngIf="copyItems"></app-copy-items>