<!-- place it in an alphabetical order when adding new calculator details -->
<span [routerLink]="['/calculators/calculators-list']" routerLinkActive="selected" class="sidebar-item">All
  Calculators</span>
  <!--general-->
<div routerLinkActive="show-border" [routerLinkActiveOptions]="{exact:true}">
  <span class="sidebar-item" [routerLink]="['/calculators/general-list']" routerLinkActive="selected">General</span>
  <div class="directory-item">
    <span (click)="navigateSidebarLink('/calculators/pre-assessment')" class="sidebar-item">Pre-Assessment
      Screening</span>
    <span (click)="navigateSidebarLink('/calculators/unit-converter')" routerLinkActive="selected" class="sidebar-item">Unit
      Converter</span>
    <span (click)="navigateSidebarLink('/calculators/combined-heat-power')" routerLinkActive="selected" class="sidebar-item">Combined
      Heat and Power</span>
    <span (click)="navigateSidebarLink('/calculators/cash-flow')" routerLinkActive="selected" class="sidebar-item">Cash Flow</span>
    <span (click)="navigateSidebarLink('/calculators/power-factor-correction')" routerLinkActive="selected" class="sidebar-item">Power
      Factor Correction</span>
    <span (click)="navigateSidebarLink('/calculators/co2-savings')" routerLinkActive="selected" class="sidebar-item">CO<sub>2</sub>
      Savings</span>
    <span (click)="navigateSidebarLink('/calculators/electricity-reduction')" routerLinkActive="selected"
      class="sidebar-item">Electricity Reduction</span>
    <span (click)="navigateSidebarLink('/calculators/natural-gas-reduction')" routerLinkActive="selected" class="sidebar-item">Natural
      Gas Reduction</span>
    <span (click)="navigateSidebarLink('/calculators/altitude-correction')" routerLinkActive="selected" class="sidebar-item">Altitude
      Correction</span>
    <span (click)="navigateSidebarLink('/calculators/weather-bins')" routerLinkActive="selected"
    class="sidebar-item">Weather Bins</span>
  </div>
</div>
<!--compressed air-->
<div routerLinkActive="show-border" [routerLinkActiveOptions]="{exact:true}">
  <span class="sidebar-item" [routerLink]="['/calculators/compressed-air-list']" routerLinkActive="selected">Compressed
    Air</span>
  <div class="directory-item">
    <span (click)="navigateSidebarLink('/calculators/compressed-air-reduction')" routerLinkActive="selected"
      class="sidebar-item">Compressed Air
      Reduction</span>
    <span (click)="navigateSidebarLink('/calculators/compressed-air-pressure-reduction')" routerLinkActive="selected"
      class="sidebar-item">Compressed Air
      Pressure Reduction</span>
   <span (click)="navigateSidebarLink('/calculators/air-leak')" routerLinkActive="selected" class="sidebar-item">Compressed Air - Leak
      Survey</span>
    <span (click)="navigateSidebarLink('/calculators/air-flow-conversion')" routerLinkActive="selected" class="sidebar-item">Actual to
      Standard Airflow</span>
    <span (click)="navigateSidebarLink('/calculators/bleed-test')" routerLinkActive="selected" class="sidebar-item">Bleed 
      Test</span>
    <span (click)="navigateSidebarLink('/calculators/bag-method')" routerLinkActive="selected" class="sidebar-item">Leak Loss
      Estimator - Bag Method</span>
    <span (click)="navigateSidebarLink('/calculators/pneumatic-air')" routerLinkActive="selected" class="sidebar-item">Pneumatic Air
      Requirement</span>
    <span (click)="navigateSidebarLink('/calculators/receiver-tank')" routerLinkActive="selected" class="sidebar-item">Receiver Tank
      Sizing</span>
    <span (click)="navigateSidebarLink('/calculators/receiver-tank-usable-air')" routerLinkActive="selected"
      class="sidebar-item">Usable Air Capacity</span>
    <span (click)="navigateSidebarLink('/calculators/pipe-sizing')" routerLinkActive="selected" class="sidebar-item">Pipe
      Sizing</span>
    <span (click)="navigateSidebarLink('/calculators/air-velocity')" routerLinkActive="selected" class="sidebar-item">Velocity in the
      Piping</span>
    <span (click)="navigateSidebarLink('/calculators/system-capacity')" routerLinkActive="selected" class="sidebar-item">System
      Capacity</span>
    <span (click)="navigateSidebarLink('/calculators/operating-cost')" routerLinkActive="selected" class="sidebar-item">Operation
      Costs</span>
  
  </div>
</div>
<!--FANS-->
<div routerLinkActive="show-border" [routerLinkActiveOptions]="{exact:true}">
  <span class="sidebar-item" [routerLink]="['/calculators/fans-list']" routerLinkActive="selected">Fans</span>
  <div class="directory-item">
    <span (click)="navigateSidebarLink('/calculators/fan-system-checklist')" routerLinkActive="selected" class="sidebar-item">Fan System Optimization Checklist</span>
    <span (click)="navigateSidebarLink('/calculators/fan-analysis')" routerLinkActive="selected" class="sidebar-item">Fan Traverse
      Analysis</span>
    <span (click)="navigateSidebarLink('/calculators/fan-curve')" routerLinkActive="selected" class="sidebar-item">Fan Curve</span>
    <span (click)="navigateSidebarLink('/calculators/fan-efficiency')" routerLinkActive="selected" class="sidebar-item">Fan Achievable
      Efficiency</span>
  </div>
</div>
<!--lighting-->
<div routerLinkActive="show-border" [routerLinkActiveOptions]="{exact:true}">
  <span class="sidebar-item" [routerLink]="['/calculators/lighting-list']" routerLinkActive="selected">Lighting</span>
  <div class="directory-item">
    <span (click)="navigateSidebarLink('/calculators/lighting-replacement')" routerLinkActive="selected" class="sidebar-item">Lighting
      Replacement</span>
  </div>
</div>
<!--MOTORS-->
<div routerLinkActive="show-border" [routerLinkActiveOptions]="{exact:true}">
  <span class="sidebar-item" [routerLink]="['/calculators/motors-list']" routerLinkActive="selected">Motors</span>
  <div class="directory-item">
    <span (click)="navigateSidebarLink('/calculators/nema-energy-efficiency')" routerLinkActive="selected" class="sidebar-item">NEMA
      Energy Efficiency</span>
    <span (click)="navigateSidebarLink('/calculators/motor-performance')" routerLinkActive="selected" class="sidebar-item">Motor
      Performance</span>
    <span (click)="navigateSidebarLink('/calculators/percent-load-estimation')" routerLinkActive="selected" class="sidebar-item">Percent
      Load
      Estimation</span>
    <span (click)="navigateSidebarLink('/calculators/motor-drive')" routerLinkActive="selected" class="sidebar-item">Motor
      Drive Comparison</span>
    <span (click)="navigateSidebarLink('/calculators/replace-existing')" routerLinkActive="selected" class="sidebar-item">Replace vs
      Rewind</span>
    <span (click)="navigateSidebarLink('/calculators/full-load-amps')" routerLinkActive="selected" class="sidebar-item">Full-Load 
      Amps</span>
  </div>
</div>
<!--process cooling-->
<div routerLinkActive="show-border" [routerLinkActiveOptions]="{exact:true}">
  <span class="sidebar-item" [routerLink]="['/calculators/process-cooling-list']" routerLinkActive="selected">Process
    Cooling</span>
  <div class="directory-item">
    <span (click)="navigateSidebarLink('/calculators/chiller-staging')" routerLinkActive="selected" class="sidebar-item">Chiller Staging</span>
    <span (click)="navigateSidebarLink('/calculators/chiller-performance')" routerLinkActive="selected" class="sidebar-item">Chiller Energy Performance and Temperature Reset</span>
    <span (click)="navigateSidebarLink('/calculators/cooling-tower-basin')" routerLinkActive="selected" class="sidebar-item">Cooling Tower Basin Heater Energy</span>
    <span (click)="navigateSidebarLink('/calculators/cooling-tower-fan')" routerLinkActive="selected" class="sidebar-item">Cooling Tower Fan Energy</span>
    <span (click)="navigateSidebarLink('/calculators/cooling-tower')" routerLinkActive="selected" class="sidebar-item">Cooling Tower Makeup Water</span>
    <span (click)="navigateSidebarLink('/calculators/fan-psychrometric')" routerLinkActive="selected" class="sidebar-item">Psychrometric Calculator</span>
  </div>
</div>
<!--Process heating-->
<div routerLinkActive="show-border" [routerLinkActiveOptions]="{exact:true}">
  <span class="sidebar-item" [routerLink]="['/calculators/process-heating-list']" routerLinkActive="selected">Process
    Heating</span>
  <div class="directory-item">
    <span (click)="navigateSidebarLink('/calculators/flue-gas')" routerLinkActive="selected" class="sidebar-item">Flue Gas Loss</span>
    <span (click)="navigateSidebarLink('/calculators/charge-material')" routerLinkActive="selected" class="sidebar-item">Charge
      Material</span>
    <span (click)="navigateSidebarLink('/calculators/fixture')" routerLinkActive="selected" class="sidebar-item">Fixture Loss</span>
    <span (click)="navigateSidebarLink('/calculators/wall-loss')" routerLinkActive="selected" class="sidebar-item">Wall Loss</span>
    <span (click)="navigateSidebarLink('/calculators/cooling')" routerLinkActive="selected" class="sidebar-item">Cooling Loss</span>
    <span (click)="navigateSidebarLink('/calculators/atmosphere')" routerLinkActive="selected" class="sidebar-item">Atmosphere Loss</span>
    <span (click)="navigateSidebarLink('/calculators/opening')" routerLinkActive="selected" class="sidebar-item">Opening Loss</span>
    <span (click)="navigateSidebarLink('/calculators/leakage')" routerLinkActive="selected" class="sidebar-item">Gas Leakage Loss</span>
    <span (click)="navigateSidebarLink('/calculators/waste-heat')" routerLinkActive="selected" class="sidebar-item">Waste Heat for Absorption Chillers</span>
    <span (click)="navigateSidebarLink('/calculators/heat-cascading')" routerLinkActive="selected" class="sidebar-item">Heat Cascading</span>
    <span (click)="navigateSidebarLink('/calculators/air-heating')" routerLinkActive="selected" class="sidebar-item">Air Heating using Flue Gas</span>
    <span (click)="navigateSidebarLink('/calculators/o2-enrichment')" routerLinkActive="selected" class="sidebar-item">O<sub>2</sub>
      Enrichment</span>
    <span (click)="navigateSidebarLink('/calculators/energy-equivalency')" routerLinkActive="selected" class="sidebar-item">Energy
      Equivalency</span>
    <span (click)="navigateSidebarLink('/calculators/energy-use')" routerLinkActive="selected" class="sidebar-item">Flow and Energy
      Used</span>
  </div>
</div>
<!--pumps-->
<div routerLinkActive="show-border" [routerLinkActiveOptions]="{exact:true}">
  <span class="sidebar-item" [routerLink]="['/calculators/pumps-list']" routerLinkActive="selected">Pumps</span>
  <div class="directory-item">
    <span (click)="navigateSidebarLink('/calculators/head-tool')" routerLinkActive="selected" class="sidebar-item">Pump Head
      Tool</span>
    <span (click)="navigateSidebarLink('/calculators/specific-speed')" routerLinkActive="selected" class="sidebar-item">Specific
      Speed</span>
    <span (click)="navigateSidebarLink('/calculators/achievable-efficiency')" routerLinkActive="selected" class="sidebar-item">Pump
      Achievable Efficiency</span>
    <span (click)="navigateSidebarLink('/calculators/pump-curve')" routerLinkActive="selected" class="sidebar-item">Pump Curve</span>
  </div>
</div>
<!--steam-->
<div routerLinkActive="show-border" [routerLinkActiveOptions]="{exact:true}">
  <span class="sidebar-item" [routerLink]="['/calculators/steam-list']" routerLinkActive="selected">Steam</span>
  <div class="directory-item">
    <span (click)="navigateSidebarLink('/calculators/steam-properties')" routerLinkActive="selected" class="sidebar-item">Steam
      Properties</span>
    <span (click)="navigateSidebarLink('/calculators/saturated-properties')" routerLinkActive="selected"
      class="sidebar-item">Saturated Properties</span>
    <span (click)="navigateSidebarLink('/calculators/steam-reduction')" routerLinkActive="selected" class="sidebar-item">Steam
      Reduction</span>
   <span (click)="navigateSidebarLink('/calculators/stack-loss')" routerLinkActive="selected" class="sidebar-item">Stack Loss</span>
   <span (click)="navigateSidebarLink('/calculators/boiler')" routerLinkActive="selected" class="sidebar-item">Boiler</span>
   <span (click)="navigateSidebarLink('/calculators/turbine')" routerLinkActive="selected" class="sidebar-item">Steam Turbine</span>
   <span (click)="navigateSidebarLink('/calculators/pipe-insulation-reduction')" routerLinkActive="selected"
   class="sidebar-item">Pipe Insulation</span>
   <span (click)="navigateSidebarLink('/calculators/tank-insulation-reduction')" routerLinkActive="selected"
   class="sidebar-item">Tank Insulation</span>
   <span (click)="navigateSidebarLink('/calculators/boiler-blowdown-rate')" routerLinkActive="selected" class="sidebar-item">Boiler
    Blowdown Rate</span>
    <span (click)="navigateSidebarLink('/calculators/deaerator')" routerLinkActive="selected" class="sidebar-item">Deaerator</span>
    <span (click)="navigateSidebarLink('/calculators/flash-tank')" routerLinkActive="selected" class="sidebar-item">Flash Tank</span>
    <span (click)="navigateSidebarLink('/calculators/prv')" routerLinkActive="selected" class="sidebar-item">PRV</span>    
      <span (click)="navigateSidebarLink('/calculators/header')" routerLinkActive="selected" class="sidebar-item">Header</span>
      <span (click)="navigateSidebarLink('/calculators/heat-loss')" routerLinkActive="selected" class="sidebar-item">Heat Loss</span>
      <span (click)="navigateSidebarLink('/calculators/water-heating')" routerLinkActive="selected" class="sidebar-item">
       Vent Steam to Heat Water</span>
     <span (click)="navigateSidebarLink('/calculators/condensing-economizer')" routerLinkActive="selected" class="sidebar-item">Heat Recovery From Condensing Heat Exchanger</span>
     <span (click)="navigateSidebarLink('/calculators/feedwater-economizer')" routerLinkActive="selected" class="sidebar-item">Feedwater Economizer</span>
  
  </div>
</div>
<!--WASTEWATER-->
<div routerLinkActive="show-border" [routerLinkActiveOptions]="{exact:true}">
  <span class="sidebar-item" [routerLink]="['/calculators/waste-water-list']" routerLinkActive="selected">Wastewater</span>
  <div class="directory-item">
    <span (click)="navigateSidebarLink('/calculators/o2-utilization-rate')" routerLinkActive="selected"
      class="sidebar-item">O<sub>2</sub> Utilization Rate</span>
      <span (click)="navigateSidebarLink('/calculators/state-point-analysis')" routerLinkActive="selected" class="sidebar-item">State
        Point Analysis Tool</span>
      <span (click)="navigateSidebarLink('/calculators/water-reduction')" routerLinkActive="selected" class="sidebar-item">Water/Wastewater
        Reduction</span>
  </div>
</div>