
label{
    font-size: small;
}

.form-control{
    font-size: small;
}

.fa{
    color: #1E8449;
    font-size: large;
}


.fa-exclamation-circle{
    color: #B03A2E;
}

.area-val{
    font-size: small;
    text-align: center;
}