.pie-chart-container {
    width: 100%;
}

path {
    fill: none;
}


.polyline {
    opacity: 0.3;
    stroke: #000;
    stroke-width: 2px;
    fill: none;
}

.arc {
    stroke: #aaa;
    stroke-width: 1px;
}