<div class="pie-chart-container chart-container">
  <div #ngChart class="pie-chart">

  </div>
</div>

<!-- add button to blank div and add tooltip under the button -->
<div>
  <span #btnDownload class="pie-chart-btn fa fa-download hide-print" (click)="downloadChart()" (mouseenter)="initTooltip('btnExportChart')"
    (mouseleave)="hideTooltip('btnExportChart')"></span>
  <app-simple-tooltip [message]="'Download graph as image'" [hover]="hoverBtnExport" [display]="displayExportTooltip"></app-simple-tooltip>

</div>