.flash-tank-img{
    height: 55px;
    margin-top: -10px;
    margin-bottom: -10px;
    z-index: +1;
}

.inlet-condensate{
    height: 50px;
}

.down-pipe{
    height: 56.5%;
    border-top-left-radius: 25px;
}

.outletGas{
    margin-right: -14px;
    padding-right: 15px;
}

.makeup-water{
    padding-bottom: 5px;
}
.flash-tank-img-holder{
    position: relative;
    margin-right: -55%;
}

.flash-tank-img-holder .flash-tank-label{
    position: absolute;
    z-index: +1;
    background-color: white;
    font-weight: bolder;
    width: 50px;
    opacity: 0.9;
    text-align: center;
    right: 0px;
    font-size: smaller;
}


.flash-tank-img-holder .flash-tank-label:hover{
    text-decoration: underline;
    cursor: pointer;
    opacity: 1;
}

.flash-tank-img-holder:hover{
    transform: scale(1.2);
}

.inlet-temp-holder, .vented-steam-holder{
    position: relative;
}

.inlet-temp-holder .inlet-temp{
    position: absolute;
    z-index: +1;
    color: black;
    width: 100px;
    top: 15px;
    text-align: right;
    right: 3px;
}


.vented-steam-holder .vented-steam{
    position: absolute;
    z-index: +1;
    color: black;
    width: 100px;
    top: 20px;
    text-align: right;
    right: -15px;
}

.vents{
    width: 50px;
}

.condensing-warning{
    font-size: 40px;
    color: red;
    position: absolute;
    right: 55px;
    top: 0px;
}