<form [formGroup]="form" class="m-0 pl-0 pr-0 pt-1">
    <div class="form-group name-input-form">
        <div class="input-group">
            <span class="input-group-addon units left" (click)="collapseEfficiency()">
                <span *ngIf="form.controls.collapsed.value" class="fa fa-caret-down"></span>
                <span *ngIf="!form.controls.collapsed.value" class="fa fa-caret-up"></span>
            </span>
            <input type="text" class="form-control name-input" formControlName="name" (focus)="helpTextField('name')"
                name="name" id="name" (input)="save()">
            <span class="input-group-addon units" *ngIf="numberOfItems > 1" (click)="removeEndUseEfficiency()">
                <span aria-hidden="true" class="close" aria-label="Close">&times;</span>
            </span>
        </div>
    </div>

    <div class="form-group" *ngIf="!form.controls.collapsed.value">
        <label for="{{'endUseEfficiencyImplementationCost_'+itemIndex}}">Implementation Cost</label>
        <div class="input-group">
            <input type="number" class="form-control" formControlName="implementationCost"
                id="{{'endUseEfficiencyImplementationCost_'+itemIndex}}" (input)="save()"
                (focus)="helpTextField('implementationCost')">
            <span class="input-group-addon units">$</span>
        </div>
        <span class="alert-danger pull-right small"
            *ngIf="form.controls.implementationCost.invalid && !form.controls.implementationCost.pristine">
            <span *ngIf="form.controls.implementationCost.errors.min">Value can't be negative.
            </span>
        </span>
    </div>

    <div class="form-group" *ngIf="!form.controls.collapsed.value">
        <label for="{{'substituteAuxiliaryEquipment_'+itemIndex}}">Substitute Auxiliary Equipment?</label>
        <select formControlName="substituteAuxiliaryEquipment" class="form-control"
            (change)="changeAuxiliaryEquipment()" (focus)="helpTextField('substituteAuxiliaryEquipment')"
            id="{{'substituteAuxiliaryEquipment_'+itemIndex}}">
            <option [ngValue]="true">Yes</option>
            <option [ngValue]="false">No</option>
        </select>
    </div>
    <div class="form-group" *ngIf="item.substituteAuxiliaryEquipment == true && !form.controls.collapsed.value">
        <label for="{{'equipmentDemand_'+itemIndex}}">Equipment Demand</label>
        <div class="input-group">
            <input type="number" class="form-control" formControlName="equipmentDemand"
                (focus)="helpTextField('equipmentDemand')" id="{{'equipmentDemand_'+itemIndex}}" (input)="save()">
            <span class="input-group-addon units">kW</span>
        </div>
        <span class="alert-danger pull-right small"
            *ngIf="form.controls.equipmentDemand.invalid && !form.controls.equipmentDemand.pristine">
            <span *ngIf="form.controls.equipmentDemand.errors.min">Value can't be negative.
            </span>
            <span *ngIf="form.controls.equipmentDemand.errors.required">Value required.
            </span>
        </span>
    </div>

    <div class="form-group" *ngIf="!form.controls.collapsed.value">
        <label for="{{'reductionType_'+itemIndex}}">Airflow Reduction Type</label>
        <div class="input-group">
            <div class="d-flex flex-column">
                <div class="d-flex">
                    <label class="w-100" for="{{'Fixed_'+itemIndex}}">
                        <input type="radio" id="{{'Fixed_'+itemIndex}}" (focus)="helpTextField('airflowReductionType')"
                            formControlName="reductionType" value="Fixed" (change)="changeReductionType()"
                            class="mr-2">Fixed</label>
                </div>
                <div class="d-flex">
                    <label class="w-100" for="{{'Variable_'+itemIndex}}">
                        <input type="radio" id="{{'Variable_'+itemIndex}}"
                            (focus)="helpTextField('airflowReductionType')" formControlName="reductionType"
                            value="Variable" (change)="changeReductionType()" class="mr-2">Variable
                        <span class="text-muted"
                            *ngIf="settings.unitsOfMeasure == 'Imperial' && form.controls.reductionType.value == 'Variable'">(acfm)</span>
                        <span class="text-muted"
                            *ngIf="settings.unitsOfMeasure == 'Metric' && form.controls.reductionType.value == 'Variable'">(m<sup>3</sup>/min)</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" *ngIf="form.controls.reductionType.value == 'Fixed' && !form.controls.collapsed.value">
        <label for="{{'airflowReduction_'+itemIndex}}">Airflow Reduction</label>
        <div class="input-group">
            <input type="number" class="form-control" formControlName="airflowReduction"
                (focus)="helpTextField('airflowReduction')" id="{{'airflowReduction_'+itemIndex}}" (input)="save()">
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="units input-group-addon">acfm</span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="units input-group-addon">m<sup>3</sup>/min</span>
        </div>
        <span class="alert-danger pull-right small"
            *ngIf="form.controls.airflowReduction.invalid && !form.controls.airflowReduction.pristine">
            <span *ngIf="form.controls.airflowReduction.errors.required">Value Required</span>
            <span *ngIf="form.controls.airflowReduction.errors.min">Value can't be negative.
            </span>
            <span *ngIf="form.controls.airflowReduction.errors.max">
                Value can't be greater than the max airflow in the system
                ({{form.controls.airflowReduction.errors.max.max | number: '1.0-1'}}
                <span *ngIf="settings.unitsOfMeasure == 'Imperial'">acfm</span>
                <span *ngIf="settings.unitsOfMeasure == 'Metric'">m<sup>3</sup>/min</span>).
            </span>
        </span>
    </div>
</form>
<!--reduction data table..-->
<div class="scroll-item pt-2" *ngIf="!form.controls.collapsed.value">
    <table class="table bg-white">
        <thead>
            <tr>
                <th *ngIf="dataForms.length != 1" [ngClass]="{'w-50': hourIntervals.length == 1}">
                    Day Type
                </th>
                <th *ngFor="let hourInterval of hourIntervals">
                    {{hourInterval | intervalHourLabel}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dataForm of dataForms; let reductionIndex = index;" [formGroup]="dataForm.form">
                <td *ngIf="dataForms.length != 1">
                    {{dataForm.dayTypeName}}
                </td>
                <td *ngFor="let item of dataForm.form | improveEndUseFormControls">
                    <!--FIXED-->
                    <input *ngIf="form.controls.reductionType.value == 'Fixed'" type="checkbox"
                        formControlName={{item.name}} (change)="saveDataForm()">

                    <!--VARIABLE-->
                    <input class="form-control w-100 min-width" type="number" formControlName={{item.name}}
                        (focus)="helpTextField('airflowReductionVariable')"
                        *ngIf="form.controls.reductionType.value == 'Variable'" (input)="saveDataForm()">
                    <div class="alert-danger m-0 p-0 bold" *ngIf="item.control.errors">
                        <span *ngIf="item.control.errors.min">
                            &#60; 0
                        </span>
                        <span *ngIf="item.control.errors.max">
                            &#62; {{item.control.errors.max.max | number:numberPipeDecimals}}
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-danger" *ngIf="hasInvalidForm">
        One of the table cells has an invalid entry. Data must be equal to or greater then zero and less than the
        airflow in the system at that hour.
    </div>
</div>
<!-- <div class="w-100 pb-2 text-right" *ngIf="item.reductionType == 'Fixed' && !form.controls.collapsed.value">
    <a class="click-link small" (click)="toggleAll(itemIndex)">Toggle All</a>
</div> -->

<div class="alert alert-danger" *ngIf="(hasInvalidForm || form.invalid) && form.controls.collapsed.value">
    This End Use Efficiency has invalid data!
</div>