<div class="mb-4 p-2 form-card">
  <form [formGroup]="form" #formElement>

    <label *ngIf="!isEditingName" class="group-label w-100 bold">
      <span (click)="editEquipmentName(index, true)" class="fa fa-pencil pr-2 btn-edit-name"></span>
      <span>{{form.controls.name.value}}</span>
      <span *ngIf="!isBaseline" class="fa fa-times-circle-o pull-right large" (click)="removeEquipment(index)"></span>
    </label>
    <label *ngIf="isEditingName" class="group-label w-100">
      <span class="fa fa-save pr-2 btn-edit-name" (click)="doneEditingName()"></span>
      <input type="text" id="equipmentName" formControlName="name" onfocus="this.select();" (input)="calculate()">
      <span class="alert-danger small ml-2" *ngIf="form.controls.name.invalid && !form.controls.name.pristine">
        <span *ngIf="form.controls.name.errors.required">Please enter a name.</span>
      </span>
    </label>

    <div class="form-section">

      <div class="form-group">
        <label class="small" for="{{'hoursPerYear_'+idString}}">Annual Operating Hours</label>
        <div class="input-group">
          <span class="input-group-addon op-hour-addon units">
            <a class="click-link" (click)="openOperatingHoursModal()"><span class="fa fa-calculator"></span></a>
          </span>
          <input class="form-control" name="hoursPerYear" id="{{'hoursPerYear_'+idString}}"
            formControlName="hoursPerYear" type="number" (input)="calculate()" (focus)="focusField('operationHours')"
            (blur)="focusOut()" onfocus="this.select();">
          <span class="units input-group-addon">hrs/yr</span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.hoursPerYear.invalid && !form.controls.hoursPerYear.pristine">
          <span *ngIf="form.controls.hoursPerYear.errors.required">Value required.</span>
          <span *ngIf="form.controls.hoursPerYear.errors.max">Value can't be greater than
            {{form.controls.hoursPerYear.errors.max.max}}.</span>
          <span *ngIf="form.controls.hoursPerYear.errors.min">Value can't be less than
            {{form.controls.hoursPerYear.errors.min.min}}.</span>
        </span>
      </div>

      <div class="form-group">
        <label class="small" for="{{'utilityType_'+idString}}">Utility Type</label>
        <div class="input-group">
          <select class="form-control" name="utilityType" id="{{'utilityType_'+idString}}" formControlName="utilityType"
            (change)="changeUtilityType()" (focus)="focusField('utilityType')" (blur)="focusOut()">
            <option *ngFor="let type of utilityTypes" [ngValue]="type.value">{{type.name}}</option>
          </select>
        </div>
      </div>

      <div class="form-group" *ngIf="form.controls.utilityType.value == 0">
        <label class="small" for="{{'compressedAirCost_'+idString}}">Compressed Air Cost</label>
        <div class="input-group">
          <input class="form-control" type="number" name="compressedAirCost" id="{{'compressedAirCost_'+idString}}"
            formControlName="compressedAirCost" (input)="calculate()" (focus)="focusField('compressedAirCost')"
            (blur)="focusOut()">
          <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure == 'Imperial'">$/SCF</span>
          <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure != 'Imperial'">$/m<sup>3</sup></span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.compressedAirCost.invalid && !form.controls.compressedAirCost.pristine">
          <span *ngIf="form.controls.compressedAirCost.errors.required">Value required.</span>
          <span *ngIf="form.controls.compressedAirCost.errors.min">Value can't be less than
            {{form.controls.compressedAirCost.errors.min.min}}.</span>
        </span>
      </div>

      <div class="form-group" *ngIf="form.controls.utilityType.value == 1">
        <label class="small" for="{{'electricityCost_'+idString}}">Electricity Cost</label>
        <div class="input-group">
          <input class="form-control" type="number" name="electricityCost" id="{{'electricityCost_'+idString}}"
            formControlName="electricityCost" (input)="calculate()" (focus)="focusField('electricityCost')"
            (blur)="focusOut()">
          <span class="units input-group-addon">$/kWh</span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.electricityCost.invalid && !form.controls.electricityCost.pristine">
          <span *ngIf="form.controls.electricityCost.errors.required">Value required.</span>
          <span *ngIf="form.controls.electricityCost.errors.min">Value can't be less than
            {{form.controls.electricityCost.errors.min.min}}.</span>
        </span>
      </div>



      <div class="form-group">
        <label class="small" for="{{'measurementMethod_'+idString}}">Measurement Method</label>
        <div class="input-group">
          <select class="form-control" name="measurementMethod" id="{{'measurementMethod_'+idString}}"
            formControlName="measurementMethod" (change)="changeMeasurementMethod()"
            (focus)="focusField('measurementMethod')" (blur)="focusOut()">
            <option *ngFor="let option of measurementOptions" [ngValue]="option.value">{{option.name}}</option>
          </select>
        </div>
      </div>

    </div>

    <!-- flow meter method -->
    <div class="form-section" *ngIf="form.controls.measurementMethod.value == 0">

      <div class="form-group">
        <label class="small" for="{{'meterReading_'+idString}}">Meter Reading</label>
        <div class="input-group">
          <input class="form-control" name="meterReading" id="{{'meterReading_'+idString}}"
            formControlName="meterReading" type="number" (input)="calculate()" (focus)="focusField('meterReading')"
            (blur)="focusOut()" onfocus="this.select();">
          <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure == 'Imperial'">SCFM</span>
          <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure != 'Imperial'">m<sup>3</sup>/min</span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.meterReading.invalid && !form.controls.meterReading.pristine">
          <span *ngIf="form.controls.meterReading.errors.required">Value required.</span>
          <span *ngIf="form.controls.meterReading.errors.min">Value can't be less than
            {{form.controls.meterReading.errors.min.min}}.</span>
        </span>
      </div>

    </div>

    <!-- bag meter method -->
    <div class="form-section" *ngIf="form.controls.measurementMethod.value == 1">

      <div class="form-group">
        <label class="small" for="{{'height_'+idString}}">Height of Bag</label>
        <div class="input-group">
          <input class="form-control" name="height" id="{{'height_'+idString}}" formControlName="height" type="number"
            (input)="calculate()" (focus)="focusField('height')" (blur)="focusOut()" onfocus="this.select();">
          <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure == 'Imperial'">in</span>
          <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure != 'Imperial'">cm</span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.height.invalid && !form.controls.height.pristine">
          <span *ngIf="form.controls.height.errors.required">Value required.</span>
          <span *ngIf="form.controls.height.errors.greaterThan">Value must be greater than
            {{form.controls.height.errors.greaterThan}}.</span>
        </span>
      </div>

      <div class="form-group">
        <label class="small" for="{{'diameter_'+idString}}">Diameter of Bag</label>
        <div class="input-group">
          <input class="form-control" name="diameter" id="{{'diameter_'+idString}}" formControlName="diameter"
            type="number" (input)="calculate()" (focus)="focusField('diameter')" (blur)="focusOut()"
            onfocus="this.select();">
          <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure == 'Imperial'">in</span>
          <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure != 'Imperial'">cm</span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.diameter.invalid && !form.controls.diameter.pristine">
          <span *ngIf="form.controls.diameter.errors.required">Value required.</span>
          <span *ngIf="form.controls.diameter.errors.greaterThan">Value must be greater than
            {{form.controls.diameter.errors.greaterThan}}.</span>
        </span>
      </div>

      <div class="form-group">
        <label class="small" for="{{'fillTime_'+idString}}">Bag Fill Time</label>
        <div class="input-group">
          <input class="form-control" name="fillTime" id="{{'fillTime_'+idString}}" formControlName="fillTime"
            type="number" (input)="calculate()" (focus)="focusField('fillTime')" (blur)="focusOut()"
            onfocus="this.select();">
          <span class="units input-group-addon">s</span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.fillTime.invalid && !form.controls.fillTime.pristine">
          <span *ngIf="form.controls.fillTime.errors.required">Value required.</span>
          <span *ngIf="form.controls.fillTime.errors.greaterThan">Value must be greater than
            {{form.controls.fillTime.errors.greaterThan}}.</span>
        </span>
      </div>

    </div>

    <!-- orifice/pressure meter method -->
    <div class="form-section" *ngIf="form.controls.measurementMethod.value == 2">

      <div class="form-group">
        <label class="small" for="{{'nozzleType_'+idString}}">Nozzle Type</label>
        <div class="input-group">
          <select class="form-control" name="nozzleType" id="{{'nozzleType_'+idString}}" formControlName="nozzleType"
            (change)="calculate()" (focus)="focusField('nozzleType')" (blur)="focusOut()">
            <option *ngFor="let nozzle of nozzleTypes" [ngValue]="nozzle.value">{{nozzle.name}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="small" for="{{'numberOfNozzles_'+idString}}">Number of Nozzles</label>
        <div class="input-group">
          <input class="form-control" name="numberOfNozzles" id="{{'numberOfNozzles_'+idString}}"
            formControlName="numberOfNozzles" type="number" (input)="calculate()"
            (focus)="focusField('numberOfNozzles')" (blur)="focusOut()" onfocus="this.select();">
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.numberOfNozzles.invalid && !form.controls.numberOfNozzles.pristine">
          <span *ngIf="form.controls.numberOfNozzles.errors.required">Value required.</span>
          <span *ngIf="form.controls.numberOfNozzles.errors.min">Value can't be less than
            {{form.controls.numberOfNozzles.errors.min.min}}.</span>
        </span>
      </div>

      <div class="form-group">
        <label class="small" for="{{'supplyPressure_'+idString}}">Supply Pressure</label>
        <div class="input-group">
          <input class="form-control" name="supplyPressure" id="{{'supplyPressure_'+idString}}"
            formControlName="supplyPressure" type="number" (input)="calculate()" (focus)="focusField('supplyPressure')"
            (blur)="focusOut()" onfocus="this.select();">
          <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure == 'Imperial'">psig</span>
          <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure != 'Imperial'">barg</span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.supplyPressure.invalid && !form.controls.supplyPressure.pristine">
          <span *ngIf="form.controls.supplyPressure.errors.required">Value required.</span>
          <span *ngIf="form.controls.supplyPressure.errors.min">Value can't be less than
            {{form.controls.supplyPressure.errors.min.min}}.</span>
        </span>
      </div>

      <div class="row">
        <div class="col-6">
          <label class="small bold">Nozzle Flow Rate</label>
        </div>
        <div class="col-6 text-center">
          <span class="small bold">{{individualResults.singleNozzleFlowRate | number:'.0-1'}}
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'">SCFM</span>
            <span *ngIf="settings.unitsOfMeasure != 'Imperial'">m<sup>3</sup>/min</span>
          </span>
        </div>
      </div>

    </div>

    <!-- offsheet/other method -->
    <div class="form-section" *ngIf="form.controls.measurementMethod.value == 3">

      <div class="form-group">
        <label class="small" for="{{'consumption_'+idString}}">Consumption</label>
        <div class="input-group">
          <input class="form-control" name="consumption" id="{{'consumption_'+idString}}" formControlName="consumption"
            type="number" (input)="calculate()" (focus)="focusField('consumption')" (blur)="focusOut()"
            onfocus="this.select();">
          <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure == 'Imperial'">kSCF/yr</span>
          <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure != 'Imperial'">m<sup>3</sup>/yr</span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.consumption.invalid && !form.controls.consumption.pristine">
          <span *ngIf="form.controls.consumption.errors.required">Value required.</span>
          <span *ngIf="form.controls.consumption.errors.min">Value can't be less than
            {{form.controls.consumption.errors.min.min}}.</span>
        </span>
      </div>

    </div>

    <div [ngClass]="{'form-section': form.controls.utilityType.value == 1}" *ngIf="form.controls.measurementMethod.value != 3">
      <div class="row">
        <div class="col-6">
          <label class="small bold">Flow Rate</label>
        </div>
        <div class="col-6 text-center">
          <span class="small bold">{{individualResults.flowRate | number:'1.0-1'}}
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'">SCFM</span>
            <span *ngIf="settings.unitsOfMeasure != 'Imperial'">m<sup>3</sup>/min</span>
          </span>
        </div>
      </div>

      <div class="form-group" *ngIf="form.controls.measurementMethod.value != 2">
        <label class="small" for="{{'units_'+idString}}"># of Units</label>
        <div class="input-group">
          <input class="form-control" name="units" id="{{'units_'+idString}}" formControlName="units" type="number"
            (input)="calculate()" (focus)="focusField('numberOfUnits')" (blur)="focusOut()" onfocus="this.select();">
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.units.invalid && !form.controls.units.pristine">
          <span *ngIf="form.controls.units.errors.required">Value required.</span>
          <span *ngIf="form.controls.units.errors.min">Value can't be less than
            {{form.controls.units.errors.min.min}}.</span>
        </span>
      </div>
    </div>

    <!-- electricity form -->
    <div class="pb-1" *ngIf="form.controls.utilityType.value == 1">
      <div class="form-group">
        <label class="small" for="{{'compressorControl_'+idString}}">Compressor Control</label>
        <div class="input-group">
          <select class="form-control" name="compressorControl" id="{{'compressorControl_'+idString}}"
            formControlName="compressorControl" (change)="changeCompressorControl()"
            (focus)="focusField('compressorControl')" (blur)="focusOut()">
            <!-- <option *ngFor="let control of compressorControls" [ngValue]="control.value">{{control.name}}</option> -->
            <optgroup label="Screw Compressor">
              <option [ngValue]="100">Inlet Modulation</option>
              <option [ngValue]="101">Variable Displacement</option>
              <option [ngValue]="102">Variable Speed Drives</option>
            </optgroup>
            <optgroup label="Oil Injected Screw">
              <option [ngValue]="103">Load/Unload (short cycle)</option>
              <option [ngValue]="104">Load/Unload (2+ minutes cycle)</option>
            </optgroup>
            <optgroup label="Oil Free Screw">
              <option [ngValue]="105">Load/Unload</option>
            </optgroup>
            <optgroup label="Reciprocating Compressor">
              <option [ngValue]="106">Load/Unload</option>
              <option [ngValue]="107">On/Off</option>
            </optgroup>
            <optgroup label="Centrifugal Compressor">
              <option [ngValue]="108">In blowoff (Venting)</option>
              <option [ngValue]="109">Modulating (IBV) in throttle range (Non-Venting)</option>
              <option [ngValue]="110">Modulating (IGV) in throttle range (Non-Venting)</option>
            </optgroup>
            <optgroup label="Other">
              <option [ngValue]="8">Custom</option>
            </optgroup>
          </select>
        </div>
      </div>

      <div class="row" *ngIf="!compressorCustomControl">
        <div class="col-6">
          <label class="small" for="compressorControlAdjustment">Compressor Control Adjustment</label>
        </div>
        <div class="col-6 text-center">
          <span class="small bold">{{form.controls.compressorControlAdjustment.value | number:'1.0-0'}} %</span>
        </div>
      </div>

      <div class="form-group" *ngIf="compressorCustomControl">
        <label class="small" for="{{'compressorControlAdjustment_'+idString}}">Compressor Control Adjustment</label>

        <div class="input-group">
          <input class="form-control" name="compressorControlAdjustment"
            id="{{'compressorControlAdjustment_'+idString}}" formControlName="compressorControlAdjustment" type="number"
            (input)="changeCompressorControl()" (focus)="focusField('compressorControlAdjustment')" (blur)="focusOut()"
            onfocus="this.select();">
          <span class="units input-group-addon">%</span>
        </div>
        <span class="alert-danger pull-right small"
          *ngIf="form.controls.compressorControlAdjustment.invalid && !form.controls.compressorControlAdjustment.pristine">
          <span *ngIf="form.controls.compressorControlAdjustment.errors.required">Value required.</span>
          <span *ngIf="form.controls.compressorControlAdjustment.errors.max">Value can't be greater than
            {{form.controls.compressorControlAdjustment.errors.max.max}}.</span>
          <span *ngIf="form.controls.compressorControlAdjustment.errors.min">Value can't be less than
            {{form.controls.compressorControlAdjustment.errors.min.min}}.</span>
        </span>
      </div>

      <div class="form-group">
        <label class="small" for="{{'compressorSpecificPowerControl_'+idString}}">Compressor Type</label>
        <div class="input-group">
          <select class="form-control" name="compressorSpecificPowerControl"
            id="{{'compressorSpecificPowerControl_'+idString}}" formControlName="compressorSpecificPowerControl"
            (change)="changeCompressorType()" (focus)="focusField('compressorSpecificPowerControl')"
            (blur)="focusOut()">
            <option *ngFor="let type of compressorSpecificPowerControls" [ngValue]="type.value">{{type.name}}</option>
          </select>
        </div>
      </div>

      <div *ngIf="isBaseline">
        <div class="row" *ngIf="!compressorCustomSpecificPower">
          <div class="col-6">
            <label class="small" for="compressorSpecificPower">Compressor Specific Power</label>
          </div>
          <div class="col-6 text-center">
            <span class="small bold">{{form.controls.compressorSpecificPower.value | number:'1.0-2'}}
              <span *ngIf="settings.unitsOfMeasure == 'Imperial'">kW/(100 SCFM)</span>
              <span *ngIf="settings.unitsOfMeasure != 'Imperial'">kW/(m<sup>3</sup>/min)</span>
            </span>
          </div>
        </div>

        <div class="form-group" *ngIf="compressorCustomSpecificPower">
          <label class="small" for="{{'compressorSpecificPower_'+idString}}">Compressor Specific Power</label>
          <div class="input-group">
            <input class="form-control" name="compressorSpecificPower" id="{{'compressorSpecificPower_'+idString}}"
              formControlName="compressorSpecificPower" type="number" (input)="calculate()"
              (focus)="focusField('compressorSpecificPower')" (blur)="focusOut()" onfocus="this.select();">
            <span class="units input-group-addon" *ngIf="settings.unitsOfMeasure == 'Imperial'">kW/(100 SCFM)</span>
            <span class="units input-group-addon"
              *ngIf="settings.unitsOfMeasure != 'Imperial'">kW/(m<sup>3</sup>/min)</span>
          </div>
          <span class="alert-danger pull-right small"
            *ngIf="form.controls.compressorSpecificPower.invalid && !form.controls.compressorSpecificPower.pristine">
            <span *ngIf="form.controls.compressorSpecificPower.errors.required">Value required.</span>
            <span *ngIf="form.controls.compressorSpecificPower.errors.min">Value can't be less than
              {{form.controls.compressorSpecificPower.errors.min.min}}.</span>
          </span>
        </div>
      </div>
      <div *ngIf="!isBaseline">
        <div class="row">
          <div class="col-6">
            <label class="small" for="compressorSpecificPower">Compressor Specific Power</label>
          </div>
          <div class="col-6 text-center">
            <span class="small bold">Calculated using baseline
            </span>
          </div>
        </div>
      </div>

    </div>

  </form>
</div>

<app-operating-hours-modal *ngIf="showOperatingHoursModal" (emitClose)="closeOperatingHoursModal()"
  (emitSave)="updateOperatingHours($event)" [width]="formWidth" [showMinutesSeconds]="true"
  [operatingHours]="compressedAirReductionService.operatingHours">
</app-operating-hours-modal>