.form-section {
    padding-bottom: .25rem;
    border-bottom: 1px dashed;
}

.form-row-pad-fix {
    margin-left: -15px !important;
}

.form-card {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 20px 0 grey;
}

.btn-edit-name:hover {
    cursor: pointer;
}

.input-group-addon.units.op-hour-addon{
    border-left: solid 1px;
    border-right: none;
  }

:host-context(.disabled) .form-card,
:host-context(.disabled) input.form-control,
:host-context(.disabled) select.form-control,
:host-context(.disabled) .input-group-addon {
    background-color: #e9ecef;
    box-shadow: none;
}