<!-- <table class="table utility-data table-sm table-bordered table-hover" #dataTable
    [ngClass]="{'copying-table': copyingTable}">
    <thead>
        <tr>
            <th>Month</th>
            <th *ngIf="weatherDataSelection == 'degreeDays' || weatherDataSelection == 'HDD'">Heating Degree Days</th>
            <th *ngIf="weatherDataSelection == 'degreeDays' || weatherDataSelection == 'CDD'">Cooling Degree Days</th>
            <th *ngIf="weatherDataSelection == 'relativeHumidity'">Relative Humidity</th>
            <th *ngIf="weatherDataSelection == 'dryBulbTemp'">Dry Bulb Temp.</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor="let degreeDay of yearSummaryData">
            <td>
                <span *ngIf="degreeDay.hasErrors" class="fa fa-exclamation-circle"></span>
                <a class="click-link" (click)="gotToMonthSummary(degreeDay.date)">
                    {{degreeDay.date | date:'MMM. y'}}
                </a>
            </td>
            <td *ngIf="weatherDataSelection == 'degreeDays' || weatherDataSelection == 'HDD'">
                {{degreeDay.heatingDegreeDays | number}}
            </td>
            <td *ngIf="weatherDataSelection == 'degreeDays' || weatherDataSelection == 'CDD'">
                {{degreeDay.coolingDegreeDays | number}}
            </td>
            <td *ngIf="weatherDataSelection == 'relativeHumidity'">
                {{degreeDay.relativeHumidity | number:'1.0-1'}} &percnt;
            </td>
            <td *ngIf="weatherDataSelection == 'dryBulbTemp'">
                {{degreeDay.dryBulbTemp | number:'1.0-1'}} &#8457;
            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="weatherDataSelection != 'relativeHumidity' && weatherDataSelection != 'dryBulbTemp'">
        <tr>
            <th>
                Total
            </th>
            <th *ngIf="weatherDataSelection == 'degreeDays' || weatherDataSelection == 'HDD'">
                {{yearSummaryData | total: 'heatingDegreeDays' | number}}
            </th>
            <th *ngIf="weatherDataSelection == 'degreeDays' || weatherDataSelection == 'CDD'">
                {{yearSummaryData | total: 'coolingDegreeDays' | number}}
            </th>
        </tr>
    </tfoot>
</table>

<div class="d-flex justify-content-end">
    <button class="btn action-btn btn-sm" (click)="copyTable()">
        <span class="fa fa-copy"></span> Copy Table
    </button>
</div> -->