<form #lossForm [formGroup]="chargeMaterialForm">

  <div class="form-section">
    <div class="form-group">
      <label class="small" for="materialName">Name of Material
        <small id="materialHelp" class="form-text text-help"><a (click)="showMaterialModal()">Add New Solid Material</a></small>
      </label>
      <select name="{{'materialName_'+lossIndex}}" class="form-control" id="materialName" formControlName="materialId" (change)="setProperties()"
        (focus)="focusField('materialName')">
          <option *ngFor="let material of materialTypes" [ngValue]="material.id">{{material.substance}}</option>
        </select>
    </div>

    <div class="form-group">
      <label class="small" for="materialSpecificHeatOfSolidMaterial">Average specific heat of the solid material</label>
      <div class="input-group">
        <input name="{{'materialSpecificHeatOfSolidMaterial_'+lossIndex}}" type="number" step="any" class="form-control" formControlName="materialSpecificHeatOfSolidMaterial"
          id="materialSpecificHeatOfSolidMaterial" onfocus="this.select();" (input)="startSavePolling()" (focus)="focusField('materialSpecificHeatOfSolidMaterial')">
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">Btu/(lb-&#8457;)</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">kJ/(kg-&#8451;)</span>
      </div>
    </div>

    <div class="form-group">
      <label class="small" for="materialLatentHeatOfFusion">Latent Heat of Fusion</label>
      <div class="input-group">
        <input name="{{'materialLatentHeatOfFusion_'+lossIndex}}" type="number" step="any" class="form-control" formControlName="materialLatentHeatOfFusion"
          id="materialLatentHeatOfFusion" onfocus="this.select();" (input)="startSavePolling()" (focus)="focusField('materialLatentHeatOfFusion')">
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-btn units">Btu/lb</span>

      </div>
    </div>

    <div class="form-group">
      <label class="small" for="materialHeatOfLiquid">Specific heat of liquid from molten material</label>
      <div class="input-group">
        <input name="{{'materialHeatOfLiquid_'+lossIndex}}" type="number" step="any" class="form-control" formControlName="materialHeatOfLiquid"
          id="materialHeatOfLiquid" onfocus="this.select();" (input)="startSavePolling()" (focus)="focusField('materialHeatOfLiquid')">
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">Btu/(lb-&#8457;)</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">kJ/(kg-&#8451;)</span>
      </div>
    </div>

    <div class="form-group">
      <label class="small" for="materialMeltingPoint">Melting Point</label>
      <div class="input-group">
        <input name="{{'materialMeltingPoint_'+lossIndex}}" type="number" step="any" class="form-control" formControlName="materialMeltingPoint"
          id="materialMeltingPoint" onfocus="this.select();" (input)="startSavePolling()" (focus)="focusField('materialMeltingPoint')">
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">&#8457;</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">&#8451;</span>
      </div>
    </div>
  </div>

  <div class="form-section">
    <div class="form-group">
      <label class="small" for="feedRate">Charge (wet)-Feed Rate</label>
      <div class="input-group">
        <input name="{{'feedRate_'+lossIndex}}" type="number" step="any" class="form-control" formControlName="feedRate" id="feedRate"
          onfocus="this.select();" (input)="startSavePolling()" (focus)="focusField('feedRate')">
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">lb/hr</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">kg/hr</span>
      </div>
    </div>

    <div class="form-group">
      <label class="small" for="initialTemperature">Initial Temperature</label>
      <div class="input-group">
        <input name="{{'initialTemperature_'+lossIndex}}" type="number" step="any" class="form-control" formControlName="initialTemperature"
          id="initialTemperature" onfocus="this.select();" (input)="startSavePolling()" (focus)="focusField('initialTemperature')">
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">&#8457;</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">&#8451;</span>
      </div>
    </div>


    <div class="form-group" [ngClass]="{'input-warning': checkDischargeTemp() == false}">
      <label class="small" for="chargeMaterialDischargeTemperature">Charge Material Discharge Temperature</label>
      <div class="input-group">
        <input name="{{'chargeMaterialDischargeTemperature_'+lossIndex}}" type="number" step="any" class="form-control" formControlName="chargeMaterialDischargeTemperature"
          id="chargeMaterialDischargeTemperature" onfocus="this.select();" (input)="startSavePolling()" (focus)="focusField('chargeMaterialDischargeTemperature')">
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">&#8457;</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">&#8451;</span>
      </div>
      <span class="alert-warning pull-right small" *ngIf="dischargeTempError !== null">{{dischargeTempError}}</span>

    </div>
    <div class="form-group">
      <label class="small" for="waterContentAsCharged">Water Content as Charged</label>
      <div class="input-group">
        <input name="{{'waterContentAsCharged_'+lossIndex}}" type="number" step="any" class="form-control" formControlName="waterContentAsCharged"
          id="waterContentAsCharged" onfocus="this.select();" (input)="startSavePolling()" (focus)="focusField('waterContentAsCharged')">
        <span class="input-group-addon units">%</span>
      </div>
    </div>

    <div class="form-group">
      <label class="small" for="waterContentAsDischarged">Water Content as Discharged</label>
      <div class="input-group">
        <input name="{{'waterContentAsDischarged_'+lossIndex}}" type="number" step="any" class="form-control" formControlName="waterContentAsDischarged"
          id="waterContentAsDischarged" onfocus="this.select();" (input)="startSavePolling()" (focus)="focusField('waterContentAsDischarged')">
        <span class="input-group-addon units">%</span>
      </div>
    </div>

    <div class="form-group">
      <label class="small" for="waterVaporDischargeTemperature">Water Vapor Discharge Temperature</label>
      <div class="input-group">
        <input name="{{'waterVaporDischargeTemperature_'+lossIndex}}" type="number" step="any" class="form-control" formControlName="waterVaporDischargeTemperature"
          id="waterVaporDischargeTemperature" onfocus="this.select();" (input)="startSavePolling()" (focus)="focusField('waterVaporDischargeTemperature')">
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">&#8457;</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">&#8451;</span>
      </div>
    </div>


    <div class="form-group" [ngClass]="{'input-warning': checkDischargeTemp() == false}">
      <label class="small" for="percentChargeMelted">Charge Melted</label>
      <div class="input-group">
        <input name="{{'percentChargeMelted_'+lossIndex}}" type="number" step="any" class="form-control" formControlName="percentChargeMelted"
          id="percentChargeMelted" onfocus="this.select();" (input)="startSavePolling()" (focus)="focusField('percentChargeMelted')">
        <span class="input-group-addon units">%</span>
      </div>
      <span class="alert-warning pull-right small" *ngIf="dischargeTempError !== null">{{dischargeTempError}}</span>
    </div>

    <div class="form-group">
      <label class="small" for="percentChargeReacted">Charge Reacted</label>
      <div class="input-group">
        <input name="{{'percentChargeReacted_'+lossIndex}}" type="number" class="form-control" formControlName="percentChargeReacted"
          id="percentChargeReacted" onfocus="this.select();" (input)="startSavePolling()" (focus)="focusField('percentChargeReacted')">
        <span class="input-group-addon units">%</span>
      </div>
    </div>

    <div class="form-group">
      <label class="small" for="heatOfReaction">Heat of Reaction</label>
      <div class="input-group">
        <input name="{{'heatOfReaction_'+lossIndex}}" type="number" class="form-control" formControlName="heatOfReaction" id="heatOfReaction"
          onfocus="this.select();" (input)="startSavePolling()" (focus)="focusField('heatOfReaction')">
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">Btu/lb</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">kJ/kg</span>
      </div>
    </div>

    <div class="form-group">
      <label class="small" for="endothermicOrExothermic">Endothermic/Exothermic</label>
      <select name="{{'endothermicOrExothermic_'+lossIndex}}" class="form-control" formControlName="endothermicOrExothermic" id="endothermicOrExothermic"
        (change)="startSavePolling()" (focus)="focusField('endothermicOrExothermic')">
        <option>Endothermic</option>
        <option>Exothermic</option>
      </select>
    </div>

    <div class="form-group">
      <label class="small" for="additionalHeatRequired">Additional Heat Required</label>
      <div class="input-group">
        <input name="{{'additionalHeatRequired_'+lossIndex}}" type="number" step="any" class="form-control" formControlName="additionalHeatRequired"
          id="additionalHeatRequired" onfocus="this.select();" (input)="startSavePolling()" (focus)="focusField('additionalHeatRequired')">
        <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">Btu/hr</span>
        <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">kJ/hr</span>
      </div>
    </div>
  </div>
</form>

<!--CREATE Folder MODAL-->
<div bsModal #materialModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="materialModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-md">
    <div class="modal-header">
      <h3>Create Solid Material</h3>
      <button class="close" (click)="hideMaterialModal()">
     <span aria-hidden="true">&times;</span>
   </button>
    </div>
    <div class="modal-content">
      <app-solid-load-charge-material (closeModal)="hideMaterialModal($event)" [settings]="settings"></app-solid-load-charge-material>
    </div>
  </div>
</div>