<div class="d-flex flex-column">
  <div class="header mr-2 ml-2">
    <h3>{{assessment.name}} Settings</h3>
    <br>
    <a class="no-data-link" *ngIf="showUpdateData" (click)="updateData()">Your units have changed! Click here to update
      your data to reflect these changes!</a>
    <span class="data-updated" *ngIf="dataUpdated">Data Updated!</span>
  </div>
  <div class="pl-3 pr-3 pt-2">
    <app-application-settings [(settingsForm)]="settingsForm" (startSavePolling)="save()" [inPsat]="true"></app-application-settings>
    <app-steam-settings [(settingsForm)]="settingsForm" (startSavePolling)="save()"></app-steam-settings>
  </div>
  <div class="pl-3 pr-3">
    <form>
      <div class="form-group">
        <label class="group-label w-100">Equipment Notes</label>
        <textarea name="equipmentNotes" rows="4" id="equipmentNotes" (input)="saveChanges(true)" [(ngModel)]="ssmt.equipmentNotes"
          placeholder="Add additional information for your equipment"></textarea>
      </div>
    </form>
  </div>
  <div class="pl-3 pr-3">
    <form>
      <div class="form-group">
        <label class="group-label w-100">
          Operating Conditions at time of Assessment</label>
        <textarea name="operatingConditions" rows="4" id="operatingConditions" (input)="saveChanges(true)" [(ngModel)]="ssmt.operatingHours.operatingConditions"
          placeholder="Add note for operating conditions"></textarea>
      </div>
    </form>
  </div>
</div>