<div class="row ml-0 mr-0">
    <div class="col-12">
        <div class="header">
            <div class="h3">Select Motor Properties</div>
        </div>
    </div>
    <div class="col-12">
        <div class="p-2 d-flex justify-content-center">
            <div class="alert-info small text-center p-2">Select motor property fields you want to track in your inventory catalog.</div>
        </div>
    </div>
    <div class="col-12">
        <div class="pr-2 pl-2">
            <app-nameplate-data-properties></app-nameplate-data-properties>
        </div>
    </div>
    <div class="col-12">
        <div class="pr-2 pl-2">
            <app-load-characteristic-properties></app-load-characteristic-properties>
        </div>
    </div>
    <div class="col-12">
        <div class="pr-2 pl-2">
            <app-operation-data-properties></app-operation-data-properties>
        </div>
    </div>
    <div class="col-12">
        <div class="pr-2 pl-2">
            <app-manual-specification-properties></app-manual-specification-properties>
        </div>
    </div>
    <div class="col-12">
        <div class="pr-2 pl-2">
            <app-batch-analysis-properties></app-batch-analysis-properties>
        </div>
    </div>
    <div class="col-12">
        <div class="pr-2 pl-2">
            <app-purchase-information-properties></app-purchase-information-properties>
        </div>
    </div>
    <div class="col-12">
        <div class="pr-2 pl-2">
            <app-torque-properties></app-torque-properties>
        </div>
    </div>
    <div class="col-12">
        <div class="pr-2 pl-2">
            <app-other-properties></app-other-properties>
        </div>
    </div>
</div>