<div class="row ml-0 mr-0">
    <div class="col-12">
        <div class="header">
            <div class="h3">Select Motor Properties</div>
        </div>
    </div>
    <div class="col-12">
        <form>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Manufacturer
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Model
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Motor Type
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Catalog ID
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Rated Speed
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Full Load Speed
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Enclosure Type
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Frame Number
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Voltage Rating
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Purpose
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    uFrame
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    cFace
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Vertical Shaft
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    dFlange
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Service Factor
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Insulation Class
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Weight
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    List Price
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Winding Resistance
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Warranty
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Number of Rotor Bars
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Number of Stator Slots
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Efficiency at 75% Load
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Efficiency at 50% Load
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Efficiency at 25% Load
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Power Factor at Full Load
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Power Factor at 75% Load
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Power Factor at 50% Load
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Power Factor at 25% Load
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Full Load Torque
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Break Down Torque
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Locked Rotor Torque
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Idle Amps
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Locked Rotor Amps
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Stalled Rotor Time - Hot
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Stalled Rotor Time - Cold
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Poles
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Motor Operating Hours
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Drive Type
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    VFD
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Data Logger
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Number of Phases
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Voltage Connection Type
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Current Type
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Average Load Factor
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Utilization Factor
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Effeciency at Average Load
                </label>
            </div>
        </form>
    </div>
</div>