.btn-primary{
	padding: 6px;
	font-size: small;
}


.group-name, .group-label{
	border-bottom: #2980b9 groove 2px;
	font-size: 16px;
    text-transform: none;
	letter-spacing: 1px;
	padding-top: 6.5px;
	padding-bottom: 6.5px;
}