<div class="ssmt">
    <div class="row">
        <div class="col-12">
            <div class="print-page-title">
                Steam System Rollup Summary
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column">
                <label class="group-label">Steam Systems Cost</label>
                <app-ssmt-rollup-bar-chart [settings]="settings" [dataOption]="'cost'" [printView]="true">
                </app-ssmt-rollup-bar-chart>
                <label class="group-label">Steam Systems Energy Usage</label>
                <app-ssmt-rollup-bar-chart [settings]="settings" [dataOption]="'energy'" [printView]="true">
                </app-ssmt-rollup-bar-chart>
            </div>
        </div>
    </div>
    <div class="row print-avoid-break">
        <div class="col-12">
            <app-ssmt-rollup-summary-table [settings]="settings"></app-ssmt-rollup-summary-table>
        </div>
    </div>
</div>