@media print {
    .page-break-before{
        page-break-before: always;
    }

    .print-page-title {
        font-size: 40px !important;
        font-weight: bold;
    }
}

.group-label{
    font-size: 22px;
}