
.boiler{
 width: 55%;
}
.hover-equipment-table{
    width: 45%;
}

 .deaerator{
    width: 40%;
}


.diagram-container{
    background: #fff;
    box-shadow: 0px 0px 69px -1px rgba(0,0,0,0.2);
    z-index: 2;
    width: 70% !important;
    font-size: small;
}


.diagram-help-panel{
    width: 30%;
}

.min-width-container{
    min-width: 750px;
    /* min-height: 800px; */
    overflow-x: auto;
    /* overflow-y: auto; */
}

.boiler-table-height{
    height: 140px;
}