<div class="d-flex h-100 ssmt-diagram" [ngClass]="hoveredEquipment">
  <div class="d-flex p-3 diagram-container min-width-container">
    <div class="d-flex h-75">
      <app-feedwater-diagram></app-feedwater-diagram>
    </div>
    <div class="d-flex flex-column flex-fill align-content-stretch">
      <div class="d-flex boiler-table-height">
        <div class="d-flex boiler" (click)="selectTable('boiler')">
          <app-boiler-diagram [boiler]="boiler" [inputData]="inputData" (emitSetHover)="setHover($event)"
            (emitSelectEquipment)="selectTable($event)"></app-boiler-diagram>
        </div>
        <div class="d-flex hover-equipment-table justify-content-center">
          <app-hover-table [hoveredEquipment]="hoveredEquipment"></app-hover-table>
        </div>
      </div>
      <div class="d-flex justify-content-between pl-4">
        <div class="d-flex flex-column justify-content-between flex-fill">
          <div class="p-0 d-flex justify-content-end">
            <div class="w-100">
              <app-header-diagram [header]="highPressureHeader" [pressureLevel]="'highPressure'" [condensate]="highPressureCondensate"
                [headerSteamUsage]="inputData.headerInput.highPressure.processSteamUsage" (emitSetHover)="setHover($event)"></app-header-diagram>
            </div>
          </div>
          <div class="d-flex w-100">
            <div class="d-flex flex-fill">
              <div class="p-0 w-25">
                <app-prv-diagram *ngIf="highToMediumPressurePRV" [prv]="highToMediumPressurePRV" [inletSteam]="'high-pressure'"
                  [outletSteam]="'medium-pressure'" (emitSetHover)="setHover($event)" (emitSelectEquipment)="selectTable($event)"></app-prv-diagram>
                <app-prv-diagram *ngIf="lowPressurePRV && !highToMediumPressurePRV" [prv]="lowPressurePRV" [inletSteam]="'high-pressure'"
                  [outletSteam]="'low-pressure'" (emitSetHover)="setHover($event)" (emitSelectEquipment)="selectTable($event)"></app-prv-diagram>
                <app-one-header-connector *ngIf="!mediumPressureHeader && !lowPressureHeader" (emitSetHover)="setHover($event)"></app-one-header-connector>
              </div>
              <div class="p-0 w-25 turbineDiagram">
                <app-turbine-diagram *ngIf="condensingTurbine" [noOutletConnection]="lowPressureHeader != undefined"
                  [turbine]="condensingTurbine" [inletColor]="'high-pressure'" [outletColor]="'makeup-water'"
                  (emitSetHover)="setHover($event)" [turbineType]="'condensing'" (emitSelectEquipment)="selectTable('condensingTurbine')"></app-turbine-diagram>
              </div>
              <div class="p-0 w-25 turbineDiagram">
                <app-turbine-diagram *ngIf="highPressureToMediumPressureTurbine" [noOutletConnection]="false" [turbine]="highPressureToMediumPressureTurbine"
                  [inletColor]="'high-pressure'" [outletColor]="'medium-pressure'" (emitSetHover)="setHover($event)"
                  [turbineType]="'highToMedium'" (emitSelectEquipment)="selectTable('highPressureToMediumPressureTurbine')"></app-turbine-diagram>
              </div>
              <div class="p-0 w-25 turbineDiagram">
                <app-turbine-diagram *ngIf="highToLowPressureTurbine" [noOutletConnection]="mediumPressureHeader != undefined"
                  [turbine]="highToLowPressureTurbine" [inletColor]="'high-pressure'" [outletColor]="'low-pressure'"
                  (emitSetHover)="setHover($event)" [turbineType]="'highToLow'" (emitSelectEquipment)="selectTable('highToLowPressureTurbine')"></app-turbine-diagram>
              </div>
            </div>
            <div class="w-25">
              <app-flash-tank-diagram *ngIf="highPressureFlashTank && mediumPressureHeader" [flashTank]="highPressureFlashTank"
                [steamPressure]="'medium-pressure'" (emitSetHover)="setHover($event)" [flashTankType]="'highPressure'"
                (emitSelectEquipment)="selectTable($event)"></app-flash-tank-diagram>
              <app-flash-tank-diagram *ngIf="highPressureFlashTank && !mediumPressureHeader" [flashTank]="highPressureFlashTank"
                [steamPressure]="'low-pressure'" (emitSetHover)="setHover($event)" [flashTankType]="'highPressure'"
                (emitSelectEquipment)="selectTable($event)"></app-flash-tank-diagram>
              <app-condensate-connector *ngIf="!highPressureFlashTank" (emitSetHover)="setHover($event)"></app-condensate-connector>
            </div>
          </div>
          <div class="p-0 d-flex justify-content-end">
            <div class="w-100">
              <app-header-diagram *ngIf="mediumPressureHeader" [header]="mediumPressureHeader" [pressureLevel]="'mediumPressure'"
                [condensate]="mediumPressureCondensate" [headerSteamUsage]="inputData.headerInput.mediumPressure.processSteamUsage"
                (emitSetHover)="setHover($event)"></app-header-diagram>
            </div>
          </div>
          <div class="d-flex w-100">
            <div class="d-flex flex-fill">
              <div class="p-0 w-25">
                <app-prv-diagram *ngIf="lowPressurePRV && highToMediumPressurePRV" [prv]="lowPressurePRV" [inletSteam]="'medium-pressure'"
                  [outletSteam]="'low-pressure'" (emitSetHover)="setHover($event)" (emitSelectEquipment)="selectTable($event)"></app-prv-diagram>
              </div>
              <div class="p-0 w-25">
                <app-turbine-connector *ngIf="condensingTurbine && mediumPressureHeader" [noOutletConnection]="true"
                  [noInletConnection]="lowPressureHeader != undefined" [inletColor]="'makeup-water'" (emitSetHover)="setHover($event)"></app-turbine-connector>
              </div>
              <div class="p-0 w-25 turbineDiagram">
                <app-turbine-diagram *ngIf="mediumToLowPressureTurbine" [noOutletConnection]="false" [turbine]="mediumToLowPressureTurbine"
                  [inletColor]="'medium-pressure'" [outletColor]="'low-pressure'" (emitSetHover)="setHover($event)"
                  [turbineType]="'mediumToLow'" (emitSelectEquipment)="selectTable('mediumToLowPressureTurbine')"></app-turbine-diagram>
              </div>
              <div class="p-0 w-25">
                <app-turbine-connector *ngIf="highToLowPressureTurbine && mediumPressureHeader" [noOutletConnection]="false"
                  [inletColor]="'low-pressure'" [noInletConnection]="true" (emitSetHover)="setHover($event)"></app-turbine-connector>
              </div>
            </div>
            <div class="w-25">
              <app-flash-tank-diagram *ngIf="mediumPressureFlashTank" [flashTank]="mediumPressureFlashTank"
                [steamPressure]="'low-pressure'" (emitSetHover)="setHover($event)" [flashTankType]="'mediumPressure'"
                (emitSelectEquipment)="selectTable($event)"></app-flash-tank-diagram>
              <app-condensate-connector *ngIf="!mediumPressureFlashTank && mediumPressureHeader" (emitSetHover)="setHover($event)"></app-condensate-connector>
            </div>
          </div>
          <div class="p-0 d-flex justify-content-end">
            <div class="w-100">
              <app-header-diagram *ngIf="lowPressureHeader" [header]="lowPressureHeader" [pressureLevel]="'lowPressure'"
                [condensate]="lowPressureCondensate" [headerSteamUsage]="inputData.headerInput.lowPressure.processSteamUsage"
                (emitSetHover)="setHover($event)"></app-header-diagram>
            </div>
          </div>
        </div>
        <!-- <div class="condensate p-1">
          condensate
        </div> -->
      </div>
      <div class="d-flex w-100 pl-4">
        <div class="d-flex flex-fill">
          <div class="p-0 w-25 deaerator-margin">
            <app-deaerator-diagram *ngIf="lowPressureHeader" [deaerator]="deaerator" [inletPressure]="'low-pressure'"
              (emitSetHover)="setHover($event)"></app-deaerator-diagram>
            <app-deaerator-diagram *ngIf="!lowPressureHeader" [deaerator]="deaerator" [inletPressure]="'high-pressure'"
              (emitSetHover)="setHover($event)"></app-deaerator-diagram>
          </div>
          <div class="w-25 deaerator-condensate-padding">
            <app-turbine-connector *ngIf="condensingTurbine" [noOutletConnection]="false" [noInletConnection]="lowPressureHeader != undefined"
              [inletColor]="'makeup-water'" (emitSetHover)="setHover($event)"></app-turbine-connector>
          </div>
          <div class="p-0 w-25">

          </div>
          <div class="p-0 w-25">
            <app-blowdown-flash-tank *ngIf="blowdownFlashTank" [flashTank]="blowdownFlashTank" (emitSetHover)="setHover($event)"
              (emitSelectEquipment)="selectTable($event)"></app-blowdown-flash-tank>
          </div>
        </div>
        <div class="w-25">
          <app-condensate-flash-tank *ngIf="condensateFlashTank" [flashTank]="condensateFlashTank" (emitSetHover)="setHover($event)"
            (emitSelectEquipment)="selectTable($event)"></app-condensate-flash-tank>
          <app-condensate-connector *ngIf="!condensateFlashTank" (emitSetHover)="setHover($event)"></app-condensate-connector>
        </div>
      </div>
      <div class="p-0 d-flex">
        <div class="w-100">
          <app-return-condensate-header [makeupWaterAndCondensateHeader]="makeupWaterAndCondensateHeader"
            [returnCondensate]="returnCondensate" [condensateFlashTank]="condensateFlashTank" (emitSetHover)="setHover($event)"></app-return-condensate-header>
        </div>
      </div>
      <div class="p-0 d-flex">
        <div class="w-100">
          <app-makeup-water-diagram [makeupWater]="makeupWater" (emitSetHover)="setHover($event)"></app-makeup-water-diagram>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column h-100 diagram-help-panel">
    <div class="d-flex flex-wrap tabs primary mr-2 ml-2">
      <div class="flex-fill panel-tab-item h-100" [ngClass]="{'active': tabSelect == 'results'}">
        <a class="border-left-0 h-100 d-flex justify-content-center align-items-center" (click)="setTab('results')">
          <div>Results</div>
        </a>
      </div>
      <div class="flex-fill panel-tab-item h-100" [ngClass]="{'active': tabSelect == 'help'}">
        <a class="h-100 d-flex justify-content-center align-items-center" (click)="setTab('help')">
          <div>Help</div>
        </a>
      </div>
    </div>
    <div class="d-flex justify-content-center mr-2 ml-2">
      <div class="pt-4" *ngIf="tabSelect == 'results'">
        <app-cost-table *ngIf="selectedTable == 'cost'"></app-cost-table>
        <app-boiler-table *ngIf="selectedTable == 'boiler'" [boiler]="boiler" [inputData]="inputData"></app-boiler-table>
        <app-turbine-table *ngIf="selectedTable == 'highToLowPressureTurbine'" [turbineName]="'High to Low Pressure'"
          [turbine]="highToLowPressureTurbine"></app-turbine-table>
        <app-turbine-table *ngIf="selectedTable == 'highPressureToMediumPressureTurbine'" [turbineName]="'High to Medium Pressure'"
          [turbine]="highPressureToMediumPressureTurbine"></app-turbine-table>
        <app-turbine-table *ngIf="selectedTable == 'mediumToLowPressureTurbine'" [turbineName]="'Medium to Low Pressure'"
          [turbine]="mediumToLowPressureTurbine"></app-turbine-table>
        <app-turbine-table *ngIf="selectedTable == 'condensingTurbine'" [turbineName]="'Condensing'" [turbine]="condensingTurbine"></app-turbine-table>
        <app-flash-tank-table *ngIf="selectedTable == 'highPressureFlashTank'" [flashTank]="highPressureFlashTank"
          [flashTankType]="'High'"></app-flash-tank-table>
        <app-flash-tank-table *ngIf="selectedTable == 'mediumPressureFlashTank'" [flashTank]="mediumPressureFlashTank"
          [flashTankType]="'Medium'"></app-flash-tank-table>
        <app-flash-tank-table *ngIf="selectedTable == 'condensateFlashTank'" [flashTank]="condensateFlashTank"
          [flashTankType]="'Condensate'"></app-flash-tank-table>
        <app-flash-tank-table *ngIf="selectedTable == 'blowdownFlashTank'" [flashTank]="blowdownFlashTank"
          [flashTankType]="'Blowdown'"></app-flash-tank-table>
        <app-prv-table *ngIf="selectedTable == 'highToMediumPressurePRV'" [prvType]="'highToMediumPressurePRV'"></app-prv-table>
        <app-prv-table *ngIf="selectedTable == 'lowPressurePRV'" [prvType]="'lowPressurePRV'"></app-prv-table>
      </div>
      <div *ngIf="tabSelect == 'help'">
        <app-diagram-help></app-diagram-help>
      </div>
    </div>
  </div>
</div>