
.boiler{
    width: 55%;
}
.hover-equipment-table{
    width: 45%;
}

.deaerator-margin{
    margin-left: -1.5rem;
    position: relative;
    z-index: 2;
}

.deaerator-condensate-padding{
    padding-left: 5rem;
}

.deaerator-route-columns{
    position: relative;
}

.blowdown-flash-route{
    display: block;
    position: absolute;
    left: 5rem;
    right: 0;
    top: 0;
    z-index: 1;
}

.deaerator-route-columns app-turbine-connector{
    position: relative;
    z-index: 2;
}

.inner-system-padding{
    padding-left: 3rem;
}
 
.ssmt-diagram{
    transform-origin: center top;
    /* min-width: 875px; */
    width: 900px;
}
