<div class="row justify-content-center align-items-center" style="height: 100%;">
<div class="col-8">
  <div class="card">
    <div class="card-block">
      <h4>
        This portion of the application is still in active development.
      </h4>
      <h5>
        Below is a description of what you will find here in the future.
      </h5>
      <blockquote class="blockquote">
        <p>
          This section will contain a collection of all the video tutorials that can be found throught the application.
        </p>
      </blockquote>
    </div>
  </div>
</div>
</div>