<div bsModal #deleteMotorModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="deleteMotorModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="card">
                <div class="card-header p-2">
                    <span class="card-header-text">
                        Delete Motor
                    </span>
                    <button class="close" aria-label="Close" (click)="close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="card-block p-2">
                    Are you sure you want to delete this motor? <span class="danger">This cannot be undone!</span>
                </div>
                <div class="card-footer">
                    <button class="btn btn-default" (click)="close()">Cancel</button>
                    <button class="btn btn-danger pull-right" (click)="deleteMotor()">Delete Motor</button>
                </div>
            </div>
        </div>
    </div>
</div>