<div class="checkbox">
  <label class="group-label" for="exploreSysEffeciency">
    <input type="checkbox" id="exploreSysEffeciency" value="true" (focus)="focusField('efficiency')" (change)="toggleEfficiency()" [(ngModel)]="showEfficiencyData"
    /> Improve Furnace Efficiency
  </label>
</div>
<div *ngIf="showEfficiencyData">
  <ul>
    <li>
      <form>
        <div class="form-group">
          <label for="baseEfficiency">Baseline System Efficiency</label>
          <div class="input-group">
            <input name="baseEfficiency" disabled="true" type="number" step="any" min="0" max="100" class="form-control" [(ngModel)]="phast.systemEfficiency" id="baseEfficiency" onfocus="this.select();"
              (input)="calculate()" (focus)="focusField('efficiency')">
            <span class="input-group-addon units">%</span>
          </div>
        </div>
        <div class="form-group">
          <label for="modEfficiency">Modification System Efficiency</label>
          <div class="input-group">
            <input name="modEfficiency" type="number" step="any" min="0" max="100" class="form-control" [(ngModel)]="phast.modifications[exploreModIndex].phast.systemEfficiency" id="modEfficiency" onfocus="this.select();"
              (input)="calculate()" (focus)="focusField('efficiency')">
            <span class="input-group-addon units">%</span>
          </div>
        </div>
      </form>
    </li>
  </ul>
</div>
