<div class="checkbox">
  <label class="group-label" for="exploreSysEffeciency">
    <input type="checkbox" id="exploreSysEffeciency" value="true" (focus)="focusField('efficiency')" (change)="toggleEfficiency()" [(ngModel)]="showEfficiencyData"
    /> Improve Furnace Efficiency
  </label>
</div>
<div *ngIf="showEfficiencyData">
  <ul>
      <li class="explore-opps-header mb-2">
        <span class="explore-opps-title text-muted">Baseline</span>
        <span class="explore-opps-title text-muted">Modifications</span>
      </li>
    <li class="explore-opps-item mb-2">
      <form class="explore-opps-form">
        <div class="text-center">
          <label for="baseEfficiency" class="baseline-value-label"> System Efficiency</label>
          <div class="text-muted text-center baseline-value-input">{{ phast.systemEfficiency }}
            <span>%</span>
          </div>
        </div>
      </form>
      <form class="explore-opps-form">
        <div class="form-group explore-opps-formgroup">
          <label for="modEfficiency" class="mod-value-label">System Efficiency</label>
          <div class="input-group mod-max-width">
            <input name="modEfficiency" type="number" step="any" min="0" max="100" class="form-control" [(ngModel)]="phast.modifications[exploreModIndex].phast.systemEfficiency" id="modEfficiency" onfocus="this.select();"
              (input)="calculate()" (focus)="focusField('efficiency')">
            <span class="input-group-addon units">%</span>
          </div>
        </div>
      </form>
    </li>
  </ul>
</div>
