.fa.fa-lightbulb-o, .fa.fa-edit{
    font-size: -webkit-xxx-large;
}


.hunt-item:hover{
    cursor: pointer;
    background: #CCD1D1;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 3px #2E4053
}

.hunt-item{
    width: 225px;
    padding-top: .75rem;
    padding-right: .75rem;
    padding-left: .75rem;
}


.modal-dialog{
    top: 0px;
    min-width: 750px;
}


.modal-footer .btn.btn-sm{
    padding: 6px;
}


p{
    font-size: medium;
}

a:not([href]):not([tabindex]):hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

a:not([href]):not([tabindex]){
    color: blue;
}
.calc-content-container{
    padding: 1rem;
    background: #fff;
    padding: 10px;
    border: #ddd solid 1px;
    border-radius: 4px;
    margin-top: 30px;
    box-shadow: 0px 0px 8px 5px grey;
}

.calc-icon-div:hover{
    cursor: pointer;
}

.skyline{
    background-image: url('../../../assets/images/industrial-skyline.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center; 
    background-size: 100%;
}