<div class="skyline" *ngIf="selectedCalc == 'none'">
  <div class="d-flex">
    <div class="col-10 mx-auto">
      <div class="calc-content-container calculator-list">
        <h1 class="p-2 lead text-center mb-0">
          Find ways to save your hard earned treasure!
        </h1>
        <ul class="help-text text-center mb-0">
          <li>
            Use one of the following calculators to determine savings opportunities within your manufacturing facility.
          </li>
          <li>
            Once an opportunity has been found, save the opportunity to your "Treasure Chest".
          </li>
          <li>
            Add more details to each opportunity by clicking the <span class="fa fa-edit small"></span> icon and filling
            out an opportunity sheet. </li>
          <li>
            Click the "Treasure Chest" tab to view a summary of your found treasure. </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="d-flex lighting">
    <div class="col-10 mx-auto">
      <div class="calc-content-container calculator-list">
        <h4 class="mb-1">Lighting Calculators</h4>
        <div class="d-flex calc-item-row w-100">
          <div class="p-2 col-2 d-flex justify-content-center align-items-center">
            <div class="calc-icon-div d-flex justify-content-center align-items-center">
              <!-- <img class="calc-img" src="assets/images/calculator-icons/motor-icons/nema.png" (click)="selectCalc('lighting-replacement')"> -->
              <span class="fa fa-lightbulb-o" (click)="selectCalc('lighting-replacement')"></span>
            </div>
          </div>
          <div class="d-flex flex-fill flex-column justify-content-center">
            <a (click)="selectCalc('lighting-replacement')">Lighting Replacement</a>
            <p>
              The calculator is designed to quantify the energy savings associated with lighting opportunities.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="d-flex motors">
    <div class="col-10 mx-auto">
      <div class="calc-content-container calculator-list">
        <h4 class="mb-1">Motors Calculators</h4>
        <div class="d-flex calc-item-row w-100">
          <div class="p-2 col-2 d-flex justify-content-center align-items-center">
            <div class="calc-icon-div d-flex justify-content-center align-items-center">
              <img class="calc-img" src="assets/images/calculator-icons/motor-icons/replace.png"
                (click)="selectCalc('replace-existing')">
            </div>
          </div>
          <div class="d-flex flex-fill flex-column justify-content-center">
            <a (click)="selectCalc('replace-existing')"> Replace Existing Motor</a>
            <p>
              This calculator calculates the energy savings, cost savings, and payback period for replacing an
              existing
              motor with a higher efficiency motor.
            </p>
          </div>
        </div>
        <div class="d-flex calc-item-row w-100">
          <div class="p-2 col-2 d-flex justify-content-center align-items-center">
            <div class="calc-icon-div d-flex justify-content-center align-items-center">
              <img class="calc-img" src="assets/images/calculator-icons/motor-icons/motor-drive.png"
                (click)="selectCalc('motor-drive')">
            </div>
          </div>
          <div class="d-flex flex-fill flex-column justify-content-center">
            <a (click)="selectCalc('motor-drive')"> Motor Drive</a>
            <p>
              The Motor Drive Calculator compares the annual energy cost of three motor drives: V-belt drive, Notched
              V-Belt drive, and
              Synchronous Belt Drive. Synchronous belts are the most efficient, however cost analysis and application
              should
              be considered.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-10 mx-auto treasure-hunt-calc">
    <div class="calc-content-container calculator-list">
      <h4 class="mb-1">Miscellaneous Calculators</h4>
      <div class="d-flex calc-item-row w-100">
        <div class="p-2 col-2 d-flex justify-content-center align-items-center">
          <div class="calc-icon-div d-flex justify-content-center align-items-center">
            <span class="fa fa-edit"></span>
          </div>
        </div>
        <div class="d-flex flex-fill flex-column justify-content-center">
          <a (click)="selectCalc('opportunity-sheet')">Treasure Hunt Opportunity</a>
          <p>
            Description here..
          </p>
        </div>
      </div>

    </div>
  </div>
</div>


<app-lighting-replacement *ngIf="selectedCalc == 'lighting-replacement'" [inTreasureHunt]="true"
  (emitSave)="saveNewLighting($event)" (emitCancel)="selectCalc('none')"
  (emitAddOpportunitySheet)="showOpportunitySheetModal()" [settings]="settings"
  [operatingHours]="treasureHunt.operatingHours"></app-lighting-replacement>

<app-standalone-opportunity-sheet *ngIf="selectedCalc == 'opportunity-sheet'" (emitCancel)="selectCalc('none')"
  (emitSave)="saveNewOpportunitySheet($event)" [settings]="settings">
</app-standalone-opportunity-sheet>

<app-replace-existing *ngIf="selectedCalc == 'replace-existing'" (emitCancel)="selectCalc('none')"
  (emitSave)="saveNewReplaceExistingMotor($event)" [settings]="settings" [inTreasureHunt]="true"
  [opperatingHours]="opperatingHoursPerYear" (emitAddOpportunitySheet)="showOpportunitySheetModal()">
</app-replace-existing>

<app-motor-drive *ngIf="selectedCalc == 'motor-drive'" (emitCancel)="selectCalc('none')"
  (emitSave)="saveNewMotorDrive($event)" [settings]="settings" [inTreasureHunt]="true"
  [opperatingHours]="opperatingHoursPerYear" (emitAddOpportunitySheet)="showOpportunitySheetModal()"></app-motor-drive>



<div bsModal #saveCalcModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="saveCalcModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header p-1">
        <h5 class="mb-0">Save Opportunity</h5>
        <!-- <button class="close" (click)="closeSaveCalcModal()">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body text-center">
        <p class="help-text" *ngIf="showOpportunitySheetOnSave">There is no opportunity sheet filled out for this
          opportunity. Would you like to add one
          before saving?</p>
        <p class="help-text" *ngIf="!showOpportunitySheetOnSave">Would you like to edit your opportunity sheet
          before
          saving?</p>
        <a class="click-link" (click)="showOpportunitySheetModal()">
          <span class="fa fa-edit"></span>
        </a> <br>
        <a class="click-link small" (click)="showOpportunitySheetModal()" *ngIf="showOpportunitySheetOnSave">+Add
          Opportunity Sheet</a>
        <a class="click-link small" (click)="showOpportunitySheetModal()" *ngIf="!showOpportunitySheetOnSave">Edit
          Opportunity Sheet</a>
      </div>
      <div class="modal-footer p-1">
        <button class="btn btn-danger btn-sm pull-right" (click)="closeSaveCalcModal()">Cancel</button>
        <button class="btn btn-primary btn-sm pull-right" (click)="saveNewCalc()">Save</button>
      </div>
    </div>
  </div>
</div>


<div bsModal #opportunitySheetModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="opportunitySheetModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body pl-0 pr-0" *ngIf="opportunitySheetModal.isShown">
        <app-opportunity-sheet (emitCancel)="hideOpportunitySheetModal()" (emitSave)="saveOpportunitySheet($event)"
          [opportunitySheet]="newOpportunitySheet">
        </app-opportunity-sheet>
      </div>
    </div>
  </div>
</div>