<div class="d-flex flex-fill justify-content-center" *ngIf="selectedCalc == 'none'">
  <div class="d-flex flex-column w-75">
    <!-- <h1>MEASUR</h1> -->
    <p class="p-2 lead text-center mb-0">
      Find ways to save your hard earned treasure!
    </p>
    <p class="align-self-center text-center help-text pr-3 pl-3 mb-0 w-75">
      Choose one of the following calculators to find potential ways to reduce your manufacturing facility's energy
      costs.
    </p>
    <br>
    <hr class="w-100 m-0">
  </div>
</div>
<div class="d-flex pl-2 pr-2" *ngIf="selectedCalc == 'none'">
  <div class="d-flex flex-column align-items-center lighting hunt-item" (click)="selectCalc('opportunity-sheet')">
    <div class="calc-icon-div d-flex justify-content-center align-items-center">
      <span class="fa fa-edit"></span>
    </div>
    <div class="d-flex flex-fill flex-column justify-content-center text-center pt-2">
      <h5>Treasure Hunt Opportunity</h5>
      <p class="help-text">
        Description here..
      </p>
    </div>
  </div>



  <div class="d-flex flex-column align-items-center lighting hunt-item" (click)="selectCalc('lighting-replacement')">
    <div class="calc-icon-div d-flex justify-content-center align-items-center">
      <span class="fa fa-lightbulb-o"></span>
    </div>
    <div class="d-flex flex-fill flex-column justify-content-center text-center pt-2">
      <h5>Lighting Replacement</h5>
      <p class="help-text">
        The calculator is designed to quantify the energy savings associated with lighting opportunities.
      </p>
    </div>
  </div>

  <div class="d-flex flex-column align-items-center motors hunt-item">
    <div class="calc-icon-div d-flex justify-content-center align-items-center">
      <img class="calc-img" src="assets/images/calculator-icons/motor-icons/replace.png">
    </div>
    <div class="d-flex flex-fill flex-column justify-content-center text-center pt-2">
      <h5>Replace Existing Motor</h5>
      <p class="help-text">
        This calculator calculates the energy savings, cost savings, and payback period for replacing an existing motor
        with a higher efficiency motor.
      </p>
    </div>
  </div>

  <div class="d-flex flex-column align-items-center motors hunt-item">
    <div class="calc-icon-div d-flex justify-content-center align-items-center">
      <img class="calc-img" src="assets/images/calculator-icons/motor-icons/replace-rewind.png">
    </div>
    <div class="d-flex flex-fill flex-column justify-content-center text-center pt-2">
      <h5>Replace vs Rewind</h5>
      <p class="help-text">
        This calculator compares the cost and energy expenditure of rewinding a failed motor versus replacing it with a
        new energy-efficient model.
      </p>
    </div>
  </div>
</div>

<app-lighting-replacement *ngIf="selectedCalc == 'lighting-replacement'" [inTreasureHunt]="true"
  (emitSave)="saveNewLighting($event)" (emitCancel)="selectCalc('none')"
  (emitAddOpportunitySheet)="showOpportunitySheetModal()" [settings]="settings"></app-lighting-replacement>

<app-standalone-opportunity-sheet *ngIf="selectedCalc == 'opportunity-sheet'" (emitCancel)="selectCalc('none')"
  (emitSave)="saveNewOpportunitySheet($event)" [settings]="settings">
</app-standalone-opportunity-sheet>


<div bsModal #saveCalcModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="saveCalcModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header p-1">
        <h5 class="mb-0">Save Opportunity</h5>
        <!-- <button class="close" (click)="closeSaveCalcModal()">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body text-center">
        <p class="help-text" *ngIf="showOpportunitySheetOnSave">There is no opportunity sheet filled out for this
          opportunity. Would you like to add one
          before saving?</p>
        <p class="help-text" *ngIf="!showOpportunitySheetOnSave">Would you like to edit your opportunity sheet before
          saving?</p>
        <a class="click-link" (click)="showOpportunitySheetModal()">
          <span class="fa fa-edit"></span>
        </a> <br>
        <a class="click-link small" (click)="showOpportunitySheetModal()" *ngIf="showOpportunitySheetOnSave">+Add
          Opportunity Sheet</a>
        <a class="click-link small" (click)="showOpportunitySheetModal()" *ngIf="!showOpportunitySheetOnSave">Edit
          Opportunity Sheet</a>
      </div>
      <div class="modal-footer p-1">
        <button class="btn btn-danger btn-sm pull-right" (click)="closeSaveCalcModal()">Cancel</button>
        <button class="btn btn-primary btn-sm pull-right" (click)="saveLighting()">Save</button>
      </div>
    </div>
  </div>
</div>


<div bsModal #opportunitySheetModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="opportunitySheetModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body pl-0 pr-0" *ngIf="opportunitySheetModal.isShown">
        <app-opportunity-sheet (emitCancel)="hideOpportunitySheetModal()" (emitSave)="saveOpportunitySheet($event)"
          [opportunitySheet]="newOpportunitySheet">
        </app-opportunity-sheet>
      </div>
    </div>
  </div>
</div>