
app-baseline-tab-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}


.compressed-air .my-content-container .main-content > router-outlet + * {
  height: 100%;
  display: flex;
  flex-direction: column;
}


.compressed-air-container app-assessment-tab-content, 
.compressed-air-container app-explore-opportunities, 
.compressed-air-container app-compressed-air-calculators,
.compressed-air-container app-compressed-air-report{
    height: 100%;
}