/*  Starting link color */
app-psat-sankey > 
div.js-plotly-plot >
div.plot-container.plotly >
div.svg-container > 
svg.main-svg >
g.sankey >
g.sankey-links >
path.sankey-link {
    fill: #1F1EDC !important;
    fill-opacity: .9 !important;
}


/*  Motor loss link color */
app-psat-sankey > 
div.js-plotly-plot >
div.plot-container.plotly >
div.svg-container > 
svg.main-svg >
g.sankey >
g.sankey-links >
path.sankey-link:nth-child(3) {
    fill: url(#psatLinkGradient) !important;
    fill-opacity: .9 !important;
}

/* Drive loss link color */
app-psat-sankey > 
div.js-plotly-plot >
div.plot-container.plotly >
div.svg-container > 
svg.main-svg >
g.sankey >
g.sankey-links >
path.sankey-link:nth-child(4) {
    fill: url(#psatLinkGradient) !important;
    fill-opacity: .9 !important;
}

/*  Ending Links color */
app-psat-sankey > 
div.js-plotly-plot >
div.plot-container.plotly >
div.svg-container > 
svg.main-svg >
g.sankey >
g.sankey-links >
path.sankey-link:nth-last-child(-n+2) {
    fill: url(#psatLinkGradient) !important;
    fill-opacity: .9 !important;
}



/*  Starting Node color */
/* app-psat-sankey > 
div.js-plotly-plot >
div.plot-container.plotly >
div.svg-container > 
svg.main-svg >
g.sankey >
g.sankey-node-set >
g.sankey-node >
rect.node-rect {
    fill: #1F1EDC !important;
} */


/*  Ending Node color */
/* app-psat-sankey > 
div.js-plotly-plot >
div.plot-container.plotly >
div.svg-container > 
svg.main-svg >
g.sankey >
g.sankey-node-set >
g.sankey-node >
rect.node-rect {
    fill: #1F1EDC !important;
} */
