.ssmt-diagram .blowdown{
    background-color: #5D4037;
    color: white;
}

.ssmt-diagram .feedwater{
    background-color: #8E44AD;
    color: white;
}

.ssmt-diagram .condensate{
    background-color: #283593;
    color: white;
}

.ssmt-diagram .makeup-water{
    background-color: #43A047;
    color: white;
}

.ssmt-diagram .turbineDiagram:hover .makeup-water{
    box-shadow: 0px 0px 10px 0px #43A047;
}

.ssmt-diagram .turbineDiagram:hover .low-pressure{
    box-shadow: 0px 0px 10px 0px #FFEB3B;
}

.ssmt-diagram .turbineDiagram:hover .medium-pressure{
    box-shadow: 0px 0px 10px 0px #FFA726;
}

.ssmt-diagram .turbineDiagram:hover .high-pressure{
    box-shadow: 0px 0px 10px 0px #C0392B;
}

.ssmt-diagram .high-pressure{
    background-color: #C0392B;
    color: white;
}

.ssmt-diagram .medium-pressure{
    background-color: #FFA726;
}

.ssmt-diagram .low-pressure{
    background-color: #FFEB3B;
}

.ssmt-diagram .vents{
    background-color: #ABB2B9;
}


.ssmt-diagram .fa-chevron-down, .ssmt-diagram .fa-chevron-up{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 3px;
    padding-left: 3px;
}


.ssmt-diagram .fa-chevron-right, .ssmt-diagram .fa-chevron-left{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}