
/*
Tabs
========================================== */
.tabs {
    margin: 0;
    padding: 0;
  }
  .tabs li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Primary Tabs */
   .tabs.primary {
    background: #e5e5e5;
  }
  .tabs.primary li {
    display: inline-block;
  }
    .tabs.primary.psat li:nth-child(-n+2) a {
      border-top: #00315d solid 4px;
    }
    .tabs.primary.phast li:nth-child(-n+2) a {
      border-top: #611f00 solid 4px;
    }
  .tabs.primary a {
    padding: 6px;
    font-size: 14px;
    border-left: #c8c8c8 solid 1px;
    display: block;
    color: #0F0F0F;
  }
  
  .standalone-calculator .tabs.primary a {
    background: #c8c8c8;
  }


  .tabs.primary li:hover {
    text-decoration: none;
    background: #efefef;
    cursor: pointer;
  }
  .tabs.primary .active a {
    background: #fff;
    font-weight: bold;
    transition: all .1s ease-in-out;
  }
  
  .psat .tabs.primary .active a {
    border: none;
    border-bottom: #2980b9 solid 3px;
  }

  .general .tabs.primary .active a {
    border: none;
    border-bottom: #145A32 groove 3px;
  }


  .phast .tabs.primary .active a {
    border: none;
    border-bottom: #BF3D00 solid 3px;
  }


  .fsat .tabs.primary .active a {
    border: none;
    border-bottom: #FFE400 solid 3px;
  }

  .steam .tabs.primary .active a {
    border: none;
    border-bottom: #2C3E50 groove 3px;
  }

  .compressed-air .tabs.primary .active a {
    border: none;
    border-bottom:   #A569BD groove 3px;
  }

  .ssmt .tabs.primary .active a {
    border: none;
    border-bottom: #F39C12 solid 3px;
  }
  .lighting .tabs.primary .active a {
    border: none;
    border-bottom:   #FFFF00 solid 3px;
  }


  .fixed-tab-size{
    min-width: 200px;
  }
   
  /* Sub Tabs */
  .tabs.subtabs {
    background: #ececec;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    /* z-index: 3; */
    position: relative;
  }
  .tabs.subtabs li {
    display: inline-block;
  }
  .tabs.subtabs a {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
    display: block;
    color: #0F0F0F;
  }
  .tabs.subtabs a:hover {
    text-decoration: underline;
    background: #E5E7E9;
    cursor: pointer;
  }
  .tabs.subtabs .active a {
    font-weight: bold;
    background: white;
    transition: all .1s ease-in-out;
  }
  .tabs.subtabs.phast {
    border-bottom: #BF3D00 solid 3px;
  }

  .tabs.subtabs.psat {
    border-bottom: #2980b9 solid 3px;
  }

  .tabs.subtabs.fsat {
   border-bottom: #FFE400 solid 3px; 
  }

  .tabs.subtabs.ssmt {
    border-bottom: #F39C12 solid 3px;
  }
  
    .tabs.subtabs.progress-tabs a {
      color: #000;
      padding-top: 8px;
      font-size: 16px;
      padding-bottom: 8px;
    }
      .tabs.subtabs.progress-tabs li:hover {
        background: #fff;
      }
    .tabs.subtabs.progress-tabs li.active a {
      color: #000;
    transition: all .1s ease-in-out;
    }
    .tabs.subtabs.progress-tabs li.disabled a {
      color: #999;
    }
    .step-number {
      background: #333;
      color: #fff;
      font-weight: bold;
      font-size: 14px;
      padding: 5px 10px;
      border-radius: 23%;
      margin-right: 5px;
    }

    .tabs.subtabs.fsat .active.missing-data .step-number,
    .tabs.subtabs.fsat .missing-data .step-number,
    .tabs.subtabs.phast .active.missing-data .step-number,
    .tabs.subtabs.phast .missing-data .step-number,
    .tabs.subtabs.psat .active.missing-data .step-number,
    .tabs.subtabs.psat .missing-data .step-number,
    .tabs.subtabs.ssmt .missing-data .step-number,
    .tabs.subtabs.ssmt .active.missing-data .step-number {
      background: red;
    }

    .tabs.subtabs.fsat .active.input-error  .step-number,
    .tabs.subtabs.fsat .input-error  .step-number,
    .tabs.subtabs.phast .active.input-error .step-number,
    .tabs.subtabs.phast .input-error .step-number,
    .tabs.subtabs.psat .active.input-error .step-number,
    .tabs.subtabs.psat .input-error .step-number,
    .tabs.subtabs.ssmt .active.input-error .step-number,
    .tabs.subtabs.ssmt .input-error .step-number {
      background: orange;
    }

    .tabs.subtabs.fsat .active.success .step-number,
    .tabs.subtabs.fsat .success .step-number,
    .tabs.subtabs.phast .active.success .step-number,
    .tabs.subtabs.phast .success .step-number,
    .tabs.subtabs.psat .active.success .step-number,
    .tabs.subtabs.psat .success .step-number,
    .tabs.subtabs.ssmt .active.success .step-number,
    .tabs.subtabs.ssmt .success .step-number  {
      background: green;
    }

      .tabs.subtabs.phast .active .step-number {
        background: #BF3D00;
      }
      .tabs.subtabs.psat .active .step-number {
        background: #2980b9;
      }

      .tabs.subtabs.ssmt .active .step-number {
        background: #F39C12;
      }

      .tabs.subtabs.fsat .active .step-number{
        background: #FFE400;
        color: black;
    transition: all .1s ease-in-out;
      }

      .disabled .step-number {
        background: #efefef;
        color: #999;
        font-weight: normal;
      }
  
  .tabs.subtabs .report-link {
    color: #0081d6;
    text-decoration: none;
    font-weight: bold;
    padding-left: 23px;
    margin-left: 10px;
    border-left: #ddd dashed 1px;
  }
    .tabs.subtabs .active .report-link {
      color: #0F0F0F;
    }
  
/*in calculator*/
    .in-psat-height{
        height: 100%;
    }
    
    .calculator-margin{
        margin-top: 10%;
    }