
.panel-column{
	box-shadow: 0px 0px 69px -1px rgba(0,0,0,0.2);
	background: #fff;
	/* z-index: 2; */
}
.panel-receiver {
  box-shadow: 0px 0px 69px -1px rgba(0,0,0,0.2);
  background: #fff;
}

.calculator-panel{
    min-height: 100%;
}

.panel-container{
    min-height: 100%;
}

.form-card{
	border: none;
}

.panel-container form .form-section {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: #bbb dashed 1px;
}

.panel-container form {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}


.tab-row{
    width: 100%;
    text-align: center;
}

.tab-2{
    width: 50%;
}

.tab-3{
    width: 33%;
}

.panel-tab-item{
	text-align: center;
	font-size: 15px;
    text-transform: uppercase;
	letter-spacing: 4px;
}

.panel-tab-item:hover{
    cursor: pointer;
}

/* .psat .panel-tab-item.active{
    border: none;
    border-bottom: #2980b9 groove 2px;
} */

/* .phast .panel-tab-item.active{
    border: none;
    border-bottom: #BF3D00 groove 2px;
}

.general .panel-tab-item.active{
    border: none;
    border-bottom: #145A32 solid 2px;
}

.fsat .panel-tab-item.active{
    border: none;
    border-bottom: #FFE400 solid 3px;
    transition: all .1s ease-in-out;
} */

/* .steam .panel-tab-item.active{
    border: none;
    border-bottom: #2C3E50 solid 2px;
} */

.psat .header{
    border-bottom: #2980b9 groove 2px;
}

.phast .header{
    border-bottom: #BF3D00 groove 2px;
}

.fsat .header{
    border-bottom: #FFE400 groove 2px;
}
.general .header{
    border-bottom: #145A32 solid 2px;
}

.lighting .header{
    border-bottom: #FFFF00 solid 2px;
}


.psat .disabled .header{
    border-bottom-color: gray;
}

.compressed-air .header{
    border-bottom: #A569BD groove 2px;
}

.steam .header{
   border-bottom: #2C3E50 solid 2px;
}

.ssmt .header{
    border-bottom: #F39C12 solid 2px;
 }
  

.general .btn-secondary:not([disabled]):not(.disabled).active{
    background-color: #145A32;
    transition: all .5s ease-in-out;
}

.phast .btn-secondary:not([disabled]):not(.disabled).active{
    background-color: #BF3D00;
    transition: all .5s ease-in-out;
}

.psat .btn-secondary:not([disabled]):not(.disabled).active{
    background-color: #2980b9;
    transition: all .5s ease-in-out;
}

.fsat .btn-secondary:not([disabled]):not(.disabled).active{
    background-color: #FFE400;
    transition: all .5s ease-in-out;
    color: black;
}

.ssmt .btn-secondary:not([disabled]):not(.disabled).active{
    background-color: #F39C12;
    transition: all .5s ease-in-out;
    color: black;
}

.panel-add a{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: #0077e3;
}

.panel-add a span:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #0077e3;
}

.panel-add a.disabled{
    color: gray;
}


.panel-add a.disabled span:hover{
    text-decoration: none;
    cursor: not-allowed;
}

.phast .panel-add a {
    border-left: groove 1px #BF3D00;
}
.psat .panel-add a {
    border-left: groove 1px #2980b9;
}

.data-row{
	margin-top: 5%;
}

.panel-results{
	margin-top: 5%;
}

/* .help-panel{
	padding-right: 15px;
} */

.header h3{
	margin: 10px 0 0px 10px;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 4px;
}

.panel-add{
    margin-bottom: 0px;
    margin-top: 5px;
}

.panel-container .group-label{
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 3px;
    width: 100%;
}

.panel-container .group-label.group-label-2{
    letter-spacing: 0;
    padding-bottom: 0px;
}

.psat .group-label{
    border-bottom: #2980b9 groove 2px;
}

.phast .group-label{
    border-bottom: #BF3D00 groove 2px;
}

.ssmt .group-label{
    border-bottom: #F39C12 groove 2px;
}


.fsat .group-label{
    border-bottom: #FFE400 groove 2px;
}
.phast .explore-ops-form .group-label{
    border-bottom: #BF3D00 groove 1px;
    font-size: 16px;
    text-transform: none;
    letter-spacing: 1px;
}

.compressed-air .group-label{
    border-bottom: #A569BD groove 2px;
}

.general .group-label{
    border-bottom: #145A32 solid 2px;
}

.steam .group-label{
    border-bottom: #2C3E50 solid 2px;
}

.lighting .group-label{
    border-bottom: #FFFF00 solid 2px;
}

.loss-label{
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
}

.loss-label .fa{
    font-size: 24px;
}

.loss-label .fa:hover{
    font-weight: bold;
    cursor: pointer;
}

.add-loss{
    margin-bottom: 0px;
    margin-top: 5px;
}

.add-loss a {
    padding-left: 15px;
    border-left: groove 1px #BF3D00;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

.disabled .add-loss a{
    color: gray;
    border-left:#ddd solid 1px;
}

.disabled .add-loss a:hover{
    cursor: not-allowed;
    text-decoration: none;
}

.setup-form-group{
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.loss-form-section{
    padding-top: 10px;
}


/* Floating modal styles */

.custom-card-body {
    /* padding: 15px !important; */
    padding: 0px 15px 0px 15px;
}

.card-container{
	/* padding-bottom: 70px;
	max-height: none !important;
	min-height: 100vh;
    height: auto !important; */
    height: 100%;
}

.card-column{
	box-shadow: 0px 0px 69px -1px rgba(0,0,0,0.2);
	background: #fff;
	z-index: 2;
}

.card-help-column {
    background: #efefef;
}

/* .card-header {
    text-align: center;
    background-color: rgba(0,0,0,0) !important;
}

.card-header h3 {
    margin: 0 !important;
    font-size: 16px !important;
} */


.card-container form .form-section {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: #bbb dashed 1px;
}

.card-container form {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}


.modal-btn-container {
    position: absolute;
    /* display: flex; */
    text-align: center;
    left: 0;
    padding: inherit;
    padding-top: 15px;
    width: inherit;
}

.modal-btn {
    display: inline-block;
    padding: 0 10px;
    margin: 0 15px;
}

.modal-lg {
    max-width: 90%;
}


.scroll-item{
    overflow-y: auto;
}

.scroll-item::-webkit-scrollbar {
    width: .5em;
  }
  .scroll-item::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  .scroll-item::-webkit-scrollbar-thumb{
	background-color: #156739;
  outline: 1px solid slategrey;
  }

 .psat .scroll-item::-webkit-scrollbar-thumb{
    background-color: #2980b9;
    outline: 1px solid slategrey;
    }

  .phast .scroll-item::-webkit-scrollbar-thumb{
    background-color: #BF3D00;
    outline: 1px solid slategrey;
    }


    .fsat .scroll-item::-webkit-scrollbar-thumb{
        background-color: #FFE400;
        outline: 1px solid slategrey;
    }

    .ssmt .scroll-item::-webkit-scrollbar-thumb{
        background-color: #F39C12;
        outline: 1px solid slategrey;
    }