a:not([href]):not([tabindex]).click-link{
    color: blue;
}

a:not([href]):not([tabindex]).click-link:hover{
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

a:not([href]):not([tabindex]).disabled-link{
    color: gray;
}

a:not([href]):not([tabindex]).disabled-link:hover{
    font-weight: normal;
    cursor: default;
    text-decoration: none;
}


.stand-alone-calc{
    height: 100vh;
}


/**Input Data Report **/
.summary-card .card-header h5{
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: bold;
}

.summary-card .card-header{
    background-color: #ffffff;
}

/* .summary-card .card-header:hover{
    background-color: #D5D8DC;
    cursor: pointer;
} */



.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.12);
}