
.help-panel{
	padding: 0px;
}

.aux-title{
	margin: 10px 0 10px 10px;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 4px
}

.add-loss{
    margin-bottom: 0px;
    margin-top: 5px;
}