

.header .click-link{
    margin-top: 10px;
}

.table{
    font-size: small;
}

.select-header{
    font-size: 16px;
}


ul.nav.nav-tabs {
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
}

.de-active {
  background-color: #117A65;
}

.nav-link {   
    font-size: 14px;
    background-color: #efefef;
    border-color: #adb1b5 #adb1b5 #fff;
    border-width: 1px;
}

.nav-link.active {   
    background-color: #fff;
    border-color: #adb1b5 #adb1b5 #fff;
}

.nav-tabs{
    background-color: #efefef;
    border-left: #efefef;
    border-right: #efefef;
    border-top: #efefef;
}

.font-reset {
    font: unset
}

.show-pointer {
 cursor: pointer;
}


input[type='checkbox'] {
    transform: scale(1.25);
    margin: .5em 1em;
}

input[type='checkbox']:hover {
 cursor: pointer;
}

.preview-data {
    height: 40vh;
}


.detail-tooltip {
    background-color: white;
    border-color: #117A65;
    color: black;
    top: 355px;
    right: 50px;
    z-index: 999;
    width: 300px;
}

.tooltip-arrow-up {
    left: unset;
    right: 25px;
}

.fa{
    font-size: large;
    padding-top: 3px;
}

