<div class="p-1">
  <label class="group-label">{{makeupWaterLabel}}</label>
  <table class="table table-hover table-striped">
    <tbody>
      <tr>
        <td class="bold pr-2 pl-2">Temperature</td>
        <td class="text-center pr-2 pl-2">{{makeupWater.temperature | number:'1.0-2'}} </td>
        <td class="bold pr-2 pl-2">Mass Flow</td>
        <td class="text-center pr-2 pl-2">{{makeupWater.massFlow | number:'1.0-2'}} </td>
      </tr>
      <tr>
        <td class="bold pr-2 pl-2">Pressure</td>
        <td class="text-center pr-2 pl-2"> {{makeupWater.pressure | number:'1.0-2'}}</td>
        <td class="bold pr-2 pl-2">Energy Flow</td>
        <td class="text-center pr-2 pl-2">{{makeupWater.energyFlow | number:'1.0-2'}} </td>
      </tr>
      <tr>
        <td class="bold pr-2 pl-2">Volume Flow</td>
        <td class="text-center pr-2 pl-2">{{makeupWater.volumeFlow | number:'1.0-2'}} </td>
      </tr>
    </tbody>
  </table>
</div>