<table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>
          Steam System Name
        </th>
        <th>
          Modification Name
        </th>
        <th>
          Baseline Energy Use
          <br>(<span [innerHTML]="settings.steamEnergyMeasurement | settingsLabel"></span>/yr)
        </th>
        <th>
          Modification Energy Use
          <br>(<span [innerHTML]="settings.steamEnergyMeasurement | settingsLabel"></span>/yr)
        </th>
        <th>
          Baseline Annual Cost
          <br>($/yr)
        </th>
        <th>
          Modification Annual Cost
          <br>($/yr)
        </th>
        <th>
          Cost Savings
          <br>($/yr)
        </th>
        <th>
          Implementation Costs
          <br>($)
        </th>
        <th>
          Simple Payback Period
          <br>(Months)
        </th>
      </tr>
    </thead>
    <tbody *ngIf="resultData">
      <tr *ngFor="let data of resultData">
        <!-- name -->
        <td>{{data.name}}</td>
        <td *ngIf="data.modName">{{data.modName}}</td>
        <td *ngIf="!data.modName">&mdash;</td>
        <!-- energy use -->
        <td>{{data.baselineResults.operationsOutput.boilerFuelUsage | sigFigs:'5'}}</td>
        <td *ngIf="data.modName">{{data.modificationResults.operationsOutput.boilerFuelUsage | sigFigs:'5'}}</td>
        <td *ngIf="!data.modName">&mdash;</td>
        <!-- annual cost -->
        <td>{{data.baselineResults.operationsOutput.totalOperatingCost | currency:'USD':'symbol':'1.0-0'}}</td>
        <td *ngIf="data.modName">{{data.modificationResults.operationsOutput.totalOperatingCost | currency:'USD':'symbol':'1.0-0'}}</td>
        <td *ngIf="!data.modName">&mdash;</td>
        <!-- savings -->
        <td *ngIf="data.modName">{{data.baselineResults.operationsOutput.totalOperatingCost - data.modificationResults.operationsOutput.totalOperatingCost | currency:'USD':'symbol':'1.0-0'}}</td>
        <td *ngIf="!data.modName">&mdash;</td>
        <!-- implementation costs -->
        <td *ngIf="data.modName">
          <span *ngIf="data.modification.operatingCosts.implementationCosts">
            {{data.modification.operatingCosts.implementationCosts | currency:'USD':'symbol':'1.0-0'}}
          </span>
          <span *ngIf="!data.modification.operatingCosts.implementationCosts">&mdash;</span>
        </td>
        <td *ngIf="!data.modName">&mdash;</td>
        <!-- simple patback -->
        <td *ngIf="data.modName">
          <span *ngIf="getPayback(data.modificationResults.totalOperatingCost, data.baselineResults.totalOperatingCost, data.modification.operatingCosts.implementationCosts)">
            {{getPayback(data.modificationResults.operationsOutput.totalOperatingCost, data.baselineResults.operationsOutput.totalOperatingCost, data.modification.operatingCosts.implementationCosts)
            | sigFigs:'3'}}
          </span>
          <span *ngIf="!getPayback(data.modificationResults.operationsOutput.totalOperatingCost, data.baselineResults.operationsOutput.totalOperatingCost, data.modification.operatingCosts.implementationCosts)">
            &mdash;
          </span>
        </td>
        <td *ngIf="!data.modName">&mdash;</td>
      </tr>
    </tbody>
  </table>