<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                {{equipmentType}} Name
            </th>
            <th>
                Energy Used
                <br>({{energyUnit}})
            </th>
            <th>
                Cost
                <br>({{currencyUnit}}/yr)
            </th>
            <th>
                % of Total Cost
            </th>
            <th>
                % of Total Energy Used
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of pieChartData; let i=index;">
            <td class="name" [ngStyle]="{'border-left-color': dataItem.color}">
                {{dataItem.equipmentName}}
            </td>
            <td>
                {{dataItem.energyUsed | sigFigs:'5'}}
            </td>
            <td>
                {{dataItem.annualCost | currency}}
            </td>
            <td>
                {{dataItem.percentCost | sigFigs:'3'}}
            </td>
            <td>
                {{dataItem.percentEnergy | sigFigs:'3'}}
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr class="bold">
            <td>
                Totals
            </td>
            <td>
                {{totalEnergyUse | sigFigs:'5'}}
            </td>
            <td>
                {{totalCost | currency}}
            </td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>