<div class="p-2">
    <table class="table table-sm table-striped table-hover" *ngIf="selectedMotorDepartment">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Op. Hours
                </th>
                <th>
                    Eff. Class
                </th>
                <th>
                    Est. Efficiency
                </th>
                <th>
                    Rated Power
                </th>
                <th>
                    Line Frequency
                </th>
                <th>
                    Sync. Speed
                </th>
                <th>
                    Full Load Amps
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let motor of selectedMotorDepartment.catalog">
                <td>
                    <a class="click-link" (click)="selectMotor(motor)">{{motor.name}}</a>
                </td>
                <td>
                    <span *ngIf="motor.operationData.annualOperatingHours">
                        {{motor.operationData.annualOperatingHours}} hrs/yr
                    </span>
                    <span *ngIf="!motor.operationData.annualOperatingHours">
                        &mdash; hrs/yr
                    </span>
                </td>
                <td>
                    {{motor.nameplateData.efficiencyClass | motorEfficiencyClass}}
                </td>
                <td>
                    <span *ngIf="motor.nameplateData.nominalEfficiency">
                        {{motor.nameplateData.nominalEfficiency}} %
                    </span>
                    <span *ngIf="!motor.nameplateData.nominalEfficiency">
                        &mdash; %
                    </span>
                </td>
                <td>
                    <span *ngIf="motor.nameplateData.ratedMotorPower">
                        {{motor.nameplateData.ratedMotorPower}}
                        <span *ngIf="settings.unitsOfMeasure == 'Metric'">kW</span>
                        <span *ngIf="settings.unitsOfMeasure != 'Metric'">hp</span>
                    </span>
                    <span *ngIf="!motor.nameplateData.ratedMotorPower">
                        &mdash;
                        <span *ngIf="settings.unitsOfMeasure == 'Metric'">kW</span>
                        <span *ngIf="settings.unitsOfMeasure != 'Metric'">hp</span>
                    </span>
                </td>
                <td>
                    <span *ngIf="motor.nameplateData.lineFrequency">
                        {{motor.nameplateData.lineFrequency}} Hz
                    </span>
                    <span *ngIf="!motor.nameplateData.lineFrequency">
                        &mdash;
                    </span>
                </td>
                <td>
                    <span *ngIf="motor.manualSpecificationData.synchronousSpeed">
                        {{motor.manualSpecificationData.synchronousSpeed}} rpm
                    </span>
                    <span *ngIf="!motor.manualSpecificationData.synchronousSpeed">
                        &mdash; rpm
                    </span>
                </td>
                <td>
                    <span *ngIf="motor.nameplateData.fullLoadAmps">
                        {{motor.nameplateData.fullLoadAmps}} A
                    </span>
                    <span *ngIf="!motor.nameplateData.fullLoadAmps">
                        &mdash; A
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="p-2 w-100 text-center">
    <a class="click-link" (click)="addNewMotor()">+Add New Motor</a>
</div>