.directory-item{
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid;
  border-width: 1px ;
  border-color: slategray;
}


a:not([href]):not([tabindex]):hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

a:not([href]):not([tabindex]){
  color: black;
}


.fa-edit:hover{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.fa-edit{
  padding-top: 4px;
  font-size: larger;
}