<form [formGroup]="facilityForm">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label class="group-label" for="name">Facility Name</label>
        <input type="text" id="name" name="name" class="form-control" formControlName="name" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label class="group-label">Facility Location</label>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="small" for="street">Street</label>
        <input type="text" id="street" name="street" class="form-control" formControlName="street" />
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="small" for="city">City</label>
        <input type="text" id="city" name="city" class="form-control" formControlName="city" />
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="small" for="state">State</label>
        <input type="text" id="state" name="state" class="form-control" formControlName="state" />
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="small" for="country">Country</label>
        <input type="text" id="country" name="country" class="form-control" formControlName="country" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label class="group-label">Primary Contact</label>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="small" for="contactName">Contact Name</label>
        <input type="text" id="contactName" name="contactName" class="form-control" formControlName="contactName" />
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="small" for="phoneNumber">Contact Phone Number</label>
        <input type="number" id="phoneNumber" name="phoneNumber" class="form-control" formControlName="phoneNumber" />
      </div>
    </div>
  </div>
</form>
<div class="row">
  <div class="col">
    <button class="btn pull-right" (click)="save()">Save</button>
  </div>
</div>