.beta-badge-measur {
    color: #047334;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    background: #fff;
    border: 1.5px solid #047334;
    border-radius: 100px;
    padding: 3px 8px;
    display: flex;
    align-self: center;
    align-items: center;
    white-space: nowrap;
}
