
.calculator-table th {
    font-weight: bold;
    padding: .25 .5;
    border-bottom: #2C3E50 solid 3px;
}

.delete-row {
    color: red;
}

.delete-row:hover {
    text-decoration: underline;
    cursor: pointer;
}

th, td {
    border-right: solid 1px darkgray;
    border-left: solid 1px darkgray;
    border-top: solid 1px darkgray;
    font-size: small;
    padding: 3px;
}


tbody{
    box-shadow: 0 4px 8px 0 grey
}

.group-label{
    font-weight: bold;
}