

.calculator-table {
    margin-top: 20px;
    font-size: 13px;
    text-align: center;
}

.calculator-table th {
    font-weight: bold;
    padding: 0 1rem;
    border-bottom: #2C3E50 solid 3px;
}

.delete-row {
    color: red;
}

.delete-row:hover {
    text-decoration: underline;
    cursor: pointer;
}