<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <!--operation data-->
            <th *ngIf="displayOptions.operationDataOptions.ratedSpeed">Rated Speed</th>
            <th *ngIf="displayOptions.operationDataOptions.purpose">Purpose</th>
            <th *ngIf="displayOptions.operationDataOptions.annualOperatingHours">Operating Hours</th>
            <th *ngIf="displayOptions.operationDataOptions.averageLoadFactor">Average Load Factor</th>
            <th *ngIf="displayOptions.operationDataOptions.utilizationFactor">Utilization Factor</th>
            <th *ngIf="displayOptions.operationDataOptions.percentLoad">Percent Load</th>
            <th *ngIf="displayOptions.operationDataOptions.powerFactorAtLoad">Power Factor at Load</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let motor of department.catalog">
            <td>
                {{motor.name}}
            </td>
            <!--operation data-->
            <td *ngIf="displayOptions.operationDataOptions.ratedSpeed">{{motor.operationData.ratedSpeed}}</td>
            <td *ngIf="displayOptions.operationDataOptions.purpose">{{motor.operationData.purpose}}</td>
            <td *ngIf="displayOptions.operationDataOptions.annualOperatingHours">
                {{motor.operationData.annualOperatingHours}}</td>
            <td *ngIf="displayOptions.operationDataOptions.averageLoadFactor">{{motor.operationData.averageLoadFactor}}
            </td>
            <td *ngIf="displayOptions.operationDataOptions.utilizationFactor">{{motor.operationData.utilizationFactor}}
            </td>
            <td *ngIf="displayOptions.operationDataOptions.percentLoad">{{motor.operationData.percentLoad}}</td>
            <td *ngIf="displayOptions.operationDataOptions.powerFactorAtLoad">{{motor.operationData.powerFactorAtLoad}}
            </td>
        </tr>
    </tbody>
</table>