
.header .fa.fa-lightbulb-o {
    font-size: -webkit-xxx-large;
    padding-left: 12px;
}
   
.fa.fa-times-circle-o:hover {
    cursor: pointer;
}

.no-data {
    background: none;
}

.btn-group {
    display: block;
    text-align: center;
}

.btn-group .btn-sm {
    font-size: small !important;
}

.btn-margin-10 {
    margin: 10px 0px;
}

.btn-form {
    border-radius: 4px !important;
}
.panel-column.disabled {
    background-color: #ececec;
    transition: all 0.2s ease-in-out;
}

.panel-column.disabled:hover {
    cursor: pointer;
    background-color: #fff;
}

.fa-save, .fa-times, .fa-edit {
    font-size: xx-large;
}

.action-item:hover {
    cursor: pointer;
    background: #efefef;
}

.help-holder {
    max-width: 500px;
}

.treasure-hunt-help {
    margin-right: .5rem;
    margin-bottom: 0px;
}

.add-loss{
    margin-top: 10px;
}

.ngas-icon{
    height: 55px;
}

.opp-sheet-icon{
    width: 35px;
}

.modal-open {
    z-index: initial !important;
}

span.alert-warning {
    padding: 0;
}

.small {
    font-size: 80%;
    /* font-weight: 400; */
}

.atmosphere-icon {
    width: 53px;
}

.w-66 {
    width: 66.666%;
}

.w-33 {
    width: 33.333%;
}

.calculator-scroll{
    max-height: 100%;
    overflow-y: auto;
}

.calculator-content::-webkit-scrollbar{
    display: none;
}

.landing-screen::-webkit-scrollbar,
.calcForm-bg::-webkit-scrollbar {
    width: .5em;
}

.landing-screen::-webkit-scrollbar-track ,
.calcForm-bg::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.landing-screen::-webkit-scrollbar-thumb,
.calcForm-bg::-webkit-scrollbar-thumb {
    background-color: #156739;
    outline: 1px solid slategrey;
}

.calcForm-bg {
    min-height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 69px -1px rgba(0,0,0,0.2);
    background: #fff;
    width: 23%;
    max-height: 100%;
    overflow-y: scroll;
}

@media screen and (max-width: 575px) {
    .fa-save, .fa-times, .fa-edit {
        font-size: large;
    }
    .header h3 {
        font-size: 14px !important;
    }
}