<form #lossForm [formGroup]="lossesForm">

  <div class="form-group">
    <label class="small" for="liquidFlow">Liquid Flow (gal/min)</label>
    <input type="number" class="form-control" formControlName="liquidFlow" id="liquidFlow" (input)="checkForm()" (focus)="focusField('liquidFlow')">
  </div>

  <div class="form-group">
    <label class="small" for="inletTemp">Inlet Temperature (&#8457;)</label>
    <input type="number" class="form-control" formControlName="inletTemp" id="inletTemp" (input)="checkForm()" (focus)="focusField('inletTemp')">
  </div>

  <div class="form-group">
    <label class="small" for="outletTemp">Outlet Temperature (&#8457;)</label>
    <input type="number" class="form-control" formControlName="outletTemp" id="outletTemp" (input)="checkForm()" (focus)="focusField('outletTemp')">
  </div>

  <div class="form-group">
    <label class="small" for="correctionFactor">Correction Factor</label>
    <input type="number" class="form-control" formControlName="correctionFactor" id="correctionFactor" (input)="checkForm()"
      (focus)="focusField('correctionFactor')">
  </div>
</form>