<div class="row main-menu">
  <div class="col-md-12">
    test
  </div>
  <div class="col-md-2">
    <app-assessment-create [(directory)]="directory"></app-assessment-create>
    <app-create-folder [(directory)]="directory"></app-create-folder>
  </div>
  <div class="col-md-5">
    <div class="input-group search pull-right">
         <span class="input-group-addon">
           <i class="fa fa-search"></i></span>
              <input class="form-control">
    </div>
  </div>
  <div class="col-md-2">
    <select class="form-control">
      <option>Sort By:</option>
    </select>
  </div>
  <div class="col-md-2">
    <div class="pull-right">
      <button class="btn" (click)="setView('list')"><i class="fa fa-list"></i></button>
      <button class="btn" (click)="setView('grid')"><i class="fa fa-th"></i></button>
    </div>
  </div>
</div>

<div class="row nav-menu">
  <div class="col-md-2">
    <input type="checkbox">  Select All
  </div>
  <div class="col-md-2">
    <a>Generate Report</a>
  </div>
  <div class="col-md-2">
    <a>Delete...</a>
  </div>
  <div class="col-md-5">
    <a class="pull-right">Import...</a>
  </div>
  <div class="col-md-1">
    <a>Export...</a>
  </div>
</div>

