
.no-margin{
    margin: 0;
}

.btn{
    padding: 6px;
}


a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
}

a:not([href]):not([tabindex]) {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}


.actions{
    padding: .25rem;
    border-radius: .25rem;
    background: white;
}


.select-all{
    font-size: 16px;
}



.btn-default.active{
    background-color: gray;
}