.breadcrumb-item{
    padding-left: 6px;
}

.breadcrumb-item{
    font-size: large;
}

.breadcrumb-item{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}


.btn-default.active{
    background-color: gray;
}

.btn-default{
    padding: 6px;
}