.breadcrumb-item{
    padding-left: 6px;
}

.breadcrumb-item{
    font-size: large;
}

.breadcrumb-item{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}


.btn-default.active{
    background-color: gray;
}

.btn-default{
    padding: 6px;
}
.btn-secondary{
    padding: 8px 10px 6px;
    font-size: 15px;
    /* width: 100%; */
}

/* .col{
    text-align: center;
} */
.no-margin{
    margin: 0;
}