.tooltip-box {
    top: 52px;
    position: absolute !important;
    background-color: rgba(85,85,85,0);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: all ease 0.3s;
    font-size: 16px;
    z-index: 5;
}

.revealed-tooltip-box {
    display: initial;
    top: 42px;
    opacity: 1;
    background-color: rgba(85,85,85,0.9);
    transition: all ease 0.3s;
}

.badge-td {
    padding-top: 13px !important;
    padding-right: 5px !important;
}

.tooltip-td {
    vertical-align: middle;
}

li.page-item {
    background-color: #ECECEC !important;
}