<div class="row" *ngIf="settings">
  <div class="col-3 calc-form">
    <div class="card">
      <div class="card-block">
        <app-nema-energy-efficiency-form [(nemaForm)]="nemaForm" [settings]="settings"></app-nema-energy-efficiency-form>
      </div>
    </div>
  </div>
  <div class="col-6 calc-graph">
    <div class="card">
      <div class="card-block">
        <app-nema-energy-efficiency-graph [settings]="settings" [(nemaForm)]="nemaForm"></app-nema-energy-efficiency-graph>
      </div>
    </div>
  </div>
</div>