<!-- <div #coreContainer> -->
<app-update-toast *ngIf="showUpdateModal && info" (emitCloseToast)="hideUpdateToast()" [info]="info"></app-update-toast>
<div *ngIf="idbStarted">
    <div *ngIf="!hideTutorial" class="opening-tutorial">
        <app-opening-tutorial *ngIf="tutorialType == 'landing-screen'" (closeTutorial)="closeTutorial()">
        </app-opening-tutorial>
        <app-dashboard-tutorial *ngIf="tutorialType == 'dashboard-tutorial'" (closeTutorial)="closeTutorial()"
            [inTutorials]="inTutorialsView"></app-dashboard-tutorial>
    </div>

    <router-outlet></router-outlet>

    <div class="card survey-card hide-print" [@survey]="showSurvey" *ngIf="!destroySurvey">
        <div class="card-header text-center">
            We want your feedback!
            <button class="close pull-right" (click)="closeSurvey()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body p-2">
            <p class="hard-text">
                We thank you for using MEASUR as we build and improve. If you would like to help us in creating a
                quality tool for you and others, please use this
                <a (click)="closeSurvey()" href="https://www.surveymonkey.com/r/DOE-AMO-TOOLS" target="_blank">Survey
                    Monkey</a> to provide feedback.
            </p>
        </div>
        <div class="card-footer text-right p-2">
            <a class="click-link" (click)="disableSurvey()">Disable</a>
        </div>
    </div>

    <div class="card translate-card hide-print" [@translate]="showTranslate">
        <div class="card-header text-center">
            Translate Application
            <button class="close pull-right" (click)="closeTranslate()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body p-2 text-center">
            <div id="google_translate_element"></div>
            <p class="help-text small">
                The content of this application will be sent to Google for translation using a secure connection.
            </p>
            <p class="help-text small alert-warning">
                The content of the page will translate statically. Meaning, the results of calculations may not update
                on a page as you change the input data. To update the results you can click the "Show original" button
                and then re-translate or you can navigate away from the current page and return.
            </p>
        </div>
    </div>
</div>