
.list-group-item{
    font-size: 12px;
    padding: .25rem;
}

.list-group-item.active, .btn.active{
    color: white;
    background: #117A65;
}


.dropdown-menu.filter-menu{
    right: 0px;
    left: inherit;
}


.nav-item .dropdown-toggle{
    color: white;
    background: #117A65;
    border-radius: .25rem;
    text-align: center;
    font-size: 12px;
    padding: .25rem;
}

.tabs.subtabs.log-tool{
    border-bottom: none;
}
.navbar{
    padding: 0px;
    background: white;
    border-bottom: #117A65 solid 3px;
}