.assessment-item{
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid;
  border-width: 1px ;
  border-color: slategray;
}


a:not([href]):not([tabindex]):hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

a:not([href]):not([tabindex]){
  color: blue;
}

.last-updated {
  font-size: 13px;
  color: #999;
}

.fa-edit:hover{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.fa-edit{
  padding-top: 4px;
  font-size: larger;
}

.report-modal .modal-dialog{
  max-width: 100vw;
  margin: 10px;
  top: 0px;
}

.report-modal .modal-body{
  padding: 0px;
}

.list-row.psat{
  border-bottom: #2980b9 groove 6px;
  border-image: linear-gradient(to right,#F0F3F4, #2980b9) 80 / 2;
}

.list-row.phast{
  border-bottom: #BF3D00 groove 6px;
  border-image: linear-gradient(to right,#F0F3F4, #BF3D00) 80 / 2;
}