.assessment-item{
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid;
  border-width: 1px ;
  border-color: slategray;
}


a:not([href]):not([tabindex]):hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

a:not([href]):not([tabindex]){
  color: blue;
}

.last-updated {
  font-size: 13px;
  color: #999;
}

.fa-edit:hover{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.fa-edit{
  padding-top: 4px;
  font-size: larger;
}

.report-modal .modal-dialog{
  max-width: 100vw;
  margin: 10px;
  top: 0px;
}

.report-modal .modal-body{
  padding: 0px;
}

.list-row.psat{
  border-bottom: #2980b9 groove 6px;
  border-image: linear-gradient(to right,#F0F3F4, #2980b9) 80 / 2;
}

.list-row.phast{
  border-bottom: #BF3D00 groove 6px;
  border-image: linear-gradient(to right,#F0F3F4, #BF3D00) 80 / 2;
}
.list-row.fsat{
  border-bottom: #FFE400 groove 6px;
  border-image: linear-gradient(to right,#F0F3F4, #FFE400) 80 / 2;
}
.list-row.ssmt{
  border-bottom: #F39C12 groove 6px;
  border-image: linear-gradient(to right,#F0F3F4, #F39C12) 80 / 2;
}
.dropdown-menu.shown{
  display: grid;
  padding: 0px;
}

.dropdown-item{
  padding: .25rem;
  font-size: small;
}

.dropdown-toggle::after{
margin-left: 0;
}

.dropdown-toggle{
padding: 3px;
}

.psat .dropdown-toggle,
.psat .btn-primary{
background-color: #2980b9;
}


.phast .dropdown-toggle,
.phast .btn-primary{
background-color: #BF3D00;
}

.fsat .dropdown-toggle,
.fsat .btn-primary{
background-color: #FFE400;
}

.ssmt .dropdown-toggle,
.ssmt .btn-primary{
background-color: #F39C12;
}

.dropdown-menu.shown{
left: -160px;
background-color: #ececec;
}

.dropdown-item:hover{
cursor: pointer;
}

.modal-footer .btn{
padding: 6px
}


.icon-image{
  height: 20px;
}


.fsat .icon-image, .psat .icon-image{
  height: 26px;
}

.modal-body{
  max-height: 85vh;
  overflow: auto;
}