<div class="col-12" [hidden]="hideCard">
  <div class="card treasure-hunt-card" [ngClass]="{'not-selected': !opportunitySheet.selected}">
    <div class="card-body d-flex w-100 p-0 flex-wrap">
      <div class="col-1 col-item-br">
        <div class="row align-items-center h-100">
          <div class="col text-center">
            <app-animated-checkmark [active]="opportunitySheet.selected" (click)="toggleSelected()">
            </app-animated-checkmark>
          </div>
        </div>
      </div>
      <div class="col-4 col-item-br opportunity-name">
        <div class="row align-items-center h-100">
          <div class="col text-center">
            <img src="assets/images/calculator-icons/opportunity-sheet-icon.png" class="calc-icon">
            <a (click)="editOpportunitySheet()">
              <span *ngIf="!opportunitySheet.name">
                Opportunity Sheet #{{index+1}}
              </span>
              <span *ngIf="opportunitySheet.name">
                {{opportunitySheet.name}}
              </span>
            </a><br>
            <span>Annual Cost Savings: {{opportunityResults.totalCostSavings | currency:'USD'}}</span><br>
            <!--electricity-->
            <span *ngIf="opportunityResults.electricityResults.energySavings != 0">Electricity Savings:
              {{opportunityResults.electricityResults.energySavings | number:'1.0-0'}}
              kWh<br></span>
            <!--natural gas-->
            <span *ngIf="opportunityResults.gasResults.energySavings != 0">Natural Gas Savings:
              {{opportunityResults.gasResults.energySavings | number:'1.0-0'}}
              <span *ngIf="settings.unitsOfMeasure != 'Metric'">MMBtu/yr</span>
              <span *ngIf="settings.unitsOfMeasure == 'Metric'">MJ/yr</span><br></span>
            <!--compressed air-->
            <span *ngIf="opportunityResults.compressedAirResults.energySavings != 0">Compressed Air Savings:
              {{opportunityResults.compressedAirResults.energySavings | number:'1.0-0'}}
              <span *ngIf="settings.unitsOfMeasure != 'Metric'">SCF/yr</span>
              <span *ngIf="settings.unitsOfMeasure == 'Metric'">m<sup>3</sup>/yr</span><br></span>
            <!--other fuel-->
            <span *ngIf="opportunityResults.otherFuelResults.energySavings != 0">Other Fuel Savings:
              {{opportunityResults.gasResults.energySavings | number:'1.0-0'}}
              <span *ngIf="settings.unitsOfMeasure != 'Metric'">MMBtu/yr</span>
              <span *ngIf="settings.unitsOfMeasure == 'Metric'">MJ/yr</span><br></span>
            <!--steam-->
            <span *ngIf="opportunityResults.steamResults.energySavings != 0">Steam Savings:
              {{opportunityResults.gasResults.energySavings | number:'1.0-0'}}
              <span *ngIf="settings.unitsOfMeasure != 'Metric'">klb/yr</span>
              <span *ngIf="settings.unitsOfMeasure == 'Metric'">tonne/yr</span><br></span>
            <!--water-->
            <span *ngIf="opportunityResults.waterResults.energySavings != 0">Water Savings:
              {{opportunityResults.gasResults.energySavings | number:'1.0-0'}}
              <span *ngIf="settings.unitsOfMeasure != 'Metric'">L/yr</span>
              <span *ngIf="settings.unitsOfMeasure == 'Metric'">gal/yr</span><br></span>

            <!--waste water-->
            <span *ngIf="opportunityResults.wasteWaterResults.energySavings != 0">Waste Water Savings:
              {{opportunityResults.gasResults.energySavings | number:'1.0-0'}}
              <span *ngIf="settings.unitsOfMeasure != 'Metric'">L/yr</span>
              <span *ngIf="settings.unitsOfMeasure == 'Metric'">gal/yr</span><br></span>

          </div>
        </div>
      </div>
      <!--electricity--
      <div class="col-3 col-item-br text-center graph-col treasure-hunt-item" *ngIf="percentElectricitySavings != 0">
        <div class="large pt-2">Electricity Cost Savings</div>
        <app-treasure-hunt-gauge [value]="percentElectricitySavings" [chartHeight]="75"></app-treasure-hunt-gauge>
      </div>
      <!--natural gas--
      <div class="col-3 col-item-br text-center graph-col treasure-hunt-item" *ngIf="percentNaturalGasSavings != 0">
        <div class="large pt-2">Natural Gas Cost Savings</div>
        <app-treasure-hunt-gauge [value]="percentNaturalGasSavings" [chartHeight]="75"></app-treasure-hunt-gauge>
      </div>
      <!--compressed air--
      <div class="col-3 col-item-br text-center graph-col treasure-hunt-item" *ngIf="percentCompressedAirSavings != 0">
        <div class="large pt-2">Compressed Air Cost Savings</div>
        <app-treasure-hunt-gauge [value]="percentCompressedAirSavings" [chartHeight]="75"></app-treasure-hunt-gauge>
      </div>
      <!--other fuel--
      <div class="col-3 col-item-br text-center graph-col treasure-hunt-item" *ngIf="percentOtherFuelSavings != 0">
        <div class="large pt-2">Other Fuel Cost Savings</div>
        <app-treasure-hunt-gauge [value]="percentOtherFuelSavings" [chartHeight]="75"></app-treasure-hunt-gauge>
      </div>
      <!--steam--
      <div class="col-3 col-item-br text-center graph-col treasure-hunt-item" *ngIf="percentSteamSavings != 0">
        <div class="large pt-2">Steam Cost Savings</div>
        <app-treasure-hunt-gauge [value]="percentSteamSavings" [chartHeight]="75"></app-treasure-hunt-gauge>
      </div>
      <!--water--
      <div class="col-3 col-item-br text-center graph-col treasure-hunt-item" *ngIf="percentWaterSavings != 0">
        <div class="large pt-2">Water Cost Savings</div>
        <app-treasure-hunt-gauge [value]="percentWaterSavings" [chartHeight]="75"></app-treasure-hunt-gauge>
      </div>
      <!--waste water--
      <div class="col-3 col-item-br text-center graph-col treasure-hunt-item" *ngIf="percentWasteWaterSavings != 0">
        <div class="large pt-2">Waste Water Cost Savings</div>
        <app-treasure-hunt-gauge [value]="percentWasteWaterSavings" [chartHeight]="75"></app-treasure-hunt-gauge>
      </div>-->
      <div class="col-3 col-item-br">
        <div class="row align-items-center h-100">
          <div class="col text-center">
            <span class="large">&mdash; &mdash;</span>
          </div>
        </div>
      </div>
      <div class="col-2 col-item-br">
        <div class="row align-items-center h-100">
          <div class="col text-center">
            <span class="large">&mdash; &mdash;</span>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row align-items-center h-100">
          <div class="col text-center">
            <a class="click-link" (click)="editOpportunitySheet()">Edit Opportunity</a><br>
            <a class="click-link danger" (click)="deleteOpportunitySheet()">Delete</a><br>
            <!-- <a class="click-link" (click)="createCopy()">Create Copy</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>