
.sidebar{
    height: 100%;
    background: white;
    padding: .5rem;
}

label.group-label{
    font-size: 18px;
}

label.group-label:hover{
    cursor: pointer;
    background-color: #D5D8DC;
}

a:not([href]):not([tabindex]).danger.click-link{
    color: red;
}
