<div class="sidebar scroll-item h-100 pt-2" [ngClass]="{'collapse-sidebar': !showSidebar}">
    <div class="mx-2 pb-5">
        <div class="d-flex flex-row p-0 justify-content-end" (click)="toggleSidebar()">
            <span *ngIf="!showSidebar" class="fa fa-chevron-circle-right h5 pt-1 mb-0"></span>
            <span *ngIf="showSidebar" class="fa fa-chevron-circle-left h5 pt-1 mb-0"></span>
        </div>
        <div [ngClass]="{'collapse': !showSidebar}">
            <div class="mb-5">
                <label class="group-label w-100 fa-chevron" (click)="toggleUserGraphOptions()">
                    <span class="fa"
                    [ngClass]="{'fa-chevron-right': !showUserGraphOptions, 'fa-chevron-down': showUserGraphOptions}"></span>
                    Graph Options</label>
                    <ng-container *ngIf="showUserGraphOptions">
                        <app-graph-basics *ngIf="showGraphBasics"></app-graph-basics>
                        <app-bin-data
                        *ngIf="selectedGraphObj.data[0].type == 'bar' && ((showHistogramBins && !selectedGraphObj.useStandardDeviation) || (showGraphBasics && selectedGraphObj.useStandardDeviation))">
                    </app-bin-data>
                    <app-x-axis-data *ngIf="showXAxisOptions"></app-x-axis-data>
                    <app-y-axis-data *ngIf="showYAxisOptions"></app-y-axis-data>
                    <div class="mt-2 d-flex w-100 options-border"></div>
                    <a class="danger mt-1 click-link small pull-right" (click)="deleteGraph()" *ngIf="numberOfGraphs != 1">Delete
                        Graph</a>
                </ng-container>
            </div>

            <div class="d-flex w-100">
                <div class="d-flex flex-fill">
                    <label class="group-label toggle-label" (focus)="focusField('annotation')">
                        <div class="pull-left">
                            Manage Annotations
                        </div>
                        <span class="detail-tooltip-box" *ngIf="showTooltipHover || showTooltipClick" (mouseenter)="displayTooltipHover(true)"
                        (mouseleave)="hideTooltipHover()" (click)="toggleClickTooltip()">
                            <div class="detail-tooltip down"><span class="detail-tooltip-arrow tooltip-arrow-left"></span>
                                <div class="p-2">
                                    Create and manage annotations. 
                                    Toggle this feature off to increase graph performance on large datasets.
                                    <a class="click-link" (click)="visualizeService.displayAnnotationHelp()">Learn more</a>
                                </div>
                            </div>
                        </span>
                    </label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" (change)="toggleAnnotateGraph()"
                        [(ngModel)]="isGraphInteractive" name="isGraphInteractive" id="isGraphInteractive">
                    <label class="custom-control-label" for="isGraphInteractive"></label>
                    <span class="pull-right">
                        <span class="tooltip-icon fa fa-question-circle" (mouseenter)="displayTooltipHover()" (mouseleave)="hideTooltipHover()"
                            (click)="toggleClickTooltip()"></span>
                    </span>
                </div>
            </div>
            <div *ngIf="selectedGraphObj.graphInteractivity.showUserToggledPerformanceWarning" class="text-left alert alert-warning small mb-1 p-2 px-3">
                <b>Annotation management is on.</b> Toggle this feature off for faster graph performance.
                <a class="click-link" (click)="visualizeService.displayAnnotationHelp()">Learn More</a>
                <div class="d-flex flex-row justify-content-start mt-2">
                    <a class="click-link" (click)="dismissUserToggledPerformanceWarning()">Dismiss</a>
                </div>
            </div>
            <div *ngIf="selectedGraphObj.graphInteractivity.showDefaultPerformanceWarning" class="text-left alert alert-warning small mb-1 p-2 px-3">
                <b>Annotation management is off to increase graph performance.</b> Existing annotations will remain visible and will not affect performance. 
                <a class="click-link" (click)="visualizeService.displayAnnotationHelp()">Learn More</a>
                <div class="d-flex flex-row justify-content-start mt-2">
                    <a class="click-link" (click)="dismissPerformanceWarning()">Dismiss</a>
                </div>
            </div>
            <app-annotate-graph *ngIf="isGraphInteractive"></app-annotate-graph>
        </div>
    </div>
</div>