
.sidebar{
    height: 100%;
    background: white;
    padding: .5rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #117A65;
    background-color: #117A65;
}

.custom-control.custom-switch{
    border-bottom: #117A65 solid 2px
}

.custom-switch .custom-control-label::before,
.custom-switch .custom-control-label::after {
    cursor: pointer !important;
}


label {
    font-size: 18px; 
}


label.group-label.toggle-label {
    font-size: 18px; 
    display: inline-block;
    width: 100%;
}

label.group-label:hover, .checkbox:hover{
    background-color: #efefef;
    cursor: pointer;
}

label.group-label:hover{
    cursor: pointer;
    background-color: #D5D8DC;
}

a:not([href]):not([tabindex]).danger.click-link{
    color: red;
}


.sidebar{
    width: 325px;
}

.sidebar.collapse-sidebar{
    width: 50px;
}

.link-padding{
    padding-left: .2rem;
}


span.fa.fa-chevron-circle-left,
span.fa.fa-chevron-circle-right {
    cursor: pointer;
    color: #117A65;
}


.detail-tooltip {
    background-color: white;
    border-color: #117A65;
    color: black;
    left: 315px;
    z-index: 999;
    width: 300px;
    right: 0px;
}

.fa{
    font-size: larger;
    padding-top: 3px;
}


.options-border {
    border-bottom: #117A65 solid 2px;
}



