.phast-tab-row{
  border-bottom: groove;
  border-bottom-color: slategrey;
}

.phast-tab{
  text-align: center;
    width: 10vw;
}

.phast-tab-active{
  border-bottom: solid;
  border-bottom-color: deepskyblue;
  border-bottom-width: 3px;
}

.right-border{
  border-right: groove;
  border-right-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
