<div class="checkbox" *ngIf="!isVFD">
    <label class="group-label" for="modifyFlowRate">
        <input type="checkbox" id="modifyFlowRate" (focus)="focusField('flowRate')" (change)="toggleFlowRate()"
            [disabled]="fsat.modifications[exploreModIndex].fsat.whatIfScenario == false"
            [(ngModel)]="fsat.modifications[exploreModIndex].exploreOppsShowFlowRate.hasOpportunity" />
        {{ fsat.modifications[exploreModIndex].exploreOppsShowFlowRate.display}}
    </label>
</div>
<li *ngIf="fsat.modifications[exploreModIndex].exploreOppsShowFlowRate.hasOpportunity && !isVFD" class="explore-opps-item">
    <form [formGroup]="baselineForm" class="explore-opps-form">
        <div class="form-group explore-opps-formgroup" [ngClass]="{'invalid': baselineForm.controls.flowRate.invalid}">
            <label for="baselineFlowRate" class="baseline-value-label">Baseline Flow Rate</label>
            <div class="text-muted baseline-value-input">{{ baselineForm.controls.flowRate.value | number: '1.0-0' }} 
                <span [innerHTML]="settings.fanFlowRate | settingsLabel"></span>
            </div>
            <span class="alert-danger pull-right small"
            *ngIf="baselineForm.controls.flowRate.invalid && !baselineForm.controls.flowRate.pristine">
            <span *ngIf="baselineForm.controls.flowRate.errors.required">Value Required</span>
            <span *ngIf="baselineForm.controls.flowRate.errors.min">Value can't be less than
                {{baselineForm.controls.flowRate.errors.min.min}} <span
                    [innerHTML]="settings.fanFlowRate | settingsLabel"></span></span>
        </span>
        </div>
    </form>
    <form [formGroup]="modificationForm" class="explore-opps-form">
        <div class="form-group explore-opps-formgroup" [ngClass]="{'invalid':modificationForm.controls.flowRate.invalid }">
            <label for="modificationFlowRate" class="mod-value-label">Modification Flow Rate
                <!-- <a class="form-text small click-link" (click)="showAmcaModal()">Calculate
                    Flow Rate and Pressures</a> -->
            </label>
            <div class="input-group mod-max-width">
                <input name="modificationFlowRate" type="number" step="any" id="modificationFlowRate"
                    class="form-control" (focus)="focusField('flowRate')" formControlName="flowRate"
                    (input)="calculate()" />
                <span class="input-group-addon units" [innerHTML]="settings.fanFlowRate | settingsLabel"></span>
                <!--<span class="input-group-addon units">{{settings.fanFlowRate}}</span>-->
            </div>
            <span class="alert-danger pull-right small"
                *ngIf="modificationForm.controls.flowRate.invalid && !modificationForm.controls.flowRate.pristine">
                <span *ngIf="modificationForm.controls.flowRate.errors.required">Value Required</span>
                <span *ngIf="modificationForm.controls.flowRate.errors.min">Value can't be less than
                    {{modificationForm.controls.flowRate.errors.min.min}} <span
                        [innerHTML]="settings.fanFlowRate | settingsLabel"></span></span>
            </span>
        </div>
    </form>
</li>

<div class="checkbox" *ngIf="!isVFD">
    <label class="group-label" for="modifyPressure">
        <input type="checkbox" id="modifyPressure" (focus)="focusField('inletPressure')" (change)="togglePressure()"
            [disabled]="fsat.modifications[exploreModIndex].fsat.whatIfScenario == false"
            [(ngModel)]="fsat.modifications[exploreModIndex].exploreOppsShowReducePressure.hasOpportunity" />
        {{fsat.modifications[exploreModIndex].exploreOppsShowReducePressure.display}}
    </label>
</div>
<li *ngIf="fsat.modifications[exploreModIndex].exploreOppsShowReducePressure.hasOpportunity && !isVFD" class="explore-opps-item">
    <form [formGroup]="baselineForm" class="explore-opps-form">
        <div class="form-group explore-opps-formgroup" [ngClass]="{'invalid': baselineForm.controls.inletPressure.invalid}">
            <label for="baselinePressure" class="baseline-value-label">Baseline Inlet Pressure</label>
            <div class="text-muted baseline-value-input">{{ baselineForm.controls.inletPressure.value }} 
                <span [innerHTML]="settings.fanPressureMeasurement | settingsLabel"></span>
            </div>
            
            <span class="alert-danger pull-right small"
                *ngIf="baselineForm.controls.inletPressure.invalid && !baselineForm.controls.inletPressure.pristine">
                <span *ngIf="baselineForm.controls.inletPressure.errors.required">Value Required</span>
            </span>
        </div>

    </form>
    <form [formGroup]="modificationForm" class="explore-opps-form">
        <div class="form-group explore-opps-formgroup" [ngClass]="{'invalid': modificationForm.controls.inletPressure.invalid}">
            <label for="modificationInletPressure" class="mod-value-label">Modification Inlet Pressure
            </label>
            <div class="input-group mod-max-width">
                <input name="modificationInletPressure" type="number" step="any" id="modificationInletPressure"
                class="form-control mod-value-input" (focus)="focusField('inletPressure')" (input)="calculate()"
                formControlName="inletPressure" />
                <span class="input-group-addon units"
                [innerHTML]="settings.fanPressureMeasurement | settingsLabel"></span>
            </div>
            <a class="form-text small click-link" (click)="showInletPressureModal()">Estimate
                Inlet Pressure</a>
            <span class="alert-danger pull-right small"
                *ngIf="modificationForm.controls.inletPressure.invalid && !modificationForm.controls.inletPressure.pristine">
                <span *ngIf="modificationForm.controls.inletPressure.errors.required">Value Required</span>
            </span>
        </div>
    </form>
</li>
<li *ngIf="fsat.modifications[exploreModIndex].exploreOppsShowReducePressure.hasOpportunity && !isVFD" class="explore-opps-item">
    <form [formGroup]="baselineForm" class="explore-opps-form">
        <div class="form-group explore-opps-formgroup"
            [ngClass]="{'error': baselineWarnings.outletPressureError !== null, 'invalid': baselineForm.controls.outletPressure.invalid}">
            <label for="baselineOutletPressure" class="baseline-value-label">Baseline Outlet Pressure</label>
            <div class="text-muted baseline-value-input">{{ baselineForm.controls.outletPressure.value }} 
                <span [innerHTML]="settings.fanPressureMeasurement | settingsLabel"></span>
            </div>

            <span class="alert-danger pull-right small"
                *ngIf="baselineForm.controls.outletPressure.invalid && !baselineForm.controls.outletPressure.pristine">
                <span *ngIf="baselineForm.controls.outletPressure.errors.required">Value Required</span>
            </span>
            <span class="alert-warning pull-right small"
                *ngIf="baselineWarnings.outletPressureError !== null && !baselineForm.controls.outletPressure.pristine && !baselineForm.controls.outletPressure.invalid">
                {{baselineWarnings.outletPressureError}} <span
                    [innerHTML]="settings.fanPressureMeasurement | settingsLabel"></span>
            </span>
        </div>
    </form>
    <form [formGroup]="modificationForm" class="explore-opps-form">
        <div class="form-group explore-opps-formgroup"
            [ngClass]="{'error': modificationWarnings.outletPressureError !== null, 'invalid': modificationForm.controls.outletPressure.invalid}">
            <label for="modificationOutletPressure" class="mod-value-label">Modification Outlet Pressure
            </label>
            <div class="input-group mod-max-width">
                <input name="modificationOutletPressure" type="number" step="any" id="modificationOutletPressure"
                    class="form-control mod-value-input" (focus)="focusField('outletPressure')" (input)="calculate()"
                    formControlName="outletPressure" />
                <span class="input-group-addon units"
                    [innerHTML]="settings.fanPressureMeasurement | settingsLabel"></span>
            </div>
            <a class="form-text small click-link" (click)="showOutletPressureModal()">Estimate
                Outlet Pressure</a>
            <span class="alert-danger pull-right small"
                *ngIf="modificationForm.controls.outletPressure.invalid && !modificationForm.controls.outletPressure.pristine">
                <span *ngIf="modificationForm.controls.outletPressure.errors.required">Value Required</span>
                <span *ngIf="modificationForm.controls.outletPressure.errors.min">Outlet pressure is usually not less than zero</span>
            </span>
        </div>
    </form>
</li>




<div class="checkbox" #formElement>
    <label class="group-label" for="showSystemData">
        <input type="checkbox" id="showSystemData" (focus)="focusField('cost')" (change)="toggleSystemData()"
            [disabled]="fsat.modifications[exploreModIndex].fsat.whatIfScenario == false"
            [(ngModel)]="fsat.modifications[exploreModIndex].exploreOppsShowOpData.hasOpportunity" />
        Adjust Operational Data
    </label>
</div>
<li *ngIf="fsat.modifications[exploreModIndex].exploreOppsShowOpData.hasOpportunity" class="explore-opps-item">
    <form [formGroup]="baselineOperationsForm" class="explore-opps-form">
        <div class="form-group explore-opps-formgroup"
            [ngClass]="{'error': baselineOperationsWarnings.costError !== null, 'invalid':baselineOperationsForm.controls.cost.invalid}">
            <label for="baselineCost" class="baseline-value-label">Baseline Cost</label>
            <div class="text-muted baseline-value-input">{{ baselineOperationsForm.controls.cost.value }}</div>
            <span class="alert-danger pull-right small"
                *ngIf="baselineOperationsForm.controls.cost.invalid && !baselineOperationsForm.controls.cost.pristine">
                <span *ngIf="baselineOperationsForm.controls.cost.errors.required">Value Required</span>
                <span *ngIf="baselineOperationsForm.controls.cost.errors.min">Value can't be less than
                    {{baselineOperationsForm.controls.cost.errors.min.min}} $/kWh.</span>
            </span>
            <span class="alert-warning pull-right small"
                *ngIf="baselineOperationsWarnings.costError !== null && !baselineOperationsForm.controls.cost.pristine && !baselineOperationsForm.controls.cost.invalid">
                {{baselineOperationsWarnings.costError}} $/kWh.</span>
        </div>
    </form>
    <form [formGroup]="modificationOperationsForm" class="explore-opps-form">
        <div class="form-group explore-opps-formgroup"
            [ngClass]="{'error': modificationOperationsWarnings.costError !== null, 'invalid':modificationOperationsForm.controls.cost.invalid }">
            <label for="modificationCost" class="mod-value-label">Modification Cost</label>
            <div class="input-group mod-max-width">
                <input name="modificationCost" type="number" step="0.01" min="0" id="modificationCost"
                    class="form-control mod-value-input" (focus)="focusField('cost')" formControlName="cost" (input)="calculate()" />
                <span class="input-group-addon units">$/kWh</span>
            </div>
            <span class="alert-danger pull-right small"
                *ngIf="modificationOperationsForm.controls.cost.invalid && !modificationOperationsForm.controls.cost.pristine">
                <span *ngIf="modificationOperationsForm.controls.cost.errors.required">Value Required</span>
                <span *ngIf="modificationOperationsForm.controls.cost.errors.min">Value can't be less than
                    {{modificationOperationsForm.controls.cost.errors.min.min}} $/kWh.</span>
            </span>
            <span class="alert-warning pull-right small"
                *ngIf="modificationOperationsWarnings.costError !== null && !modificationOperationsForm.controls.cost.pristine && !modificationOperationsForm.controls.cost.invalid">
                {{modificationOperationsWarnings.costError}} $/kWh.</span>
        </div>
    </form>
</li>
<li *ngIf="fsat.modifications[exploreModIndex].exploreOppsShowOpData.hasOpportunity" class="explore-opps-item">
    <form [formGroup]="baselineOperationsForm" class="explore-opps-form">
        <div class="form-group explore-opps-formgroup" [ngClass]="{'invalid': baselineOperationsForm.controls.operatingHours.invalid}">
            <label for="baselineOperatingHours" class="baseline-value-label">Baseline Operating Hours</label>
            <div class="text-muted baseline-value-input">{{ baselineOperationsForm.controls.operatingHours.value | number: '1.0-0' }} hrs/yr</div>
            <span class="alert-danger pull-right small"
                *ngIf="baselineOperationsForm.controls.operatingHours.invalid && !baselineOperationsForm.controls.operatingHours.pristine">
                <span *ngIf="baselineOperationsForm.controls.operatingHours.errors.required">Value Required</span>
                <span *ngIf="baselineOperationsForm.controls.operatingHours.errors.max">Value can't be greater than
                    {{baselineOperationsForm.controls.operatingHours.errors.max.max}} hrs/yr.</span>
                <span *ngIf="baselineOperationsForm.controls.operatingHours.errors.min">Value can't be less than
                    {{baselineOperationsForm.controls.operatingHours.errors.min.min}} hrs/yr.</span>
            </span>
        </div>
    </form>
    <form [formGroup]="modificationOperationsForm" class="explore-opps-form">
        <div class="form-group explore-opps-formgroup" [ngClass]="{'invalid': modificationOperationsForm.controls.operatingHours.invalid}">
            <label for="modificationOperatingHours" class="mod-value-label">Modification Operating Hours</label>
            <div class="input-group mod-max-width">
                <span class="input-group-addon op-hour-addon units">
                    <a class="click-link" (click)="openOperatingHoursModal()"><span class="fa fa-calculator"></span></a>
                </span>
                <input name="modificationOperatingHours" type="number" step="1" min="0" max="8760"
                    id="modificationOperatingHours" class="form-control mod-value-input" (focus)="focusField('operatingHours')"
                    (input)="calculate()" formControlName="operatingHours" />
                <span class="input-group-addon units">hrs/yr</span>
            </div>
            <span class="alert-danger pull-right small"
                *ngIf="modificationOperationsForm.controls.operatingHours.invalid && !modificationOperationsForm.controls.operatingHours.pristine">
                <span *ngIf="modificationOperationsForm.controls.operatingHours.errors.required">Value Required</span>
                <span *ngIf="modificationOperationsForm.controls.operatingHours.errors.max">Value can't be greater than
                    {{modificationOperationsForm.controls.operatingHours.errors.max.max}} hrs/yr.</span>
                <span *ngIf="modificationOperationsForm.controls.operatingHours.errors.min">Value can't be less than
                    {{modificationOperationsForm.controls.operatingHours.errors.min.min}} hrs/yr.</span>
            </span>
        </div>
    </form>
</li>

<app-operating-hours-modal *ngIf="showOperatingHoursModal" (emitClose)="closeOperatingHoursModal()"
    (emitSave)="updateOperatingHours($event)" [width]="formWidth" [showMinutesSeconds]="false"
    [operatingHours]="fsat.modifications[exploreModIndex].fsat.operatingHours">
</app-operating-hours-modal>