/* .output-summary .table {
    font-size: small;
}

.output-summary .table th {
    border: none;
    padding: 0px 10px;
}

.output-summary .table td {
    padding: 2px 8px;
    vertical-align: middle;
}

tr>td {
    text-align: center;
}

.table-header {
    font-weight: bold;
} */

.table {
    font-size: small;
    width: 100%;
}

.table td {
    padding: 2px 8px;
    vertical-align: middle;
}

tr > td:not(:first-child),
tr > th:not(:first-child){
    text-align: center;
}

.table-header-row{
    background-color: rgba(0, 0, 0, 0.12);
}

.table-header-row td:hover {
    cursor: pointer;
    text-decoration: underline;
}

.table-header-row td.active {
    text-decoration: underline;
}

/* @media print {
    .output-summary.table {
        height: 100%;
        width: 100%;
    }
    .show-print {
        display: inline !important;
    }
    .hide-print {
        display: none !important;
    }
    .chart-row {
        padding: 0px !important;
    }
    .break-table {
        page-break-after: always;
    }
} */


.selected-opportunity {
    z-index: 2;
    background: #e5efe9 !important;
}