.pump-fluid-container{
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10%;
}

.num-input{
  width: 25%;
}

.incrementor-input-field{
    margin-right: 45%;
}
.number-input-field{
    width: 35%;
}


.select-input-field{
    width: 90%;
}