<div class="checkbox">
  <label class="group-label" for="exploreLeakage">
    <input type="checkbox" id="exploreLeakage" value="true" (focus)="focusField('openingArea')" (change)="toggleLeakage()" 
    [(ngModel)]="phast.modifications[exploreModIndex].exploreOppsShowLeakage.hasOpportunity"
    /> 
    {{phast.modifications[exploreModIndex].exploreOppsShowLeakage.display}}
  </label>
</div>

<div *ngIf="phast.modifications[exploreModIndex].exploreOppsShowLeakage.hasOpportunity">
  <ul *ngFor="let loss of phast.losses.leakageLosses; let index = index">
    <li class="explore-opps-item">
      <div class="checkbox form-group mt-2">
        <label for="{{'modifyPressure_'+index}}" class="w-100 phast-check-label">
          <input type="checkbox" id="{{'modifyPressure_'+index}}" (focus)="focusField('draftPressure')" (change)="togglePressure(index, loss.draftPressure)"
            [(ngModel)]="showPressure[index]" /> Modify Furnace Draft Pressure:
            <span class="text-muted">
              {{ loss.name}}
            </span>
        </label>
      </div>
    </li>
    <hr class="mt-0 mb-0">

  <div *ngIf="showPressure[index]">
    <li class="explore-opps-header">
      <span class="explore-opps-title text-muted">Baseline</span>
      <span class="explore-opps-title text-muted">Modifications</span>
    </li>
    <li class="explore-opps-item mb-2">
      <form class="explore-opps-form">
        <div class="text-center">
          <label class="small" for="draftPressure" class="baseline-value-label">Draft Pressure</label>
          <div class="text-muted text-center baseline-value-input ">{{ loss.draftPressure }}
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'">in. H
              <sub>2</sub>O</span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'">Pa</span>
          </div>
       </div>
        </form>

        <form class="explore-opps-form">
        <div class="form-group explore-opps-formgroup">
          <label class="small" for="{{'draftPressureMod_'+index}}" class="mod-value-label">Draft Pressure</label>
          <div class="input-group mod-max-width">
            <input name="{{'draftPressureMod_'+index}}" type="number" step="any" min="0" class="form-control" [(ngModel)]="phast.modifications[exploreModIndex].phast.losses.leakageLosses[index].draftPressure"
              id="{{'draftPressureMod_'+index}}" onfocus="this.select();" (input)="checkModificationWarnings(index)"
              (focus)="focusField('draftPressure')" (blur)="focusOut()">
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">in. H
              <sub>2</sub>O</span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">Pa</span>
          </div>
        </div>
      </form>
    </li>
  </div>

    <li class="explore-opps-item">
      <div class="checkbox form-group mt-2">
        <label for="{{'modifyLeakage_'+index}}" class="w-100 phast-check-label">
          <input type="checkbox" id="{{'modifyLeakage_'+index}}" (focus)="focusField('openingArea')" (change)="toggleOpening(index, loss.openingArea)"
            [(ngModel)]="showOpening[index]" /> Modify Opening Area: 
            <span class="text-muted">
              {{ loss.name}}
            </span>
          </label>
      </div>
    </li>
    <hr class="mt-0 mb-0">
    
    <div *ngIf="showOpening[index]">
      <li class="explore-opps-header">
        <span class="explore-opps-title text-muted">Baseline</span>
        <span class="explore-opps-title text-muted">Modifications</span>
      </li>
    <li class="explore-opps-item mb-2">
      <form class="explore-opps-form">
        <div class="text-center">
          <label class="small" for="{{'openingArea_'+index}}" class="baseline-value-label">Opening Area</label>
          <div class="text-muted text-center baseline-value-input ">{{ loss.openingArea }}
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'">
              <span>ft
                <sup>2</sup>
              </span>
            </span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'">
              <span>m
                <sup>2</sup>
              </span>
            </span>
          </div>
          <span class="alert-warning pull-right small" *ngIf="baselineWarnings[index].openingAreaWarning !== null">{{baselineWarnings[index].openingAreaWarning}}</span>

        </div>
        </form>

        <form class="explore-opps-form">
        <div class="form-group explore-opps-formgroup">
          <label class="small" for="{{'openingAreaMod_'+index}}" class="mod-value-label">Opening Area</label>
          <div class="input-group mod-max-width">
            <input name="{{'openingAreaMod_'+index}}" type="number" step="any" min="0" class="form-control" [(ngModel)]="phast.modifications[exploreModIndex].phast.losses.leakageLosses[index].openingArea"
              id="{{'openingAreaMod_'+index}}" onfocus="this.select();" (input)="checkModificationWarnings(index)"
              (focus)="focusField('openingArea')" (blur)="focusOut()">
            <span *ngIf="settings.unitsOfMeasure == 'Imperial'" class="input-group-addon units">
              <span>ft
                <sup>2</sup>
              </span>
            </span>
            <span *ngIf="settings.unitsOfMeasure == 'Metric'" class="input-group-addon units">
              <span>m
                <sup>2</sup>
              </span>
            </span>
          </div>
          <span class="alert-warning pull-right small" *ngIf="modificationWarnings[index].openingAreaWarning !== null">{{modificationWarnings[index].openingAreaWarning}}</span>
        </div>
      </form>
    </li>
  </div>

  </ul>
</div>