<div *ngIf="!printView && assessmentType == 'phast'">
  <div class="phast-rollup bar-chart-container chart-container">
    <div class="phast-rollup-bar-chart" id="rollup-bar-chart">

    </div>
  </div>
</div>

<div *ngIf="printView && assessmentType == 'phast'">
  <div class="phast-rollup bar-chart-container chart-container">
    <div class="print-phast-rollup-bar-chart" id="print-rollup-bar-chart">

    </div>
  </div>
</div>


<div *ngIf="!printView && assessmentType == 'psat'">
  <div class="psat-rollup bar-chart-container chart-container">
    <div class="psat-rollup-bar-chart" id="rollup-bar-chart">
    </div>
  </div>
</div>

<div *ngIf="printView && assessmentType == 'psat'">
  <div class="psat-rollup bar-chart-container chart-container">
    <div class="print-psat-rollup-bar-chart" id="print-rollup-bar-chart">

    </div>
  </div>
</div>