@if (!isVFD) {
  <div class="checkbox">
    <label class="group-label" for="modifyMotorDrive">
      <input
        type="checkbox"
        id="modifyMotorDrive"
        (focus)="focusField('drive')"
        (change)="toggleMotorDrive()"
        [(ngModel)]="psat.modifications[exploreModIndex].exploreOppsShowMotorDrive.hasOpportunity"
        [disabled]="psat.modifications[exploreModIndex].psat.inputs.whatIfScenario == false"
        />
        {{psat.modifications[exploreModIndex].exploreOppsShowMotorDrive.display}}
      </label>
    </div>
  }
  <!--Motor Drive-->
  @if (psat.modifications[exploreModIndex].exploreOppsShowMotorDrive.hasOpportunity || isVFD) {
    <li class="explore-opps-item">
      <!--Baseline Motor Drive-->
      <form [formGroup]="baselineForm" class="explore-opps-form">
        <!--drive-->
        <div class="text-center">
          <label for="baselineMotorDrive" class="baseline-value-label">
            @if (!isVFD) {
              <span>
                Baseline
              </span>
            } Motor Drive</label>
            <div class="text-muted text-center baseline-value-input">{{ drives[baselineForm.value.drive].display}}</div>
          </div>
          <!--specifiedDriveEfficiency-->
          @if (baselineForm.controls.drive.value == 4) {
            <div
              class="form-group"
      [ngClass]="{
        invalid: baselineForm.controls.specifiedDriveEfficiency.invalid
      }"
              >
              <label for="baselineSpecifiedDriveEfficiency"
                >Baseline Drive Efficiency</label
                >
                <div class="input-group">
                  <input
                    type="number"
                    name="baselineSpecifiedDriveEfficiency"
                    step="any"
                    class="form-control"
                    formControlName="specifiedDriveEfficiency"
                    (input)="calculate()"
                    (focus)="focusField('specifiedDriveEfficiency')"
                    />
                    <span class="input-group-addon units">%</span>
                  </div>
                  @if (
                    baselineForm.controls.specifiedDriveEfficiency.invalid &&
                    !baselineForm.controls.specifiedDriveEfficiency.pristine
                    ) {
                    <span
                      class="alert-danger pull-right small"
                      >
                      @if (baselineForm.controls.specifiedDriveEfficiency.errors.required) {
                        <span
                          >Value Required</span
                          >
                      }
                      @if (baselineForm.controls.specifiedDriveEfficiency.errors.max) {
                        <span
                          >Value can't be greater than
                          {{
                          baselineForm.controls.specifiedDriveEfficiency.errors.max.max
                          }}
                          %.</span
                          >
                        }
                        @if (baselineForm.controls.specifiedDriveEfficiency.errors.min) {
                          <span
                            >Value can't be less than
                            {{
                            baselineForm.controls.specifiedDriveEfficiency.errors.min.min
                            }}
                            %.</span
                            >
                          }
                        </span>
                      }
                    </div>
                  }
                </form>
                <!--Modification Motor Drive-->
                <form [formGroup]="modificationForm" class="explore-opps-form">
                  <!--drive-->
                  @if (!isVFD) {
                    <div class="form-group explore-opps-formgroup">
                      <label for="modificationMotorDrive"
                      class="mod-value-label">Modification Motor Drive</label>
                      <select
                        class="form-control w-100 mod-max-width"
                        name="modificationMotorDrive"
                        id="modificationMotorDrive"
                        (change)="setMotorDrive()"
                        (focus)="focusField('drive')"
                        formControlName="drive"
                        >
                        @for (drive of drives; track drive) {
                          <option [ngValue]="drive.value">{{
                            drive.display
                          }}</option>
                        }
                      </select>
                    </div>
                  }
                  <!--specifiedDriveEfficiency-->
                  @if (modificationForm.controls.drive.value == 4) {
                    <div
                      class="form-group explore-opps-formgroup"
      [ngClass]="{
        invalid: modificationForm.controls.specifiedDriveEfficiency.invalid
      }"
                      >
                      <label for="modificationSpecifiedDriveEfficiency" class="mod-value-label"
                        >
                        @if (!isVFD) {
                          <span>
                            Modification
                          </span>
                        }
                        Drive Efficiency</label
                        >
                        <div class="input-group mod-max-width">
                          <input
                            type="number"
                            name="modificationSpecifiedDriveEfficiency"
                            step="any"
                            class="form-control"
                            formControlName="specifiedDriveEfficiency"
                            id="modificationSpecifiedDriveEfficiency"
                            (input)="calculate()"
                            (focus)="focusField('specifiedDriveEfficiency')"
                            />
                            <span class="input-group-addon units">%</span>
                          </div>
                          @if (
                            modificationForm.controls.specifiedDriveEfficiency.invalid &&
                            !modificationForm.controls.specifiedDriveEfficiency.pristine
                            ) {
                            <span
                              class="alert-danger pull-right small"
                              >
                              @if (
                                modificationForm.controls.specifiedDriveEfficiency.errors.required
                                ) {
                                <span
                                  >Value Required</span
                                  >
                              }
                              @if (modificationForm.controls.specifiedDriveEfficiency.errors.max) {
                                <span
                                  >Value can't be greater than
                                  {{
                                  modificationForm.controls.specifiedDriveEfficiency.errors.max.max
                                  }}
                                  %.</span
                                  >
                                }
                                @if (modificationForm.controls.specifiedDriveEfficiency.errors.min) {
                                  <span
                                    >Value can't be less than
                                    {{
                                    modificationForm.controls.specifiedDriveEfficiency.errors.min.min
                                    }}
                                    %.</span
                                    >
                                  }
                                </span>
                              }
                            </div>
                          }
                        </form>
                      </li>
                    }
                    @if (!isVFD) {
                      <div class="checkbox">
                        <label class="group-label" for="modifyPumpType">
                          <input
                            type="checkbox"
                            id="modifyPumpType"
                            (focus)="focusField('pumpType')"
                            (change)="togglePumpType()"
                            [(ngModel)]="psat.modifications[exploreModIndex].exploreOppsShowPumpType.hasOpportunity"
                            [disabled]="psat.modifications[exploreModIndex].psat.inputs.whatIfScenario == false"
                            />
                            {{psat.modifications[exploreModIndex].exploreOppsShowPumpType.display}}
                          </label>
                        </div>
                      }
                      <!-- <ul> -->
                      <!--Pump Type-->
                      @if (psat.modifications[exploreModIndex].exploreOppsShowPumpType.hasOpportunity || isVFD) {
                        <li class="explore-opps-item">
                          <!--Baseline Pump Type (cannot be specified)-->
                          <form [formGroup]="baselineForm" class="explore-opps-form">
                            <div class="text-center">
                              <label for="baselinePumpType">
                                @if (!isVFD) {
                                  <span>
                                    Baseline
                                  </span>
                                }
                              Pump Type</label>
                              <div class="text-muted baseline-value-input">{{ pumpTypes[baselineForm.value.pumpType].display}}</div>
                            </div>
                          </form>
                          <!--Modification Pump Type-->
                          <form [formGroup]="modificationForm" class="explore-opps-form">
                            <!--pumpType-->
                            @if (modificationForm.controls.pumpType.value != 11) {
                              <div
                                class="form-group explore-opps-formgroup"
                                >
                                <label for="modificationPumpType"
                                  class="mod-value-label">
                                  @if (!isVFD) {
                                    <span>
                                      Modification
                                    </span>
                                  } Pump Type</label>
                                  <select
                                    class="form-control w-75 ml-auto mr-auto"
                                    name="modificationPumpType"
                                    id="modificationPumpType"
                                    (change)="setPumpTypes()"
                                    (focus)="focusField('pumpType')"
                                    formControlName="pumpType"
                                    >
                                    @for (pumpType of pumpTypes; track pumpType) {
                                      <option [ngValue]="pumpType.value">{{
                                        pumpType.display
                                      }}</option>
                                    }
                                  </select>
                                </div>
                              }
                              <!--specifiedPumpEfficiency-->
                              <div
                                class="form-group explore-opps-formgroup"
      [ngClass]="{
        invalid: modificationForm.controls.specifiedPumpEfficiency.invalid
      }"
                                >
                                <div class="d-flex mod-max-width" [ngClass]="{'flex-wrap justify-content-center': modificationForm.controls.pumpType.value == 11}">
                                  <div>
                                    <label id="pumpTypeHelp" class="d-flex flex-column mod-eff-label" for="modificationPumpSpecifiedEfficiency">
                                      @if (!isVFD) {
                                        <span>
                                          Modification
                                        </span>
                                      }
                                      Pump Efficiency
                                      @if (modificationForm.controls.pumpType.value == 11) {
                                        <a
                                          class="form-text small click-link"
                                          id="pumpTypeHelp"
                                          (click)="enablePumpType()"
                                          >Optimize Pump</a
                                          >
                                      }
                                      @if (modificationForm.controls.pumpType.value != 11) {
                                        <a
                                          class="form-text small click-link"
                                          id="pumpTypeHelp"
                                          (click)="disablePumpType()"
                                          >Known Efficiency</a
                                          >
                                        }
                                      </label>
                                    </div>
                                    @if (modificationForm.controls.pumpType.value == 11) {
                                      <div class="input-group mt-1 pl-1 pr-1">
                                        <input
                                          name="modificationPumpSpecifiedEfficiency"
                                          type="number"
                                          step="any"
                                          id="modificationPumpSpecifiedEfficiency"
                                          class="form-control"
                                          (focus)="focusField('pumpSpecified')"
                                          (input)="calculate()"
                                          formControlName="specifiedPumpEfficiency"
                                          />
                                          <span class="input-group-addon units">%</span>
                                        </div>
                                      }
                                      @if (modificationForm.controls.pumpType.value != 11) {
                                        <div class="small text-center pl-4 flex-shrink-0">
                                          {{
                                          modificationForm.controls.specifiedPumpEfficiency.value
                                          | number: "1.0-2"
                                          }}
                                          %
                                        </div>
                                      }
                                    </div>
                                    @if (
                                      modificationForm.controls.specifiedPumpEfficiency.invalid &&
                                      !modificationForm.controls.specifiedPumpEfficiency.pristine
                                      ) {
                                      <span
                                        class="alert-danger pull-right small"
                                        >
                                        @if (
                                          modificationForm.controls.specifiedPumpEfficiency.errors.required
                                          ) {
                                          <span
                                            >Value Required</span
                                            >
                                        }
                                        @if (modificationForm.controls.specifiedPumpEfficiency.errors.max) {
                                          <span
                                            >Value can't be greater than
                                            {{
                                            modificationForm.controls.specifiedPumpEfficiency.errors.max.max
                                            }}
                                            %.</span
                                            >
                                          }
                                          @if (modificationForm.controls.specifiedPumpEfficiency.errors.min) {
                                            <span
                                              >Value can't be less than
                                              {{
                                              modificationForm.controls.specifiedPumpEfficiency.errors.min.min
                                              }}
                                              %.</span
                                              >
                                            }
                                          </span>
                                        }
                                      </div>
                                    </form>
                                  </li>
                                }
                                @if (psat.modifications[exploreModIndex].exploreOppsShowPumpType.hasOpportunity || isVFD) {
                                  <div>
                                    @if (modificationForm.controls.pumpType.value == 11) {
                                      <div
                                        class="text-center small help-text mt-2"
                                        >
                                        The efficiency of your pump has been calculated based on your baseline.
                                        Either directly modify your efficiency or click
                                        <strong>"Optimize Pump"</strong> to estimate your pump efficiency based on
                                        a different pump type.
                                      </div>
                                    }
                                    @if (modificationForm.controls.pumpType.value != 11) {
                                      <div
                                        class="text-center small help-text mt-2"
                                        >
                                        The efficiency of your pump has been calculated based on your
                                        <strong>flow rate</strong> and selected <strong>pump type</strong>. Click
                                        <strong>"Known Efficiency"</strong>
                                        to use the efficiency calculated by your baseline.
                                      </div>
                                    }
                                  </div>
                                }

